[2019-01-09 13:18] steveward commented on #2213
@maheshdadhich12 could you upload the log file from GitHub Desktop? That should provide the specific path to the large file that is causing the push operation to fail.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Finder (macOS) or Explorer (Windows)`.

The log files are created daily -- please upload a log file as an attachment from a day where y

[2019-01-09 13:22] steveward commented on #6488
@gabbiano69 you can find steps to configure your proxy in GitHub Desktop in https://github.com/desktop/desktop/issues/2789#issuecomment-330751117. Let me know if you have any issues with that.

If you just need to download that repository as a zip you can go to the repository's page and click the green `Clone or download` button and select `Download zip`.

[2019-01-09 13:35] steveward commented on #6560
Thanks for reaching out @COXPL! I've edited your comment to remove the repeated errors since it made the issue less readable. It would be helpful if you could fill out the template and upload a log file from GitHub Desktop so that we can investigate this issue better.

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we

[2019-01-09 13:49] gabbiano69 commented on #6488
thanks, anyway if i download with download a zip , this file it's not good to put in lambada aws?

[2019-01-09 16:32] dkrutsko commented on #6526
This isn't just for deleting `main.workflow`, it also happens when it's being modified. Same problem with [Git Kraken](https://www.gitkraken.com). The only solution I found is to use the `git` command line or edit/delete the file on github.com. Adding `/.github/main.workflow` to `.gitignore` helps but there's still a problem when merging a branch to another branch with changes to the workflow file

[2019-01-09 17:07] COXPL commented on #6560
I hate github but at work I am forced to use it.

Regards
ザルチスキ ピョートル

[2019-01-09 17:45] Louis-Cypher opened #6564 "Feature Request Project Board in Github Desktop"
**Please describe the problem you think should be solved**
Github Project Page is my clear favorite for my personal Kanban. Sadly the world is much less connected then most people think ;-) which makes it unusable for people travelling as much as I do.

 Hence, I'd really appreciate to be able to use the Github (Enterprise) project Page offline in Github Desktop. Even Read Only would help a lot.

[2019-01-09 17:56] billygriffin commented on #1533
Thanks so much to all who have responded here. I'm going to close this issue in favor of #6460, where we're trying to examine the problem as holistically as possible and understand the range of possibilities. Everything here is super useful feedback, and we're definitely taking it into account as we look at potential design solutions. cc: @desktop/design

[2019-01-09 17:56] #1533 closed

[2019-01-09 18:00] billygriffin commented on #6564
Hi @Louis-Cypher, thanks for the idea and that makes total sense. We recently responded to a similar request [here](https://github.com/desktop/desktop/issues/1867#issuecomment-448791261). Your use case is interesting in that it's specifically related to being disconnected from the internet. If we continue to hear more evidence that this would be widely beneficial for folks, we're totally open to r

[2019-01-09 18:00] #6564 closed

[2019-01-09 19:23] ampinsk commented on #6460
Adding a note on analytics from a discussion in Slack:

- The majority of Desktop users have 3 or fewer repos.
- Median is 2 repos, 75th percentile is 5 repos, 90th percentile is 10 repos

As @billygriffin put it:

[2019-01-09 20:50] Janpot commented on #6460
Is plain user count the right metric here? What if those 10-20% users use the app way more often?

[2019-01-09 21:37] shiftkey commented on #6101
@outofambit is the repository in https://github.com/desktop/desktop/issues/6101#issuecomment-437424265 something you're able to find again and share? Having repeatable reproductions of merges that aren't working as expected would be ideal here to ensure I'm looking at the correct thing.

[2019-01-09 21:48] outofambit commented on #6562
Hi @ms609, thanks for opening this issue and I'm sorry you encountered this. I tried to reproduce using your repository, but haven't been able to yet. Was "mybranch" the "contour" branch in the Ternary repo? Would you happen to know if the sha before you tried to update from master was `6598bae3dc3d78e214d72c55115899c2274873b1`?

I noticed this repo also has git lfs enabled, is that right? That ma

[2019-01-09 22:10] billygriffin commented on #6460
@Janpot Oh absolutely, we just wanted to share _a_ metric that helped to color the impact of the first set of problems. Totally agree that it's not the full story, we just wanted to share this to add context to any potential solutions.

[2019-01-09 22:35] jan-tosovsky-cz commented on #2978
I would skip that dialog completely. 'Add existing repository ...' menu item would open 'Folder Chooser' directly. On Windows I can see both 'Choose Folder' and 'Cancel' buttons in that standard OS dialog so there is no need to duplicate this functionality in a extra dialog.

Skiping this dialog would be beneficial also for dragging/dropping multiple folders to that projects area directly from fil

[2019-01-09 23:56] iAmWillShepherd opened #6570 "Clone repo dialog does not clone selected repo when Enter key is pressed"
## Description
Pressing enter key on a selection in the Clone Repository dialog does not start cloning.

Related issues:
* #5234

## Version
* GitHub Desktop: 1.5.2-beta0
* Operating system: macOS 10.14.2

## Steps to Reproduce

1. Open repo dropdown list
1. Add -> Clone Repository...
1. Filter repo list (I used my username to return only my personal repos)
1. Use arrow keys to select a repository

[2019-01-10 00:15] xt0rted commented on #6460
I've got 35 repos right now (cleaned some out last month) and expect to be adding another 10+ over the next month or so. I also use the app every day.

[2019-01-10 00:18] ampinsk commented on #6460
Thanks everybody for the extra context! To echo what @billygriffin said, just because in pure numbers the majority have a small amount of repos doesn't mean we aren't interested in working on alleviating the frustration of having many repos. If anything, we just don't want to make the experience _worse_ for users who have a few 😄

[2019-01-10 07:50] fr-irene opened #6571 "Add Hide Button on Merge Conflict Popup"
**Please describe the problem you think should be solved**
If I merge develop branch to my current branch, and it has some conflict, then the popup always shows. I want to see the diff after the changes, or I want to discard what I changed in local. But I can't do anything because the popup is always there until I merge the conflict.

I hope the Popup can be hidden. Or there is a setting to disabl

[2019-01-10 08:12] ganeshbidve opened #6572 "data is not fetching"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-10 12:18] ms609 commented on #6562
Hi @outofambit , thanks for looking into this.  Yes, "mybranch" = "contour".  The SHA would have been `6598bae3dc3d78e214d72c55115899c2274873b1` as you said.

LFS is an interesting suggestion, though no files that match the pattern in `.gitattributes` (i.e. `\inst\doc\*`) would have been changed at any point, as far as I can see.

No binary files seem to have been involved in the diff or update, t

[2019-01-10 13:30] shiftkey commented on #6572
@ganeshbidve thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-10 13:36] shiftkey commented on #6571
@fr-irene thanks for the report!

In https://github.com/desktop/desktop/pull/6382 we made the merge conflicts dialog dismissable, so that you could close the dialog and see the changes. Are you running version 1.5.1 of GitHub Desktop? That version should support what you are looking for:

 - Close the merge conflicts dialog

<img width="527" alt="screen shot 2019-01-10 at 9 31 08 am" src="https://

[2019-01-10 14:01] shiftkey commented on #6391
We should keep an eye on the outstanding 3.x issues to ensure that we're not impacted by some known corner cases as part of this upgrade: https://github.com/electron/electron/labels/3-0-x

For example:
 - https://github.com/electron/electron/issues/16099
 - https://github.com/electron/electron/issues/14683

[2019-01-10 15:07] morqon opened #6573 "Authentication failed: cloning a private repository — Permission denied (publickey)"
## Description

Using a new laptop, with a fresh install of GitHub Desktop, authentication fails when I try to clone my own private repository — after passing `Checking out files: 100% (1053/1053), done.` and attempting `Cloning into`.

![Screenshot of Authentication Failure dialogue](https://duaw26jehqd4r.cloudfront.net/items/073Y2833251U2P3C0x0o/Screenshot%202019-01-09%20at%2019.32.05.png)

From

[2019-01-10 15:42] steveward commented on #6488
@gabbiano69 the zip download contains all of the repository files except for the `.git` directory. If you require the repository's history you will need to perform a full clone of the repository.

[2019-01-10 15:43] steveward commented on #6527
@crazymaribell I'm going to close this issue out due to inactivity -- this helps keep our open issues maintainable. If you are having any problems logging in to GitHub Desktop please let us know. I'd be happy to help further.

[2019-01-10 15:43] #6527 closed

[2019-01-10 16:04] steveward commented on #6530
@seanjmcm thanks for sharing the log file.  I'm glad to hear you were able to work around this.

Did this issue happen immediately when you opened GitHub Desktop for the first time that day, or did it happen after you attempted the pull referenced here?

[code]

Also, is the `XXX/YYY/Write XXXYYY.vi` binary file a fairly large file?

[2019-01-10 16:08] shiftkey commented on #6573
@morqon I think you're seeing the ongoing SSH failures because your submodules are configured with SSH (these are not affected by whether the initial clone is HTTP or SSH):

[code]

[2019-01-10 16:17] steveward commented on #6560
@COXPL port 9418 is [one of the ports you need to open](https://help.github.com/articles/about-github-s-ip-addresses/) in order to access GitHub. That help article I linked also mentions the IP ranges you can whitelist in your network -- I would recommend passing this along to your IT department so that they can ensure the proper ports and IP addresses are open. I'm going to close this issue out,

[2019-01-10 16:17] #6560 closed

[2019-01-10 16:25] shiftkey commented on #6573
If you're not able to get to port 22, you might be able to workaround it by rewriting the URLs from config.

These two entries in your `~/.gitconfig` global config should do the trick:

[code]

[2019-01-10 16:39] outofambit opened #6574 "Red on light red background does not provide high enough contrast"
Error notification Red on Light Red background does not provide high enough contrast. Does not meet the contrast minimum of 4.5:1 for text.

![not enough contrast](https://user-images.githubusercontent.com/964912/50982926-20975180-14b3-11e9-94b7-1967c66fad18.png)

[2019-01-10 16:40] outofambit commented on #6574
cc @ampinsk

[2019-01-10 16:43] agisilaos commented on #6574
Hey @outofambit. Would love to do an audit and check how's Github desktop accessibility-wise. Check if colors are accessible for a start. Do you have specific areas in the app in mind where you believe colors may be off etc so I can start from there?

[2019-01-10 16:45] shiftkey commented on #6574
@agisilaos no need to do anything currently about auditing - we've got a report that we're working through to turn into actionable issues like this one

[2019-01-10 16:51] outofambit opened #6575 "Red and pink colors in dark mode diffs have low contrast"
Red and pink colors have a contrast of 2.6:1. Does not meet the contrast minimum of 4.5:1 for text.

<img width="789" alt="tdna_gh_desk_mac_031" src="https://user-images.githubusercontent.com/964912/50983556-8a642b00-14b4-11e9-80fd-5a5fe14a83c6.png">

cc @ampinsk

[2019-01-10 16:54] outofambit commented on #6574
@agisilaos lets chat more after I've got all these issues written up! there definitely may be more to audit!

[2019-01-10 17:10] outofambit opened #6576 ""Sign in" Dialog's disabled "Sign in" button has limited color contrast"
Advisory as this is a disabled button. Ratio of only 2.6:1 does not meet the requirement of 4.5:1

![tdna_gh_desk_win_017](https://user-images.githubusercontent.com/964912/50984769-7a017f80-14b7-11e9-9e76-19bd1deebd61.png)

cc @ampinsk

[2019-01-10 17:26] outofambit opened #6577 "New lines of code announced as buttons by screenreader"
Screenreader announces "20, button" without a clear understanding. Other changes are not announced as buttons.

![tdna_gh_desk_win_043](https://user-images.githubusercontent.com/964912/50985634-a74f2d00-14b9-11e9-9c99-031f987a8165.png)

They are buttons but perhaps we need to turn them into checkboxes or something and add more screenreader-accessible text to explain that it's toggling the inclusio

[2019-01-10 17:30] outofambit opened #6578 "File viewer is unnamed for screenreaders"
Visually there is a header with the file name, but screenreader announces only "edit multi line"

![tdna_gh_desk_win_048](https://user-images.githubusercontent.com/964912/50985913-4d029c00-14ba-11e9-960e-ce7c14da1e20.png)

[2019-01-10 17:33] outofambit opened #6579 "Diff deletion lines are not announced by screenreaders"
"+" with Green background is read by NVDA, but the "-" with Red background is not - NVDA users will not understand what text has been removed. Visually +/- is great, but screenreaders should announce more "addition" or "deletion."

Control does not provide role, state, and value information.

[2019-01-10 17:37] outofambit opened #6580 "No success announcement from screenreader after creating a branch"
Activate **Create Branch** button. Screenreader announces "unavailable" and focus jumps to the GitHub application menu bar after activating the "Create branch" button. Users would have to navigated back to the **Current branch** to see that the branch name had been visually updated. Notification message, aria-alert or focus management could address this.

[2019-01-10 17:40] outofambit opened #6581 "Status text on "Publish" button not announced by screenreader"
While screenreader announces "Pushing to origin Hang on, unavailable" after activation the dynamic status ("Publishing to Origin, hang on", "Publishing to origin, Total 0 (delta 0), reused 0 (delta...", "Fetching origin, hand on" and "Refreshing Repository Hang on...") are not announced. Final state can be found if the focus is returned - "Fetch origin last fetched just now" - but could be confusi

[2019-01-10 17:43] outofambit opened #6582 "Notification of "your branch is behind default branch" is not announced by screenreader"
The notification disrupts the tab order that was there, adding elements, could be confusing for screenreader users. When notification isn't shown there is a blue dot that is not exposed to screenreader users either.

[2019-01-10 17:48] tierninho opened #6583 "Welcome page suggestions"
Some suggestions for the Welcome page:

- Current:
"GitHub Desktop is a seamless way to contribute to projects on GitHub and GitHub Enterprise. Sign in below to get started with your existing projects."

Perhaps "contribute" could be flushed out a little? Contribute what?

- The "create your free account" and the "Sign into.." links are different shades of blue.

- "Sign into..." should be "Sign i

[2019-01-10 18:03] #6555 closed

[2019-01-10 18:11] shiftkey opened #6584 "compare tab is able to merge while in conflicted state"
## Description

I don't believe this is a regression for 1.6.0, but the Compare tab doesn't have the same restrictions as #6417 and I was able to get myself into a bit of a mess.

## Version

* GitHub Desktop: 1.6.0-beta1
* Operating system: macOS

## Steps to Reproduce

1. Clone this repository and add it to Desktop https://github.com/outofambit/blegh-test

2. With this repository active, switch

[2019-01-10 18:22] shiftkey commented on #6101
@outofambit thanks for that repro. Here's what I did to test it out.

1. Setup the `merge-tree` parameters:

[code]

2. Run the `git merge-tree` command, but get no output:

[code]

3. Run the merge directly and see the conflict:

[code]

I suspect `git merge-tree` is great at finding those conflicts where both files have been modified, but less great at those "modified vs deleted" conflict scenar

[2019-01-10 18:43] shiftkey commented on #6101
A theory that I'd like to unpack and explore (given a couple more real examples that I can test against) would be to test in two stages:

  - `git merge-tree` to find files that have been modified in both branches and cannot be merged automagically
  - run `git diff-tree [merge-base]..[branch]` for the base branch and the compare branch and filter on paths that will trigger the sort of conflict th

[2019-01-10 18:46] shiftkey commented on #6101
@tierninho any chance you might be able to find this problem repository? I want to gather up more failures like this to help with benchmarking an improved solution...

[2019-01-10 18:51] tierninho commented on #6101
@shiftkey Yep, the test repo is here: https://github.com/meaghanlewis/TestWebAppProject

[2019-01-10 18:59] outofambit commented on #6211
done in #6557! ✨

[2019-01-10 18:59] #6211 closed

[2019-01-10 19:06] tierninho opened #6585 "Consistenency when navigating to filters and text fields"
When selecting Branch > Compare to Branch menu option the user is taken to a blank compare branch filter, however if the user is already on that tab and the field is currently populated, then selecting that menu option will still clear the filter. This may be intended, but the behavior is not consistent with other parts of Desktop.

For instance, if the same action were performed when selecting Vi

[2019-01-10 19:10] j-f1 commented on #6577
“Line X. (Addition/Removal) (will/will not) be committed. Click to toggle”?

[2019-01-10 19:11] ampinsk commented on #6575
I actually think this one is fine:

https://colorable.jxnblk.com/f97583/450c0f

![screen shot 2019-01-10 at 11 12 10 am](https://user-images.githubusercontent.com/10404068/50990961-5bf04b00-14c8-11e9-98a1-211f491836a1.png)

Does someone else want to verify? If not I think we can close this.

[2019-01-10 19:11] j-f1 commented on #6579
It might be because it’s reading the `-` as a hyphen and not pronouncing it.

[2019-01-10 19:13] ampinsk commented on #6574
I think this one is also fine:

https://colorable.jxnblk.com/9e1c23/ffdce0

![screen shot 2019-01-10 at 11 15 06 am](https://user-images.githubusercontent.com/10404068/50991111-c0aba580-14c8-11e9-85e5-ede4e9973a85.png)

Unless someone wants to verify, I think we can close this.

[2019-01-10 19:17] outofambit opened #6586 "lib/git return type audit"
Many of our functions in `lib/git` have the return type `Promise<void>`. This makes it difficult for callers to know if the function succeeded or failed (unless it throws an error).

This is particularly important for cases like https://github.com/desktop/desktop/blob/aa79543d8d373763dccc7a51a26e277db1d5960c/app/src/lib/stores/app-store.ts#L3134 where the merge may fail (for expected reasons) be w

[2019-01-10 19:21] shiftkey commented on #6101
@tierninho I'm missing something with reproducing what you saw, because all I see is that `master` is ahead of `branch0308` (no newer commits on `branch0308`):

[code]

This shows the base of merging `master` into `branch0308` is the tip of `branch0308`, and all of the commits that will be merged are on `master`:

[code]

Merging `master` into `branch0308` does not trigger the original conflicts:

[2019-01-10 19:38] ampinsk commented on #6576
If we increase the contrast on disabled buttons, they won't look disabled anymore. [According to W3C](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html), it's fine for disabled buttons to not pass contrast:

[2019-01-10 19:38] #6576 closed

[2019-01-10 19:49] ampinsk commented on #6574
Hey @agisilaos would you like to verify this one?

[2019-01-10 19:49] ampinsk commented on #6575
@agisilaos Would you like to verify this one as well?

[2019-01-10 19:50] shiftkey commented on #6101
Punting this to 1.6.1 as I have an idea about a way forward but it's not going to happen for the next release.

[2019-01-10 19:55] tierninho commented on #6101
Not sure 🤔as that repo has been banged on quite a bit in the last month or two.

[2019-01-10 20:38] say25 commented on #6586
Seems reasonable to me. I wouldn't mind taking this on myself. There should be no downside to exposing more info as we wont be losing any context by no longer returning `void`.

[2019-01-10 21:41] outofambit commented on #6586
@say25 awesome :) yeah if you want to take this on that sounds great. does one PR per file seem reasonable? or whatever chunking you think makes sense so long as it's not all one giant PR. 🏂

[2019-01-10 21:47] outofambit commented on #6584
i'm marking this as `priority-3` because ~5% of merges are initiated through the compare tab and recovery is fairly easy, but I'm very open to pushback for the contrary.

[2019-01-10 21:56] shiftkey commented on #6586
@outofambit @say25 I have a few questions about this but am swamped with 1.6 stuff. Please hang on a bit before we dive into PRs.

[2019-01-10 22:05] say25 commented on #6586
Sounds good. feel free to assign me in the meantime, dont have permissions to do so myself.

[2019-01-10 22:10] alexagranov7 commented on #4194
I'm running into the same issue. Windows 10, version 1.5.1.

[2019-01-10 22:34] tierninho commented on #6498
Cannot reproduce either. Closing for now, but happy to reopen if this surfaces again.

[2019-01-10 22:34] #6498 closed

[2019-01-10 22:39] outofambit commented on #6496
@HirdayGupta Awesome! Yeah I think that's all this issue needs! If you want to test it out yourself to make sure it works, you can [setup a screenreader](https://www.codecademy.com/articles/how-to-setup-screen-reader) and see if it reads the "x" button on the dialog box properly when you mouse over it. Regardless, I'll give it a try when you open a pull request! :) thanks again!

[2019-01-10 22:48] billygriffin commented on #6583
@tierninho Thanks for adding this. I don't really have any problems with the verbiage to be honest. Do you have any suggestions to improve it? I added #6587 to fix the "Sign into" lines.

The create your account being slightly less emphasized seems ok too, as our hypothesis is that most people will already have a GitHub account upon downloading Desktop and if they don't we put it before the other

[2019-01-10 23:02] tierninho commented on #6583
Nothing comes to mind on any possible changes and don't have strong feelings about it either. Thanks for the PR 👍

[2019-01-11 01:47] Max-Hollywood opened #6588 "Repo list entries pointing to wrong directory and overriding others after clone"
## Description

I cloned a repo with Desktop, which worked fine.  However, I had some non-existing repos still in Desktop's list, which Desktop prompted me to remove and I did.  The issue is that now the NAME of the repo I just cloned is pointing to a different repo.

So my just-cloned "Project1" is pointing to "abcRepo", instead of the repo that it just cloned (which it did clone, but didn't add

[2019-01-11 02:37] j-f1 commented on #6583
When I compare “sign into” and “sign in to,” the results are [reversed](https://books.google.com/ngrams/graph?content=sign+in+to%2Csign+into&year_start=1800&year_end=2008&corpus=15&smoothing=3&share=&direct_url=t1%3B%2Csign%20in%20to%3B%2Cc0%3B.t1%3B%2Csign%20into%3B%2Cc0).

[2019-01-11 03:38] Getlikely opened #6589 "test"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-11 09:45] togashi444 opened #6590 "aa"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-11 09:45] togashi444 opened #6591 "aaa"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-11 09:45] togashi444 commented on #6591
aaa

[2019-01-11 09:45] togashi444 commented on #6591
aaaa

[2019-01-11 11:12] shiftkey commented on #6589
@Getlikely thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-11 11:12] #6589 closed

[2019-01-11 11:12] shiftkey commented on #6590
@togashi444 thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-11 11:12] #6590 closed

[2019-01-11 11:12] shiftkey commented on #6591
@togashi444 thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-11 11:39] shiftkey commented on #5686
@billygriffin I've updated the checklist of issues now that #6445 has been merged, and I plan to put together a beta release with the last of our changes in there. Let me know if there's anything else that needs to be done as part of 1.6 for this, otherwise I'd like to close it out before the 🚢.

[2019-01-11 12:36] fdtaljaard commented on #6562
I have same issue.

[2019-01-11 13:50] shiftkey commented on #6586
Related to all this, a while ago we talked about the error handling for Git operations and making that API more user-friendly. I opened the [`experiment-isolate-error-handling`](https://github.com/desktop/desktop/compare/experiment-isolate-error-handling) with one potential solution and commented about it [here](https://github.com/desktop/desktop/pull/5809#discussion_r228645340) but didn't hear ba

[2019-01-11 14:49] steveward commented on #6530
@seanjmcm thanks for the clarification. GitHub Desktop's error messaging is something that we definitely know can be improved. We'd love to see the community contribute PRs to improve this if you are ever interested.

Since I have not seen any other reports of this freezing behavior you encountered I am going to close this issue out for the time being. Let me know if you continue to run into this

[2019-01-11 14:49] #6530 closed

[2019-01-11 15:38] endrawes0 commented on #4672
I can report this is still an issue. I see it regularly

[2019-01-11 15:39] billygriffin commented on #6583
Discussed this with @niik and we're in agreement that #6587 is a good starting place for this. If we hear from our users that zooming is an issue, we can investigate that separately but we shouldn't unnecessarily optimize for theoretical scenarios. Thanks @tierninho!

[2019-01-11 15:39] #6583 closed

[2019-01-11 15:47] billygriffin commented on #6583
Ah, sorry @j-f1, I had this up from yesterday and didn't see your comment until after I had closed it. Thanks for the comparison! It doesn't seem like a big deal either way, but I do think the new way is a bit more technically correct so I'm fine with leaving it. Thanks again!

[2019-01-11 15:54] shiftkey commented on #6586
I'd like to unpack and distill the scope of the discussion before we proceed with PRs. I need to kind of jump around a bit to tease out some ideas, so apologies in advance.

I'm still a huge fan of keeping these exit codes inside the functions and keeping the callers unaware of the implementation details of Git. Git exit codes are woeful to understand from a automation perspective like we do in De

[2019-01-11 16:33] billygriffin commented on #3422
@DHager Thanks for the perspective. Further discussion is whether we should consider enabling a UI pattern to *sometimes* use pull merge and sometimes use pull rebase. What I'm hearing from you is that assuming it's set up to do so, you'd *always* like you and people you work with to use pull --rebase. Is that right? I'm trying to understand how many others share @RoystonS's view that it's helpful

[2019-01-11 16:43] billygriffin commented on #6466
I think I prefer "Open in Finder/Explorer" as well, and more importantly I agree that it should be consistent across the app. @desktop/design Any heartburn about this?

[2019-01-11 16:54] Migdalin opened #6593 "Connection to repository broken after installing Git"
## Description

Push to repository from GitHub Desktop failed to arrive at the repository, though no errors were generated, and the UI claims that the change was pushed without issue.

## Version

* GitHub Desktop:  1.5.1

* Operating system:  Windows 10

## Steps to Reproduce

1.  Install GitHub Desktop.
2. Create a repository.
3.  Merge and push files into the repository.
4.  Pull the repository

[2019-01-11 16:54] shiftkey commented on #6466
One bit of nuance that I'll call out:

 - `Open in X` - view the contents of a folder, or open a file in an editor
 - `Reveal in Finder/Explorer` - show the location of a folder or file in the OS file utility (not the contents)

This is coming from Electron's [`shell.showItemInFolder`](https://electronjs.org/docs/api/shell#shellshowiteminfolderfullpath) API, which we use in a few places, e.g.

htt

[2019-01-11 17:18] billygriffin commented on #6466
Totally valid @shiftkey, I agree the distinction may be important and I'm also 👍 on being consistent with what other tools use if people are used to seeing a particular pattern.

In checking three different widely used programs, two use "Show in Finder/Explorer" and one uses "Reveal in Finder/Explorer." I think if we think we'd like to maintain the distinction, which seems reasonable to me, then "

[2019-01-11 17:42] outofambit commented on #6586
@shiftkey

I am not suggesting we expose error codes to callers of lib/git functions. I agree these should be abstracted. I’m indicating we have success information inside every lib/git function that we are throwing away

I am familiar with result types. It is one potential solution to the problem stated in this issue. (And I'm generally in favor of it.)

This alternate direction doesn't solve the

[2019-01-11 17:59] shiftkey opened #6595 "improve error handling wrapping for Git operations"
Tracking issue two things that overlap with #6586:

 - extracting error handling from inside GitStore to something reusable - https://github.com/desktop/desktop/issues/6586#issuecomment-453522281
 - use a better return type than `undefined` to represent the error raised by a component: https://github.com/desktop/desktop/issues/6586#issuecomment-453562921

[2019-01-11 18:01] shiftkey commented on #6586
I'm still nervous about this bit:

Because of things like #6187 which was a result of not adding tests to #6119. What should we submitting as part of making an change inside a Git function @outofambit?

[2019-01-11 18:35] nycdotnet opened #6596 "No local changes shows ampersands on Windows"
## Description
In the new "No local changes" screen (1.6.0-beta2 on Windows), the ampersands for keyboard shortcuts are being rendered literally rather than being enabled as keyboard shortcuts.  See screenshot.

## Version
* GitHub Desktop: 1.6.0-beta2
* Operating system: Microsoft Windows [Version 10.0.17134.523]

## Steps to Reproduce
1. Open the new "No local changes" screen.

### Expected Beha

[2019-01-11 18:38] tierninho commented on #6596
@nycdotnet Good catch! and thanks for the issue

[2019-01-11 18:38] billygriffin commented on #6596
Thanks for the super fast feedback @nycdotnet! Looking into this now.

[2019-01-11 19:43] outofambit commented on #6586
That's a great shout @shiftkey. Let's agree that any of these functions we change return types for should be tested in the same PR. I'll update the issue description to communicate that.

[2019-01-11 20:13] outofambit commented on #5499
https://ramdajs.com/docs/#partition would be very helpful in places like `createMergeCommit` and `getStatus`, where we are splitting one list into two based on some filter criteria

[2019-01-11 20:16] shiftkey commented on #5686
I'll defer to @niik on when it's good to close this out, given the last part of this feature just landed on `beta` today.

[2019-01-11 20:57] tierninho commented on #6385
Not ideal but on the fence whether this needs to be fixed or not: Scroll bar temporarily hides the news dropdown.

![image](https://user-images.githubusercontent.com/14828183/51059240-60883280-15a0-11e9-8511-5137f61bc842.png)

[2019-01-11 21:06] tierninho commented on #6282
I noticed there is no messaging when the user selects this menu option, and a merge is *not* expected. Should we letting the user no the merge did not occur? No response keeps me guessing...

[2019-01-11 21:34] tierninho commented on #5625
Reopening this issue on the suggestion that we should add some text to the Repository Settings modal (above the URL field) outlining the ramifications when changing the primary URL. Thoughts?

We do something similar on the gitignore tab and as a lot of our base are novice users, we should clarify what the setting does.

![image](https://user-images.githubusercontent.com/14828183/51060763-ac89a600

[2019-01-11 21:45] outofambit commented on #6385
@ampinsk what do you think re: @tierninho's find?

[2019-01-11 21:48] outofambit commented on #6282
hmm @tierninho that's a good point! i think we should surface some feedback that this is a no-op. a already up to date banner could work (without the green check). or perhaps we should disable the menu item for "update from defaultBranch" when you're already up to date? @billygriffin

[2019-01-11 22:15] billygriffin commented on #6282
I'm open to something conveying already up to date, but I'd love to hear from @desktop/design on how to do so if we think conveying that information is the right choice.

[2019-01-11 22:22] tierninho opened #6598 "Publish button in new onboarding section does not activate"
The Publish button in the new onboarding section is disabled, despite the top nav Publish button being active. I expect the button to be active.

Repro:
- Add new repo
- Try to click the blue Publish button (class="blankslate-action primary")

![image](https://user-images.githubusercontent.com/14828183/51062505-f5445d80-15ab-11e9-8307-fe4a2855fa08.png)

1.6.0-beta2, WIndows 10

[2019-01-11 22:34] coobr01 commented on #4829
Agreed, I want to create a tag from the desktop so my CI flow kicks off and properly names my Release with the tag value.

[2019-01-11 23:00] ampinsk commented on #6282
I think an "Already up to date" message would be nice to see!

[2019-01-11 23:01] ampinsk commented on #6385
If it's temporary I don't think it's a problem. I'll play with it in beta and see how it feels.

[2019-01-12 05:51] ve3 commented on #3816
I have same issue when I'm trying to push custom git URL.

[2019-01-12 11:09] idebtor commented on #2893
This should still be an issue.

1. A simple solution is to remove the following file ('user' in my case).
    C:\Users\user\AppData\Roaming\GitHub Desktop\window-state.json
2. Restart GitHub Desktop.
<><

[2019-01-12 12:52] j-f1 commented on #6385
What if you used negative margins to make the scrollable container flush with the right side of the display, then added padding to the container to return the buttons to their current position? This would move the scroll bar at least partially out of the way, and users are used to seeing scrollbars on the sides of things without a margin (for example, that one over there ⏩).

[2019-01-12 14:42] Migdalin commented on #6593
If multiple editors are supported, then improved messaging sounds like a really good idea.  I tried following the link to the full list, but it gives me "page not found."  Anyway, I installed Notepad++, because the Git installer listed it as a supported editor, but Desktop still appears to insist on Atom or nothing.

![install atom screenshot](https://user-images.githubusercontent.com/6393616/5107

[2019-01-12 17:01] StefanoCecere commented on #6460
Usually pros with many repos need advanced features, that Desktop doesn’t have.. that’s why 90% Desktop users have 3 repos, they are casual users... I (60 repos, like many using git daily for everything ) would use Desktop as “non advanced client” only if it had some groupings, like discussed here.. so it is a must feature to attract advanced users

[2019-01-12 22:54] ndattani commented on #6090
@steveward , @j-f1 , @billygriffin , I have run the script that was provided in the link by @steveward , in order to add a user to the "contributions" page, who had made contributions but with different email addresses so it didn't show up at all. I had to do it twice because he used two email address, both not associated with his username.

After doing all that, I went back to my local repository

[2019-01-12 23:12] j-f1 commented on #6090
It looks like the `git pull` might have messed things up — when you rewrite history, it’s usually best to make sure you’re up to date before starting, then use `git push --force` to send the rewritten history to GitHub. The best solution for you would probably be to run `git reflog master` to find the previous version of the commit history, check out that commit with `git checkout <sha>; git branc

[2019-01-13 00:23] karthicks opened #6600 "Invalid string length error upon launching desktop"
## Description
This stacktrace from the error popup says it all:
[code]

## Version
* GitHub Desktop: Version: 1.5.1
* Operating system: OS: Mac OS 10.14.2

## Steps to Reproduce
1. `Launch github desktop on a mac`
2. `Wait for a few seconds as it loads your existing repositories`

### Expected Behavior
The desktop launches properly and stays launched.

### Actual Behavior
I observe a `Github Desk

[2019-01-13 03:51] xVanTuring opened #6602 "What's the point of "Add local repository" dialog?"
**Please describe the problem you think should be solved**
Since  there are no options to tweak,it just increases 2 clicking. If someone want to cancel, they can cancel when they choose. So why not just choose folder directly

![tim 20190113114429](https://user-images.githubusercontent.com/11146248/51081372-0e264d80-1729-11e9-8e66-decf8e802bd2.png)
 Just an advice.

[2019-01-13 04:01] velddev commented on #1803
I was looking for this issue, and figured to contribute to it with my amateuristic design skills and created a mockup that *seemingly* should solve the issue. Hopefully we can hear an update related to this issue soon 😄

![image](https://user-images.githubusercontent.com/13852840/51081457-1ca44300-16f0-11e9-9d2d-8ec1dc65637d.png)

[2019-01-13 06:09] michaelhester07 opened #6603 "Github desktop automatically stages files over 100mb"
**Please describe the problem you think should be solved**
Github Desktop automatically stages files that are too large for github (100mb) making it possible to accidentally commit them, preventing pushes.

Example:

I use my github mainly to manage unity projects and when lighting is baked in unity it generates large files.  It is easy for me to miss these when committing.

**[Optional] Do you ha

[2019-01-13 06:32] dimitribouniol commented on #1803
Ping @shiftkey, since as others point out, it has been a while 😊

Here is another interpretation how I imagine it can look. In this mockup, I grew the row heights to 43pt, and added another line that contains both the current branch (or truncated commit, if on HEAD), and the local path of the repo, truncated at the beginning of the path if necessary. As I experimented, I realized this information

[2019-01-13 12:26] BernardQuek opened #6604 "Unable to clone private repository over HTTPS"
## Description

I am unable to clone a private repository I own into GitHub Desktop. Couldn't figure out how to debug this so here I seeking help.

## Version

* GitHub Desktop: 1.5.1

* Operating system: Windows 10

## Steps to Reproduce

1. (Re)-install GitHub Desktop.
2. Sign-in with GitHub account.
3. Attempt to clone repo (whether from File > Clone repository, or from the website link to open

[2019-01-13 13:58] OneDev99 opened #6605 "git: 'remote-https' is not a git command. See 'git --help'. error when cloning a repository"
I experience this error whenever I try to clone a repository. The error comes regardless if the repository is private or public. As a result, I cannot clone any repository. The same error comes if I try and create a local repository and publish it to Github.

**Github Desktop Version:  1.5.1
OS: Windows 10 64 bit**

![girhub](https://user-images.githubusercontent.com/33938563/51086190-67ae6c80-176

[2019-01-14 04:49] reneegade commented on #4524
I just had the exact same issue. Downloaded desktop today. Was logged in in Chrome / clicked on clone or download / Open in desktop / cloning started then notification that it could not authenticate.

Signed out and back in again and all good.

[2019-01-14 07:56] shguocc commented on #2738
because a team member not push the update project the moment

[2019-01-14 10:40] hlopetz opened #6608 "Wrong Default Branch Selected Locally"
## Description

using **only** GitHub Desktop i created a branch named `sfdx-master` from `master` one. there i re-structured APEX files to comply with file structure requirements of SFDX way of packaging. that was experimental branch so i switched back to `master` then and tried to create another branch (i.e. `feature-x`), but GitHub Desktop showed me branch i had to create the new one from as `s

[2019-01-14 12:16] Jing-kfh commented on #3457
Same problem here.

[2019-01-14 12:54] shiftkey commented on #6608
@hlopetz thanks for the report. We made a change in #5073 to better support other remotes like GitLab, so I'll walk through what this involves and see if we need to revisit this.

The code is found here:

https://github.com/desktop/desktop/blob/9bf818750ad019e99922d02d0275cbe87869fcbc/app/src/lib/stores/git-store.ts#L346-L365

For a non-GitHub repository we check what the `origin/HEAD` symbolic re

[2019-01-14 13:07] shiftkey commented on #6603
@michaelhester07 thanks for the feedback!

This is something we've been tracking in #997, and eventually settled on a flow that we think will make this experience better: https://github.com/desktop/desktop/issues/997#issuecomment-431936406

The next release of GitHub Desktop contains this new flow - you can see the work to support it in #6013. If you'd like to try it out before then, it's availabl

[2019-01-14 13:07] #6603 closed

[2019-01-14 13:11] shiftkey commented on #6121
Closing this out due to inactivity.

@arbuzzer if you're able to answer @steveward's question in the previous comment we're happy to revisit it.

[2019-01-14 13:11] #6121 closed

[2019-01-14 13:13] shiftkey commented on #6537
Tagging `user-research` here because I don't recall any discussions about being able to copy the relative/full path of a file from the merge conflicts dialog, and I'd like to figure out the value of supporting it.

[2019-01-14 13:18] shiftkey commented on #6383
Marking this one as `user-research` to think about more. Most of the internals of Desktop use the `origin` remote when doing things like finding open PRs, but maybe there's value in making forked repositories consider the `upstream` remote too?

[2019-01-14 13:19] steveward commented on #6605
Thanks for the report @OneDev99. This looks like it may be an issue with your installation of GitHub Desktop. Have you tried reinstalling GitHub Desktop again? If not, I would recommend deleting the following two directories to allow you to perform a fresh installation:

`%AppData%\GitHubDesktop`
`%LocalAppData%\GitHubDesktop`

Then install GitHub Desktop again and see if you are able to perform a

[2019-01-14 13:52] #6596 closed

[2019-01-14 14:03] shiftkey commented on #6585
@iAmWillShepherd I'd love your input on the intent here

[2019-01-14 14:04] steveward commented on #6604
Thanks for the report @BernardQuek. Just to make sure I fully understand the issue -- are you able to successfully log in to your GitHub account within GitHub Desktop from `File` > `Options` > `Accounts`?

If that is the case can you open the `Credential Manager` on your Windows machine and verify that there is a `GitHub - https://api.github.com/BernardQuek` entry under `Windows Credentials` > `Ge

[2019-01-14 14:10] hlopetz commented on #6608
thanks for the details, @shiftkey.

    refs/remotes/origin/sfdx-master

for me.

do you is there a way to re-set that to `master`? and how such issue may be prevented going forward?

[2019-01-14 14:12] billygriffin commented on #6282
@ampinsk Any opinion on how that should manifest? That's where I was getting a bit hung up. Is it in the same banner area and disappears like the "Success" message? Does it use some other pattern?

[2019-01-14 14:20] billygriffin commented on #6602
Hi @xVanTuring, thanks for the idea! Just so I'm clear, you're suggesting that when a user selects "Add Existing", it should just pop Explorer or Finder to get you to pick which repo you're adding.

So the steps would be as follows below, without the intermediate step of the dialog. Is that correct?

<img width="266" alt="screen shot 2019-01-14 at 7 16 59 am" src="https://user-images.githubusercon

[2019-01-14 14:21] billygriffin commented on #6598
This feels like pri-2 to me, as it likely introduces confusion for something that feels very first-class.

[2019-01-14 14:23] billygriffin commented on #6598
Actually, I was able to click it but was not able to activate it on hitting `Enter`

[2019-01-14 14:30] shiftkey commented on #6608
In theory there's a [`git remote set-head`](https://git-scm.com/docs/git-remote#git-remote-emset-headem) command that you could use to change it, but I haven't used it so I'm not sure.

I'm also not sure if this is some sort of bug with the GitLab UI that these have now fallen out of sync.

[2019-01-14 14:34] niik commented on #6598
This happens because we don't have a dedicated 'Publish' repository menu item, only a 'Push' which enables both. The action is backed by the menu so as long as the menu item is disabled the action will be as well. So apparently we don't have a way of publishing a repository using only the menu. I'll look into it

[2019-01-14 15:02] BernardQuek commented on #6604
Yes, I am able to log into GitHub Desktop, and the credentials you mentioned exists.

I have edited my issue and uploaded the full logs.

[2019-01-14 16:13] hlopetz commented on #6608
thank you @shiftkey, `git remote set-head origin master` worked for me.
the only Q is how that could happen if i used GitHub Desktop app only.

[2019-01-14 16:16] shiftkey commented on #6608
@hlopetz it might have been that the clone existed before the rename was applied, and in typical Git `fetch/push/pull` usage the rename of the default branch wasn't updated?

Anyway, I'm glad we got to the bottom of the issue. I'm going to close this out as resolved, but let us know if you have any other questions about this.

[2019-01-14 16:16] #6608 closed

[2019-01-14 16:23] billygriffin commented on #6429
@desktop/design Would you mind taking a look at this and helping us align on what users should or should not be able to do during a merge conflict?

[2019-01-14 16:24] tierninho commented on #6602
If we simplify this feature, some things we lose are:

- validation of the repo will no longer occur inline, and
- users can no longer enter in the path manually

![image](https://user-images.githubusercontent.com/14828183/51124800-0ec7ee00-17d4-11e9-984d-1a2e7d539d6b.png)

[2019-01-14 16:49] outofambit opened #6609 "enable enableNewNoChangesBlankslate feature flag for everyone"
just so we don't forget :)

[2019-01-14 16:50] shiftkey commented on #6593
We can't support Notepad++ currently - see #4120 for more details about that issue

[2019-01-14 17:13] Raul6469 commented on #6467
Hi! 👋 I can work on this issue

[2019-01-14 17:14] outofambit commented on #6467
Awesome @Raul6469! Let us know if you have any questions! 🚀

[2019-01-14 18:36] dkowalec commented on #6538
So the issue seems to be using SSH w/ passphrases and private repositories for my case.
@desktop/support

[2019-01-14 18:38] dkowalec commented on #6538
I think the additional information here is sufficient enough at this point don't you think?
@shiftkey

[2019-01-14 18:51] shiftkey commented on #6538
@dkowalec please see my earlier comment https://github.com/desktop/desktop/issues/6538#issuecomment-452307176

[2019-01-14 18:55] #6275 closed

[2019-01-14 19:22] shiftkey commented on #2738
Bumping this issue to indicate I think I've got the root cause of this flow:

This feels a lot like something that #6610 will address, and the changes over there should address this so you get immediate feedback after the fetch (and we can change the button label to be `Fetch` rather than `Close`).

[2019-01-14 19:25] kingov opened #6615 "TS2339: Property 'DailyRotateFile' does not exist on type 'Transports'."
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-14 19:25] ghost opened #6616 "TS2339: Property 'DailyRotateFile' does not exist on type 'Transports'."
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-14 19:26] #6616 closed, assigned to nobody

[2019-01-14 19:30] kingov opened #6617 "error while building node-sass module"
yarn

but failed

7 warnings and 1 error generated.
make: *** [Release/obj.target/binding/src/binding.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/Users/wangzheng/code/electron/desktop-release-1.5.1/node_modules/node-gyp/lib/build.js:258:23)
gyp ERR! stack     at ChildProcess.emit (events.js:182:13)
gyp ERR! stack

[2019-01-14 19:32] shiftkey commented on #6617
@kingov are you trying to build GitHub Desktop from source? Please ensure you have [your environment setup correctly](https://github.com/desktop/desktop/blob/development/docs/contributing/setup-macos.md#setting-up-development-dependencies-on-macos) to build native modules.

[2019-01-14 19:43] shiftkey commented on #6538
@dkowalec do you have Sourcetree's Git pointing to it's embedded Git or to a system Git? If it's using the system Git, that would explain why it's working the same as the Git command line (it knows how to find the running `ssh-agent` process):

<img width="722" src="https://user-images.githubusercontent.com/359239/51136347-a3e9d780-1812-11e9-88c0-380146121af1.png">

I believe `core.sshCommand` wor

[2019-01-14 19:43] ampinsk commented on #6282
Ooh I was thinking in the same banner area and it would disappear. Keeping the check would possibly still make sense as well.

[2019-01-14 19:53] dkowalec commented on #6538
I can try the workaround but it seems SourceTree is using the Embedded Git same as yours but 2.15.1 and yours is 2.18.0
@shiftkey
![image](https://user-images.githubusercontent.com/45953408/51137080-07bcd200-180c-11e9-944e-124119857afe.png)

[2019-01-14 19:56] shiftkey commented on #6538
@dkowalec interesting. Anything SSH-specific in your `~/.gitconfig` that we might not be aware of?

[2019-01-14 20:01] dkowalec commented on #6538
Doubtful. It is pretty basic, standard install; haven't messed with it. Please let me know any other data you need I am more than happy to provide
@shiftkey

[code]

[2019-01-14 20:04] kingov commented on #6617
ok , thanks

[2019-01-14 20:08] ampinsk commented on #6429
Since we've been considering this state the "manual" mode, I'd lean towards letting people do more, even if they get errors. But agreed we should include guardrails, especially around merges. Going off of @tierninho's list, I think:

Disable when the Merge Conflict banner is present:

- Branch > Update from [default]
- Branch > Merge into Current branch
- Merge button in compare panel

Do not disa

[2019-01-14 20:09] kingov opened #6618 "submodule not found when building project"
when i run "yarn buid:dev"    appear   no such file or directory

Building for development…
Removing old distribution…
Copying dependencies…
  Installing dependencies via yarn…
  Installing 7zip (dependency for electron-devtools-installer)
  Copying git environment…
  Copying app-path binary…
Packaging emoji…
Error: ENOENT: no such file or directory, lstat '/Users/wangzheng/code/electron/desktop-r

[2019-01-14 20:11] tierninho commented on #6618
@kingov thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-14 20:13] shiftkey commented on #6618
@kingov did you download the repository rather than clone it? That path is to submodule which might not be created as part of our usual flow because of how Git works.

Are you able to clone the Desktop repository and try it again?

[code]

[2019-01-14 20:15] shiftkey commented on #6617
@kingov I'm going to close this out unless you can share more details about your setup and what the whole error is that you're seeing (the stuff before this bit that didn't get included).

[2019-01-14 20:15] #6617 closed

[2019-01-14 20:21] #6618 closed

[2019-01-14 20:21] outofambit commented on #6586
from @iAmWillShepherd  https://github.com/desktop/desktop/pull/6606#discussion_r

+1

[2019-01-14 20:21] #6615 closed

[2019-01-14 20:57] DHager commented on #3422
@billygriffin Yes, I think that asking the user to reformulate their changes (i.e. rebase) is the "safest" default behavior, based on the kinds of users I observed using the tool and their reasons for using it.

[2019-01-14 21:21] outofambit commented on #6459
@j-f1 is right—@niik identified https://github.com/desktop/desktop/pull/6234 as the likely cause of this regression.

[2019-01-14 21:23] xVanTuring commented on #6602
@billygriffin , that's what I am thinking.

@tierninho

Well, that's a good point. (Validation step can still pop a dialog.) Since someone may copy and paste path, the dialog will be useful then.

[2019-01-14 21:23] #6602 closed

[2019-01-14 21:37] steveward commented on #6604
Thanks for the update @BernardQuek. A couple of questions:

- Have Git operations requiring authentication ever worked on this machine in GitHub Desktop?
- Are you successfully able to clone using the command line?

One thing you can try would be to reset GitHub Desktop by deleting the `%AppData%\GitHubDesktop` directory, and then try signing in and cloning again. Let me know if that gets things w

[2019-01-14 22:48] billygriffin commented on #6469
Reopening because we haven't decided on toPlatformCase usage and there's no reason to hold this up. PR imminent.

[2019-01-14 23:48] #6598 closed

[2019-01-14 23:57] SafelySwift opened #6624 "Commit failed - exit code 1 received [NO .git FILE]"
## Description
GitHub will not let me upload an Xcode project.

## Version

* GitHub Desktop:
1.5.1

* Operating system:
High Sierra

## Steps to Reproduce
1. Try to upload an Xcode project

### Expected Behavior
Upload an Xcode project

### Actual Behavior
The "Commit failed - exit code 1 received"

## Additional Information

<img width="962" alt="screen shot 2019-01-14 at 6 57 13 pm" src="https:

[2019-01-15 00:02] shiftkey opened #6625 "image diffs are obscured by new "blank slate" view"
## Description

Image diffs seem to be ignored by the new "no changes" view.

## Version
* GitHub Desktop: `1.6.0-beta2`
* Operating system: macOS

## Steps to Reproduce
1. Create a new repository
2. Open the repository in Finder
3. Drag and drop a PNG file into the directory
4. Switch back to the application

### Expected Behavior

First file is selected, and renders a diff of the new image

###

[2019-01-15 00:42] billygriffin commented on #6625
@shiftkey @telliott27 Thanks! Just to add to this, it looks like when both images and regular files are uncommitted, diffs for the regular files are displayed just fine but when you click on an image file, the "No local changes" is displayed as shown above.

[2019-01-15 00:49] shiftkey commented on #6624
@SafelySwift thanks for the report!

Could you attach the full log files? The **Help** | **Show Logs in Finder** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

[2019-01-15 01:55] shiftkey commented on #6385
#6199 is the earlier report of the scrollbar issue - and macOS is more noticeable than Windows, particularly with the dark theme enabled

[2019-01-15 02:06] SafelySwift commented on #6624
There is no such thing. I type in "log" and I do not see anything.

[2019-01-15 07:14] niik commented on #6625
This is unrelated to the new blank slate view; it's due to the image diff component throwing an exception causing react to abort the rendering and leaving us with the existing repository view persisting.

[2019-01-15 08:58] LunaGao commented on #4931
@tillt You save my day!

[2019-01-15 12:18] lyiriyah commented on #6318
yes i am on an ssl server, i'll run that cmd, thanks @steveward

[2019-01-15 12:58] shiftkey opened #6628 "pull description inside new "no local changes" view"
When your current branch is both ahead and behind, this is what the button shows:

<img width="579" src="https://user-images.githubusercontent.com/359239/51181777-7187bb00-18a2-11e9-9dbf-8d9ebe8dfad0.png">

I had a peek at the message that was being generated and it looks like the description always shows `commits`:

https://github.com/desktop/desktop/blob/cd783fa43845c4d26d81ef18d38021a59c172ba5/

[2019-01-15 13:19] #6469 closed

[2019-01-15 13:20] #6609 closed

[2019-01-15 13:35] BernardQuek commented on #6604
Yes, other private repos from private organisations have worked before. I couldn't remember how I got it to work or if I faced any issues while setting it up, though. I was not the owner of any of those repos however.

Cloning succeeded on the command line, but adding the cloned repo to GitHub Desktop then trying to do a fetch on one of my branches results in the same error.

Clearing `%APPDATA%\R

[2019-01-15 13:40] bwbohl commented on #3240
I can report the same problems on OS X where the commands are triggered by cmd rather than ctrl but with my English os and GitHu Desktop I just can't use shortcuts as cmd+`for opening the repo in terminal

[2019-01-15 14:17] j-f1 commented on #3240
The shortcut to open the terminal is always Ctrl+`` ` ``, since Cmd+`` ` `` is used by the system.

[2019-01-15 15:46] #6628 closed

[2019-01-15 16:07] shiftkey commented on #6563
@SylvainBerthelot please attach the full log, as it's not clear to me how the commit failed from that one line and there might be other helpful context about the error

[2019-01-15 16:35] billygriffin commented on #6602
Thanks @xVanTuring and @tierninho for the thoughtful discussion. 😄

[2019-01-15 17:19] JosephTLyons opened #6632 "Image Previews are not Intelligently Resizing to Show Full Image"
## Description
If I add a photo to a repository, the image preview in the diff is cutoff depending on the aspect ratio of the image and the current aspect ratio of Github Desktop.

Here it is full size on my MacBook 2015 15 inch:

<img width="1552" alt="screen shot 2019-01-15 at 12 12 26 pm" src="https://user-images.githubusercontent.com/19867440/51197270-08627080-18bf-11e9-83ee-796432d9b6d3.png">

[2019-01-15 17:45] #6459 closed

[2019-01-15 17:46] tierninho opened #6633 "Autocomplete menu should not be cut off"
We should reposition the autocomplete popup so it doesn't appear to be cut off when it is near the edge of the app.

![image](https://user-images.githubusercontent.com/14828183/51198824-2d98b400-18aa-11e9-824a-887931943015.png)

Related: https://github.com/desktop/desktop/pull/6631 and #4084

v1.6.0-beta2, mac

[2019-01-15 17:49] steveward commented on #6593
@Migdalin sorry about the broken link -- I've updated it. For reference these are the currently supported editors on Windows:

Atom
Visual Studio Code - both stable and Insiders channel
Sublime Text
ColdFusion Builder
Typora
SlickEdit
JetBrains WebStorm

Are you still having any problems using GitHub Desktop? If so, let me know how I can help.

[2019-01-15 18:17] #6632 closed, assigned to nobody

[2019-01-15 19:38] JosephTLyons commented on #6632
That is my issue as well.  Thank you.  I searched for an Issue, but couldn't find one.

[2019-01-15 19:39] j-f1 opened #6635 "Fix pointy corners on the commit description box"
See #6234 — that fix broke autocomplete popups, so this has to be done a different way.

[2019-01-15 20:13] billygriffin commented on #6282
Moving this to 1.6.1 as it didn't make it into the beta today. I'm 👍 on @ampinsk's suggestion.

Based on what we've said, here's a proposal:

It says "This branch is already up to date with {default branch name}." It has a green check to the left of it in the same way as the success banner does.

And it dismisses in the same time period as a success banner does.

I'm going to reopen this and move

[2019-01-15 20:44] adamreisnz commented on #6460
Done!

[2019-01-15 20:45] jborn commented on #3816
Why would you have sadiqn open a new issue, if he is having the same issue as me, doesn't it make sense to keep all information about this issue in one issue thread?  I've tried all the "fixes" listed and nothing has worked for me.  Very frustrating that I opened this issue a year ago and no fix and people are being asked to open new issues when they happen upon this ticket.  Please fix!

[2019-01-15 21:55] vidosrd1 opened #6637 "Milan"
Oh, zarimaš...

[2019-01-15 21:58] #6637 closed

[2019-01-15 22:41] Janpot commented on #6460
Sure

[2019-01-15 23:17] tierninho opened #6638 "Small tweaks to onboarding language"
For the new onboarding, I am suggesting a few small edits to some the existing language, as such:

- Swap "Configure which editor you wish to use in preferences" ... to ... "Select your editor in Preferences" as there is really nothing to configure and Preferences should be capitalized
- "View the files in your repository in Finder"... perhaps to "View the files of your repository in Finder" or "V

[2019-01-15 23:43] NodoFox opened #6639 "Cannot fetch master after deleting and creating new master"
## Description

- Deleted a master branch from terminal
- Created a new master from the origin in terminal
- Github desktop has this branch as default, but I can no longer update it. No option to pull or fetch origin. I only see "Publish branch" option

## Version

* GitHub Desktop: Version 1.5.1

* Operating system:
macOS
10.13.6

## Steps to Reproduce
- Deleted a master branch from terminal
- Cr

[2019-01-15 23:48] outofambit commented on #6639
Hi @NodoFox! Thanks for reaching out. Unfortunately I'm not able to reproduce this following these steps. Could you share the terminal commands you used for steps 1 and 2? I might be doing something slightly different. Thank you!

[2019-01-16 02:40] say25 commented on #6184
Good to close?

[2019-01-16 03:01] vicespi23 commented on #3625
It worked!!!!!!!!!!!!!!!!!!!!!!!!!!! THANK YOU!

[2019-01-16 05:06] NodoFox commented on #6639
Hello @outofambit
Here's the set of screenshots before and after - https://imgur.com/a/zjzRkNv
I was able to reproduce with these steps.
[code]

You'll see that on github desktop you can no longer update master

[2019-01-16 07:47] oskardudycz commented on #3580
👍

[2019-01-16 11:51] mschroen commented on #3816
I agree with jborn. Many people have the problem and here are only super-specific fixes that do not solve the problem at its root. We all can push and pull in a standard way, with other software or terminal, using default credential settings. But GitHub Desktop seems to use some bugged credential or ssl lookup which breaks the whole thing. Just implement a simple push and pull command that uses th

[2019-01-16 12:31] Migdalin commented on #6593
I have Visual Studio 2017, the free version, but I guess that's not the same as Visual Studio Code.  Probably I'll get Atom the next time I need to merge.  For now, I'm making changes on one machine only, so I don't have to worry about merging.  Thanks for your help.

[2019-01-16 12:47] shiftkey commented on #5876
Tentatively pulling this into 1.6.1 because I have a working branch, but it needs some tooling to catch regressions. I plan to open a few PRs in the coming days in this order:

 - first, extract `legal-eagle` from the main `build.ts` into it's own module and wrap it in a `Promise`, so it can be chained better (top-level `await` isn't currently possible, as far as I'm aware)
 - next, introduce a re

[2019-01-16 13:13] #6184 closed

[2019-01-16 14:45] steveward commented on #6639
Thanks for those extra details @NodoFox. The issue here is that the new `master` branch is not set up to track the upstream `origin/master` branch. You can run this command to checkout a new branch and track the existing upstream branch:

`$ git checkout -b master --track origin/master`

or you can explicitly set a branch to track an upstream branch with the `git branch` command:

`$ git branch --

[2019-01-16 14:45] #6639 closed

[2019-01-16 15:01] shiftkey commented on #6638
I'm into this 👍

One thing to add:

I prefer "View the files of your repository in Finder"  over the other one

[2019-01-16 15:03] steveward commented on #6593
Visual Studio Code is a text editor similar to Atom, whereas Visual Studio is a full IDE that provides a lot of other features. They do share some features like syntax highlighting, though. I would definitely recommend checking out VSCode or Atom if you are looking for a text editor to use. I'm going to close this issue out, but let us know if we can help with anything else!

[2019-01-16 15:03] #6593 closed

[2019-01-16 15:33] JoFAM opened #6642 "git bash doesn't use same credentials as GUI for Enterprise - problem for LFS"
## Description

I stumbled upon this when trygin git-lfs. I use Github Desktop for most of my work, as we have quite a few people and students not familiar with git. To use lfs however, we need to use the bash.

I have a git version with bash installed, but that one doesn't use the credentials as used by the GUI Github Desktop. This means that if I click "Open in bash" and try a simple git pull, I

[2019-01-16 15:42] outofambit commented on #6642
Hi @JoFAM! Thanks so much for this excellent write up. I'm going to mark this as an enhancement for now. @desktop/product what are your thoughts on this?

[2019-01-16 16:13] shiftkey commented on #6642
@JoFAM I'd love to hear more about what LFS actions you are doing that require dropping into the command line.

GitHub Desktop should support committing and push/pull/fetch operations for LFS-enabled repositories with the credentials stored in Desktop, but if there's other tasks you are doing that aren't possible within the app I'd love to ensure we're aware of them and tracking them on our end.

[2019-01-16 16:34] billygriffin commented on #5686
Since this is all merged into the release branch and ready to 🚢 tomorrow, gonna close it out!

[2019-01-16 16:34] #5686 closed

[2019-01-16 16:45] MrDingodile opened #6644 "Image comparison max height/width does not make sense in relation to application and resolution."
I believe this has to do with high DPI scaling (using a 2160p 16:9 monitor) in relation to very large images when previewed in Github Desktop.

This is what I see when comparing a texture file:
![27572b8d9532f0442639fc89d82b3eaf](https://user-images.githubusercontent.com/42971310/51264193-3b3b6000-19b6-11e9-82cf-53fffd065d4e.jpg)

By editing the source with developer tools I can set the max width

[2019-01-16 17:08] tierninho commented on #6644
@MrDingodile Many thanks for filing this and adding the dev tools tips, however it looks to be a duplicate of this #2480, with this [comment](https://github.com/desktop/desktop/issues/2480#issuecomment-451779032) capturing the overall issue.

Closing for now but happy to reopen if it turns out to be another underlying issue with images.

[2019-01-16 17:08] #6644 closed

[2019-01-16 18:34] shiftkey opened #6645 "cleanup unused mocha/chai packages"
After #6518 is reviewed and merged, we'll officially have no need to keep `mocha` and `chai` around. This means we should be able to remove these packages from the project:

 - `@types/chai`
 - `@types/chai-datetime`
 -  `chai`
 - `chai-as-promised`
 - `chai-datetime`
 - `mocha`
 - `mocha-junit-reporter`
 - `mocha-multi-reporters`

As well as this test setup:

https://github.com/desktop/desktop/bl

[2019-01-16 18:48] shiftkey commented on #6645
Dropping `help wanted` until this is ready to be worked on

[2019-01-16 18:53] tierninho opened #6646 "UI: The `Add` repo button is cutoff when pane is adjusted"
The new `Add` repo button in the repository list section can be cutoff if the user adjust the pane to a certain width.

Try setting the Changes/History tab to width 211px, then opening the Repo list. Use dev tools to verify width.

I suggest we have two states: `Add v` and `...`

![image](https://user-images.githubusercontent.com/14828183/51271582-c7c92c80-197c-11e9-81c5-436837179e0d.png)

`...` s

[2019-01-16 18:58] shiftkey commented on #6646
This feels like a case where the Filter textbox should not steal space the button needs to show it's label. Maybe we can tweak the Flexbox CSS in here so that we never shrink the button, but I'd need to check how it looks at the minimum width.

[2019-01-16 19:58] leecookson opened #6648 "Support "Create Release" from GitHub Desktop app"
I would like a way to do a "release" from the GitHub Desktop app

Minimum: a link to the "release" page for the current branch of the current repo

Optimal: A dialog that lets you supply release tag name, title, description, pre-release option from the app itself.

[2019-01-16 21:05] outofambit commented on #6648
Hi @leecookson thanks for filing this proposal. I'm going to label it as an enhancement. Could you provide a bit more information about your workflow? Do you usually want to release from desktop right after you commit and push on a branch? What do you usually do afterwards? Thanks again!

cc @desktop/product

[2019-01-16 22:12] tierninho opened #6649 "Simplify the Auth Failure modal"
When trying to perform an action any repo when you are not logged in, an auth modal is surfaced to gather credentials. These modals are the same for GitHub and Enterprise, but they should match the normal login modal which differentiates between GitHub and Enterprise.

Suggestion: we nix the Authentication modal and just apply the error messaging inline the current login modal. See mock ups below.

[2019-01-16 23:05] billygriffin commented on #6648
Thanks @leecookson! Echoing @outofambit, I'd love to hear a bit more about your workflow specifically to help us understand this a bit better. We have https://github.com/desktop/desktop/issues/4829 which is tracking tag support in Desktop, and most folks there have communicated that they use tags to create releases and that's why they'd like support for them in the app. Is this the same thing? Tha

[2019-01-16 23:10] billygriffin commented on #6649
Thanks @tierninho! I'm not super clear from your screenshots which is current state and which is suggested future state and how you get from Enterprise to Normal and visa versa.

[2019-01-16 23:17] SafelySwift commented on #6624
<img width="571" alt="screen shot 2019-01-16 at 6 17 20 pm" src="https://user-images.githubusercontent.com/45888860/51284873-0aa9f500-19bb-11e9-88be-1011bde8f7fb.png">

[2019-01-16 23:22] tierninho commented on #6649
@billygriffin Added some current/future labels to above.

The auth failure models surface if you are logged out and attempt an action like Fetch. These modals are different the the normal sign-in modals we see under Prefs.

My suggestion is to just use the existing error messaging in the normal sign-in modals to alert the user, and therefore nix the auth failure models altogether.

Existing use ca

[2019-01-17 00:17] leecookson commented on #6648
The workflow is a repo of static assets (images, JS, web pages) that we sync to S3 via a webhook.  The "push" action triggers sync to a staging location, for testing.  When tests are verified, we do a "release" from the main code page, supply a tag and title, and the webhook triggers a full sync of the repo to the production environment.

Since the "push" can be done w/o visiting the repo's web pa

[2019-01-17 00:31] leecookson commented on #6648
if it triggers a webhook with action="release", that would be good

On Wed, Jan 16, 2019 at 7:27 PM Billy Griffin <notifications@github.com>
wrote:

[2019-01-17 09:16] sararoy opened #6650 "Cannot Add Project from GitLab"
Hello,
I have a serious issue with GitHub Desktop after the latest update.
I can't clone my project. I have this error message :

Cloning into '/Users/Sara/Documents/GitHub/SaladeTomatesOignons'...
error: /private/var/folders/_t/z29zg_654kn95w9vhnl1z2hw0000gp/T/AppTranslocation/F4A40CDD-5D65-41E7-B83E-E353D716DF9B/d/GitHub Desktop.app/Contents/Resources/app/static/ask-pass-trampoline.sh died of si

[2019-01-17 12:18] shiftkey commented on #6563
@SylvainBerthelot aha, I overlooked the detail that this was running on Windows and not macOS. This is not in the Windows version of the embedded Git we ship in Desktop, so I'm going to move this into that project so we can track it where it needs to be supported.

[2019-01-17 14:38] shiftkey opened #6652 "investigate Terser use for minification"
In a nutshell:

 - Webpack v4 uses `uglifyjs-webpack-plugin` for minification, which is actually based on `uglify-es`
 - We had to stop using that and instead use `babel-minify-webpack-plugin` a while ago because of minification issues #4871
 - `babel-minify` is still marked as `beta` on the website and last had an update ~3 months ago
 - `babel-minify-webpack-plugin` has not had an update in ~10

[2019-01-17 14:49] shiftkey commented on #6624
Not related to the issue at hand, but this message is a helpful hint if you would like Desktop to check for updates and keep you on the latest version:

Error: Cannot update while running on a read-only volume. The application is on a read-only volume. Please move the application and try again. If you're on macOS Sierra or later, you'll need to move the application out of the Downloads directory.

[2019-01-17 15:00] MrDingodile commented on #6644
Very well may be a duplicate, I wasn't getting search results I could without doubt say was the same issue, so figured I'd post it even as a duplicate.

Should I add my findings as a comment on #2480 ?

[2019-01-17 15:45] shiftkey opened #6653 "yarn 1.13 is available to upgrade"
Getting more mentions of this when working locally.

Release details: https://github.com/yarnpkg/yarn/releases/tag/v1.13.0

If someone else wants to have a shot at upgrading this, https://github.com/desktop/desktop/pull/6259 is a reference PR and these files need to be changed:

 - add latest `yarn-1.13.0.js` to vendor
 - update `.yarnrc` and `app/.yarnrc` to point to new version on disk
 - remove

[2019-01-17 16:32] tierninho commented on #6644
@MrDingodile many thanks for the follow up and offer to post your findings in #2480. I think it is okay to leave things as-is, because the two issues are now linked together and the person who fixes the underlying issue will see your issue referenced. 👍

[2019-01-17 17:06] OneDev99 commented on #6605
Re-installed the application a few times using the method you provided which solved the problem. Thank you so much!

[2019-01-17 17:09] tierninho opened #6654 "gitignore file can be edited via Repo Settings when in merge conflict"
I found an edge case where the `gitignore` file can be edited via Repo Settings when you are in a merge conflict. In this case you have to have the merge banner displaying and the `gitignore` file has to be the only file with conflicts. *This is not reproducible every time.*

Repro steps:
so find conflict with gitignore, close conflict modal so merge banner appears, open Repo Settings under Repo m

[2019-01-17 17:21] MrDingodile commented on #6644
Alright np.

[2019-01-17 18:13] #5177 closed

[2019-01-17 18:13] #5059 closed

[2019-01-17 18:13] #5266 closed

[2019-01-17 18:14] #5669 closed

[2019-01-17 18:23] shiftkey commented on #6645
#6518 has been merged, so this is available to be worked on

[2019-01-17 18:43] tierninho commented on #6654
Secondly, when resolving the `gitignore` merge conflict in the cmd line, Desktop gets into a state where the menu items are disabled and the onboarding push origin button is disabled. Note the main push origin button is active.

![image](https://user-images.githubusercontent.com/14828183/51340733-9025b780-1a44-11e9-81ea-266db7c2dfe9.png)
![image](https://user-images.githubusercontent.com/14828183/

[2019-01-17 19:58] mirianfsilva commented on #3816
I was having the same problem, and I wasted a lot of time trying to fix it, following various solutions to propose some issues here. So I decided to sign out from the account in Github desktop, and login again. And this worked for me.

Go to `File` > `Options`> `Accounts` > `Sign out` >  and `Sign in` again.

[2019-01-17 20:02] tierninho commented on #6654
Reproduction steps for above:
- create a situation where there is a gitignore is a merge conflict
- regardless of the editor appearing or not, click the cmd line link
- in terminal, remove the gitignore file, commit
- when navigate back to Desktop, you should be in this state:

<img width="861" alt="screen shot 2019-01-17 at 11 59 41 am" src="https://user-images.githubusercontent.com/14828183/5134

[2019-01-17 20:09] paberglund opened #6655 "GitHub Desktop failed to launch - RangeError: "size" argument must not be larger than 2147483647"
## Description
RangeError: "size" argument must not be larger than 2147483647
    at Function.Buffer.allocUnsafe (buffer.js:253:3)
    at Function.Buffer.concat (buffer.js:441:23)
    at ChildProcess.s.on (app\src\lib\git\spawn.ts:72:13)
    at emitTwo (events.js:126:13)
    at ChildProcess.emit (events.js:214:7)
    at maybeClose (internal/child_process.js:925:16)
    at Process.ChildProcess._han

[2019-01-17 20:17] Jasperav commented on #5530
Link is dead

[2019-01-17 20:18] tierninho commented on #5530
Fixed the link 😄

[2019-01-17 20:20] Jasperav commented on #5530
Thx, that fix actually worked, didn't expect that

[2019-01-17 20:44] steveward commented on #6650
Thanks for the report @sararoy.  It looks like you are running into a similar issue that was reported in https://github.com/desktop/desktop/issues/6362.

Are you running any antivirus software or behind any other security software that could be flagging the binaries that GitHub Desktop ships with?

The first things I would recommend trying would be to reinstall GitHub Desktop again (reinstalling h

[2019-01-17 20:46] steveward commented on #6655
Thanks for the report @paberglund. Would you mind uploading the full log file as an attachment? I'd like to take a look and see if there's anything else in the log that may help us track down what is causing this.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Finder (macOS) or Explorer (Windows)`.

The log files are created daily -- please upload

[2019-01-17 21:15] StefanoCecere opened #6657 "docs for SPACE key to toggle multiple file changes to commit"
it was really, really hard to find out that if i press the SPACE key i can toggle the selected file changes to commit

i discovered it by searching hard in this issues repository for that problem, and it was in this page https://github.com/desktop/desktop/pull/4188

should we add this feature to https://help.github.com/desktop/guides/contributing-to-projects/committing-and-reviewing-changes-to-you

[2019-01-17 21:19] shiftkey commented on #6657
cc @desktop/support

[2019-01-17 23:52] mschroen commented on #3816
I think this thread is mainly about non-GitHub.com-repositories. In my case, I am not using GitHub.com accounts, so there is nothing to sign in or sign out.

[2019-01-18 01:33] vanyakosmos opened #6658 ""No local changes" window flashes every time when switching between changed files"
## Description

## Version

* GitHub Desktop: 1.6.0

* Operating system: osx 10.14

## Steps to Reproduce

1. click on changed file
2. click on another changed file

### Expected Behavior

smooth change of displayed file in patch subwindow

### Actual Behavior

"No local changes" window opens and disappear before every file change.

## Additional Information

![demo](https://user-images.githubuser

[2019-01-18 01:38] Daniel-McCarthy commented on #6570
I would love to give this Issue a try. I have already taken a swing at it and will try to submit a pull request for it tomorrow!

[2019-01-18 02:08] SafelySwift commented on #6624
I saw that, and I will update. Strange however but my app is in Documents.

[2019-01-18 07:32] ericsotelowebdesigns opened #6659 "FATALE: Unable To Access..."
I keep getting this error when I try to "git push --set-upstream origin stepA" which is my branch I am trying to upload using GIT BASH

This is the error I continue getting:

fatal: unable to access 'https://ericsotelowebdesigns/udemy.git/': Could not resolve host: erics otelowebdesigns
--

I'm scratching my head on this one. I am fairly new to this GITHUB thing. Can you think of anything and why

[2019-01-18 07:37] OneDev99 commented on #6605
I tried the above method and was able to successfully clone a repository. I closed the application and opened it again to clone another repo but it showed the same exact error.

[2019-01-18 08:40] evromalarkey commented on #6077
I think this wont work if user had installed previous versions of webstorm and autoupdate from then. I have 2018.3.3 but my subKey path in registry is `SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\WebStorm 2018.1.4`

Your subKey path is for WebStorm 2018.3, so this will also stop working if someone will install newer version in the future.

[2019-01-18 09:59] ysoftware commented on #6658
This makes the app painful to work in.

[2019-01-18 10:15] outofambit commented on #6658
Hi @vanyakosmos! Thanks so much for filing this issue and I'm sorry you're seeing this. I was able to reproduce this locally, so I'll mark this a bug and will update this issue soon with a timeline for a fix.

[2019-01-18 10:31] outofambit commented on #6659
Hi @ericsotelowebdesigns! Thanks for reaching out! Does pushing and pulling branches work from within GitHub Desktop via the UI? From that error, it sounds like there's either a network problem, but it could also be some sort of proxy/authentication issue. cc @desktop/support

[2019-01-18 10:47] ms609 commented on #6562
I wonder whether this is related to the issue that was patched in #6411?

[2019-01-18 10:50] outofambit commented on #6562
@ms609 that's a really good point! i think that would explain this situation perfectly. i'll see if i can get the same output you had with an untracked binary file in my working directory.

[2019-01-18 12:12] hafizaslami commented on #1707
Press F11

[2019-01-18 12:33] KennethSweezy commented on #6659
Not sure if this is the issue, but there isn't a domain extension (.com, .org, etc) on the link you provided. This will cause it to not resolve.

[2019-01-18 12:37] jborn commented on #3816
The repository I'm trying to access is a private repository hosted by github.  I'm using my github credentials to access this private repository.

[2019-01-18 12:58] steveward commented on #6659
@ericsotelowebdesigns like @KennethSweezy mentioned it looks like your remote `origin` URL is incorrect. Here's the command you can run to fix that:

`git remote set-url origin https://github.com/ericsotelowebdesigns/udemy.git`

Or if you are using GitHub Desktop to work with this repository you can go to the file menu and select `Repository` > `Repository Settings..` > `Remote` and edit the `orig

[2019-01-18 12:58] #6659 closed

[2019-01-18 14:12] shiftkey commented on #6624
@SafelySwift I think that error message is just hard-coded because the majority of cases seen was launching the app from Downloads 🤷‍♂️

[2019-01-18 15:10] martinbean commented on #3606
Would love to be able to have multiple windows in Desktop. Was surprised to find I couldn’t.

There’s times when I’m working in multiple repositories—particularly one project at the moment which is comprised as one Git repository for the main application, and then separate repositories for each “theme” in that application.

[2019-01-18 15:12] danpalmer opened #6662 "Commit hashes are too short for large repos"
**Problem**

Commit hashes in the app are 7 characters. This is insufficient for larger repos where collisions become more common. Git adapts some of its reporting over time to larger repos, it would be great if GitHub Desktop could too.

**Potential Solution**

I mostly use the commit hashes by copying/pasting from the UI. A possible solution would be to have a copy button/on-click handler on the

[2019-01-18 15:19] billygriffin commented on #3606
Thanks for sharing how you'd use this @martinbean!

There's nothing planned around this for at least the next few months, but we're working our way through the remainder of the future proposals to figure out which things we want to support in Desktop and then prioritizing those accordingly.

One thing that would make this easier to get our arms around is if someone from the community wants to dig

[2019-01-18 15:20] chriscalo commented on #3606
Echoing @billygriffin:

In case it's helpful to motivate why this request matters, what I'm trying to do: I use multiple spaces / desktops in macOS to work on different projects. I use a different Atom window for each project I'm working on, and I'd love to do the same with Github Desktop. It's the exact same need that Atom solves for me: instead of finding the one and only Github Desktop window a

[2019-01-18 15:38] OneDev99 commented on #6605
I had the idea already and have checked my virus chest. I'm using Avast and there are no false flags. I updated my Github Desktop to the latest version released just now and was able to clone a repository and commit changes. I restarted my desktop and now when I click on publish to Github, I get the same error. I found the remote https file inside my Visual Studio folder.  (C:\Program Files (x86)\

[2019-01-18 15:43] danpalmer commented on #6662
@shiftkey Great, thanks for the quick response! Delegating this responsibility to Git sounds like a great idea.

[2019-01-18 15:55] shiftkey commented on #6662
Here's a rough sketch of the changes that I think need to be made here.

First, the easy thing to would be to just add a new field to the model for `shortSha`:

[code]

And then using that in the `CommitSummary` component:

[code]

Introducing this new field will raise a whole bunch of compiler errors, but the important places are where we create these `Commit` models from Git output.

`git for-ea

[2019-01-18 16:00] tierninho commented on #6570
@Daniel-McCarthy go for it! Thanks again for all contributions 🥇

[2019-01-18 16:04] OneDev99 commented on #6605
Reinstalling both Github Desktop and updating Microsoft Visual studio to version 15.9.5 has fixed the error for now. I'll close the issue after thoroughly checking if the issue still comes after some time or after restarting my pc.

[2019-01-18 16:45] outofambit commented on #4829
#6648 brings up the issue of creating a release, which requires creating a new tag or using an existing one. I think that's important context for this issue as we think through solutions. Maybe creating and pushing tags can be the first part of an eventual higher level workflow.

[2019-01-18 16:46] OneDev99 commented on #6605
The issue came again. I have to uninstall Github every time and even manually delete files from appdata and localappdata folders. And then reinstall it for the error to go away. And it reappears after closing the app once.

[2019-01-18 16:48] outofambit commented on #6648
@leecookson thank you for the extra information! this is very helpful. we're going to merge this discussion with the git tags discussion in #4829 as they would most likely be part of the same workflow. Thanks again for this input and let us know if you have any more feedback or suggestions!

[2019-01-18 16:48] #6648 closed

[2019-01-18 17:37] brendonbarreto commented on #6652
I ran some quick tests with terser by running `yarn build: prod`:

  | Build time | Output Size
-- | -- | --
babel-minify | 85.36s | 43.401.373 bytes (45,9 MB)
terser | 73.57s | 43.381.135 bytes (45,9 MB)

I recently switched from 'Uglify` to `Terser` in another project, and it has considerably shortened our build time.

[2019-01-18 18:23] davidclayton commented on #3342
Thank you, editing the window-state worked.  I was using a second monitor, and then tried to use the Surface-Pro on its own to get this behavior.  I used to be able to use Shift-Right Click to do this.

[2019-01-18 19:40] j-f1 commented on #6652
I wonder how much faster Babel-minify would be if we used Babel to strip the TypeScript types, too.

[2019-01-18 20:47] billygriffin commented on #3706
Reopening this as I'm observing it still: https://www.google.com/search?q=github+desktop

[2019-01-18 20:47] billygriffin commented on #3706
@donokuda Do you happen to have ideas on how to fix this?

[2019-01-18 21:46] Ciantic commented on #5373
Adding that shortcut there is easy, but you need to add a command line argument to GH Desktop e.g. `GitHubDesktop.exe --open-repo C:\Source\my-repo` that opens a given repo in the GH Desktop. And maybe: If there is no repo there, GH desktop could suggest creating one in there!

I want this too, I'd like to replace TortoiseGit with an app, that I can just open a repo folder.

I don't care about add

[2019-01-18 21:52] shiftkey commented on #5373
@Ciantic please keep in mind there are plenty of contributors to GitHub Desktop that do not identify with the label "guys"

[2019-01-18 21:53] Ciantic commented on #5373
Okay, edited my comment.

[2019-01-18 22:43] zarsky-broad opened #6665 "Can't commit with git-secrets"
## Description

Git-secrets fails to run (I think because it can't find git-sh-setup).
Specifically, the error raised points to [line 46](https://github.com/awslabs/git-secrets/blob/c11c229a8eebb3545e5fd3bab4e8aa55a7f19383/git-secrets#L46), and the built-in git has a weird exec-path:
[code]

## Version

* GitHub Desktop: 1.6.0

* Operating system: macOS 10.13.6 (17G4015)

## Steps to Reproduce

Se

[2019-01-18 22:44] ampinsk opened #6666 "Truncate file names more in conflict resolution modal"
![image_720](https://user-images.githubusercontent.com/10404068/51416658-4f569d00-1b2f-11e9-8592-3dac0f5498c3.png)

When there are long paths these file names can get a little hairy. It would be nice to follow similar truncation patterns we have elsewhere if we aren't already, such as:

![screen shot 2019-01-18 at 2 43 52 pm](https://user-images.githubusercontent.com/10404068/51416710-84fb8600-1b2

[2019-01-19 00:07] Daniel-McCarthy commented on #6535
I think this would potentially make a lot of sense.
When you have the history between two text files, seeing the diff is usually sufficient to be able to judge what has changed and be able to make an opinion of it. Knowing what has changed is essential when evaluating history.

However, with a binary file, you may not have as much context with the change. The binary file can be a number of things

[2019-01-19 01:30] magerton commented on #6240
This is also an issue for me. If I clone with Git Bash (LFS installed & enabled) but then use Github Dekstop, I get a repeat request about enabling Git LFS.

[2019-01-19 11:55] nightbirdsevolve opened #6667 "Discard changes doesn't move files to the trash anymore"
## Description
Discard changes doesn't move files to the trash anymore. It just discards the changes.

## Version
* GitHub Desktop:
1.6.0
* Operating system:
macOS 10.14.2

[2019-01-19 14:05] Serkonda opened #6668 "Push/Pull doesn't work anymore"
## Description

Since the 1.6.0 update everytime I try to push some changes it opens the 'Publish repository' window, although my repo is already published and still there.
Pulling doesen't work too and it seems like I cannot delete branches, it just keeps loading for infinite in this case.

## Version

* GitHub Desktop: 1.6.0

* Operating system: Microsoft Windows [Version 10.0.17134.523]

## Ste

[2019-01-19 16:52] toddwchapin commented on #4054
Hello. I'm on MacOS Mojave (10.14) and am having this problem. My Mac Mini is headless and I'm airplaying to my Apple TV. This problem also happens when using VNC or TeamViewer. I just downloaded the current version of GitHub Desktop today (Jan 19) and this computer hasn't had a previous version installed.

Closing the app, deleting the files in Application Support > GitHub Desktop, rebooting, and

[2019-01-19 18:17] cata0309 opened #6669 "App Menu not hidden/disabled when viewing "Let's get started" options"
## Description

Installed the new Github desktop app and the visual bug appears if you hover the top part of the select repository window

## Version

* GitHub Desktop:

* Operating system:
Windows 10 Pro 64x latest version

## Steps to Reproduce

### Expected Behavior

See blank white space
### Actual Behavior

I see a menu that does nothing

## Additional Information

### Logs

[2019-01-19 18:53] HilalHakla opened #6670 "Github Desktop Flickering Uncontrollably"
## Description
![20190119_215108](https://user-images.githubusercontent.com/26529048/51431035-9f6b5780-1c34-11e9-9971-d39a1203c02b.gif)

## Version
GitHub Desktop: 1.6

* Operating system:
Microsoft Windows [Version 10.0.15063]
Windows 10

## Steps to Reproduce
Just Opening the IDE after installation

### Actual Behavior
Should not flicker

### Logs
2019-01-19 21:46:04> Program: Starting Squirrel

[2019-01-19 19:02] nagendrapujari opened #6671 "Github enterprise log in page not loading from outside network"

[2019-01-19 19:03] #6671 closed

[2019-01-19 19:14] nagendrapujari opened #6672 "Github enterprise log in page not loading from outside network"
we have installed and configure Github Enterprise on debain (Ubuntu UI), we can able to access the management console (https://git.intra.com) from the ubuntu.But, we cannot access the console from outside (windows server). The github enterprise server (10.132.194.15  git.intra.com) is pinging from windows server.

Our developers are trying to access the console (https://git.intra.com) from their m

[2019-01-19 20:30] j-f1 opened #6673 "Incorporate PR creation into "no local changes" as top level suggestion"
**Please describe the problem you think should be solved**
When I make a commit to a repository on GitHub, I often want to create a PR from it. However, the prompt in the “No local changes” view only gives me the option to push, meaning that I have to use the menu or a keyboard shortcut to open the PR.

**[Optional] Do you have any potential solutions in mind?**

I have two ideas:

1. Add a second

[2019-01-20 02:18] GarethLally commented on #3707
+1 definitely still needed

[2019-01-20 03:02] AlanCPSC opened #6674 "Add option - [show in git shell]"
In the latest update, I noticed GitHub Desktop now has a variety of convenience buttons. I have found myself frequently using the [show in explorer] function. I was wondering if it is possible to add a similar button [show in git shell] that opens a command prompt in the directory of the repository.

![suggestion](https://user-images.githubusercontent.com/22120384/51434743-b9993b80-1c1c-11e9-80a2-

[2019-01-20 06:00] langgaibo commented on #1634
Amazed that this feature is still lacking. I guess nobody making roadmap decisions works with more than one or two other devs at a time. Must be nice 😬

[2019-01-20 10:52] ReTWi commented on #3816
In my case helped deliteon of this in registry:
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Command Processor\Autorun]

[2019-01-20 11:56] ericsotelowebdesigns commented on #6659
Kenneth,

Thank you for your response. I appreciate it. Have a great weekend.

Eric Sotelo

From: Steve Ward <notifications@github.com>
Sent: Friday, January 18, 2019 6:59 AM
To: desktop/desktop <desktop@noreply.github.com>
Cc: Eric Sotelo Web Designs <ericsotelowebdesigns@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [desktop/desktop] FATALE: Unable To Access... (#6659)

@ericsote

[2019-01-20 13:07] freitasbde commented on #6669
![image](https://user-images.githubusercontent.com/11089795/51439561-3a574680-1cb4-11e9-9ce5-951c7dea426e.png)

[2019-01-20 13:41] chokry opened #6675 "test project"
new project

[2019-01-20 14:09] #6675 closed

[2019-01-20 16:17] shiftkey commented on #6673
@j-f1 thanks for the feedback! This is something that we do want to support, but it was held back in `1.6.0` because of some inconsistencies with how we detect pull requests. #6641 has some more context:

I'll assign this to @niik for the moment as he was investigation the work related to this issue.

[2019-01-20 16:19] shiftkey commented on #6665
@zarsky-broad thanks for the report!

This is the same root cause as https://github.com/desktop/dugite-native/issues/164 and needs to be addressed in the embedded Git. I'm going to move this over the related project so we can track it there.

[2019-01-20 16:33] shiftkey commented on #6669
I've been able to reproduce this, and with the dark theme enabled it's even more obvious:

<img width="1026" src="https://user-images.githubusercontent.com/359239/51442097-89e74380-1caf-11e9-91f0-8f4758620a7c.png">

[2019-01-20 19:07] j-f1 commented on #6673
Ha, read that PR description but it didn’t connect when I opened this issue.

[2019-01-20 22:03] SafelySwift commented on #6624
Updated - no change

[2019-01-21 05:13] KennethSweezy opened #6682 "Dead link in Syntax Highlighting Documentation"
# 404 in Documentation
## Description
Currently there is a dead link in the [syntax highlighting docs](https://github.com/desktop/desktop/blob/cf99e9555c0ffb646e33c16957e4f037c06ecbfb/docs/technical/syntax-highlighting.md).
The dead link is located on the following line: "Note, however that this list is likely to grow stale so I'd recommend checking the code directly."

## Version
N/A (Issue with

[2019-01-21 05:19] KennethSweezy commented on #6682
The link actually does work, I was just not paying attention.

[2019-01-21 05:19] #6682 closed

[2019-01-21 11:44] njbmartin commented on #5709
Just updated one of my repos to switch the default branch. Desktop is still referencing the old default.

Looking at DevTools, when you fetch, it makes a call to `https://api.github.com/repos/*/*` and the new default branch is returned correctly, but it seems to be ignored.

[2019-01-21 12:42] EwoutH commented on #5953
@ampinsk Looks amazing, when do you think it will be landed?

[2019-01-21 13:10] shiftkey commented on #6670
@HilalHakla I've tried to reproduce this myself without any luck, using a single repository in the app but then I rename the directory to make it "missing".

Could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

[2019-01-21 13:20] HilalHakla commented on #6670
OK  i solved it by
1  - Deleting the "C:\Users\{Your User Name}\AppData\Local\GitHubDesktop"
2 - Uninstalling Github Desktop
3 - Removing any repository (or./and any .git files) that was opened in Github Desktop (Cause i think there was an issue with the repository that i opened)
4- Reinstall Github Desktop

[2019-01-21 14:13] mnsrv opened #6683 "Line committing not work anymore"
## Description

I want to commit a single line, not all diff. But instead, whole file added to commit.

## Version

* GitHub Desktop: 1.6.0

* Operating system: macOS Mojave 10.14.1

## Steps to Reproduce

1. make changes in multiple lines in file
2. select a few lines, not all diff
3. press commit

### Expected Behavior

Selected lines being added to commit, rest not staged
### Actual Behavior

F

[2019-01-21 14:41] shiftkey commented on #6670
@HilalHakla I'm glad you were able to workaround the issue. Is there anything interesting in the log files that might help us with reproducing the issue on our end?

[2019-01-21 14:51] shiftkey commented on #6668
@Serkonda thanks for the report. This looks like the root cause of the problem:

[code]

But I'm not sure where to start about recreating this on my end so I have a few things I need to start digging.

Can you share the output of these commands when run against the problem repository:

[code]

This will help me understand the state of your local repository and the remote to help with troubleshooti

[2019-01-21 14:55] shiftkey commented on #6683
@mnsrv thanks for the report! Can you tell me whether the file you were changing was a new file or an existing file that is already tracked in the repository?

[2019-01-21 14:58] shiftkey commented on #6674
Marking this one as `user-research` because I'm sure there was some thinking around this and why `Open in Shell` might not have made the cut for this first iteration of the UI.

cc @desktop/product

[2019-01-21 15:30] shiftkey commented on #6667
@nightbirdsevolve thanks for the report!

Are you able to provide some details about how the files were setup before triggering the discard - were they new files, or just changes to files already in the repository? This will help with troubleshooting on my end to ensure I'm testing what you are seeing.

[2019-01-21 15:33] shiftkey commented on #6571
Closing this out because I believe the current version already addresses the feedback. @fr-irene if you have any further questions, please let us know.

[2019-01-21 15:33] #6571 closed

[2019-01-21 15:33] shiftkey commented on #6572
Closing this out due to inactivity. @ganeshbidve if you're able to fill out the template we're happy to revisit the issue.

[2019-01-21 15:33] #6572 closed

[2019-01-21 16:26] shiftkey opened #6685 "deprecate React Perf extension for React Profiler"
Over in https://github.com/desktop/desktop/pull/6442#issuecomment-455675571 we noticed an issue with committing in development mode triggering an error that brought down the app:

[code]

To me, this reads as the React-Perf extension encountering some weird state. This is only installed when running the app in development mode:

https://github.com/desktop/desktop/blob/52ab4b91016f3e82e13361161e89c

[2019-01-21 17:46] stuffi3000 commented on #5337
@shiftkey
Any news on this?

[2019-01-21 21:51] sorashi commented on #6538
I'm having the same issue. GitHub Desktop version 1.6.0, Windows 10.
When the repo's remote is SSH, GitHub Desktop shows the *authentication failed* message on fetch/pull/push.
I tried setting up `ssh-agent` and `ssh-add`ing my keys, but the error persists. (I do usually type my SSH password every time I use my SSH key(s) in Git Bash, because I'm quite paranoid.)

Changing the remote to HTTPS – ei

[2019-01-21 23:37] outofambit commented on #6683
I tried to reproduce this with both an untracked and tracked file and was not able to. 😕 @mnsrv can you share the repo and files involved? Sorry you're hitting this problem.

[2019-01-22 01:15] billygriffin commented on #6674
Thanks for the idea! I would love @niik’s perspective on this as well before we make a call one way or the other. I don’t want this blank slate to be a catch all for anything and everything, but rather to thoughtfully enable workflows that make people more productive.

@alanCPSC and anyone else who is interested in this - Out of curiosity, do you frequently use the existing keyboard shortcut for t

[2019-01-22 01:44] billygriffin commented on #6216
Thanks for this @MappingSteve! Hopefully what we shipped in 1.5.1 was helpful in alleviating the pain, but we're still looking at this in #6386. It's definitely something we want to improve soon so thanks for putting it on our radar. I'm going to close this issue so we can track it in #6386.

[2019-01-22 01:44] #6216 closed

[2019-01-22 02:02] billygriffin commented on #5953
Hi @EwoutH, thanks for the feedback! We're looking to ship at least the first portion of this in 1.7, likely next month. We'll likely ship that (pull --rebase support) on its own to make sure we understand fully the implications, and then ship explicitly rebasing one branch onto another later.

[2019-01-22 02:07] billygriffin commented on #6535
@Daniel-McCarthy Thanks! Your reasoning makes a lot of sense to me - out of curiosity, how do you envision this actually working in the app from a user's perspective, if we did choose to implement it? I'm just trying to get a feel for discoverability and potential for confusion.

[2019-01-22 04:07] say25 commented on #6674
I personally feel like encouraging “opening in shell” from the empty state has value. Currently doing so supports rebasing, tagging and some other workflows we currently don’t support. I also find that people that use Desktop aren’t aware of this shortcut. I’m a large proponent of this tool at work and whenever I’m pairing with someone and I open the shell with the shortcut I get a “how did you do

[2019-01-22 06:41] ddesmond commented on #5223
Have same issue. after each githubdesktop update, my firewall denies github zo network. and then i spend hours debuging why and what rule has been changed. ive added all from 1.60 and nothing helps.
What request should i write for this to work on your next update?
Its not that my machine is changing but the exe of GHD is changing place. I understand that you develop more features and make it secur

[2019-01-22 10:01] nightbirdsevolve commented on #6667
@shiftkey sorry but it seems I cannot reproduce the issue anymore today… weird!
The files were already in the repo, that's for sure.

[2019-01-22 11:48] nahuel-medable commented on #3707
+1 please add this

[2019-01-22 11:50] mnsrv commented on #6683
Sorry, my bad! Colleague added to pre-commit hook Prettier and git add. Now all works like a charm.

@shiftkey @outofambit Thank you for such a quick response 👍

[2019-01-22 11:50] #6683 closed

[2019-01-22 13:44] billygriffin commented on #6624
Any ideas on this one @desktop/support?

[2019-01-22 13:45] billygriffin commented on #6650
Hope you were able to get over the hump @sararoy! Since we haven't heard back, I'm going to close this out but happy to reopen if you're still having issues.

[2019-01-22 13:45] #6650 closed

[2019-01-22 13:50] #6653 closed

[2019-01-22 13:50] #6662 closed

[2019-01-22 15:18] steveward commented on #6672
👋 @nagendrapujari this issue tracker is for GitHub Desktop. If you need assistance with GitHub Enterprise you can contact the Enterprise support team directly through the following contact page:

https://enterprise.github.com/support

They will be able to assist you with any questions you have. I'm going to close this issue out -- let us know if we can help with anything related to GitHub Desktop!

[2019-01-22 15:18] #6672 closed

[2019-01-22 15:40] Serkonda commented on #6668
**First of: I were able to fix the problem by reinstalling GitHub Desktop.**

But here the outputs:
- I have no hooks defined.
- No aliases too.

$ git remote -vv
[code]

$ git branch --all:
[code]

[2019-01-22 15:42] Daniel-McCarthy commented on #6645
I would like to take on this Issue. I'll be happy to make a pull request once completed.

[2019-01-22 16:10] steveward commented on #6488
@gabbiano69 you should be able to build the project if you download the zip file of that repository. If you are having specific problems with that I would recommend opening up an issue in the repository's issue tracker.

@scsfdev are you still having issues using GitHub Desktop behind your proxy?

[2019-01-22 16:17] ampinsk commented on #6386
Now that we have editor metrics, do we have any more opinions on how to proceed here? I lean slightly towards the `Open in default program` option to make sure the flow doesn't feel broken for people who use an editor we don't support.

[2019-01-22 17:15] #6658 closed

[2019-01-22 17:52] ampinsk commented on #6575
I confirmed with the design systems team that passing AA is ✅ so I'm going to close this out.

[2019-01-22 17:52] #6575 closed

[2019-01-22 17:53] ampinsk commented on #6574
I confirmed with the design systems team that passing AA is ✅ so I'm going to close this out.

[2019-01-22 17:53] #6574 closed

[2019-01-22 18:37] wduquette commented on #5342
Got to say, I selected Discard All Changes by accident this morning and lost the morning's work.  The dialog is no help at all; visually, if you're working quickly, it looks pretty much the same as the Discard Changes dialog.  It was a bonehead thing to do.  I'd move Discard All Changes somewhere else (I want to have it available, but not where it is).

[2019-01-22 19:10] ampinsk commented on #5953
The v1 of this is going to encompass pull with rebase. Here's a prototype for how that would go if you ran into conflicts, then needed to force push:

![pull-rebase-force](https://user-images.githubusercontent.com/10404068/51559194-263b5280-1e36-11e9-9c5e-3b17d8365916.gif)

cc @shiftkey

[2019-01-22 19:11] biolauri commented on #6077
For me, it's not working either. I assume, according to [win32.ts line 235](https://github.com/desktop/desktop/blob/development/app/src/lib/editors/win32.ts#L235) and compared to other, working editors, that the current implementation is 32-bit only.

The following entry should be added. But I don't know, if this will fix it already.
[code]

Unfortunately, I don't have the time right now to dive d

[2019-01-22 20:07] georgefkiaras commented on #3757
Confirmed that I had this issue and that @kevlut fix worked.

I don't feel that closing an application on a second monitor, and then rebooting one's laptop with one screen is a legitimate bug for any application to have in 2019.  Please fix this.

[2019-01-22 20:52] Croydon commented on #2107
I'm using GitHub Desktop with two displays for a long time now, but I run today for the first time into this issue. https://github.com/desktop/desktop/issues/2107#issuecomment-343320044 fixed it for me

[2019-01-22 20:57] billygriffin opened #6689 ""Ignore file" uses confusing verbiage"
**Please describe the problem you think should be solved**

When right-clicking a changed file, a context menu shows up with several options, two of which are "Ignore file" and "Ignore all files". It's not readily apparent what's actually going to happen when you click either of those. Is it going to just ignore them in Desktop? Does it add the files to your .gitignore? It's only apparent that it'

[2019-01-22 21:33] PaulViola commented on #6689
I'd like to take a stab at this issue, thank you!

[2019-01-22 21:59] billygriffin commented on #6689
Hey @PaulViola, thanks for your interest and enthusiasm - I love it! 🎉

Would you mind weighing in on the question of what verbiage you think we should use and why? I'd love to hear a few perspectives first before we implement any one of them. 😄

[2019-01-22 22:08] shiftkey commented on #6652
@j-f1 I'd love to unpack this a bit more, because currently we use `awesome-typescript-loader` with `useBabel` and `useCache` enabled:

https://github.com/desktop/desktop/blob/ba999a3b28a531ad128c55583c68736beb3d0d02/app/webpack.common.ts#L32-L42

The net effect of this, from the docs:

Are you proposing more radical changes? Care to elaborate?

[2019-01-22 22:43] shiftkey commented on #3959
@steveward this is probably something you've been thinking about in recent times.

Feel free to take it up or close it out.

[2019-01-22 22:45] billygriffin commented on #6689
@PaulViola Thanks! If you're game, I think it might be helpful to see a screenshot of what the context menu might look like if updated to those options to get a feel for the length and whether it makes it feel super clunky. Would you mind posting a couple here for people to react to?

[2019-01-22 22:54] shiftkey opened #6690 "partial links in commits are clickable and do not go to expected location"
## Description

The way GitHub Desktop renders links in the commit history does not consider whether it's a valid URL, and the user can click through to a non-existent repository.

## Version
* GitHub Desktop: 1.6.0
* Operating system: macOS

## Steps to Reproduce
1. Clone this repository to your local machine: https://github.com/BotsBurgh/BOTSBURGH-FTC-2018-19
2. Switch to the history tab and sel

[2019-01-22 23:41] PaulViola commented on #6689
I'm happy to help! Here are the screenshots.

<img width="292" alt="image" src="https://user-images.githubusercontent.com/22381339/51572832-80efa100-1e6c-11e9-8fab-55acf3f37e6b.png">

---

<img width="315" alt="option_2" src="https://user-images.githubusercontent.com/22381339/51572861-a11f6000-1e6c-11e9-8b5a-4efb0275237b.png">

---

<img width="253" alt="option_3" src="https://user-images.githubus

[2019-01-22 23:44] donokuda commented on #3706
@billygriffin I do not unfortunately since it looks like this is all auto-generated by Google. We could consider updating the favicon with our app logo and cross our fingers that it'll remember the correct dimensions.

Ideally, I'd like it to not appear at all unless we're able to update all the information in that card (e.g., changing the header from "GitHub" to "GitHub Desktop".) Maybe someone i

[2019-01-23 00:11] tierninho commented on #3706
Update:
So after some research, this looks to be part of the Google Knowledge Graph. Google offers up "Download Cards" or "Software Knowledge Cards" based on the Knowledge Graph.

Edit with https://www.google.com/business/  ...I think 😬

[2019-01-23 01:54] steveward commented on #6604
@BernardQuek apologies for the delay. I dug through the log file a bit further and realized I had missed this error:

[code]

Are you behind a proxy/firewall/antivirus software that could be blocking GitHub Desktop from cloning this repository? If GitHub Desktop is being blocked that would indicate why the command line is working for you.

[2019-01-23 02:10] Serena-Hou opened #6691 "unknown error"
![snipaste_2019-01-23_09-43-29](https://user-images.githubusercontent.com/46697931/51578039-0750c500-1ef7-11e9-8915-72d6e3e7add8.png)

[2019-01-23 03:51] #6691 closed

[2019-01-23 12:15] Peter92 commented on #6535
@billygriffin I'm very interested in this functionality but for any file type. Sourcetree already has the ability to do that, where you can go into history, and double click/right click>open any file from that point in history. It'll download that version of the file in a temporary location and open it.

Once or twice (such as today, hence why I'm here) I've needed the functionality, and I have to

[2019-01-23 12:37] Peter92 commented on #6689
I'm also liking 2, however perhaps if you don't like the length of "ignore all," instead it could be shortened to this while keeping the same meaning:

[2019-01-23 12:50] shiftkey commented on #6101
Unassigning myself from this because I need to start making some inroads on rebasing tasks for 1.7. I think the idea in this earlier comment https://github.com/desktop/desktop/issues/6101#issuecomment-453207386 is worth exploring, but we can move this to a later milestone if someone isn't able to pick it up.

[2019-01-23 12:50] j-f1 commented on #6652
You could run TypeScript in watch mode with `--noEmit` then run Babel in parallel with `@babel/preset-typescript` to strip the TS type syntax and `babel-minify` for minification.

[2019-01-23 14:03] DsanchezPerez opened #6692 "Disabled menus after fetching main development branch"
## Description

After pulling the main development branch the Branch menu is completely disabled.  To branch from the freshly pulled repository I have to exit the application and restart the application to have the Branch menu enabled.

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-23 14:11] nic-hartley commented on #3707
+1 still useful, and also please contractually allow more than one account per person. I'd really, really like to have one personally and one for more public-facing things.

[2019-01-23 15:17] outofambit opened #6693 "binary file merge conflicts detection broken"
version: Desktop `1.6.0`, `1.5.1`

## Steps to reproduce:

1. create a `bothModified` conflict for an image file
(create image in base branch, then edit in a feature branch and base branch, merge)
2. take no action to resolve conflicts

## Current Result:

<img width="537" alt="screen shot 2019-01-23 at 7 07 46 am" src="https://user-images.githubusercontent.com/964912/51615872-c00a0a80-1edd-11e9-8

[2019-01-23 15:24] billygriffin commented on #6692
Hi @DsanchezPerez, thanks for the report and sorry to hear you're having problems. Would you mind filling out the remainder of the template? That sounds like unexpected behavior and having the repro steps, app version, screenshots, logs, etc. would be helpful in us diagnosing it.

Thanks for understanding and meeting us halfway! 😄

[2019-01-23 16:32] billygriffin commented on #5342
Thanks folks for weighing in on this. We discussed it internally, and based on the feedback we've seen from users, we're inclined to agree that the conflation of "Discard one" and "Discard all" is confusing and makes for a pretty dangerous situation, as @wduquette described above (thanks for explaining how it happened!).

This came about from this issue (https://github.com/desktop/desktop/issues/4

[2019-01-23 16:37] wduquette commented on #5342
"the relatively undiscoverable existing context menu item for "Discard all changes" from the header area": I certainly didn't know that that was there, and it wouldn't have occurred to me to look for such a thing there.  Now that I know it's there, I like it; that's the right place for it, much better than on the context menu for a single file.

Maybe add a "cog" icon to the header, as an indicato

[2019-01-23 16:55] #6645 closed

[2019-01-23 17:03] billygriffin commented on #6689
@PaulViola As long as you're ok with folks potentially pushing back in the PR, feel free to go forth with option 2 since it seems like folks generally think that's a good idea. It doesn't strike me as wildly long to where it's problematic visually. Thanks for showing us the options!

[2019-01-23 18:08] steveward commented on #5223
@ddesmond are you able to view the firewall logs to see specifically what is being blocked?

Can you clarify the exact steps you took here? Did you whitelist the `%LocalAppData%\GitHubDesktop\app-1.6.0` directory?

[2019-01-23 19:55] AlexejheroYTB commented on #6547
It is still reproduce-able in the latest version of GitHub Desktop

[2019-01-23 20:32] billygriffin commented on #5776
I'm going to roll this into #4482 as I think they shouldn't be considered in isolation. The primary question we want to answer is how we deal with protected branches and ensuring that Desktop users have the information they need to be successful (both in getting the right error messages and in not getting into a painful place in the first place).

[2019-01-23 20:32] #5776 closed

[2019-01-23 21:21] allansendagi commented on #2180
This does work! Thanks

[2019-01-23 21:41] tierninho commented on #6588
@Max-Hollywood Stumped as this was hard to reproduce. I  do see a `fatal: refusing to merge unrelated histories` in your logs, which can occur when remotely adding a git repo.

Not sure if this is the culprit, but it looks as it is still an existing issue based on https://github.com/desktop/desktop/issues/1484

As you appear to have resolved the issue, gonna close this for now. Happy to reopen if

[2019-01-23 21:41] #6588 closed

[2019-01-23 21:45] billygriffin commented on #6670
@HilalHakla In addition to what @shiftkey asked above, I'm curious if 1.6.1 that landed today resolved this issue?

[2019-01-23 21:46] billygriffin commented on #6658
Hi folks, this shipped today! Thanks for your patience - I'm curious to hear about your experience using the new feature now that it's not flashing between viewing file diffs! 😄

[2019-01-23 22:33] billygriffin commented on #6429
Let's start with @ampinsk's suggestions above and go from there. cc: @outofambit as I know we discussed the scope on this one.

[2019-01-23 23:32] SimpleBinary opened #6700 "Add Lua and Fortran syntax highlighting."
# Add Lua and Fortran

1. Open a Lua and Fortran file and find that there is no syntax highlighting.

 I have wired up VB syntax highlighting, so I know how to do it and Lua and Fortran are included in codemirror.

I have opened up this discussion to make sure I can add it.

[2019-01-23 23:39] SimpleBinary commented on #6700
If discussion is started, I will
1. Add the files to highlighter-tests
2. Add the languages to the list in `/docs/technical/syntax-highlighting.md`
3. Wireup logic in `/app/src/highlighter/index.ts`

I'm just checking that is everything.

[2019-01-23 23:47] tierninho opened #6701 "Endless spinning of "Switching to Branch" button"
The Switching to Branch button spins forever as it got stuck after publish a repository and then switching branches right away. I cannot click the branch button and see the branch list because of this.

Reproduce:
- make new repo, don't publish
- make new branch and switch to new branch
- publish repo and immediately switch to another branch (be quick!)

![image](https://user-images.githubusercont

[2019-01-24 00:07] billygriffin commented on #6700
@SimpleBinary Thanks for the issue! Just so I'm understanding correctly, you're saying you'd like to add syntax highlighting in Desktop for Lua and Fortran, and that the capability exists in CodeMirror - and you're opening the issue to start a conversation and make sure we're 👍 on it before submitting a PR?

If so, I don't see any reason why we can't support this, but I'd love someone from @deskto

[2019-01-24 00:41] SimpleBinary commented on #6700
@billygriffin Exactly, I'm just making sure you're 👍 before submitting a PR. Ok, I'll wait for someone from @desktop/engineering to be sure.

[2019-01-24 02:49] shiftkey commented on #6700
@SimpleBinary @billygriffin sounds good to me!

[2019-01-24 08:17] lgmorand commented on #6275
with the right link to the documentation for people looking for the information
https://github.com/desktop/desktop/blob/development/docs/integrations/azure-devops.md

[2019-01-24 10:40] CreativeRobotics opened #6705 "Not working on Windows 10"
## Description

Github desktop stopped working on my Windows 10 laptop yesterday. It would refuse to launch at all when you try the first time, then try a second time and it will produce a blank white window. Killing the app returns to the state where it won't launch at all until the second attempt where it produces a blank window again.

I uninstalled everything and reinstalled - NO CHANGE.

## V

[2019-01-24 10:57] CreativeRobotics commented on #6705
Ok, I got it working by uninstalling and then manually deleting all github related directorues in the roaming and local directories, then reinstalling the app.

[2019-01-24 12:39] Bram-Wel commented on #6354
Well, I did install it eventually.
Thank you anyway.

On Fri, Dec 7, 2018 at 9:01 PM Steve Ward <notifications@github.com> wrote:

[2019-01-24 12:48] #6669 closed

[2019-01-24 12:49] #5114 closed

[2019-01-24 12:50] #5605 closed

[2019-01-24 13:39] fuckingsoxx commented on #3816
This happened to me as well, when I read that your repo is a private one as well I decided to make mine public and tried to access it through github desktop afterwards. It worked, hope this helps!

[2019-01-24 14:52] robbie-thompson opened #6706 "Scroll bar stays in place when switching branches"
When changing branches whilst on the history tab, the position of your scroll bar in the history tab stays in place. The history of commits may be entirely different, so it doesn't make sense to keep the scroll bar in place - as you may miss recent commits in the history.

**Do you have any potential solutions in mind?**
When changing branches whilst on the history tab, automatically scroll to the

[2019-01-24 14:54] x6herbius commented on #6670
I was in the middle of writing a bug report for this issue myself, but found this page in the process.

https://imgur.com/a/2W7EbtL

I got it to occur while attempting to convert a Mercurial repo to a Git one:

1. Created an empty Git repository in the usual way with `git init`.
2. Opened the repo with GitHub Desktop.
2. Attempted to push from the Mercurial repository into this new repo folder, as

[2019-01-24 14:59] sorashi commented on #6538
@steveward, thank you very much, the solution works.

[2019-01-24 15:01] shiftkey commented on #6706
@robbie-thompson thanks for the feedback! Which version of the app are you running?

[2019-01-24 15:01] steveward commented on #6705
Thanks for the report @CreativeRobotics. It sounds like you ran into https://github.com/desktop/desktop/issues/4054. I'm going to close this issue out, but please feel free to follow along in that issue for updates about this bug.

[2019-01-24 15:01] #6705 closed

[2019-01-24 15:43] iAmWillShepherd commented on #6706
I was able to reproduce this behavior on the latest version of the app.

![2019-01-24 09 34 10](https://user-images.githubusercontent.com/1715082/51689469-61678e00-1fbc-11e9-9e47-7e6b0896ebdc.gif)

[2019-01-24 15:52] Janpot commented on #2402
@billygriffin As requested, adding these use cases to the ticket:

1.
Right before I commit I usually like to review all my changes in github desktop and basically do a code review of my own commit. Sometimes there are things in there, like console.log that I'd like to revert, or other things that I forgot to clean up. I do want them reverted instead of selected, because I still want to run tests

[2019-01-24 16:12] brianjenkins94 commented on #1593
This is the only reason why I'm still using the Native version.

[2019-01-24 16:46] #5037 closed

[2019-01-24 17:20] LianH commented on #3422
For some added perspective, for me it would be better to have the option to use merge and rebase as specified by me, rather than needing to pick to always use one or the other.

[2019-01-24 20:18] karinz1993 opened #6708 "github went crazy"
watch the vidoe please
https://streamable.com/l445w

I tried to do restart the computer, delete the software and re-install, sign out the account and sign in...
nothing helps...

**please help me :(**

[2019-01-24 20:21] billygriffin commented on #3422
Hi @LianH, thanks for sharing! Would you mind describing under what circumstances you'd choose to use each one?

[2019-01-24 21:04] 0xfeeddeadbeef opened #6709 "Main Menu has become inaccessible on Windows 8.1"
## Description

After the latest GitHub Desktop update, the main menu has become inaccessible. Neither mouse nor keyboard works anymore.

## Version

* GitHub Desktop: 1.6.1   (Funny thing is, 'About GitHub Desktop' menu item is not accessible)

* Operating system: Microsoft Windows [Version 6.3.9600]

## Steps to Reproduce

1. Launch GitHub Desktop
2. Try to click on any main menu items using mou

[2019-01-24 21:06] #6709 closed

[2019-01-24 21:06] 0xfeeddeadbeef commented on #6709
Apparently, this is just new UX: menus will activate after opening a repository.

[2019-01-24 21:09] danyj commented on #6054
I have the same issue now.  Repo history

1. Had public organisation repo
2. Changed owner made repo private
3. Deleted the repo from local and live git
4. Created repo with same name for the org again

now I cannot push http://prntscr.com/mbr79l

I asked Git for support and were advised to Remove all of the files in %APPDATA%\GitHub Desktop\
and restart and see if that worked.

I have well over 3

[2019-01-24 21:09] shiftkey commented on #6709
@0xfeeddeadbeef there was an earlier report of this in #6669, and we talked about how this wasn't the intended behaviour. The next update will contain #6687 which hides the menu completely.

[2019-01-24 21:10] danyj commented on #6054
And yes , when cloning it also places the clone under `Other` . The repo is live, published  and public on Git

[2019-01-24 21:14] shiftkey commented on #5511
Bumping this thread because one of our most recent PRs doesn't seem to be triggering the code coverage checks: https://github.com/desktop/desktop/pull/6707

[2019-01-24 21:35] billygriffin commented on #3580
Hi folks! I wanted to follow up on this and understand a bit more about *when* and *why* you're needing this functionality. I'd love to gather a bit more in terms of what workflows this is enabling. In other words, when are you wanting to force push and therefore overwrite what's on the remote? And is this typically when working on your own or as part of an organization? Force pushing can obviousl

[2019-01-24 22:41] TimeBomb commented on #3580
One of our most common use cases:

1) Person A creates PR with appropriate commits
2) Person B reviews PR, requests changes
3) Person A makes changes, pushes as new commits - making it easy to review the code that has changed since they last reviewed it
4) Person B approves PR
5) Person A **squashes commits and force pushes** before merging PR in

[2019-01-24 23:34] mido1966 commented on #3580
Dankeschön für alle lautet  von ganzem Herzen zum euer Helfa noch mal  Dankeschön

‏‫من الـ iPhone الخاص بي‬

‫في 24‏/01‏/2019 الساعة 11:41 م، كتب/كتبت ‏Jason ‏<notifications@github.com<mailto:notifications@github.com>>:‬

One of our most common use cases:

  1.  Person A creates PR with appropriate commits
  2.  Person B reviews PR, requests changes
  3.  Person A makes changes, pushes as new com

[2019-01-25 01:45] steveward commented on #6708
@karinz1993 can you try to reset GitHub Desktop by following these steps?

1. Close GitHub Desktop
2. Remove all of the files in `%APPDATA%\GitHub Desktop\`
3. Restart GitHub Desktop

Let us know if that gets things working.

[2019-01-25 03:09] KennethSweezy opened #6710 "Wireup Syntax Highlighting for Crystal and Julia"
**Add support for syntax highlighting of Crystal Language and Julia Language**
1. Open a Crystal (.cr) or a Julia (.jl) file
2. Observe that there is no syntax highlighting on the file.

**Wireup CodeMirror to provide syntax highlighting**
Add Julia and Crystal to the syntax highlighting docs.
Add configuration for Julia and Crystal to syntax highlighting file.

At the time of submitting this issu

[2019-01-25 06:14] kiendinhkhoi opened #6711 "I see a bug when use GitHub Desktop"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

When i change my github username, i cant push commit until i sign out and sign in again <3

[2019-01-25 08:18] MarceloRNascimento commented on #3757
Happened to me today. Took a look at the C:\Users\urname\AppData\Roaming\GitHub Desktop\app-xxx folders and noticed that on the last one (app-1.6.1) the GitHubDesktop had 64mb but it was corrupted. Just opened the app-1.6.0, executed the GitHubDesktop on that folder and then proceeded for an update. It worked :)

[2019-01-25 09:15] samiwali commented on #3816
Hi, I solved this issue by creating a personal Token and using it to login from GitHub Desktop.

<img width="828" alt="cretaing personal token" src="https://user-images.githubusercontent.com/6652572/51736350-29c71780-208a-11e9-966b-922c801312ee.png">

[2019-01-25 09:22] kuro68k commented on #6460
#3816

Is that because they only want 5 repos, or because organizing more than 5 becomes a real pain?

I have had 40+ repos at work for various projects because I had to, and anything that encourages people to use more repos instead of single giant repos has to be a good thing.

[2019-01-25 09:31] kuro68k commented on #6460
Tagging is effective and flexible. With the ability to "pin" tags the user could create their own custom views, as well as quickly doing tag searches when required. Tags are somewhat preferable to folders because a project can have as many tags as needed, where as generally it can only be in one folder.

Ideally the tags would sync with Github so that the same search/filtering options are availabl

[2019-01-25 13:30] shiftkey commented on #6642
There's some extra context here that will affect what our options are.

To "remember" your Git credentials there is typically a credential manager configured. GitHub Desktop consciously avoids the credential manager so that it doesn't interfere with your current setup (the last time I looked in this area I believe I saw Git implicitly erasing credentials if authentication failure happened because

[2019-01-25 13:33] shiftkey commented on #6642
Putting this back to `user-research` so we can understand more about the LFS usage

[2019-01-25 14:12] #6466 closed

[2019-01-25 14:12] #6700 closed

[2019-01-25 14:13] #6689 closed

[2019-01-25 14:55] KennethSweezy commented on #6710
Alright I will begin work on this.

On Fri, Jan 25, 2019, 7:27 AM Brendan Forster <notifications@github.com
wrote:

[2019-01-25 14:56] JoFAM commented on #6642
I can `git pull` to get the hash references, but I need to go to the bash to do `git lfs pull` to download the actual files. And that's where I need to set up my own git installation with the right credentials, as it won't download the files otherwise.

So if I can get around the bash to download the actual files from a repo I cloned, the problem is solved as well. Note that this occured when I cl

[2019-01-25 15:13] steveward commented on #6711
Thanks for the report @kiendinhkhoi. This is similar to #6453, which is about when a password changes.

This is because the token that is stored by GitHub Desktop when you authenticate with your GitHub account is associated with a specific username and password. You can see that in the log file:

`2019-01-25T14:55:25.974Z - info: [ui] [AppStore.withAuthenticatingUser] account found for repository:

[2019-01-25 15:13] #6711 closed

[2019-01-25 15:15] shiftkey commented on #6642
@JoFAM thanks for that extra context. We ship Git LFS inside Desktop, and should be asking you to initialize the repository for Git LFS if it detects rules in your `.gitattributes` (see dialog in https://github.com/desktop/desktop/pull/2619). This installs the hooks that Git LFS needs:

[code]

Ideally those hooks (which run before or after specific Git commands) should then invoke the necessary G

[2019-01-25 15:46] outofambit commented on #6586
@say25 what are your thoughts on using a success/failure result type? is that something you'd be interested in proposing a solution for?

[2019-01-25 16:44] legoman8304 opened #6712 "GitHub desktop repository changing repo names automatically"
I’m having a continuous problem with my GitHub desktop (windows 10, GitHub desktop build 1.6.1). This is much like error #5055 but the steps used there do not work for me. I have a repo (let’s call it repo A) that I have made a website by hand on. Uploading all the files and changes. I also have another repo (repo B) which I am trying to use with GitHub pages to host my site temporarily. Now when

[2019-01-25 17:32] tierninho commented on #6712
thanks for filing @legoman8304

Can you attach the full log files? The Help | Show Logs in Finder menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

[2019-01-25 17:48] say25 commented on #6586
It makes sense to me. Maybe if you or a core team member knocked out the first one I could do the rest?

[2019-01-25 18:20] tierninho commented on #6299
I can repro this in v1.6.0-beta3 with the following steps:

- Select branch A in branch list
- Select branch B in compare list
- Select branch B in branch list

<img width="567" alt="screen shot 2019-01-25 at 10 20 06 am" src="https://user-images.githubusercontent.com/14828183/51764770-dd300c00-208a-11e9-845f-d0d751e6bb9d.png">

[2019-01-25 18:31] billygriffin commented on #6674
Thanks for the input y'all. We're going to regroup on this a bit more internally before deciding which way to go on this one. Generally, we want to be very intentional about how we use the "No local changes" area to ensure that it best enables the things we think make people most productive. One thing we're doing to validate that is to measure usage of the existing items (that's TBD for me to make

[2019-01-25 18:42] billygriffin opened #6714 "[Metrics] No local changes / suggested next steps usage"
We shipped suggested next steps in the "No local changes" view in 1.6, and it would be helpful to start to get a feel for how those are being used to help us optimize what we enable through that, and help us think about how we consider additional things to highlight and potentially things to remove in that area.

1. Number of times opening the repo in their external editor.
2. Number of times are

[2019-01-25 19:03] legoman8304 commented on #6712
Absolutely, it started on 1-23-19.
[2019-01-09.desktop.production.log](https://github.com/desktop/desktop/files/2797438/2019-01-09.desktop.production.log)
[2019-01-10.desktop.production.log](https://github.com/desktop/desktop/files/2797439/2019-01-10.desktop.production.log)
[2019-01-11.desktop.production.log](https://github.com/desktop/desktop/files/2797440/2019-01-11.desktop.production.log)
[2019

[2019-01-25 19:07] Danisca121 opened #6716 "32 бин есть githab? а то у меня не грузит 64 бин банка на 32"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-25 19:13] shiftkey opened #6718 "[feature flag] cleanup enableFileSizeWarningCheck()"
This is related to #6013 which was [enabled for all users](https://github.com/desktop/desktop/commit/a616d04c19ace741f9b15abb5d882c3da6915445) in `1.6.0` (just over a week ago).

So far we've not heard any feedback about whether we need to back out from doing the checks and showing this UI, so when we're happy to continue with this flow we should cleanup the feature flag and any related code paths

[2019-01-25 19:16] shiftkey opened #6719 "[feature flag] cleanup enableStatusWithoutOptionalLocks()"
This was a performance tweak in #5376 and was [enabled for all users](https://github.com/desktop/desktop/commit/ccec71f0880a7bee9605ccab5d397e3918186321) in `1.5.0` (over two months ago).

If we're fine with keeping this behaviour around for `getStatus`, let's tidy up the feature flag and any related dead code.

[2019-01-25 19:50] hfsam commented on #6693
对不起，我不明白!

[2019-01-25 20:07] billygriffin commented on #5342
Thanks @ampinsk!

I'm going to go ahead and add `help wanted` here since it's clear what the initial three steps are, but please let us know if you have questions. Agreed that we hold off on (4) unless it becomes more clearly needed, and I think with the first three we can close this issue.

Please let us know if you're interested in picking this one up!

[2019-01-25 21:01] iAmWillShepherd commented on #6716
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2019-01-25 21:01] #6716 closed

[2019-01-26 00:38] justingolden21 opened #6722 "2 Finger Scroll Lags Software, Crashes PC"
## Description

Sometimes, when using GitHub Desktop, after having made changes, I accidentally use 2 finger scroll on my touchpad. This immediately lags GitHub Desktop severely and I am unable to do anything else on it, and can't even close the program.

## Version

1.6.1

## Operating system:

Microsoft Windows [Version 10.0.17134.523]

## Steps to Reproduce

1. Open GitHub Desktop
2. Make chang

[2019-01-26 00:42] justingolden21 commented on #6722
I tried to upload the profile.json however it said "We don't support that file type."So I tried going to pastebin however there are 59,716462 characters and it crashed the page. So I tried to attach it as a .txt file however it's saying the maximum file size is 10mb. I can create a repo just for the file if necessary, just let me know.

[2019-01-26 03:55] PrecursorsLegacyDev opened #6723 "Unreal Engine 4 Project not uploading all files"
## Description

## Version

* Operating system:
Windows 10

## Steps to Reproduce

1. I make a new repository on google chrome
2. I connect to the repository on the desktop app
3. I publish to source
4. Half of my files are missing

### Expected Behavior
I expected to upload all of the files in my folder for the desktop app

### Actual Behavior
It only uploads a few and leaves the main ones un-upl

[2019-01-26 08:22] Doppp opened #6724 "GitHub Desktop Faulty UI"
## Description
I am getting a buggy desktop UI on my Windows 8.1 machine. See below screenshots for clearer picture of the issue.

## Version
* GitHub Desktop: 1.6.1
* Operating system: Microsoft Windows 8.1 Pro 6.3.9600 N/A Build 9600

## Steps to Reproduce

### Expected Behavior
The app is supposed to look like this (I'm using my Windows 10 machine here just as a comparison):

![no_bug](https://

[2019-01-26 08:27] Doppp opened #6725 "GitHub Desktop Using Old Profile Picture Even After Removing Picture"
## Description
I removed my old profile picture from GitHub and on my web profile it shows the identicon. However, my desktop app is not updated to reflect that. It still shows my previous picture from Gravatar. Signing in and out of the app doesn't change the picture.

## Version
* GitHub Desktop: 1.6.1
* Operating system: Microsoft Windows 10 Version 10.0.17134.523

## Steps to Reproduce

### Ex

[2019-01-26 10:19] rmsmani opened #6726 "Diff highlighting in split view"
Currently GitHub shows the diff in the united view.  As a developer it's good to have the different in the split view (ie display the changes side-by-side)

[2019-01-26 12:59] Satyampc opened #6727 "Page not loading"
![page not loading](https://user-images.githubusercontent.com/40965826/51787481-8258ec00-2140-11e9-9a7b-c042dfb49e08.png)

Hello,

Whenever I try to check my Web Page online it would not open the page, rather than that it takes me to Google Search page.

Please find the attached copy of this issue.

Thank You

Satyam

[2019-01-26 15:11] Satyampc commented on #6727
How foolish I was, but thanks for your help.

Best

Satyam

[2019-01-26 16:39] AlexeySinushkin opened #6728 "app executes shortcut when user wants to change language inside text input"
Hello, native speakers

When I want to commit
1. put cursor to Summary field
2. I see that current language is ENG (WIn10)
3. Press Ctrl+Shift -> language switch
4. try to type -> menu opening instead of enter any character

[2019-01-26 16:58] #6727 closed

[2019-01-26 17:21] #6467 closed

[2019-01-26 17:35] shiftkey commented on #6726
@rmsmani thanks for the feedback. We're tracking this over in #172 (you might not have seen it because it's closed, but it's marked `future-proposal` so we can track it), so please follow along with that issue.

[2019-01-26 17:35] #6726 closed

[2019-01-26 19:09] adamreisnz commented on #6460
@kuro68k

I also missed the sidebar originally, but you can bring it up with `CMD-T` now, and the search box gets focus automatically, so it's pretty quick still to access the sidebar once you get used to it.

[2019-01-26 20:49] rmsmani commented on #6726
@shiftkey
Thanks for the consideration

[2019-01-26 21:51] #6693 closed

[2019-01-26 21:52] #5328 closed

[2019-01-26 21:52] #5438 closed

[2019-01-26 22:02] say25 commented on #6724
Thanks for the report, this looks like a duplicate of #6669. This issue will be fix in the next release of GitHub Desktop 1.6.2.

[2019-01-26 23:51] SafelySwift commented on #6624
Anyone there?

[2019-01-26 23:55] SafelySwift commented on #6624
[2019-01-26.desktop.production.log](https://github.com/desktop/desktop/files/2799619/2019-01-26.desktop.production.log)

[2019-01-27 11:09] kkadane opened #6729 "Git clone fails with timeout"
## Description

I'm not able to clone code using Github Desktop. Cloning fails with "Failed to connect to 172.30.0.7 port 3128: Timed out"

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-27 11:09] kkadane commented on #6729
I do not use any proxy settings on my windows laptop

[2019-01-27 17:58] SafelySwift commented on #6624
Alright, I accdiently made the source code subdirectories. Now you can't access them

[2019-01-27 17:59] SafelySwift commented on #6624
https://github.com/SafelySwift/Swizzle/tree/swizzle-1.0/Source/Code

[2019-01-27 17:59] SafelySwift commented on #6624
and https://github.com/SafelySwift/Swizzle/tree/swizzle-1.0/Source/Sneak%20Peek

[2019-01-27 18:27] ELO1SA opened #6731 "Auto start Github desktop when system starts"
I suggest the Github Desktop app to include auto startup feature. I understand that this could be manually solved by adding a shortcut into the startup folder. However, I do think it would be much nicer to have this function available in one-click in settings since probably a lot of users using this app are going to need it almost everytime that they start their computer(myself included).

On the

[2019-01-27 22:02] 0xfeeddeadbeef commented on #6709
Oh, nice. Looking forward to it.

I've searched for any similar issues before posting this — did not know it was called 'App Menu'.

[2019-01-28 00:20] harisriaz17 commented on #2213
**The push operation includes a file which exceeds GitHub's file size restriction of 100MB. Please remove the file from history and try again.**

I'm facing a similar issue when pushing a 2GB project initialized with git LFS. I have no 100MB file in there, yet it still gives me that error. Note: I'm pushing through the desktop client.

[2019-01-28 07:20] dacapoday opened #6732 "[Layout Error] The button is hidden when the repository list too narrow"
## Description
When setting the left panel to the minimum width, and click the "Current repository". I found that the "Add" button could not be fully displayed. this also happens in dark theme.

![image](https://user-images.githubusercontent.com/9378047/51819596-f4326080-230d-11e9-9b10-c56182b6252f.png)

## Version
* GitHub Desktop: 1.6.1
* Operating system: Windows 10

[2019-01-28 10:18] white-sdev commented on #4231
I created a new Chrome profile and it works on my old profile but in the new one it takes me directly to the download website(no prompt) even when having the desktop application open.
(Obviously it is something related with Chrome profiles)

[2019-01-28 10:32] CreativeRobotics commented on #6705
So after using it twice the issue cropped up again - at this point if this continues I would regard the application as totally unuseable on windows 10.

[2019-01-28 10:49] ozinisle opened #6733 "no changes were made and yet the file is being marked as changed"
## Description
I did not make any changes to package.json. But it is being displayed in the "Changes" tab for no reason and would not go away.

## Version
1.6.1
* GitHub Desktop:
Windows 10 Enterprise
* Operating system:

## Steps to Reproduce
1. Open github desktop
2. Select current repository
3. Package.json was being displayed along with the other changes, while it really had no changes to disp

[2019-01-28 13:19] #6712 closed

[2019-01-28 13:21] legoman8304 opened #6734 "Repo titles changing and syncing with other repos on github desktop"
I’m having a continuous problem with my GitHub desktop (windows 10, GitHub desktop build 1.6.1). This is much like error #5055 but the steps used there do not work for me. I have a repo (let’s call it repo A) that I have made a website by hand on. Uploading all the files and changes. I also have another repo (repo B) which I am trying to use with GitHub pages to host my site temporarily. Now when

[2019-01-28 15:10] billygriffin commented on #6624
Thanks @SafelySwift!

@shiftkey @steveward Before we close this issue, I wonder if there's a way to surface a better error message. Maybe not, but just wanted to check as it's unfortunate that we don't give the user any way to know what might be causing the issue in this type of case.

[2019-01-28 15:34] bctry opened #6735 "make github to public from private"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-01-28 15:56] shiftkey commented on #6624
@billygriffin here's some of the context about the error:

[code]

Note the specific output here -  these are directories when `git status` runs but they likely have a `.git` directory inside (so Git wants to handle them as submodules) and it won't let the user commit them (even if they have checked them in the app).

#1870 seems to be the best issue to bump with the information listed here, rathe

[2019-01-28 17:35] steveward commented on #6722
Thanks for the detailed report @justingolden21. Are you able to grab the log file by going into GitHub Desktop and selecting `Help` > `Show Logs in Finder`? Please upload a log file from a day where you experienced the issue.

Are there a large number of uncommitted changes when you scroll through the list? Have you experienced crashes when working with a smaller list of changes?  Any specific det

[2019-01-28 17:42] steveward commented on #6723
Thanks for the report @PrecursorsLegacyDev.

Is it possible that these project files are being ignored in the .gitignore file in the root of your repository? There's a recommended .gitignore file for Unreal Engine 4 that ignores quite a few files, since they are not recommended to be stored in version control:

https://github.com/github/gitignore/blob/master/UnrealEngine.gitignore

You can view th

[2019-01-28 18:13] steveward commented on #6735
@bctry you can read this help article for a walkthrough of how to change your repository's visibility on GitHub:

https://help.github.com/articles/setting-repository-visibility/

Hope that helps!

[2019-01-28 18:13] #6735 closed

[2019-01-28 18:38] JensLodberg opened #6736 "Error upon publishing or cloning repository"
## Description

## Version

* GitHub Desktop: 1.6.1

* Operating system: Windows 10 Home version 1803

## Steps to Reproduce

### Expected Behavior

Cloning or publishing said repository
### Actual Behavior

Error window pops up with following text:
find: '/I': No such file or directory
find: '/N': No such file or directory
find: 'SoundMixer.exe': No such file or directory
find: '/I': No such file

[2019-01-28 18:43] DorothyLindman commented on #6460
When you decide on the UX around this issue, please remember to add something into the documentation or help files explaining what the grouping scheme is, what the icons mean, etc. In about 15 minutes of searching, I haven't found anything that explains this.

(Is there any maintained documentation on how to read the UI? I wrote a brief intro several months ago, but it's already out of date, and I

[2019-01-28 18:51] kuro68k commented on #6460
It seems like some of the tagging could be automatic, e.g. language used.

I was in a company with hundreds of repos, initially organized in a hierarchy. We found that tags were a much better solution.

[2019-01-28 19:34] steveward commented on #6725
Thanks for the report @Doppp. This is likely due to your old avatar being cached -- you should be able to fix this by manually deleting the `GitHubUserDatabase` in Developer Tools. Here's how to do that:

1. Go to the menu in GitHub Desktop and select `View` > `Toggle Developer Tools`
2. Go to `Storage` > `IndexedDB` > `GitHubUserDatabase`
3. Select `Delete database`
4. Close and restart GitHub De

[2019-01-28 19:35] steveward commented on #6724
I'm going to close this out as a duplicate -- thanks again for the report @Doppp!

[2019-01-28 19:35] #6724 closed

[2019-01-28 19:36] shiftkey commented on #6729
@kkadane thanks for the report!

Could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

[2019-01-28 19:38] shiftkey commented on #6724
@Doppp thanks for the feedback!

As @say25 mentioned, this is something we fixed in #6687 and will go out with the next update.

[2019-01-28 19:43] j0rdnh commented on #1634
+1 for this feature, I'll be switching back to SourceTree until it's added.

[2019-01-28 20:15] shiftkey commented on #6731
@ELO1SA thanks for the suggestion! We don't currently have plans to support this, and it's not clear to us how much interest there is in the feature.

As a workaround I'll point to [this guide](https://lifehacker.com/how-to-start-a-program-automatically-when-your-computer-5829375) for macOS and Windows. On Windows you can point to the executable at `C:\Users\[account]\AppData\Local\GitHubDesktop\G

[2019-01-28 20:15] #6731 closed

[2019-01-28 20:16] shiftkey commented on #6732
@dacapoday thanks for the report!

This feels very similar to #6646, so I'm going to cross-reference that there rather than track this as a separate issue.

[2019-01-28 20:16] #6732 closed

[2019-01-28 20:38] shiftkey commented on #6736
@JensLodberg thanks for the report! This feels like an old issue related to mining malware: https://github.com/desktop/desktop/issues/3604#issuecomment-352192406

Let us know if [this link](https://social.technet.microsoft.com/Forums/windows/en-US/9fb738ab-2f3d-4a07-ac8a-173d63a47f87/cmd-not-working-due-to-an-error-the-error-occurs-on-practically-everything?forum=win10itprogeneral) helps to resolv

[2019-01-28 20:39] #6736 closed

[2019-01-28 20:59] JensLodberg commented on #6736
Yes! this was perfect, thanks so much.

[2019-01-28 23:12] steveward commented on #6734
Thanks for the report @legoman8304. The local repository name should reflect the remote repository name when cloning a repository from GitHub, but a repository can point to a repository `origin` URL that has a different name than the local repository.

A few questions:
- Have you tried cloning the repository to a different directory to see if you you can reproduce this issue?
- Can you share the s

[2019-01-28 23:12] steveward commented on #6734
@legoman8304 it would also be helpful if you could upload the log file from GitHub Desktop.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Finder (macOS) or Explorer (Windows)`.

The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue.

[2019-01-29 00:03] steveward commented on #6605
@OneDev99 do you also run into this issue when attempting to clone a repository from the command line using the `git clone` command? If not, try [downloading Git for Windows](https://git-scm.com/download/win) and running a `git clone <REPO_URL>` to see if the same issue occurs. That will help narrow down if your something on your machine is flagging that specific file.

[2019-01-29 00:36] zestysoft commented on #78
I've been using this successfully with my yubikey on Ubuntu 18.  The yubikey has a pin.

However, today, it has decided not to work: "Commit failed - exit code 128 received, with output:" error: gpg failed to sign the data fatal: failed to write commit object'
1.5.1-linux2 (Linux 4.15.0-43-generic)

Oddly, the log file isn't showing the required sign switch:
2019-01-29T00:33:22.871Z - error: [ui]

[2019-01-29 00:42] ericwilliamsneu opened #6738 "App barely responds"
## Description

After a long time away from the Desktop app, I've attempted to open it up with the intent of cloning some additional repositories. After waiting about 30 minutes for the app to become responsive, I killed the task and launched it again to the same results. Uninstalled and reinstalled, which took about an hour, only to find the same behavior. When the GUI finally loads, it's stuck s

[2019-01-29 01:11] steveward commented on #6738
Thanks for the report @ericwilliamsneu. Could you upload a log file from the day you launched GitHub Desktop? That should give us some more information about what may be causing this slowdown.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Finder (macOS) or Explorer (Windows)`.

The log files are created daily -- please send over a log file as an a

[2019-01-29 01:53] Doppp commented on #6725
Apologies @steveward, I can't find `Storage` > `IndexDB` > `GitHubUserDatabase`.

After selective `View` > `Toggle Developer Tools`, I get the following:

![dev](https://user-images.githubusercontent.com/627410/51878722-9b190a00-23ab-11e9-9bc2-4bb4396173f0.png)

[2019-01-29 02:50] KennethSweezy commented on #6725
Hmm, I am unsure about why it didn't update... Maybe it is cached somewhere else?

[2019-01-29 04:04] AlexeySinushkin commented on #6728
Hello,  Brendan
I guess you never switch language before,  but this buttons bunchs used since windows 98 or 95.
Ctrl+Shift or Alt+Shift
And if conflict present, your program should give way.
--
Отправлено из Mail.Ru для Android вторник, 29 января 2019г., 02:30 +08:00 от Brendan Forster  notifications@github.com :

[2019-01-29 04:58] billygriffin commented on #6460
Thanks for the perspective folks - we're working through a few other things and still digesting this so sorry for the delay, but this is all helpful context and we appreciate it.

Hi @DorothyLindman! I'm curious what specifically you're referring to. Do you mean related to this issue or more generally in GitHub Desktop? If you'd be willing to chat about that separately, I'd love it if you'd fill o

[2019-01-29 05:00] billygriffin commented on #1870
I wanted to reference this https://github.com/desktop/desktop/issues/6624#issuecomment-458187506 from #6624 so we capture it in a single place, thanks @shiftkey for the context.

[2019-01-29 05:01] billygriffin commented on #6624
Thanks @shiftkey, closing in favor of #1870.

[2019-01-29 05:01] #6624 closed

[2019-01-29 06:00] justingolden21 commented on #6722
I've created a public repo for the text file [here](https://github.com/justingolden21/github-desktop-log-scroll-issue).

As for the number of changed files, any number >= 2, and even two small files have this problem.

Thank you for looking into this issue.

[2019-01-29 14:39] shiftkey commented on #6728
I sometimes have this setup to catch things related to using different input languages, but it's been a while because I tend to nuke my test environments regularly.

I enabled this again and checked what my keyboard setting was, and it's defaulting to <kbd>Alt</kbd> + <kbd>Shift</kbd> - this is handy because we avoid using <kbd>Alt</kbd> in our shortcuts.

<img width="434" src="https://user-images

[2019-01-29 15:14] AlexeySinushkin commented on #6728
May be you are right.  But I use blinde typing mode and it is very easy to switch using ONE thumb.  Attachment.
--
Отправлено из Mail.Ru для Android вторник, 29 января 2019г., 22:39 +08:00 от Brendan Forster  notifications@github.com :

[2019-01-29 16:54] #6719 closed

[2019-01-29 17:12] Iltaf123 opened #6741 "i cannot upload project to my repositery"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-29 17:15] tierninho commented on #6741
@Iltaf123  thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-29 17:15] #6741 closed

[2019-01-29 18:57] steveward commented on #6668
@Serkonda I'm glad to hear you were able to get things working. Everything looks correct in your repository configuration output. I am going to close this issue out, but please let us know if you encounter this issue again.

[2019-01-29 18:57] #6668 closed

[2019-01-29 19:24] tierninho commented on #6725
@Doppp It still appears to be a caching issue on your computer, as I can see your new identicon.

<img width="193" alt="screen shot 2019-01-29 at 11 18 10 am" src="https://user-images.githubusercontent.com/14828183/51934368-4203a300-23b8-11e9-9a40-1ee4f2e7882d.png">

Have you tried signing out then back in to your account on Desktop? I'd also suggest switching to a new repo. See the Options menu i

[2019-01-29 20:46] shiftkey commented on #4231
@white-sdev were you signed into GitHub at the time?

[2019-01-29 20:49] billygriffin commented on #3580
Hi @TimeBomb, thank you for the description! I'm curious why the squash and merge can't just happen when the PR gets merged, instead of needing to squash locally and force push?

<img width="405" alt="screen shot 2019-01-29 at 12 48 24 pm" src="https://user-images.githubusercontent.com/5091167/51939426-46ce5400-23c4-11e9-8cdb-a8f783b663ed.png">

[2019-01-29 21:10] n8vision commented on #4054
Same problem, accessing headless Mac mini through remote screen sharing.

[2019-01-29 21:43] TimeBomb commented on #3580
Hey @billygriffin, good point. My team is aware of `Squash and merge` but hasn't used it because we assumed, per the `squash` terminology, that the feature combined the commit messages of all commits in the pull request.

In our case, only the original commit contained the title and description we wanted to merge.
In the scenario I mentioned, the original commit would contain information about the

[2019-01-29 22:50] TimeBomb commented on #3580
An unrelated, alternative use case to why one may force push:
1) I create a PR with 1 commit
2) I realise shortly after-the-fact that either code in the the commit or the commit title/description itself had a typo or bug.
3) I fix that issue, amend the commit with the minor code change I just made, and force push it to the branch.
Don't want to add unnecessary commits, especially if someone hasn't

[2019-01-29 22:50] Sergio1C commented on #1634
and me bro

[2019-01-29 22:57] TheGrimSilence commented on #6460
I guess I'll add to this. There are a variety of ways the organization can be done.

Virtual folders, groups, etc, are all nice. The organization is a very tedious task, and maintaining it is a pain. I personally recommend a form of multi-layered organization. Anywhere between visual hints to actual rendering changes can be helpful.

## Visual Hints
### Public vs Private
One of the issues we immed

[2019-01-29 23:11] jaketyo commented on #1634
I'm still using the legacy desktop. Still works very well!

Makes me wonder why so much development effort is going into a tool that the community strongly feels is worse.

[2019-01-29 23:17] crazymaribell commented on #6527
I can't sign in. The pc I was using says albivor and won't turn on

On Wed, Jan 2, 2019, 8:56 PM Steve Ward <notifications@github.com wrote:

[2019-01-29 23:19] kinghuang commented on #1634
Yeah, I'm still using the legacy desktop app, too. Graph aside, the new app just doesn't work as well as the legacy app.

[2019-01-29 23:47] kinghuang commented on #1634
@kireerik True, the new app's improved since it's original launch.

The biggest issue I have, other than the lack of a graph, is that I can't work with multiple repositories simultaneously. With the legacy app, I can have multiple windows and tabs open to easily work with several repositories at once. No such option on the new one. And, the lack of a permanently visible repositories list makes it

[2019-01-30 00:50] kireerik commented on #1634
@kinghuang Yes. I am using legacy too. Mostly because the layout including the visible repository list is much better.

[2019-01-30 02:14] Doppp commented on #6725
Yeah I also signed in and out and switched repos. Very odd. Not sure where else it's cached on my computer.

[2019-01-30 03:19] KennethSweezy commented on #5496
Is there a particular reason this issue is still open? If it has been completed shouldn't it be closed?

[2019-01-30 04:11] steveward commented on #6734
Thanks for sending over the logs @legoman8304. Here's what I'm seeing in the log:

[code]

It looks like you are cloning the `Farm-Bureau-Site` into the `legoman8304.github.io` directory -- are you expecting `legoman8304.github.io` to be the local repository name?

For reference, if you are trying to use GitHub Pages you can either do a project page or a user page:

https://help.github.com/article

[2019-01-30 05:06] Doppp commented on #6725
Note: Uninstalling and reinstalling the app also doesn't solve this issue.

[2019-01-30 05:12] steveward commented on #6705
@CreativeRobotics I'm sorry for the trouble. Unfortunately this specific issue has been difficult for us to reproduce directly, but we are tracking it in #4054. You can follow [these specific steps](https://github.com/desktop/desktop/issues/4054#issuecomment-367567297) to get things working without needing to fully uninstall GitHub Desktop.

[2019-01-30 05:14] Doppp commented on #6725
I managed to solve this by deleting the app, deleting everything in `C:\Users\<username>\AppData\Local\GitHubDesktop` and `C:\Users\<username>\AppData\Roaming\GitHub Desktop` and then doing a clean install of the app. Thanks all!

[2019-01-30 05:14] #6725 closed

[2019-01-30 06:16] billygriffin commented on #6655
Hi @paberglund, this seems really frustrating and thanks for the report. Without having a bit more information from what @steveward asked above, there's not a whole lot we can do here, so I'm going to close this issue for now, but please let us know if you're able to provide logs for when this occurred and we'd be happy to look into it further.

[2019-01-30 06:16] #6655 closed

[2019-01-30 09:44] WojTherapy commented on #6562
Same issue here guys.

[2019-01-30 11:14] #6605 closed

[2019-01-30 11:49] komalsiddhapura commented on #4054
it's working:👍

[2019-01-30 12:52] arifsanadi opened #6747 "issue in committing"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-30 13:59] DsanchezPerez commented on #6692
That is fine, I updated GIT to 2.20 and the issue was resolved.

From: Billy Griffin <notifications@github.com>
Sent: Wednesday, January 30, 2019 1:07 AM
To: desktop/desktop <desktop@noreply.github.com>
Cc: David Sanchez <David.Sanchez@tribridge.com>; Mention <mention@noreply.github.com>
Subject: Re: [desktop/desktop] Disabled menus after fetching main development branch (#6692)

Hi @DsanchezPerez

[2019-01-30 14:02] billygriffin commented on #6747
Hi @arifsanadi, thanks for the issue. Would you mind filling out the rest of the template so we can understand what's going on? Unfortunately without that additional information there's no way for us to look into your issue further. Thanks for understanding and meeting us halfway. 😄

[2019-01-30 14:36] billygriffin commented on #6692
Great to hear, thanks!

[2019-01-30 15:16] shiftkey commented on #5496
@KennethSweezy I don't believe we've resolved some of the tasks in the list on that first comment

[2019-01-30 15:50] mbenlarb opened #6748 "Version error"
Github desktop keeps on showing this error when fetching : "Version error : the requested version (30) is less then the existing version (40)"

[2019-01-30 16:06] billygriffin commented on #6748
Hi @mbenlarb! Would you mind filling out the template included when you make a new issue to help us troubleshoot? We ask for this so we our maintainers have enough information to properly diagnose and hopefully fix problems when they occur. You can find the template [here](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and respond to this issue with those extra details. Than

[2019-01-30 17:23] j-f1 commented on #3580
@TimeBomb When you opt to squash and merge, GitHub gives you a UI to edit the message for the squashed commit:

![screenshot 2019-01-30 at 12 23 35](https://user-images.githubusercontent.com/25517624/51999939-e30e5e80-2489-11e9-917f-d702357231fc.png)

[2019-01-30 17:34] #5764 closed

[2019-01-30 18:12] ArthurSilveira commented on #3580
@billygriffin for me it happens when I'm working on a feature branch by myself and someone else merges something to master before I'm done.

I then rebase my branch against master

`git rebase master`
`git push --force-with-lease`

[2019-01-30 18:25] Nusi12 opened #6749 "a girl"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-01-30 18:25] #6749 closed, assigned to nobody

[2019-01-30 19:30] SosHakobyan opened #6750 "GitHub lets you version your code, collaborate with others, and share what you’ve built with the world. We’re excited to see what you make."
S

[2019-01-30 19:30] SosHakobyan opened #6751 "Sos Hakobyan"

[2019-01-30 19:32] shiftkey commented on #6750
@SosHakobyan thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-01-30 19:32] #6750 closed

[2019-01-30 19:33] #6751 closed

[2019-01-31 09:08] CQHofsns commented on #2738
You save my time

[2019-01-31 09:34] surelook opened #6752 "CI Status is not displaying in PR Badge"
CI Status is missing from PR badges as shown in the below screenshot. In this example the build status has succeeded.

![image](https://user-images.githubusercontent.com/25017570/52044775-d72ea500-253a-11e9-9d6f-1391c3305acd.png)

[2019-01-31 14:34] lostminds opened #6753 "Show summary of changes/commits when pull origin is available"
When there are commits available you haven't got on your local machine it would be nice to get some information about what these changes are, and not just the count of the commits in the Pull origin button.

Being new to github the fact that you only get the "Pull origin" button, without any indication what "Pull origin" means was quite confusing to me. I was expecting there to be a list of change

[2019-01-31 15:32] FerretedHeart opened #6754 "Authentication Failed after adding an existing repo"
## Description

I installed GitHub Desktop and added an existing repo from my hard drive which was already an existing git repo as using git bash works fine. However, I get an authentication failed error when I try to fetch, even though it recognizes recent changes and commits.

## Version

* GitHub Desktop:
Version 1.6.1

* Operating system:
Microsoft Windows 10 Enterprise

## Steps to Reproduce

[2019-01-31 19:00] steveward commented on #6754
Thanks for contributing @FerretedHeart. It looks like you are using SSH with this specific repository, but GitHub Desktop is not able to find a valid key associated with your account:

[code]

There are a couple of solutions to this:

1. Change your repository to use a HTTPS `origin` remote URL instead of SSH. You can do this in GitHub Desktop by going to the menu and selecting `Repository` > `Rep

[2019-01-31 19:00] #6754 closed

[2019-01-31 19:31] outofambit commented on #6753
Hi @lostminds thanks so much for filing this issue. I think this is an excellent opportunity for us to do some design and research to understand this better. Would you mind sharing a bit more about your experience? It sounds like the primary pain point here is lack of signaling about what the button will do, is that right? I'm also curious if what you saw in the list would influence whether you de

[2019-01-31 19:54] FerretedHeart commented on #6754
The first one is definitely not an option as it's my company repo.

I tried the suggestion on number 2. Although now I don't get the error message, fetching doesn't end. Progress, I suppose.

Sent from my iPhone

[2019-01-31 20:15] lostminds commented on #6753
Well, I think the main issue I have is that the interface is now saying "there are some new changes for you", and while it's fine that you can just say "great, get them for me" immediately (Pull origin), I would find it natural to at least offer the user to tell them what the changes are before and/or after deciding to get them. Perhaps to give the user information as to what will happen when pull

[2019-01-31 20:51] steveward commented on #6752
@surelook thanks for the report. I just tested this out on my machine and was unable to reproduce this issue. Are you seeing this problem across multiple repositories in GitHub Desktop?

If you need another repository to try and reproduce this in you can go to the [PR page for GitHub Desktop](https://github.com/desktop/desktop/pulls) and click `open this in GitHub Desktop` at the bottom of the PR.

[2019-01-31 22:41] adamosoftware opened #6757 "ability to view branch comparison as file tree (not just commit list)"
My team is in the process of transitioning from TFS to GitHub. We're .NET/Visual Studio users, and one thing we're getting hung up on is that there doesn't seem to be a tree view of impacted files in a branch comparison. I found the /compare URL trick for GitHub, and that's pretty cool, but it's kind of a reach from VS to go there every time we want a branch comparison, and there's no file tree vi

[2019-01-31 22:58] steveward commented on #6754
If you are using GitHub Enterprise then it should support both HTTPS and SSH, unless there is a specific rule in place requiring the use of SSH. You won't be changing anything about the repository on the server side. If you are logged in to GitHub Desktop with your GitHub Enterprise account you should be able to use HTTPS without issue.

[2019-02-01 03:37] spitWind commented on #6433
GitHubDesktop --inspect 可以调试主线程~.~

[2019-02-01 03:55] spitWind commented on #3178
Add fork implementation code to your own fork git, then you forget what you are going to do
@davesmiths
They are not charitable

[2019-02-01 12:37] surelook commented on #6752
I can't say to be honest. It's a private repo and it's not owned by me. I was only hoping to gather information from the desktop side since the CI status is a nice-to-have in the UI. The only thing do I know is that the status stopped appearing about 4 months ago.

I've inspected the status requests for the commits and I can see that responses for commits within the past 4 months have empty 'statu

[2019-02-01 15:04] jonico commented on #2437
@joshaber @shana: would this project help for inspiration: https://github.com/S2-/gitlit

There is still no general purpose Git client out there that supports file locking, would be a great opportunity ☺️

[2019-02-01 15:14] Nathananan commented on #1634
Shocking there isn't a branch graph. Its super useful. If its not on your current roadmap then your roadmap is wrong imo...

[2019-02-01 17:33] #6748 closed

[2019-02-01 17:33] #6747 closed

[2019-02-01 17:36] #6729 closed

[2019-02-01 17:37] tierninho commented on #6738
@ericwilliamsneu As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-02-01 17:37] #6738 closed

[2019-02-01 17:38] j-f1 commented on #1634
Proposal: put the graph view above the diff shown when comparing two branches.

[2019-02-01 19:36] tierninho commented on #6708
@karinz1993 As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help.

Please follow along in https://github.com/desktop/desktop/issues/6670 as it appears to be the same issue. Thank you.

[2019-02-01 19:36] #6708 closed

[2019-02-01 21:23] pomplesiegel commented on #1633
I really miss the stashing behavior as well! I thought I was going crazy recollecting how the software previously behaved.

[2019-02-01 23:42] billygriffin commented on #6674
Thanks for the issue @AlanCPSC and for sharing your follow up thoughts. Just to add a bit more color, it's not about minimalist design, but rather the idea that everything added is diminishing the importance of everything that was already there. So generally we prefer to be very deliberate in assessing the value proposition of something prior to implementing it. For "open in explorer/finder," the

[2019-02-01 23:42] #6674 closed

[2019-02-01 23:49] billygriffin commented on #3580
Thanks folks, really appreciate your input on this. Because this issue is a catch-all of things that people could use force pushing for and we already have a few of the specific use cases captured in other issues (#5953 and #1644 as examples), I'm going to remove `future proposal` here. We want to ensure we're looking at any new feature in the context of what value it's enabling for people, and I

[2019-02-01 23:54] billygriffin commented on #3606
Hi folks, we're starting to look at how people work and navigating among multiple repos in #6460, so I'm going to roll this into that issue and remove `future-proposal` here. I suspect that we likely won't start with multiple window support as a solution for the larger problem set, but try things out incrementally. We really appreciate all the input about *why* this would be helpful and I think it

[2019-02-02 00:01] billygriffin commented on #6752
@surelook Thanks for the added color! Sorry for all the questions, but just a couple more if you don't mind sharing:

1. Are you seeing it not show up on GitHub.com as well (in line with what @tierninho suggests above)?
2. For other repos that *aren't* this one, are you seeing the build status on PRs in Desktop?

[2019-02-02 00:05] billygriffin commented on #6670
@desktop/support and @desktop/quality-assurance - Are either of y'all able to repro this so we can figure out what might be happening? My guess is that the mercurial -> Git use case isn't one that happens frequently enough that we should spend a ton of time trying to solve for it, but I'd love to understand if there's a broader issue here.

[2019-02-02 00:07] billygriffin commented on #6604
This sounds similar to other issues we've seen where antivirus or a firewall has been the problem. If you'd like us to help look into this further, let us know @BernardQuek, but until then I'm going to close this issue.

[2019-02-02 00:07] #6604 closed

[2019-02-02 02:39] xieyong8410 commented on #3443
I have a similar problem, how can I solve it?
Description

I'm trying to install and run GitHub Desktop. I spent two hours trying to just install the software, the process goes as follows:

    Launch the GitHubDesktopSetup.exe file (latest one available from the website).
    The installer frame pops up that says "GitHub Desktop is installing and will launch when it's finished."
    The installer

[2019-02-02 02:49] xieyong8410 opened #6759 "GitHub Desktop on my windows 7 laptop can not be installed,no error can be seen"
I  have a  problem, how can I solve it?
Description

I'm trying to install and run GitHub Desktop on my windows 7 laptop. I spent two hours trying to just install the software, the process goes as follows:

Launch the GitHubDesktopSetup.exe file (latest one available from the website).
The installer frame pops up that says "GitHub Desktop is installing and will launch when it's finished."
The inst

[2019-02-02 03:00] steveward commented on #6759
Thanks for the report @xieyong8410. To get some more information about why the installation is failing it would be helpful if you could send over the log file that the Squirrel installer generates.

You should be able to find the log file here:

`%LocalAppData%\GitHubDesktop\SquirrelSetup.log`

If no log file is being generated there you should be able to find one in the `SquirrelTemp` directory:

[2019-02-02 03:04] xieyong8410 commented on #6759
Here are the log file is being generated there you should be able to find one in the SquirrelTemp directory:

%LocalAppData%\SquirrelTemp\SquirrelSetup.log

 Thank you so much!
[SquirrelSetup.log](https://github.com/desktop/desktop/files/2823976/SquirrelSetup.log)

[2019-02-02 10:51] justingolden21 commented on #6722
Are you guys able to reproduce the issue?

[2019-02-02 13:31] ysoftware opened #6760 "Display changes for Localizable.strings"
I'm working on localizing my iOS app and I've noticed that Localizable.strings files aren't displayed in the differences view.
This file is in simple text format and can and should easily be displayed changes for.

[2019-02-02 14:04] shiftkey commented on #6760
@ysoftware are you able to provide a public repository with a commit containing an example file so we can investigate? We get most of our diff information from Git itself, so maybe there's a bug in the vein of #1904 that's related to this area.

[2019-02-02 14:20] ysoftware commented on #6760
Alright, I figured out that this has nothing to do with the .strings format because other files with this extension display properly.
It might have something to do with encoding or something like that.
[I've created a repo with this error.](https://github.com/ysoftware/loc-ex/commits/master)

[2019-02-02 18:08] premkumarsekaran opened #6761 "Cant sign into git hub account"
## Description

Cloning repo in GitHub would keep asking for authentication.

## Version

* GitHub Desktop: 1.6.1

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-02-02 19:38] shiftkey commented on #6760
With a tweak to the `.gitattributes` file we were able to get Git to show more context about the issue, but Desktop itself shows a different message:

<img width="972" src="https://user-images.githubusercontent.com/359239/52168369-9203a200-26f7-11e9-887a-cb3af3ba915c.png">

This might be fine, because I added [a new commit](https://github.com/shiftkey/loc-ex/commit/487208ba6d5eef7a0e6c1bf0e561b3d3

[2019-02-02 20:04] DeepSOIC opened #6762 "Github desktop does not start without internet connection"
## Description
the title says it all. Can't start Github desktop when working offline. It works if I start with internet, and disconnect afterwards.

## Version
* GitHub Desktop: 1.6.1
* Operating system: Microsoft Windows [Version 10.0.17763.253], Russian

## Steps to Reproduce
1. disconnect from the internet
2. launch GitHub desktop

### Expected Behavior
GitHub should start, and I expect to be

[2019-02-02 22:04] joaosantos commented on #3713
Sirius como você achou e deletou o proxy? sou iniciante no git/linux, e de uma hora para outra meu git começou a dar este erro, como procedo para resolvê-lo?

[2019-02-02 23:36] lisavogtsf commented on #6635
Where "pointy corners on the commit description box" refers to this (as detailed more thoroughly in #6234)
![image](https://user-images.githubusercontent.com/7121497/52170458-a3e94300-26ff-11e9-88a4-5239976eb6d7.png)

The problems with autocomplete popups that arose from the attempted fix in #6234 (adding overflow: hidden;) are detailed in #6459.

I am looking into taking this on, but I need to un

[2019-02-03 03:10] j-f1 commented on #6635
Sorry about that — I should’ve been more clear. In this case, setting the `border-radius` of the text area would probably work.

[2019-02-03 05:00] ayoung81 commented on #2213
I'm getting this error but it doesn't tell me which file is the culprit and I cannot find anything over 100mb while browsing through the folders manually in finder.

[2019-02-03 13:31] shiftkey commented on #6722
@justingolden21 thanks for the log file. There wasn't anything really insightful in there, but maybe it'll help after correlating the same behaviour on our end.

@steveward was wondering if the app dumped out any interesting error messages into the log files we cache on disk - are you able to open the ` Help > Show Logs in Explorer` menu item and see if there's any extra information there that mig

[2019-02-03 13:34] #6710 closed

[2019-02-03 13:41] shiftkey opened #6763 "upgrade to latest stable React"
We are currently on `16.3` in Desktop and `16.7` is the latest stable version, but it would be nice to time the upgrade with a feature that would benefit from upgrading.

We identified some friction with the upgrade in https://github.com/desktop/desktop/issues/6226#issuecomment-447849048, which shows a working commit to upgrade to `16.4` - adding an explicit `@types/prop-types` devDependency might

[2019-02-03 13:42] shiftkey commented on #6226
I'm closing this out in favour of #6763 which tracks upgrading to the latest stable React, so we can co-ordinate this with other feature work. Thanks for digging into this @scottge @jialge!

[2019-02-03 13:42] #6226 closed

[2019-02-03 13:51] shiftkey commented on #5265
Switching this over to `meta` because this likely needs a fresh round of :eyes: to understand what's noisy and what should be looked at. Once this is done, we can extract more granular tasks and close it out.

[2019-02-03 13:57] shiftkey commented on #1573
Moving this to `help-wanted` because I think it's some low-hanging fruit for someone to pick up.

 - [API docs for `webContents`](https://electronjs.org/docs/api/web-contents)
 - [`app-window.ts`](https://github.com/desktop/desktop/blob/development/app/src/main-process/app-window.ts) is where we hook into `webContents` events, so that seems like the ideal place to enable this

[2019-02-03 13:59] shiftkey commented on #2876
Moving this to `help-wanted` if someone is interested in trying this out, but I worry a bit about breaking our existing usage. Feel free to ask questions in here if you stumble upon things that aren't clear.

[2019-02-03 14:09] shiftkey commented on #6240
Switching this to `investigation-needed` because there's a couple of things to consider before we dive in:

 - the naive check we do in [`AppStore._addRepositories`](https://github.com/desktop/desktop/blob/309806cf6e9cdeadd44824837347b281c80564a6/app/src/lib/stores/app-store.ts#L3516) is to see whether there are any `.gitattributes` entries that relate to Git LFS - what other options do we have to

[2019-02-03 14:13] shiftkey commented on #4272
I'm going to close this out as I believe everything has been covered, but feel free to submit fresh cleanup PRs if you spot additional work in the wild. Thanks again @Daniel-McCarthy for all your hard work here!

[2019-02-03 14:13] #4272 closed

[2019-02-03 14:50] shiftkey commented on #6586
I stumbled upon #2241 just now which feels related to this issue

[2019-02-03 15:04] shiftkey commented on #5475
@cwbiggs you might need to go in and remove the `.git/index.lock` file if it isn't cleaned up as part of normal operations

[2019-02-03 16:09] shiftkey commented on #6055
@HenrikoMagnifico @TerryChan apologies for not noticing this earlier.

Not sure I understand the context. What Git LFS-related features do you believe are not working within Desktop currently?

[2019-02-03 16:12] shiftkey commented on #6638
Moving this to `help-wanted` as I think this is something ideal for an external contributor to help out with. The relevant areas to update:

https://github.com/desktop/desktop/blob/96eb4a8894f048cb997d86ae413f3d0bfc33be38/app/src/ui/changes/no-changes.tsx#L281-L287

https://github.com/desktop/desktop/blob/96eb4a8894f048cb997d86ae413f3d0bfc33be38/app/src/ui/changes/no-changes.tsx#L236-L239

[2019-02-03 16:31] shiftkey commented on #6296
@desktop/design I'd love your thoughts on what @JQuinnie asked in https://github.com/desktop/desktop/issues/6296#issuecomment-445581601 about whether that's a suitable solution to this issue.

[2019-02-03 16:36] fatcerberus commented on #5741
FWIW it seems to be an impedance mismatch between Desktop and Git: Git is warning “I’m going to change the line endings when I make the commit” while Desktop is misappropriating that message to mean “the line endings have changed from what they were before”—which is not (necessarily) true.

[2019-02-03 16:38] shiftkey commented on #6494
@rmsmani apologies for the delay in replying. I think we need to figure out #6495 first before we can do this, and I'm going to follow up there on some questions I have about the changes that need to be made.

[2019-02-03 16:50] shiftkey commented on #6495
I had a look at what `octicons-react` does internally and it looks like they just use `aria-label` as an attribute.  Does that seem reasonable to address the accessibility issue?

We also already have a `title` prop on `Octicon` that is used to render a tooltip (if defined). This lives inside the `<path>` element inside the `<svg>` element, which is slightly different to what you were proposing he

[2019-02-03 16:53] shiftkey commented on #6494
I had a look into some of the history about this change and we render a `title` tag into the parent container, since way back in  https://github.com/desktop/desktop/commit/396fea92dc0e28cc3eca54655c64b39cdb4a03ec

https://github.com/desktop/desktop/blob/96eb4a8894f048cb997d86ae413f3d0bfc33be38/app/src/ui/diff/text-diff.tsx#L422-L431

I'm curious why we didn't use `title` in `Octicon` (which was av

[2019-02-03 17:16] shiftkey commented on #5889
Moving this one back to `more-information-needed` based on the outstanding questions in the previous comment.

[2019-02-03 17:17] shiftkey commented on #6494
Dropping the labels on this while it's blocked on #6495

[2019-02-03 17:45] say25 commented on #6457
I believe this is now available to be solved via GitHub actions

[2019-02-03 17:52] shiftkey commented on #6457
There's two goals that I'd like to achieve as part of this process:

 - when a tag matching the release format is pushed (for production or beta), create a release entry with information as well as links about where to find the release
 - add a Markdown-ified changelog to the release based on the release notes

This is on my list once I make a dent into the rebasing work.

We also have the ability

[2019-02-03 21:32] sirusdynamo commented on #3713
verifique este link de estouro de pilha resolve o problema

after the above commands have been run in the terminal
do
`git config --global --unset https.proxy`
else try
`export http_proxy=`

[https://stackoverflow.com/questions/32268986/git-how-to-remove-proxy](url)

[2019-02-03 21:53] joaosantos commented on #3713
Hi Sirius, it worked fine by using this command and restarting the machine. Tank you a lot.

[2019-02-03 22:50] justingolden21 commented on #6722
@shiftkey if you're wondering my laptop is a lenovo with 2 finger scroll and various touch gestures built in for the touchpad. It's a 2 in 1. I've also replicated the issue on a desktop back home, which I don't have access to right now, but it was using the scrollwheel on the mouse. That PC has 32gb of RAM and runs GTA fine, but it still lagged and froze the software after scrolling. Thanks for ta

[2019-02-04 02:35] lisavogtsf commented on #6635
Ok, I was kind of thinking of writing a test or two around the autocomplete so we wouldn't be able to break it again without knowing. But I'll see about border-radius :)

[2019-02-04 03:45] lisavogtsf commented on #6635
@j-f1 @outofambit
I made a border-radius adjustment that seems to help with the pointy corners.
![image](https://user-images.githubusercontent.com/7121497/52189236-24856d80-27ec-11e9-95f2-e524375c87df.png)
![image](https://user-images.githubusercontent.com/7121497/52189239-2a7b4e80-27ec-11e9-842e-f21e8fd716c1.png)

I can't get the autocompletion behavior to work at all, even in Github Desktop 1.6.

[2019-02-04 06:23] zeke opened #6765 "'Publish your branch' message erroneously reports that branch has not been published"
## Description

I'm seeing a 'Publish your branch' suggestion that says my current branch hasn't been published to the remote yet, but the branch has been published (over a day ago).

<img width="667" alt="screen shot 2019-02-03 at 10 15 18 pm" src="https://user-images.githubusercontent.com/2289/52193086-32de8400-2802-11e9-9e19-8c008818ed97.png">

Evidence of the branch's existence on the remote:

[2019-02-04 06:32] zeke commented on #6765
Maybe this is causing it:

<img width="663" alt="screen shot 2019-02-03 at 10 28 42 pm" src="https://user-images.githubusercontent.com/2289/52193278-4c340000-2803-11e9-86e7-6b73164495e6.png">

But I'm signed in:

<img width="561" alt="screen shot 2019-02-03 at 10 30 37 pm" src="https://user-images.githubusercontent.com/2289/52193293-640b8400-2803-11e9-88d2-83a07a25a46c.png">

And I have admin acce

[2019-02-04 06:38] SomeNiceDude opened #6766 "Invisible Menu"
## Description

## Version

* Operating system:
Windows 10

## Steps to Reproduce

## Additional Information

[2019-02-04.desktop.production.log](https://github.com/desktop/desktop/files/2826783/2019-02-04.desktop.production.log)

[2019-02-04 12:13] timtribers commented on #2431
I just hit this issue today too.  Is there any reason why this was closed, it's still happening in v1.6.1 on Windows?

[2019-02-04 12:16] timtribers opened #6767 "Push/Pull button"
Previously reported as #2431, but closed there for some reason.

When I have made a commit, the big ribbon button changes to "Push origin" (or some such).  I click it and get an error popup saying that the Origin has changed and I need to Pull first.  Fair enough.  But the ribbon button stays saying Push, and unless I know that Pulling is an option under the Repository menu item, then I am stuck.

[2019-02-04 13:30] shiftkey commented on #6767
@timtribers please have a read of #2738 (which I believe is the same issue as what you are seeing) and the details I uncovered in #6610 about why I think it isn't working in some situations.

[2019-02-04 13:30] #6767 closed

[2019-02-04 13:36] shiftkey commented on #6765
@zeke thanks for the report!

Could you attach the full log files? The **Help** | **Show Logs in Finder** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

Another thing to check is whether the branch is configured to track a remote:

[code]

Could you run that command against the problem repo

[2019-02-04 13:42] timtribers commented on #6767
Many thanks @shiftkey

[2019-02-04 13:42] aenagy opened #6768 "Error: fatal: bad revision '^'"
## Description

I have added a remote repository (enterprise BitBucket, using Active Directory credentials for access) and "Remote > Fetch from > origin" does not generate errors. Next I try "Merge > Local Merge" which results in an error window:

  Title: Application Error
  Body: Error: fatal: bad revision '^'
  [OK]  [Skip Messages]  [Details>>]

Details:
fatal: bad revision '^'
fatal: bad revi

[2019-02-04 13:55] shiftkey commented on #6768
@aenagy thanks for the report!

[code]

This doesn't look like a version of GitHub Desktop, but is instead a version of Git GUI that comes with [Git for Windows](https://gitforwindows.org/) and can be run from the command line using `git gui`.

Please submit an issue to their [issue tracker](https://github.com/git-for-windows/git/issues) so they can investigate it.

[2019-02-04 13:55] #6768 closed

[2019-02-04 14:07] aenagy commented on #6768
@shiftkey

OK, will do.

So what is the difference between GitHub Desktop and Git GUI?

[2019-02-04 14:20] shiftkey commented on #6768
@aenagy

<img width="893" src="https://user-images.githubusercontent.com/359239/52213683-2a1f9980-2866-11e9-8196-14ff6f306956.png">

Git GUI is an inbuilt tool that ships with Git for Windows, but is part of the main Git project so it's also available on other platforms.

<img width="967" src="https://user-images.githubusercontent.com/359239/52213693-30157a80-2866-11e9-8e0b-fec42a7edd22.png">

Git

[2019-02-04 15:10] outofambit commented on #5889
@shiftkey thanks for pinging me. I agree we don't want to make <kbd>ESC</kbd> active for the large file size check dialog as the user needs to make an explicit choice about cancelling the commit or continuing.

So, I think we can close this issue. @tierninho does that sound right?

[2019-02-04 16:11] robbiegod commented on #2885
For me, i continue to use the old github desktop and the new github desktop because neither version supports multiple users.  I'd like to see that feature added into the new github desktop so that i can ditch the old version.

[2019-02-04 17:20] zeke commented on #6765
[code]

I see no `upstream`! Is that the issue?

[2019-02-04 17:42] shiftkey commented on #6765
@zeke

That's precisely the issue. My psychic debugger thinks that the branch was pushed from outside Desktop, and the `-u` was omitted.

Two ways to address this:

1. set the tracking branch manually from Git

[code]

2. Publish the branch in Desktop (which should no-op if the remote and local branch are named the same) which also sets the upstream.

[2019-02-04 18:17] tierninho commented on #5889
@outofambit sounds right to me, thanks

[2019-02-04 18:23] tierninho commented on #2213
@ayoung81 Try opening your repository in the terminal/command line by using the menu option under the Repository menu. Once opened, then type `ls -lh` to see the files with the files sizes. Hope this helps.

[2019-02-04 18:36] tierninho commented on #6762
@DeepSOIC Thank you for filing this.

I tried to reproduce this but Desktop works fine when offline. When looking at your logs there was an error when Desktop attempted to check for updates. I suspect it is the culprit, however you are on the latest build. @desktop/engineering any thoughts?

[code]