[2021-11-25 12:27] Liaohui0220 opened #13385 "fatal: could not read Username for 'https://github.com': terminal prompts disabled"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-11-25 12:56] sergiou87 commented on #13385
Thanks for reaching out! Could you provide more details about how you got this error?

[2021-11-25 16:06] #13342 closed, assigned to nobody

[2021-11-25 17:40] mthierman opened #13386 "Current repository not highlighted in list in light mode"
### Describe the bug
In light mode, the current repository is not highlighted in the list like in dark mode.

### Version & OS

2.9.4 (x64) - Windows 11

### Steps to reproduce the behavior

1. Select repository
2. Open list & check for current repository

### Expected behavior

Current repository to be highlighted as in the dark mode.

### Actual behavior

No repository is highlighted.

### Scree

[2021-11-25 17:52] TheBlckbird opened #13387 "Compile it on my own"
How can I compile Github Desktop on my own for LinuxARM32?

[2021-11-26 00:07] Gcull opened #13388 "Two accounts is creating problems"
I created two accounts with the same email address, attempted to delete one after encountering issues, now after deleting one my desktop Github is logged into one and my web browser is logged into another, and they seem to be confusing each other?

[2021-11-26 02:15] bobdog1986 commented on #13382
I guess the real reason is that when we click GithubDesktop.exe(<400KB) it will call app-{ver}/GithubDesktop.exe(100MB+) via a batch.
![image](https://user-images.githubusercontent.com/9330555/143516539-ca4509c3-8d1d-4adb-a3e2-2c62c6a4c602.png)

[2021-11-26 05:02] Zones76 commented on #8982
- [ ]   @#**`[](url)`**

[2021-11-26 05:03] Zones76 commented on #8982
- https://domains.google.com/registrar

[2021-11-26 05:05] Zones76 opened #13389 "This was a copy&paste, this will come from an npm package in the future, so you can ignore it for now."
This was a copy&paste, this will come from an npm package in the future, so you can ignore it for now.

_Originally posted by @sergiou87 in https://github.com/desktop/desktop/pull/13368#r755210974_

[2021-11-26 08:12] #13389 closed

[2021-11-26 08:29] niik commented on #13387
Hi @1Spinne, GitHub Desktop doesn't officially support Linux although there's a very active fork which does (https://github.com/shiftkey/desktop) which would be your best bet for finding more information about Linux builds.

Out of curiosity, what kind of hardware are you running that would require 32-bit ARM?

[2021-11-26 08:29] #13387 closed, assigned to nobody

[2021-11-26 08:43] niik commented on #13386
Hi @rovingey, thanks for opening this. We identified and fixed this issue in https://github.com/desktop/desktop/pull/13115 and it will be included in the next production release. In the meantime your welcome to install our beta version or temporarily use the dark theme.

[2021-11-26 08:43] #13386 closed, assigned to nobody

[2021-11-26 08:49] niik commented on #13372
Hey @msavin, thanks for opening this! This has been discussed in https://github.com/desktop/desktop/issues/1593 and our current stance is that we don't intend to implement an always-open sidebar. Issues and comments like yours always weigh in when we re-evaluate our priorities though and I would suggest you add a 👍 reaction to the issue above and subscribe to it to follow any developments that hap

[2021-11-26 08:49] #13372 closed, assigned to nobody

[2021-11-26 09:19] #13345 closed, assigned to nobody

[2021-11-26 11:31] headsphere commented on #13342
I noticed this exact same issue this week. I found this issue #3898 which also appears to be the same problem. I upgraded my LFS version to 3.0.2 and the issue seems to have gone away. In case this helps anyone...

[2021-11-26 12:43] wcardosodev opened #13391 "Trying to make a commit and get "error Command "husky-run" not found.""
### Describe the bug
When trying to commit some file changes I get this error message: "error Command "husky-run" not found."

### Version & OS
Version: 2.9.4 (x64)
OS: Windows 10

### Steps to reproduce the behavior
1. Tick relevant files I want to commit
2. Enter name of commit
3. Click "commit to ${myBranch}"
4. See error

### Expected behavior
The commit would go through without receiving said

[2021-11-26 12:49] sergiou87 commented on #13391
Hi @wcardosodev! 👋

I'm afraid we can't offer support with debugging individual Git hook setups, but it seems that the project you're trying to contribute to is using the [husky](https://github.com/typicode/husky) project to enforce a certain format for their commit messages. If that's the case, you probably need to install husky (or disable it) to make this work.

I'm sorry I can't be of more hel

[2021-11-26 12:49] #13391 closed, assigned to nobody

[2021-11-26 14:34] TheBlckbird commented on #13387
@niik I`m using a raspberry pi

[2021-11-26 17:51] capr commented on #9006
Same problem when trying to open an already-cloned git repo that contains a `worktree` entry in the repo's `.git/config` file. Trying to open the repo results in the following error message saying there's no `x:\luapower` (that being the workdir), but the directory is right there and it's a proper work dir of the repo I'm trying to open.
![gitdesktopbug](https://user-images.githubusercontent.com/1

[2021-11-26 19:38] ThulasiKola commented on #9293
excellent .. My Issue also resolved after settig    git config --global http.sslBackend schannel

[2021-11-26 21:25] #13350 closed, assigned to nobody

[2021-11-27 00:39] MSG2735 opened #13393 "Scroll bar is gone"
The scroll bar on the changes area is gone i cant even use the scroll wheel and im using Windows 11 latest insider version

[2021-11-27 01:09] spdsp04 opened #13394 "git commit is not working"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-11-27 08:34] MrAtheist commented on #13393
+1... running v2.9.5-beta3 in windows 10 and  i have to resort to "dragging" instead of "scrolling"

[2021-11-27 11:41] jorisw commented on #13393
Same on Mac. I can no longer scroll the file view.

Version 2.9.5-beta3 (x64), macOS Monterey 12.0.1

[2021-11-27 12:02] devsebastian commented on #12946
@say25 @niik I have pushed a PR solving this issue: https://github.com/desktop/desktop/pull/13395
please have a look and let me know if any other step is involved. Thanks and regards.

[2021-11-27 14:25] BenjaminLehmann23 commented on #3148
Amazing. I love GitHub and VS, but I'm honestly shocked that this is still an ongoing issue. How is this not fixed already?! :D haha.

[2021-11-27 15:47] jorisw commented on #13393
FYI https://desktop.github.com offers v2.9.4 that doesn't have this bug

[2021-11-27 21:03] JungleDnl4322 commented on #13393
Nice name hun  Enviado desde Correo para Windows De: MrAtheistEnviado: sábado, 27 de noviembre de 2021 12:36 a. m.Para: desktop/desktopCC: SubscribedAsunto: Re: [desktop/desktop] Scroll bar is gone (Issue #13393) +1... running v2.9.5-beta3 in windows 10 and i have to resort to "dragging" instead of "scrolling"—You are receiving this because you are subscribed to this thread.Reply to this email dir

[2021-11-28 07:13] aliifam commented on #3878
thank you this work with me

[2021-11-28 07:45] devsebastian opened #13396 "add support for searching files in a commit"
### Describe the feature or problem you’d like to solve

It's been a really long time since I've wanted the file search feature in GitHub Desktop! In large projects like huge Web/Mobile Applications, it becomes really hard to keep track of what files were updated/added/removed in a specific commit of a branch. The file search feature will make it very simple to find updated files and show their ch

[2021-11-28 09:32] julianhatwellvv commented on #9899
So, how am I supposed to keep my work and personal repos separate? I've logged out of my personal repo, logged into my work repo and now I have no way to access my personal repo...? Am I reading correctly that this is intended behaviour?

[2021-11-28 09:42] julianhatwell commented on #9899
So I logged out of my personal repo to do something on my work repo and now I can't get back into my personal repo because the browser opens and automatically logs me in to my work repo with no dialogue or options. Am I reading correctly that this is intended behaviour?

[2021-11-28 11:44] Hanro50 commented on #13334
Perhaps just linking to the fork where one can get the Linux version in the main readme could alleviate some of the confusion/demand?

At least till an official Linux build is actually available or the patches from the current Linux orientated fork are merged into the main repository.

[2021-11-28 15:17] KingdomMir2 opened #13397 "how to recover my login and pass?"
it seems my github web page id and pass will not work here , how can i log in to upload my hub?

[2021-11-28 15:33] lxeridium opened #13398 "add proxy set."
### Describe the feature or problem you’d like to solve

add proxy set.
add language support.

[2021-11-28 19:20] baoqt2 opened #13399 "Commit Removal Request"
Hello,

I've accidentally committed a large file and am unable to revert the commit in order to get back to my regular routine. Can someone please reach out and help? Please refer to the attached.

My github username is baoqt2 and email is at baoqt2@uci.edu

Thank you, in advance.

![Screenshot (82)](https://user-images.githubusercontent.com/57159268/143782713-1cd6313f-9b28-418c-9763-9c4d7a51a7a0.

[2021-11-28 21:47] MSP-Greg opened #13400 "'Current branch' control width - increase?"
### Describe the feature or problem you’d like to solve

Current branch name is often truncated.

### Proposed solution

Currently there are three control areas below the menu, 'Current repository', 'Current branch', and 'Fetch *'. On my desktop, even with the app window ~ 60% of my desktop width, the three areas are about 50% of the window width.  Could they be widened?  In particular, 'Current b

[2021-11-28 22:41] justingolden21 opened #13401 "After cloning a repo, "last fetched" should say "just now" or the time you began cloning, not "never""
### Describe the feature or problem you’d like to solve

After cloning a repo, "last fetched" should say "just now" or the time you began cloning, not "never"

### Proposed solution

Will lead to better UX, then people will know the repo is already up to date and not have to worry about pulling again for no reason. Additionally, if they come back to it later (few days, weeks, months) they can see

[2021-11-29 04:47] CodingSamurai commented on #9351
Another vote for making this happen.

[2021-11-29 06:48] Meaningisuse commented on #13398
Good idea! In China, we must use a proxy to access github most of the time

[2021-11-29 11:30] tidy-dev commented on #13400
Hi @MSP-Greg! Thank you for the feedback. This issue is being tracked under #2745. Thus, I am going to close this one in favor of tracking it there. Feel free to add your support by thumbs upping the issue and comment on it if you would like to add more context.

[2021-11-29 11:30] #13400 closed, assigned to nobody

[2021-11-29 11:43] tidy-dev commented on #13399
@baoqt2 Hi! The latest unpushed commit can be "undone" via right clicking the context menu and selecting "Undo Commit..". This will move those changes back into your changes tab.

You will get a warning if you have changes present. If you are concerned about those changes conflicting or just muddling when you undo your last commit, you can stash them via the Branch Menu > Stash all changes.  And t

[2021-11-29 11:43] #13399 closed, assigned to nobody

[2021-11-29 11:56] tidy-dev commented on #13397
👋  @KingdomMir2  If you are signed out in GitHub Desktop, you can sign into GitHub Desktop by going to preferences. View the main systems menu of GitHub Desktop > Preferences > Accounts and for an enterprise (most common) look under the first heading of GitHub.com and click the sign in button. This will open GitHub.com in browser to complete the login process.

(You have posted this here, so I wou

[2021-11-29 11:56] #13397 closed, assigned to nobody

[2021-11-29 12:25] tidy-dev commented on #13393
@MSG2735 and @jorisw Thank you for the bug report! I confirmed that the unified diff view of the changes scroll bar no longer works.

Another work around currently would be to use the split view. There is a gear icon in top right hand corner.
![image](https://user-images.githubusercontent.com/75402236/143867783-a3aa66e3-6c88-4755-b056-db847fbbec68.png)

[2021-11-29 13:54] sercandemirtas opened #13402 "Pushing to origin problem (Github Desktop)"
Hello all,

Im using GitHub desktop version to upload my files. Sometimes I have the following problem while uploading files.
When I try to "Push Origin" It is just trying to upload, it stays the way i shared the picture. Round arrows keep spinning and value of the Total, Delta and reused stays steady. What is problem here ?

Thanks..

### Version & OS

Version 2.9.4 (x64)
MacOS Monterey 12.1

###

[2021-11-29 14:24] marelab commented on #13380
Have the same Problem doesn't work on Desktop and CLI. Maybe after NAS QNAP Update.
OS WIN10 x64
GIT cli git version 2.34.0.windows.1
GIT DESKTOP Version 2.9.4 (x64)

MSG:
remote: Enumerating objects: 312, done.
remote: Counting objects: 100% (312/312), done.
remote: Compressing objects: 100% (220/220), done.
remote: Total 312 (delta 147), reused 234 (delta 69), pack-reused 0
Receiving objects: 10

[2021-11-29 14:59] #13393 closed, assigned to sergiou87

[2021-11-29 14:59] tidy-dev commented on #13394
@spdsp04 Thank you for the issue. Can you fill out the rest of template above ☝️ so we have an indication of what the problem is.

[2021-11-29 15:04] tidy-dev commented on #13388
@Gcull That is a curious scenario. I would suggest signing out and back in again to make it so they are both on the same account.

On Windows, File > Options > Accounts -> Sign out (same to sign in)o
On Mac, GitHub Desktop > Preferences > Account

[2021-11-29 15:09] sergiou87 commented on #13393
Fixed already in #13403, we will deploy a beta with the fix soon. Sorry about that!! 😱

[2021-11-29 16:08] rogadev opened #13404 "Cannot fetch origin: "Failed to connect to github.com port 443: Connection refused""
### Describe the bug

Cannot fetch origin.
Error message: "fatal: unable to access 'https://github.com/KyleGlov3r/164F2021_Airvrbo.git/': Failed to connect to github.com port 443: Connection refused"

### Version & OS

Version 2.9.4 (x64)
Windows 10 Education, Version 10.0.19043 Build 19043

### Steps to reproduce the behavior

1. Choose Repo
2. "Fetch origin"

### Expected behavior

Fetch my chan

[2021-11-29 18:42] DanForever commented on #13380
So here's the command line doing it onto the network mapped directory (cmd does not support unc paths)
[code]

[2021-11-29 22:20] #13358 closed, assigned to nobody

[2021-11-30 01:54] bryant-the-coder opened #13409 "Cant publish repo"
### Describe the bug
So, I want to publish a repo from github desktop. But this shows up instead

### Version & OS

![image](https://user-images.githubusercontent.com/92417638/143971220-943641d2-2ba1-4aa3-a320-b71c3adf7a48.png)
windows 10

### Steps to reproduce the behavior

1. Create a new file in your computer
2. Add local repo
3. Publish it
4. See error

### Expected behavior

I tried to publi

[2021-11-30 01:56] bryant-the-coder commented on #13409
I also reinstalled github desktop again twice but still fail

[2021-11-30 02:06] heatblayze opened #13410 "Outdated Unity gitignore template"
### Describe the bug
The .gitignore template file provided with the desktop app is severely outdated.
The file provided with Github Desktop appears to be [this version](https://github.com/github/gitignore/blob/a2e5aea9171bda7cc8efdfcd1623b907504c6528/Unity.gitignore) of the Unity.gitignore template (which is around 3 years old).
There have been a number of changes to the template after the version

[2021-11-30 03:33] TDKArkham commented on #11410
Yeah, administator mode works !

[2021-11-30 07:23] 3laoy26a opened #13411 "Alharbisa814@gmail.com"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-11-30 10:23] ozonexo3 commented on #8049
2 years and this is still not fixed :|
I get into this every few days when Im trying to rebase my branch and in such cases i just cant rebase branch using Github Desktop.
If this is hard to fix then at least add option to force rebase anyway, can be another button or as option under the arrow.
![obraz](https://user-images.githubusercontent.com/9513043/144028498-b7129c34-1d94-4d95-9e0a-e9afd5278ecb

[2021-11-30 11:35] Ana12-hub commented on #4872
It does not work to me. May anyone help?

Error:
Could not resolve proxy: proxy.server.com

[2021-11-30 11:53] tidy-dev commented on #13409
@bryant-the-coder thanks for the report. Can you go to File > Options > Accounts in GitHub Desktop and try logging out and then logging back in again to your GitHub account? Let me know if that does not get things working for you.

[2021-11-30 11:56] tidy-dev commented on #13371
This is a duplicate of #13148. Closing in favor of tracking there. Feel free to thumbs up the other issue to show support.

[2021-11-30 11:56] #13371 closed, assigned to nobody

[2021-11-30 12:06] tidy-dev commented on #9020
Sorry as I can see your struggles - not sure how that can be resolved when using version control. But, as communicated in the previous comments, this is a natural consequence of using git/version control and Desktop is simply a graphical interface for that. Thus, this is not something we could set a choosable feature. Thank you for using Desktop!

[2021-11-30 12:06] #9020 closed

[2021-11-30 12:23] tidy-dev commented on #13402
@sercandemirtas Thanks for the report!

When this occurs have you tried logging out and logging back in again (with an account that has access to this repo). The logs seem to indicate that GitHub Desktop is unable to access the repo. You can do this by going to GitHub Desktop > Preferences > Accounts

[2021-11-30 12:27] tidy-dev commented on #13404
@vonroga based on the error message, it looks like you are behind a proxy.

If your proxy requires credentials there are some steps you can take to configure it:

Go to the file menu and select Repository > Open in command prompt (Windows)
Run the following command:
git config --global http.proxy http://proxyuser:proxypwd@proxy.server.com:8080

Replace proxyuser with your proxy username and proxyp

[2021-11-30 12:27] #13404 closed, assigned to nobody

[2021-11-30 12:47] sergiou87 commented on #13380
If it's an issue from the command line, I'm afraid it's not a Desktop specific issue. Does this help? https://stackoverflow.com/a/13831085 🤞

[2021-11-30 13:11] hamzawytsco opened #13412 "abwalrk65@gmail.com"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-11-30 13:20] adamplural opened #13413 "Remove the spellchecker in commit messages - it is usually incorrect"
### Describe the bug

When typing a commit message, this app attempts to do a spellcheck. Since commit messages often contain variable-names, project names, etc, this spellcheck is nearly ALWAYS incorrect.

Spellcheck should be 'opt-in' for the people who have spelling/language issues and desire that prompt. By default it should not be interfering with correct messages and claiming they are errors

[2021-11-30 13:31] tidy-dev commented on #13413
@adamplural Sorry for your frustrations. However, there is an easy way to disable it. Right click the commit message or description and select "Disable Commit Spellcheck".

[2021-11-30 13:31] #13413 closed, assigned to nobody

[2021-11-30 13:44] adamplural commented on #13413
It's nice to have that as a convenience, but this is very non-standard -
all other apps put this as an option in their Options/Preferences menu.
I've never seen a core app feature like this hidden in the right-click
menu. Surely it should be at least in both places?

On Tue, 30 Nov 2021 at 13:32, tidy-dev ***@***.***> wrote:

[2021-11-30 14:14] bryant-the-coder commented on #13409
No. Now it works. The solution is to remove all  .git  files from previously created files eith the old github desktop. Then remove all related to github desktop. After that install desktop again. It works again. That is how i solved it

[2021-11-30 15:21] tidy-dev commented on #13413
We did discuss adding it there, but we strive for keeping preferences to very broad high impact settings. Also, seeing as it is common to interact with spellcheckers by right clicking on a misspelled word to open a context menu (to find a correction), we decided that this was a more convenient placement and would give users who do not like spellcheckers a very quick way to turn it off. :) Thank yo

[2021-11-30 15:24] tidy-dev commented on #13409
Ok. Awesome! I am glad you found a resolution. I am unsure how that resolved it unless there was an unusual git config in your setup. Thank you for the update. Seeing as you resolved it. I will close this issue.

[2021-11-30 15:24] #13409 closed, assigned to nobody

[2021-11-30 17:06] divyanshu-kunwar opened #13415 "Can't push [ Remote hungup]"
### Describe the bug
Sometimes GitHub desktop shows a message while pushing . " send-pack: unexpected disconnect while reading sideband packet
fatal: The remote end hung up unexpectedly "

### Version & OS

Version 2.9.4 (x64)

### Steps to reproduce the behavior
While pushing commit , on network change i think.

### Expected behavior

Able to push without any unexpected issue

### Actual behavior

[2021-11-30 17:49] tidy-dev commented on #13415
Thanks for the report @kUNWAR-DIVYANSHU Are you behind a proxy/firewall or running any antivirus software the could be interfering with your connection?

[2021-11-30 19:37] heradv commented on #9020
you misunderstood me. i try to suggest that the background system should make able to store original file timestamps THEN implement a switch wich can change between the keeping and not keeping behaviour. but maybe this is not the right forum for this. i start to suspect that you only deal with the UI/desktop version here. but i do not know then where should i suggest this. :(

[2021-11-30 22:07] aminya opened #13416 "Performance issues and random hangs on Windows 11"
### Describe the bug
GitHub Desktop has become slow and buggy recently. It takes some time until the buttons become responsive. It takes some time until it adds, clones, or fetches the repositories.

### Version & OS

Version 2.9.4 (x64)
Win 11 22000.348

### Steps to reproduce the behaviour

1. Use GitHub Desktop on Windows 11

### Expected behaviour

The software should be fast

### Actual behav

[2021-12-01 00:20] Jurek54321 opened #13417 "_7!Kn3Erz!h2A8n"
https://github.com/Jurek54321/gitignore.io/blob/master/.gitmodules#L3

[2021-12-01 03:08] stuartmcmahon-h3d commented on #2745
This is the number 1 reason I open Sourcetree.
Number 2 is when I want to view the history of an individual file.

[2021-12-01 07:44] ghost opened #13418 "bit"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-01 07:44] divyanshu-kunwar commented on #13415
It was working well and it started working again after changing HTTPS to
ssh and back to HTTPS.

On Tue, Nov 30, 2021 at 11:20 PM tidy-dev ***@***.***> wrote:

[2021-12-01 08:16] sergiou87 commented on #13418
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2021-12-01 08:16] #13418 closed, assigned to nobody

[2021-12-01 11:00] JungleDnl4322 commented on #13418
Thnks  Sent from Mail for Windows From: Sergio PadrinoSent: Wednesday, December 1, 2021 12:19 AMTo: desktop/desktopCc: SubscribedSubject: Re: [desktop/desktop] bit (Issue #13418) Closed #13418.—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.  

[2021-12-01 11:03] vincentgoudard opened #13419 "cherry picking freezes if uncommitted changes are stashed"
### Describe the bug
I had uncommited changes on a branch and I wanted to cherry pick some commit by dragging them to another branch. Desktop proposed to stash the changes (which I did) but then freezed. I could close the popup window asking for stashing. The stash was made, then I could effectively cherry pick what I wanted.

### Version & OS

Version 2.9.4 (x64) on OSX 10.14.6 (18G9323)

### Ste

[2021-12-01 11:34] tidy-dev commented on #9020
@heradv Correct! This issue tracker is just for GitHub Desktop. The underlying version control is [Git.](https://github.com/git/git) You might try there, but even so I am not sure it is possible by the nature of the software (or it would mean a very significant change). Good luck!

[2021-12-01 11:43] tidy-dev commented on #13415
Ok. I am glad you found a resolution. This would seem to be a connection issue and especially if you have reason to suspect that your network did change at some point. Possibly the switching back and forth just reestablished the connection.. or gave enough time for the network connection to resolve.

[2021-12-01 11:43] #13415 closed, assigned to nobody

[2021-12-01 11:43] timmjd commented on #2885
Not sure why they are not using the GitHub [release machenism](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository) and hide it behind a "currently version only" page ... 😕

Anyhow, the download link seems to be just obfuscated a bit but easy to follow. If you follow the redirects of the download link on [official download page](https://desktop.gi

[2021-12-01 11:46] tidy-dev commented on #13419
@vincentgoudard Thanks you for the report! Could you provide the logs for the day this occurred? You can find daily log output by going to the Help > Show logs in finder.

[2021-12-01 12:15] vincentgoudard commented on #13419
@tidy-dev Here you are.

[code]

[2021-12-01 13:18] darkduckgo opened #13420 "[Feature] Support force push directly by user"
### Describe the feature

Try a lot of way but can't know how to force push to remote repository by myself, please do support it, even with the WARNING
 dialog

### Proposed solution

people may commit amend to previous commit, and want to force push (not rebase, it was dangerous), and now we only can rebase it then force push in desktop, so could we support one click (with ensure again) for user

[2021-12-01 13:43] nilupulHeshan opened #13421 "custom command pallet"
users should have to have the access of type custom command for a certain repository.
There should be a terminal

[2021-12-01 13:45] tidy-dev commented on #13419
Thank you for the logs. Unfortunately unable to determine anything from them.

For working this ticket later...
Not sure if this is always always reproducible - but, I was able to reproduce once and in the console of the app debugger, found this: (On 2.9.5-beta4) - Need to ensure state is being set correctly on cherry pick from stash.
![image](https://user-images.githubusercontent.com/75402236/144

[2021-12-01 14:23] sergiou87 commented on #13420
Does this help a bit: #13384 ?

[2021-12-01 14:50] kostik1365 opened #13422 "https://btcbank.com.ua/"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-01 14:50] #13422 closed, assigned to nobody

[2021-12-01 15:05] #13374 closed, assigned to nobody

[2021-12-01 15:42] steveward commented on #13421
Thanks for the request @nilupulHeshan. Adding a command palette has been [previously discussed](https://github.com/desktop/desktop/issues/3050#issuecomment-462493209), but at this time is out of the scope of what we want to focus on in GitHub Desktop. In the future this may be something we consider again, so thanks for letting us know you're interested in this feature.

[2021-12-01 15:42] #13421 closed, assigned to nobody

[2021-12-01 15:48] steveward commented on #4872
@Ana12-hub If you are behind a proxy you need to replace the `proxyuser`, `proxypwd`, and `proxy.server` values in the config command with the correct values for your proxy server. You can rerun the command again to configure it. Let me know if you have any questions.

[2021-12-01 17:05] #13379 closed, assigned to nobody

[2021-12-01 17:05] #13378 closed, assigned to nobody

[2021-12-01 17:06] rakleed opened #13424 "Make universal app for macOS"
### Describe the feature or problem you’d like to solve

I'm used to downloading apps, and they are universal by default. But you have a big "Download for macOS" button to download x86-64 app, and to download arm64 app I have to click on a small link, which is inconvenient.

### Proposed solution

Make a universal app. Or at least when I click on "Download for macOS" offer to select the desired ve

[2021-12-01 17:28] jsunsawyer commented on #11750
Still experiencing this issue.

[2021-12-01 23:35] Nicolentx42 commented on #13419
Actually this is my account all my information was stolen If I could please get in touch with me 4329238017

[2021-12-02 03:00] darkduckgo commented on #13420
yep, thanks a lot, hopefully it could release soon~  (u can link this issue to it)

[2021-12-02 03:00] #13420 closed, assigned to nobody

[2021-12-02 03:33] Nicolentx42 commented on #13419
All my information should be under a name Jessica fancher or aka/ms

[2021-12-02 05:11] NhanAZ commented on #78
It's been 5 years and there seems to be an unresolved problem

[2021-12-02 06:50] yatisingh opened #13428 "Authentication problem"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-02 07:34] Bluenix2 commented on #78
No there isn't, with the correct configuration GPG signing works. I've been using it for months at this point!

[2021-12-02 08:19] xavierfoucrier commented on #78
I agree with @Bluenix2,

At this point Github Desktop does not offer interface to configure signed commits, but following this Gist you are able to sign when using the application: https://gist.github.com/xavierfoucrier/c156027fcc6ae23bcee1204199f177da.

:v:

[2021-12-02 08:26] #13377 closed, assigned to nobody

[2021-12-02 08:35] Ana12-hub commented on #4872
Thank you Steve. However, it still unresolved.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Steve ***@***.***>
Sent: Wednesday, 1 December, 2021 4:48 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [desktop/desktop] Could not resolve host: github.com (#4872)

@Ana12-hub<https://github.com/Ana12-hub> If you are behind a proxy you need to replace

[2021-12-02 09:48] rlunden opened #13429 "Sort repositories by alias instead of folder name when using alias"
### Describe the bug
I set an alias on every repository and prepend them with the project name because otherwise many of the repositories would have the same names and it's hard to differentiate which project they belong to. However their sort order seems to be based on the folder names even when using an alias. It would make sense to order them by their displayed name i.e. alias if used or folder

[2021-12-02 10:17] sergiou87 commented on #13428
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2021-12-02 10:17] #13428 closed, assigned to nobody

[2021-12-02 11:35] #12978 closed, assigned to nobody

[2021-12-02 12:50] tidy-dev commented on #13424
@rakleed Thank you for the feedback! Looking over that real quick and I see that it requires that a user always have both the non arm64 and arm64 installed at the same time making the app install double as big so that they can run either one. Tho, I can see the benefit you are pointing out, it is probably not worth cost for the majority of our non-arm64 users and we already have to have individual

[2021-12-02 12:50] #13424 closed, assigned to nobody

[2021-12-02 12:54] sergiou87 commented on #12912
I'm gonna reopen this since #9453 was more generic.

[2021-12-02 13:41] #13385 closed, assigned to nobody

[2021-12-02 13:55] memishood opened #13431 "When will the official version come for the Ubuntu operating system?"
As you read in the title when will it release?

[2021-12-02 15:12] timrspratt commented on #11750
I too have been experiencing this issue for a while now, very frustrating when trying to navigate the repository list 😞

[2021-12-02 15:40] steveward commented on #4872
@Ana12-hub can you confirm that you are behind a proxy? The `could not resolve host` error can be caused by a number of things, including antivirus software or a restrictive firewall. Could either of those be a possible cause?

[2021-12-02 16:02] steveward commented on #13416
@aminya thanks for the report -- I took a look at the logs and can see that refreshing your repositories is taking a rather long time:

[code]

Since you have a larger-than-average amount of repositories that would be my guess as to what is causing the slowdown for you. I'd recommend disabling background fetching to see if that improves performance. You can do this by going to `File` > `Options` >

[2021-12-02 16:36] AppDevMichael commented on #13416
I have also noticed this, I can assure you that it isn't my computer/drive being slow as I have a very high-end pc. I have unchecked ``Periodically fetch and refresh status of all repositories`` and I will monitor it for a while.

[2021-12-02 17:17] BastianZim commented on #78
Just my two cents: If the development team wants a clear focus and roadmap, what's covered in this guide should be perfect: https://docs.github.com/en/authentication/managing-commit-signature-verification

It covers all necessary steps including the creation of the key and could probably be implemented relatively easily as it just calls `git` under the hood. Creating the key would require `gpg` bu

[2021-12-02 18:20] tidy-dev commented on #13431
@memishood Unfortunately, we do not currently plan to implement a linux version. You can read more on that #1525 - GitHub Desktop for Linux?. You will also find the link to the linux fork where you can find builds for linux. :) Closing in favor if tracking linux support feedback there.

[2021-12-02 18:20] #13431 closed, assigned to nobody

[2021-12-02 18:27] tidy-dev commented on #13388
With the thumbs up, going to assume this is no longer an issue. Feel free to reach out again if otherwise. :)

[2021-12-02 18:27] #13388 closed, assigned to nobody

[2021-12-02 18:33] meadowsys commented on #78
I guess this issue has become more of a feature request for setting up and managing `gpg` in the GUI?

[2021-12-02 18:37] say25 opened #13433 "Unable to Discard Files"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Version 2.9.6-beta1 (x64)
Windows 10

### Steps to reproduce the behavior

1. Make a change
2. Click right click discard changes on file
3. See application hang

### Expected behavior

File is discarded

### Actual behavior

App hangs, you are unable to cancel discard changes as well.

### Screenshots

[2021-12-02 19:20] CwanyJest95 opened #13435 "Create"
https://connect.trezor.io/8/popup.html

[2021-12-02 19:30] steveward commented on #13396
Thanks for the issue @devsebastian! This has been previously requested/discussed in https://github.com/desktop/desktop/issues/7022 so I'm going to add your feedback there to consolidate everything.

[2021-12-02 19:30] #13396 closed, assigned to nobody

[2021-12-02 19:31] steveward commented on #7022
From #13396:

[2021-12-02 19:53] steveward commented on #9746
@bbilly-git are you having issues with GitHub Desktop or Codemagic? We can't assist with issues using Codemagic here. I'd recommend reaching out to [GitHub Support](https://support.github.com/).

[2021-12-02 19:59] say25 commented on #13410
I can take this on

[2021-12-03 02:38] Seb33300 commented on #7022
This issue is about searching in the commit message and comment, not by file name

[2021-12-03 06:16] aminya commented on #13416
The initial load time seems to be a bit faster with that option disabled. But the UI still feels unresponsive in some cases. Here is the log for me wanting to check the diff of a file. I could not do anything for some seconds.

[code]

[2021-12-03 10:57] schiemaxDD commented on #4792
Hi Suriyaa,

how did you manage to solve your authentication issue back then? ;D

on executing > ssh -vT git@github.com

i'm having the error "git@github.com: Permission denied (publickey)."

The pub key is deployed to the SSH keys page on Github already.

Greetings Mario

[2021-12-03 11:22] ShadowWalker918 commented on #4792
Thanks

[2021-12-03 11:45] mvrozend opened #13437 "desktop app doesn't work"
### Describe the bug
Write a clear and concise description of what the bug is.
I am not able to log in on the desktop app with a different email address. I want to log out because my projects are not syncing, so I made a different account, but I can't even use that.

### Version & OS
Windows.

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating syste

[2021-12-03 11:48] sergiou87 commented on #13437
Hey @mvrozend ! 👋

In order to fix this you must sign in with the new account from the browser.

GitHub Desktop will sign in with whatever account you have signed in on your browser.

Does that help? 😳

[2021-12-03 14:01] 1280px opened #13438 "[suggestion] add an option to hide the program to tray when minimized"
(check title)

[2021-12-03 14:06] niik commented on #13438
Hey @1280px, thanks for opening this. This has been requested in https://github.com/desktop/desktop/issues/4098 and while we don't have any plans to support minimizing to tray at this time you can subscribe to that issue to see any developments in that area. Perhaps a third-party tool (a list of such can be found at https://www.maketecheasier.com/send-windows-programs-to-system-tray/) could satisf

[2021-12-03 14:06] #13438 closed, assigned to nobody

[2021-12-03 14:30] daileyl1 opened #13440 "Pushing to origin doesn't finish"
### Describe the bug
Write a clear and concise description of what the bug is.
When trying to commit to the git hub repository, the process starts but just spins after it says total 9202 (delta 2189)
![image](https://user-images.githubusercontent.com/68693115/144619239-5cac37d3-6206-4729-a407-493ff77e55fe.png)

### Version & OS
Version 2.9.4(x64) MAC OS
Open the 'About GitHub Desktop' menu to see

[2021-12-03 15:12] steveward commented on #4792
@schiemaxDD see [this guide](https://docs.github.com/en/authentication/troubleshooting-ssh/error-permission-denied-publickey) or troubleshooting `permission denied` ssh key errors. If you're having issues with GitHub Desktop please open up a new issue and fill out the template. Thanks!

[2021-12-03 19:27] rinogo commented on #1719
Late 2021 🤦‍♂️ - Hi again 👋

[2021-12-03 19:49] steveward commented on #13440
@daileyl1 thanks for the report. It looks like your log uploads didn't make it through -- could you try uploading them again?

[2021-12-03 21:30] shoaiboss opened #13444 "i have a 100MBps internet connection but i am getting 200KB/s Speed, Why i am getting this problem"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-04 08:39] dracspor opened #13445 "mediaplay.ins.ddl"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-04 08:39] dracspor commented on #13445
@dracspor

[2021-12-04 08:39] #13445 closed, assigned to nobody

[2021-12-04 10:28] mvrozend commented on #13437
Yes I understand that I need to sign in with a new account. My problem is that I can't. There is no login screen.

[2021-12-04 13:41] sfwsegSG3 opened #13446 "THD"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-04 19:22] paffur commented on #13445
- [ ]

[2021-12-04 19:34] jintsi commented on #4527
Can this get fixed already?

[2021-12-05 01:54] albinkc commented on #12890
Faced the same issue again today on an M1 Macbook Air.

ERROR: Couldn't connect to 127.0.0.1:58813 - Please make sure you don't have an antivirus or firewall blocking this connection. (49): Can't assign requested address
error: unable to read askpass response from '/Applications/GitHub Desktop 2.app/Contents/Resources/app/desktop-trampoline/desktop-trampoline'
fatal: could not read Username for 'h

[2021-12-05 02:24] soaringcylinder opened #13448 "MAJOR PROBLEM Repository stopped working"
### Describe the feature or problem you’d like to solve

Hi so after working for months my repository suddenly disappeared and now i cant get access to my project i don't know how to get it back.

### Proposed solution

idk I'm new to this

### Additional context

Please include any other context, like screenshots or mockups, if applicable
![wierd shit](https://user-images.githubusercontent.com/89

[2021-12-05 08:11] aminya commented on #13416
Here is another log. It took GitHub Desktop 3.5 minutes to clone a repository. Cloning a repository from the terminal takes a fraction of a second.
[code]

[2021-12-05.desktop.production.log](https://github.com/desktop/desktop/files/7655459/2021-12-05.desktop.production.log)

[2021-12-05 10:26] msavin commented on #13148
Very nice and obvious improvement

[2021-12-05 15:21] j-f1 opened #13449 "Tooltips overlap on uncommitted changes badge"
### Describe the bug

The path tooltip and the “There are uncommitted changes in this repository” tooltip overlap.

### Version & OS

GitHub Desktop Version 2.9.5 (x64)
macOS 11.6 (20G165)

### Steps to reproduce the behavior

1. Make changes in a repo, but don’t commit them
2. Open the repo switcher
3. Hover over the blue dot 🔵
4. See behavior as in screenshot below

### Expected behavior

The ne

[2021-12-05 23:55] agusterodin opened #13452 "Annoying tooltips in new version"
In the new version of GitHub Desktop on MacOS Version 2.9.5 (arm64), there are tooltip when hovering over "current repository", "current branch", and "fetch origin".

Personally I find this really annoying. Can we get an option to disable? I understand that option to disable seems way too specific and seems like extra complexity and maintenance burden for your team but I just don't understand the

[2021-12-06 00:18] agusterodin commented on #13452
I really hate to be that guy but this is perplexing.

![image](https://user-images.githubusercontent.com/10248395/144769986-0780bec1-ba27-4fa3-9ee2-d643a48fa358.png)

[2021-12-06 00:24] Tweaker420 commented on #13433
Mirror concept and execute in the transcript

[2021-12-06 06:56] kailashzversal commented on #13226
Try the below things, it's work for me.

Go to the Organisation setting --> Third-party access
Then grant access to the "The GitHub Desktop Development App"

![Github-Desktop-(Ubuntu)](https://user-images.githubusercontent.com/77328916/144801182-256eb576-5e78-47d3-bebc-46f927b77ece.png)

[2021-12-06 07:55] KendallDoesCoding opened #13454 "Setup Error"
### Describe the bug
Setup Bug, I managed to download the app but this bug comes whenever you install the exe file from the official website and when you try to download it

### Version & OS
Current Version on Github Desktop Website
Windows OS

### Steps to reproduce the behavior

1. Go to 'Downloads'
2. Click on 'GithubDestopSetup-x64'
3. Scroll down to '...'
4. Tap Setup Log
5. See Logs

### Exp

[2021-12-06 08:02] KendallDoesCoding opened #13455 "Github Desktop not counting as application, not coming as a application"
### Describe the bug
Cloning into 'path'...
git: 'remote-https' is not a git command. See 'git --help'.

path = (Screenshot with path added)

### Version & OS
Newest Github Version
Windows OS

### Steps to reproduce the behavior

1. Clone Repo
2. Clone from Github.com
3. Paste url https://github.com/TechStudent11/heroku-portfolio

### Expected behavior
Error with code

### Actual behavior
Unsure

[2021-12-06 08:05] KendallDoesCoding commented on #13455
I think the Github Destop app got automatically uninstalled because I opened the installation file again to send #13454, I'm reinstalling the software and I think it should work then, If it doesn't, I will re-open this issue.

[2021-12-06 08:06] KendallDoesCoding commented on #13455
Hi,

I re-installed it, but it's still not counting as a computer application, and is not viewable on the computer softwares list. It did show up on my other device.

Please help me on this, and then I think my issue of cloning repo will be fixed.

[2021-12-06 08:09] KendallDoesCoding commented on #13383
@imraaqeel Please confiirm if issue has been fixed!

[2021-12-06 08:11] KendallDoesCoding commented on #13455
I uninstalled and re-installed the app but it still it ddnt come

[2021-12-06 09:25] creatively commented on #7395
I HAD the same problem, and pulled 65% of my hair out manually typing in all the lost file contents [cry emoji] before getting a solution [lightbulb imoji]

Go into the actual local files
Delete/remove any changes that are ALSO showing as green in the GitHub Desktop stash list.
The greyed out "Restore" button should now have turned a beautiful shade of green.
(If not green, pull out some more said

[2021-12-06 12:02] #13433 closed, assigned to sergiou87

[2021-12-06 12:16] #13204 closed, assigned to tidy-dev

[2021-12-06 12:52] tidy-dev commented on #13448
:wave:  Sorry as I can see this must be frustrating. Based on that error, it looks like your repository was stored in a location that was likely deleted upon upgrading to the 2.9.5 release.  Did you have any of this work pushed to a remote store? 🤞

Some quick googling and I found this - maybe it could help you recover those files.
https://support.microsoft.com/en-us/windows/recover-lost-or-delete

[2021-12-06 12:52] #13448 closed, assigned to nobody

[2021-12-06 13:10] tidy-dev commented on #13455
@KendallDoesCoding Could you try doing a full uninstall:

1. Go to %AppData% and delete the GitHub Desktop directory
2. Re-download from [desktop.github.com](https://desktop.github.com/) and reinstall

[2021-12-06 13:15] #13419 closed, assigned to nobody

[2021-12-06 13:16] KendallDoesCoding commented on #13455
Will do that shortly, Thanks!

On Mon, 6 Dec 2021 at 18:40, tidy-dev ***@***.***> wrote:

[2021-12-06 13:18] tidy-dev commented on #13437
@mvrozend If you are currently logged in on GitHub.com with account X, but want to use account Y in GitHub Desktop. I would suggest going to GitHub.com and clicking on the dropdown with your avatar in top right of screen and click sign out. Now, when you attempt to login from GitHub Desktop and it opens the browser, it should request you to login. Hopefully that helps?

[2021-12-06 13:22] KendallDoesCoding commented on #13455
![image](https://user-images.githubusercontent.com/84712013/144853494-72b8b1d9-9e56-4a53-bf58-41e2255409f5.png)

[2021-12-06 13:44] tidy-dev commented on #13455
@KendallDoesCoding Seems something is interfering with Desktop function. Do you have any other antivirus asides from windows defender? (Here is a [recent issue](https://github.com/desktop/desktop/issues/12163) where that was the problem.)

[2021-12-06 13:54] KendallDoesCoding commented on #13455
Yup, I got Norton but I have that on my laptop too and it worked just fine
there.

On Mon, 6 Dec 2021 at 19:14, tidy-dev ***@***.***> wrote:

[2021-12-06 14:08] tidy-dev commented on #13455
Sometimes the antivirus only interferes around updates - which we just had one. Could you try disabling it, and redoing the full uninstall and reinstall?
(If this works, the full solution would be to whitelist Desktop from your antivirus.)

[2021-12-06 14:18] KendallDoesCoding commented on #13455
Yup, I'll try doing that in a while and get back to you.

On Mon, 6 Dec 2021 at 19:39, tidy-dev ***@***.***> wrote:

[2021-12-06 14:46] steveward commented on #13454
Closing in favor of #13455.

[2021-12-06 14:46] #13454 closed, assigned to nobody

[2021-12-06 14:52] steveward commented on #13444
@shoaiboss thanks for the issue. It'd be helpful if you could fill out the template and upload your log files to give us some more information. Are you seeing slow speeds when cloning repositories?

Speed issues can be related to a number of factors -- the size of the repository, the reliability of your ISP, your proximity to GitHub's servers, etc. I'd recommend running through https://github-debu

[2021-12-06 15:43] #13394 closed, assigned to nobody

[2021-12-06 16:30] niik commented on #13449
Thanks for reporting this @j-f1! I'll take a look. Fixing the old-style tooltip should be no biggie but I have to ponder a little bit on what to do with nested tooltips like this

[2021-12-06 16:32] niik commented on #13452
Hey @agusterodin, thanks for opening this. Converting all of our previous style tooltips (which took ~2s to appear) was a big project and we have certainly missed a few places where the tooltips previously didn't cause a nuisance (since few people saw them). I'll try take a look at these two this week!

[2021-12-06 16:39] agusterodin commented on #13452
Thanks for your consideration.

It really is a practice of optimizing for first time user versus someone who uses the software daily . I'd say some of the more redundant ones (like shown in screenshots) are completely unnecessary whereas ones like last fetch timestamp and file path for selected repository are more useful.

What was the reasoning for getting rid of the 2s delay on tooltips? Persona

[2021-12-06 19:18] Quelich commented on #9193
I disabled Windows Security Real-Time Protection and I do not encounter slowness problem of Github Desktop anymore. Thank you.

[2021-12-06 19:46] MichlF opened #13457 "Cannot "add existing repository""
### Describe the bug
Attempting to add an existing repository will fail.

### Version & OS

Version 2.9.5 (x64) Windows 10 Pro

### Steps to reproduce the behavior

1. In the main windows, click on the down-arrow at current repository. Then on "Add"
2. Click on "Add existing repository"
3. Choose the local path which is a folder inside the Github main folder that I've created. It does not matter f

[2021-12-06 20:53] billygriffin commented on #13452
It's just undiscoverable. So we've gotten tons of questions over the years of "how do I see x thing" and it's there but they just don't know it, and given space constraints and highly variable naming in Git repos, we think more immediate feedback, especially that we have more control over, is a nicer way to deliver that helpful information when it exists.

[2021-12-06 21:14] steveward commented on #13457
@MichlF thanks for the report. Does the repository you are trying to add currently have a large number of uncommitted changes? It looks like you're hitting the status threshold:

[code]

Committing the changes via the command line and then adding the repository to GitHub Desktop should get things working, although this is definitely something the app could handle better. This also came up in https

[2021-12-06 22:03] MichlF commented on #13457
No, it can be an empty folder, a single line of code or multiple files. Doesn't affect the issue.
For all my other repositories, there are no uncommitted changes either.

[2021-12-06 22:28] steveward commented on #13457
@MichlF does dragging-and-dropping the repository into GitHub Desktop succeed?

[2021-12-06 22:33] MichlF commented on #13457
No, same issue.
Interestingly though, the local path popping up in the window is `C:\Users\Michl` which is not the path I am actually dragging the folder out from (`C:\Users\Michl\Documents\GitHub`, i.e. from a windows library subfolder). That same wrong path also shows up in the log I've sent earlier. Not sure whether that helps with the issue though.

[2021-12-06 23:43] Sweater-Baron commented on #11959
I just ran into this issue with not being able to stash the changes as well (wanted to switch branches).

I was able to solve it by just committing the files, and then running git reset --soft HEAD~1, after which Github Desktop didn't consider there to be any unresolved merge issues anymore and treated the files as normal, stashable uncommitted changes.

It definitely seems like a bug that stashin

[2021-12-06 23:52] agusterodin commented on #13452
What about the tooltips in my screenshots where you mirror the exact
contents of a button or current branch? Those aren't helpful at all.

Jeff Rosen

On Mon, Dec 6, 2021, 3:53 PM Billy Griffin ***@***.***> wrote:

[2021-12-07 01:48] erickdc7 commented on #9367
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads
Compressing objects: 100% (8/8), done.
Writing objects: 100% (8/8), 19.21 MiB | 10.22 MiB/s, done.
Total 8 (delta 3), reused 0 (delta 0), pack-reused 0
error: RPC failed; curl 55 Send failure: Connection was aborted
send-pack: unexpected disconnect while reading sideband packet
fatal: the r

[2021-12-07 08:32] KendallDoesCoding commented on #13454
@steveward Please reopen, for this I got a error messege with the logs for #13455, I downloaded it, but I couldnt clone anything nor did it show in my applications, I opened this because I got a popup when I tried installing this.

[2021-12-07 10:24] #2745 closed

[2021-12-07 10:29] niik commented on #13452
Yeah, I'm taking a look at those along with #13449 this week 👍

[2021-12-07 10:33] DannyVarod opened #13458 "Option to compare files, not change sets"
### Describe the feature or problem you’d like to solve

When comparing branches, it is hard to tell what the actual changes are and in some cases if there are any changes, especially if there were "squashed merges" into master.

### Proposed solution

Enable comparing the files, not the list of change sets, between branches - the same the "files" display in pull requests.
This will enable fast co

[2021-12-07 10:35] DannyVarod commented on #9609
And WinMerge too 🙂

[2021-12-07 12:28] #13402 closed, assigned to nobody

[2021-12-07 13:25] steveward commented on #13457
@MichlF any chance you have have a mistakenly-created `.git` directory in your root user folder? We've seen that happen in the past and it can cause issues like this.

Does creating a new repository work with out issue?

[2021-12-07 13:28] #13380 closed, assigned to nobody

[2021-12-07 14:02] isacfmaia opened #13459 "GitHub Desktop Invalid argument in Commit"
### Describe the bug
When committing the code, the tool displays the error messages:

error: unable to create temporary file: Invalid argument
error: unable to create temporary file: Invalid argument
error: Error building trees

In log GitHub Desktop:
error: [ui] `git commit -F -` exited with an unexpected code: 1.

### Version & OS
Version 2.9.5 (x64)
Windowns 10 Pro 21H2

### Steps to reproduce

[2021-12-07 15:12] ekimbernow opened #13461 "Action to create new worktree for repository"
### Describe the feature or problem you’d like to solve

Provide an action, perhaps under File or as a context item in the repository list, for creating a new worktree from a repository.

I envision something like:

1. File -> New work tree
2. Select repository to create work tree for
3. Specify worktree directory location using File chooser. Branch defaults to name of the directory
4. Set branch

[2021-12-07 16:24] JeffRubinoff opened #13462 "Cannot cherry-pick"
### Describe the bug
I cannot drag a revision from History to the branch picker. If I right-click a commit, Cherry-Pick is greyed out. This is true for all commits in all branches.
The only interesting thing in my repository is that I have more than one remote configured, with different branches on different remotes.
### Version & OS
2.9.5 (x64), macOS 11.6.1

### Steps to reproduce the behavior

[2021-12-07 16:28] tidy-dev commented on #13462
@JeffRubinoff That should only be the case if the app thinks a cherry-pick is in progress (in which case, it should be showing you some UI to indicate this). Could you try closing out the app and reopening it?

[2021-12-07 17:23] JeffRubinoff commented on #13462
It seems to have magically resolved itself! Since I was cherry-picking on the CLI in parallel, trying out this functionality, it's very possible the app thought the last one was still in progress. Feel free to close.

[2021-12-07 17:23] #13462 closed, assigned to nobody

[2021-12-07 17:29] steveward commented on #13461
Thanks for the feedback and for sharing your specific usage of worktrees @ekimbernow. I'm going to label this as an enhancement -- we've also got an issue tracking better support for worktrees in https://github.com/desktop/desktop/issues/907.

[2021-12-07 17:43] steveward commented on #13459
Thanks for the report @isacfmaia. These types of errors can be caused by a few things, so it'd be helpful if you could answer a few questions:

- Are you seeing this error in one specific repository or in all of your repositories?
- Are you storing this repository in a standard directory (i.e. not in DropBox, on a mapped network drive, etc.)?
- Have you tried committing directly via the command li

[2021-12-07 17:50] ekimbernow commented on #13461
Cool--I've subscribed to the other issue.

[2021-12-07 18:10] togaykurtulus opened #13465 "Github Desktop is working too slowly"
I use GitHub Desktop with my multiple divices. I ve got one more device and in this laptop
 github is working too slow. Commitint speed, seting up the branch , pushing and pulling are extremlly slow. In my desktop normally opening and getting ready to fetch  take 15 sec but at my new laptop it takes 5 minutes. Commiting takes 10-15 sec normally but now it takes 20 minutes. I can't understand what

[2021-12-07 18:18] KendallDoesCoding commented on #13465
Same, It's lagging for my laptop too.

[2021-12-07 18:27] togaykurtulus commented on #8869
I ve same issue
[2021-12-07.desktop.production.log](https://github.com/desktop/desktop/files/7670744/2021-12-07.desktop.production.log)
!

[2021-12-07 19:28] MichlF commented on #13457
No, I didn't and I created multiple new repositories but it didn't affect the issue.
It was long overdue and I reformatted my system today which also solved the issue but that obviously doesn't prevent it from coming back. If so, I'll post it here but for now I can no longer help troubleshoot the issue.

[2021-12-07 19:59] imraaqeel commented on #13383
Yes. It has resolved

[2021-12-07 20:03] steveward commented on #13465
@togaykurtulus can you fill out the template and share the log files from GitHub Desktop? It'd be helpful to know what operating system you are running.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs`.
The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue.

For reference there is anothe

[2021-12-07 20:59] steveward commented on #13416
@aminya @AppDevMichael are either of you running antivirus software on your machine outside of the built-in Windows Defender? That's a common culprit of performance issues as well.

[2021-12-07 21:07] aminya commented on #13416
I only use the built-in security features of Windows 11. I have also enabled Windows [ASR](https://github.com/securitywithoutborders/hardentools/blob/master/windows_asr.go) and [LSA](https://github.com/securitywithoutborders/hardentools/blob/master/lsa_protection.go) using [hardentools](https://github.com/securitywithoutborders/hardentools)

The problem does not happen with Git from the terminal,

[2021-12-07 21:28] steveward commented on #13398
@lxeridium thanks for the issue.

You can configure GitHub Desktop to work with a proxy by running the following command from the command line (you will need to [install Git for Windows](https://git-scm.com/download/win) if you have not already):

`git config --global http.proxy http://proxyuser:proxypwd@proxy.server.com:8080`

Replace `proxyuser` with your proxy username and `proxypwd` with your

[2021-12-07 21:28] #13398 closed, assigned to nobody

[2021-12-07 21:38] togaykurtulus commented on #13465
hello Steve , I used the same reprasotory with i3, i5  and i have the issue with i7 16gb ram and 1 tb ssd.
[2021-12-07.desktop.production.log](https://github.com/desktop/desktop/files/7671735/2021-12-07.desktop.production.log)

Thank you for the template but this is only GUI lack , switching branch, commiting are taking too long. As i mentioned i used the same project with other systems and they w

[2021-12-07 21:47] steveward commented on #8869
@togaykurtulus are you running any antivirus/security software on your machine that could be causing performance issues?

[2021-12-07 21:48] steveward commented on #13457
Thanks for the update, I'm going to close this out but let us know if you run into it again.

[2021-12-07 21:48] #13457 closed, assigned to nobody

[2021-12-07 22:20] togaykurtulus commented on #8869
Hello Steveward, I ve antivirus but It fixed , I didnt do anything but yes it is working ok now thank you

[2021-12-07 22:24] ImRodry commented on #11959
What I usually do to fix this is staging all files and then unstaging, which marks the issues as resolved and let's you do anything if you're looking for a quick workaround (since committing can sometimes take a while)

[2021-12-08 07:05] Qwerty33Iam opened #13467 "King"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-08 07:07] #13467 closed

[2021-12-08 10:05] wcardosodev opened #13468 "Everytime I close the app and reopen it I am forced to log back in"
### Describe the bug
When opening the application, it asks me to "Sign in to GitHub.com" which I do successfully. I can push pull commit etc fine, but when I close the application and reopen it I am forced to "Sign in to GitHub.com" all over again, which happens every single time I close it.

### Version & OS
Version: 2.9.5 (x64)
OS: Windows 10

### Steps to reproduce the behavior

1. Open GithubD

[2021-12-08 14:00] steveward commented on #13468
Thanks for the report @wcardosodev.

Can you try resetting GitHub Desktop by following these steps?

1. Close GitHub Desktop
2. Remove all of the files in `%APPDATA%\GitHub Desktop\`
3. Restart GitHub Desktop, log in, and add your repositories again

Let me know if that does not resolve this issue.

[2021-12-08 14:02] steveward commented on #13465
@togaykurtulus are you running antivirus/security software on your machine outside of the built-in Windows Defender? That's a common cause of performance problems.

[2021-12-08 14:08] steveward commented on #13454
@KendallDoesCoding you shared the same image in #13455, so I figured it would be easier to consolidate your issues for easier tracking. If you are still having issues with installing GitHub Desktop then it'd be helpful if you can share the setup log. You should be able to find the log file here:

`%LocalAppData%\GitHubDesktop\SquirrelSetup.log`

I'd definitely recommend trying to fully disable Nor

[2021-12-08 14:18] #13449 closed, assigned to niik

[2021-12-08 14:18] #13452 closed, assigned to niik

[2021-12-08 14:32] komape opened #13469 "Only commit selected files instead of checked files"
### Describe the feature or problem you’d like to solve

Every time I do a lot of changes I have multiple files to commit. I don't want to commit them in one commit but in multiple commits. Coming from other tools I'm very used to select the files I want to commit, enter a message and hit commit. By selecting, I mean to click a file in the 'changed files' list, hold CTRL and click another one. I e

[2021-12-08 15:28] wcardosodev commented on #13468
@steveward that's worked perfectly thank you!

[2021-12-08 15:28] #13468 closed, assigned to nobody

[2021-12-08 15:32] DALILASALHI opened #13472 "how to convert an excel file to an AFB120 format file"
### Describe the feature or problem you’d like to solve
I'm beginner vb developer scripts.
i think declaration and initialization of the variables are wrong
### Proposed solution
i need help to run my code

### Additional context : my code VB
Dim MOT1 As String * 30
Dim MOT2 As String * 30
Dim MOT3 As String * 30
Dim MOT4 As String * 30
Dim MOT5 As String * 30
Dim MOT6 As String * 30
Dim DEVISE As

[2021-12-08 15:32] #13472 closed, assigned to nobody

[2021-12-08 16:02] KendallDoesCoding opened #13473 "Github Desktop Youtube"
### Describe the feature or problem you’d like to solve

Know this is kinda off topic for this repo, but a Github Desktop youtube channel would really be cool. I know you guys have docs but yeah

### Proposed solution
It will have tutorial videos, which will help people to understand how to use Github Desktop more better.

### Additional context

I just think this is a cool idea!

[2021-12-08 16:21] ekimbernow opened #13474 "Switch to worktree when selecting a branch in branch list/offer to add worktree as repo"
### Describe the feature or problem you’d like to solve

If I have multiple work trees for repo and I'm in one worktree and I use the branch selector (not the repo selector) to select a different branch, GitHub Desktop reports what git command line says, which is "branch foo is already checked out in directory ../foo"

It would be much more friendly if GitHub Desktop could instead determine:

A) T

[2021-12-08 17:17] armsomboon opened #13476 "###Proposed solution"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-08 17:43] j-f1 opened #13479 "Tooltip pluralization bug on Changes tab"
### Describe the bug
The pluralization of “changed files selected” seems to be controlled by the number of changed files selected rather than the total

### Version & OS

GitHub Desktop Version 2.9.5 (x64)
macOS 11.6 (20G165)

### Steps to reproduce the behavior

1. Change multiple files in a repo
2. Select one of them
2. Hover “X changed files”

### Expected behavior

It should show a plural if t

[2021-12-08 17:52] adamofmoore commented on #11410
@alexbegg This method worked for me! Thank you! The `github-windows://` change was key here.

[2021-12-08 18:12] steveward commented on #13473
Thanks for the feedback @KendallDoesCoding! At this time we don't have any plans around this, but there are a number of helpful videos created by users of GitHub Desktop on YouTube (and anyone is welcome to make some more!). We do have presentations about GitHub Desktop during our yearly GitHub Universe conference, so I'd recommend following along with the official GitHub YouTube channel for that

[2021-12-08 18:12] #13473 closed, assigned to nobody

[2021-12-08 18:39] KendallDoesCoding commented on #13473
Thanks Steve!

On Wed, 8 Dec 2021 at 23:42, Steve Ward ***@***.***> wrote:

[2021-12-08 18:52] kasia129 commented on #6605
I can confirm that what @Hamza804-latif  suggested worked for me as well.

[2021-12-08 20:01] wingforth opened #13483 "Add support for VSCode portable"
I have a portable vscode on my computer, but GitHub Desktop app can't  recognize it.  If I want to set vscode as an external editor of GitHub Desktop, I need to install vscode through the installation file.
Is there any way to set the  poratble vscode as an external editor for GitHub Desktop?

[2021-12-08 20:15] steveward commented on #13483
Thanks for the feedback @wingforth. At this time portable installations are not supported in GitHub Desktop, but this is being tracked along with other editor improvements in https://github.com/desktop/desktop/issues/7033. There's a similar request for Notepad++ in https://github.com/desktop/desktop/issues/9561. I'm going to edit the title and label this as an enhancement.

[2021-12-08 22:22] Bricobit commented on #8838
I'm with the same problem and I can't find a solution, sometimes due to unit change or for other reasons I have had to re-indicate the repository path and it never finds it, in the end I have to make strange inventions because the code I have in My computer is more advanced than that of the repository, I have to save my files in another place, delete the repository, clone it again and then replace

[2021-12-09 01:14] askzy opened #13485 "Better support for worktrees"
### Describe the feature or problem you’d like to solve

I created 3 worktrees of the same repo that I work on, each on different branches and containing different commits that I have. Right now they all look the same in github desktop because the name shown is the remote repo name, and they of course have the same remote repo name.

### Proposed solution

Include some basic info (e.g. the path to

[2021-12-09 01:15] askzy commented on #13485
<img width="256" alt="Screen Shot 2021-12-08 at 5 14 55 PM" src="https://user-images.githubusercontent.com/1498322/145316567-0799208a-d6bc-4d6e-9f23-be468108c1e4.png">

[2021-12-09 08:34] wingforth commented on #13483
Thank you for your reply, and hope that vscode can support adding other editors (including portable) as an external editor.

[2021-12-09 13:58] saras-koiri opened #13487 "Unable to clone github repo"
### Describe the bug
Write a clear and concise description of what the bug is.

I am unable to clone the repo with the URL:
https://github.com/eugenp/tutorials

### Version & OS
Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

Version 2.9.4 (x64)
Windows 10

### Steps to reproduce the behavior

From GitHub.com go to the repo

[2021-12-09 14:39] darkrevenger commented on #9954
Same here... I had more than 40 repos and to be honest I don't even know where they are on my PC but thats my fault for trusting a program of keeping an eye of where my proyects are.

Can't github desktop at least add a backup once every day of where they are stored?

[2021-12-09 14:41] sendebarshi opened #13488 "swagger 2 snyk issue"
used the latest version of swagger2 3.0.0 but still the issue persists because there is no fixed version available for Swagger-improper validation input. Here is the code snippet.
#feature/cdtasde 4416
      <dependency>
         <groupId>io.springfox</groupId>
         <artifactId>springfox-swagger2</artifactId>
         <version>3.0.0</version>
         <exclusions>
             <exclusion>

[2021-12-09 17:15] steveward commented on #13488
@sendebarshi this issue tracker is for GitHub Desktop, it looks like you're looking for a different repository that is hosted on GitHub. I'm going to close this out.

[2021-12-09 17:15] #13488 closed, assigned to nobody

[2021-12-09 17:42] ionultd opened #13489 "Check and Update all repositories with one click"
Hi,

A lot of GitHub users have numerous repositories that gets quite tedious to manually update so they often resort to running a scheduled/cron script to do so. Please make this ability part of GitHub Desktop so that all us users have to do is hit one button to start a repositories wide pull and update. Especially useful for new users instead of scouring the internet for the best update script.

[2021-12-09 17:45] NotQuiteCosmic commented on #4354
As someone who is relatively new to Git and GitHub Desktop, I too hit this summary-field stumbling block. Looking back, a little bit of reading would have revealed the issue (the required is fairly obvious) but the fact of the matter is that it took me the better part of an hour to figure out. While most people wouldn't be caught up by this, I think a relatively simple and very helpful tool would

[2021-12-09 18:25] steveward commented on #13487
@saras-koiri thanks for the issue. It looks like the clone operation is timing out:

[code]

I was able to clone the repository successfully, so my guess is that this is a network connection issue. Are you on a reliable network connection? If you can try from a different network that may help narrow down if that could be the specific cause.

One thing some users have had success with is to switch

[2021-12-09 19:14] willparsons opened #13490 "Amend commit not showing up"
### Describe the bug
I don't have the option to amend a commit in the history section.

### Version & OS
Github Desktop: 2.9.5
OS: Windows 11 21H2 Build 22000.348

### Steps to reproduce the behavior

1. Go to history
2. Right-click on commit
3. No option to amend

### Expected behavior

I can amend a commit.

### Actual behavior

No option to amend a commit.

### Screenshots

![image](https://use

[2021-12-09 19:33] steveward commented on #13490
@willparsons thanks for the issue. You can only amend the most recent commit in your repository's history -- if you're unable to do that please let me know!

[2021-12-09 19:33] #13490 closed, assigned to nobody

[2021-12-09 19:40] steveward commented on #13489
Thanks for the issue @ionultd. GitHub Desktop automatically fetches and fast-forwards your repositories in the background (see [this explanation](https://github.com/desktop/desktop/issues/4950#issuecomment-397694857). Adding a `Pull all` has been previously discussed in #2460 and #6482, but at this time we have not decided to move forward with this due to it not being an area that we see as a pain

[2021-12-09 19:40] #13489 closed, assigned to nobody

[2021-12-09 19:53] willparsons commented on #13490
That one was the most recent commit in history.

[2021-12-09 20:52] carrill1 commented on #8955
+1

[2021-12-10 04:34] vismein opened #13492 "Getting "Authentication failed" error on Github Desktop on MACOS"
### Describe the bug
Since 8th December 2021, I am getting "Authentication Failed" error on Mac OS. It was working perfectly before 8th December. Whenever i try to do 'Fetch Origin' (for an existing repo) or Clone a new repo, I am prompted to authenticate and is redirected to the browser. Once I authenticate successfully, the request is redirected to github desktop. When I again do a 'Fetch Origin

[2021-12-10 05:33] Gomathi91 opened #13493 "Authentication failed"
Many times i tried to clone gitlab project and it's display issue "Authentication Failed". I created Personal Access Token(PAT) in gitlab and used as a password in github desktop again it doesn't clone and get authentication failed. Please fix this issue.

![image](https://user-images.githubusercontent.com/95854867/145522819-9effd37d-d2e6-461a-9c7d-fdbf6bad071a.png)

[2021-12-10 08:50] vismein commented on #13492
It was a proxy issue. Closing this.

[2021-12-10 08:50] #13492 closed, assigned to nobody

[2021-12-10 10:25] seksun-jpg opened #13494 "github.com/seksun-jpg/seksun-jpg"
github.com/seksun-jpg/seksun-jpg/
Open the GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

#13492 Steps to reproduce pipaek1[link</ref>URL:http://www.google.com](https://www.interpress.microsoft.ro/.wort.org.ch)

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

#13492 Expected behavior

Write a clear and concise description of w

[2021-12-10 10:25] #13494 closed

[2021-12-10 11:35] Kongpc2535 opened #13495 "Kongpc"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-10 12:52] #13495 closed

[2021-12-10 14:06] manjitsinghrai9 opened #13496 "All data recovery"
Someone hacked my all social media account and my And my home Internet IP address and my iCloud’s IP address my device I am in and the IP address creator helping people there’s a helping websites on the Wikipedia so whatever’s third-party websites using after my use all data so please help mepersonal information or personal data on my all Gmail account Samsung account Google Drive data Apple iClou

[2021-12-10 14:06] manjitsinghrai9 commented on #13496
Someone hacked my all social media account and my And my home Internet IP address and my iCloud’s IP address my device I am in and the IP address creator helping people there’s a helping websites on the Wikipedia so whatever’s third-party websites using after my use all data so please help mepersonal information or personal data on my all Gmail account Samsung account Google Drive data Apple iClou

[2021-12-10 14:36] sahilpatil9763 opened #13497 "github desktop is not opening in my windows 10"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-10 16:56] steveward commented on #13497
Thanks for reaching out @sahilpatil9763!

Would you mind filling out the rest of the issue template so that we can better understand what is causing the problem you are experiencing? Without that information it will be difficult to help you further. It would especially be helpful if you could upload the log file from GitHub Desktop, which will give more details about the specific error you are see

[2021-12-10 16:56] #13496 closed

[2021-12-10 16:58] steveward commented on #13493
@Gomathi91 have you followed [this guide](https://github.com/desktop/desktop/blob/development/docs/integrations/gitlab.md) for using GitLab with GitHub Desktop? You need to make sure you set up the correct read/write access setting for the token. Let me know if that doesn't help.

[2021-12-10 18:52] alancoler opened #13500 "Selecting Code On Right Side of History List Deselects History Item."
### Describe the bug
When I use the GitHub desktop and select the History tab and then select one of the items. Then after I select the code on the right, it deselects the item in the history list so I don't know which one I am looking at. This is important when I want to see what changes happened when or before and after other items. I am totally lost when this happens.

### Version & OS

Open th

[2021-12-10 18:57] tidy-dev commented on #13500
Hi! Curious which version you are running. This was a regression that was resolved in version 2.9.5.

[2021-12-10 19:57] zprjk commented on #12562
Similar problem here also. Win10 + Husky v7 + Github Desktop

Not running through WSL but I have Git Bash installed.

[2021-12-10 20:38] #13440 closed, assigned to nobody

[2021-12-10 21:24] steveward commented on #13485
Thanks for the feedback @askzy. The best solution for this until we improve worktree support (https://github.com/desktop/desktop/issues/907) would be to use the alias feature (right-click -> Create Alias) to differentiate between them. I'm going to close this out since we're tracking broader support for worktrees in #907. I hope that helps!

[2021-12-10 21:24] #13485 closed, assigned to nobody

[2021-12-10 21:40] drakebyte commented on #5709
[THIS ](https://github.com/desktop/desktop/issues/5709#issuecomment-927948403 )comment is the answer, and it worked. too bad it isn't fixed yet.

[2021-12-11 03:09] b0989596914 commented on #11314
i could't understand with it

[2021-12-11 07:02] Chalo0 opened #13503 "🪲"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-11 07:03] #13503 closed, assigned to nobody

[2021-12-11 12:43] ghost opened #13505 "Request return"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template
  #13078 ### _****_ have a pull request that needs help from the desktop###

[2021-12-11 15:35] sahilpatil9763 commented on #13497
When i click on the icon of github desktop its not opening in my pc only showing loding but not opeing

[2021-12-11 17:00] nikolay-pv opened #13507 "Do"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-12 12:42] agisilaos opened #13510 "I can't seem to build the project using an M1 MacBook Pro"
### Describe the bug
Hello folks I digged in again and tried to build the project since I would like to continue making contributions to one of my favourite projects. When I follow the instructions for building the project for [Arm64](https://github.com/desktop/desktop/blob/development/docs/contributing/building-arm64.md) I get this error(s) as a result. What am I missing? I've install all require

[2021-12-12 22:07] Thore3 commented on #13507
Show Logs...,

[2021-12-12 23:03] nikolay-pv commented on #13507
You won't believe me, but this issue was logged by accident through the GitHub mobile app in my pocket. I saw it briefly but assumed no harm was done.
I guess, logging issues now as easy as never 👍🏻

Sorry for the inconvenience.

[2021-12-12 23:03] #13507 closed, assigned to nobody

[2021-12-13 06:41] nejdevyslovit opened #13512 "black"

[2021-12-13 07:04] karthikrajn opened #13513 "Not able to clone"
I am not able to clone the project from the github look into the issue and solve it as soon as possible

[2021-12-13 07:08] keerthanas39 opened #13514 "Unable to clone the repository"
When I try to clone the repository it showing repository not found and authentication failed. Kindly help me to overcome from this as soon as possible.

[2021-12-13 07:44] #13512 closed

[2021-12-13 08:20] Ethan-Na opened #13518 "There is an error in recognizing the folder name."
### Describe the bug

Folder name error
The SB_ADMIN2 folder is marked as SSB_ADMIN2 and the contents of the folder cannot be found.

### Version & OS

![image](https://user-images.githubusercontent.com/85219875/145776199-04fdb465-631d-4ced-a72d-8e0c8bd3b036.png)

### Steps to reproduce the behavior

Add a new folder inside the project folder. (ex> ..\Content\CustomTheme\)

### Expected behavior

[2021-12-13 09:45] niik commented on #13518
Hey @Ethan-Na, it looks like maybe GitHub Desktop is having problems parsing the path to that directory. Likely this has something to do with the language of your operating system which makes it hard for me to debug this remotely.

Would you be able to run the following command in a console?

Start by clicking on the Repository menu and then on "Open in Command Prompt", then run the following comm

[2021-12-13 09:46] niik commented on #13514
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-12-13 09:47] niik commented on #13513
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-12-13 09:55] saras-koiri commented on #13487
Hi,

Yes my network is reliable, my speed is around 180Mbps. I was able to clone
the repo via my Eclipse Git plugin using the SSH url. I was not able to use
the SSH URL in GitHub Desktop. This I find very strange and it seems like
an issue with my GitHub Desktop app.

When I try via Github Desktop I get an authentication failed error even
though I am able to use the same SSH public key from Eclips

[2021-12-13 10:00] niik commented on #13510
:heart: We' love to see more contributions from you!

Paging @sergiou87 who's the only one on our team who currently builds Desktop on an M1 but some quick Googling suggests that maybe it's your installed version of Node (17.2.0) that's causing this problem. Could you try installing the [same version we're using](https://github.com/desktop/desktop/blob/development/.node-version) (14.15.1)?

See ht

[2021-12-13 10:00] #13505 closed, assigned to nobody

[2021-12-13 10:06] niik commented on #13497
Can you try resetting GitHub Desktop by following these steps?

- Close GitHub Desktop
- Remove all of the files in `%APPDATA%\GitHub Desktop\`
- Restart GitHub Desktop, log in, and add your repositories again

Let me know if that does not resolve this issue.

[2021-12-13 10:10] niik commented on #13487
Hi @saras-koiri. Are you able to use the repository in GitHub Desktop if you manually add it to GitHub Desktop after cloning with Eclise? You can add it by either dragging the directory to GitHub Desktop or by clicking on the `File` menu, followed by `Add Local Repository`.

If you're able to add the repository to Desktop could you then try changing the remote url back to the `https` url following

[2021-12-13 10:17] karthikrajn commented on #13513
when ever I try to clone the project I am facing the issue "remote: Repository not found." how to solve those issue

[2021-12-13 10:18] niik commented on #13513
Hi @karthikrajn, without a complete template or log file it's hard to speculate but the most common reason for that error is that you're either not logged in or that the user you've logged in with in GitHub Desktop doesn't have access to the repository.

[2021-12-13 10:22] niik commented on #13469
Hi @komape, I can understand the confusion here. In the initial version of GitHub Desktop it wasn't possible to select multiple files by holding CTRL and clicking on them. When we added that functionality in order to support discarding multiple files we unfortunately found ourselves with two ways to "select" files.

Changing the way users select which files to include in a commit would be much too

[2021-12-13 10:22] #13469 closed, assigned to nobody

[2021-12-13 10:27] karthikrajn commented on #13513
I have access to that repository and even i have logged into the github in my system n even cleared all the data in the credential manager n then tried again even facing the same issue, here is the snippet of the log file it might help.

{
  "exitCode": 128,
  "gitErrorCode": "NotAGitRepository",
  "gitCommand": "rev-parse",
  "stdout": "",
  "stderr": "fatal: not a git repository (or any of the p

[2021-12-13 10:35] karthikrajn commented on #13513
Cloning into 'c:\Users\karthikraj.n\SilmaaSima2\cc-silmaasema'...
remote: Repository not found.
fatal: Authentication failed for 'https://github.com/silmaasema/cc-silmaasema.git/'

Cloning into 'c:\Users\karthikraj.n\Desktop\silmaasima\cc-silmaasema'...
remote: Repository not found.
fatal: Authentication failed for 'https://github.com/silmaasema/cc-silmaasema.git/'

[2021-12-13 10:37] saras-koiri commented on #13487
Yes I was able to add the repo to Github Desktop. Not sure what steve's
steps were but I changed the URL in Repository Settings from SSH to HTTPS.
That worked and I can see the repo in GitHub Desktop.

[image: image.png]

[image: image.png]

[image: image.png]

Regards

On Mon, 13 Dec 2021 at 10:11, Markus Olsson ***@***.***>
wrote:

[2021-12-13 10:38] sergiou87 commented on #13510
I'm sorry @agisilaos I think that documentation is very outdated. I will try to find the time to update it.

Meanwhile, what I do is just setting `TARGET_ARCH` and `npm_config_arch` env variables to `arm64`. You can try this out:

[code]

Please, give that a try and let me know if it helps!

[2021-12-13 10:39] niik commented on #13416
Hey @aminya, sorry to hear you're having problems. Those execution times certainly aren't what we'd expect to see. Are these extra safeguards that you have enabled on your machine something you can temporarily disable to see if that's what's interfering with GitHub Desktop?

[2021-12-13 10:43] Radin909090 opened #13522 "sajadnankali64204@gmail.com"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-13 10:43] Radin909090 commented on #13522
C

[2021-12-13 10:43] #13522 closed

[2021-12-13 10:50] #13479 closed, assigned to nobody

[2021-12-13 11:06] keerthanas39 commented on #13514
Hii,
Even though I have access for git repository and I have logged into my account with the github desktop as well. When I tried to clone by using URL and my credentials like user name and PAT it shows authentication failed .

![Screenshot (60)](https://user-images.githubusercontent.com/93176908/145800896-322dc0b8-1a6f-47f0-bc41-35ed85bed5fc.png)

[2021-12-13 11:43] angelsk commented on #5709
Still getting this issue Version 2.9.5 (x64) - I have done the symbolic refs and updated. Restarted the app. It's still not detecting the correct branch as default; and keeps offering to do a PR with no changes. Very frustrating.

<img width="848" alt="Screenshot 2021-12-13 at 11 43 03" src="https://user-images.githubusercontent.com/606510/145806280-c0fb3e89-5c52-4c79-a791-78ea4ada1a95.png">

![Sc

[2021-12-13 12:26] #13429 closed, assigned to nobody

[2021-12-13 13:36] sahilpatil9763 commented on #13497
its still not opening

[2021-12-13 14:12] #13437 closed, assigned to nobody

[2021-12-13 15:14] #13444 closed, assigned to nobody

[2021-12-13 17:15] PeterTaylor2 opened #13524 "github desktop stopped working after upgrade to 2.9.5"
I was in a hurry - my solution was to delete the app-2.9.5 folder - now everything is working again.

[2021-12-13 17:27] steveward commented on #13524
@PeterTaylor2 thanks for reporting this. Since things are working now I'm going to close this out, but let us know if you encounter any further problems.

[2021-12-13 17:27] #13524 closed, assigned to nobody

[2021-12-13 17:30] steveward commented on #13514
@keerthanas39 thanks for the screenshot. Are you attempting to clone a repository that is hosted on GitHub, or a different Git hosting service? If it is a github.com repository can you verify that you are logged in by going to `File` > `Options` > `Accounts`?

[2021-12-13 18:02] agisilaos commented on #13510
@sergiou87 Doesn't seem to work. Will give it a go with @niik's suggestion and report back. ❤️

[2021-12-13 18:13] steveward commented on #13513
@karthikrajn could you upload the entire log file so that we can take a closer look?

[2021-12-13 18:37] JennHM commented on #3320
Logged in but Commits with my name and "Unknown User" on github [Desktop] - This has happened to me.  Please tell me how I can provide more info
- signed in under "Options"
- can commit using browser

[2021-12-13 19:09] agisilaos commented on #13510
@niik For some reason I tried installing node version by typing `nvm install` inside desktop directory and I installed `14.15.4` not `14.15.1`.  I didn't specify a version, I expected to install the one you mentioned but that didn't happen.

 Then I followed @sergiou87 commands then and it worked. I can build the project.

[2021-12-13 19:16] nickbearman commented on #3606
Would also like to see this feature :-)

[2021-12-13 19:39] agisilaos commented on #13510
@sergiou87 I can update the docs if you want. We can coordinate on that and I can open the PR when we land on the exact document updates.

[2021-12-13 19:43] agisilaos commented on #12838
I can reproduce this on `GitHub Desktop Version 2.9.5 (arm64)`, macOS Monterey version: `12.0.1 (21A559)`

[2021-12-13 20:21] steveward commented on #13497
To get some more information about why the installation is failing it would be helpful if you could send over the log file that the Squirrel installer generates.

You should be able to find the log file here:

`%LocalAppData%\GitHubDesktop\SquirrelSetup.log`

If no log file is being generated there you should be able to find one in the `SquirrelTemp` directory:

`%LocalAppData%\SquirrelTemp\Squirr

[2021-12-13 21:16] #13455 closed, assigned to nobody

[2021-12-13 22:38] agisilaos commented on #6851
@niik Can we mark this issue as accessibility issue as well? In addition to that, I would like to work on it but I will definitely need some guidance.

[2021-12-13 22:58] agisilaos commented on #4574
@sergiou87, @niik I think this is now fixed based on the new way of defining components etc?

[2021-12-13 23:00] agisilaos commented on #7266
@niik I'm planning to work on this so I'm assigning myself.

[2021-12-13 23:12] agisilaos commented on #3913
@niik This is something I want to get back on and work on. But based on your comments on the PR (3 years ago) I'm baffled on how to move forward.

[2021-12-14 03:40] karthikrajn commented on #13513
Validating found git in: C:\Program Files\Git\cmd\git.exe
Validating found git in: C:\Program Files (x86)\Git\cmd\git.exe
Validating found git in: C:\Program Files\Git\cmd\git.exe
Validating found git in: C:\Users\karthikraj.n\AppData\Local\Programs\Git\cmd\git.exe
Using git 2.32.0.windows.2 from C:\Users\karthikraj.n\AppData\Local\Programs\Git\cmd\git.exe
Opening repository for path='c:\Users\kar

[2021-12-14 04:30] karthikrajn commented on #13513
[Info] C:\Users\karthikraj.n\.ssh\config: ENOENT: no such file or directory, open 'C:\Users\karthikraj.n\.ssh\config'
[Info] Registering git provider
[Info] Looking for git repository
[Info] Found 0 repositories during activation
[Info] Waiting for git repository
[Info] Repository file:///c%3A/Users/karthikraj.n/SilmaaSima2/cc-silmaasema has been opened
[Info] Repository file:///c%3A/Users/karthik

[2021-12-14 04:32] keerthanas39 commented on #13514
I am attempting to clone the repository from github.com and I have logged into my account by going to File > Options > Accounts, still I am facing the same issue which I shared in the screenshot.

[2021-12-14 04:41] karthikrajn commented on #13513
[20211214T090744.zip](https://github.com/desktop/desktop/files/7708723/20211214T090744.zip)

[2021-12-14 07:56] sergiou87 commented on #13510
It's weird that it didn't pick the version from our `.nvmrc` file 🤔

@agisilaos that sounds good to me! I guess we don't need the step of installing arm64 dependencies anymore (I haven't used that at least FWIW), and just exporting the two new env vars and having the right node version should suffice.

[2021-12-14 10:56] PhilPercipio opened #13530 "Remove restriction to size of 'Changed Files' window on desktop app MAC"
I would like to suggest removing the restrictions to the size limit of the Changed Files window on the Github desktop version.

I often find myself trying to expand the window, especially with larger screens so that I can see the full file path and name displayed. Currently there is a hard limit on the width of the left hand window section and '...' is used to truncate the file path.

This will be

[2021-12-14 11:05] niik commented on #13530
Hey @PhilPercipio, thanks for reaching out. We just made a change to support much wider panels in #13439. That change is currently on our beta channel and will likely make it into the next production release. If you want to try it out right now you can install our beta version from https://github.com/desktop/desktop#beta-channel

[2021-12-14 11:05] #13530 closed, assigned to nobody

[2021-12-14 11:07] niik commented on #13514
Hey @keerthanas39, could you upload a log file from GitHub Desktop so that I could get some more information about this issue? To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Explorer`.

The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue. Thanks!

[2021-12-14 11:10] niik commented on #13513
Hey @karthikrajn, that log file doesn't appear to come from GitHub Desktop, my best guess is that you're using Visual Studio Code. Could you please verify that the application you're having problems with is GitHub Desktop?

[2021-12-14 11:12] niik commented on #13500
Hey @alancoler, as @tidy-dev mentioned we believe that the issue you're seeing has been fixed in the latest version of GitHub Deskop. Please make sure you're running at least version 2.9.5 by clicking on the `GitHub Desktop` -> `About GitHub Desktop` menu item. I'll close this issue for now but please let us know if you're still experiencing the problem after ensuring you're on the latest version.

[2021-12-14 11:14] keerthanas39 commented on #13514
[2021-11-18.desktop.production.log](https://github.com/desktop/desktop/files/7711107/2021-11-18.desktop.production.log)
[2021-11-19.desktop.production.log](https://github.com/desktop/desktop/files/7711108/2021-11-19.desktop.production.log)
[2021-12-10.desktop.production.log](https://github.com/desktop/desktop/files/7711109/2021-12-10.desktop.production.log)
[2021-12-13.desktop.production.log](http

[2021-12-14 11:15] karthikrajn commented on #13513
I have a issues in github desktop as well the log file is attached as follows
[2021-12-13.desktop.production.log](https://github.com/desktop/desktop/files/7711115/2021-12-13.desktop.production.log)
[2021-12-14.desktop.production.log](https://github.com/desktop/desktop/files/7711116/2021-12-14.desktop.production.log)
[2021-11-19.desktop.production.log](https://github.com/desktop/desktop/files/77111

[2021-12-14 11:28] keerthanas39 commented on #13514
[2021-12-14.desktop.production.log](https://github.com/desktop/desktop/files/7711210/2021-12-14.desktop.production.log)

this is the updated one which I tried recently

[2021-12-14 11:49] karthikrajn commented on #13513
<img width="722" alt="image" src="https://user-images.githubusercontent.com/93183838/145992835-e22f07da-e2f4-43cc-b264-474220975320.png">

[2021-12-14 13:20] alancoler commented on #13500
I have version Version 2.9.4 (x64) and don't see it updating past this as it goes into an infinite "check for updates" wait.

Is there a bug report for this updating problem?

<img width="895" alt="Screen Shot 2021-12-14 at 8 19 29 AM" src="https://user-images.githubusercontent.com/12138500/146006251-58f1b890-c3ef-489f-9b84-f4fb0b7595ca.png">

________________________________
From: Markus Olsson *

[2021-12-14 15:08] Xeoneid commented on #13204
I've just updated and will be testing it along the week. Thanks for fixing this bug! My team totally loves the tool but this was the issue we most often encounter.

[2021-12-14 16:11] MSP-Greg opened #13533 "Menu - Repository - Add 'View fork on GitHub'"
### Describe the feature or problem you’d like to solve

The 'Repository' sub-menu contains a 'View on GitHub' command.  If one is working in a fork, this opens the upstream web page.  From the upstream web page, it's very inconvenient to get to one's fork.  But, from one's fork web page, it's very convenient to get to the upstream web page.

### Proposed solution

Add a 'View fork on GitHub' item

[2021-12-14 16:19] MSP-Greg opened #13534 "Toolbar - 'Current Branch' control truncates many branch names"
### Describe the feature or problem you’d like to solve

Using a fork of the desktop repo, many of the branch names are truncated.  With a 4k monitor, the toolbar's 'Current Branch' control is too narrow.  Same for its drop down list.

### Proposed solution

Please allow it to resize based on window width or add a re-sizer control to it.

[2021-12-14 17:17] photonstorm commented on #13363
I'm _pretty sure_ this issue is the same as #13204 which was closed in version 2.9.6. I'll keep an eye and see if it happens again!

[2021-12-14 17:32] steveward commented on #13534
Thanks for the issue @MSP-Greg. This is being tracked in https://github.com/desktop/desktop/issues/4569, so you can subscribe there for updates.

[2021-12-14 17:32] #13534 closed, assigned to nobody

[2021-12-14 17:44] MSP-Greg commented on #13534
Given that the issue is from May of 2018, I might say ignored.  In terms of adoption and use, adding new features only goes so far if basic UI issues aren't addressed...  \<rant off\>

[2021-12-14 18:28] #13459 closed, assigned to nobody

[2021-12-14 18:52] ekimbernow commented on #3754
👍  We manage repos of 40K+ files across about 150 active authors. Being able to see both the log with diffs and blame report for individual files is essential.

[2021-12-14 19:41] OP-EAA-MUSIC-NETWORKS commented on #13455
STOP SENDING ME THESE

[2021-12-14 19:42] OP-EAA-MUSIC-NETWORKS commented on #13534
FUCK OFF SENDING THESE

STOP TRYING TO CLONE ME

[2021-12-14 20:26] carrickpaul commented on #13497
I've had a similar issue when upgrading from 2.9.5 to 2.9.6 today. It would launch  (briefly seen in the task manager) and disappear.

I opened the old 2.9.5 executable (C:\Users\Paul\AppData\Local\GitHubDesktop\app-2.9.5), did a commit, exited, and the new 2.9.6 version now works.

From todays log files,  from before the app was working again, the only warning was:
[14/12/21 17:34:38] warn: Updat

[2021-12-15 01:50] VivBlue opened #13535 "unresolved conflicts in working directory"
##
### Describe the feature or problem you’d like to solve

when i press the pull and fetch button, a status popped out " unresolved conflicts in working directory'. it stopping me from updateing.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-15 02:14] Jynxninth commented on #13535
Looking at the https://github.com/desktop/desktop/blob/development/.github/CONTRIBUTING.md#before-submitting-an-enhancement-suggestion

Clicking on th etemplate list does nothing but take you here
https://github.com/desktop/desktop/blob/development/.github/ISSUE_TEMPLATE/problem-to-raise.md

[2021-12-15 03:19] steveward commented on #13535
@VivBlue this error indicates there are conflicts that need to be resolved and committed before you can perform a pull. You should see the conflicted files in the `Changes` tab. Let me know if you have any questions about how to resolve merge conflicts.

[2021-12-15 03:25] steveward commented on #13533
Thanks for the feedback @MSP-Greg. The `View on GitHub` action is based on the selected fork behavior in `Repository` > `Repository Settings` > `Fork Behavior` (just wanted to share that this was an option for reference). I'll label this as an enhancement for future consideration of having the specific menu item for forks.

[2021-12-15 04:47] Ethan-Na commented on #13518
Thanks for the guide I have attached the file you requested. Thanks,

[status.txt](https://github.com/desktop/desktop/files/7716512/status.txt)

[2021-12-15 04:54] FMA606 commented on #13221
https://github.com/desktop/desktop/files/7448450/2021-10-31.desktop.production.log

[2021-12-15 06:04] xhiroga opened #13536 "Support same push notifications that GitHub Mobile does"
### Describe the feature or problem you’d like to solve

GitHub Mobile's push notifications are very useful. I want to be able to have the same experience without having to take out my phone at work.
Therefore, I would like push notifications as well as GitHub mobile.

### Proposed solution

I would like to receive push notifications for updates to the [Notification](https://github.com/notificatio

[2021-12-15 06:58] laithhisham opened #13537 "PAT is not saved for Azure DevOps"
### Describe the bug
GitHub Desktop seems to no longer be saving the personal access token and keeps asking for credentials on each action performed on an Azure DevOps repo. The PAT is valid and using it again works, so it seems to be an issue in storing and reusing it.

### Version & OS
2.9.6 (x64), Windows 11

### Steps to reproduce the behavior
1. Clone a repo from AzureDevops.
2. Switch to a n

[2021-12-15 07:05] recyard commented on #13204
@tidy-dev Thanks a lot for the fix, Desktop now works like a charm.

[2021-12-15 08:09] Ali-YousefiTelori opened #13538 "Support for folder based on a list of GitHub desktop repositories"
### Describe the feature or problem you’d like to solve

We have +80 repositories in the GitHub desktop app, we need a category system based On the Github desktop app.

### Proposed solution

this feature will clear space of the repositories in my desktop application and easy to manage them, for example, we have Flight repositories, Hotel repositories, and Train Repositories, etc, so it will help

[2021-12-15 08:37] Ali-YousefiTelori opened #13539 "To See Current barnch of every repositories?"
### Describe the feature or problem you’d like to solve

We have +80 repositories in the GitHub desktop app, we need to see all of the current branches of repositories at a glance.

### Proposed solution

For example, this feature will clear for us to see what branches are not in Develop so we will fix it and check out it to Develop to prevent developer mistakes, because maybe the developer forgot

[2021-12-15 09:33] niik commented on #13362
Hey @Sil-Boydens, sorry that you've had to wait for so long to get an answer to your question.

GitHub Desktop doesn't skip hooks for any operation but we do ship a minimal Git environment in order to be able to rely on a consistent version of Git as opposed to depending on what's installed locally. That minimal environment doesn't include (among other things) `bash` which is a common reason why h

[2021-12-15 09:42] niik commented on #13539
Hi @Ali-YousefiTelori, this feature has been requested before in https://github.com/desktop/desktop/issues/8158 so I'm going to close this issue in favor of that. That issue is currently closed as we haven't prioritized it but please add a 👍 reaction to that issue, we use that and other factors when we decide what work to prioritize.

[2021-12-15 09:42] #13539 closed, assigned to nobody

[2021-12-15 09:43] niik commented on #9281
Hi @JosephTLyons, I'm doing a bit of issue cleanup and this feature has been requested before in https://github.com/desktop/desktop/issues/8158 so I'm going to close this issue in favor of that. That issue is currently closed as we haven't prioritized it but please add a 👍 reaction to that issue, we use that and other factors when we decide what work to prioritize.

[2021-12-15 09:43] #9281 closed

[2021-12-15 09:43] niik commented on #10037
Hi @omzy, I'm doing a bit of issue cleanup and this feature has been requested before in https://github.com/desktop/desktop/issues/8158 so I'm going to close this issue in favor of that. That issue is currently closed as we haven't prioritized it but please add a 👍 reaction to that issue, we use that and other factors when we decide what work to prioritize.

[2021-12-15 09:43] #10037 closed

[2021-12-15 09:45] niik commented on #13536
Hi @xhiroga, thanks for reaching out! I completely agree that Mobile's push notifications are awesome. We are starting to look into what notification support could look like in GitHub Deskop and we appreciate hearing your feedback!

[2021-12-15 09:46] Jynxninth commented on #13535
I am attempting a "Guided" personal experience i am only trying to pull with myself because I don't understand/follow the https://github.com/github/docs/blob/main/CONTRIBUTING.md is because I am very new to coding this is a "to myself" thing, but I've uploaded pdfs that show my ideas because I am not a part of the contributing team.

[2021-12-15 09:46] niik commented on #13537
Hi @laithhisham, thanks for the report! Could you upload a log file from GitHub Desktop so that I could get some more information about this issue? To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Explorer`.

The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue. Thanks!

[2021-12-15 09:52] niik commented on #13538
Hi @Ali-YousefiTelori, thanks for the suggestion!

We took this scenario into account as part of #6460, which included a range of possibilities and trade-offs that were made to accommodate multiple requests and features around repository organization. At this point, we are holding off on adding custom grouping for now.

I'm going to close this issue for now, since as I mentioned we don't have imme

[2021-12-15 09:52] #13538 closed, assigned to nobody

[2021-12-15 10:03] niik commented on #13518
Hey @Ethan-Na, thanks for that status file. Unfortunately it didn't help us understand where the issue is coming from. In your earlier screenshots the path includes a strike-through W character

![image](https://user-images.githubusercontent.com/634063/146165670-de906f08-1d1d-41ff-8fc7-160650a3e2d1.png)

I would expect this to read `Crystal5DWManager\Content\CustomTheme\SB_ADMIN2`. Does that chara

[2021-12-15 10:12] Ethan-Na commented on #13518
![image](https://user-images.githubusercontent.com/85219875/146167088-826c7f18-50d1-40b6-9598-ec70d629c69d.png)

You will see it in the attached image.
Not yet committed. This is the newly created folder.
In addition, the name and contents of the folder cannot be read.

==============================================
I solved it by creating a new folder.
Perhaps it is a phenomenon caused by pasting

[2021-12-15 10:14] niik commented on #13514
@keerthanas39 Could you try following the steps below to see if that resolves your issue?

1. Log out of your account in GitHub Desktop by opening `File -> Options` and clicking `Sign out`
2. Open Window's Credential Manager (search for credential manager in the search field next to the start menu button)
3. Click on Windows credentials
4. Remove any generic credentials that start with `GitHub -`

[2021-12-15 10:16] niik commented on #13500
Hi @alancoler, updates can sometimes take a very long time on Windows if you've fallen behind several versions. One alternative approach is to uninstall GitHub Desktop and install it again from https://desktop.github.com. If that doesn't work feel free to open a new issue and we'll take a look at it but for now I'm going to close this issue since we believe it's resolved in the latest version.

[2021-12-15 10:16] #13500 closed, assigned to nobody

[2021-12-15 11:47] gpinkas commented on #8158
Funny, this feature was requested so often that it is hard to find the initial issue but now all of them get closed.
I also added a thumbs-up here, maybe it helps.

[2021-12-15 13:33] laithhisham commented on #13537
@niik uploaded. Thanks a lot
[GitHubDesktopLogs.txt](https://github.com/desktop/desktop/files/7719696/GitHubDesktopLogs.txt)

[2021-12-15 16:41] #13370 closed, assigned to nobody

[2021-12-15 17:41] KeygenOld opened #13540 "Helper installer pegs my processer if not noticed right away"
### Describe the bug
When the desktop app updater window pops up asking for credentials, if it goes unnoticed, it will spin up the CPU. I stepped away from my laptop running macOS Big Sur and when I came back the fans were going nuts. Checking activity monitor showed it was using 99.9% CPU.

### Version & OS

GitHub Desktop 2.9.5 (after today's update)
macOS Big Sur 11.6

### Steps to reproduce th

[2021-12-15 18:12] steveward commented on #13540
Thanks for the report @KeygenLLC, I'm going to add this to https://github.com/desktop/desktop/issues/5789 where we are tracking these issues.

[2021-12-15 18:12] #13540 closed, assigned to nobody

[2021-12-15 18:12] steveward commented on #5789
From https://github.com/desktop/desktop/issues/13540:

[2021-12-15 18:40] steveward commented on #13537
Thanks for sharing that @laithhisham. We've had previous reports of this (https://github.com/desktop/desktop/issues/9579), but I haven't been able to reproduce it myself. I just created a fresh Azure DevOps token in a test VM and I'll see if I run into any issues.

It would be helpful to know if clearing out the local cache helps -- you can follow these steps to do this:

1. Close GitHub Desktop
2

[2021-12-15 19:07] steveward commented on #13497
@sahilpatil9763 you can also try deleting `%LocalAppData%\GitHubDesktop` and then reinstalling again to see if that gets things working.

[2021-12-16 00:15] amnnet opened #13541 "fff"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-16 00:16] #13541 closed, assigned to nobody

[2021-12-16 00:22] Incubatio opened #13542 "unstashing after a pull, no merge conflict window"
### Describe the bug
When unstashing after a pull, if there is a conflict, the merge window doesn't appear.

This issue happens on a daily basis, a workaround is to commit before pulling, which invite people to commit unfinished / unstable work, but also pollute history with an additional merge commit when there is a conflict.

### Version & OS

Version 2.9.6 (x64)
Windows 10

### Steps to reprodu

[2021-12-16 02:48] elibroftw opened #13543 "Stop Expanding File Explorer Tree When Showing In Folder"
### Describe the bug
When I press show in explorer, GitHub opens the repository in the file explorer but it expands the tree view in the left side of the explorer even when the explorer has been set to not expand the tree!

### Version & OS

Windows 10 GitHub Desktop 2.9.6 (x64)

### Steps to reproduce the behavior

1. Select a repository from the repository selector
2. Click on Show in Explorer

[2021-12-16 05:01] #13513 closed, assigned to nobody

[2021-12-16 11:26] JoachimBrandenburg opened #13545 "3d objects not working"
### Describe the bug
When creating any 3d related object or fixture

### 21H1 Windows 10 Pro
Github Version 2.9.6 (x64)

Processor	AMD Ryzen 7 3800X 8-Core Processor                3.89 GHz
Installed RAM	15,9 GB
Graphics Radeon RX 570 Driver version 30.0.14011.3017

### Steps to reproduce the behavior

1. Go to 'Create'
2. Click on 'objects then Primitive or import Geo' or "Geometry"

### Expected

[2021-12-16 11:35] laithhisham commented on #13537
@steveward
Tried clearing cache but it didn't help.
I also tried reinstalling GitHub Desktop and it did not solve the issue.

[2021-12-16 11:50] sergiou87 commented on #13545
I'm sorry @JoachimBrandenburg but I think this bug should be reported in https://github.com/EnviralDesign/GeoPix/issues

[2021-12-16 11:50] #13545 closed, assigned to nobody

[2021-12-16 14:08] Hepworthg opened #13546 "Creating Repository"
Hi, i have been struggling for 2 days now so before my head explodes, kindly assist with my problem, I have attached the screenshots of where I am stuck, and moving forward will make my day brighter, I am so emotional now that I feel like crying but giving up is not an option, kindly help.

1. I am here

![Screenshot (36)](https://user-images.githubusercontent.com/96171718/146386777-553853c8-614f-

[2021-12-16 14:10] Hepworthg commented on #13546
I have been struggling for 2 days and before I have been enjoying the pre working assignments

[2021-12-16 16:18] steveward commented on #13546
@Hepworthg thanks for the issue. This issue tracker is for [GitHub Desktop](http://desktop.github.com). If you have questions about using the command line I'd recommend reaching out for help at https://github.community, or taking a look at GitHub's [help documentation](https://docs.github.com/en/get-started).

If you are interested in using GitHub Desktop to work with your repository we have a hel

[2021-12-16 16:18] #13546 closed, assigned to nobody

[2021-12-16 16:39] a-was opened #13547 "Add branch name to commit history"
Hi, can we get a feature that would show in commit history which commit was created on the current branch and which one on another? If I'm working on for example a feature branch, I can't see which commit is the first one on the new branch and which on e.g. main branch that I detached from

[2021-12-16 17:56] steveward commented on #5691
We now stash when switching branches (when it's selected instead of bringing the changes), so this is no longer an issue. ✨

[2021-12-16 17:56] #5691 closed

[2021-12-16 18:38] KishanBagaria opened #13549 "Feature request: command palette"
All actions in the app should be accessible through a command palette, accessed through the ⌘ K hotkey – similar to GitHub.com, VS Code, Sublime Text.

[2021-12-16 18:52] jonchardy commented on #10068
Looks like this has been implemented recently: https://github.com/desktop/desktop/pull/12160

[2021-12-16 19:31] steveward commented on #13549
Thanks for the request @KishanBagaria. Adding a command palette has been [previously discussed](https://github.com/desktop/desktop/issues/3050#issuecomment-462493209), but at this time is out of the scope of what we want to focus on in GitHub Desktop. In the future this may be something we consider again, so thanks for letting us know you're interested in this feature.

[2021-12-16 19:31] #13549 closed, assigned to nobody

[2021-12-16 20:58] steveward commented on #13363
Thanks @photonstorm -- it does look like that issue. I'm going to close this out since this should be resolved now.

[2021-12-16 20:58] #13363 closed, assigned to nobody

[2021-12-16 21:37] steveward commented on #13518
I think this is the same as https://github.com/desktop/desktop/issues/12314, since @Ethan-Na seems to have worked around this I am going to close this out and reference this in #12314.

[2021-12-16 21:37] #13518 closed, assigned to nobody

[2021-12-16 21:38] steveward commented on #12314
Another report in https://github.com/desktop/desktop/issues/13518.

[2021-12-16 21:39] steveward commented on #13487
@saras-koiri based on your reply it sounds like you were able to get things working -- let me know if that is not the case and we can assist further!

[2021-12-16 21:39] #13487 closed, assigned to nobody

[2021-12-16 21:39] steveward commented on #13465
@togaykurtulus as we have not heard back from you I am going to close this out. If you can share further details about your setup we can assist further. Thanks!

[2021-12-16 21:39] #13465 closed, assigned to nobody

[2021-12-16 21:42] steveward commented on #13361
@spinphysgit this is a public issue tracker so it is visible to other users. Are you still having issues working with GitHub Desktop?

[2021-12-17 00:53] say25 commented on #11517
I personally use `Ctrl + R` to "open a PR" to open the URL in my browser to view a PR. Though yes there should be a button IMHO.

[2021-12-17 08:45] spinphysgit commented on #13361
Yes. I do still have the problem

[2021-12-17 09:10] manjitsinghrai9 commented on #13361
Someone hacked my all social media account and my And my home Internet IP address and my iCloud’s IP address my device I am in and the IP address creator helping people there’s a helping websites on the Wikipedia so whatever’s third-party websites using after my use all data so please help mepersonal information or personal data on my all Gmail account Samsung account Google Drive data Apple iClou

[2021-12-17 09:10] manjitsinghrai9 commented on #13361
Someone hacked my all social media account and my And my home Internet IP address and my iCloud’s IP address my device I am in and the IP address creator helping people there’s a helping websites on the Wikipedia so whatever’s third-party websites using after my use all data so please help mepersonal information or personal data on my all Gmail account Samsung account Google Drive data Apple iClou

[2021-12-17 09:10] manjitsinghrai9 commented on #13361
Someone hacked my all social media account and my And my home Internet IP address and my iCloud’s IP address my device I am in and the IP address creator helping people there’s a helping websites on the Wikipedia so whatever’s third-party websites using after my use all data so please help mepersonal information or personal data on my all Gmail account Samsung account Google Drive data Apple iClou

[2021-12-17 11:47] Sil-Boydens commented on #13362
Hey niik,

after your comment, i changed the hook script to open calc.exe.
after using it for a day now, i noticed that it sometimes opens calc but not always.
i did some more testing and came to this conclusion.
- anything on local drive => works well (but i don't need it here)
- pull on repository in networkshare => fail
- switching to branch on in a repository on a networkshare
   * works if th

[2021-12-17 11:58] Peaj opened #13551 "Changes displays existing files as 'added'"
### Describe the bug
The changes tab displays some files as 'added' that are already tracked and did not change.
When trying to commit these 'added' files it fails because no changes have been staged (see screenshot)
When discaring the changes they will show up again after some time.

### Version & OS

Version: 2.9.6 (x64)
OS: Windows

### Steps to reproduce the behavior

The issue is sporadic. I

[2021-12-17 12:55] niik commented on #13362
Thank you for reporting back @Sil-Boydens. It seems like most of these issues has to do with how Git works and not GitHub Desktop so I am going to close this out. I hope you find a satisfactory solution to your problem.

[2021-12-17 12:55] #13362 closed, assigned to nobody

[2021-12-17 12:59] #13410 closed, assigned to agisilaos

[2021-12-17 13:37] agisilaos commented on #13510
Since the issue has been fixed I'm planning to close this and update the docs today.

[2021-12-17 13:37] #13510 closed, assigned to nobody

[2021-12-17 17:38] #13493 closed, assigned to nobody

[2021-12-17 19:43] WindRaidor commented on #13416
FYI  - Im experiencing the same slow down issues in Win11 which began for me on 12/15/2021.  Prior to that date, everything was humming along like normal.  Now, it takes several seconds on every single button click within Github desktop.  And extra time to perform all actions.

[2021-12-17 20:11] yannickrondeau commented on #7805
@billygriffin It's been a while since you've asked, but wanted to add on top of the answer you got.

In my specific case, I had a local branch that wasn't already pushed; therefore I had the push button.

However, I wanted to do a code review / testing of a specific branch created by a colleague. The branch wasn't appearing in the list of branch. My first though was, "Well, I will fetch the origin

[2021-12-17 20:37] steveward commented on #13551
@Peaj thanks for the issue. Is this a Unity project? Based on some quick searching it looks like those `.meta` files can get changed automatically by Unity, but I'm not very familiar with Unity itself. I'd recommend reaching out to them for assistance.

Let me know if i'm off base here and we can dig into this further.

[2021-12-17 21:04] Peaj commented on #13551
@steveward yes you are correct this is a Unity project. Sry for omitting this detail.
You are also right that .meta files have their quirks and may be changed unintentionally.

In this case I am pretty sure that this is (at least partly) a GitHub Desktop bug though.
The files have already been tracked by git.
So there is something wrong with them being shown as added.
The error message also shows

[2021-12-17 21:52] steveward commented on #13551
@Peaj can you share the full output of `git status` from the command line? GitHub Desktop handles things differently -- it doesn't actually stage your files (see https://github.com/desktop/desktop/issues/4475#issuecomment-385422905).

[2021-12-17 22:05] Peaj commented on #13551
I am afraid the repo isnt in this state anymore. So a `git status` wouldnt help much.
If this happens again I will make sure to post the `git status` output here.

[2021-12-18 01:48] lfkdev commented on #2537
Still a big problem.

[2021-12-18 03:48] NoumanMukhtar commented on #10345
I was experiencing the same issue and fixed it following the below steps:

1. Logout
2. Restart GitHub Desktop
3. Login again

[2021-12-18 10:45] xayotdankonglimqoldi commented on #2507
telegram is very good

[2021-12-18 13:48] FahimFBA opened #13557 "GUI application of GitHub for Linux"
### Describe the feature or problem you’d like to solve

Hello, the windows users and the Mac users can use the native GitHub Desktop application which we, the Linux users can't. Although there is an app in flatpak, but that doesn't work.

### Proposed solution

Please provide an official GUI application for Linux.

### Additional context

Not applicable for this issue.

[2021-12-19 06:37] PHEON1XENT opened #13559 "8058 (1350×2250)"

[2021-12-19 08:58] Gee1990 commented on #13559
Danke

[2021-12-19 09:08] Gee1990 opened #13560 "Gee.0.1"
--------- beginning of main
12-19 10:07:02.472 W/InputEventReceiver( 3076): Attempted to finish an input event but the input event receiver has already been disposed.
12-19 10:07:04.086 W/RenderThread( 3076): type=1400 audit(0.0:15559): avc: denied { read } for name="u:object_r:vendor_hwui_prop:s0" dev="tmpfs" ino=13476 scontext=u:r:untrusted_app:s0:c238,c256,c512,c768 tcontext=u:object_r:vendor_h

[2021-12-19 10:52] h144218 commented on #13560
Fahrenheit

[2021-12-19 13:29] GrahamSH-LLK commented on #13557
Duplicate of #1525

[2021-12-19 13:34] FahimFBA commented on #13557
Oh! I am extremely sorry for this. Thanks a lot for pointing that out.

[2021-12-19 13:34] #13557 closed, assigned to nobody

[2021-12-19 14:15] Gee1990 opened #13561 "SUper Menu"
https://llamalab.com/automate/community/flows/9345

[2021-12-20 10:55] jamesgeddes commented on #4573
I have already +1ed but just want to emphasise how irritating relative dates are. I have to spend brain power working out when something occurred, rather than the system just telling me. Someone has had to put effort into creating the relative date functionality, so why not just let us use the normal datetime too?

[2021-12-20 10:57] jamesgeddes commented on #4573
As a workaround, the [Github Absolute Dates chrome extension](https://chrome.google.com/webstore/detail/github-absolute-dates/iepecohjelcmdnahbddleblfphbaheno/related?hl=en) does append the actual datetime to the relative one.

[2021-12-20 11:16] aminya commented on #13416
Well, it's been only 3 days since someone commented on this issue! I provided many log files. If there is anything specific needed, let me know.  Other people also mentioned that they are experiencing the same problem. So I do not think this is related to my system. I'd prefer not to make my system vulnerable for using Github Desktop.

[2021-12-20 15:01] sahilpatil9763 commented on #13497
its still not happning

[2021-12-20 15:52] Jaiderinn042001 opened #13563 "A lock file already exists in the repository, which blocks this operation from completing."
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-20 17:01] tidy-dev commented on #13563
@Jaiderinn042001 thanks for the issue. Normally this error indicates that there is leftover index.lock file preventing Git operations from completing. You can check this by opening the hidden .git directory in your repository and looking for the index.lock file. If that file exists you can delete it.

[2021-12-20 17:01] #13563 closed, assigned to nobody

[2021-12-20 21:44] Hexcede commented on #11299
For me this is showing the correct output (`refs/remotes/origin/dev`), but GitHub desktop is not using the correct default branch (I've tried doing what you've said, as well as switching between two repositories, restarting GitHub desktop, etc) but GitHub desktop still uses the incorrect default branch.

GitHub desktop is selecting `main` as my default branch (which is what my global config is set

[2021-12-20 22:33] Wart012 opened #13564 "> Thanks for the feedback @wingforth. At this time portable installations are not supported in GitHub Desktop, but this is being tracked along with other editor improvements in #7033. There's a similar request for Notepad++ in #9561. I'm going to edit the title and label this as an enhancement."
Thank you for your reply, and hope that vscode can support adding other editors (including portable) as an external editor.

_Originally posted by @wingforth in https://github.com/desktop/desktop/issues/13483#issuecomment-989626562_

[2021-12-20 22:57] #13564 closed, assigned to nobody

[2021-12-20 23:58] ckizer commented on #12818
Yes, I've completely removed the app all the preferences, and it still continues to do this even with the latest version. It's not just me. My coworkers are having the same issue.

**MacOS Monterey 12.1 (21C52)**

![ScreenShot 2021-12-20 at 18 59 15@2x](https://user-images.githubusercontent.com/191738/146848375-73d1cf7d-0564-40a8-8552-64ec44622ae8.png)

<img width="1072" alt="ScreenShot 2021-12-20

[2021-12-21 02:30] Move2win opened #13565 "Repos default branch changed through the web browser was not synchronized back to the desktop app"
### Describe the bug

I changed the default branch from A to B (in the web browser), but the default branch shown in the desktop app for that repo is still branch A.

### Version & OS

Desktop Version 2.9.6 (x64)
Windows 10&8.1 (x64) latest

### Steps to reproduce the behavior

1. Create a new repo using the desktop app, set branch A as default branch and publish it to github
2. Create new branch

[2021-12-21 02:36] Move2win commented on #13565
I tried to re-fetch the repo using "Fetch origin," but it seems not handling the info about which branch is the new default branch.

[2021-12-21 05:05] #13483 closed, assigned to nobody

[2021-12-21 05:45] z0z0r4 opened #13567 "I can't push to github"
Like this,I don't know why.That's Version 2.9.6.
![image](https://user-images.githubusercontent.com/78744121/146877703-d19e5bf7-2820-461d-9f7b-33d4a7ef6316.png)

[2021-12-21 05:45] z0z0r4 commented on #13567
need help!

[2021-12-21 06:39] hl2guide commented on #7033
A simple "browse" button in the **Options > Integrations** menu for this would be wonderful.

[2021-12-21 10:46] twilms24 opened #13570 "Authentication Failed"
I can't push Repositories.
There seems to be no way to fix this.

[2021-12-21 13:03] HarshalCapgemini opened #13571 "GitHub Desktop v2.9.6 on MacOS"
Branches created from Github Desktop App with say with name "feature/test", automatically updates it's first letter and makes it like "Feature/test".

Need help to resolve this as it is creating unnecessary two branches on Website.

[2021-12-21 15:14] givihuda commented on #10956
This is a bug? I don't know why anyone would want to overwrite their stash period. When I stash on CLI before switching branch, I don't need to overwrite a stash. The stash records the branch I'm on anyway. I just stash, switch branches, then unstash from the stash I see is marked as for that branch. I don't know why GitHub Desktop needs to overwrite stashes at all.

[2021-12-21 16:04] steveward commented on #13571
Thanks for the issue @HarshalCapgemini. This isn't a specific bug with GitHub Desktop -- see [this explanation](https://github.com/desktop/desktop/issues/10621#issuecomment-696783727) for why this is happening and how you can resolve it. I hope that helps!

[2021-12-21 16:04] #13571 closed, assigned to nobody

[2021-12-21 16:05] steveward commented on #13570
Thanks for the report @twilms24. Could you upload the log file from GitHub Desktop so that I could get some more information about this error? To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs`.
The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue.

[2021-12-21 16:07] steveward commented on #13567
Thanks for the issue @z0z0r4. Could you upload the log file from GitHub Desktop so that I could get some more information about this error?

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs Explorer`.

The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue.

[2021-12-21 16:08] steveward commented on #13551
Thanks for the update @Peaj. I'm going to close this out but we can reopen if you run into this again.

[2021-12-21 16:08] #13551 closed, assigned to nobody

[2021-12-21 20:48] maifeeulasad opened #13572 "Dropdown features of a repository doesn't work, while it's being cloned"
### Describe the bug
When a repo is being cloned, clicking on dropdown options doesn't work.

### Version & OS
Version 2.9.6 (x64)
Microsoft Windows 10 Home - Version 21H2 - Build 19044.1415

### Steps to reproduce the behavior

- Starting cloning a huge repo
- When being cloned click on, left panel
- Find that repo, right-click on it
- Click anything from that dropdown, nothing will work

### Exp

[2021-12-21 22:35] GlauciusZacher commented on #9604
Same error here, then i try clicking in "Clone again", and got this error.

![2021-12-21](https://user-images.githubusercontent.com/13805205/147006847-487706de-4dec-47b0-aa0f-e81e05599782.png)

Some files disappeared from this folder (C:\Users\glauc\AppData\Local\GitHubDesktop\app-2.9.6\resources\app), so i've downloaded GitHub Desktop again, runned the installer (without uninstalling), and the er

[2021-12-22 03:20] #13535 closed, assigned to nobody

[2021-12-22 05:38] z0z0r4 commented on #13567
ok , here is it.
I install desktop on windows server 2019 firist time and met this bug
may be this is that error

`2021-12-21T05:39:59.969Z - error: [ui] `git -c credential.helper= -c protocol.version=2 push origin main --set-upstream --progress` exited with an unexpected code: 128.
stderr:
error: cannot spawn C:\Users\Administrator\AppData\Local\GitHubDesktop\app-2.9.6\resources\app\static\ask-pa

[2021-12-22 13:04] rohitattaluri552 opened #13578 "Unable to push changes to the repository"
When I'm trying to push my local changes to the repository, I'm getting some weird error.

Here I'm attaching the screenshot for you reference.

Help me out fixing the issue asap.

<img width="1552" alt="Screenshot 2021-12-22 at 6 33 40 PM" src="https://user-images.githubusercontent.com/61145279/147097140-f1bc9a9e-110a-4f96-a19f-501cfa79cd33.png">
<img width="1552" alt="Screenshot 2021-12-22 at 6

[2021-12-22 14:38] kipia79 opened #13580 "ESPAsyncTCP"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-22 14:38] #13580 closed, assigned to nobody

[2021-12-22 16:42] feitla commented on #1765
Yes, can we please get this feature. I've already changed the default program to VS Code on all those file times but it still suggests XCode.

[2021-12-22 18:02] steveward commented on #13578
Thanks for the issue @rohitattaluri552. A pre-receive hook failure indicates something on the server side is blocking the push. Are you behind a proxy? The 504 gateway error indicates there's likely something in your network causing this problem. Since this is a specific network issue and is for a BitBucket repository, I'd recommend reaching out to their support for assistance debugging this. I'm

[2021-12-22 18:02] #13578 closed, assigned to nobody

[2021-12-22 18:38] steveward commented on #13567
@z0z0r4 we don't officially support Windows Server with GitHub Desktop -- is there a specific reason you are using that vs. a standard Windows 10/11 installation? Are you running any antivirus/security software on this machine that could be interfering with GitHub Desktop?

[2021-12-22 20:58] mlane3 opened #13582 "Post Log4J - Where am I supposed to find a command line git without powershell now?"
# The Problem
 I would like to re-raise the issue of needing a command line get or an alternative to the depreciation of command line git for GitHub desktop.
https://github.com/desktop/desktop/issues/340
The alternative was PowerShell git as suggested by your employees here:
https://stackoverflow.com/questions/34565238/where-does-github-desktop-install-command-line-version-of-git
In light of Log4J

[2021-12-22 21:33] steveward commented on #13582
@mlane3 thanks for the issue. [Git for Windows ](https://git-scm.com/download/win) does not require using PowerShell, and provides a portable version from the link I provided. You can select your terminal of choice from within GitHub Desktop by going to `File` > `Options` > `Shell`. Git Bash is the default terminal built into Git for Windows. GitHub Desktop also defaults to using HTTPS unless you

[2021-12-22 21:33] #13582 closed, assigned to nobody

[2021-12-22 21:51] steveward commented on #13572
@maifeeulasad thanks for the issue -- I tested this out and was unable to reproduce the issue. Selected actions from the context menu immediately worked when cloning a large repository. For reference I tested this out on both macOS and Windows.

Could you take a look at Task Manager and see if your CPU usage is spiking during a clone operation?

[2021-12-23 04:33] z0z0r4 commented on #13567
There aren't any any antivirus/security software
I need Github desktop on windows server,Because I need to push my blog  to GitHub on VPS, Windows 11/10 cannot be installed on VPS
Can Github Desktop support windows server?

[2021-12-23 09:57] KendallDoesCoding commented on #13497
@sahilpatil9763 Do you have any antivirus running?

[2021-12-23 09:59] KendallDoesCoding commented on #12846
@SoraHirasawa Can you please give more information on this. Do you have a antivirus running? What os are you using?

You didn't fill out the ISSUE TEMPLATE ...

[2021-12-23 10:00] KendallDoesCoding commented on #12846
@niik , @steveward or @tidy-dev can you guys please add the more-info-needed label.

Thanks

[2021-12-23 10:03] KendallDoesCoding commented on #12524
For now, the download from desktop.github.com or github.com/windows works perfectly. You guys will have to pay a dev fee to Microsoft Store, and its just not a good option according to me.

[2021-12-23 10:08] sahilpatil9763 commented on #13497
no, it is expired

[2021-12-23 10:09] Attila180 opened #13585 "Desktop"
https://user-images.githubusercontent.com/96492168/147230072-222624b4-a982-4668-bf68-c1bc8b9b3397.jpeg)

[2021-12-23 10:23] KendallDoesCoding commented on #13497
Ok. But did you manage to fix your issue or is it still giving you trouble?

[2021-12-23 14:56] Benoit1980 opened #13586 "Very Slow Performance since 2.9.6 update"
### Describe the bug
I am having a massive slow down in the entire UI. I disabled all my security, same issue. The fetch takes ages, when moving my mouse over menus, the UI takes 2 or 3 seconds to respond. I did not get this issue with the 2.9.5 version. Where can I download the old 2.9.5 MSI please?

I tried to redownload the 2.9.6 but same issue.

### Version & OS

Version 2.9.6 of Git desktop
O

[2021-12-23 15:39] sahilpatil9763 commented on #13497
i did it but its still giving trouble

[2021-12-23 15:43] ibrahimqazi commented on #11981
@fmoraless how did you solve the problem? Could please share your steps?

[2021-12-23 15:59] KendallDoesCoding commented on #13497
Oh

[2021-12-23 16:32] popcron commented on #13586
Im experiencing a similar (if not the same) issue, somtimes when opening ghd it wouldnt show up and it would stay running in the background with a high power usage trend.

[2021-12-23 17:15] jbvsmo commented on #9351
Why can't there be a button to "commit anyway" on the error window that uses --no-verify?
That is a no brainer since this window only shows for people with pre-commit.

I've been trying to move to github desktop from another gui tool, but I guess I might have to find yet another option

[2021-12-23 21:33] Diibee commented on #3092
Please add Intellij

[2021-12-23 22:31] SHA65536 opened #13588 "File renaming/moving support"
### Describe the feature or problem you’d like to solve

Support for moving/renaming files.
I think it would be a useful idea to add a capability to rename/move files or at least detect when a file was renamed.
Currently if I rename a file it will detect as if that file has been deleted, and a new file has been added
This produces extra diffs and clogs up the history.

### Proposed solution

This

[2021-12-23 23:25] RaddadZ commented on #5709
dont forget the second step, it's the real solution, inside your repo folder you have .git directory
`go to .git/refs/remotes/origin/HEAD and change it's value to your real default branch`

[2021-12-24 02:57] seksun-jpg opened #13589 "pipeakteapruksa@gmail.com"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.
[pipeakteapru

[2021-12-24 02:57] seksun-jpg commented on #13589
https://www.google.com

[2021-12-24 05:13] JungleDnl4322 commented on #13589
My laptop dont turn on

El jue., 23 de diciembre de 2021 6:59 p. m., วชิราวุฒิ วชิรราชวโดรมณ์ <
***@***.***> escribió:

[2021-12-24 05:16] emsd1981 commented on #13589
Ok

[2021-12-24 05:44] Djqwak opened #13590 "Google"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-24 09:33] Committing commented on #2191
This issue is a freak-show. Bottom-heavy excuses not to implement the feature and 3 years on with nothing.

[2021-12-24 11:50] Yukuro opened #13591 "Not pushed to the correct branch with Git for Windows"
### Describe the bug
Not pushed to the correct branch with Git for Windows

### Version & OS

Version 2.9.6 (x64)
Windows 10 Home (Version 20H2)

### Steps to reproduce the behavior

1. Clone the repository from `File > Clone repository`
2. Open [Git for Windows](https://gitforwindows.org/) and execute the following command
    - Create a "test_branch" branch from "origin/master"
[code]
3. Add som

[2021-12-24 13:30] sahilpatil9763 commented on #13497
now whats next sir

[2021-12-24 16:43] maifeeulasad commented on #13572
@steveward there was a spike in CPU usage sometimes while cloning, sometimes not. But the results were still the same.

[2021-12-25 01:22] Alexalucky commented on #6384
Ben

[2021-12-25 02:54] Hernandez001619 opened #13592 "Vinculos de rastreo"
### Describe the bug
Write a clear and concise description of what the bug is.

### 3.0

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what you expec

[2021-12-25 04:02] JungleDnl4322 commented on #13589
Can somebody help me rec9ver my notebook? When i turn on it shows the blue menu

[2021-12-25 05:27] narethi commented on #13586
I am seeing the same issue, I have checked a few older topics and did a reinstall and turned off my firewall and I am still having this issue.

It takes around 30 seconds to switch selected files, and after the selection change completes, the detail view doesn't always change to match the newly made selection.

Version 2.9.6 of GitHub desktop
On Windows 10 Pro 64Bit Build 19043

*EDIT* Turning off

[2021-12-25 10:18] jiangxiaoqiang opened #13593 "set the open tool for each repo"
### Describe the feature or problem you’d like to solve

Right now I could set the default IDE for all repo, but I need to set different IDE for differenent repo. For exampe, set visual studio for react code and CLion for rust code and Android Studio for flutter code.

[2021-12-25 11:02] Benoit1980 commented on #13586
Do you both also see the same error as the one I see above?
Help>>Show log in explorer>>Select the latest file

Could it be the colour highlighter library that we see in the right-side panel that causes the issue?
webpack:\app\src\lib\highlighter\worker.ts:

[2021-12-25 16:04] omundy commented on #2072
I have been seeing students in my classes with this folder in their iCloud/Documents. In their constant effort to dumb down their users and make them dependent on their $ervices, Apple is defaulting to cloud-synced directories whenever possible. If [we know not to store repos in iCloud](https://support.apple.com/en-us/HT201104), shouldn't Github Desktop should warn users when they attempt to use a

[2021-12-25 17:34] utkarshsethi commented on #7902
Hi, @billygriffin could you point me to the correct files and directions to look at, I want to see if I can work on this, and maybe send a pr.

Not sure if I can do it but would like to try.

[2021-12-25 18:01] PHEON1XENT opened #13594 "Yes"
https://1drv.ms/w/s!Auc44bAD3DXHgVq-VR9Nsl25vY7R

[2021-12-25 20:28] #13592 closed, assigned to nobody

[2021-12-26 04:54] davidkoXboss opened #13596 "nnnm"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-26 06:51] SpecialBuilder32 commented on #12700
I just spent a while trying to get my github desktop back to a workable state, and got it to work somewhat. Here's what I did.

All of my git accounts authenticate via ssh, so my remote urls look something like `git@github.com-acc1:organization/repo`.

1. For broken repos, where GitHub Desktop (GHD) can't populate the database, files the repo under the "repo" sidebar, and won't serve a PR gui, rec

[2021-12-26 07:46] Sherry90 opened #13597 "Broken screen with GitHub Desktop Windows Program"
### Describe the bug
This graphic glitches frequently occurs during use. I had the same problem when using VSCode, and in VSCode I solved this problem with an option to prevent the use of an external GPU. This cracking problem occurs irrespective of the version, even after uninstalling and reinstalling it, and it occurs regardless of the driver version of the GTX 1660ti graphics card.
I hope that

[2021-12-27 00:30] Move2win commented on #13565
This issue has already been resolved by reboost PC.
Closing this issue now.

[2021-12-27 00:30] #13565 closed, assigned to nobody

[2021-12-27 04:32] B3lic0n opened #13598 "Op✌️"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-27 06:18] B3lic0n commented on #13598
https://www.facebook.com/samuela.gutierrez.14

[2021-12-27 09:01] rolivhuwa-03 commented on #13598
Forgiveness is an action
Forgetting is an action
Love is an action
Meckingsnqueens@gmail.com>no reply.

[2021-12-27 09:23] Safaril commented on #13598
Thanks you all support

[2021-12-27 19:07] Benoit1980 commented on #13586
Anyone knows if there is an MSI file to go back with the 2.9.5 version please as this slow down is killing my development speed. Thanks

[2021-12-27 20:22] rolivhuwa-03 commented on #13586
It's might be thy the software does not work with your device.try a different app or file.

[2021-12-27 21:25] Benoit1980 commented on #13586
I have the same issue and with the 2.9.5 it was fine. When upgrading to 2.9.6, the problem started.

I can confirm that when auto fetching is off, the software seems much faster.

[2021-12-27 21:32] narethi commented on #13586
I am running a Windows desktop, with an i7 7700, a GTX 1650, 2TB Samsung Evo 860 (that is mostly empty) and 32Gb (typically 20Gb or so free) of DDR4 Memory, its not the most recent hardware but I am assuming that the GitHub desktop application should run on this device comfortably.

I will take a look at the  comment @Benoit1980 left about checking the highlighting library, but looking over my log

[2021-12-27 21:35] Benoit1980 commented on #13586
Try this as it helped a bit with the speed from my side:

File>>Options>>Advanced>>Untick "Periodically fetch and refresh status of all repositories"

See if this helps a bit

[2021-12-28 01:23] danielh-official opened #13601 "Set automatic repository folders"
### Describe the feature or problem you’d like to solve

A lot of times, users have their repos stored in a singular directory (e.g., Repositories). With GitHub Desktop right now, you have to add each individual repository for them to show on the app.

### Proposed solution

The user should be able to add a directory to an automatic register. The app would then look for Git repositories in that di

[2021-12-28 05:54] Sanbot0000 commented on #13601
https://github.com/desktop/desktop/issues/13601#issue-1089549235

[2021-12-28 06:00] linonetwo commented on #13133
Hi, may you help me to know the Github Desktop's registry code like this?

[code]

[2021-12-28 06:02] linonetwo opened #13603 "What is Github Desktop's registry code?"
### Describe the feature or problem you’d like to solve

Hi, may you help me to know the Github Desktop's registry code like this?

[code]

### Proposed solution

Maybe only the APP's publisher knows this?

### Additional context

I'm letting my electron app open Github Desktop, I will try to open it, and if it is not installed, I will open your website and recommend the user to install it! #13133

[2021-12-28 06:05] linonetwo commented on #13603
Possibly addressed here https://github.com/desktop/desktop/blob/development/docs/technical/editor-integration.md#step-1-find-the-install-location

[2021-12-28 07:07] Peter-Easterbrook opened #13604 "Repos seem to have crossed paths"
### Describe the bug
Peter-Easterbrook/PEWDResume no longer shows on GitHub Desktop, I have to open it manually.
When committing changes via vscode terminal I got this:
![Screenshot 2021-12-28 080610](https://user-images.githubusercontent.com/59874288/147538353-59dcbde3-18cc-40dd-8140-27105c574dbb.png)

Looking in GitHub desktop, it seems it's trying to push the PEWDResume changes to the crwn-clot

[2021-12-28 16:06] #13570 closed, assigned to nobody

[2021-12-28 16:08] tancrede-sallerin commented on #3878
None of this worked for me

[2021-12-28 16:52] TerryChan opened #13605 "Are there any documents for the CLI?"
I found there are some CLI comands, like below:
![image](https://user-images.githubusercontent.com/5396286/147588329-a15543e9-3c9b-4279-8513-ed48f98e6c19.png)
Are there any technique documents on how the CLI work and implemented? such as how the commands are invoked from shell to the code, and the capability of the CLI if add more commands, such as whether the CLI can initiate an http request, etc

[2021-12-28 17:12] tidy-dev commented on #13601
@danielh-official Thank you for the suggestion! We have a way to handle adding multiple repos at one time; a user can select the multiple repository directories and drag and drop them at one time.  Thus, per your example, a user could open that Repositories directory, select all, and drag over onto GitHub Desktop. I hope this helps and as for now I don't believe we will be looking to adapt this. T

[2021-12-28 17:12] #13601 closed, assigned to nobody

[2021-12-28 17:18] tidy-dev commented on #13605
@TerryChan 👋  This is an issue tracker for GitHub Desktop, which is not a CLI; thus, I am going to close out this ticket.

However, if you are interested in learning about git (GitHub Desktop's underlying version control software that often interacted with through a CLI); you can check out [the official Git documentation.](https://git-scm.com/doc). 🙂

[2021-12-28 17:18] #13605 closed, assigned to nobody

[2021-12-28 19:09] 6645594094 commented on #13570
Ola

El mar., 28 de diciembre de 2021 8:08 a. m., no-response[bot] <
***@***.***> escribió:

[2021-12-28 19:31] JungleDnl4322 commented on #13570
wtf,  OLA VA CON H

El mar, 28 dic 2021 a las 11:11, 6645594094 ***@***.***>)
escribió:

[2021-12-28 21:23] j-f1 opened #13606 "Background color on “create a fork” prompt is wrong in squash dialog"
### Describe the bug
When squashing two commits on a repo that you don’t have write access to, the background for the no write access warning is the wrong color.

### Version & OS

Version 2.9.6 (arm64)
macOS 12.1 (21C52)

### Steps to reproduce the behavior

1. Clone a repo you can’t push to
2. In the history tab, drag a commit onto another to squash them
4. See the behavior below

### Expected b

[2021-12-29 00:25] narethi commented on #13586
I had already unticked the "Periodically fetch and refresh status of all repositories" option as mentioned previously.

I discovered the source of my issue here locally. I installed "Daemon Tools Lite" recently (on Nov 26) and it appears to have bundled "https://www.reasonsecurity.com/" into its install, the application installed as service but did not add its self to my windows security dialog, a

[2021-12-29 00:50] TerryChan commented on #13605
I'm not asking the CLI of git, I'm asking the CLI of GitHub Desktop, the 3 CLI supported by github command, as I mentioned in the snapshot of my question.
Because I'm extending the function of the CLI in GitHub Desktop. I need to initiate http request to my server, and execute with async in my new CLI command, but it failed. So I hope to get some technique document on the CLI of GitHub Desktop.

[2021-12-29 05:32] tomatozoo opened #13607 "엉키즈 크롤링 파일 다운로드 이슈"
### 위치

datapipeline 브랜치 - pipeline/unkiz/e_unkiz.py

### 이슈
download 버튼 누르기를 하고
로딩을 위해 파일 다운로드를 해두었으나 에러는 없으나 다운로드 안됨

[2021-12-29 08:56] PoddaManuela opened #13609 "Certificati postazione"
Buongiorno,
ho bisogno di scaricare i certificati per la mia postazione, come posso fare? Preciso che ho una card ANPR con microchip nuovo che non riesco ad utilizzare. Potete chiamarmi al numero 070/7691218? Grazie.
Manuela Podda,
Comune di Settimo San Pietro (CA)

[2021-12-29 11:28] Benoit1980 commented on #13586
Thanks for the tip, I will try this in a couple of days and see if safe mode helps. The only security I have is bitdefender, I already turned it off but the same problem occurred. I will try the safemode. Thanks!

[2021-12-29 14:00] L261173157 commented on #11098
I have it too

[2021-12-29 15:37] tidy-dev commented on #13607
@tomatozoo Hi! I popped this issue into google translate as no one on the team can translate.

[code]

I received the above, unfortunately this is not enough for me to determine an issue. Could you please fill out the entire issue template?

[2021-12-29 15:49] tidy-dev commented on #13605
We interact with Git through a custom package called [dugite](https://github.com/desktop/dugite). There are some [docs](https://github.com/desktop/dugite/blob/master/docs/overview.md) with that repo (not entirely sure how up to date they are), but also GitHub Desktop is open source so you can take a gander at how we utilize it throughout the code base, but most of our Git interact can be found in

[2021-12-29 16:10] candyleqi opened #13611 "https://github.com/candyleqi/LogNote.git"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-29 16:11] #13611 closed

[2021-12-29 16:12] hackbharath opened #13612 "n"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-29 17:44] shahnawazm786 commented on #4013
Check the your credential which you are using to login.
or use git bash, you will had better error description.

Thanks

[2021-12-29 17:44] shahnawazm786 commented on #4013
git status

git add --all

git commit -m "message here"

git push -u origin --all

[2021-12-30 00:21] Daniel-McCarthy opened #13613 "Can't select final line of code & odd selection behavior (Edge case with line endings)"
### Describe the bug
When working on a file, I found a case where committing a file with no final newline character/carriage return file ending, then making changes to add a new line caused line selection issues,

This can be reproduced by creating a file with some lines of code and saving with now newline/CR ending to the file, and creating a commit with it. Then, the file is changed to have a ne

[2021-12-30 07:23] paponius opened #13614 "Open in PowerShell fail to set correct directory (LiteralPath)"
### Describe the bug
_Open in PowerShell_ will open a PS console window, but the PWD, Current Directory, is wrong. Specifically:
C:\WINDOWS\system32\WindowsPowerShell\v1.0

### Version & OS

Version 2.9.6 (x64) on Windows 10

### Steps to reproduce the behavior

1. Create or open repository, which contains wildcard characters in its path. i.e. `[`, `]` (except just a single `]`)
2. Menu > Reposito

[2021-12-30 07:25] paponius commented on #6360
couldn't this be related to https://github.com/desktop/desktop/issues/13614 ?

@Elderry, didn't your path name contained `[` ?

[2021-12-30 11:29] dennis-gonzales commented on #10326
This worked for me too, using yarn.

[2021-12-30 13:24] tidy-dev commented on #13497
@sahilpatil9763  Getting the squirrel log would be helpful. :)

Also you could try a full uninstall and clean install.

That is:
 1. Uninstall GitHub Desktop
 2. Remove  %APPDATA%\GitHub Desktop\
 3. Reinstall GitHub Desktop

[2021-12-30 13:50] tidy-dev commented on #13591
I was able to reproduce with `git checkout -b test_branch origin/master`. If you follow this same set of steps through on the git for windows CLI, and try just pushing it will error out and make you choose:
[code]

However, when following console in Desktop, I did not see this error so assuming we are making a decision in our code at some point to default to option one.

Other notes:
If you `git c

[2021-12-30 15:30] csgit7254 opened #13615 "test bug"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
![image](https://user-images.githubusercontent.com/95662383/147765435-d09f4465-bf91-442d-b45c-9eb96c6e8c41.p

[2021-12-30 18:00] Kiomio666 opened #13616 "6"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-12-30 21:17] helhadad commented on #13586
Same performance issue here.

[2021-12-30 23:49] rashid212rm opened #13618 "bugs"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-12-31 00:18] #13618 closed, assigned to nobody

[2021-12-31 13:23] sahilpatil9763 commented on #13497
thank u sir now its working properly

[2021-12-31 13:36] KendallDoesCoding commented on #13497
@sahilpatil9763 That's great to hear! Requesting you to close this issue thread in that case.

[2022-01-01 06:33] #13567 closed, assigned to nobody

[2022-01-01 06:47] KendallDoesCoding commented on #13497
Thanks @sahilpatil9763

[2022-01-01 06:47] TheEmeraldFalcon commented on #6253
A bit late to the party, I had a similar issue, and my solution was to just shut down my IDE. I doubt it would work in this exact scenario, but it might work for some of the other people here asking about it.

[2022-01-01 06:48] KendallDoesCoding commented on #13585
@tidy-dev The text is, Click here to read the QR code, but it may be a spam website so a spam ticket too, so you guys decide if you guys wanna scan it or no.

[2022-01-01 09:17] Yanp2373 commented on #13452
Xgv

[2022-01-01 14:32] mesqueeb commented on #1543
@billygriffin that sadly doesn't cover being able to search for a commit by name, while this issue does. Can you please add back the label?

[2022-01-01 21:32] Andersama opened #13619 "Add folder to gitignore"
### Describe the feature or problem you’d like to solve
There's no context menu item to add a folder to the .gitignore.

### Proposed solution
When selecting items under the same folder, or subfolders present context menus to add folders to the gitignore. Should be fairly simple, Iterate through the selected edited files, add unique folder paths to the right click context menu.

### Additional con

[2022-01-02 09:47] igroglaz commented on #1543
I myself switched to Git Extensions client (https://github.com/gitextensions/gitextensions) cause of this feature. It works there like charm.

[2022-01-02 14:09] Elderry commented on #6360
@paponius Sorry but no idea, I lost the environment for a long time.

[2022-01-02 18:03] OmarSherif96 opened #13620 "Cancel cloning/downloading button doesn't exist when it's in progress"
### Describe the feature or problem you’d like to solve

I was cloning a huge project but then I wanted to cancel the progress I didn't find cancel button

### Proposed solution

Add a cancel button while cloning at progress

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2022-01-03 05:52] Dan-TEALS commented on #9899
I can't believe this either. I have a repo on my machine that I can't push to my personal account because Windows 11/GitHub Desktop keep opening the login dialog in Edge and signing me into my work account. This is COMPLETELY unacceptable. Looks like it's time to find a new VCS.

[2022-01-03 06:42] ManGeelato commented on #11410
I was using  Microsoft edge to try and clone repository but it kept loading, nothing was happening...I changed to chrome and boom, everything worked well

[2022-01-03 08:41] GCRanpariya opened #13621 "cloneing"
repository   is not cloneing  to this PC.

[2022-01-03 12:35] Majkasgurunu opened #13622 "Bug"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2022-01-03 12:35] Majkasgurunu opened #13623 "Bug"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2022-01-03 14:27] pavangayakwad commented on #13364
@steveward Font support is the most crucial aspect for any software programming tool, I am surprised to find this has been ignored for this long. Please prioritize this feature, the smaller and ugly fonts are of greatest discomfort for any programmer while reading/coding.

[2022-01-03 14:44] Majkasgurunu opened #13624 "My11"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2022-01-03 15:26] Majkasgurunu commented on #13624
Hello what ste you doing whit my Android

[2022-01-03 15:28] Majkasgurunu commented on #13624
Hello what are you doing whit my Android. You Kill him?

[2022-01-03 17:01] linonetwo commented on #13603
Solution:

[code]

How to find out:

Search "GitHub Desktop" in the regedit.

[2022-01-03 17:01] #13603 closed, assigned to nobody

[2022-01-03 17:01] linonetwo commented on #13603
And there is nothing like `CurrentUserUninstallKey('{771FD6B0-FA20-440A-A002-3B3BAC16DC50}_is1'),`, the document is somehow misleading.

[2022-01-03 19:25] laukstein commented on #8761
In Windows 10 you can try solution explained in https://superuser.com/a/1296046/473500
![image](https://user-images.githubusercontent.com/183966/147971353-716caf9d-bac3-4052-b823-f3aba73fd32f.png)

[2022-01-03 20:38] helltraitor opened #13625 "Ability to rotate the file list in the history"
### The file list takes too much space

![image](https://user-images.githubusercontent.com/95148327/147974174-0161b189-3550-46d6-958f-c85651bcd8b5.png)

As you can see, The list of the changed files takes too much space. I can't either hide it or rotate it.

### Proposed solution

It would be very good to have the ability to hide or rotate the file list (second option is more wanted). The ideal fo

[2022-01-03 22:50] Majkasgurunu commented on #13623
Whats hapend

[2022-01-03 22:52] Majkasgurunu commented on #13623
I donT know it must by my close friends. I coldnt beleave

[2022-01-03 23:12] Majkasgurunu commented on #13625
matrix.friendlyName
 ​    ​name​: ​${{ matrix.friendlyName }} ${{ matrix.arch }}
 ​    ​runs-on​: ​${{ matrix.os }}
 ​    ​permissions​: ​read-all
 ​    ​strategy​:
 ​      ​fail-fast​: ​false
 ​      ​matrix​:
 ​        ​node​: ​[14.15.4]
 ​        ​os​: ​[macos-10.15, windows-2019]
 ​        ​arch​: ​[x64, arm64]
 ​        ​include​:
 ​          - ​os​: ​macos-10.15
 ​            ​friendlyName​:

[2022-01-03 23:17] #13622 closed

[2022-01-03 23:17] #13624 closed

[2022-01-03 23:17] #13623 closed

[2022-01-04 00:02] Massetstephane opened #13626 "French version for github and github desktop"
all in the title i'm tired with "commit" "fesh" "push" term translate !!! into french every time i'm back here or using github desktop, i'm not sure with the function name and forced to have a translator anglais to french...

[2022-01-04 00:06] Massetstephane opened #13627 "commit not functionning"
### Describe the bug
using function commit to pass my folder modification to the main branch and nothing updated. (commit 6 hours ago)

### Version & OS

Version 2.9.6 (x64) french windows 10 21H2 64 bits

[2022-01-04 01:45] cdaycmc commented on #12562
I upgraded to Node v16 and husky stopped working with the same error as above. I then downgraded to v14 of Node and it worked again.

v16.13.1 x64 didn't work (latest LTS)
v14.18.2 x64 did work

[2022-01-04 03:59] ActionKeith commented on #8761
When will it work correctly for MacOS?

Thank you.

On Mon, Jan 3, 2022 at 11:26 AM Binyamin Laukstein ***@***.***>
wrote:

[2022-01-04 07:52] KarthikAbiram commented on #1765
This would be something that would make a **BIG difference** to those who work with code which use custom binary files like LabVIEW.

**@All, Those who would like this feature to be implmented, please add a like to the 1st post and add a line of comment on why you need this feature - This would help making this feature a priority.**

[2022-01-04 08:19] sergiou87 commented on #8761
@keithhelfrich version 2.9.3 already has support for this on macOS. Is it not working for you? 😳

[2022-01-04 09:43] JohnnieBlinx commented on #9899
As i mentioned in my comment above somewhere the solution for this that worked for me is to go to git in the browser, log out, then try to sign in with git desktop. itll then do sign in with browser and you sign in with whatever account you want

[2022-01-04 14:23] behruzdev1 opened #13628 "11"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2022-01-04 14:46] sergiou87 commented on #13628
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2022-01-04 14:46] #13628 closed, assigned to nobody

[2022-01-04 15:25] sidor1998 opened #13629 "Number: SLIP-0044 Title: Registered coin types for BIP-0044 Type: Standard Status: Active Authors: Pavol Rusnak <stick@satoshilabs.com> Marek Palatinus <slush@satoshilabs.com> Created: 2014-07-09"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2022-01-04 15:26] #13629 closed, assigned to nobody

[2022-01-04 15:54] steveward commented on #13626
Thanks for the feedback @Massetstephane. At this time we do not have language localization in GitHub Desktop, but this is something that we would like to do in the future. I don't have a timeline for when that may happen as it would require quite a bit of work by the team. I'm sorry that I don't have better news at this time.

[2022-01-04 15:54] #13626 closed, assigned to nobody

[2022-01-04 15:55] steveward commented on #13627
@Massetstephane thanks for the issue. When you say 'nothing updated', are you referring to the remote repository on GitHub? Did you push your changes after committing in GitHub Desktop? GitHub Desktop does not automatically sync your changes.

[2022-01-04 16:52] steveward commented on #13621
Thanks for the issue @GCRanpariya.

Would you mind filling out the rest of the issue template so that we can better understand what is causing the problem you are experiencing? Without that information it will be difficult to help you further. It would especially be helpful if you could upload the log file from GitHub Desktop, which will give more details about the specific error you are seeing.

[2022-01-04 16:53] steveward commented on #13620
Thanks for the issue @OmarSherif96 -- we are tracking this in https://github.com/desktop/desktop/issues/2082 so I am going to close this out.  Please follow along there for updates.

[2022-01-04 16:53] #13620 closed, assigned to nobody

[2022-01-04 17:04] steveward commented on #13619
Thanks for the issue @Andersama. This is being tracked in https://github.com/desktop/desktop/issues/1203, so I'll bump that issue up and close this one out. You can subscribe there for updates.

[2022-01-04 17:04] #13619 closed, assigned to nobody

[2022-01-04 17:04] steveward commented on #1203
Requested in https://github.com/desktop/desktop/issues/13619.

[2022-01-04 17:49] steveward commented on #13609
@PoddaManuela this issue tracker is for GitHub Desktop -- it sounds like you may be looking for a different project hosted on GitHub. If you are having specific issues with GitHub Desktop please let me know and we can investigate further.

[2022-01-04 17:49] #13609 closed, assigned to nobody

[2022-01-04 17:57] #13585 closed, assigned to nobody

[2022-01-04 19:22] Attila180 commented on #13585
I so so sorry, please help, I' not the problem

[2022-01-04 19:23] Attila180 commented on #13585
Hy, please check the status? Good his not good!! Thanks Attila Bardos

Üdv ati

[2022-01-04 20:02] steveward commented on #13593
Thanks for the feedback @jiangxiaoqiang! I'm going to roll this into https://github.com/desktop/desktop/issues/12195 where this was previously requested. You can follow along there for updates.

[2022-01-04 20:02] #13593 closed, assigned to nobody

[2022-01-04 20:02] steveward commented on #12195
Requested in https://github.com/desktop/desktop/issues/13593.

[2022-01-04 20:12] ahollenbach opened #13630 "Unable to clear the "Create a pull request from your current branch""
### Describe the bug
With a fresh repository, I am unable to clear the "Create a pull request from your current branch" while on the default branch.

### Version & OS

Version 2.9.6 (arm64), Mac with M1 chip

### Steps to reproduce the behavior

0. (optional) Of note: I initially created the repository with the same name and then deleted it from GH/local. Not sure if this is a required step.
1. Cr

[2022-01-04 20:30] Attila180 commented on #13585
Hy master! Please. Thank you

https://github.com/desktop/desktop/issues/13585

Üdv ati

[2022-01-04 20:45] Massetstephane commented on #13627
hi ! my files on my computer (local) are not updated to the main branch (internet) , ah perhaps it's my error just use the commit fonction but before that I only used the commit button and all my modified files would replace those in the main branch of my project.
The biggest problem is that each time I have the English French translator to decipher the words commit, fech, push and other, I watch

[2022-01-04 21:15] Massetstephane commented on #13627
hi ! i'm back, I think the error comes from that I modified locally by deleting files, and doing the same in the main branch without updating everything and when I made my github desktop updates was blocked because the local files no longer matched the main branch files, I corrected, and add a text, by committing to main I have the Push option now and the file has been transferred.
The problem is:

[2022-01-05 00:52] iAmWillShepherd commented on #13542
It would be awesome to have this feature. It's handy when stashing because stashed changes may sit for just long enough for there to be new commits on the attached branch.

[2022-01-05 02:50] jenniferlahr5 commented on #9831
I would like to have a chance to work in your company and help it wrow.I am very ambitious and adventurous

[2022-01-05 06:51] KendallDoesCoding commented on #13454
@steveward I turned off norton and got another kinda setup error without a view log button

![image](https://user-images.githubusercontent.com/84712013/148173190-5b68772e-e053-40e9-a425-0af1092670c6.png)

[2022-01-05 07:12] Thore3 opened #13631 "I haven't deleted the branch yet."
I haven't deleted the branch yet.

__Originally posted by @KendallDoesCoding in https://github.com/desktop/desktop/pull/13515#issuecomment-1000181153__

[2022-01-05 08:01] Advik-B opened #13632 "Instructions to build"
### Describe the feature or problem you’d like to solve

I am currently on a linux PC. If needed i will build apps for my use but i dont have the instructions how to build on linux

### Proposed solution

In `README.md` please add the build instructions

### Additional context

( For python [EXAMPLE] )
[code]

[2022-01-05 08:22] sergiou87 commented on #13632
I'm sorry @Advik-B but Linux is not officially supported. You can check out this other unofficial fork with Linux support where you'll find instructions to build it for Linux: https://github.com/shiftkey/desktop/blob/linux/docs/contributing/setup-linux.md

[2022-01-05 08:22] #13632 closed, assigned to nobody

[2022-01-05 08:26] Fawn-verse9 commented on #9852
how do you add an external editor

[2022-01-05 08:37] yuchen071 commented on #10345
Adding the folder containing `git-remote-https.exe` to PATH, in my case `C:\Program Files\Git\mingw64\libexec\git-core`, solved the problem for me.

Don't know why this is required as my other computer did not need this workaround for Github Desktop to work properly.

[2022-01-05 09:43] john-ver commented on #3707
it would be nice if multi-clients with separate accounts were officially supported.

[2022-01-05 09:45] AilMilk1100 commented on #3707
Or e

[2022-01-05 11:15] sergiou87 commented on #13630
I think this is the problem:

There are some issues where deleted/renamed repositories cause some cache problems. Could you try to create a completely new repository with a name that you have never used and see if you can reproduce the behavior there?

Thank you!

[2022-01-05 12:47] #2055 closed

[2022-01-05 14:40] steveward commented on #13627
Thanks for the update. We have a [getting started guide](https://docs.github.com/en/desktop/installing-and-configuring-github-desktop/overview/getting-started-with-github-desktop) that you could take a look at -- it's not currently available in French but hopefully some of the screenshots along with running it through browser translation would be helpful!

Since we seem to have tracked down the is

[2022-01-05 14:40] #13627 closed, assigned to nobody

[2022-01-05 15:36] JamesCatt opened #13633 "Commits with large number of changes are displayed late/on wrong commit in history"
### Describe the bug
Apologies if this has already been reported—I searched but couldn't find anything that looked related.

When viewing a commit with a large number of changes (i.e., 10k+ files), there is a significant delay before the list of files/changes appears in the right pane. While Desktop is loading this, it does not display any kind of "loading" indicator—it instead simply says "No fil

[2022-01-05 16:37] #13607 closed, assigned to nobody

[2022-01-05 19:58] Dan-TEALS commented on #9899
Hi JohnnieBlinx! You're right. You can force Windows 11 to log in to another account, if you sign out of your account in Github Desktop, log in to the desired account in the browser that Windows is going to open by default to do the browser sign-in (usually Edge but make sure you have the right account on the browser, too), then sign in on Github Desktop. It'll open the browser, not give you any c

[2022-01-05 21:57] kaipyroami commented on #10205
Same here.

[2022-01-06 02:39] richxrich opened #13634 "Bulk operations after multiple selections of files"
### Describe the feature or problem you’d like to solve

At least on Windows (v2.9.6,) when selecting multiple files either from a previous commit or a commit you are working on right clicking and selecting open with X only opens the file you are currently right clicking on and not all the files that have been selected. The same goes for ignore file etc.

### Proposed solution

If multiple files a

[2022-01-06 11:10] ashleyjamesbrown commented on #9293
Having same issue but using a MAC. Any thoughts as I dont get the same info when running
`git config -l --show-origin`

[2022-01-06 11:25] geologyrocks commented on #9293
<s>@ashleyjamesbrown the best fix I found only yesterday - add a `-c http.sslVerify=false` argument to your `git clone` command.
e.g. `git -c http.sslVerify=false clone https://github.com/AzureADQuickStarts/AppModelv2-NativeClient-DotNet.git`

That way git knows to temporarily set the `sslVerify` property to `false` for the duration of the command.  The same also works for `git pull` and `git push

[2022-01-06 11:28] LightningAlex opened #13635 "No choice when resolving conflicts (binary files)"
When updating from any branch that has edited a binary file that has been edited on my branch, I get a dialogue warning me that there are conflicted files. However, there is no drop-down menu next to the listed file asking me to choose which version to keep. Instead, it says the merge conflict has been resolved, and that I can continue with the merge. I'm not sure which version's file has been kep

[2022-01-06 11:36] CameronJThomas commented on #12562
I had a parade of issues with Husky 7 and Node 16 on GitHub Desktop, which I resolved by:
1. Uninstalling WSL (or, if you use it, you can install a distro).
2. Adding `C:\Program Files\Git\bin` to my system PATH.
3. Running `git config stash.usebuiltin false` in my repository directory.

At last it is working. The fault seems to lie somewhere between Node 16, and Desktop insisting on using its bui

[2022-01-06 11:39] ashleyjamesbrown commented on #9293
remote: Password authentication is not available for Git operations.
remote: You must use a personal access token or SSH key.

I think tis the enterprise (work) account so ill see if its that

[2022-01-06 12:05] geologyrocks commented on #9293
Ok, good luck.

[2022-01-06 12:23] ashleyjamesbrown commented on #9293
Yup - last thing i had to do was make a PAT instead of using my github password.

Then i used the line above from you and it worked. Thanks so much.

`git -c http.sslVerify=false clone https://mygithubrepo`

remote: Enumerating objects: 48, done.
remote: Total 48 (delta 0), reused 0 (delta 0), pack-reused 48
Unpacking objects: 100% (48/48), done.

[2022-01-06 12:23] thinkyhead opened #13636 "Misplaced tooltip"
### Describe the bug
Sometimes the tooltip appears in the top-left of the window, amusingly behind the stop-light buttons.

### Version & OS

Version 2.9.6 (arm64) on macOS 12.1 (21C52)

### Steps to reproduce the behavior

1. Hover over a file title

### Expected behavior

Tooltip appears in the location of the pointer.

### Actual behavior

Tooltip appears in the top-left corner.

### Screenshot

[2022-01-06 16:15] BalintN-MPP commented on #8891
I have similar problem. It seems we are all confuse where / how to provide the PAT, might be worth some clarification in docs.

[2022-01-06 16:28] BalintN-MPP opened #13637 "Unable to access Github"
Get the message:

-------------------
ERROR: The `xxx' organization has enabled or enforced SAML SSO. To access
this repository, you must use the HTTPS remote with a personal access token
or SSH with an SSH key and passphrase
that has been authorized for this organization. Visit
https://docs.github.com/articles/authenticating-to-a-github-organization-with-saml-single-sign-on/ for more information.

[2022-01-06 16:40] steveward commented on #13636
Thanks for the report @thinkyhead! I was unable to reproduce this, but I'll label this as a bug for us to investigate.

[2022-01-06 17:09] steveward commented on #8891
@BalintN-MPP you do not need to generate a PAT to use with GitHub Desktop unless you are using a third-party service like GitLab or Bitbucket.

[2022-01-06 17:16] steveward commented on #13637
@BalintN-MPP you likely need to reauthorize GitHub Desktop if your organization recently enabled SAML SSO. You can go to [this page](https://github.com/settings/applications) to revoke GitHub Desktop and then log in again from the app. Let me know if that helps.

[2022-01-06 17:53] agisilaos commented on #13636
I've encountered this many times in the past @steveward. Make sure to play around with the size of the GitHub Desktop window.

[2022-01-06 19:32] SplenectomY commented on #7790
Agreed that the enter key / space key to multi-select is not obvious, and a context menu option would make sense here. Typically, in other applications, it's common that when you have a lot of selected options (blue state), simply clicking the toggle box on one of those selected objects will apply the same toggle to all the selected items. This would be the expected UX for the majority of people.

[2022-01-07 00:10] haykam821 opened #13638 "Creating a 'head' branch causes detachment"
### Describe the bug

After creating a 'head' branch, GitHub Desktop changed to a detached HEAD mode, which can't be published.

### Version & OS

- GitHub Desktop 2.9.6
- macOS 12.1

### Steps to reproduce the behavior

1. Open the branch picker
2. Opt to create a new branch
3. Name the branch `head`
4. Create the branch
5. Observe the branch status

### Expected behavior

I expected to be able t

[2022-01-07 04:10] Airkro commented on #12586
I think this is the same problem as #12562.

[2022-01-07 05:37] Airkro commented on #12562
Ugly but work:

[code]

[2022-01-07 08:25] JoahZhang commented on #9937
hi,I also got this problem,  It looks caused by the IDE, my GithubDesktop work correctly before I installed the VScode and Idea , But when I installed one of them, Github Desktop says the error:git: "'remote-https' is not a git command. See 'git --help'." Are there any way to solve this problem？

[2022-01-07 12:52] sergiou87 commented on #13638
I don't think you should use `head` as a branch name, git doesn't seem to like it either since it's printing this all the time:
`warning: refname 'head' is ambiguous.`

We should probably not allow users to enter `head` as branch name 🤔

[2022-01-07 12:59] sergiou87 commented on #13636
I haven't been able to repro this specifically as shown in the screenshot, but instead the tooltip didn't show up anywhere at all (or I couldn't find it 😆 ). After that I resized the window and was unable to repro it again 😢

[2022-01-07 13:04] sergiou87 commented on #13625
Thanks for your feedback! In case it's useful, in the latest beta (and the upcoming release), you can make that column much narrower.

[2022-01-07 13:12] sergiou87 commented on #13613
Thank you for your detailed report! We will take a look and let you know 😄

[2022-01-07 14:59] sergiou87 commented on #13586
Thanks for reporting this! We suspect the problem might be related to the recent upgrade of Electron to v13 (#13426), which tends to cause random issues. There are some known performance issues but only on macOS, though, so I wonder what's the problem exactly in your case.

You can go back to 2.9.5, however ⚠️ **your GitHub Desktop settings (like the list of repositories) might be completely delet

[2022-01-07 14:59] sergiou87 commented on #13586
Forgot to ask, does this happen with every single repo you have tried?

[2022-01-07 15:15] sergiou87 opened #13639 "`spawn` is slow on dev builds for macOS running on Apple silicon devices"
### Describe the bug
After upgrading to Electron 13 (#13426), dev builds of the app take much longer to run `git` commands on macOS when running on Apple silicon devices. It still happens when building the app with Electron 15.

Normally, spawning git commands on a Mac Mini M1 in a given small repo would take around 0.0015s. But now, dev builds take 0.15-0.20s for the very same git commands.

###

[2022-01-07 17:01] BalintN-MPP commented on #13637
Thank you for the response, I managed to sort it out.

I found that in my .git/config file I had this:
    url = git@github.com:myorg/myrepo.git

I changed it to
    url = https://www.github.com/myorg/myrepo.git

This time when issuing a git command like git pull I was presented with a login dialog where I could provide my PAT token and it started to work.

[2022-01-07 17:01] #13637 closed, assigned to nobody

[2022-01-07 19:07] steveward commented on #13635
Thanks for the issue @LightningAlex! This looks the same as https://github.com/desktop/desktop/issues/9846 (let me know if not) -- I'm going to reference this issue there and close this one out along with relabeling the original issue as a bug for investigation.

[2022-01-07 19:07] #13635 closed, assigned to nobody

[2022-01-07 19:08] steveward commented on #9846
Reported again in https://github.com/desktop/desktop/issues/13635.

[2022-01-07 19:18] steveward commented on #13604
@Peter-Easterbrook thanks for the report. Can you share the output of `git remote -v` from the command line for the repository? That will let us know if the `origin` remote of your repository is misconfigured.

[2022-01-07 19:37] Peter-Easterbrook commented on #13604
Hey Steve,
thanks for getting back to me about that.
In the meantime, I already looked into the .git config file and saw that
somehow the repo origins had been switched, at least the PEWDResume  repo
address had been switched for the crwn-clothing-2021 address.
So I just entered the correct address, pushed and it cleared itself up
though it's a curious thing to happen as, obviously, I don't interf

[2022-01-07 20:01] steveward commented on #13604
Thanks for the update. I'm going to close this out.

[2022-01-07 20:01] #13604 closed, assigned to nobody

[2022-01-08 00:09] basedmago opened #13642 "Error when cloning a repository"
I'm trying to clone a repository to my pc, in the verison 2.9.6 (x64) of github desktop, but i recieve this error everytime i try:

error: RPC failed; curl 56 Send failure: Connection was resets/s
error: 6182 bytes of body are still expected
fetch-pack: unexpected disconnect while reading sideband packet
fatal: early EOF
fatal: fetch-pack: invalid index-pack output

pls help me :(

[2022-01-08 03:35] yakryder commented on #9831
Hey there, long time listener first time caller! Thanks for building such an awesome program :)

Came here browsing open issues, couldn't help but notice there seems to be not just a workaround but in fact a good working solution outlined by @AndreiMaga. On the surface it's hard for me to think of a good reason to support launching out into sometimes windows terminal, sometimes windows terminal pr

[2022-01-08 04:18] crazyguero opened #13643 "Oscar"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2022-01-08 17:00] ghost opened #13645 "External editor"
I cant change the external editor on mt github desktop its showing only sublime editor and nothing else even after trying to change it

[2022-01-08 18:29] crazyguero opened #13646 "I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File."
I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File.

__Originally posted by @smarter in https://github.com/lampepfl/dotty/pull/13177#discussion_r679872250__

[2022-01-08 18:29] crazyguero opened #13647 "I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File."
I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File.

__Originally posted by @smarter in https://github.com/lampepfl/dotty/pull/13177#discussion_r679872250__

__Originally posted by @crazyguero in https://github.com/desktop/desktop/issues/13646__

[2022-01-08 18:29] crazyguero opened #13648 "I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File."
I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File.

__Originally posted by @smarter in https://github.com/lampepfl/dotty/pull/13177#discussion_r679872250__

__Originally posted by @crazyguero in https://github.com/desktop/desktop/issues/13646__

__Originally posted by @crazy

[2022-01-08 18:39] crazyguero opened #13649 "I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File."
I think the comment should mention that this isn't necessarily a path to a file on disk because of virtual files, otherwise people might try to convert it to a java Path/File.

__Originally posted by @smarter in https://github.com/lampepfl/dotty/pull/13177#discussion_r679872250__

__Originally posted by @crazyguero in https://github.com/desktop/desktop/issues/13646__

__Originally posted by @crazy

[2022-01-09 06:10] crazyguero opened #13650 "Sorry"
Sorry

__Originally posted by @jchassery12 in https://github.com/octocat/Spoon-Knife/pull/2677#issuecomment-868927383__

__Originally posted by @crazyguero in https://github.com/octocat/Spoon-Knife/issues/24502__

__Originally posted by @crazyguero in https://github.com/octocat/Spoon-Knife/issues/24503__

[2022-01-09 06:15] crazyguero opened #13651 "Sorry"
Sorry

__Originally posted by @jchassery12 in https://github.com/octocat/Spoon-Knife/pull/2677#issuecomment-868927383__

__Originally posted by @crazyguero in https://github.com/octocat/Spoon-Knife/issues/24502__

__Originally posted by @crazyguero in https://github.com/octocat/Spoon-Knife/issues/24503__

__Originally posted by @crazyguero in https://github.com/desktop/desktop/issues/13650__

[2022-01-09 06:15] #13651 closed

[2022-01-09 07:58] #13650 closed

[2022-01-09 07:59] #13649 closed

[2022-01-09 07:59] #13648 closed

[2022-01-09 07:59] #13647 closed

[2022-01-09 07:59] #13646 closed

[2022-01-09 07:59] #13643 closed

[2022-01-09 08:14] thinkyhead opened #13652 "Backward "line endings will be changed" warning"
### Describe the bug
The tooltip for the warning icon that concerns line endings is backward. It says "Warning - line endings will be changed from 'CRLF' to 'LF'," but the line endings are actually changing from LF to CRLF.

### Version & OS

Version 2.9.6 (arm64) on macOS 12.1 (21C52).

### Steps to reproduce the behavior

1. Edit a file, changing only the line-endings.
2. Go to GitHub Desktop an

[2022-01-09 09:56] Harindulk opened #13653 "categorize repositories"
please add a feature to categorize repositories, it's very useful when we have a lot of repositories and find Want one ✌️
![image](https://user-images.githubusercontent.com/61319844/148668921-05484add-9b54-4bbd-abca-bf41af17bc2b.png)