[2021-09-03 13:43] #12898 closed, assigned to nobody

[2021-09-03 14:10] K0-RR opened #12899 "Text elements of image diff comparison breaks when the image is too small."
### Version & OS
2.9.2-linux1 on Arch Linux.
I cannot test this on Windows but it looks more like an upstream issue so reporting here. Let me know if I'm mistaken.

### Steps to reproduce the behavior

1. Create a repo with a small pic in it.
2. Change sth on the picture.
3. Look at the diff view in the Desktop app.

### Expected behavior
Fixed text line width? Non-breaking space? Redesigned diff

[2021-09-03 14:33] haykam821 opened #12900 "The commit message container has gaps revealing a different background"
### Describe the bug

A border radius issue causes a separate background to be revealed.

### Version & OS

- **GitHub Desktop:** 2.9.4-beta1
- **Operating System:** macOS Monterey 12.0 beta

### Steps to reproduce the behavior

1. Look at the commit message container.

### Expected behavior

The commit message container should have a dark gray background.

### Actual behavior

There are curved ga

[2021-09-03 16:24] steveward commented on #12897
Thanks for the issue @ProtocolLive. This is being tracked in https://github.com/desktop/desktop/issues/2700. I'm going to close this out.

[2021-09-03 16:24] #12897 closed, assigned to nobody

[2021-09-03 17:16] steveward commented on #12900
Good catch @haykam821, and thanks for opening a PR to fix this!

[2021-09-03 18:11] steveward commented on #12895
Thanks for the report @haykam821! /cc @tidy-dev

[2021-09-03 18:34] steveward commented on #12886
Thanks for the issue @J-rg! I'm going to close this as a duplicate of https://github.com/desktop/desktop/issues/6199.

[2021-09-03 18:34] #12886 closed, assigned to nobody

[2021-09-03 18:35] steveward commented on #6199
Reported in https://github.com/desktop/desktop/issues/12886.

[2021-09-03 19:00] taulantisaku commented on #11410
Changing the default browser from Chrome to Mozilla worked for me!

[2021-09-03 19:17] Niko-O commented on #3410
**Bump**

[2021-09-03 19:27] danielfowler opened #12904 "2.9.3 freezes when I open it on Windows"
I see a perpetual "Fetching origin" loading gif or "Publish branch" and can't click on anything in the GUI. Can't even close the program, and my CPU/GPU fans start to stress out a bit, increasing from 3700 RPM to 4700 RPM. I have to right-click the Windows navbar to Close Window.

[2021-09-04 02:08] haykam821 commented on #12838
I can reproduce this on GitHub Desktop 2.9.3 and macOS Monterey 12.0 beta.

[2021-09-04 12:29] Niko-O opened #12906 "Allow "N changed files" list to expand further."
### Describe the feature or problem you’d like to solve

I have pretty long paths in my repository (\*looks judgingly at Java package names\*).
But I also have a pretty big screen to view them (1920x1080 pixels).
Unfortunately, GitHub Desktop does not make use of all those pixels. The list on the left is only allowed to expand to approximately 460 pixels wide. It's especially bad when it detects f

[2021-09-04 13:15] ghost opened #12907 "Cannot add SSH key to SSH agent"
I cannot  add my private SSH key to my SSH agent. Every time I try it says public key denied. I followed all the steps  to generating and adding SSH keys but it still returns the same problem. I am thinking of giving up now.

[2021-09-04 20:46] b5414 opened #12908 "Can't choose which lines to commit"
### Describe the bug
Can't choose which lines to commit

### Version & OS

2.9.3 (Windows 10.0.19043) x64

### Steps to reproduce the behavior

1. Make some changes in any repo
2. Open the app, diff area
3. Click on the blue "buttons" with line number

### Expected behavior

The clicked line will be disabled for the next commit

### Actual behavior

The blue button does not respond to clicking

##

[2021-09-04 21:37] ArjixWasTaken commented on #4527
Please fix this already.

[2021-09-04 21:52] danielfowler commented on #12904
Nevermind... I was frozen due to a commit revert. Once I cleared that out, GitHub Desktop is back to working.

[2021-09-04 21:52] #12904 closed, assigned to nobody

[2021-09-05 04:56] P5-2p opened #12910 "แก้ไข"
Thanks for your submission.

It appears that you've created a pull request using one of our repository's branches. Since this is
almost always a mistake, we're going to go ahead and close this. If it was intentional, please
let us know what you were intending and we can see about reopening it.

Thanks again!

_Originally posted by @mistaken-pull-closer[bot] in https://github.com/desktop/desktop/is

[2021-09-05 06:49] PunitKunai opened #12911 "Blank Github Desktop screen with Menu items"
### Describe the feature or problem you’d like to solve

I did install Github desktop on my Macincloud (MacOS) and it was working fine but when i try to access Github i see the white blank screen with Menu item list greyed out and which i am not able to access them.

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template

[2021-09-05 09:28] CubergDev opened #12912 "Support for latest Jetbrains IDE installed by Toolbox"
### Describe the bug
Trying to choose one of Jetbrains IDE as default editor, but non of them is listed. Jetbrains IDE are PyCharm, WebStorm, Intellij IDEA (all of them installed by Jetbrains Toolbox)

### Version & OS

Version 2.9.3 (x64)
Windows 10 Pro, build 19043.1202

### Steps to reproduce the behavior

1. Go to "File" menu on top.
2. Click on "Options"
3. Go to "Integrations"
4. Open list o

[2021-09-05 15:22] dy opened #12914 "Display total del/ins stats for a file"
### Describe the feature or problem you’d like to solve

There can be many changes in files before commit.
But there's no total stats indicator (inserted/removed lines). That would be helpful to estimate reduction / growth.

### Proposed solution

Same as in github:
![image](https://user-images.githubusercontent.com/300067/132132114-9d9e35d1-1ebd-403e-90e6-87777578f2aa.png)

somewhere in the corne

[2021-09-05 19:47] zacraoui commented on #4872
Hii !

 I tried all but doesn't work.
this method resolve my issue https://reactgo.com/github-password-authentication-removed/

Hope this help somebody.

[2021-09-05 22:40] aholtzma-am opened #12915 "diff line selection stopped working"
### Describe the bug
After updating to  2.9.3, I can no longer select/deselect lines to be included in a commit. It behaves like the clicks are not registered and the lines stay blue.

<img width="180" alt="image" src="https://user-images.githubusercontent.com/77404441/132143221-9fc30cb6-e8bb-4db8-b468-318418330a97.png">

### Version & OS

This is version 2.9.3 with Catalina. On my other machine w

[2021-09-05 22:46] kamauwanjoroge commented on #3410
This needs to be merged. Losing up to 126 MB of my data plan per update.

[2021-09-06 06:31] #12844 closed, assigned to nobody

[2021-09-06 06:31] #12851 closed, assigned to nobody

[2021-09-06 07:36] sergiou87 commented on #12908
Hi @b5414! 👋

I'm afraid the problem is you have enabled `Hide whitespace changes`. We want to improve the feedback we give to users about this limitation, please see #12862

[2021-09-06 07:36] #12908 closed, assigned to nobody

[2021-09-06 07:37] #12910 closed, assigned to nobody

[2021-09-06 07:39] sergiou87 commented on #12912
Thanks for your report @CubergDev! ❤️

We've tracking this issue in #9453, so I would recommend you to subscribe to it and you will get notified whenever we make progress on it 😄

[2021-09-06 07:40] sergiou87 commented on #12915
Hi @aholtzma-am! 👋

Is it possible that you have `Hide whitespace changes` enabled? Please see #12862

[2021-09-06 07:40] #12915 closed, assigned to nobody

[2021-09-06 07:41] sergiou87 commented on #12906
Hi @Niko-O! 👋

Thanks for your feedback 😄  We're already tracking that in #2745 and #1588. Please feel free to subscribe and react to those issues. You will get notified whenever we make progress on them!

[2021-09-06 07:41] #12906 closed, assigned to nobody

[2021-09-06 07:51] Hakim77pixel commented on #12904
Pada Sab, 4 Sep 2021, 3:29 PG Daniel F ***@***.***> menulis:

[2021-09-06 12:10] riasaheli opened #12916 "Authentication failure while trying to fetch the origin from Azure remote repo"
i cloned the repo from Azure using VScode and added the repo in GitHub desktop. After that i tried to fetch origin but i got authentication failure error (please note i used username and PAT).

i tried to fetch the origin from command line and it worked fine.
[Document.docx](https://github.com/desktop/desktop/files/7115873/Document.docx)

[2021-09-06 13:52] #12900 closed, assigned to nobody

[2021-09-06 14:23] aholtzma-am commented on #12915
Yes, this is it, thanks.

[2021-09-06 14:59] aholtzma-am commented on #12862
Can the tooltip delay be changed to something smaller, like zero?

[2021-09-06 21:02] ActionKeith commented on #8761
Hi @billygriffin -- Eagerly awaiting.
Any high level guidance on how much time delay to expect for MacOS?

[2021-09-07 05:37] Ayuubgaajo opened #12918 "Ayuubgaajo"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-07 05:41] son3ofSatan commented on #12918
- [ ]

[2021-09-07 06:45] #12918 closed, assigned to nobody

[2021-09-07 07:31] sergiou87 commented on #8761
@keithhelfrich version 2.9.3 already has support for this on macOS. Is it not working for you? 😳

[2021-09-07 09:55] sergiou87 commented on #12916
Hi @riasaheli! 👋

I cannot reproduce this issue, it works fine for me using my username and PAT. Could you share your logs from a day where this happened?

Thank you!

[2021-09-07 11:20] gzoohkitchens commented on #12837
Gzooh Kitchens is the [url=https://www.gzoohkitchens.com/]Best Cloud Kitchens in St. Albert[/url]. Gzooh Kitchens provide different types of online food delivery service like Ghost Kitchens and Virtual Kitchens.

[2021-09-07 11:33] tidy-dev commented on #12895
@haykam821 Yep. Thank you for the report. This is among the polish type things I have listed in the [PR](https://github.com/desktop/desktop/pull/12833).

[2021-09-07 12:35] steveward commented on #12907
@Houston-Khanyile thanks for the issue. Are you wanting to use SSH with GitHub Desktop, or just via the command line? GitHub Desktop defaults to using HTTPS connections if you would prefer to use that over SSH. If you are having issues setting up SSH it would be helpful if you can share the specific errors you are seeing.

[2021-09-07 12:41] steveward commented on #12911
@PunitKunai thanks for the issue. What version of macOS is your Macinthecloud instance running?

 You should be able to resolve this by running the following command:

`rm -r ~/Library/Application\ Support/GitHub\ Desktop/IndexedDB`

And then restarting GitHub Desktop. Let me know if that helps.

[2021-09-07 14:04] PyPublishing opened #12920 "Macos: "dyld: lazy symbol binding failed: Symbol not found: _clock_gettime""
### Describe the bug

Whenever I open GitHub Desktop on Macos, I get an error about:

"dyld: lazy symbol binding failed: Symbol not found: _clock_gettime
Referenced from: /Applications/GitHub Desktop.app/Contents/Resources/app/git/libexec/git-core/git-lfs
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not found: _clock_gettime
  Referenced from: /Applications/GitHub Desktop.app/Contents/R

[2021-09-07 14:07] niik commented on #12920
Hi @PyPublishing, thanks for opening this. This was reported in https://github.com/desktop/desktop/issues/12436 and unfortunately the only known workaround is to upgrade to a more recent OS (or possibly an xcode install see https://github.com/desktop/desktop/issues/12436#issuecomment-861700032). We're working on updating the docs to reflect this.

The problem is with the version of Git LFS that we

[2021-09-07 14:07] #12920 closed, assigned to nobody

[2021-09-07 14:14] PyPublishing commented on #12920
I do understand this.

But it is most unfortunate that the documentation clearly - or in this case wrongly? - claims GitHub Desktop to work from 10.10 onwards:

https://docs.github.com/en/desktop/installing-and-configuring-github-desktop/installing-and-authenticating-to-github-desktop/installing-github-desktop

<img width="761" alt="Bildschirmfoto 2021-09-07 um 16 10 26" src="https://user-images.g

[2021-09-07 14:14] niik commented on #12865
Looking at https://github.com/desktop/desktop/pull/12559 it sure seems like it would cover all similar dialogs so I'm going to close this for the time being. Feel free to create a new issue if there's a specific dialog that doesn't behave!

[2021-09-07 14:14] #12865 closed, assigned to nobody

[2021-09-07 14:17] PyPublishing opened #12921 "Documentation incorrectly states GitHub Desktop to work on macos 10.10 onwards."
Documentation incorrectly states GitHub Desktop to work on macos 10.10 onwards.

According to issues #12920 , #12436 and #12346 this is not the case anymore.

Correct at the time of writing would therefore be macos 10.12.

<img width="761" alt="Bildschirmfoto 2021-09-07 um 16 10 26" src="https://user-images.githubusercontent.com/88194470/132360495-78a04e4d-7bc6-481c-9251-b5dcc67527a1.png">

[2021-09-07 14:52] AnghelAndrei28 commented on #4872
None of the solutions above worked for me, but a full restart of the PC solved everything.

[2021-09-07 17:04] ghost commented on #12907
I'm trying to use it on the command line. The error that I normally get is "Public Key access denied". When I revert to HTTPS  it refuses to let me push stuff because it says I must ensure I have permission to the account.

[2021-09-07 17:07] steveward commented on #12907
@Houston-Khanyile I'd verify that the repository you are pushing to is one that you have access to. You can check the remote url of your local repository by running `git remote -v`.

If you're interested in using GitHub Desktop you can download it  at http://desktop.github.com. If you continue to have issues I'd recommend reaching out to [GitHub Support](https://support.github.com/). Since this is

[2021-09-07 17:07] #12907 closed, assigned to nobody

[2021-09-07 18:19] steveward commented on #11867
@BenChirlin just checking in to see if you are still encountering this issue in GitHub Desktop -- thanks!

[2021-09-07 19:01] #12878 closed, assigned to nobody

[2021-09-07 19:33] steveward commented on #1364
This shouldn't an issue anymore since we now show a warning if a commit will be misattributed. ✨

[2021-09-07 19:33] #1364 closed

[2021-09-07 20:14] xxmannuellxx commented on #8180
im having the same problem, and cant copy a repository from visual studio code neither....

[2021-09-07 21:45] BenChirlinn commented on #11867
It's definitely changed. Now it seems on most new boots I have to log into my account again. Because we're using github enterprise and require a VPN for connection I'm just going to close this for now. Too hard to know if this is a organization specific issue.

[2021-09-07 21:45] #11867 closed, assigned to nobody

[2021-09-08 02:18] prithvi2k2 commented on #8180
My problem was due to my environment, not github desktop site, My network firewall was blocking incoming connections from various sites, I tweaked it to get rid of all the problems.

And If you're talking about connecting an a local git repo with github desktop, it's simple, Click on add repository, and select path of your local git repo.

Note: I don't recommend using github desktop if you don't

[2021-09-08 05:35] Painadath opened #12924 "Please add a build for linux arm32(raspberry pi)"
### Describe the feature or problem you’d like to solve

I am using my pi 4 as a desktop and I want this desktop I tried to build but didn't worked

### Proposed solution

It will help all GitHub users having a pi

[2021-09-08 06:52] yunyunai opened #12925 "Kander"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-08 07:04] #12925 closed, assigned to nobody

[2021-09-08 07:34] niik commented on #12924
Hi @Painadath, issues related to the unofficial Linux fork of GitHub Desktop can be filed here:

https://github.com/shiftkey/desktop/issues

At this time we only officially provide support for macOS and Windows.

[2021-09-08 07:34] #12924 closed, assigned to nobody

[2021-09-08 09:05] Kherae commented on #4527
I am...sorely disappointed. Over three years and still unfixed says it is never going to get fixed, and this bug is a very big annoyance when working on some team projects.

[2021-09-08 10:17] #12881 closed, assigned to tidy-dev

[2021-09-08 11:31] riasaheli commented on #12916
[2021-09-08.desktop.production.log](https://github.com/desktop/desktop/files/7128492/2021-09-08.desktop.production.log)
Please find the attached logs

[2021-09-08 13:06] dmauro commented on #12862
Hey just coming in to say that I just have been operating under the presumption that GitHub simply couldn't do individual line commits because I had "hide whitespace changes" option enabled. PLEASE make this UI a little better. Perhaps when you try clicking in the gutters with that option enabled there is some way to provide feedback to the user that they need to disable that option to be able to

[2021-09-08 13:32] steveward commented on #12916
@riasaheli thanks for the log. Just to confirm, did you use the PAT you generated in GitHub Desktop when you saw the prompt for your username/password? Entering it in Visual Studio Code alone will not work since GitHub Desktop stores it separately.

[2021-09-08 13:59] steveward commented on #12770
@AnjaniGourisaria unfortunately it looks like this a specific issue with your connection. Do you have reliable upload speed? Are you able to try pushing on a different network to see if it succeeds?

[2021-09-08 14:08] steveward commented on #12786
@Clevin4958 based on your reply it sounds like you were able to get things working, so I am going to close this out. Let us know if you are still having issues.

[2021-09-08 14:08] #12786 closed, assigned to nobody

[2021-09-08 14:19] steveward commented on #12784
Generally we recommend installing [Git for Windows](https://git-scm.com/download/win) to use alongside GitHub Desktop since it provides the full suite of Git commands. Once you install it and add Git to your PATH you can also run commands in PowerShell/CMD/etc.

Nope!

[2021-09-08 15:55] steveward commented on #12702
@Aro1914 as we have not heard back from you I am going to close this out. Let me know if you are still encountering issues and we can investigate further.

[2021-09-08 15:55] #12702 closed, assigned to nobody

[2021-09-08 15:59] DuhallowGreyGeek commented on #12784
Hi @steveward  I've re-installed git. And git-bash.
Following that I ran the command to start the agent. That worked and returned a pid.
Then I ran the command to add the key. That asked for a passphrase which I supplied and then responded "identity added".
Then I ran the ssh command to connect to git. That failed as before.
record of what happened below:

[code]
What now?

[2021-09-08 16:09] shubhamkunte9 opened #12926 "max"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-08 16:30] #12926 closed, assigned to nobody

[2021-09-08 17:22] Aro1914 commented on #12702
Thanks Steve Ward, I had forgotten to close the issue. I had to delete the
repo, create a BitBucket account, upload the project, then clone it to a
new GitHub repo I created with the same name as the previous repo.

On Wed, Sep 8, 2021, 4:56 PM Steve Ward ***@***.***> wrote:

[2021-09-08 17:37] steveward commented on #12563
@brt-han-mai just to confirm --  are seeing these line ending changes in both GitHub Desktop and Git Bash?

[2021-09-08 18:19] dfeinzimer opened #12927 "Easy reuse of previous commit "Summary" & "Description" strings"
### Describe the feature or problem you’d like to solve

It's hard to reuse recent commit "Summary" & "Description" strings. This is especially painful for someone who uses sequential or patterned messages like myself.

SmartSVN for macOS makes this easy with a simple dropdown of recent strings.

### Proposed solution

Implement this by either or both of the following.

1. Adding a dropdown like S

[2021-09-08 19:05] steveward commented on #12826
@adludum99 based on that screenshot it looks like the main window returned -- is the issue now that the theme is not changing correctly?

[2021-09-08 19:58] Dudujd opened #12929 "Should I Boot!.¿"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-08 19:58] Dudujd commented on #12929
Should I boot

[2021-09-08 21:04] #12929 closed, assigned to nobody

[2021-09-09 00:26] peashutop opened #12930 "Connect to codespace repositories"
### Describe the feature or problem you’d like to solve

Allow GitHub Desktop to manage git workflows where the "local" copy of files is being edited in a GitHub codespace.

### Proposed solution

[Codespaces](https://github.com/features/codespaces) make life better for software engineers. But they can also reduce the barrier to entry for occasional coders or non-technical contributors to a reposi

[2021-09-09 00:59] ghost commented on #12826
what I'm saying is that it doesn't matter which theme I choose, after restarting the app the main window is still whitethe way it isI pick light theme, restart the app, the main window is whiteI pick dark theme, restart the app, the main window is whiteI pick system theme, restart the app, the main window is white if Windows high contrast theme is Onthe way it should beI pick light theme, restart

[2021-09-09 01:12] brt-han-mai commented on #12563
I stopped using the GitHub Desktop. Sorry and Thanks.

[2021-09-09 05:34] fzou opened #12931 "[Bug] Incorrect merge for non-text files (detailed error reproducing steps and screenshots added)"
### Describe the bug
The error occurs when merging a forked branch F into a master branch M and a non-text binary file (such as an Excel file) is involved.  It happens very often that all other text files in F would be committed into M after the merge, the non-text binary file would not be updated in M.

It looks like because GitHub Desktop could not do a proper comparison of non-text binary file,

[2021-09-09 06:12] penguinawesome opened #12932 "Deleted branch in the remote & unused branch in local doesn't get remove after 14 days"
Version 2.9.3 (x64) - Windows 10

We are seeing a lot of deleted branch in the remote on our github desktop client and these branches are unused already (meaning we didn't select for a long time and no commits on the local machine), i read somewhere that github desktop auto delete it after 14 days or is there a settings that we need to set? We want to auto delete these branches

![image](https://u

[2021-09-09 09:13] kevinjm39 opened #12933 "gh pr checkout 12922"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-09 09:35] tordans opened #12934 "Renaming a branch "looses" (hides) stash"
### Describe the bug

1. Create a branch name "test-branch"
2. Stash changes
    `stash@{0}: On test-branch: !!GitHub_Desktop<test-branch>`
   => Stash is visible in Github Desktop
3. Rename branch with shortcut cmd+shift+r to "stash-hidden"
   => **Stash is hidden in Github Desktop**
   `git stash list` shows it with the old branch name.

Possible solutions / Ideas

* On the rename panel and if a

[2021-09-09 09:42] niik commented on #12932
Hi @firephantomassasin, thanks for opening this. You're right that GitHub Desktop prunes merged branches where the remote branch no longer exists. The logic is fairly well explained in https://github.com/desktop/desktop/blob/ac3cfab2762f0b94c6f5184c5dc3dcb8e6eb13b7/app/src/lib/stores/helpers/branch-pruner.ts#L130-L249

In short, we attempt to prune branches that meet all the following criteria

-

[2021-09-09 10:01] tidy-dev commented on #12931
@fzou Thank you for your bug report! Unfortunately, I was unable to reproduce this.  Do you think you could provide a quick video demonstrating so I might be able to see what I am doing differently?

[2021-09-09 10:02] #12933 closed, assigned to nobody

[2021-09-09 10:31] penguinawesome commented on #12932
These branches have been merged under our "dev" branch since our stable development branch is named as "dev", our master acts as more stable and production ready branch. So all these branches in the screenshots have been merged already with our dev branch and has been removed already from the remote branch.

We are using azure devops git as our remote code repository.

[2021-09-09 11:34] ItsEnrique commented on #7993
Huge Help! Thanks!

[2021-09-09 12:35] niik commented on #12932
Then that's likely the culprit here. GitHub Desktop needs to take a pretty conservative approach when it comes to pruning local branches so we want to make sure that the branches have been merged into the default branch (which, if I understand correctly, would be `master` for you).

So the good news is that once the changes make their way from `dev` to `master` those branches should start to get c

[2021-09-09 12:38] niik commented on #12820
Given that we already do apply the `--ignore-cr-at-eol` parameter (through our use of `-w`) it seems the proposed solution here isn't going to cut it for your use case so I'm going to close this issue but please let us know if you come up with an alternative approach.

[2021-09-09 12:38] #12820 closed, assigned to nobody

[2021-09-09 13:30] steveward commented on #12934
Thanks for the issue @tordans. This was an issue that was reported with our initial stash implementation (https://github.com/desktop/desktop/issues/7283), but GitHub Desktop does show a warning when you rename a branch with a stash (https://github.com/desktop/desktop/pull/7539):

<img width="602" alt="Screen Shot 2021-09-09 at 9 22 25 AM" src="https://user-images.githubusercontent.com/721500/13269

[2021-09-09 13:37] fzou commented on #12931
Thanks @tidy-dev for looking at the issue!

Sorry that I am not sure of an easy way to make a video, but I took some screenshots, and I've also created a public demo repo, so hope that could help.

The public repo is at
https://github.com/fzou/MergeTest1

So below was what I did to reproduce the issue, and you can track all the timeline in the MergeTest1 repo as well:

I created this repo MergeTes

[2021-09-09 13:39] steveward commented on #12826
Thanks for the clarification. Could you try performing a completely fresh installation of GitHub Desktop by following these steps?

1. Close GitHub Desktop
2. Open File Explorer
3. Go to `%LocalAppData%` and delete the `GitHubDesktop` directory
4. Go to `%AppData%` and delete the `GitHub Desktop` directory
5. Reinstall GitHub Desktop from http://desktop.github.com

Let me know if that helps.

[2021-09-09 14:01] tordans commented on #12934
@steveward you are right, the warning is already there 👍 .

I tested for this while writing the bug description but my test case was flawed 🙄 .

Thanks for taking the time to look into this. I will close the issue since any further improvement will likely be best consolidated with allowing multiple stashes at some point (or never ;)).

[2021-09-09 14:01] #12934 closed, assigned to nobody

[2021-09-09 14:44] jaak072 opened #12936 "bug"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-09 14:49] steveward commented on #12936
Thanks for reaching out @jaak072!

Would you mind filling out the rest of the issue template so that we can better understand what is causing the problem you are experiencing? Without that information it will be difficult to help you further. It would especially be helpful if you could upload the log file from GitHub Desktop, which will give more details about the specific error you are seeing.

T

[2021-09-09 15:19] #12563 closed, assigned to nobody

[2021-09-09 15:44] riasaheli commented on #12916
yes i entered my username and PAT in the github desktop when authentication popup window appear.

[2021-09-09 15:49] ph0tic opened #12937 "Allow github desktop to trampoline for git cli, not just itself (?)"
### Describe the feature or problem you’d like to solve
This is actually more of a question:

(with regards to https repos and _not_  ssh) This may be a HORRIBLE idea and really really bad, allow github CLI to use the GH Desktop trampoline. My employer has a GHent setup and uses a SSO/mfa solution which Github Desktop Successfully works with. From what I understand for the trampoline solution, Git

[2021-09-09 15:53] hleuenbe opened #12938 "new bug"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-09 16:03] steveward commented on #12938
Thanks for reaching out @hleuenbe!

Would you mind filling out the rest of the issue template so that we can better understand what is causing the problem you are experiencing? Without that information it will be difficult to help you further. It would especially be helpful if you could upload the log file from GitHub Desktop, which will give more details about the specific error you are seeing.

[2021-09-09 16:03] #12938 closed, assigned to nobody

[2021-09-09 18:58] steveward commented on #12562
@ImRodry thanks for reporting this. GitHub Desktop ships with an internal version of Git which we use for all actions inside the app. As such the environment within which your commit hooks execute will likely not exactly match that of your normal environment.

You can take a look at  https://github.com/desktop/desktop/issues/9351 and see if the workaround in https://github.com/desktop/desktop/issu

[2021-09-09 19:14] ImRodry commented on #12562
@steveward thanks for the response. I tried all of the suggestions you linked (some didn't apply to my scenario though) and none worked nor did they produce a different kind of error. The error is still the same as the one I attached in the initial message :/

[2021-09-09 21:32] Asvsmadhav opened #12939 "PAT"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-09 21:33] Asvsmadhav commented on #12939
Helpme

[2021-09-09 22:18] Mei-ling127 opened #12940 "Undelete a file changed"

[2021-09-09 22:18] #12940 closed, assigned to nobody

[2021-09-10 02:18] brt-han-mai commented on #12563
If I don't use GitHub Desktop, the issue does not happen.
If I use GitHub Desktop, the issue happens. If I open the repo by VS Code and check the ```git status```, all files are changed (red color), it means issue happens. In the File Browse Pane of the VS Code, all files are red, it means issue happens.

As I said before, it seems that GitHub Desktop somehow changes the LF line ending to CRLF lin

[2021-09-10 08:11] Kayda1218 opened #12941 "Desktop"

[2021-09-10 08:54] abelardovn opened #12942 "Double click shows the full content of files"
### Describe the feature or problem you’d like to solve
When I git pull, several commits are showed under "History" tab. When I click on any commit, changed files are showed. I would like to see its full content when I double-click on those files.

### Proposed solution
To show the entire content of any file when I double click on it.

[2021-09-10 09:08] #12941 closed

[2021-09-10 10:27] richardsalt commented on #3839
Same issue as @Rauschii and others above for me in GitHub Desktop v2.9.3 (x64)

"Can't find repository matching {myorg}/{myrepo}.wiki.git"

And yet I can clone using command line git using the same.

[2021-09-10 10:44] niik commented on #12921
Hey @PyPublishing, thanks for opening this. We updated the minimum OS version in https://github.com/github/docs/pull/9870.

Note that the changes should appear on the site within approximately 24 hours.

[2021-09-10 10:44] #12921 closed, assigned to nobody

[2021-09-10 10:54] tidy-dev commented on #12939
Thanks for reaching out @Asvsmadhav!

Would you mind filling out the rest of the issue template so that we can better understand what is causing the problem you are experiencing? Without that information it will be difficult to help you further. It would especially be helpful if you could upload the log file from GitHub Desktop, which will give more details about the specific error you are seeing.

[2021-09-10 11:09] Asvsmadhav commented on #12939
Dear tidy-dev,
Here is a PAT#12939
THESE ARE THE LOG FILES

On Fri, 10 Sept 2021 at 16:25, tidy-dev ***@***.***> wrote:

[2021-09-10 11:36] ekeege commented on #8698
Is there any progress for this issue? 👀

[2021-09-10 11:48] Asvsmadhav commented on #8698
Process done thankyou

On Fri, Sep 10, 2021, 5:07 PM Ege Eke ***@***.***> wrote:

[2021-09-10 16:21] ittaibaratz opened #12943 "GitHub Desktop forgets the GitHub Enterprise server URL"
### Describe the bug
Our GitHub Enterprise server is behind the company firewall and only accessible via VPN.

With the recent versions of GH Desktop (Since 2-3 weeks ago approx), every time I log off of VPN, GH desktop forgets my enterprise URL and I have to type it again.

While its expected that GH won't be able to communicate with the enterprise server when its not accessible, having to manual

[2021-09-10 16:56] #12939 closed, assigned to nobody

[2021-09-10 20:28] steveward commented on #12943
Thanks for the issue @ittaibaratz. It looks like the issue is your token is becoming invalid and returning a 401, which is triggering the authentication flow again:

[code]

This behavior is the result of improvements that were made in https://github.com/desktop/desktop/pull/12554 where the app now detects authentication errors and prompts you to authenticate again.

Is there anything in your netw

[2021-09-10 20:45] ittaibaratz commented on #12943
@steveward thanks a lot for the prompt response to this issue!

Looking at the developer tools, I can see this request returns 401:
`https://git.corp.adobe.com/api/v3/repos/<MY REPO AND ORG>/branches/help-center-react-intl/push_control`

The body of the response is:
[code]

I believe I have a certificate installed in the browser that allows access to GH Enterprise outside of the VPN, but GH deskto

[2021-09-10 20:53] billygriffin commented on #11598
Hi folks, I'm going to close this for now as something we don't intend to support. We'll continue to monitor feedback as we go and likely do a more holistic look at the repo switcher down the road, but we're not going to add a toggle at this point to turn off the recent repos list. If you haven't yet weighed in here, please feel free to continue to share feedback that's different from what others

[2021-09-10 20:53] #11598 closed, assigned to nobody

[2021-09-10 20:57] billygriffin commented on #3480
Hi folks, we explored this and discussed in depth, and ultimately decided that supporting blobless clones may be more appropriate if we were going to pursue this to help solve the problem here about metered connections. However, there's a ton of complexity relating to the commit history that we don't have good answers for, and unfortunately the downsides seem to outweigh the upsides of supporting

[2021-09-10 20:57] #3480 closed

[2021-09-10 21:42] polachatrakinas opened #12945 "Adicionar link do youtube"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-11 00:06] herboren opened #12946 "Visual Studio Community Integration Needed"
Feature needed to be implemented
Integration provides no feature for visual studio community as an editor.

Windows 10

![image](https://user-images.githubusercontent.com/987794/132929139-d572b52b-d22c-4e20-9f41-d5d50a80b782.png)

[2021-09-11 14:43] 2210655640 opened #12948 "why I can't commit success"
![image](https://user-images.githubusercontent.com/45776861/132951595-a0a240be-e517-4353-b112-56e2802e4f52.png)

[2021-09-11 21:02] BellCubeDev opened #12949 "Removing Files via Switching Branches Leaves Empty Directories"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Version 2.9.3 (x64)
Windows 10 21H1 (build 19043.1165)
Windows Feature Experience Pack 120.2212.3530.0

### Steps to reproduce the behavior

1. Create a basic repo with some files in multiple folder trees
2. Create a branch, then remove all files from some directories
3. Switch to branch in GitHub Des

[2021-09-12 10:11] MichaIng commented on #10445
Same here, discarding changes on a large repository takes much too long when a simple `git reset --hard` would do it. I would even suggest to make this the default: Git doesn't have a trash bin. A simple checkbox like shown above when removing a repository should however be pretty fine.

[2021-09-12 10:48] igroglaz commented on #1543
Folks, this is highly needed function.. Without it I had to switch to other Git GUI.

[2021-09-12 18:37] #12945 closed, assigned to nobody

[2021-09-13 03:20] mcneal20011 opened #12950 "gitdeskon"

[2021-09-13 03:20] #12950 closed, assigned to nobody

[2021-09-13 06:03] niik commented on #12948
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-09-13 06:03] #12948 closed, assigned to nobody

[2021-09-13 06:10] niik commented on #12949
Hi @BellCubeDev, thanks for opening this

I understand why you'd expect that but in this case GitHub Desktop is following the behavior of Git. Git doesn't care about directories (simplified), only files. That's why you see various methods to include "empty" directories such as [adding a .gitkeep](https://www.theserverside.com/blog/Coffee-Talk-Java-News-Stories-and-Opinions/gitkeep-push-empty-folde

[2021-09-13 06:10] #12949 closed, assigned to nobody

[2021-09-13 06:28] niik commented on #12936
Thank you for your issue!

We haven't gotten a response to our questions.
With only the information that is currently in the issue, we don't have enough
information to take action. I'm going to close this but don't hesitate to reach
out if you have or find the answers we need, we'll be happy to reopen the
issue.

[2021-09-13 06:28] #12936 closed, assigned to nobody

[2021-09-13 08:14] Nicknaem commented on #9644
I totally agree

[2021-09-13 08:45] niik commented on #12946
Hi @herboren, thanks for opening this. We'd be happy to add support for Visual Studio Community Edition. Is this something you would like to contribute?

Please see [our documentation on adding editors](https://github.com/desktop/desktop/blob/development/docs/technical/editor-integration.md) for more details on how to go about doing that.

Given that we haven't had support for VS "classic" before

[2021-09-13 08:52] niik commented on #12937
Hi @ph0tic, thanks for opening this. Your analysis of how our trampoline works is spot on. Unfortunately extending support to other applications is complicated by the fact that each trampoline invocation is performed with a secret token generated just in time by the desktop executable to prevent other network capable applications on the machine from getting hold of the secrets.

Even if we were to

[2021-09-13 08:52] #12937 closed, assigned to nobody

[2021-09-13 09:42] hayley-webelite commented on #11410
I had a similar problem but when i changed my default browser to Microsoft edge it worked.
Thanks for your help guys

[2021-09-13 11:20] niik commented on #12942
Hi @abelardovn, assuming you mean showing the entire content of the file _within GitHub Desktop_ you can do that by right clicking on the diff and selecting "Expand Whole File".

![image](https://user-images.githubusercontent.com/634063/133074446-bfb0b39b-50d8-4c58-8459-59996cd3cae4.png)

If you instead mean to open the file in an external editor that's been discussed in https://github.com/desktop

[2021-09-13 11:20] #12942 closed, assigned to nobody

[2021-09-13 13:52] Balkoth commented on #4371
Try running the installer (msi or exe does not matter) in an environment where AppLocker is active. You just can't get it installed even with admin rights on the target machine, as it extracts the contents to some weird folder in appdata where it runs "update.exe" with normal rights. This is just stupid.

[2021-09-13 13:57] tlvdchaitanya opened #12953 "unable to clone"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-13 15:08] steveward commented on #12953
Thanks for reaching out @tlvdchaitanya !

Would you mind filling out the rest of the issue template so that we can better understand what is causing the problem you are experiencing? Without that information it will be difficult to help you further. It would especially be helpful if you could upload the log file from GitHub Desktop, which will give more details about the specific error you are see

[2021-09-13 17:46] steveward commented on #12943
Thanks for checking that @ittaibaratz. I'm going to ping @sergiou87 on this to see if there's a way we can handle these types of scenarios since it's definitely painful to have to authenticate again each time you reconnect to a VPN.

[2021-09-13 20:30] AllanRobertson commented on #5487
github.com is not able to diff nor (easily) display unicode files.
They are treated as binary files. If it is possible to get GitHub Desktop to work, then what is preventing github.com from displaying unicoded?

[2021-09-13 22:01] raginpirate commented on #10687
👋  Any updates on this issue?

A few thoughts on this topic:

- I think the UX on the disable option in settings is misleading. Usage of the term "all repositories" is not true when it is still fetching the current repository.
- When working with VMs, it is incredibly annoying having my master branch get updated when my feature branch is behind as I swap between them. This forces me to either reba

[2021-09-14 01:11] Petrstrike84 opened #12954 "Dkndm"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-14 06:07] #12954 closed, assigned to nobody

[2021-09-14 06:22] yakovmanshin opened #12955 "Multi-Window Support"
### Describe the feature or problem you’d like to solve

It’d be great to have GitHub Desktop support multiple windows, so repositories could be opened simultaneously and placed in different spaces (virtual desktops).

### Proposed solution

Enable support for multiple app windows.

Users working on multiple projects at once will no longer need to move the GitHub Desktop window from one space to a

[2021-09-14 07:48] niik commented on #12955
Hey, thanks for reaching out! This looks very similar to the request in https://github.com/desktop/desktop/issues/3606 so I'm going to close this issue in favor of that. Please subscribe to it to stay up to date with any development happening in that area.

By cross-referencing in this comment we can associate your request with #3606 but you may also add a 👍 reaction to that issue to signal your i

[2021-09-14 07:48] #12955 closed, assigned to nobody

[2021-09-14 07:58] Asvsmadhav commented on #12955
😶

[2021-09-14 08:09] niik commented on #12930
Hi @peashutop, thanks for opening this. Integration with codespaces and what that would look line is something we're thinking about but at this time we can't say when or if we'd be able to prioritize that work.

Issues like this and detailed use case description like yours are incredibly helpful though! ❤️

Other users interested in this feature should signal their interest with a 👍 reaction and w

[2021-09-14 08:10] L016687 opened #12956 "Facing error while publishing the cloned Repo"
Hi Team,

I am facing an issue on the Git hub desktop while publishing the Cloned Repo ,
the error is :
"The repository does not seem to exist anymore. You may not have access, or it may have been deleted or renamed."
please help me to resolve the issue .
![git error](https://user-images.githubusercontent.com/89831960/133220566-f61d74c8-aefd-4b2b-9c16-d5474f94ace6.PNG)

[2021-09-14 08:12] niik commented on #12956
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

The screenshot and information you posted doesn't contain enough informa

[2021-09-14 08:13] Asvsmadhav commented on #12956
****🔰😶

[2021-09-14 11:26] herboren commented on #12946
I don't mind trying to get it to work. Is there some way to validate on my side if this works. I have already modified the code and on a fork, but have no way to compile or run the changes. I don't want to push the commit if I can't debug somehow 🤔

[2021-09-14 13:14] #12911 closed, assigned to nobody

[2021-09-14 14:12] niik commented on #12946
Hey @herboren, please check out our documentation on how to [set up a development environment](https://github.com/desktop/desktop/blob/development/docs/contributing/setup.md) in order to be able to test your changes locally

[2021-09-14 14:50] steveward commented on #12916
@riasaheli can you verify you are following [these steps](https://github.com/desktop/desktop/blob/development/docs/integrations/azure-devops.md) exactly? I would recommend going into Credential Manager as well and checking the `Windows Credential` section to see if there is a `GitHub - ` token there for your Azure DevOps account.

[2021-09-14 18:12] JamesCatt opened #12958 "Cannot remove upstream repo"
### Describe the bug
After adding a repo (from Github Enterprise) that has been forked from an upstream repo, it seems to be not possible to remove the upstream from Github desktop (the upstream repo has since been deleted). There's no option for setting it in the menus, and removing it via command line (`git remote rm upstream`) only works until Github Desktop is restarted—then the upstream is re

[2021-09-14 19:56] steveward commented on #12958
Thanks for the report @JamesCatt. This is being tracked in https://github.com/desktop/desktop/issues/3715, I'll bump up that issue with a reference to this.

[2021-09-14 19:56] #12958 closed, assigned to nobody

[2021-09-14 19:56] steveward commented on #3715
Reported in https://github.com/desktop/desktop/issues/12958.

[2021-09-14 22:57] mike-copley-atg opened #12959 "Desktop app is not recognizing new GitHub PAT format"
### Describe the bug
When generating a new personal access token for use with GitHub desktop, the app does not recognize the token and fails to authenticate with the GitHub service.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Sc

[2021-09-15 01:03] JamesCatt commented on #3715
@shiftkey I think that's really the big issue here. Having the upstream be inaccessible for whatever reason is a bit of an edge case, and can easily be worked around by removing it via command line—except that Desktop keeps re-adding it.

In my case I ran into this because the upstream repo was actually deleted and now I have to go through this workaround every time I launch Desktop.

[2021-09-15 02:46] steveward commented on #12959
@mike-copley-atg thanks for the issue. You don't need to generate an access token to log in to GitHub Desktop. You can go to the `Accounts` view in the Preferences and log in via the browser flow. Let me know if you run into any issues.

[2021-09-15 02:46] #12959 closed, assigned to nobody

[2021-09-15 05:53] chetanism commented on #12730
+1
![Screenshot 2021-09-15 at 11 17 39 AM](https://user-images.githubusercontent.com/2418542/133377705-97bb3eb3-7e36-4286-b20e-499bca6c9c51.png)

My project is divided into different modules ui, api etc. Each commit needs to have changes to a single module. It would be so much easier to just select my module directory to commit instead of deselecting everything and then selecting each file in the

[2021-09-15 07:59] niik commented on #12730
Hey @maxkoshevoi, sorry for not responding sooner. As you've already noted there's a previous issue for this request so I'm going to close this in favor of the original. That an issue is closed does not mean we won't re-evaluate at a later date, just that we're not prioritizing the feature at this time. Please give the original issue a 👍 reaction and read through the precious comments to see if yo

[2021-09-15 07:59] #12730 closed, assigned to nobody

[2021-09-15 08:22] chetanism commented on #12730
Sure @niik I'll do that. Thanks for taking a note here!

[2021-09-15 08:24] chetanism commented on #2417
Reposting my comment from #12730

+1
![Screenshot 2021-09-15 at 11 17 39 AM](https://user-images.githubusercontent.com/2418542/133397720-f833e7b4-d03c-4a13-bf91-574d1666f0ac.png)

My project is divided into different modules ui, api etc. Each commit needs to have changes to a single module. It would be so much easier to just select my module directory to commit instead of deselecting everything an

[2021-09-15 09:31] meena-erian commented on #10326
I had the same problem and it turns out it was because of a pre-commit script.

In case you're having the same problem, you can either commit from the command line while skipping the pre-commit script
`git commit -m "fixed something" --no-verify`

or if you don't need the pre-commit script, you can delete the file `YourRepository/.git/hooks/pre-commit`

[2021-09-15 09:35] AbdullahAljojo commented on #4872
Me Too

[2021-09-15 12:47] callumgarven commented on #9453
For whoever picks this up, a repository I found which implements a phpstorm:// URI protocol has some quite interesting code for detecting JetBrains IDEs, see permalink below:

https://github.com/aik099/PhpStormProtocol/blob/ed849d80ab925a787b9c547191698c3d206f5c35/PhpStorm%20Protocol%20(Win)/run_editor.js

Around L66 onwards.

Could be useful for reference.

[2021-09-15 13:13] niik commented on #9453
I believe this can be considered fixed as of https://github.com/desktop/desktop/pull/12778. I'm going to close this but feel free to comment if you think there are missing pieces even after #12778 and we'll reopen.

[2021-09-15 13:13] #9453 closed

[2021-09-15 14:48] #12770 closed, assigned to nobody

[2021-09-15 15:53] mike-copley-atg commented on #12959
Thank you Steve for that helpful tip.  I was not aware of that preference. I am now working again.

Michael Copley
Senior Software Engineer
Microsoft Gaming Developer Advanced Technology Group

From: Steve Ward ***@***.***>
Sent: Tuesday, September 14, 2021 7:46 PM
To: desktop/desktop ***@***.***>
Cc: Michael Copley ***@***.***>; Mention ***@***.***>
Subject: Re: [desktop/desktop] Desktop app is n

[2021-09-15 19:15] steveward commented on #12891
@DuncanSourdin I'm going to close this out, but let us know if you run into it again and we can dig into it further.

[2021-09-15 19:15] #12891 closed, assigned to nobody

[2021-09-15 21:03] RedDevilus opened #12961 "[Feature Request] Override / Switch between an already same-named branch from fork to upstream"
### Describe the feature or problem you’d like to solve

The ability to change from local/master such as RedDevilus/desktop and upstream/master such as desktop/desktop
![image](https://user-images.githubusercontent.com/24227051/133508620-dbddb149-ec5f-4281-945d-4e141d77c4bb.png)

### Proposed solution

Easily switch between local changes and easy fetched upstream/master commits
![image](https://us

[2021-09-15 21:14] steveward commented on #12853
@gemal I did some testing and was able to reproduce this issue. Can you confirm if you are working in a repository that is a fork?

It looks like this specifically happens when checking out a PR that was created from a fork. We previously had a bug around this (but not specific to forks) that was addressed in https://github.com/desktop/desktop/issues/12215.

Testing steps:

- I tested the checkout

[2021-09-15 21:16] steveward commented on #12961
Thanks for the issue @RedDevilus, this is being tracked in https://github.com/desktop/desktop/issues/4527. You can follow along there for updates about this.

[2021-09-15 21:16] #12961 closed, assigned to nobody

[2021-09-15 23:49] SugarD-x commented on #9604
I'm not sure if this is of much help for research, but I received this error after a system crash while GitHub Desktop was open. Upon restarting the computer, (and the application), the message popped up. My best guess is some kind of corruption in the program's searching of the file path is at fault.

[2021-09-15 23:50] Chris-Petty commented on #12862
This has bothered me for what feels like months, wasn't sure why it was happening. I've been hiding whitespace changes since around the feature was introduced. Started looking at alternative products because of it! Colleague found this relatively low flying issue thankfully.

I agree with this guy. I've clicked many times on the gutter hoping it'd work, never hovered. Aaand this is the same as OPs

[2021-09-15 23:54] DhanyaHerath commented on #12862
+1 on this! I've been listening to my coworker complain about this for weeks because he assumed it was a regression - I started googling just to make it stop 😅  Single select is super cool so it would be sad to see people not realise it's here!

[2021-09-16 05:52] kdsinghapp commented on #4872
I did this:
first I ran this command as it is(Here, I did not changed usename and password and used it as it is):
[code]
then I ran these two commands:
[code]

[2021-09-16 05:57] mufaddalhamidofficial commented on #4872
I did this:
first I ran this command as it is(Here, I did not changed usename and password and used it as it is):
[code]
then I ran these two commands:
[code]

[2021-09-16 07:40] thinkyhead opened #12962 "View not refreshing when active file changes"
### Describe the bug
- The "diff" view is not refreshing when the file being displayed is altered on disk.
- The "diff" view is not refreshing after selected (cherry-picked) lines are committed.

### Version & OS

2.9.4-beta2 (arm64) on macOS 11.6

### Steps to reproduce the behavior

1. Select a file so it appears in the "diff" view.
2. Go to another app, edit, and save changes.
3. Return to GitH

[2021-09-16 08:19] gitlcl opened #12963 "Please separate fetch origin and push origin to 2 buttons"
### Describe the feature or problem you’d like to solve

Currently 【 fetch origin 】button auto switch between【  fetch origin 】and 【push origin 】 buttons ,which may leads to mistake  operation.
For example , I made some draft commits then i want to fetch the latest status of origin  to see if there any update, but that button has  auto changed to 【 push origin 】and i didn't notice that, then my cli

[2021-09-16 09:09] FelipeSchneider commented on #5468
I also would like to have this back... I've been using SourceTree for a while, but with the recent changes in Github security policies it became pretty hard to work with external apps

[2021-09-16 09:22] sergiou87 commented on #12943
Thank you both for looking into this! I will investigate if there is a nice way to tell apart these 401 and not prompt to re-login in that case 😄

Sorry for all the trouble @ittaibaratz!!

[2021-09-16 10:15] sergiou87 commented on #12943
@ittaibaratz could you please follow the steps @steveward mentioned above to look at the headers of the 401 response and see if you can find these starting with `x-github-`? I'm hoping you **cannot** see any of them 🤞

![image](https://user-images.githubusercontent.com/1083228/133594692-778583c8-f9bd-4db5-8f94-cdbb621cf6d3.png)

[2021-09-16 10:39] niik commented on #12962
Thank you for reporting this @thinkyhead, I've confirmed the problem and I'll open a PR to address it in a minute!

[2021-09-16 10:54] niik commented on #10858
Hey @niclasmattsson, just happened to stumble upon this issue today and I'm happy to say that this was added in https://github.com/desktop/desktop/pull/12160 which shipped in 2.9.0!

Thanks for your hard work writing up this issue!

[2021-09-16 10:54] #10858 closed

[2021-09-16 11:01] niik commented on #12963
Hey, thanks for reaching out! This looks very similar to the request in #10444 so I'm going to close this issue in favor of that. Please subscribe to it to stay up to date with any development happening in that area.

[2021-09-16 11:01] #12963 closed, assigned to nobody

[2021-09-16 14:15] jnettels commented on #1633
I do not use GitHub Desktop myself, but recommended it to some new users because I thought it would be more approachable than the command line. Then I had multiple incidents where these users thought they had lost data - because of the "magic stashing". Once we found the stash everything was fine, but they (obviously) had no idea what a stash was and how they could retrieve the data. In my opinion

[2021-09-16 14:41] #12962 closed, assigned to niik

[2021-09-16 14:42] cubbie commented on #8183
I would love the ability to pin/star. I work with 3 repos consistently but often have to access 10+... recently used doesn't benefit me

[2021-09-16 14:48] #12943 closed, assigned to nobody

[2021-09-16 15:34] ittaibaratz commented on #12943
@sergiou87 - Confirmed! No GH headers whatsoever. Looking forward to testing your fix. Thanks so much for getting this resolved so quickly.

[2021-09-16 18:10] maifeeulasad opened #12967 "Changing commit message from history"
### Describe the feature or problem you’d like to solve

Changing commit message from history.

### Proposed solution

Accidentally, pushed with some commit message? Need to rename them. It will be easier to do so, from the favorite GitHub Desktop. May require `--force` push like popup.

### Additional context

Something like this: https://stackoverflow.com/a/41987851/10305444

[2021-09-16 18:22] steveward commented on #12967
Thanks for the issue @maifeeulasad. You can amend the most recent commit in your repository -- see the [documentation](https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/amending-a-commit) for how to do that.

At this time this is not on our roadmap to provide an interactive rebase that would allow you to change commit messages further back in y

[2021-09-16 18:22] #12967 closed, assigned to nobody

[2021-09-16 21:19] agarny commented on #1633
I imagine this is never going to happen and thank god for that. I hate it when I install a piece of software and the first thing I have to do is to turn some "basic" features. I can't remember, but doesn't GH Desktop pops up a message when magic stashing is first triggered? If not then this is the behaviour I would probably go for.

[2021-09-16 23:29] thequangpri opened #12968 "Hack"
Ggh

[2021-09-16 23:32] thinkyhead commented on #12962
Thanks! In my own playing around with Electron (VSCode plugin) I use a file watcher so the plugin gets a notification on file or folder change, and this is better than just refreshing when focus goes away and returns, because it still works in the background. Better for situations where apps are open side-by-side.

[2021-09-16 23:49] #12968 closed, assigned to nobody

[2021-09-17 01:10] Slips-PC opened #12971 "No such interface “org.freedesktop.Secret.Collection” on object at path /org/freedesktop/secrets/collection/login"
### Describe the bug
Attempting to sign in to my GitHub account via the desktop app provides the above error and prevents me from accessing a variety of options in the taskbar.

### Version & OS
Version 2.9.3-Linux1
OS: Arch Linux

### Steps to reproduce the behavior
1: Click Options
2: Click "Sign In" on the Accounts > Github.com tab.
### Expected behavior

It would open a link in Firefox, which

[2021-09-17 01:55] Alexocool opened #12973 "TT"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-17 01:56] Alexocool commented on #12973
https://guides.github.com/features/mastering-markdown/

[2021-09-17 01:56] #12973 closed, assigned to nobody

[2021-09-17 02:40] RedDevilus opened #12974 "[Feature Request] Add spacing/tabs in split diff view"
### Describe the feature or problem you’d like to solve

I want to be able to see the spacing/tabs when i view commits.

Right now i can't see how much spaces or if there is even tabs used:
![image](https://user-images.githubusercontent.com/24227051/133715375-8301cb19-9765-47da-8779-050d78ebb53e.png)

### Proposed solution
Add this with a toggleable-option in this menu:
![image](https://user-image

[2021-09-17 04:48] deb1992 opened #12975 "Older app versions stays in the hard drive instead of getting deleted after update."
### Describe the bug
Older app versions stays in the hard drive instead of getting deleted after update.

### Version & OS

Windows 10 64 bit - Pro. Github version 2.9.3

### Steps to reproduce the behavior

1. Go to 'C:\Users\<username>\AppData\Local\GitHubDesktop'
2. check after update, you will find teh older version folder still present not deleted. It will keep consuming my SSD space.

### Ex

[2021-09-17 05:32] niik commented on #12971
Hi @Slips-PC, issues related to the unofficial Linux fork of GitHub Desktop can be filed here:

https://github.com/shiftkey/desktop/issues

At this time we only officially provide support for macOS and Windows.

[2021-09-17 05:32] #12971 closed, assigned to nobody

[2021-09-17 05:39] niik commented on #12975
Hi @deb1992, thanks for opening this. This is a result of how the auto-update framework on Windows works, see https://github.com/Squirrel/Squirrel.Windows/issues/589#issuecomment-180075676

GitHub Desktop doesn't have control over Squirrel.Windows so while I imagine there's good reason for why it's storing the last version you could file an issue with Squirrel.Windows or possibly Electron if you b

[2021-09-17 05:39] #12975 closed, assigned to nobody

[2021-09-17 07:04] gemal commented on #12853
yes I confirm

[2021-09-17 10:05] michaelhart commented on #3410
Removing this app from my workflow because gross mandatory automatic updates does not work for me.

[2021-09-17 12:05] haykam821 commented on #4544
There is now a high contrast theme, but it is not automatically enabled by the system preference.

[2021-09-17 12:07] haykam821 opened #12976 "Dialog animations are bouncy when the user prefers reduced motion"
By default, dialogs appear and disappear with a slight bounce. This is not affected by the user's reduced motion preference.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

- **GitHub Desktop:** 2.9.4-beta2
- **Operating System:** macOS Monterey 12.0 beta

### Expected

[2021-09-17 13:31] Alexocool opened #12977 "2"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?
### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-17 13:31] #12977 closed, assigned to nobody

[2021-09-17 14:42] sergiou87 opened #12978 "Upgrade to Electron v13"
In an attempt to upgrade GitHub Desktop to Electron v12 and then v13, we ran into a performance issue affecting unsigned builds on Big Sur (and potentially Monterey too). More specifically, using `spawn` becomes very slow.

The problem seems to be in [libuv](https://github.com/libuv/libuv/issues/3050), and [a first attempt to fix it](https://github.com/libuv/libuv/pull/3064) made some Node.js test

[2021-09-17 15:33] Saint-R007 commented on #11273
i cant install my github desktop for my linux elementary os,please fix it for me,so we can learn for other

[2021-09-17 20:39] jrshelby commented on #8955
+1
This is a huge issue for teachers - I have access to all of my student repositories within the class organization, as well as access to the student repos from previous years unless I literally delete them. This is many thousands of repos.

[2021-09-17 20:42] jrshelby commented on #11908
+1
I'm also a teacher with this issue. Even repos from last year show up in the list, unless I delete the whole organization (and I'd like to not do that yet).

[2021-09-17 21:15] magiblot opened #12980 "Scroll position is shared across files"
### Describe the bug
A repository often has several changed files. When I click on a changed file in order to see its diff, the scrollbar position varies according to the previous diff I was looking at.

### Version & OS

Version 2.9.3, Arch Linux x64.

### Steps to reproduce the behavior

1. Have a repository with several changed files, where the changes in each file are big enough that the diff

[2021-09-18 06:24] CompeyDev commented on #11273
There is currently no official support for Linux that I know of. There is a forked unofficial repository though: https://github.com/shiftkey/desktop.

**Installation Instructions:**

1. Download this shell script and cd to the folder you saved this to: https://gist.github.com/berkorbay/6feda478a00b0432d13f1fc0a50467f1
2. Then run "chmod +x github_desktop_ubuntu.sh" to make the script executable.
3

[2021-09-18 14:58] AyushPande123 commented on #5884
I am from future and I am getting error

`24484> 2021-09-18 20:26:29> Program: Starting Squirrel Updater: --install .
24484> 2021-09-18 20:26:29> Program: Starting install, writing to C:\Users\ayush\AppData\Local\SquirrelTemp
24484> 2021-09-18 20:26:29> Program: About to install to: C:\Users\ayush\AppData\Local\DiscordPTB
24484> 2021-09-18 20:26:29> Program: Install path C:\Users\ayush\AppData\Loc

[2021-09-18 18:18] TCWORLD commented on #11908
I've made some headway on implementing this (been a bit of a dive in at the deep end moment). Will push a branch on a fork later this evening and link in here.

We now get something like this:

![image](https://user-images.githubusercontent.com/1176680/133908605-e5505d1e-8d29-450b-b2ee-fa5e1868f136.png)

Where user repos are always show, and organisation repos can be collapsed/expanded.

On loadin

[2021-09-18 20:54] TCWORLD commented on #11908
Ok, so I've pushed the current work in progress to: https://github.com/TCWORLD/desktop/tree/collapse-org-list

The first point from above (reloading every time an org is expanded/collapsed) is now fixed. It will now only load the repositories the first time, or when the refresh button is clicked. When expanding/collapsing it now simply doesn't display the collapsed repos but leaves them in memory

[2021-09-19 06:04] ghost opened #12983 "Multiple Accounts"
### It's very useful to have the ability to add multiple accounts with different SSH keys, like a personal account and work account.

The user had the ability to go to the accounts menu under the preferences and select a different Github account from a menu or dropdown list.
By adding a new account, the user had the ability to add or point to a new ssh key that differs from another account.
And ad

[2021-09-19 06:46] 2845960979 opened #12984 "看不懂英文 怎样能转换成中文"
如标题所说

[2021-09-19 19:15] matthew-wilford opened #12987 "GitHub Desktop won't install on Windows 10"
### Describe the bug
Attempted multiple times to download and install GitHub Desktop.  Windows dialogue box states that "Installation has failed." It prompts me to check the setup log for more information.

### Version & OS

I assume that the GitHub Desktop app is the current release as I am downloading it from the GitHub website.  I am running Win 10 Home version 21H1 OS build 19043.1237.  Laptop

[2021-09-19 22:34] viethai10 opened #12988 "https://github.com/octocat/gh-whoamioctocat/gh-whoami"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-19 22:35] #12988 closed

[2021-09-20 05:54] tordans opened #12989 "Allow resizing of Squash Commit Textarea"
### Describe the feature or problem you’d like to solve

The window to squash commit has a fixed height. Therefore, the textarea inside also has a fixed height. This makes it hard to consolidate two commit messages that are more than just a few lines.

### Proposed solution

Idea 1: Allow resizing the whole panel, by grabbing the panel corner – which in turn should increase the size of the textare

[2021-09-20 07:57] #12984 closed, assigned to nobody

[2021-09-20 07:59] sergiou87 commented on #12987
@just-MattW it looks like another instance of the installer is running (and probably stuck) so the new instance is unable to install it and that's when you get the error.

Could you tried rebooting or looking for the other instance in the Task Manager? 🤞

[2021-09-20 08:02] sergiou87 commented on #12989
Thank you for your suggestion @tordans !!! ❤️

This seems to be mostly covered by #1646 so I'll close this in favor of #1646 adding your feedback there.

[2021-09-20 08:02] #12989 closed, assigned to nobody

[2021-09-20 08:04] sergiou87 commented on #1646
Since we're already showing the commit summary/message textfields in a dialog for squashing commits, #12989 provides some new (but related) feedback:

[2021-09-20 08:38] Raicuparta opened #12990 "Add ability to pin some repos to the top of the list"
### Describe the feature or problem you’d like to solve

The repo list can build up quickly and require constant filtering to find some repos that we access frequently. The "Recent" category helps, but isn't always the solution if the use is messing around with a lot of repos in a short time span.

### Proposed solution

Easiest way to do it would be adding a "Pin repo" option to the context menu

[2021-09-20 09:37] Sumantsahu9888 commented on #12990
Whoud you tried another whoud you tried rebooting and looking another instance device

[2021-09-20 09:38] Sumantsahu9888 commented on #12990
Instant task manager

[2021-09-20 09:54] #12932 closed, assigned to nobody

[2021-09-20 11:38] rakesh-kumar-sage opened #12992 "History filter by author"
There should be a way to filter commit history by author.

[2021-09-20 13:36] billygriffin commented on #1633
Hi folks, just to be clear, "magic stashing" (in other words, stashing automatically without asking) is not enabled by default. The default behavior is that when someone switches branches, they're given the option to bring changes to the new branch or stash the changes on their current branch. If they want to change that, this option is in Preferences:

<img width="677" alt="Screen Shot 2021-09-20

[2021-09-20 13:47] leopucci commented on #10326
This caused me another problem

`0 [main] cygpath (6136) C:\Program Files\Git\usr\bin\cygpath.exe: *** fatal error - cygheap base mismatch detected - 0x18034C408/0x180347408.
This problem is probably due to using incompatible versions of the cygwin DLL.
Search for cygwin1.dll using the Windows Start->Find/Search facility
and delete all but the most recent version.  The most recent version *should*

[2021-09-20 13:48] steveward commented on #12992
Thanks for the feedback @rakesh-kumar-sage. This is being tracked in https://github.com/desktop/desktop/issues/7022, so I am going to close this issue out. Feel free to add a 👍🏻 to that issue top indicate it's something you would like to see in GitHub Desktop.

[2021-09-20 13:48] #12992 closed, assigned to nobody

[2021-09-20 14:25] sergiou87 commented on #12980
Thanks for the report @magiblot! We were able to reproduce the bug 😄

[2021-09-20 14:29] leopucci commented on #10326
This workaround solved for me. Now the pre-commit hook can run yarn

[2021-09-20 14:39] donna-marijne commented on #10326
For what it's worth, my current workaround for this is to remove `yarn` and similar bootstrap scripts from git hooks and use `node` to execute the scripts directly, e.g.
[code]

[2021-09-20 15:03] tl-facundo-aita opened #12993 "Create Tag with Message"
Remove this issue

[2021-09-20 15:30] pedropsi opened #12994 "Restore Stash even with changes present, if overlaps are obviously impossible"
### The stash could be restored, even with changes present, if conflicts are impossible

The user made some uncommited changes to file A, while the stash stores some changes in file B.

From the user's perspective, there is nothing preventing the stash from being restored, as there is no way the changes in file A would ever conflict with those in file B.

So it can be a bit disappointing/annoying

[2021-09-20 15:56] #12953 closed, assigned to nobody

[2021-09-20 15:58] facundo91 opened #12995 "Create Tag with Message"
### Describe the feature or problem you’d like to solve

It's not possible to create a new Tag with a Message on it. We use the message as part of our CI/CD pipeline, therefore, we can't use Github Desktop for our daily work.

### Proposed solution

Add a Message Input Text Field in the Create Tag dialog.

### Additional context

![image](https://user-images.githubusercontent.com/80763964/13402553

[2021-09-20 15:58] #12993 closed, assigned to nobody

[2021-09-20 16:09] say25 opened #12996 "Diff Doesn't Re-render when Making GitHub Desktop Active"
### Describe the bug

Diff Doesn't Re-render when Making GitHub Desktop Active

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

Version 2.9.4-beta2 (x64)
Windows 10

### Steps to reproduce the behavior

1. Make changes to a file
2. View the changes in GH Desktop
3. Make more changes to the file
4. Switch b

[2021-09-20 18:01] steveward commented on #12983
Thanks for the feedback @hadiabouhamzehvc. We are tracking feedback for supporting multiple accounts in https://github.com/desktop/desktop/issues/3707. You can leave a 👍🏻 in that issue to indicate your desire to see this implemented.

[2021-09-20 18:01] #12983 closed, assigned to nobody

[2021-09-20 20:08] agarny commented on #1633
Oh, I had forgotten about that. Much better indeed!

[2021-09-20 20:11] billygriffin commented on #12996
I think this was fixed by https://github.com/desktop/desktop/pull/12964, but please feel free to reopen if not @say25!

[2021-09-20 20:11] #12996 closed, assigned to nobody

[2021-09-21 00:43] matthew-wilford commented on #12987
@sergiou87 thanks for replying! I followed your directions. I restarted my system. Then, I attempted to install GitHub Desktop again while monitoring the Task Manager. The same installation failure occurred. In Task Manager, one application appeared titled "Update." There was only one instance of this application running during the installation.

[2021-09-21 07:57] AshutoshSajan commented on #6121
thank you

[2021-09-21 08:19] #12956 closed, assigned to nobody

[2021-09-21 10:01] bunnyyx opened #12999 "Issues Deleting Discord Messages"
Version 2.9.3 (x64)

Total messages found: 276
Ended because PAI returned an empty page

I use it in Chrome

Not very well versed with this kind of stuff. Not sure why all of a sudden today it stopped working.

I delete messages all the time
![discord](https://user-images.githubusercontent.com/74756547/134151638-95b604ad-8d24-412f-8345-06e104585fec.png)

[2021-09-21 10:02] niik commented on #12999
Hi, this issue doesn’t appear to be related to the GitHub Desktop application so I’m going to close this issue but  if you believe that's a mistake feel free to comment and we can revisit.

If you require assistance with a particular project on GitHub it's best to open an issue in the repository of that project. If you have a general support question please check out [GitHub support](https://suppo

[2021-09-21 10:02] #12999 closed, assigned to nobody

[2021-09-21 10:21] 2845960979 commented on #12984
我能问一下咱们这软件是干什么的吗 因为不太了解英文所以没太搞懂 我还是个学生😂看来我还得好好学习英语😂

---原始邮件---
发件人: "Sergio ***@***.***&gt;
发送时间: 2021年9月20日(周一) 下午3:57
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [desktop/desktop] 看不懂英文 怎样能转换成中文 (#12984)

Closed #12984.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with

[2021-09-21 11:28] sergiou87 commented on #12990
@Raicuparta Thanks for your input! This is a duplicate of #8183, which unfortunately currently isn't being worked on. But, we may revisit in the future so I going to link this issue. Feel free to add your comment or thumbs up to that issue as well.

[2021-09-21 11:28] #12990 closed, assigned to nobody

[2021-09-21 11:34] sergiou87 commented on #12987
That's bad 😞

Is this the first time you install GitHub Desktop? Or are you trying to update an existing installation? If so, please try to uninstall the existing installation first, maybe that helps 🤔

Otherwise, I'd wonder if there is anything special about your setup that you can think of?

[2021-09-21 16:21] #12826 closed, assigned to nobody

[2021-09-21 17:39] j3lli21 opened #13002 "Alex MTCH"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-21 18:26] amarnath-stripe commented on #6757
+1

[2021-09-21 18:40] Robinson664 opened #13003 "I can't squash commits in Github Desktop anymore"
### Describe the bug
I can't squash commits in Github Desktop anymore.  I used to be able to, but I haven't been able to for a while.

### Version & OS

Version 2.6.6
Windows 10 Enterprise

### Steps to reproduce the behavior

I just followed the steps on this page https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits

1. Go to "H

[2021-09-22 06:26] yesseruser commented on #13003
Shift-clicking is going to select all commits from wherever you clicked first, to wherever you clicked second. It is range-selecting. Try CTRL-clicking to select multiple commits.

[2021-09-22 07:48] #13002 closed, assigned to nobody

[2021-09-22 07:51] sergiou87 commented on #13003
Hi @Robinson664 !! 👋

If that's correct and you're using 2.6.6, I'm afraid you're using an old version of GitHub Desktop that doesn't support commit squashing 😅  Squashing was introduced in v2.9.0. The app should be able to auto-update from the About dialog, otherwise, you can go to https://desktop.github.com/ to download the latest version.

I hope that helps! 😄

[2021-09-22 07:51] #13003 closed, assigned to nobody

[2021-09-22 09:23] sergiou87 commented on #12853
@gemal @steveward does it work for you now? I can't reproduce it, and it looks like the URL used to get the PR is correct (`desktop/desktop/pulls/12777` in this case).

If it doesn't work for you, could you paste here the URL to which `Checkout in GitHub Desktop` is pointing? For example, in #12777 the URL I get is `x-github-client://openRepo/https://github.com/desktop/desktop?branch=pr%2F12777&pr

[2021-09-22 09:36] gemal commented on #12853
weirdly enough it seems to work now on 2 links I tried

[2021-09-22 10:00] sergiou87 commented on #12853
Maybe it was a regression introduced on the web and has been fixed already 😅  

Closing for now, let us know if you find a case that doesn't work! Thanks!! 😄

[2021-09-22 10:00] #12853 closed, assigned to nobody

[2021-09-22 13:17] Robinson664 commented on #13003
@sergiou87 please read my bug report more closely.  In it I mentioned that I used to be able to select multiple commits in the "History" tab.  I don't know what changed, but now I can only select one at a time.  Is there some setting that allows me to select multiple commits?  As I said in my bug report, in the "Actual behavior" section, only one commit is ever selected no matter if I shift+click,

[2021-09-22 13:27] sergiou87 commented on #13003
@Robinson664 if the version number you provided is correct, it's normal you cannot select multiple commits. That was enabled when cherry-picking was released, in version 2.7.1. There is no setting for that.

How is it possible that you could do all that stuff before and not now? I have no idea but sounds like you were in a newer version and somehow you switched to an older one (maybe you have 2 in

[2021-09-22 13:47] daniporr commented on #10298
Do you think something like this could work?

https://code.visualstudio.com/docs/editor/portable

---

However, if you only want to avoid the installation phase, on Windows you can:

1. open the installation file "GitHubDesktopSetup-....exe" with any _file archiver_
2. open the "GitHubDesktop-X.X.X-full.nupkg" file
3. extract the "lib/net45" folder
4. inside it you can find the "GitHubDesktop.exe"

[2021-09-22 14:07] Robinson664 commented on #13003
Yes version 2.6.6.  I don't know what version I was using when this worked before.  I don't remember ever changing versions.  I'm behind a corporate firewall so I can't upgrade.  I'll just have to use the command line to squash commits.

[2021-09-22 14:28] sergiou87 commented on #13003
Hmmm, maybe the admin who manages your machine switched to a previous version for whatever reason 😕  If possible, I'd try to contact that person and ask them to upgrade the app. I'm sorry I can't be of more help!

[2021-09-22 15:58] steveward commented on #10444
Related to https://github.com/desktop/desktop/issues/7805 which requests a way to force a fetch.

[2021-09-22 17:32] say25 commented on #12862
Sorry guys this is my fault, I mean even more ideally we'd find a way to make single select work with hide whitespace on or off but alas its something rather hard to solve

[2021-09-22 17:32] ghost opened #13005 "GitHub Desktop encountered an error Error: spawn cmd.exe ENOENT"
How can i resolve this?

Error: spawn cmd.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndRejections (internal/process/task_queues.js:84:21)

Version: 2.9.3
OS: Windows 10.0.17763

![imagem_2021-09-22_133240](https://user-images.githubusercontent.com/70543348/134393032-5cc3f044-dde9-4

[2021-09-22 17:36] steveward commented on #13005
Thanks for the report @Arthur-Vinicius. Just to clarify -- is this error only occurring when you attempt to launch Visual Studio Code from GitHub Desktop (i.e. `Repository` > `Open in Visual Studio Code`)?

Could you open the command prompt and share the output of `echo %PATH%`?

If `System32` is not in your PATH, you will see that ENOENT error. You will need to edit your PATH by following [this a

[2021-09-22 19:19] Ionys320 opened #13006 "Crash without doing anything"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Version: 2.9.3
OS: Windows 10.0.22000

### Steps to reproduce the behavior

1. Open GitHub Desktop
2. Just wait

### Expected behavior

No crash should occurred.

### Actual behavior

A crash occurred.

### Screenshots

![image](https://user-images.githubusercontent.com/9364594/134407828-ea229bef-84ba

[2021-09-22 19:47] ghost commented on #13005
C:\Users\arthursouza>echo %PATH%
C:\app\suporte\product\11.2.0\client_1\bin;C:\Users\arthursouza\AppData\Local\Microsoft\WindowsApps;C:\Users\arthursouza\AppData\Local\GitHubDesktop\bin;C:\Users\arthursouza\AppData\Local\Programs\Microsoft VS Code\bin;C:\Users\arthursouza\AppData\Local\Programs\Git\cmd;C:\Users\arthursouza\AppData\Roaming\npm

C:\Users\arthursouza>echo %PATH%
C:\app\suporte\produc

[2021-09-22 20:03] steveward commented on #13005
@Arthur-Vinicius can you confirm when this error is occurring?

[2021-09-22 20:17] ghost commented on #13005
When i click to open in vscode.

[2021-09-22 20:19] steveward commented on #13005
@Arthur-Vinicius thanks -- I don't see `system32` in your PATH so you will need to add that in order to get this working.

[2021-09-22 20:20] steveward commented on #13006
Thanks for the issue @Ionys320. Is this happening consistently each time you launch GitHub Desktop?

I'd recommend trying a fresh install to see if that helps:

1. Close GitHub Desktop
2. Open File Explorer
3. Go to `%LocalAppData%` and delete the `GitHubDesktop` directory
4. Go to `%AppData%` and delete the `GitHub Desktop` directory
5. Reinstall GitHub Desktop from http://desktop.github.com

Let

[2021-09-22 20:47] AMDphreak opened #13007 "Files names first letter duplicated"
### Describe the bug
In the changed files list, every file (folder) listed has the first letter of its name duplicated and prepended to the name of the file, like "ffoldername"

### Version & OS

GH 2.9.3 x64
Windows Version	10.0.19043 Build 19043

### Steps to reproduce the behavior

1. Create repo
2. Click "open in GitHub desktop"
3. copy files to local repo folder
4. See error

### Screenshots

[2021-09-22 21:49] ghost commented on #13005
when I go to the advanced settings, this appears:

![imagem_2021-09-22_174816](https://user-images.githubusercontent.com/70543348/134426615-fe039cd3-e106-47ed-9d8e-8c3603b00308.png)

i'm gona try solve this...

[2021-09-22 21:56] Chris-Petty commented on #12862
@say25 NP, I can see why it'd be tricky! In the interim clearing up the user feedback would help- woo the PR above looks good!

[2021-09-22 22:01] steveward commented on #13007
Thanks for the issue @AMDphreak  -- this is being tracked in https://github.com/desktop/desktop/issues/12314. You can follow along there for updates.

[2021-09-22 22:01] #13007 closed, assigned to nobody

[2021-09-22 22:01] steveward commented on #12314
Another report in https://github.com/desktop/desktop/issues/13007.

[2021-09-22 22:19] tbradsha commented on #6757
+1

[2021-09-22 22:55] Ionys320 commented on #13006
Hi!
I've tried, but unfortunately, it doesn't change anything. The bug seems really specific to a single repository if the master branch is selected. Before the crash, the interface seems laggy, and GitHub Desktop seems to take a lot of RAM, even by clicking on the `Exit and restart` button and leaving GitHub Desktop in background.
Don't hesitate if you need more informations!

![image](https://us

[2021-09-22 23:26] ChessMess commented on #7081
I had to wipe and re-clone the repo.

[2021-09-22 23:35] dragonsarebest opened #13008 "Stopped syncing with actual repository"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior
pull new files from a branch that a friend is w

[2021-09-23 07:12] sergiou87 commented on #13008
Hi @dragonsarebest ! Can you confirm if your friend has pushed their changes before you tried to pull them?

If that's the case and still doesn't work, have you tried running `git pull` from the command line?

Also, which version of GitHub Desktop are you running?

Thank you!!

[2021-09-23 07:16] sergiou87 commented on #13006
Hey @Ionys320! 👋

Could you share your full logs from a day where you reproduced this issue? It might be helpful to diagnose the error.

Other than that, is there anything special about that repository in its `master` branch? Like maybe it uses special characters in some recent commit message 🤔

[2021-09-23 07:17] sergiou87 commented on #13005
Seems like this might be an issue with your Windows configuration and not specific to GitHub Desktop, so I'll close this, sorry! 😅

[2021-09-23 07:17] #13005 closed, assigned to nobody

[2021-09-23 07:33] sergiou87 commented on #7081
@rgreenhalge does it happen with all repositories? Which specific version of GitHub Desktop are you using?

It's weird that it got fixed by re-cloning the repo. Is there anything "special" in your repository git config?

[2021-09-23 08:47] Ionys320 commented on #13006
Hey @sergiou87 !

Here the fulls logs for the beginning of this day:
[code]

I checked the last commits, but there are not different from usual (a lot of stash made with GitHub Desktop, and normal commits without special characters):
![image](https://user-images.githubusercontent.com/9364594/134478682-605005ce-d67d-4fc9-bfe3-7b2e13056e15.png)

[2021-09-23 09:03] #12916 closed, assigned to nobody

[2021-09-23 09:19] alexanderadam opened #13009 "No syntax highlighting for HAML"
### Describe the feature or problem you’d like to solve

There's no syntax highlighting for HAML files in changed files overview.

### Proposed solution

People using HAML would be able to have the advantage of helpful syntax highlighting.

[2021-09-23 09:54] a-szotyori commented on #9452
Just my 2 cents: I wanted to switch from Sourcetree to GitHub desktop because we have so many repos there, but the lack of a history graph is a big issue for me. It gives me a quick overview of the history and interplay between branches. Just look at how much useful information I get in Sourcetree in one screen:
<img width="1555" alt="Screenshot 2021-09-23 at 11 43 55" src="https://user-images.git

[2021-09-23 11:29] sergiou87 commented on #13006
Thanks, @Ionys320 !! Unfortunately, there is nothing relevant in them 😢

I have two ideas: if it's a public repo or a private repo you don't mind sharing with me, I can try and reproduce the issue myself. If you don't want to share it, that's completely fine!!

In that case, I'd suggest that you try to debug it for me following these steps:
1. From the command line, make sure you're in a branch ot

[2021-09-23 12:34] Ionys320 commented on #13006
Hi @sergiou87 !
Because it's a private repository, I've made the requested instructions for you. But it seems that everything was not working.. `o` and `e` was undefined, and the code didn't stop ib the right file at the good line. I keep my instance of Dekstop opened to be able to perform more operations if needed.

Thank you for your time!

![image](https://user-images.githubusercontent.com/9364

[2021-09-23 14:03] niclasmattsson commented on #9452
No offense, but I don't think those screenshots from VScode and Sourcetree are a good fit for Github Desktop, which is all about simplicity, clarity and minimalism. I called graphs like that "rainbow spaghetti" in my comment above, and I honestly think those examples are more deterring than encouraging to the core Desktop devs. In contrast, I think the simple 2-branch graph in Desktop's comparison

[2021-09-23 14:08] dragonsarebest commented on #13008
Ah yeah sorry bout that it turned out his internet was simply being slow. Problem resolved 😅

Sent from Yahoo Mail for iPhone

On Thursday, September 23, 2021, 3:13 AM, Sergio Padrino ***@***.***> wrote:

Hi @dragonsarebest ! Can you confirm if your friend has pushed their changes before you tried to pull them?

If that's the case and still doesn't work, have you tried running git pull from the co

[2021-09-23 14:17] #13008 closed, assigned to nobody

[2021-09-23 14:17] Fralleee commented on #10351
Why are these issues closed when there isn't a fix?

Also using the command line as a workaround is something you might suggest when the issue is relatively new, not three years old.

[2021-09-23 14:18] sergiou87 commented on #13006
Oops! I did not expect that 😂  The debugger didn't pause at the line I said but instead where the error was captured and re-thrown 😢

Looking at the `Call Stack` (right side of the Developer Tools) I don't think there is anything in the `core.ts` file 😞  If there was, you would click on it and then type `o` and `e` to see their values.

If that's not possible, maybe I can make a special build that

[2021-09-23 14:18] #12980 closed, assigned to sergiou87

[2021-09-23 14:45] a-szotyori commented on #9452
Thanks @niclasmattsson for your comment. I understand now that the design philosophy is different for GitHub Desktop. There is no one-size-fits-all and I discovered now that GitHub Desktop is not for me.

P.S.: I would recommend refraining from using somewhat derogatory terms that you invented publicly with strangers. It might be "rainbow spaghetti" for your and for someone else it's a valuable pr

[2021-09-23 16:30] Ionys320 commented on #13006
I can confirm that `core.ts` is not in the `Call Stack` 😞 Ready to have the special build!

![image](https://user-images.githubusercontent.com/9364594/134547040-41397f04-948a-4849-95c3-368c3681600f.png)

[2021-09-23 17:15] matthew-wilford commented on #12987
This is the first time I have tried to install GitHub Desktop. I have also tried to delete the GitHub Desktop Launcher. Then, download it again and try to install GitHub Desktop. It has resulted in the same outcome. There is nothing special about my setup, from what I can tell. I have the ACER Aspire 3 laptop. The specific model is A315-53-50Y7.

[2021-09-23 17:32] ghost opened #13012 "MadCap Flare"
Hello,

I'm attempting to push files to a GITHUB repository from MadCap Flare. Each time I attempt to push files, GITHUB launches a login screen that asks me for my username and password. When I enter my username and password into the GIBTHUB login dialog box and presses enter, I get an error message. Subsequent attempts to login produce error messages. Yes, I am using the correct username and log

[2021-09-23 19:34] magiblot commented on #12980
¡Muchas gracias!

[2021-09-23 20:02] admbanking1 commented on #12841
#pay

[2021-09-23 20:45] Rpndj commented on #13009
[SyntaxHighlight_GeSHi-REL1_36-8ec43c6 (1).tar.gz](https://github.com/desktop/desktop/files/7220734/SyntaxHighlight_GeSHi-REL1_36-8ec43c6.1.tar.gz)
****

[2021-09-23 21:57] medhatjachour opened #13014 "git: 'remote-https' is not a git command. See 'git --help'."
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-24 03:31] wojiushixiaobai commented on #3870
This problem exists in version 2.9.3.

[2021-09-24 07:26] niik commented on #13012
Hi @sdsasse-cx, thanks for reaching out. I'm afraid I'm not familiar with MadCap Flare. This is the repository for the open source client GitHub Desktop, it sounds to me like your issue occurs when you try to publish changes from within the MadCap Flare application which we're unable to help you with. I'd suggest contacting the publishers of the software directly to see if they can help.

I will n

[2021-09-24 07:26] #13012 closed, assigned to nobody

[2021-09-24 07:30] niik commented on #13009
Hi @alexanderadam, thanks for reaching out! It looks like we currently don't have a mapping between the file extension for haml and the syntax highlighting mode. Would you like to contribute support for that mapping? We have some documentation in https://github.com/desktop/desktop/blob/development/docs/technical/syntax-highlighting.md which should let you get started and https://github.com/desktop

[2021-09-24 07:31] sergiou87 commented on #13014
Thanks for the report @medhatjachour. Could you upload the log file from GitHub Desktop so that I could get some more information about this error? To access the log files go to the File menu in GitHub Desktop and select `Help` > `Show Logs`.
The log files are created daily -- please upload a log file as an attachment from a day where you experienced the issue.

[2021-09-24 08:03] sergiou87 commented on #13006
@Ionys320 thank you for checking 😄

This is a custom build: https://centralreleases.blob.core.windows.net/github-desktop/releases/2.9.4-test3-95a6ec79/GitHubDesktopSetup-x64.exe

This one won't crash. Instead, it will log in the Developer Tools' Console both a `combinedOutput` and a `line`. Could you reproduce the issue and check what those values are when the app is supposed to crash?

Thank you!

[2021-09-24 09:03] Milo123459 commented on #11982
@billygriffin Fast-forward a few months... well, I've had an idea that can potentially solve a few problems you may have. I'd be more then happy to implement other templating tools like commitlint and whatever. Should I just create a draft PR with a very simple mockup of how I imagine it to look, and we can do some comments and then make another decision?

[2021-09-24 10:14] alexanderadam commented on #13009
Hi @niik,

thank you for the fast response! 🙌

[Something like this](https://github.com/desktop/desktop/pull/13015)? I'm not sure I did it right. 🙈
I got [the MIME type from CodeMirror documentation](https://codemirror.net/mode/haml/index.html).

[2021-09-24 11:20] Skwara opened #13016 "Switching to a branch with submodules is not possible"
### Describe the bug
If GitHub Desktop cloned a repository on a branch without submodules, when attempting to switch to a branch with submodules, GitHub Desktop throws the following error:
[code]
Additionally, after the attempt, GitHub Desktop creates a `.gitmodules` file with the following contents:
[code]
The workaround for this issue is to remove the following lines from `.git/config` before at

[2021-09-24 13:15] ghost commented on #13012
Thank you. I’ll give it a shot. Have a great day.

Best regards,

Doug Sasse

From: Markus Olsson ***@***.***>
Sent: Friday, September 24, 2021 2:27 AM
To: desktop/desktop ***@***.***>
Cc: Sasse, Stuart D. ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [desktop/desktop] MadCap Flare (#13012)

Caution, the source of this email is outside of Intrado. Please use caution opening any attachments

[2021-09-24 14:47] BioTurboNick opened #13017 "The default save location should not be Documents"
Documents is where a user puts their files, and is automatically synced to OneDrive on newer Windows versions.

Doing development in a OneDrive folder is not advisable because the files churn too much. It's also already in the cloud because it's on GitHub, so it doesn't need to be in OneDrive too.

Please use a different default save location.

[2021-09-24 15:38] #13009 closed, assigned to nobody

[2021-09-24 15:49] Ionys320 commented on #13006
Hi, here is the new steps! I'm not sure it will really help;;

![image](https://user-images.githubusercontent.com/9364594/134642099-ab35a17e-d642-4ee0-ba48-3c93df025edf.png)
![image](https://user-images.githubusercontent.com/9364594/134642233-b27d8f54-fcf1-4f7d-bed0-0f89f4e130db.png)

[2021-09-24 16:12] KenMacD commented on #5218
If showing multiple files is too costly a change, perhaps a keyboard shortcut to jump to the next/previous file in the 'changed files' list would suffice.

[2021-09-24 17:24] steveward commented on #12987
@just-MattW are you running any antivirus software outside of the standard Windows Defender that could be interfering with the installation process?

I'd also recommend deleting the `Temp` directory to clear out any leftover lock files since that's being referenced in the installation error log. Open up a command prompt as an administrator and run this command:

`rmdir C:\Users\matth\AppData\Local

[2021-09-24 18:10] kshnobir commented on #5218
thanks

On Fri, Sep 24, 2021, 10:14 PM Kenny MacDermid ***@***.***>
wrote:

[2021-09-24 19:48] billygriffin commented on #11982
@Milo123459 If you'd like, you're welcome to articulate the benefits and likely tradeoffs of an approach to tackle commit templates, but given that this is something that only a narrow slice of Desktop users would benefit from, we're not convinced of the value. That said, open to ideas of how you envision it looking. I just don't want you to do too much work when our likely position is that we're

[2021-09-24 19:54] steveward commented on #13016
Thanks for the report @Skwara. This looks like another report of https://github.com/desktop/desktop/issues/13016 -- I'm going to reference this issue there.

[2021-09-24 19:54] #13016 closed, assigned to nobody

[2021-09-24 19:54] steveward commented on #9174
Reported again in https://github.com/desktop/desktop/issues/13016.

[2021-09-24 21:03] Milo123459 commented on #11982
Maybe a setting to enable them?

[2021-09-24 21:52] gh-jvirdee commented on #9452
is there anything WIP for this ticket?

[2021-09-25 05:55] Andrej123456789 commented on #13017
Hi, I have similar problem. Delete in OneDrive Documents folder. All your files will be under C: \Users\[name of user]\Documents
For every case, backup your files

[2021-09-25 06:53] Coloured-glaze commented on #1916
I re-install him and the problem was solved.

[2021-09-25 09:45] Adrianilloo opened #13018 "Increase squashing window text space"
I've been using the GUI based squashing feature for enough time already and noticed a user experience limitation of moderate impact, sometimes.

The text area that initially contains all involved commits' messages is too small, preventing user to view the whole text at once when enough length is involved, and scrolling doesn't help that for obvious reasons.

The ideal solution, would be, overall,

[2021-09-25 13:05] JenuelDev commented on #9452
is History Graph in Github desktop, will it be implemented?

[2021-09-25 16:33] samriddhmathur opened #13019 "A lock file already exists in the repository, which blocks this operation from completing."
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-25 20:40] lix343 opened #13020 "Typora issue"
### Describe the bug
I used to use typora as a external ediotr for the github desktop, but after i downloaded the VS code, I can;t use typora as an editor, I tried to change the integration, there is even no option for typora, only vs code

### Expected behavior
I just want to use typora on the github desktop as an external editor.

[2021-09-26 03:26] mndbl commented on #6253
i'm having the same problem in ubuntu 20.04

[2021-09-26 05:34] son3ofSatan opened #13021 "**What cheatsheet is this about? (if applicable)**"
**What cheatsheet is this about? (if applicable)**

Advanced cheatsheet

**What's your issue or idea?**

_Write here_

__Originally posted by @Joemitchell36 in https://github.com/typescript-cheatsheets/react/issues/459__

[2021-09-26 05:35] son3ofSatan opened #13022 "Hi Queen"

[2021-09-26 05:35] son3ofSatan commented on #13022
- @desktopbot

[2021-09-26 23:08] j0131n commented on #9293
Hi. Thanks to this, worked for me. My setup is: I have a VPN running which serves as a middleware ( company requirement ) and it blocks any access that's not listed on my policy.

[2021-09-26 23:22] lmbarns commented on #9604
I updated github desktop last week, created a new repo, added my stuff, committed locally.

Today I worked on my project, committed changes and it spammed that message repeatedly and wouldn't let me close github desktop. After pressing the button 50 or so times it finally went away and said it couldn't find the repo, asked to try again or locate it.

I located it, still threw the same error.

I do

[2021-09-27 02:07] noahm1216 opened #13023 "Desktop Fetch Error "git: remote-https' is not a git command. See 'git --help'."
### Describe the bug
Frequently (but without clear reasoning) GitHub desktop is not able to fetch any server information. Like it's being blocked from the internet.

### Version & OS

Version 2.9.3 (x64)

### Steps to reproduce the behavior

1. Go to 'Open Github desktop'
2. Click on 'Fetch'
3 See error

### Expected behavior

Normally it will check for commits and pull any available or say "up to

[2021-09-27 02:09] noahm1216 commented on #13023
I should have comment on other activities I have tried.

1. Signing out and signing in
2. uninstalling and reinstalling github desktop
3. deleting local github files
4. restarting computer

the only one to work sometimes is restarting the computer. but other times it does not solve the issue.

[2021-09-27 05:02] ADustyOldMuffin commented on #12995
👋 I'd be interested in taking this one on if it's available for community pickup.

[2021-09-27 05:53] #13022 closed

[2021-09-27 05:54] #13021 closed

[2021-09-27 07:15] Skwara commented on #13016
@steveward The main difference is that in this case GitHub Desktop doesn't change the branch but throws an error. Do you think solving #9174 will also solve this problem?

[2021-09-27 09:30] #10242 closed

[2021-09-27 13:31] ProtocolLive opened #13026 "File ignored"
### Describe the bug
I right-click on a file, click "Ignore file", and it is not ignored.

### Version & OS
Windows 11, Github Desktop Version 2.9.3

### Screenshots
![image](https://user-images.githubusercontent.com/39626142/134917980-e15d0cc5-bcfb-4595-9e48-de3055d2e431.png)
![image](https://user-images.githubusercontent.com/39626142/134918055-6d9cfcca-7b36-483d-bfd1-8afade339078.png)

[2021-09-27 13:38] niik commented on #13026
Hi @ProtocolLive, thanks for reaching out. The most likely explanation is that the file is already tracked by Git (i.e. it's been included in at least on commit before). See https://github.com/desktop/desktop/issues/10379#issuecomment-674014560

Please let us know if removing the file from git helps!

[2021-09-27 13:41] ADustyOldMuffin commented on #12509
I can certainly take a stab at it! It sounds like a good start.

[2021-09-27 13:44] #13026 closed, assigned to nobody

[2021-09-27 13:44] ADustyOldMuffin commented on #11634
@steveward After a discussion on the VSCode repo this request is not actually possible for VSCode as the host computer can't determine if the folder is open inside VSCode in a container since it's well, in the container.

They're looking at ways to fix this but I believe this should be able to be closed.

[2021-09-27 14:10] leogott opened #13027 "Rebase onto main + amend commit causes duplicates and (un-undoable) empty merge commit"
### Describe the bug
With a combination of rebase, amend and pull I caused a locked state where my commits are present in duplicate. and can't be undone, because of an empty merge commit.

### Version & OS
Version 2.9.3 (x64)
Windows 10 Pro

### Steps to reproduce the behavior
Have a main branch and a patch branch, as well as a PR for patch onto main.
->A->B
->A->P
main branch at B, patch branch a

[2021-09-27 14:17] leogott commented on #13027
Addendum:
I tried to recover from the issue using
`Repository>Open in Windows Terminal`,
`git rebase -i upstream/<branch>` and
`git credential-manager push --force-with-lease`.
But ultimately had to try something else.

[2021-09-27 14:48] RaddadZ commented on #5709
if anyone still facing this problem:

-  try running this command in your repo folder: `git symbolic-ref refs/remotes/origin/HEAD`
![image](https://user-images.githubusercontent.com/10570707/154636641-f4d4745b-b6ff-4881-ad24-0be854e98614.png)
- if you get the old default branch name, then go to **\<your repo folder\>/.git/refs/remotes/origin/HEAD** and change its value to your real default branch

[2021-09-27 17:08] steveward commented on #11634
@ADustyOldMuffin thanks for the update! We'll close this out for the time being but this is something we can revisit again in the future if things change.

[2021-09-27 17:08] #11634 closed, assigned to nobody

[2021-09-27 17:12] steveward commented on #13020
@1738345414 thanks for the report. I have Typora installed on my machine and it is still available as an option. Are you on macOS or Windows?

Just to confirm -- are you not seeing Typora in the list when you go to `GitHub Desktop` > `Preferences` > `Integrations` > `External Editor`?

[2021-09-27 17:35] steveward commented on #13019
@samriddhmathur thanks for the issue. Normally this error indicates that there is leftover `index.lock` file preventing Git operations from completing. You can check this by opening the hidden `.git` directory in your repository and looking for the `index.lock` file. If that file exists you can delete it, and then let me know if you continue to run into any errors.

[2021-09-27 17:35] #13019 closed, assigned to nobody

[2021-09-27 17:42] steveward commented on #13023
Thanks for the report @noahm1216. Based on the logs it looked like GitHub Desktop stopped working on 9-24. Did anything change on your system around then?

You mentioned that you reinstalled and deleted the local files -- can you confirm that you follow something similar to these steps?

1. Go to `%LocalAppData%` and delete the `GitHubDesktop` directory
2. Go to `%AppData%` and delete the `GitHub

[2021-09-27 17:55] 6TUKATA77777 opened #13029 "op"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-27 17:55] 6TUKATA77777 opened #13030 "hey"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-09-27 18:21] #13029 closed, assigned to nobody

[2021-09-27 18:21] #13030 closed, assigned to nobody

[2021-09-27 22:45] billygriffin commented on #10907
Hi @gilmoskowitz, thanks for your issue! Since we shipped the ability to create a branch from a previous commit, I think that solves this use case sufficiently to close the issue. Hopefully that helps meet your needs!

[2021-09-27 22:45] #10907 closed

[2021-09-28 06:44] olivierchatry opened #13031 "cherry-pick: Add an option to restore source branch instead of staying on target branch"
Cherry picking same commit(s) on different branch is hard because after cherry picking, desktop stays on the target branch.

Adding an option to restore source branch after successful cherry-pick would make it easier to do that.

I already implemented the feature on my fork, here is the setting window:

![image](https://user-images.githubusercontent.com/1267483/135036349-1562b07d-8716-4239-81e7-07

[2021-09-28 06:45] olivierchatry commented on #13031
Only issue is it seems `this.changeCommitSelection(repository, [commits[0].sha])` does not update the selection state on the commits history.

[2021-09-28 07:20] sergiou87 commented on #13006
Hey @Ionys320 ! Sorry I wasn't more clear: you don't need to type anything in the console, that build should log the stuff I wanted to check for you. So once you have done the steps to crash the app, just check the `Console` and it should show the contents of `combinedOutput` and `line` already 😄

[2021-09-28 07:22] alessandrocraeye commented on #6199
I'm also experiencing this issue.
As shown in the screen recording of #12189, this makes it impossible to resolve conflicts.

[2021-09-28 07:24] #12862 closed, assigned to niik

[2021-09-28 08:15] martinrode opened #13033 "partially staging a file, is that feature gone?"
### Describe the bug
Until a few versions ago it was possible to partial commit a file by clicking on the blue marker in the diff viewer. That option does not work any more for me. Was that removed on purpose or is this hiding somewhere else now?

### Expected behavior

Clicking on the blue marker should remove the marked block from the current staging process.

### Actual behavior

Clicking on th

[2021-09-28 08:17] niik commented on #13033
Hi @martinrode, thanks for reaching out. Chances are that you've turned on the option to hide whitespace changes in diffs. That option is incompatible with partial staging. See https://github.com/desktop/desktop/issues/12862 for more information on that. We just merged https://github.com/desktop/desktop/pull/12979 which should help make this more obvious going forward. Sorry for the confusion!

[2021-09-28 08:17] #13033 closed, assigned to nobody

[2021-09-28 10:05] Ionys320 commented on #13006
![image](https://user-images.githubusercontent.com/9364594/135066979-565bc555-7add-4c55-ad74-f19bd4585aa3.png)
In this case, here we go, but it doesn't seems to change anything =;-;=

[2021-09-28 10:43] #12509 closed, assigned to nobody

[2021-09-28 11:17] Gr8z opened #13035 "Unable to set Github Desktop to open Github links on Windows 11"
I am running Windows 11 beta and have the latest version of Desktop installed.

I want to be able to open "Open in Desktop" links in GitHub desktop. In the default apps setting page for Windows 11. I cannot find GitHub Desktop anywhere.

How do I change the default app for everything related to GitHub Desktop?

### Screenshots

![image](https://user-images.githubusercontent.com/4633243/135076860-5

[2021-09-28 13:21] tidy-dev commented on #13031
@olivierchatry Thank you for the suggestion. This feels like very situational feature so I am not sure that a permanent setting makes the most sense for all users.

I was curios if you knew that you can ctrl+click or shift+click to select multiple commits to cherry-pick at one time. You may be able to reduce or eliminate the need to jump back to the source branch.

![image](https://user-images.git

[2021-09-28 13:25] olivierchatry commented on #13031
It still very annoying when you have to put them into differnent branches, as select will get reset when you switch branches.

I implemented the feature in my pull-request : https://github.com/desktop/desktop/pull/13032

[2021-09-28 13:57] chrisheselgrove commented on #1128
Thank you for your work on the enabling the ability to disable the 'fetch' in the UI. The problem I have in my environment we want to release this updated to 1000+ machines. Asking people to press this button is not feasible for ourselves. Can there be a way that this can be enabled/disabled within
1. A config file
2. Windows Registry
3. Group Policy

[2021-09-28 16:16] say25 commented on #13035
I might be wrong but I believe GitHub Desktop supports `x-github-client`

https://github.com/desktop/desktop/blob/4c62d3d495089959c8c117f0c9519e7eeae33f9b/app/src/main-process/main.ts#L82

As part of our integration with https://www.electronjs.org/docs/api/protocol

[2021-09-28 16:17] say25 commented on #13035
I might be wrong but I believe GitHub Desktop supports `x-github-client`

https://github.com/desktop/desktop/blob/4c62d3d495089959c8c117f0c9519e7eeae33f9b/app/src/main-process/main.ts#L82

As part of our integration with https://www.electronjs.org/docs/api/protocol.

@Gr8z can you try to change that property in your settings? I don't yet have Windows 11 installed anywhere to test myself

[2021-09-28 17:10] steveward commented on #11282
Closing this out as I don't believe it is an issue any longer.

[2021-09-28 17:10] #11282 closed, assigned to nobody

[2021-09-28 17:10] steveward commented on #13035
@Gr8z TortoiseGit taking over their links is being tracked in https://github.com/desktop/desktop/issues/8258. Changing the `x-github-client` protocol is what you would want to do like @say25 mentioned. I don't have Windows 11 on hand but I'm surprised there isn't an option there to select another local application on your machine.

[2021-09-28 17:27] steveward commented on #10010
Thanks for the updates on this @davidfokkema and @aminya. Closing this out since I was unable to reproduce the issue.

[2021-09-28 17:27] #10010 closed

[2021-09-28 18:51] billygriffin commented on #13031
Thanks for the suggestion @olivierchatry. As @tidy-dev shared in your PR, we don't think this is a widespread enough case to warrant a setting, and therefore I'm going to close this as well. We're open to revisiting things if we hear lots of feedback from folks that ending up on the target branch is making the experience painful. Thanks again.

[2021-09-28 18:51] #13031 closed, assigned to nobody

[2021-09-28 20:05] steveward commented on #13016
@Skwara apologies, this is actually a case of https://github.com/desktop/desktop/issues/8221. I'm going to reference this there and add it to our submodule error tracking issue (https://github.com/desktop/desktop/issues/7523).

[2021-09-28 20:06] steveward commented on #8221
This was reported again in #13016, and I was able to reproduce this issue as well.

[2021-09-28 20:42] olivierchatry commented on #13031
No worries.

Le mar. 28 sept. 2021 à 20:51, Billy Griffin ***@***.***> a
écrit :

[2021-09-28 21:28] notiv-nt commented on #11282
I can't check, I've decided to stay on Catalina, but the solution above could be like a variant

[2021-09-28 23:03] NotII opened #13037 "MacOs - Clone Issue"
### Describe the bug
Can't clone repo's
### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.
Version 2.9.3 (arm64)
MacOs: 12 Beta
### Steps to reproduce the behavior

When trying to clone a repo i get this error
[code]
### Expected behavior

The expected behaviour would clone the repo
### Screenshots
<img width=

[2021-09-28 23:19] NotII commented on #13037
Seemed to have fixed it with
```git config --global --add url."git@github.com:".insteadOf "https://github.com/```
And then logging into to GitHub via git using a ssh key

[2021-09-28 23:36] ghost opened #13038 "Hello my name is Smith"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-28 23:36] ghost commented on #13038
Hi how are you?

[2021-09-28 23:37] #13038 closed, assigned to nobody

[2021-09-28 23:49] omavi opened #13039 "Incorrect misattributed warning for incorrect Git config no-reply email address"
### Describe the bug
I setup a `no-reply` email address and now GitHub Desktop is warning me about my commits being misattributed although the docs say that shouldn't be a problem.

### Version & OS

Version 2.9.3 (arm64)
macOS 11.6

### Steps to reproduce the behavior

1. Setup a `no-reply` email address according to these instructions

### Expected behavior

GitHub Desktop should be aware of `no

[2021-09-29 00:22] lix343 commented on #13020
I figured it out myself, there is no typora options in the external editor, but after i updated the versions of typora, it suddenly apprears, i guess the reason why is the unupdated typora might disturb the Github Desktop, thanks for asking!

[2021-09-29 00:23] #13020 closed, assigned to nobody

[2021-09-29 01:13] Alexisbi123 opened #13040 "К"

[2021-09-29 02:51] #13040 closed

[2021-09-29 06:21] Gr8z commented on #13035
@say25 @steveward Windows 11 does not allow me to select anything other than TortoiseGit. Even for ``x-github-client``

[2021-09-29 07:38] Snanx109 opened #13041 "V"

[2021-09-29 07:46] learning-zone opened #13042 "Feature to view version history for any particular file."
### Describe the feature

Feature to view version history for any particular file. This feature is already available in [TortoiseGit](https://tortoisegit.org/)

### Screenshot for Reference

![image](https://user-images.githubusercontent.com/10107543/135225114-7748dd11-cfe4-4e49-9956-0655565de049.png)

[2021-09-29 09:17] Ionys320 commented on #13006
Hi, after some tests, it seems that the branch had a problem, because trying to merge another branch on it was able to make VSCode crash too.

[2021-09-29 09:17] #13006 closed, assigned to sergiou87

[2021-09-29 09:28] sergiou87 commented on #13006
Thanks for reporting back! In theory the build I shared with you should've printed something. As you say, there might be something weird with that branch, my bet is it's either a really long `git` output in some command or that something in your branch (probably a commit message) has a special character that makes Desktop and VSCode blow up 😕  Maybe some kind of invisible character or something li

[2021-09-29 10:30] staabm opened #13043 "move github desktop to a new computer"
### Describe

is it possible to migrate/move my existing github desktop konfiguration/installation to a new computer?
I will copy over my projects folders with all the included `.git` folders and would love if I could somehow also copy over the github desktop configs, so I will not loose settings or alias-definition etc.

### Version & OS

windows 10 x64, latest version

### Expected behavior

I w

[2021-09-29 10:58] sergiou87 commented on #13039
This is working for me as expected: the noreply email address is shown in that dropdown. Is the public (non-private) version of your email address in that dropdown instead? 🤔

[2021-09-29 15:22] steveward commented on #13043
@staabm thanks for the issue. You should be able to move the `%AppData%\GitHub Desktop` directory to your new machine and overwrite the existing files. If your repositories are in the same directory paths then it should work fairly seamlessly. I hope that helps!

[2021-09-29 15:22] #13043 closed, assigned to nobody

[2021-09-29 15:23] steveward commented on #13042
Thanks for the issue @learning-zone. This has been previously requested in https://github.com/desktop/desktop/issues/11990 so you can follow along there for updates.

[2021-09-29 15:23] #13042 closed, assigned to nobody

[2021-09-29 18:57] TheOriginalGolem opened #13045 "Github Desktop not respecting Pull Request's Settings"
### Describe the bug
I have a fork of a repository. My fork receives updates through the main repo. I usually create a pull request on my fork which has their repo's commits going to mine. Normally if they can merge automatically, I do so online and there is no issue. But when there are conflicts I open the PR in github desktop and resolve the conflicts. But when I checked i saw the target branch

[2021-09-29 19:08] steveward commented on #13045
Thanks for the issue @TheOriginalGolem. Can you go to `Repository` > `Repository Settings` > `Fork Behavior` and check to see what option you have selected there?

[2021-09-29 19:28] TheOriginalGolem commented on #13045
It is set as "for my own purposes"

[2021-09-29 19:38] steveward commented on #13037
Thanks for the report @NotII.

Did GitHub Desktop previously work on this machine prior to upgrading to macOS 12? Is there any security software running on your machine that could be blocking GitHub Desktop?

[2021-09-29 20:08] NotII commented on #13037
Yes it did work prior to the update to macOS 12, there shouldn't be any security running on the machine which could block GitHub Desktop, If there's anymore info required, Ask and ill see if I can provide the required information

[2021-09-29 20:12] steveward commented on #13045
@TheOriginalGolem do you see any error messages when attempting to check out the branch in GitHub Desktop? There's a known bug with switching to a remote branch doesn't work (https://github.com/desktop/desktop/issues/4527).

It'd also be helpful if you could send over a recent log file from GitHub Desktop so that I could take a look. To access the log files go to the file menu in GitHub Desktop an

[2021-09-29 20:24] ferranases commented on #9367
Hi, I tried more than 25 commands/solutions, no one worked apart from change the internet conection from another.

[2021-09-29 22:30] klo1991qa opened #13046 "### Describe"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-09-30 02:20] iwsfg commented on #5373
Or rather than building nested context menus it can be made into a checkbox under the Advanced tab in the Options.

This way you can have opt-in, opt-out, allow user to change their mind later, allow marking menu item as Extended (so it only shows up if Shift key is being held) based on user preference and make menu item follow interface languages changes, although I don't see a setting for that a

[2021-09-30 07:54] #7081 closed

[2021-09-30 08:38] the-real-nps opened #13050 "SSH prompts not showing up on Windows"
### Describe the bug
I'm using the latest version 2.9.3 and #12756's functionality isn't there: when I try to clone using SSH URL and I don't have an appropriate entry in the known_hosts file it ends with "Authentication failed" error. If I have the appropriate entry in known_hosts then cloning works fine. But I have to add the entry by other means (e.g. "ssh URL" in the command line), GitHub Desk

[2021-09-30 09:05] sergiou87 commented on #13050
Hey @the-real-nps! 👋

Sorry to hear it doesn't work for you 😞  Could you share the app logs so I can take a look and see what's wrong? This has worked in my multiple tests on Windows and macOS, so I wonder what could be different here.

You can get the logs from `Help` -> `Show logs in Explorer`

[2021-09-30 10:45] rohitattaluri opened #13051 "Unable to squash the selected set of commits - Ongoing Interactive Rebase not detected"
### Describe the bug
Write a clear and concise description of what the bug is.
Recently I've installed the Github Desktop app in my MacBook pro. I'm able to pull/push/fetch from the origin. When I try to squash a bunch of commits it isn't working. Idk how to fix it or who can help me on this.

### Version & OS
<img width="578" alt="Screenshot 2021-09-30 at 4 06 31 PM" src="https://user-images.gith

[2021-09-30 12:03] the-real-nps commented on #13050
Unfortunately, I can't. It's an enterprise github and our company's policy prevents me from sharing stuff like that. But I can show you the error log:
[code]
Nothing else in the logs was relevant anwyay. Hope that helps. If I can help in any other way please let me know.

[2021-09-30 12:10] sergiou87 commented on #13050
No worries, thanks for that! Maybe the problem is you're not using an RSA key, that's a bug that was fixed in #12894 but it's not released yet.

Could you try and install the latest beta and see if it works there? 🙏

https://github.com/desktop/desktop#beta-channel

[2021-09-30 12:13] #13046 closed

[2021-09-30 12:27] the-real-nps commented on #13050
I've just tried the beta, unfortunately, same result, same error in the logs.

[2021-09-30 13:51] steveward commented on #13051
Thanks for the report @rohitattaluri. I was unable to reproduce any issues with squashing -- are you able to reproduce this across multiple repositories?

It would also be helpful if you could open up the Developer Tools  by going to `View` > `Toggle Developer Tools` > `Console`. Then try performing a squash again and let me know what is shown in the console window. This is what the normal output

[2021-09-30 14:18] sergiou87 commented on #13050
Ouch! Could you try enabling this setting to see if it helps?

![2021-09-30 at 16 17](https://user-images.githubusercontent.com/1083228/135472697-e237c8d3-92e5-4811-a12f-a4e009224867.png)

[2021-09-30 14:27] the-real-nps commented on #13050
I had OpenSSH enabled from the beginning.

[2021-09-30 14:39] sergiou87 commented on #13050
Cool! 👍  Then I'd say try two things:
1. Keep the `known_hosts` without the fingerprint from your enterprise server, and from a console run `ssh git@<your server>`. For example, if your repo was hosted on GitHub, it'd be `ssh git@github.com`
That should show a prompt (in the command line, I'd hope) asking you to confirm if that host should be added to `known_hosts`. It'd be great if you could shar

[2021-09-30 14:47] the-real-nps commented on #13050
It **does** work with OpenSSH disabled. But I assume we want it to work with OpenSSH too?

[2021-09-30 14:48] sergiou87 commented on #13050
Yay! Yeah, it should work with OpenSSH enabled too 😕  And in that case (1) from my previous message should help clarify if it failed to parse SSH's prompt 🤞

[2021-09-30 14:49] the-real-nps commented on #13050
Yeah, I'm going to check that but tomorrow.

[2021-09-30 14:50] steveward commented on #13037
@NotII can you try running `sudo ifconfig en0 down && sudo ifconfig en0 up` to reset your network adapter to see if that helps with this issue?

[2021-09-30 15:13] Skwara commented on #13050
@sergiou87 I think the regex you provided is not matching our (I work with @the-real-nps) prompt.
In our case it is:
[code]
The `\/\[fingerprint\]` part at the end of your regex is not matched.

[2021-09-30 15:23] rohitattaluri commented on #13051
Hey @steveward,

Firstly, I wanted to say thanks for taking time and reverting back to my issue.

- Currently I've only one repository with me.

As per the steps given in your comment, I've tried doing Squash again and I got this in the `Developer tools`.

You can find the errors in the below attachments.

<img width="427" alt="Screenshot 2021-09-30 at 8 17 58 PM" src="https://user-images.githubus

[2021-09-30 15:36] steveward commented on #13051
Thanks -- that error seems to indicate there is already a rebase in progress. Here's what I'd recommend:

1. Make a backup of your repository (just in case)
2. Open the repository in the Terminal
3. Run `git rebase --abort`

That should hopefully get things working.

[2021-09-30 16:01] rohitattaluri commented on #13051
Thanks for the quick help @steveward . Now I'm able to squash the commits as expected. Thanks ton!!

This is the first time I'm using GitHub desktop and don't remember when I've trying to `rebasing`.

Shall I close the ticket or would you @steveward ??

[2021-09-30 16:10] sergiou87 commented on #13050
Hah! Interesting, thank you so much for the info! I'll make that part optional to fix this ASAP ❤️

[2021-09-30 16:25] Skwara commented on #13050
I wonder why you decided to make the regex so specific? Are there any drawbacks for just making it `^The authenticity of host .*` or something in between?
Also, if you want to be specific, then you should escape the line ending dots for line 1 and 2.

[2021-09-30 16:49] NotII commented on #13037
@steveward not sure if thats going to work as i stated i have found a temporary work around for such. if it happens again i can try it again

[2021-09-30 17:02] steveward commented on #13037
I'll close this out for the time being -- feel free to drop a reply in the future if you'd like for us to investigate this further.

[2021-09-30 17:02] #13037 closed, assigned to nobody

[2021-09-30 17:08] steveward commented on #13051
I'm glad to hear that got things working. I'm going to leave this open so that we can add detection for when a rebase is in process and surface the error if a squash is attempted.

[2021-09-30 18:39] digitalentropy commented on #8989
I'd like to chime in here and say that it feels like a glaring omission that there is no ability to comment on, or manage issues in the desktop client considering it's such a integral part of team-based development. There are plenty of folks who for different reasons do not leave their browser logged into web apps (clearing all cookies automatically).

Please, please, add this. I don't understand

[2021-09-30 19:05] rohitattaluri commented on #13051
Cool @steveward 🤟
and is there possibility to show an error popup on the UI, mentioning the reason of why squash got failed earlier when I tried??

[2021-09-30 19:18] steveward commented on #13051
@rohitattaluri that's the plan. Thanks for helping us catch this!

[2021-09-30 20:05] steveward commented on #1482
Thanks to the work of @sergiou87 in https://github.com/desktop/desktop/pull/12554 we now detect these scenarios and prompt for authentication. ✨

[2021-09-30 20:05] #1482 closed

[2021-09-30 23:15] omavi commented on #13039
Yes, exactly. The noreply email address is missing from the dropdown while my normal email address that I hid is in the dropdown. Maybe it's because I just set it up and I assume you already had yours configured?

[2021-10-01 03:15] bbodenmiller opened #13052 "Lefthook Git hook returning executable file not found in %PATH%"
### Describe the bug
Lefthook Git hook returning `executable file not found in %PATH%` when run from GitHub Desktop however does not throw error when run from Git bash

### Version & OS

Version 2.9.3

Windows 1809

### Steps to reproduce the behavior

1. Install [Lefthook](https://github.com/evilmartians/lefthook) to `PATH` & run `lefthook install`
2. Add `lefthook.yml` to repo folder as follows

[2021-10-01 03:16] bbodenmiller commented on #13052
Hooks in GitHub desktop don't have access to `$PATH`? 🤔

[code]

Results in:

![image](https://user-images.githubusercontent.com/1192780/135560034-9fa2d0ee-cc9f-4e68-b827-bf1b65603ea2.png)

[2021-10-01 03:30] haacked commented on #6407
@billygriffin another option to consider. A filter on the changes list never hides changes. Instead, it sorts the changes - first those that match the filter followed by those that don't - and applies different styles to those that match and those that don't match the filter.

Render the changes that don't match in a less prominent style (reduced opacity, greyed out, etc) so it's obvious that they

[2021-10-01 04:06] sheetalshingate opened #13053 "home page"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-01 06:15] Envek commented on #13052
Lefthook maintainer is also here. Yep, there is a problem with `$PATH` population for hooks when commit is being made from within GitHub Desktop and other GUI tools on various OSes. See also https://github.com/evilmartians/lefthook/issues/178#issuecomment-833305335 for more details.

[2021-10-01 06:46] niik commented on #13053
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-10-01 06:46] #13053 closed, assigned to nobody

[2021-10-01 07:48] #13014 closed, assigned to nobody

[2021-10-01 09:43] gingerbeardman commented on #6407
Still need this daily.

[2021-10-01 11:00] sergiou87 commented on #13039
I don't think that's it, I just set it up to test this and I saw it immediately. I had to restart the app though, so that it'd refresh the account emails. Did you do that?

[2021-10-01 11:02] sergiou87 commented on #13050
We're parsing the host, IP, the kind of key (RSA, ECDSA…) and the fingerprint itself, but it's true we could skip the third line. I'll see if we can make this a bit more resilient, thank you! ❤️

[2021-10-01 11:52] MrBartusek opened #13054 "Commit doesn't update after creating a tag"
### Describe the bug

When a tag is created by commit context menu it doesn't update the UI

### Version & OS

Version 2.9.3 (x64) on Windows 10

### Steps to reproduce the behavior

1. Go to commits list on any repo
2. Right click on any commit -> create a tag
3. Create a tag with any name
4. See error

### Expected behavior

A commit should update when a tag is created

### Actual behavior

It d

[2021-10-01 13:10] omavi commented on #13039
Yes, I did before opening this issue since I saw your reply on another issue: https://github.com/desktop/desktop/issues/12402#issuecomment-856634066.

I just tried again on two different machines and that didn't help either; however, I realized that I should try signing out and back in. That totally worked. Thanks @sergiou87!

[2021-10-01 13:53] sergiou87 commented on #13039
I'm surprised (but glad) that worked! 😂

In any case, thanks for reporting back! ❤️

[2021-10-01 13:53] #13039 closed, assigned to sergiou87

[2021-10-01 15:51] uberspeck commented on #4194
I just ran into this issue today for the first time after using Github desktop for years. I just did a rebuild of my MacBook and a fresh install of Github Desktop refuses to discard changes. For that matter, `git checkout -- path/to/file` and `git restore path/to/file` don't seem to work either 😬

[2021-10-01 17:02] leopucci commented on #4194
Aren't those files open in some editor or running some program from the folder @uberspeck ? In my case I solved when I released the lock of running files and folders

[2021-10-01 17:07] TheOriginalGolem commented on #13045
Found a better git client.

[2021-10-01 17:07] #13045 closed, assigned to nobody

[2021-10-01 19:00] emsd1981 commented on #13045
Check

[2021-10-02 09:50] #12388 closed, assigned to nobody

[2021-10-02 10:53] jaimecont opened #13057 "Archimate tool Archi not authorized import/publish to Github"
I have installed the archi plugin for collaboration. I am trying to import archi models from Github to start collaboration but I did received the notification NOT AUTHORIZED. I can create the Github repository using Github desktop but I can not import using Archi tool.

![image](https://user-images.githubusercontent.com/91664057/135713175-dc8cc332-1f3b-4584-b42f-99d92d744730.png)

[2021-10-03 07:50] klo1991qa opened #13058 "### Describe the bug"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-10-03 10:01] Glutexo commented on #12735
Experiencing the same behavior here with 2.9.3 (x64) on Windows 10.

1. Create a new repository setting Local Path to _C:\Users\Glutexo\Documents\repos_ and Name to _first_.
2. See that _C:\Users\Glutexo\Documents\repos\first_ was created and is a Git repository. _C:\Users\Glutexo\Documents\repos_ is not a repository.
3. Try to create another repository setting Local Path to aging _C:\Users\Glutex

[2021-10-03 13:20] Jurek54321 commented on #4115
Hello-World

[2021-10-03 13:22] Jurek54321 commented on #4115
https://github.com/desktop/desktop/issues/4115#issuecomment-932949879

[2021-10-03 15:11] omavi commented on #13039
Same here and of course. I really appreciate your insight and speedy responses! 🙂

[2021-10-03 15:39] agungmuliawan commented on #9662
same with me

[2021-10-04 04:57] migueljb001 commented on #8694
So if I run Git Bash in administrator mode and run this command -  git config --global core.longpaths true
This will globally set all new cloned repositorys to accept long names from here on out?  Any help would be appreciated.

[2021-10-04 06:31] niik commented on #13057
Hi @jaimecont, I'm afraid I'm not familiar with that tool and unfortunately we're not able to provide support for any software other than GitHub Desktop. I'd suggest reaching out to the authors of Archi tool to see if they can assist you with authenticating. Best of luck!

[2021-10-04 06:31] #13057 closed, assigned to nobody

[2021-10-04 06:32] niik commented on #13058
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-10-04 06:32] #13058 closed

[2021-10-04 12:05] jaimecont commented on #13057
Thanks Markus.

At final, I found a solution... :-)

El lun, 4 de oct. de 2021 a la(s) 08:31, Markus Olsson (
***@***.***) escribió:

[2021-10-04 13:10] steveward commented on #8694
@migueljb001 that's correct. It will set the option in your `.gitconfig` to allow longer file paths than the Windows default.

[2021-10-04 16:02] gg187on commented on #2197
Hello, I would like to work on this issue, if it's avaiable.

[2021-10-04 17:53] #13023 closed, assigned to nobody

[2021-10-04 19:36] nycdotnet commented on #2197
go for it imo

[2021-10-04 19:53] Jaka1111 opened #13060 "jaka"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-04 23:26] frumbert commented on #3754
so ... is this on the roadmap somewhere we can upvote for it? for me it's the reason i DO NOT use github desktop anymore.

[2021-10-04 23:36] #13060 closed

[2021-10-05 07:04] xJona171 opened #13061 "isue"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-05 07:31] #13061 closed, assigned to nobody

[2021-10-05 07:55] sergiou87 commented on #13050
@Skwara @the-real-nps a new beta went out yesterday that should fix this issue 😄
Please give it a try and let us know! Thank you for your patience and help 🙇‍♂️

[2021-10-05 08:16] the-real-nps commented on #13050
Unfortunately, it doesn't work (Version 2.9.4-beta4 (x64)). I've tested the output (prompt) from `ssh <URL>` against the new regex: `^The authenticity of host '([^ ]+) \(([^\)]+)\)' can't be established[^.]*\.\n([^ ]+) key fingerprint is ([^.]+)\.` Note that I wasn't able to do it directly: `ssh <URL> | grep ...` doesn't redirect the prompt message to `grep`. So I manually copied the entire prompt

[2021-10-05 08:43] sergiou87 commented on #13050
😐
What I don't understand is why your ssh is printing that string 🤔  AFAIK it's using OpenSSH, and it always uses `\n` and shows `[fingerprint]` as an option when the prompt starts with `The authenticity of host` (see https://github.com/openssh/openssh-portable/blob/53237ac789183946dac6dcb8838bc3b6b9b43be1/sshconnect.c#L1169).

Could you open a command line and run this?
`c:\Windows\System32\OpenS

[2021-10-05 09:01] Skwara commented on #13050
It also didn't help on my side on `2.9.4-beta4`
OpenSSH version: `OpenSSH_for_Windows_7.7p1, LibreSSL 2.6.5`
Windows version: `Windows 10 Enterprise, version 1809, OS build 17763.2183`

[2021-10-05 09:11] the-real-nps commented on #13050
I have the same setup.

Like I said, I don't know if my ssh prints `\n` or `\r\n` as Windows might be adding `\r` during copying.

[2021-10-05 09:22] sergiou87 commented on #13050
Cool, thanks for that info! I see that version of OpenSSH for Windows indeed has a `(yes/no)` string instead: https://github.com/PowerShell/openssh-portable/blob/9369d870ade51a44f4c2b7b7f1202fe1fdf7e7bb/sshconnect.c#L1080-L1085

I don't see `\r\n` being used in that prompt, though. Let's see if I can get that version of OpenSSH for Windows and reproduce this myself…

[2021-10-05 09:32] the-real-nps commented on #13050
My exact ssh prompt message is:

`The authenticity of host '<URL> (<IP address>)' can't be established.`
`ECDSA key fingerprint is SHA256:<SHA hash>.`
`This key is not known by any other names`
`Are you sure you want to continue connecting (yes/no/[fingerprint])?`

[2021-10-05 09:38] sergiou87 commented on #13050
And it's parsed correctly according to this… https://regex101.com/r/IFOJoV/1

![image](https://user-images.githubusercontent.com/1083228/135998855-24f91c0b-34e9-4d27-8c22-3c016e53f006.png)

🤯

[2021-10-05 09:39] the-real-nps commented on #13050
Well, for me it all matched except for the possible `\r`.

[2021-10-05 10:22] sergiou87 commented on #13050
Could you try to do this with that beta4?

https://user-images.githubusercontent.com/1083228/136005156-e1bcbf55-a0a2-4266-be07-12d6f270029a.mov

Basically, in the developer tools, go to `ssh.ts` and put a breakpoint in the `if` that checks the results of matching the regex. Then, attempt to fetch/clone the ssh-based repository to make the debugger pause at the breakpoint. In that context, `e` is t

[2021-10-05 10:38] the-real-nps commented on #13050
I did that and it didn't even pause at the breakpoint. In the debugger I got 2 errors:

stderr:
Host key verification failed.
fatal: Could not read from remote repository.

stderr:
Cloning into: '`<dir>`'...
Host key verification failed.
fatal: Could not read from remote repository.

[2021-10-05 10:39] Skwara commented on #13050
What I did:
1. I set the breakpoint on ssh.ts:79.
2. I removed `known_hosts` file.
3. I tried to clone the repo via ssh - the app didn't stop on the breakpoint and I got the usual error.

Because of the above, I did the following:
1. I brought back `known_hosts` file.
2. I cloned the repo successfully.
3. I removed `known_hosts` file.
4. I pressed "Fetch" - the app didn't stop on the breakpoint an

[2021-10-05 10:42] VishalModi12 opened #13062 "not able to restart Github. It keeps crashing"
Error: read ENOTCONN
    at tryReadStart (net.js:573:20)
    at Socket._read (net.js:584:5)
    at Socket.Readable.read (_stream_readable.js:467:10)
    at Socket.read (net.js:624:39)
    at new Socket (net.js:376:12)
    at Object.Socket (net.js:267:41)
    at createSocket (internal/child_process.js:314:14)
    at ChildProcess.spawn (internal/child_process.js:437:23)
    at spawn (child_process.j

[2021-10-05 11:22] sergiou87 commented on #13050
Hah! That's interesting. Maybe there is another prompt we aren't expecting or you're having a different error, so it's never getting to that SSH prompt 😐

Try setting a breakpoint at line 94 of `trampoline-askpass-handler.ts` and inspect the contents of `e` (which in that context corresponds to `command`):

![2021-10-05 at 13 16](https://user-images.githubusercontent.com/1083228/136012994-76ab75d2

[2021-10-05 11:34] Skwara commented on #13050
I can see that upon fetching, the `command.parameters` array is empty (but the breakpoint on line 94 is reached).
I've set breakpoints at lines 90, 91 and 94. It reaches them all one by one even though we have a return there. What is going on?!

[2021-10-05 12:45] steveward commented on #13062
Thanks for the report @VishalModi12. We've had some reports of this previously (https://github.com/desktop/desktop/issues/11441).

- What operating system are you running on this machine?
- Have you tried restarting your machine to see if that helps?

[2021-10-05 12:50] steveward commented on #3754
@frumbert the best way to give feedback is to upvote the issue since that lets us know it's a desired feature and helps us to prioritize future product decisions.

[2021-10-05 13:25] sergiou87 commented on #13050
Hmm AFAIK it's not entirely weird to see how it "skips" the `return` since what you are seeing there is the original source code, but not what is actually running (hence why I tell you to inspect `e`, or `t` or things like that), which is the TypeScript code transpiled to JS and then minified/optimized.

Did you check `command.parameters` or `e.parameters`? In a production/beta build `command.para

[2021-10-05 13:29] Skwara commented on #13050
I inspected `e` and I see `parameters: Array(0) length: 0`.

[2021-10-05 13:33] sergiou87 commented on #13050
😥  Then I don't understand anything 😐

We can also try to run whatever GitHub Desktop is doing. If you have something like Git Bash, you can try this:
[code]

Where those `[...]` are what you see in the logs. The `GIT_SSH_COMMAND` env variable will make `git` use Windows' OpenSSH, which is the one failing. With that, you should be able to see the same behavior, or that's what I'd expect 🤞

[2021-10-05 13:53] Skwara commented on #13050
`git -c credential.helper= -c init-defaultBranch=master clone --recursive --progress -- <url>`
While running the above (in Git Bash), I get a popup error window with the following:
Title: `Error!`
Message: `Usage: git askpass <prompt>`
Buttons: `OK`

After clicking on `OK`, I get the usual:
`Host key verification failed.`

[2021-10-05 14:06] the-real-nps commented on #13050
I get a different result (also Git Bash):

[2021-10-05 14:07] Skwara commented on #13050
I also tried running it in windows CMD. It asked me about adding to known_hosts and cloned without problems.

[2021-10-05 14:08] Wohlstand opened #13063 "Manualy created order groups for repositories list"
Hello!

Recently I got an idea to request the ability to make own groups and sort repositories among them. Mainly, I do develop of various projects, and almost every project unites many repositories. Or, separate repositories I do for my main work, and repositories of my own projects I do at my home as a hobby.

### Proposed solution

Users will be able to have their own manual grouping of reposit

[2021-10-05 14:14] sergiou87 commented on #13050
Could you try removing the `-c credential.helper=` part? I'm surprised it asks for askpass with just those parameters… O_o

[2021-10-05 14:15] the-real-nps commented on #13050
Same result for me without `-c credential.helper=`.

[2021-10-05 14:39] VishalModi12 commented on #13062
It worked after restarting my system. I was working on MacBook air.

Thanks,
Vishal Modi

On Tue, Oct 5, 2021, 18:15 Steve Ward ***@***.***> wrote:

[2021-10-05 15:20] steveward commented on #13062
@VishalModi12 thanks for the update -- I'm going to close this out but let me know if you continue to run into this.

[2021-10-05 15:20] #13062 closed, assigned to nobody

[2021-10-05 15:21] steveward commented on #11441
@frankhli843 are you still encountering this crash? We just had another report of this so I wanted to follow up.

[2021-10-05 15:42] steveward commented on #13063
Thanks for the feedback @Wohlstand. See [this comment](https://github.com/desktop/desktop/issues/10201#issuecomment-658693653) for more information about why we do not have plans to implement repository grouping at this time. Thanks for using GitHub Desktop!

[2021-10-05 15:42] #13063 closed, assigned to nobody

[2021-10-05 15:51] Wohlstand commented on #13063
Okay, maybe, alternatively, add the tagging instead? I mean, let users assign to repositories in the list specific tag, and let user filter them by tag in the list, should be simpler to implement. This doesn't mean any grouping mechanism changes. Just will allow filter the showing of repos in the list by tag, keeping the same grouping as now.

[2021-10-05 17:44] tidy-dev commented on #13063
@Wohlstand Something that may help you -  If you right click a repo name, you can `Create Alias`. Then, you could preface or suffix the repos for a specific project to your preference, and the filter by that convention.

Example: I just prefaced these two repos with Project 1 and then filtered by it.
![image](https://user-images.githubusercontent.com/75402236/136075244-c0b39bf3-7dd9-4407-be2e-50b2

[2021-10-06 04:08] Juanbh891063 opened #13067 "funciones matemáticas para app"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.
Liquidar impu

[2021-10-06 07:14] #13067 closed

[2021-10-06 08:02] Taefive55 commented on #12841
#13067

[2021-10-06 08:03] Taefive55 commented on #12841
#13067

[2021-10-06 08:43] Sergio0694 commented on #12694
+1 to this.
I can easily avoid having to pull up git CLI in most cases now that I can squash and reorder commits from the GitHub Desktop app and then force push from there, but cases where I need to also drop commits are the only ones where I'm still forced to go back to the terminal. Being able to drop commits as suggested would be awesome. A few of my teammates also using the GitHub Desktop app

[2021-10-06 08:47] sergiou87 commented on #12943
Hey @ittaibaratz! The fix should be out now with version 2.9.4. Let me know if that helps 😄

Thank you for your patience 🙇‍♂️ ❤️

[2021-10-06 08:50] sergiou87 commented on #12862
Hello! 👋

We just released version 2.9.4 which includes an improvement @niik beautifully crafted for this 😍  We hope it makes this scenario much clearer now! 😄

[2021-10-06 09:34] sergiou87 commented on #13050
I am completely clueless here… I don't understand why it fails the host key verification without prompting first. Do you have anything in your `~/.ssh/config` maybe? I wish I could reproduce that behavior here 😕

[2021-10-06 09:37] the-real-nps commented on #13050
Don't even have `~/.ssh/config`.

[2021-10-06 12:47] awnumar opened #13070 "GitHub Dektop ignores the setting to disable automatic fetching of remote"
### Describe the bug

GitHub Desktop by default pulls remote periodically. This is not a feature that I want as it polls my 2FA token and prompts for a password every time, disturbing my workflow. Also, in many cases I have local changes and do not want to deal with remote changes yet.

Fortunately, there is an option in settings to disable this behaviour:

![image](https://user-images.githubuserc

[2021-10-06 12:51] niik commented on #13070
Hey @awnumar, thanks for reaching out and I'm sorry to hear you're having problems with GitHub Desktop. Fetching the currently selected repository in the background or not is not configurable at the moment. Please see https://github.com/desktop/desktop/issues/10687 which is tracking being able to disable fetching of the current repository.

I'm curious, are you using SSH remotes in your workflow?

[2021-10-06 12:51] #13070 closed, assigned to nobody

[2021-10-06 13:48] Peaj opened #13071 "Add "Initialize local repository" to file menu"
### Describe the feature or problem you’d like to solve

The option to add and initialize a repository from an existing folder is hidden serveral steps behind "Add local repository".
Before today I didn't even know that an "Init Repository" dialog exists.
I was using a workaround by via the "New Repository..." entry and naming the repo exactly like the existing folder.

### Proposed solution

Add

[2021-10-06 13:54] ScyllaHide commented on #3707
I love how this is still crap. I have 4 accounts (3 non github) and i have no idea how to set my current github account to create repos.

How hard can it be?!

[2021-10-06 14:15] awnumar commented on #13070
@niik Thanks for the reply.

My SSH key is stored inside a YubiKey. I have to enter the YubiKey password for remote operations. There is a cooldown so that if I do multiple operations in a row it only prompts me for a password the first time, although this resets after a few minutes and also resets if I put my laptop to sleep or lock my screen.

It's also really scary for my YubiKey password promp

[2021-10-06 14:20] awnumar commented on #10687
@raginpirate

I ran into this this in #13070 as well.

+1 on this feature, the current behaviour is really surprising and interrupts my workflow. I've added context about my workflow [here](https://github.com/desktop/desktop/issues/13070#issuecomment-936317534).

[2021-10-06 15:04] gpinkas commented on #10037
I would also really appreciate that feature. What about displaying the branch name beside the repository name like so?

![image](https://user-images.githubusercontent.com/54795296/136230488-2a4b1335-bf25-450e-8480-6241b88692e7.png)

[2021-10-06 15:11] gpinkas commented on #11995
There is another duplicate #10037 where I posted more or less the same suggestion:

![image](https://user-images.githubusercontent.com/54795296/136231826-33096f67-0c53-43f0-a1a1-021b7641eb10.png)

[2021-10-06 15:42] CodeSharp5 commented on #12987
Did anyone read the SquirrelSetup*.log?
Line 3: 20504> 2020-04-15 21:55:43> Program: About to install to: C:\Users\matth\AppData\Local\Discord
Why would GitHub Desktop's installer be writing in this guy's Discord folder?

[2021-10-06 15:45] steveward commented on #12987
@CodeSharp5 Discord also uses Squirrel, which is why there you are seeing that in the log file. This Squirrel installer log will log output from any application that uses Squirrel.

[2021-10-06 15:53] CodeSharp5 commented on #12987
So the installer log is the cumulative report of everything that Squirrel has installed?  I was thinking it was just the log for the current app being installed, and freaking about it touching other apps suspiciously.
Thanks.

[2021-10-06 20:46] steveward commented on #13035
@Gr8z I'd recommend trying [this workaround](https://stackoverflow.com/questions/52747051/github-clone-to-desktop-uses-tortoisegit-instead-of-github-desktop/57905263#57905263) until we have a better fix for this. Let me know if that doesn't get things working.

[2021-10-06 21:04] Chris-Petty commented on #12862
@sergiou87 @niik Had a quick play around, nice! This would have definitely informed me when I was unaware, scared and confused 😁

[2021-10-06 22:45] ittaibaratz commented on #12943
Works like a charm! Thanks @sergiou87  and @steveward !

[2021-10-06 23:25] percy507 commented on #9722
+1.
Allow reverse git history for reading source code from first commit.🥸

[2021-10-07 07:46] luispurex opened #13077 "bag report"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-10-07 07:46] luispurex opened #13078 "issue"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-07 07:47] niik commented on #13077
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-10-07 07:47] #13077 closed, assigned to nobody

[2021-10-07 07:47] niik commented on #13078
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-10-07 07:47] #13078 closed, assigned to nobody

[2021-10-07 09:54] yuvarajs1 opened #13079 "Getting SSL certificate expire error"
<img width="1440" alt="Screen Shot 2021-10-07 at 3 23 54 PM" src="https://user-images.githubusercontent.com/47660168/136362311-cbe083e0-e65a-490a-9119-248b2f51ca3d.png">

[2021-10-07 09:57] niik commented on #13079
Hi @yuvarajs1, thanks for reaching out. The problem you're seeing is due to an expired certificate on your hosted GitLab instance. Assuming your system clock is set correct there's unfortunately nothing we can do to help out here since Desktop is behaving as intended (alerting you to a possible security issue). I would suggest reaching out to the administrator(s) of your hosted GitLab instance int

[2021-10-07 09:57] #13079 closed, assigned to nobody

[2021-10-07 11:28] tidy-dev commented on #13071
@Peaj Thanks for the suggestion! As you pointed out this could be part of a solution for #9651, thus, I am going to close this in favor of tracking the issue there.

[2021-10-07 11:28] #13071 closed, assigned to nobody

[2021-10-07 11:29] tidy-dev commented on #9651
Similar issue - #13071,
Describe the feature or problem you’d like to solve
The option to add and initialize a repository from an existing folder is hidden serveral steps behind "Add local repository".
Before today I didn't even know that an "Init Repository" dialog exists.
I was using a workaround by via the "New Repository..." entry and naming the repo exactly like the existing folder.

Proposed

[2021-10-07 11:39] tidy-dev commented on #11995
Since this ticket's issue more generalized to distinguishing between duplicate repos and we now have repo aliasing that can handle that scenario (Right click on repo in repo list and `Create Alias`). I am going to close this one and leave #10037 open for tracking the branch name suggestion.

[2021-10-07 11:39] #11995 closed, assigned to nobody

[2021-10-07 11:59] xPaw opened #13081 "Allow repository menu actions (like show in explorer, open terminal) during conflict resolution"
### Describe the bug
Most menu items are disabled when in conflict resolution mode.

### Version & OS

Version 2.9.4 (x64) on Windows 10.

### Steps to reproduce the behavior

1. Start a rebase and get into a conflict
2. Close the rebase windows
3. Click on Repository menu

### Expected behavior

Menu items like View on github, open in terminal, open in explorer are available.

### Actual behavior

[2021-10-07 14:09] steveward commented on #13081
Thanks for reporting this @xPaw!

[2021-10-07 14:28] tidy-dev commented on #13081
This appears to be a regression - I pulled version 2.7.0 and those menu items were enabled when resolve conflicts banner is present (But not when resolve conflicts dialog is present).

[2021-10-07 14:37] wr-bezborodko-daria commented on #10326
The issue still reproduces. Version 2.9.4 (x64)

[2021-10-07 15:06] diev opened #13082 "Unsupported proxy, libcurl is built without the HTTPS-proxy support."
### Describe the bug

Trying to clone a GH repository through a corporate http proxy fails.

### Version & OS

Version 2.9.4 (x64) & Microsoft Windows 8.1

### Steps to reproduce the behavior

1. Go to 'File \ Clone...'
2. Click on 'Clone'
3. See error

### Expected behavior

To get the repository cloned without error messages.

### Actual behavior

Error message:

Cloning into 'C:\Repos\ConvertFR

[2021-10-07 15:19] steveward commented on #12735
@lbferrand are you still encountering this issue? Is it possible you have nested Git repositories? You can try searching your machine for `.git` to see if there is an accidental repository that was created somewhere.

@Glutexo I wasn't able to reproduce the issue on Windows 10. Are you only storing repositories in your `repos` directory?

[2021-10-07 15:21] lbferrand commented on #12735
The issue is solved. Thanks! Regards

On Thu, Oct 7, 2021 at 11:19 AM Steve Ward ***@***.***> wrote:

[2021-10-07 15:36] #12735 closed, assigned to nobody

[2021-10-07 17:07] steveward commented on #13082
@diev thanks for the report. It looks like you need to manually configure your proxy. You can do that by running this command (you will need to install Git for Windows if you have not already):

`git config --global http.proxy http://proxyuser:proxypwd@proxy.server.com:8080`

Replace `proxyuser` with your proxy username and `proxypwd` with your proxy password (if needed). Also, `proxy.server.com:8

[2021-10-07 18:06] Xeoneid opened #13086 "Kotlin syntax highlight is buggy on literal fun names"
### Describe the bug
When showing Kotlin code in which a function is named as a literal ( ```fun `this is a function name with spaces`()``` ) the syntax highlight is shown incorrectly, specially when the function name uses reserver keywords such as `when` .

### Version & OS

Version 2.9.4 (x64) macOS (not M1) BigSur.

### Steps to reproduce the behavior

1. Commit a .kt file with this code:
[code

[2021-10-07 18:45] steveward commented on #13086
Thanks for the report @Xeoneid! It looks like this has already been [reported in CodeMirror](https://github.com/codemirror/CodeMirror/issues/5775). If a fix gets merged in we'll eventually update the version of CodeMirror we ship with GitHub Desktop to fix this.

[2021-10-07 20:03] steveward commented on #12890
@pkgodara closing this issue out for the time being to help keep our issue tracker manageable, but let us know if you continue to run into this.

[2021-10-07 20:03] #12890 closed, assigned to nobody

[2021-10-07 20:33] steveward commented on #12738
@Nuthouse01 thanks for the report, and apologies for not getting back to you.

I was unable to reproduce any issues with committing after resolving conflicts from restoring a stash. Stashing not working is expected after resolving conflicts. Running a `git stash` from the command line will show a `needs merge` error as well and not allow you to stash until the resolved conflict is committed.

The

[2021-10-07 21:07] nitinthewiz opened #13089 "v2.9.4 removed option to open repo in Sublime Text"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS
Desktop v2.9.4
OS  - MacOS Catalina 10.15.7

### Steps to reproduce the behavior

1. Go to a repo
2. Under No Local Changes, it should show Open in Sublime Text. The other option of Show in Finder still exists.
3. After update from 2.9.3 it only shows Open in XCode (which is not my editor of choice)

#

[2021-10-07 21:26] diev commented on #13082
Well, this has solved my issue completely! Thank you. Just correct your error message to advise this, please.

[2021-10-07 21:26] #13082 closed, assigned to nobody

[2021-10-08 02:40] luispurex opened #13090 "Bug"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-08 07:50] #13090 closed, assigned to nobody

[2021-10-08 09:42] camkon commented on #6605
This happens because the "git-remote-http.exe" file and the desktop app are in different places. So, finding the said file and add it to path in system variables so the desktop app could access it from anywhere would solve the issue. The "git-remote-https.exe" file is most likely found in -
_"C:\Users\'UserName'\AppData\Local\GitHubDesktop\app-2.9.4\resources\app\git\mingw64\bin"._

Find yours and

[2021-10-08 10:39] jcansdale commented on #9651
@tidy-dev,

I have a minimal fix for this issue in https://github.com/desktop/desktop/pull/10081. As @niik points out, the original code seems overly complex and would benefit from a refactoring. Unfortunately I haven't had the bandwidth to clean it all up.

The way this functionality works at the moment is confusing and I wonder if the minimal fix might be worth testing/merging? I'm not precious

[2021-10-08 11:18] sergiou87 commented on #13089
Hi @nitinthewiz! 👋

In theory, we haven't done anything in the latest version that could affect the integration with Sublime Text. I can confirm it works for me. Could you check in the app Settings -> Integration and see if it's listed among the other editors?

If it's not in there, could you provide logs to see if the app mentions something about it?

Thank you!

[2021-10-08 13:38] Ddreig opened #13091 "Ability to choose installation location when Installing Github for desktop"
### Describe the feature or problem you’d like to solve

As stated like the title, would like to have the ability to choose where to install GitHub for Desktop other than the current location. This is to prevent, in my case, from installing at the OS drive  as I would like it to install it at another drive.

### Proposed solution

Enable option to install GitHub for Desktop at another location.

[2021-10-08 16:53] matthew-wilford commented on #12987
Hello everyone, sorry for the late reply. This weekend, I am replacing my laptop's HDD with an SSD. Hopefully, this resolves the issue. Someone I know believes that the issue is related to fragmentation in the HDD. I have had problems in the past installing a few apps (Logitech Options and Scenebuilder). If this does not resolve the issue, I will likely buy a new laptop because my laptop is aging

[2021-10-08 18:18] nitinthewiz commented on #13089
Hi Sergio!

Seems like I gave it a night and the option came back. Could have something to do with restarting the GitHub Desktop app a few times and finally updating Sublime Text 3 to the latest stable build.

Not sure, which, but closing the ticket now.

Thanks!

[2021-10-08 18:18] #13089 closed, assigned to sergiou87

[2021-10-08 18:57] steveward commented on #13091
Thanks for the feedback @Ddreig. The installer we use (Squirrel) does not allow for customizing the installation directory.  See [this response](https://github.com/desktop/desktop/issues/10768#issuecomment-706096056) for some more details. You can follow along in https://github.com/desktop/desktop/issues/1086 for installation improvements, but at this time we don't have any plans to change the ins

[2021-10-08 18:57] #13091 closed, assigned to nobody

[2021-10-08 19:40] darck-storm commented on #13035
hello mi brader

[2021-10-08 19:41] darck-storm commented on #13035
im darck storm
_

[2021-10-08 20:49] luismendes070 opened #13097 "git push react-native github desktop"
### Describe the bug
Write a clear and concise description of what the bug is.

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

Write a clear and concise description of what

[2021-10-09 17:34] ArchivingToolsForWBM opened #13098 "Github desktop - Display who's logged in"
### Describe the feature or problem you’d like to solve

- The website version viewed on a browser shows who logged in on the top-right corner.
- On the desktop software version, to view the who's logged in, you have to click File -> Options...

### Proposed solution

I was thinking displaying the account more clearly without any additional clicks on the software version similarly to the site vers

[2021-10-09 19:07] standardgalactic opened #13099 "Accidentally logged into multiple accounts."
After logging into and out of another account, the command line interface denies access, still thinking  I am the other users. Although I can't find any way to "log out" other than logging in and checking my git config --global s.

[2021-10-09 19:27] #13099 closed, assigned to nobody

[2021-10-09 19:33] standardgalactic commented on #13099
Just needed to delete an entry in the Windows Credentials .

[2021-10-09 20:53] roosterroosie opened #13100 "Adding repositories goes into random accounts"
### Describe the bug
repositories being messed up when creating new repositories, when adding new repositories they go all over the place

### Version & OS

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you are using.

### Steps to reproduce the behavior

1. Go to 'File'
2. Click on 'Add local repository'
3. Select a repository and click

[2021-10-10 13:06] f00k commented on #13089
Sublime Text disappeared from the "Right Click -> Open In" dropdown menu and External Editors list on the Integrations screen after the update for me too, leaving Visual Studio Code as the only option as External Editor.

I do not know if I updated from the previous one or I was several builds behind the latest version - but I'm 100% sure the update removed Sublime Text as an option.

Restarting t

[2021-10-10 13:12] prajasendiwardanu opened #13102 "GUI"
![1](https://user-images.githubusercontent.com/91949629/136697237-8beacd61-d0b8-4350-8be3-9e752a686f2b.png)

[2021-10-10 13:12] prajasendiwardanu commented on #13102
![2](https://user-images.githubusercontent.com/91949629/136697282-456111b4-3b1a-4106-aef7-25e0afa51bb8.png)

[2021-10-10 13:13] prajasendiwardanu commented on #13102
![3](https://user-images.githubusercontent.com/91949629/136697291-20a67775-d5f3-4c1e-8c41-59d7e0c07017.png)

[2021-10-10 13:13] prajasendiwardanu commented on #13102
![Uploading 4.png…]()

[2021-10-10 13:14] prajasendiwardanu commented on #13102
![4](https://user-images.githubusercontent.com/91949629/136697323-fdf23906-763b-4300-946b-23f262a11d34.png)

[2021-10-10 13:14] prajasendiwardanu commented on #13102
![5](https://user-images.githubusercontent.com/91949629/136697332-6ad82e2d-29a8-4316-977a-f67e9bc31fdc.png)

[2021-10-10 13:14] prajasendiwardanu commented on #13102
![6](https://user-images.githubusercontent.com/91949629/136697337-6927b1ec-a491-4e35-9894-f9bbf09833bd.png)

[2021-10-10 13:14] prajasendiwardanu commented on #13102
![7](https://user-images.githubusercontent.com/91949629/136697347-485443c2-fa0f-41e0-bac3-780513976dfa.png)

[2021-10-10 13:15] prajasendiwardanu commented on #13102
![8](https://user-images.githubusercontent.com/91949629/136697361-7d629e7f-4859-48ec-904f-ae232e25217c.png)

[2021-10-10 13:16] prajasendiwardanu commented on #13102
![9](https://user-images.githubusercontent.com/91949629/136697391-077b6380-e81a-47f5-9128-c862cd1a1fb0.png)

[2021-10-10 13:16] prajasendiwardanu commented on #13102
![10](https://user-images.githubusercontent.com/91949629/136697405-9273cb3e-0adf-473c-b10d-74f151825f82.png)

[2021-10-10 13:16] prajasendiwardanu commented on #13102
![11](https://user-images.githubusercontent.com/91949629/136697414-e79540a9-7492-4db3-89ca-ec1982fa1aa6.png)

[2021-10-10 13:16] prajasendiwardanu commented on #13102
![12](https://user-images.githubusercontent.com/91949629/136697422-b1578aec-2848-479a-a5fd-f2a3fbb65577.png)

[2021-10-10 13:17] prajasendiwardanu commented on #13102
![13](https://user-images.githubusercontent.com/91949629/136697437-d6869f28-86f9-4667-8c19-637e3fece9cf.png)

[2021-10-10 13:17] prajasendiwardanu commented on #13102
![14](https://user-images.githubusercontent.com/91949629/136697452-f9041a14-e3d6-43bb-a4e0-04ae9e0b2013.png)

[2021-10-10 13:46] prajasendiwardanu commented on #13102
![15](https://user-images.githubusercontent.com/91949629/136698412-eec07614-3684-4f26-b16d-0aa2dd843ed8.png)

[2021-10-10 13:46] prajasendiwardanu commented on #13102
![16](https://user-images.githubusercontent.com/91949629/136698415-8b3bc12b-0431-492c-8ecd-60f1a25bc195.png)

[2021-10-10 13:46] prajasendiwardanu commented on #13102
![17](https://user-images.githubusercontent.com/91949629/136698429-62d47d15-56f4-4111-9d2d-a9bf648ea885.png)

[2021-10-10 13:47] prajasendiwardanu commented on #13102
![18](https://user-images.githubusercontent.com/91949629/136698440-48bb5cd7-9e70-4a88-a43f-f7a4331ac409.png)

[2021-10-10 13:47] prajasendiwardanu commented on #13102
![19](https://user-images.githubusercontent.com/91949629/136698447-e90f6c7a-a7d2-40f3-b7d3-36e977f7d13b.png)

[2021-10-10 13:47] prajasendiwardanu commented on #13102
![20](https://user-images.githubusercontent.com/91949629/136698456-56f6bb78-1808-4397-adbd-ead99cf57459.png)

[2021-10-10 13:47] prajasendiwardanu commented on #13102
![21](https://user-images.githubusercontent.com/91949629/136698465-81dff068-717a-4269-a04e-84fe84204c02.png)

[2021-10-11 06:21] #13102 closed, assigned to nobody

[2021-10-11 09:18] tidy-dev commented on #13097
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2021-10-11 09:18] #13097 closed, assigned to nobody

[2021-10-11 11:26] darkBoft opened #13103 "Add multiple folders on "Add existing repository""
### Describe the feature or problem you’d like to solve

"Github for desktop" is in many user cases not the first client or the first contact with git repositories. In my case, I've got hundreds of repos, grouped by multiple folders.

So in case of adding all my repos I need to do this for each repo and each folder.

It would be a nice quality of live improvement instead of adding "just one" repo

[2021-10-11 12:43] omerguet1 opened #13104 "gg"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-11 15:57] #13104 closed, assigned to nobody

[2021-10-11 15:59] niik commented on #13103
Hey @darkBoft, thanks for reaching out! You should be able to drag and drop multiple folders on top of the GitHub Desktop window in order to add them all at once, see https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/adding-and-cloning-repositories/adding-a-repository-from-your-local-computer-to-github-desktop.

Not the most discoverable certainly but still, sh

[2021-10-11 15:59] #13103 closed, assigned to nobody

[2021-10-11 17:09] justingolden21 commented on #3757
Just got this issue in Oct 2021... It won't open. Alt+space works even in another program like my browser. Doesn't  show anywhere on task manager. Tried running as admin too. Worked fine last time I opened it and haven't changed a thing.

Downloading from https://desktop.github.com/ on top of my existing one works fine it seems

[2021-10-11 17:16] nitinthewiz commented on #13089
@f00k going to the latest sublime text and waiting for a night seemed to fix it for me. Maybe that would fix it for you too?

[2021-10-11 17:30] justingolden21 opened #13105 "Minor bug: recent branches shown incorrectly"
### Describe the bug

"recent branches" does not show most recent branches

### Version & OS

![image](https://user-images.githubusercontent.com/30274440/136831013-63cb95ae-3ddb-42c5-a2a3-453c4868b278.png)

desktop 2.9.4

windows 10

### Steps to reproduce the behavior

1. create a new branch elsewhere
2. fetch origin on desktop
3. click on "current branch"

### Expected behavior

most recent bran

[2021-10-12 00:46] 04487 opened #13107 "mzrgany608@gmail.com"

[2021-10-12 01:27] Hona commented on #6346
I'd love this feature - devs using Gitmoji for commit messages is becoming increasingly popular

[2021-10-12 06:36] #13107 closed, assigned to nobody

[2021-10-12 07:46] AnvithLobo commented on #3707
I've done more updates to this finally and released a pypi package and will upload a static exe next once all the features I need are implemented.
https://github.com/AnvithLobo/pygitswitch  (renamed the package too)

[2021-10-12 10:35] platon9000 commented on #4290
---------- Forwarded message ---------
From: Martin Grenier ***@***.***>
Date: Sat, Sep 5, 2020 at 10:42 AM
Subject: Fwd: TR : $12,000,000,00 USD Payment Notification
To: ***@***.***>

---------- Forwarded message ---------
From: Martin Grenier ***@***.***>
Date: Sat, Sep 5, 2020 at 9:55 AM
Subject: Fwd: TR : $12,000,000,00 USD Payment Notification
To: ***@***.***>

---------- Forwarded message --

[2021-10-12 10:40] Daekesh commented on #3092
I'd like Rider and Rider for UE to be added. Thanks <3

Or what the guy above me said.

[2021-10-12 10:49] lapec opened #13109 "Ignore selected files doesn't ignore it from tracking"
### Describe the bug
Ignore selected files doesn't ignore it from tracking.

### Version & OS

Version 2.9.4 (x64) Windows 10
### Steps to reproduce the behavior

1. Go to 'Changes'
2. Select 4 changes
3. Click right click on it
4. Click Ignore five selected files
5. See those files are still in Changes list

or
1. Go to 'Changes'
2. Select 4 changes
3. Click right click on it
4. Click Ignore five

[2021-10-12 11:24] sputnik190033 commented on #11141
Thanks! This works well for me.

[2021-10-12 13:51] AvanParvadiya commented on #3370
Can any one help me to add node_modules to my github repository?

[2021-10-12 14:52] daniel31079 opened #13110 "Add Button to see all Changes to a File"
### Describe the feature or problem you’d like to solve

I recently switched from Sourcetree to Github Desktop and i enjoy it so far - but i am missing the following feature:

In Sourcetree you can display every commit of a File by rightclicking the File when there are open changes and then select "Log Selected".

### Proposed solution

You can easily see who edited a file and also would have quic

[2021-10-12 15:07] steveward commented on #13110
Thanks for the feedback @daniel31079. This has been previously requested in https://github.com/desktop/desktop/issues/11990 so you can follow along there for updates. I'll drop a reference to this issue there as well.

[2021-10-12 15:07] #13110 closed, assigned to nobody

[2021-10-12 15:07] steveward commented on #11990
Requested in https://github.com/desktop/desktop/issues/13110.

[2021-10-12 15:17] steveward commented on #13109
Thanks for the issue @lapec.  If the files have been previously committed in your repository they need to removed prior to being ignored. You'll need to run this command from the command line:

`git rm --cached <file>`

You should then be able to ignore the files. You can find more information in [this help article](https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files). L

[2021-10-12 15:17] #13109 closed, assigned to nobody

[2021-10-12 15:20] lapec commented on #13109
Thanks for fast response. I already did this but it would be cool if you
add some GUI btn for this.

Regards,

On Tue, 12 Oct 2021 at 17:17, Steve Ward ***@***.***> wrote:

[2021-10-12 15:22] steveward commented on #13100
@roosterroosie thanks for the report. Can you share a few more details/screenshots of the issue you are experiencing? If you could give specific reproduction steps that would also be helpful.

[2021-10-12 16:21] yannickninot opened #13111 "Error appears when i try to commit"
### Describe the bug
I am on a branch on which I have made modifications. When I want to upload my files to the current branch, GitHub Desktop tells me there is an error and I need to do a git add

**On branch develop
Your branch is up to date with 'origin/develop'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discar

[2021-10-12 20:34] steveward commented on #13111
Thanks for the report @yannickninot. This looks similar to https://github.com/desktop/desktop/issues/3779.

Can you verify that this file exists in your repository?

`Users/yannickninot/Local Sites/cookit/app/public/wp-content/themes/chefcookit.com/wp-content/uploads/wp-defender/index.php`

That seems to be the root of the issue. It'd also be helpful if you could open the repository in the command

[2021-10-12 20:52] yannickninot commented on #13111
Hi Steve,

Where do you find this path ? Users/yannickninot/Local
Sites/cookit/app/public/wp-content/themes/
chefcookit.com/wp-content/uploads/wp-defender/index.php

I looked in my GitHub repository and in my local files but didn't have
/wp-content/uploads/wp-defender/index.php
<http://chefcookit.com/wp-content/uploads/wp-defender/index.php> after
chefcookit.com/ ...

If I run my terminal at the r

[2021-10-13 02:44] Rey-Wang opened #13112 "Support git pre hooks"
### Describe the feature or problem you’d like to solve

When I use the desktop to submit a commit, it would skip the git prehooks, for example, there's some lint check and it should prevent commit the changes

### Proposed solution

expect could run hooks and prevent commit if there's problem

[2021-10-13 03:15] BrendaHutchinson commented on #13112
Hi Brenda Hutchinson here, I am excited about you being close to being done with my windows 11 and apps, have a little of it on my phone though just not right, not your fault, hackers have picked it apart. Hopefully when you are done I can reload it back on phone, not rushing you guys, just wanted to say thank you all for your hard work,   be checking back soon, p.s. don't have any of my power pla

[2021-10-13 03:41] bryant-the-coder opened #13113 "I cant publish my repo to github using github desktop."
THIS IS THE OUTPUT. I AM IN THE MIDDLE OF A URGENT MATTER THAT I NEED TO PUBLISH IT. PLEASE HELP ME~

Authentication failed. Some common reasons include:

- You are not logged in to your account: see File > Options.
- You may need to log out and log back in to refresh your token.
- You do not have permission to access this repository.
- The repository is archived on GitHub. Check the repository se

[2021-10-13 07:05] Chimera78 commented on #1765
I know comments don't help. But even "ancient" WinCVS allows the usage of external diff tools. So please offer this feature to all the users trying to move to modern tools such as GIT and use a decent UI such as GitHub Desktop. That would just increase acceptance from us "old dinosaurs" trying to catch up with new modern tools.

[2021-10-13 07:30] sergiou87 commented on #13113
Hi @bryant-the-coder ! Could you upload the app logs (from `Help` -> `Show Logs in…`) here so we can see what the problem is exactly?

Thanks!

[2021-10-13 10:33] FiloVido opened #13114 "Snow Balls Rocket"
If you jump on a snowball you can use it like a rocket

[2021-10-13 10:45] #13114 closed, assigned to nobody

[2021-10-13 11:26] Skwara commented on #13050
@sergiou87 After further investigation we've established that the problem was not GitHub Desktop's fault. Upon running the same command that GitHub Desktop is running we received errors stated above (different for each of us). Because of that I think these errors are the root cause, not GitHub Desktop.
The upside is that at least we found another known_hosts prompt variant so when I'll fix the roo

[2021-10-13 13:50] corkupine commented on #8698
👍 - our team has a template with a few [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/#summary) prefixes and descriptions. We've got team members who prefer Github Desktop over Git Extensions and other git tools with template support, but they miss this feature.

[2021-10-13 15:52] JackEllis opened #13118 "Focus (highlight) is broken when clicking from history commit to file changes"
### Describe the bug
When looking over the history, you can click a commit and see the file changes. The moment you click on one of the files, to see the changes, the selected history item loses it's focus (see below). Our use case is that we review historical commits to put together our public changelog.

### Version & OS

Version 2.9.4 (arm64

### Steps to reproduce the behavior

1. Go to "Histo

[2021-10-13 16:26] steveward commented on #13111
@yannickninot that file path was in the log file in the error:

`Error: ENOENT: no such file or directory, open '/Users/yannickninot/Local Sites/cookit/app/public/wp-content/themes/chefcookit.com/wp-content/uploads/wp-defender/index.php'`

After committing via the command line do you still encounter the same error in GitHub Desktop?

[2021-10-13 17:09] coderdave commented on #11603
What's the status with this? I started `github` from the command line but it didn't work for me either.

[2021-10-13 17:45] AustinConlon opened #13119 "In full screen mode on macOS, moving the cursor to the system menu bar should push the GitHub controls down with it"
The controls at the top should be anchored to the system menu bar instead of clipped.

https://user-images.githubusercontent.com/1305957/137185592-21fb91bb-0c27-4f4f-b60e-d2555167f79f.mov

[2021-10-13 17:54] steveward commented on #13118
Thanks for reporting this @JackEllis! @niik opened https://github.com/desktop/desktop/pull/13115 to fix this, so I'm going to close this issue out.

[2021-10-13 17:54] #13118 closed, assigned to nobody

[2021-10-13 19:18] Yalchin403 commented on #7337
after adding my ssh key, I wasn't able to push. What I have done:
 Click on file
Click on Options
Click on Advanced
Uncheck Use system OpenSSH

Then if you try to push, it should ask you to enter pass phrase for ssh key and then you should be able to push

[2021-10-13 19:48] steveward commented on #13119
Thanks for the feedback @AustinConlon. This is the standard behavior in fullscreen mode in macOS so at this time it isn't something we would plan on changing.

[2021-10-13 19:48] #13119 closed, assigned to nobody

[2021-10-13 19:57] AustinConlon commented on #13119
Hi Steve, thanks for the response. Just tried with Finder and Safari in full screen mode, and they both have this behavior. Is this just a matter of different built-in behavior in native vs. Electron?

[2021-10-13 20:07] perholmes opened #13120 "Commit & Push"
Every other Git client supports this, so I trip over myself in GitHub desktop over an over by having to push manually.

Is there any upside to splitting committing and pushing to two mouse-click with a mandatory wait between them?

Commit & Push please

[2021-10-13 20:08] Alek-S commented on #6757
+1

[2021-10-13 22:49] wengfatt opened #13121 "Support for multiple external editor"
### Support multiple external editor

Currently only support 1 external editor.

### Proposed solution

Option to choose different external editor for different language such as Java repo can choose IntelliJ, C# repo can choose rider, Python repo can choose Pycharm, etc. It would definitely improve productivity of developer.

[2021-10-13 23:43] #13113 closed, assigned to nobody

[2021-10-14 02:07] HypoConDreAct opened #13124 "Error on push failing to spawn?"
### Describe the bug
on push
error: cannot spawn .git/hooks/pre-push: No such file or directory
error: waitpid for .git/hooks/pre-push failed: No child processes
error: failed to push some refs to 'https://github.com/Blackrobin-Games/Slag.git'

### Version & OS
Version 2.9.4 (x64) Win10

Open the 'About GitHub Desktop' menu to see the GitHub Desktop version. Also include what operating system you

[2021-10-14 07:46] mjjjozani opened #13125 "hi i want to publish my repositori and i just write my code then press and publish it but when i search my web in google it say error 404 why? web: mohammad-jozani.github.io"
### Describe the feature or problem you’d like to solve

Write a clear and concise description of what the feature or problem is. If this is a bug report, please use the bug report template instead.

### Proposed solution

Please share how this will it benefit Desktop and its users?

### Additional context

Please include any other context, like screenshots or mockups, if applicable.

[2021-10-14 07:46] mjjjozani commented on #13125
hi i want to publish my repositori and i just write my code then press and publish it but when i search my web in google it say error 404 why? web: mohammad-jozani.github.io

[2021-10-14 09:29] sergiou87 commented on #13124
Hello @HypoConDreAct !

I'm sorry you're experiencing this issue. Have you tried running `git push` in the repository from the command line? I assume that `.git/hooks/pre-push` file exist and it's in the right location.

[2021-10-14 10:09] vedrancu commented on #9452
Hi,
history graph in Sourcetree is very usefull tool. It's pity that such feature is not available in GiHub Desktop. I must go to Sourcetree app.

[2021-10-14 12:15] steveward commented on #13120
Thanks for the feedback @perholmes. At this time we don't have any plans to add a commit and push option, but if we continue to hear feedback about this being a pain point for users it may be something we consider again in the future. You can check out https://github.com/desktop/desktop/issues/2256 for some previous discussion around this.

[2021-10-14 12:15] #13120 closed, assigned to nobody

[2021-10-14 12:16] steveward commented on #13121
Thanks for the issue @wengfatt. This is being tracked in https://github.com/desktop/desktop/issues/5891 -- please follow along there for updates.

[2021-10-14 12:16] #13121 closed, assigned to nobody

[2021-10-14 12:46] steveward commented on #13125
Thanks for the issue @Mjjozani. This issue tracker is for GitHub Desktop, and we are unable to help with getting your GitHub Pages site working.

I would recommend asking for assistance [here](https://github.community/c/github-help/github-pages/31) or reading through the [help docs](https://docs.github.com/en/pages). If you have any issues with GitHub Desktop let us know.

[2021-10-14 12:46] #13125 closed, assigned to nobody

[2021-10-14 15:43] say25 commented on #12489
I believe this was fixed as part of #11950. Please reopen if this is still an issue
![image](https://user-images.githubusercontent.com/7467062/137351571-64356517-25a1-4268-995f-7b4d6caad644.png)

[2021-10-14 17:15] steveward commented on #13035
@Gr8z hopefully you were able to get things working via the workaround I shared -- I'm going to close this out for the time being as we're tracking this in #8258.

[2021-10-14 17:15] #13035 closed, assigned to nobody

[2021-10-14 17:37] rheath-dremio opened #13126 "Fetching from origin makes GH Desktop think all files in a branch are new"
### Describe the bug
Whichever branch I'm in, including my master branch, clicking the **Fetch origin** button causes GH Desktop to put all of the files in my branch in the **Changes** pane and mark all of the files as new.

### Version & OS

Version 2.9.4 (x64) of GitHub Desktop
MacOS 11.6

### Steps to reproduce the behavior

See the description.

### Expected behavior

Fetching files from origi

[2021-10-14 19:47] alexugthub commented on #6564
I was recently looking into something similar. I expect to be offline from time to time and I would like to still be able to see my issues and project notes even if disconnected.
I am thinking about using the GitHub API and create an Electron app specially for this thing

[2021-10-14 19:52] BrendaHutchinson commented on #6564
Think would be a great idea, the more we can help the world with obstacles the easier it will be for all exspacaly beginners like me

[2021-10-14 20:22] steveward commented on #13126
Thanks for the report @rheath-dremio. Can you open the repository in the command line (`Repository` > `Open in Terminal`) and share the output of `git diff <file>`? You can just choose one file with a change -- my hunch is this is either a file mode or line endings issue and hopefully that will confirm it.

[2021-10-14 20:40] HypoConDreAct commented on #13124
Morning,
I have tired to but I keep running into token issues that I cant seam to get around. as in it always ask for login in and then fails as we use tokens now. or at lest that's what I understand.
I am using it with UE4 (unreal Engine 4) and have reverted a few changes that went badly form inside this. that's when I started to have this issue. would making a copy of my local repo - the .git di