[2018-09-25 13:47] Niumeng1 commented on #5733
@shiftkey thanks for your reply.
This problem has been solved, but local repository and cloned items have been lost.

[2018-09-25 13:51] shiftkey commented on #5733
I'm glad you're back to a happy place. I'm going to close this out,  but let me know if you have more information that might help troubleshooting the root cause.

[2018-09-25 13:51] #5733 closed

[2018-09-25 13:52] shiftkey commented on #5670
Closing this out due to inactivity. @prophit987 if you're able to fill out the template we're happy to revisit it.

[2018-09-25 13:52] #5670 closed

[2018-09-25 14:02] billygriffin commented on #4163
Thanks @onwhim, we've had a few that have been cleared up in the past couple releases, so I'm going to close this out for now. Please feel free to open another issue if you're running into additional problems. And thanks again!

[2018-09-25 14:02] #4163 closed

[2018-09-25 14:05] billygriffin commented on #5725
@StefKors Thanks for the suggestion! Desktop uses a bit different model with commit history in that all of it lives in the "History" tab at present, so introducing an additional place where there's more than just the latest commit may cause confusion. If the primary purpose is to make the "Undo" more prominent, we may explore different ways of achieving that goal.

[2018-09-25 14:09] kalpesh-zurange opened #5735 "publish repository"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2018-09-25 14:10] billygriffin commented on #5735
Thanks for reaching out @kalpesh-zurange!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfwa

[2018-09-25 15:02] AdamBebko commented on #1770
I'm having the same problem

[2018-09-25 15:50] kanishk98 commented on #5661
Okay, I've found a few interesting results. The `app/src/lib/logging/renderer/install.ts` file logs that the account is found if the credentials are valid (line 31, refer to the screenshot below) and line 23 of the same file says repo not found. This error is then sent forward to the main process and `generic-git-auth.tsx` raises an error dialog before the `clone-repository.tsx` file can check the

[2018-09-25 15:51] tierninho opened #5736 "Clicking History tab should default to commit history list"
If you click into the filter under the History tab but do not enter any text, you appear to be stuck looking at compare branches unless you know that the `esc` key takes you back to the commit history.

If the user enters any text, the `x` icon is shown as expected, thus allowing the user to escape back to the commit history. However if one was to click into the filter, enter nothing, and then cli

[2018-09-25 17:12] cheshire137 opened #5738 "Support multi-line selection when staging lines"
When I have many adjacent lines changed in a file, it can be tedious to go through them individually and select only some of them. This happens, for example, when I've added a few new methods and wait until the end to make my commits, as opposed to making commits as I go. I'd like the commits to be atomic by committing only one method at a time, which currently requires me to click each individual

[2018-09-25 17:31] billygriffin commented on #5738
@cheshire137 Thanks for the issue! If I'm understanding your problem correctly, I typically do this by just clicking, holding, and dragging from the first line to the last if they're adjacent. I've seen lots of other people do this as well, and it seems to work well. Thoughts?

[2018-09-25 17:40] cheshire137 commented on #5738
😭 It works! I have clicked so many individual lines but **_no more!_** Thanks!

Maybe a tooltip could be shown when first clicking lines/hunks that tells the user about the drag feature? Unless that already exists and I missed it! Relevant: #1688.

[2018-09-25 17:40] #5738 closed

[2018-09-25 17:46] billygriffin commented on #5686
This comment (https://github.com/desktop/desktop/issues/1688#issuecomment-303386625) stemming from this issue #5738 is likely worth examination. Thanks @cheshire137! 😄

[2018-09-25 20:55] Daniel-McCarthy commented on #5725
I have been peeking at this Issue and I would find this out.

Here is what it would look like, at least on Linux:
![image](https://user-images.githubusercontent.com/4957200/46042396-e0b28700-c0da-11e8-9f50-9f1f8a10c434.png)

It is certainly more clear, though does leave less room for longer commit description names. Hope this helps!

[2018-09-25 21:16] fatcerberus opened #5741 "Line endings change warning phrasing is backwards"
## Description

The warning that line endings for a file have changed has it backwards, saying the file's line endings have change *from* "what it is now" *to* "what it was", instead of vice versa.  See screenshot below illustrating the problem.  This confused me for a bit when it first happened.

![lf-crlf](https://user-images.githubusercontent.com/4097841/46043452-13ae4800-c0e6-11e8-8d68-b83b86e

[2018-09-25 21:18] outofambit commented on #5741
Thanks for the excellent bug report @fatcerberus! I'm gonna mark this so one of the maintainers can reproduce it locally and spec out a fix.

[2018-09-25 21:34] Daniel-McCarthy commented on #5690
I can certainly see the potential confusion here. I definitely see where changing the dialog title and/or button text can be useful.

Here are two possible iterations.

- Change dialog title & confirm button text.
![image](https://user-images.githubusercontent.com/4957200/46044338-1c9c1b00-c0e0-11e8-841b-1b1e321ff4a4.png)

- Change dialog title solely.
![image](https://user-images.githubuserconten

[2018-09-25 21:41] tierninho commented on #5725
As all the space to the right of the Changes/History is completely unused, I suggest we revisit using this area for commit data. Like so, but maybe a watered down so we don't mimic .com.

<img width="1281" alt="screen shot 2018-09-25 at 2 37 03 pm" src="https://user-images.githubusercontent.com/14828183/46044880-e4d9a700-c0d0-11e8-94e6-5dbd62341518.png">

[2018-09-26 00:30] #5535 closed

[2018-09-26 01:43] bdw429s opened #5743 "Lack of import from old app remains barrier to entry"
I've used Github for Desktop for years now and installed the new version back when it first came out but was promptly disappointed when I realised I hadn't upgraded the app but merely installed a second software which contained none of my repos.  I set it aside and figured that if I waited a while, surely a proper import would be implemented.  I have hundreds of repos spread around my computer and

[2018-09-26 01:48] j-f1 commented on #5743
@shiftkey summarized the current situation pretty well in https://github.com/desktop/desktop/issues/186#issuecomment-389055403. Currently, you can bulk drag-and-drop your existing repositories onto the new app to add them.

[2018-09-26 01:50] bdw429s commented on #5743
@j-f1 Thanks for the reply, but as I mentioned, I've already read the other tickets and I'm not interested in another manual setup,.  In fact, I'm pretty sure I covered that above.  I entered this ticket for a resolution, not more workarounds and links to dead issues.

[2018-09-26 03:49] fatcerberus commented on #2885
Just going to throw my two cents in here seeing that lots of others already have: I keep trying to give the new client a chance, I really am, but I inevitably keep coming back to Classic for two main reasons: 1. Automatic hard wrapping of commit messages (hard wrapping is a must for me; without it `git log` looks like a mess), and 2. the timeline view.  I could live without 2) but 1) is a dealbrea

[2018-09-26 08:56] Comply-it commented on #5438
I'm experiencing this issue also. Github Desktop 1.40

[2018-09-26 10:39] coderste opened #5745 "Dark Theme: Caps lock icon is hardly visible"
## Description
When signing into the GitHub account it ask for your password. On the password field if you have the caps lock on it will show you that you have caps lock enabled on the input field but this box is not very visible on the dark theme.

## Version
Version 1.4.0

* GitHub Desktop:
* Operating system:
macOS Sierra
Version: 10.12.6

## Steps to Reproduce
Github Desktop -> Preferences and

[2018-09-26 11:37] shiftkey commented on #5745
@coderste thanks for the feedback!

That bit of UI is actually macOS-specific (I don't see the same prompt on Windows) and I don't see any DOM changes when interacting with the field that we might be able to target and re-style from in the app. A quick Google scan also didn't yield many clues or other cases about styling this. 🤔

[2018-09-26 12:32] ori1337 opened #5746 "'Please tell me who you are' error was thrown even though name/email were set in the `Git` tab"
## Description

i did what "shiftkey" said to do and it worked

but the bug in here is
that everything was filled i only press save in there ...
its a bug becuase it didnt read it Or save it for some reason

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-09-26 12:45] shiftkey commented on #5746
@ori1337 Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Also, could you attach the full log files? The **Help** | **Sho

[2018-09-26 12:56] #5549 closed

[2018-09-26 13:01] coderste commented on #5745
@shiftkey Yeah I had a feeling that maybe you guys wasn't able to handle that - but with the next macOS release bringing dark mode to a few of there native apps maybe they have added the ability to change the color of that? Not sure

[2018-09-26 13:04] shiftkey commented on #5679
Closing this out due to inactivity. @Fancy93 if you're able to fill out the template we're happy to revisit the issue.

[2018-09-26 13:04] #5679 closed

[2018-09-26 13:16] shiftkey commented on #5498
@Niko-O apologies for not replying to this earlier. The steps look like enough detail to reproduce the issue, so I'll report back and see if I can see the same behaviour.

[2018-09-26 13:20] shiftkey commented on #5247
I'm going to close this out because I don't believe there's anything we can do in Desktop to address this, and it seems like updates to products like Carbon Black should resolve the issue eventually.

[2018-09-26 13:20] #5247 closed

[2018-09-26 14:13] steveward commented on #5746
@ori1337 I think I understand the issue you experienced -- please let me know if I have this correct:

1. You experienced the same error as https://github.com/desktop/desktop/issues/4059, where an error is thrown if a name and email are not set in the .gitconfig.
2. You followed the steps that @shiftkey provided in https://github.com/desktop/desktop/issues/4059#issuecomment-386841745, but when you

[2018-09-26 14:43] shiftkey commented on #5671
In theory we have our default Hubot avatar that we show as a placeholder, and if we can identify the error that you were seeing maybe we can revert to showing that again, but it's not clear to me _how we can detect that situation currently if we're using a cached image_.

[2018-09-26 14:50] crontab commented on #5671
@shiftkey I understand, I think the best theory here is that if you have a cached avatar image but it's damaged then you will get a layout screw up. The file exists but the GUI refuses to display it therefore you see the `alt` text instead.

I think it should be possible to reproduce the problem by corrupting the cached file e.g. by making it zero length, except I'm not sure where the files are ke

[2018-09-26 15:10] ori1337 commented on #5746
yes
i did what he say
http://prntscr.com/kz0bkk
everything was in place so i just press save
and its just worked

[2018-09-26 16:43] GeeSlimmy commented on #4054
I'm facing same issue and only happening on Mac Mini and Sierra. I have Github Desktop running fine on Macbook running High Sierra.

[2018-09-26 16:59] Daniel-McCarthy commented on #4272
As an update to this, I am getting close to done with this.
- Except for one file that additionally requires a rename, I have all of the files in the `models/` folder complete and ready for a pull request. (I have not done so for all of them yet, but I was planning on doing them in chunks to keep it manageable).
- I am currently working on the `models/diff` folder.

I did find one circumstance tha

[2018-09-26 17:09] j-f1 commented on #721
xref https://github.com/nvie/decoders/issues/102#issuecomment-424796290

[2018-09-26 19:32] steveward commented on #5746
@ori1337 Thanks for the update. Would you mind uploading a log file from the day you experienced this issue? The log file should show some more details about what may have happened here.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Finder (macOS) or Explorer (Windows)`. It would be helpful if you could send a log file from the day that you first

[2018-09-26 19:51] #5240 closed

[2018-09-26 20:17] bdw429s commented on #5743
@billygriffin Thank you for the reply, for addressing the lock bot (which surely was responsible for several of the duplicate tickets on this topic including this one), and for clarifying your official intentions regarding a migration feature.

I obviously disagree with your decision, but I appreciate the definitive answer.  It's been almost a year since I initially installed the new version and t

[2018-09-26 20:43] shiftkey commented on #5743
@bdw429s I believe it was the `~/AppData/Local/GitHub/cache.db` file that we used to store settings like the tracked repositories. We used a library named [Akavache](https://github.com/reactiveui/Akavache) to interact with it from .NET, and Akavache has it's own way of storing the .NET objects - look for the `CacheElement` table that should contain the key-value pairs representing settings.

[2018-09-26 20:56] shiftkey commented on #5746
@steveward this reminds me a bit of #5046 where the user wasn't able to save their changes and we didn't show the error

[2018-09-26 21:01] Tmbutts opened #5755 "100MB file size issue-Git wont let me push and says that I have to clear the file from history"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-09-26 21:03] agisilaos opened #5756 "UI is broken for Terms and Conditions & Open Source and License Notices"
## Description

When you visit Terms and Condition or/and License notices panels/pop-ups the UI is broken.

## Version
* GitHub Desktop: 1.4.2-beta0
* Operating system: v10.14, macOS Mojave

## Steps to Reproduce
1. Click on the Github Desktop menu
2. Click on About Github Desktop menu
3. Click on Terms and Conditions and/or License and Open Source Notices

### Expected Behavior
The text shouldn't

[2018-09-26 21:05] outofambit commented on #5756
thank you for filing this @agisilaos! I reproduced it on `1.4.1` too. 😞

[2018-09-26 21:11] outofambit commented on #5755
Hi @Tmbutts! Thanks so much for taking the time to file an issue. I'm sorry you've run into this. This particular problem is a known issue—we're tracking it over at https://github.com/desktop/desktop/issues/997.

We also have some workarounds at https://github.com/desktop/desktop/issues/5718#issuecomment-423957795. I'm going to close this issue, but feel free to reopen and comment if you have addi

[2018-09-26 21:11] #5755 closed

[2018-09-26 21:13] bdw429s commented on #5743
@billygriffin Yes, of course I would share it.  Since my axe of choice is CFML, I would release it as a CommandBox CLI Module on Forgebox.io so anyone could install it and run it from the command line.  But first I'll see if it's even doable.

@shiftkey Thanks for the reply.  I did find that `cache.db` file and I did file the `CacheElement` table inside the `main` DB but as it seemed to just be a

[2018-09-26 21:26] #5687 closed

[2018-09-26 21:46] tierninho commented on #5741
This is reproducible on 1.4.1-beta1, mac. The file was saved as CRLF, but the warning said it was changed to LF.

Steps:
- Add new file to commit
- Use Atom to change the line ending, save
- The warning icon will appear with error msg

Note, this is a one way warning, as Unix is LF, and I changed it to CRLF. When I change it back the warning goes away as expected.

<img width="1425" alt="screen sh

[2018-09-26 22:00] fatcerberus commented on #5741
Based on that third line, it seems that it's deciding how to warn based on the message from `git diff`--a message which is itself pretty confusing.  Git's warning actually means something closer to "(CRLF|CR|LF) in the working tree will be replaced with (CRLF|CR|LF) in the repo when committed".  In other words it's not necessarily telling you that the file's line endings *changed* (although in pra

[2018-09-27 00:46] BM2830 opened #5759 "All my information on my pc and phone are always changing and possible watched at all times . I'm pretty sure its my business partner but cant prove . I have a windows 10 and we are all on the same network at our office but all my files with passwords are always getting opened and changed , as well as my phone S9 + Android.. the pc is a intel pentium G4560t 400. GB. If anyone can help figure out how to stop or even prove who doing it please let me know thanks."
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-09-27 00:59] BM2830 commented on #5759
I don't know much about computer's or fixing phones so I am willing to pay for someone to help.

[2018-09-27 05:00] Marina-medved commented on #5687
Добрый! Не совсем поняла, простите?))))

[2018-09-27 06:20] pkunze opened #5761 "Zoom-State resets when updating"
One of the things I love most about GH Desktop is the abilitiy to increase the size of fonts/elements (View &rarr; Zoom in).

Whats great is that I do not have to zoom in everytime I (re-) open GH Desktop. Unfortunately, installing an updated version resets the zoom state to the defaults.

Minor issue but still a little itch I always experience after installing an otherwise better version of GH De

[2018-09-27 08:49] pmrotule opened #5762 ""Open in Atom" option on changed file is broken"
## Description

From the list of changed files, you can right-click on a file and choose "Open in Atom" from the context menu. When I do that, it opens a new Atom window then this window crashes. The second time I try to select "Open in Atom", I end up with a error message directly in Github Desktop:

<img width="727" alt="image" src="https://user-images.githubusercontent.com/10983258/46133367-948

[2018-09-27 09:50] j-f1 commented on #5745
I think there is some sort of pseudo-selector for it, but that might be Safari-specific.

[2018-09-27 09:58] j-f1 commented on #4272
How about e.g. `public divergingLines: Set<number> | null = null`? Would that work?

[2018-09-27 11:00] njbmartin commented on #5759
This is definitely not an issue related to Github Desktop.

[2018-09-27 12:18] shiftkey commented on #5759
@BM2830 this issue tracker is for the GitHub Desktop application. If you need help with GitHub, please reach out to [GitHub Support](https://github.com/contact).

[2018-09-27 12:18] #5759 closed

[2018-09-27 12:21] Wzy-CC opened #5763 "Github desktop is crashed when it start up"
## Description

I cannot open GitHub desktop, and it has this question:</br>
![bug](https://user-images.githubusercontent.com/26458757/46144200-ce794a00-c28e-11e8-93bc-327da313e3aa.PNG)</br>
Before this question occur, the desktop can not located the repositories (of course I do nothing),and when I try to located repositories in my computer it will failed(no screenshot)

## Version

* GitHub Deskt

[2018-09-27 12:32] shiftkey commented on #5687
@Marina-medved the issue template was not filled out, and so we closed the issue after 7 days due to inactivity. Are you able to fill out the issue template to explain the problem you are seeing?

[2018-09-27 12:34] koenpunt opened #5764 "Can't distinguish different worktrees of single repo"
For some of the projects I'm working on I have multiple [`git-worktree`s](https://git-scm.com/docs/git-worktree) set up, but these all show up as the same project name, which makes it quite annoying to work with.

![image](https://user-images.githubusercontent.com/351038/46145835-9c052800-c261-11e8-9a5c-3692d9bd2570.png)

How I think this could be solved is by displaying the branch that is current

[2018-09-27 12:38] iamnapo commented on #5745
Hello,

I'd like to work on this 😃

[2018-09-27 12:40] shiftkey commented on #5745
@iamnapo no problem - good luck, let us know how you go!

[2018-09-27 12:56] shiftkey commented on #5743
@bdw429s I believe it's these blobs that you want to parse. Akavache handles taking arbitrary .NET objects and serializes them to JSON before converting into a byte array:

https://github.com/reactiveui/Akavache/blob/54ba92ef7e8778ee0dbb947d4acf8c7a515df12b/src/Akavache.Core/JsonSerializationMixin.cs#L317-L321

[2018-09-27 13:12] shiftkey commented on #5762
@pmrotule thanks for the report!

That path suggests we queried for Atom's install location while it was in the middle of an update.

If you run this command from a terminal, does it return anything?

[code]

What I believe has happened here is that we've cached the install location for the current session, and it just happened to clash with the time the app was updating - and temporarily moved.

[2018-09-27 13:35] shiftkey commented on #1525
@danielb987 you can read more about this issue in https://github.com/shiftkey/desktop/issues/60 - I'm building the embedded Git on Ubuntu Trusty (to avoid linking to newer `glibc` APIs, but doesn't support `libcurl4`), so I need to figure out how to reconcile the split in dependencies between older and newer distros - that's being tracked in https://github.com/desktop/dugite-native/issues/109 so i

[2018-09-27 13:36] irs-alba1 commented on #3757
I can confirm that.
- Try to find out in which direction the "hidden" window is opened / closed when clicking on the task bar. You should be able to see some slight maximize/minimize animation (if you didn't switch it off).
- Try to get an additional monitor and place it on the side where the animation goes to (display settings, reoder display 1 and 2, if required). In my case I found the window o

[2018-09-27 13:38] Daniel-McCarthy commented on #4272
Ah, that's great! Thank you @j-f1 , that works perfectly.

[2018-09-27 14:45] tierninho commented on #5701
@tyetech We are closing this issue as we haven't gotten a response and do not have enough
information. Please don't hesitate to reach out again if you need help.

[2018-09-27 14:45] #5701 closed

[2018-09-27 14:46] tierninho commented on #5712
@Sab2020 We are closing this issue as we haven't gotten a response and do not have enough
information. Please don't hesitate to reach out again if you need help.

[2018-09-27 14:46] #5712 closed

[2018-09-27 14:48] tierninho commented on #5688
@pmcastell We are closing this issue as we haven't gotten a response and your question was answered above. Please don't hesitate to reach out again if you need help. Thanks.

[2018-09-27 14:48] #5688 closed

[2018-09-27 15:36] steveward commented on #5761
Thanks for the report @pkunze! This was reported in https://github.com/desktop/desktop/issues/5315, so I am going to close out this issue as a duplicate. Please follow along in #5315 for updates.

[2018-09-27 15:36] #5761 closed

[2018-09-27 17:00] tierninho opened #5766 "Update login error message to reflect form input"
When using the login form (welcome flow or Preferences) we display an error message if the username/email/password is incorrect.

"Incorrect username or password."

However, the above error message is generic and only reflects the the username field. The error message should recognize when a user attempts to login with an email address.

- Do we make the error message dynamic or simply update the

[2018-09-27 18:08] outofambit commented on #5764
Hi @koenpunt thanks so much for filing this. I think the proposed solution here makes sense as an incremental step but I would love to get some input from design before we jump into implementation.

[2018-09-27 18:14] outofambit opened #5770 "remove --detectOpenHandles flag from jest"
`--detectOpenHandles` gives us a 30% slowdown in node 8. 😢https://github.com/desktop/desktop/pull/5528#discussion_r215888601

need to wait for completion of facebook/jest#6950 before we can remove it safely though, (though that may not be entirely true) ping @outofambit for more info

[2018-09-27 18:18] tierninho opened #5771 "Potentially unclear during onboarding what version of Desktop I'm using"
The`About GitHub Desktop` menu item is disabled when the user is onboarding. We should enable it so the user can easily see which build version they are using.

However, the top-level menu is not present on Windows until *after* onboarding. As such, a text based approach i/o a menu change seems more practical. Thoughts, opinions, etc...?

Mac/Darwin: About is under the `GitHub Desktop` menu
Window

[2018-09-27 18:32] shiftkey commented on #5771
@tierninho

The menu is not visible when using the Welcome Wizard on Windows

<img width="985" alt="screen shot 2018-09-27 at 3 30 58 pm" src="https://user-images.githubusercontent.com/359239/46166796-6c0e5280-c26a-11e8-9aef-0a9c48de7900.png">

Also, there are already ways to find the version installed without needing to launch the app:

<img width="822"  src="https://user-images.githubusercontent

[2018-09-27 18:43] tierninho commented on #5771
@shiftkey Yes, there are ways to find out, but the novice may not know how to inherently do that.

Also, I mentioned this, so perhaps it's an alternative if we decide to implement anything:

[2018-09-27 18:51] shiftkey commented on #5771
Is the issue just that the version isn't visible to the user when they start the welcome wizard?

I'm trying to wrap my head around the value here, because we could do something like embed the version on that first page if it's really important. This version also gets embedded in logs, so we have plenty of place to grab this info already:

[code]

[2018-09-27 19:00] tierninho commented on #5771
yes, correct

Don't think so, just an minor enhancement. If you feel the value doesn't outweigh the effort, feel free to close the issue or we can assign to the open contributors. I'm open either way.

[2018-09-27 19:41] shiftkey commented on #5771
I'll let @desktop/maintainers and @desktop/comrades sound off on this too

[2018-09-27 19:57] Daniel-McCarthy commented on #5766
I see a pull request is already currently open for this to update the message to include email in the error.

Though, if at a later time it's decided it would be preferable to go more dynamic, for deciding which to show it would likely be sufficient to check if the input text contains an `@` since it is not a legal GitHub name character.

Just wanted to mention this as food for thought. :+1:
It's

[2018-09-27 20:13] tierninho commented on #5766
@tiagodenoronha thanks for the quick fix!!

@Daniel-McCarthy Yes, the dynamic route is a good option. I'll let the team weigh in first. Many thanks for the input and all the hard work!

[2018-09-27 20:34] steveward commented on #5763
@Wzy-CC I'm glad to hear that a reinstall got things working again, and thank you for sharing the log file. I see a few errors in the log file, but nothing that appears to be directly related to the crash. I'm going to close this issue out, but please don't hesitate to reach out if you encounter any further issues.

[2018-09-27 20:34] #5763 closed

[2018-09-27 20:46] j-f1 commented on #5771
How about a light gray “About GitHub Desktop” link tucked away in a corner of the welcome wizard?

[2018-09-27 20:56] tierninho opened #5772 "Onboarding buttons are backwards"
The Desktop onboarding process in the Welcome flow currently shows multiple forms, each with the primary action button (blue one) on the left, and secondary button on the right. This is opposite of the rest of the app, which has the primary action button on the right and secondary button on the left (unless it is a destructive action).

1) Github.com sign-in
2) Enterprise sign-in
3) Git sign-in
4)

[2018-09-27 21:49] tiagodenoronha commented on #5766
That is actually a nice solution. Check whether the input has an @ and present a different message per case!

[2018-09-27 22:00] billygriffin commented on #5772
We're looking at the entire onboarding experience in https://github.com/desktop/desktop/issues/5686 so just wanted to make sure this was linked in that issue.

[2018-09-27 22:06] billygriffin commented on #5771
This feels small enough to address in context of #5686 as we look at onboarding more holistically (linked it so it'd be captured there). Does that seem reasonable?

[2018-09-27 22:12] tierninho commented on #5771
Yes, indeed. Not sure if I should close it or not...

[2018-09-27 22:13] rudraksh1234 opened #5773 "https://github.kaushik.com"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-09-27 22:14] rudraksh1234 commented on #5773
first time attend

[2018-09-27 22:14] tierninho commented on #5773
@rudraksh1234  thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-09-27 22:15] rudraksh1234 commented on #5773
I donot know anything

[2018-09-27 22:16] tierninho commented on #5772
Closing this issue for now in light of ⬆️

[2018-09-27 22:16] #5772 closed

[2018-09-27 22:16] #5771 closed

[2018-09-27 22:19] tierninho commented on #5773
Thanks for taking time to download GitHub Desktop. There is a lot of info https://desktop.github.com/ and https://github.com/desktop/desktop. Feel free to reach out if you have any issues.

[2018-09-28 00:11] steveward commented on #5773
@rudraksh1234 if you are looking for more resources to learn more about Git and GitHub, I would recommend taking a look here:

https://help.github.com/articles/git-and-github-learning-resources/

[2018-09-28 00:13] steveward commented on #5719
@Mlocik97-issues were you able to resolve this issue? Often this error is thrown when you try to publish a branch that does not yet have any commits. Make sure you [commit your changes](https://help.github.com/desktop/guides/contributing-to-projects/committing-and-reviewing-changes-to-your-project/), and then try clicking `Publish` again.

[2018-09-28 06:58] anuptripathi4u commented on #3580
+1

[2018-09-28 09:58] j-f1 commented on #3580
Please don’t comment “+1” to show your support. Instead, please use the 👍 reaction on the first post.

[2018-09-28 12:51] #5756 closed

[2018-09-28 13:24] jimgraham opened #5774 "License terms expand past modal, un-scrollable"
## Description
The text in the OSS licenses and also the terms overflows the modal window

## Version
* GitHub Desktop: 1.4.1
* Operating system: mac osx 10.13.6 High Sierra

## Steps to Reproduce

1. Click "About GitHub Desktop"
2. In modal dialog, click either "License and Open Source Notices" or "Terms and Conditions'

Text overflows the modal, and is neither readable nor scrollable

![image](h

[2018-09-28 14:50] tierninho commented on #5774
@jimgraham thanks for filing. We addressed this here: https://github.com/desktop/desktop/issues/5756

[2018-09-28 14:50] #5774 closed

[2018-09-28 17:25] tierninho opened #5776 "Suggestion: Add UI treatment to default and protective branches"
Enhancement suggestion: As it can be unclear to the user that the current branch they are working on is the default or a protective branch, I suggest we show a `default` badge next to the respective branch name in the below pic. Alternatively, we could change the text color.

<img width="245" alt="screen shot 2018-09-28 at 9 28 46 am" src="https://user-images.githubusercontent.com/14828183/4622320

[2018-09-28 19:04] mdiep opened #5777 ""Publish branch" modal window's default button doesn't work as default"
## Description
When you try to open a PR for an unpublished branch, a modal window is show. If you press _return_ on your keyboard, the cancel button is used instead of the publish branch (which has a default button treatment).

<img width="462" alt="publish-branch" src="https://user-images.githubusercontent.com/1302/46228293-a5f55c80-c32f-11e8-99eb-376a0ea92baf.png">

## Version
* GitHub Desktop:

[2018-09-28 19:05] tierninho commented on #5776
@billygriffin Thanks for the helpful feedback on this issue.

1. A bit of an edge case in my reasoning for the default badge. The badge would be beneficial to those who have named their default branches something ambiguous. The badge would serve as a reminder that the commits are going to the default branch, and to others new to the repo. I agree, that this change doesn't have a strong business ca

[2018-09-28 19:15] outofambit commented on #5777
Hi @mdiep thank you so much for the excellent bug report! We've been discussing issues like this recently. @desktop/design can you weigh in on this case?

[2018-09-28 19:18] outofambit commented on #5770
this will involve:
- update jest to version where the above PR is released
- removing the `--detectOpenHandles` flag from the test npm script in `package.json`
- running tests to ensure everything still passes (locally and on CI by opening a PR)
- profit 🤑

[2018-09-28 19:45] billygriffin commented on #5777
Thanks @mdiep! @outofambit This is perfectly characterized as a bug in the description. We use "Cancel" as the default button for destructive actions, and otherwise the normal button should be used (it's also the blue button which is the visual indication).

[2018-09-28 19:53] billygriffin commented on #4647
I'm going to close this since we have this work captured in https://github.com/desktop/desktop/issues/1021.

[2018-09-28 19:53] #4647 closed

[2018-09-28 19:55] billygriffin commented on #1021
From @nerdneha in #4647:

Just want to call out that there are a couple use cases here to potentially differentiate:

1. Master branch -> new branch
2. Protected branch -> unprotected branch

[2018-09-28 20:10] Mlocik97-issues commented on #5719
Now I haven't error, but something else,... Github Desktop is suggesting Publish already published repo... WTF https://www.youtube.com/watch?v=4TmorqtW3bU&feature=youtu.be&ab_channel=GabrielMlocik

[2018-09-28 20:19] Mlocik97-issues commented on #5719
in 1.4.0 and 1.4.1 it also happen

[2018-09-28 21:51] mungojam commented on #5330
For my two scenarios, we are just flipping between two branches, one of them often master, so hopefully some caching when the commits are done could help here. Or if another tool did the commit and then switched branch quickly, you might need to then just check the previous branch to see if it had any unpushed commits. That only works if GitHub Desktop is open, but we often do have it open all the

[2018-09-28 22:10] mungojam commented on #5330
@iAmWillShepherd

The more information the better (unless it makes it too noisy), but when just working between two branches a global indicator that there are unpushed commits somewhere would satisfy me. It's a 'you are in the danger zone' flag to people. I guess it would get annoying if you had another long-standing branch that you didn't push for a long time for some reason but I haven't yet had

[2018-09-29 05:21] JosephTLyons opened #5779 "Avatar is not currently displaying after newest 1.4.1 update and Mojave"
## Description
I no longer have my normal Github custom avatar (my pic) as my icon in Github Desktop since updating to 1.4.1 and macOS Mojave.  I simply just get the generic image.  I actually made a post like this a few months back, as this isn't the first time this happened, but it turned out some 3rd party software altered my .gitconfig file and the email address used in the .gitconfig no longe

[2018-09-29 08:19] #5779 closed, assigned to nobody

[2018-09-29 10:56] argon27dv opened #5780 "error name="(unset)""
An AppArmor policy prevents this sender from sending this message to this recipient; type="method_call", sender=":1.645" (uid=1000 pid=24246 comm="/snap/github-desktop/35/opt/GitHubDesktop/desktop ") interface="org.freedesktop.Secret.Service" member="OpenSession" error name="(unset)" requested_reply="0" destination=":1.18" (uid=1000 pid=2067 comm="/usr/bin/gnome-keyring-daemon --daemonize --login

[2018-09-29 11:17] ghost opened #5781 "iam not getting fetch origin option in github desktop"

[2018-09-29 13:58] jlurena commented on #4122
Same issue here, but on web not desktop

[2018-09-29 15:29] herbertmilhomme commented on #2965
Is it possible to acquire the version before the latest github desktop classic?
Each time the program starts-up it immediately advertises the new github download, and even when having the newer one registered on the computer, the ad banner never stops and the "remind me later" doesnt seem to do anything to stop it. There's no "permanent" solution, except to downgrade a version before that feature

[2018-09-29 17:28] bernarddanielgaudin1 opened #5784 "https://hackerone.com/github"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-09-29 19:04] th3ken-dev opened #5785 "BF"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2018-09-30 04:30] embick opened #5786 "Text selection in popup window text fields when cursor is out of popup (bug)"
## Description

When text in a text field in a popup window is selected by click and drag, and the mouse pointer is dragged outside the bounds of the popup window, the selected text behaves as if the text field was positioned relative to the GitHub Desktop window instead of the popup window. **See illustration below.**

## Version

* GitHub Desktop:
Version 1.4.1

* Operating system:
Microsoft Win

[2018-09-30 07:14] #5785 closed

[2018-09-30 14:34] danqing opened #5787 "Dark theme for repo chooser"
Would be great for desktop to support dark mode in mojave. For example, add local project -> choose, and the file chooser is light themed. Such system dialogs should instead support system-wide dark mode.

[2018-09-30 16:50] kin7274 opened #5788 "when i commit, commit counting is not incremented.;;"
when i commit, commit counting is not incremented.;;

my id is kin7274.

but if i commit, id is JIHOON, YANG.

JIHOON, YANG is my name.... not my id.

[2018-09-30 16:58] Daniel-McCarthy commented on #1485
I believe that this issue can be closed now that #5677 has been merged.
I likely should have used "Fixes #1485" for this case.

[2018-09-30 21:20] ReagentX opened #5789 "Constantly using 400+% of CPU"
## Description

* GitHub Desktop: 1.4.1

* Operating system: MacOS Mojave 10.14 (18A391)

## Steps to Reproduce

1. Open Github Desktop
### Expected Behavior

Program uses very little CPU
### Actual Behavior

Program consistently uses 400% or more CPU

## Additional Information

### Logs

[code]

[2018-09-30 21:30] outofambit commented on #1485
@Daniel-McCarthy good catch! thanks!

[2018-09-30 21:30] #1485 closed

[2018-10-01 02:46] pbfy0 opened #5790 "Dragging the mouse quickly while in word select mode causes a crash"
## Description

When viewing a diff, entering word select mode by double clicking and dragging on the diff, then dragging the mouse quickly between between the diff and parts of the frame around it eventually results in a crash.

This crash sometimes takes 5-10 seconds of fervent dragging to trigger. If the crash doesn't happen during that timeframe, try deselecting and starting by selecting a dif

[2018-10-01 03:32] #5788 closed

[2018-10-01 09:30] luchinhsun opened #5791 "About GitHub Desktop"
I have used GitHub before, it told me to install GitHub Desktop recently, so I did, but the GitHub Desktop can't detect my all repositories which I already clone when I used GitHub before.
I think it's a problem that should be fixed, right?
or there is something I didn't do?
I think it should detect the repositories I already clone.
P.S. the path is same

[2018-10-01 10:15] j-f1 commented on #5790
Norepro on macOS.

[2018-10-01 12:48] aethelwulffe commented on #5475
Reporting same issue.  Just upgraded to latest version.  Checking out a PR resulted in this error.

[2018-10-01 13:18] Daniel-McCarthy commented on #5791
Hello there.
That is correct that the electron GitHub Desktop program does not automatically import repositories previously used in the GitHub Desktop classic program.

More information on this can be found in Issue #5743.
It may be worth noting that you can drag and drop your current repositories onto the electron program to add them. I understand this is not a perfect replacement, especially if

[2018-10-01 13:54] billygriffin commented on #5791
Thanks @luchinhsun for the issue, and thanks so much for the quick response @Daniel-McCarthy! ❤️

What @Daniel-McCarthy said is all correct, so I'm going to go ahead and close this issue.

[2018-10-01 13:54] #5791 closed

[2018-10-01 14:52] oktonion opened #5792 "Github Desktop mess with x-github-desktop protocol"
## Description
Cloning process with 'Open In Desktop' from browser is not starting.

## Version

* GitHub Desktop:
1.4.1
* Operating system:
Windows 7 x64

## Steps to Reproduce
Launch 'Open In Desktop' for any repo
GitHub Desktop shows up
Nothing happens

### Expected Behavior
Cloning process

### Actual Behavior
Nothing happens

## Additional Information
I'm reopening the issue since #5324 was c

[2018-10-01 15:07] vankasrini opened #5793 "error on desktop"
fatal: unable to access 'https://github.com/KLVJPinnacleTeam/NeptuneUI.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092013) - The revocation function was unable to check revocation because the revocation server was offline.

[2018-10-01 15:19] iAmWillShepherd commented on #5793
Thanks for taking the time to open an issue! 🙇

Without additional context, this issue seems related to a [known issue](https://github.com/desktop/desktop/blob/master/docs/known-issues.md#certificate-revocation-check-fails---3326) around certificate revocation failing.

I'm going to close this since we have a workaround in place. If it does not work for you, feel free to re-open this issue. 👍

[2018-10-01 15:19] #5793 closed

[2018-10-01 15:27] billygriffin commented on #1719
Adding the help wanted label. We don't think this is going to be used by a large portion of users, but we're absolutely open to the original suggestion here if someone from the community wants to implement it. We agree that it would likely be useful to power users.

[2018-10-01 15:28] billygriffin commented on #5714
Hi @justingolden21, we're tracking this in #1719 and I just added `help wanted` to that issue, so if the community wants to pick it up, we think that'd be great. Thanks!

[2018-10-01 15:28] #5714 closed

[2018-10-01 15:35] tiagodenoronha commented on #5766
@tierninho Close if it's ok!

[2018-10-01 15:37] iAmWillShepherd commented on #5792
Thanks for the super detailed issue and thorough analysis of the root cause! 😃

[2018-10-01 15:49] jborn commented on #3816
Sorry for the delay, but this still isn't working for me.  I've attached my latest information.

My .gitconfig looks like this:

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Jeffrey Born
[user]
	email = jeff.born@peachtreegeographics.com

Signing out and signing in did nothing for me.  Still have the sa

[2018-10-01 15:50] billygriffin commented on #5790
@pbfy0 Thanks so much for the report! This feels like something where someone has to do some extremely unusual behavior in order to get the app to crash. I'm going to go ahead and close it as we don't expect people to be doing this sort of intense dragging in the app.

[2018-10-01 15:50] #5790 closed

[2018-10-01 15:54] iAmWillShepherd commented on #5789
Thanks for taking the time to open an issue! 🙇

Could you share some more info on the machine you're using to run Desktop?
* Model
* CPU (include core count and thread count as well as
* RAM
* Available storage

Judging by the logs, your CPU ramps up every 15 mins, is that the behavior you're observing?

[2018-10-01 15:55] iAmWillShepherd commented on #5787
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #5037. Please follow that issue
for further updates.

[2018-10-01 15:55] #5787 closed

[2018-10-01 15:57] iAmWillShepherd commented on #5786
Thanks for taking the time to open an issue the GIF was super helpful! 🙇

[2018-10-01 15:57] billygriffin commented on #4020
Going to close this in favor of #3757.

[2018-10-01 15:57] #4020 closed

[2018-10-01 16:01] iAmWillShepherd commented on #5786
I've tested this on other text fields and noticed this behavior is consistent across all of them whether it's in a dialog or the main window.

[2018-10-01 16:01] iAmWillShepherd commented on #5784
Thanks for reaching out!

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-10-01 16:01] #5784 closed

[2018-10-01 16:02] iAmWillShepherd commented on #5780
Thanks for reaching out!

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-10-01 16:02] #5780 closed

[2018-10-01 16:07] billygriffin commented on #4047
Since we haven't seen this recur, going to close this for now and if it pops back up we can reopen.

[2018-10-01 16:07] Blnac-Ceour opened #5795 "Espoire"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-10-01 16:08] #5795 closed

[2018-10-01 16:09] Blnac-Ceour commented on #5795
je suis inconus (ç().fr

[2018-10-01 16:11] billygriffin commented on #4159
@desktop/support Any chance you'd mind following up on this one?

[2018-10-01 16:13] ReagentX commented on #5789
- 15” MacBook Pro Mid-2015
- 2.8GHz i7 (4980HQ), 4 cores, 8 threads
- 16GB DDR3
- 512GB SSD, ≈100GB free

It doesn’t ramp up, GitHub Desktop just stays at 400% CPU usage while it’s open.

[2018-10-01 16:17] billygriffin commented on #4952
@desktop/support Mind taking a look at this one?

[2018-10-01 16:20] billygriffin commented on #4427
Given the multiple times we've tried to repro this unsuccessfully, we're going to close it for now, but if it's happening to others and able to be reproduced, we're happy to reopen. Thanks!

[2018-10-01 16:20] #4427 closed

[2018-10-01 16:21] billygriffin commented on #4134
Given the response above from @tierninho I'm going to go ahead and close this. We can reopen if we see it again!

[2018-10-01 16:21] #4134 closed

[2018-10-01 16:45] billygriffin commented on #5056
This looks similar to https://github.com/desktop/desktop/issues/3923 in handling of non-UTF8 chars, so we're going to close this in favor of that one.

[2018-10-01 16:45] #5056 closed

[2018-10-01 16:51] billygriffin commented on #5112
Added `help wanted` and `performance` here as I think it's a fairly rare case but if someone wants to dig into it that would be great.

[2018-10-01 16:54] outofambit opened #5796 "Revisit refactoring `getStatus`"
I started some refactoring of `getStatus` in #5715 and we noted in https://github.com/desktop/desktop/pull/5683#discussion_r221463298 that there is more to do. I'd like to refactor getStatus to be more functional, possibly in tandem with #5499.

[2018-10-01 17:16] billygriffin commented on #4281
@Pr0methean Thanks for the report here. We haven't seen this from others, and it feels like only a very niche configuration that could get folks into this place, so I'm going to close this for now.

[2018-10-01 17:16] #4281 closed

[2018-10-01 17:17] billygriffin commented on #5781
Closing this as the original user appears to be deleted.

[2018-10-01 17:17] #5781 closed

[2018-10-01 17:28] billygriffin commented on #5719
@desktop/support Would you mind taking a look at the video? It appears the repro steps are:

1. Create a repo locally, including .git
2. Add the local repo to Desktop
3. Make a commit
4. Publish to GitHub
5. Make another commit
6. Try pushing, and instead of pushing it pops the "Publish repository" modal instead of pushing.

[2018-10-01 18:04] #5724 closed

[2018-10-01 18:27] tierninho commented on #4393
@gingerbeardman Sorry for the delay in responding to this issue. Any chance you could:

file:/Users/shiftkey/.gitconfig	diff.localizablestrings.textconv=iconv -f utf-16 -t utf-8`

Also, are you requesting we enhance Electron Desktop or are you saying this a bug? It seems we prevent the display of these diffs on purpose, but we could do a better job at identifying diff drivers.

[2018-10-02 06:48] oktonion commented on #5792
@iAmWillShepherd I had a quick look at codebase for up-to-date master and it seems now
https://github.com/desktop/desktop/blob/07f354771b42f218e3c0de2395846576952bef1d/app/src/main-process/main.ts#L139
GH Desktop has changed the cmd line arguments since issue #5324 was discussed. So I'm a bit confused with what is happening. But it still is not working with firefox and Windows 7. So n.1, n.2, n.4

[2018-10-02 06:49] iAmWillShepherd commented on #5792
@ oktonion,

Sorry for the delay on this, I'm not that familiar with Windows so I had to do a bit soul searching to parse this. Do the following points summarize your issue correctly? I also included a couple of questions of my own.

1. HKEY_CLASSES_ROOT: `command(Default)` should be `...GitHubDesktop.exe" --protocol-launcher -- "%1"`
1. HKEY_CURRENT_USER: `command(Default)` should be `...GitHubDe

[2018-10-02 06:51] iAmWillShepherd commented on #5792
@oktonion,

I'm not sure I understand what you mean by your fifth question.

[2018-10-02 07:08] oktonion commented on #5792
@iAmWillShepherd I'm talking about that:
[code]
I can not understand which .exe is the right one, why there are two directories with same binaries (lots of .dll, .exe, .bin).

[2018-10-02 07:17] iAmWillShepherd commented on #5792
Ahh, gotcha. Thanks for the clarification on that question. Are you able to confirm my summarized points as well?

[2018-10-02 07:34] iAmWillShepherd commented on #5792
@oktonion, regarding you point:

[code]

I think this may be a result squirrel updater [[point 6 in  docs](https://github.com/Squirrel/Squirrel.Windows/blob/master/docs/using/update-process.md)].

[2018-10-02 07:41] oktonion commented on #5792
@iAmWillShepherd so about your summary:
I can not tell what are the right numbers of registry keys for the purpose of registering URI protocol in Windows 7 although Microsoft states that key in HKEY_CLASSES_ROOT should be enough. Also I see that this issue appears to be some misunderstanding between definition of "Application registered to handle URI protocol" in firefox and in GH Desktop for Wind

[2018-10-02 07:43] iAmWillShepherd commented on #5792
@oktonion, he is out on vacation

[2018-10-02 07:47] oktonion commented on #5792
So the version in C:\Users\User\AppData\Local\GitHubDesktop\$CURRENT_VERSION_NUMBER$\GitHubDesktop.exe is the one? Or C:\Users\User\AppData\Local\GitHubDesktop\GitHubDesktop.exe is? Anyway why there are two of a kind?

[2018-10-02 07:59] oktonion commented on #5792
@shiftkey ? If so that's good for him. He will not be stuck in that conversation. =)

Back to the topic about firefox and electron-based GH Desktop relations:
I suggest that a developer of GH Desktop should contact firefox via bug tracker and solve the issue between firefox and electron ways of registering protocol handler in Windows. My [bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=14

[2018-10-02 14:54] billygriffin commented on #4187
@DanTup Trying to run down the right answer here, and I was wondering where you see that guidance for macOS? In https://developer.apple.com/design/human-interface-guidelines/macos/buttons/push-buttons/ the primary guidance around this is:

But I couldn't find anything about tabbing to a particular button and the expected behavior at that point. Anecdotally, I asked several macOS users and they all

[2018-10-02 15:02] billygriffin commented on #3629
@gingerbeardman Where do you see that "default is always rightmost" in the macOS guidelines? I couldn't find that anywhere, and a quick check of deleting something in my trash runs counter to that.

<img width="384" alt="screen shot 2018-10-02 at 9 00 35 am" src="https://user-images.githubusercontent.com/5091167/46357303-cb30e600-c621-11e8-91b4-9d02af199c62.png">

[2018-10-02 15:08] koenpunt commented on #3629
What @billygriffin says is true.

And it's also not true that the secondary item is always focussed. If you do CMD+ALT+BACKSPACE on a file, you'll get an dialog that has the `Cancel` button as primary, which is also the focussed button;

![image](https://user-images.githubusercontent.com/351038/46357647-9b0b3680-c665-11e8-859f-a1fd0052cb57.png)

[2018-10-02 15:11] gingerbeardman commented on #3629
https://developer.apple.com/design/human-interface-guidelines/macos/windows-and-views/alerts/

In full...

[2018-10-02 15:16] iAmWillShepherd commented on #5792
@oktonion

I've answered all your questions below

I created a fresh VM with Windows and installed both Desktop and Firefox on it. I clicked the _Clone or download_ button on the desktop/desktop repo to open the repo in Desktop. I was presented with this dialog on Firefox. I opened the link and Desktop opened as expected.

![screen shot 2018-10-02 at 9 30 51 am](https://user-images.githubuserconte

[2018-10-02 15:16] #5792 closed

[2018-10-02 15:18] j-f1 commented on #3629
It seems like Cancel should be the default when the action is destructive, and the destructive action should be on the right since that’s the most common action.

[2018-10-02 15:19] gingerbeardman commented on #3629
@j-f1 indeed, see point 6 in the list (and my edit above)

[2018-10-02 15:22] koenpunt commented on #3629
Btw, moving a file to the trash is not seen as destructive apparently, because there the cancel button is not the default.

[2018-10-02 15:33] gingerbeardman commented on #3629
@koenpunt the default button is the blue one

[2018-10-02 15:36] koenpunt commented on #3629
Oh I meant emptying the trash;

![image](https://user-images.githubusercontent.com/351038/46359517-b7a96d80-c669-11e8-8a6b-7182c492cdc3.png)

[2018-10-02 15:45] newguy12345 opened #5798 "Electron is garbage"
All I want to say is that you should have used JavaFX (or my God, your app is so simple just make separate apps) instead of Electron. I've had nothing but problems.  Constant errors with "locks" that disappear a second or third time you click Pull/Fetch.   Now, the title of my last commit stays in the text box label even after something has been committed and pushed.  It's also a lot slower. I'm s

[2018-10-02 15:46] DanTup commented on #4187
@billygriffin See the link in https://github.com/desktop/desktop/issues/4187#issuecomment-370916152 and the comment below. It wasn't official guidance, it was an SO answer - however I tested it with some built-in dialogs and that matches how it works (I couldn't find it documented anywhere official).

For example, click Empty Trash then press `<tab>` so that one button has Blue BG and one has Blue

[2018-10-02 15:50] billygriffin commented on #5798
Thanks for the issue @newguy12345, and sorry you're having problems with the app. If you'd like to open an issue with the template to report a specific problem (maybe one of the ones you referenced), we'd be happy to look into it. If you decide to switch, hope whatever you find works great for your needs.

[2018-10-02 15:50] #5798 closed

[2018-10-02 15:50] gingerbeardman commented on #3629
Interesting.

So immediate deletion is seen as destructive, but emptying the Trash is not.

I could only guess at the reasoning.

[2018-10-02 15:58] billygriffin commented on #4187
Sorry @DanTup, I just typed "<return>" instead of `<return>` 😞

I'm going to go through and do a more thorough read of the macOS and Windows docs on all this stuff and hopefully create a set of guidance that describes what we're doing and how it aligns with the OS-level guidance. Thanks for the thoughts here, they're really helpful.

[2018-10-02 16:02] msftrncs opened #5800 "failure to restart after just being open"
## Description
After having just had Desktop open and refreshed a repository from online, I closed desktop, and a few moments later (2 or three minutes, as I moved some files around relating to the repository, I attempted to reopen desktop, and it would not open.

![image](https://user-images.githubusercontent.com/26179051/46361291-d3dde800-c632-11e8-9ee0-a762eb23a519.png)

## Version
* GitHub Des

[2018-10-02 16:12] oktonion commented on #5792
@iAmWillShepherd Thank you for detailed answer and for your time. If it is the case that now reinstall of GitHub Desktop will solve the problem for firefox in Windows 7 I will definitely do it. That's unfortunate that such a simple solution took so complicated discussion. I will try it tomorrow.

[2018-10-02 17:13] #5736 closed

[2018-10-02 18:03] DanTup commented on #4187
Here's the closest thing I can find to official:

https://support.apple.com/en-gb/HT204434

It says "menu item" so it's not clear, but it does match the behaviour of the built-in dialogs - the blue buttons are *defaults*, accepted with `<enter>` and tab moves the *selection* which is accepted with `<space>`.

[2018-10-02 19:02] tierninho opened #5802 "UI: data focus ring treatment should be uniform"
The data focus ring is inconsistent in Desktop and should be uniform.

Version 1 looks better, as the entire data focus ring can be seen. Although this is not a tab like below, the UI treatment is visible and clear.

<img width="281" alt="screen shot 2018-10-02 at 11 43 00 am" src="https://user-images.githubusercontent.com/14828183/46369693-89f80080-c638-11e8-89d8-037f89444ce3.png">

Version 2 has

[2018-10-02 19:15] steveward commented on #5800
Thanks for the report @msftrncs. This looks like the same error that was reported in https://github.com/desktop/desktop/issues/5763. It does look like the update to v1.4.1 failed based on the log file you sent over.

I would recommend deleting the `%LocalAppData%\GitHubDesktop` directory and then reinstalling GitHub Desktop to see if that gets things working again for you.

[2018-10-02 20:32] aethelwulffe commented on #5475
I have not tried to checkout the PR I have had this issue with (did some manual work-arounds).  Causation would be nice to figure out.

[2018-10-02 21:09] msftrncs commented on #5800
FYI, I was able to get it running again (right or wrong) by using the copy stored in the folder `AppData\Local\GitHubDesktop\app-1.4.0` and use the About... Update function there, the update completed successfully this time, and now the regular icons start the app successfully.  In my case I might wonder if I shut it down while it was trying to update.  I only had it open long enough to refresh a

[2018-10-02 21:17] amerikan commented on #2481
How can I discard the files that are **ONLY SELECTED**? I find myself try do discard several but at the same time I also want to keep some. In the old Github desktop app, I remember I could do it.

**Example:**

I have 5 files with changes. I want to only discard 3 files and keep the other 2. If I select only the 3 files and click on Discard All changes, it prompts to discard everything instead of

[2018-10-02 22:38] billygriffin commented on #4047
Bummer, thanks @svivian. I'm going to reopen and add `help wanted` to see if there's anyone experiencing this who wants to dig into it and propose a solution. While it doesn't inhibit someone's workflow, it's certainly not the behavior that they'd expect. I tried on a really old machine and a mobile network, and couldn't repro (it swapped my avatar in very quickly).

[2018-10-02 22:40] j-f1 commented on #2481
You have to use Cmd/Ctrl/Shift+click to select multiple files (not the checkbox, the whole row), then choose “Discard X files.”

[2018-10-02 22:44] cocco3 commented on #2745
Has there been any movement on this? Seems instead of setting the width to 230px, you can make that a min-width and do `flex-grow: 1` to take up as much space as possible.

[2018-10-02 22:46] amerikan commented on #2481
@j-f1 pretty counter intuitive way to do it, alas it worked so thanks.

[2018-10-03 07:58] laurenth-unity commented on #2893
I checked the json and I had it at -32000 -32000, I believe I cannot have set this myself :)

[2018-10-03 14:38] TheJaredWilcurt commented on #2965
I've started an open source project for a cross-platform git GUI. Its design is a combination of the best aspects of several different git GUI's, including the pre-electron version of GitHub for Desktop.

It's very early on (just started it), and will likely be quite a while before a beta release is available, but thought I would mention it here for those interested:

* https://github.com/TheJared

[2018-10-03 14:51] iAmWillShepherd opened #5803 "Add context menu to branch list"
Tagging #5555 since this issue is related to point 2 in that issue.

Starting a branch comparison is currently a bit confusing. Desktop requires that the user click on the _History_ tab then a text box to show a list of branches to compare against.

![2018-10-03 09 39 50](https://user-images.githubusercontent.com/1715082/46418562-a4da7b80-c6f1-11e8-8b11-eee2066ca714.gif)

This is problematic becau

[2018-10-03 15:28] #5609 closed

[2018-10-03 15:35] zerox1212 commented on #3923
I have the same issue in the Changes tab when working with ANSI (Windows 1252) encoded text files. Special ANSI characters render as "?" blocks.

[2018-10-03 16:44] NickCraver opened #5805 "Proposal: add path to "Remove repository" dialog"
Currently, when you right click and `Remove...` on a repository in the list, you'll get the following dialog:
![image](https://user-images.githubusercontent.com/454813/46425368-7b2d4e80-c709-11e8-9719-5f8d2f52fed5.png)

Several times, I've found I had another clone somewhere and GitHub desktop had the wrong one...not the thing I intended to edit. So time to remove that and add the right one.

Sinc

[2018-10-03 16:47] iAmWillShepherd commented on #5805
Thanks for taking the time to open an issue, this is an excellent suggestion! 🙇

[2018-10-03 16:48] iAmWillShepherd commented on #5805
cc @desktop/product and @desktop/design for their opinion on this suggestion.

[2018-10-03 16:56] outofambit commented on #5805
The place to start on this would be in: https://github.com/desktop/desktop/blob/9ada1c10559089eea46c8354ac8a1b1404f771b4/app/src/ui/remove-repository/confirm-remove-repository.tsx#L27

The `repository` prop should have the information needed (aka the path) for this new message 😃 you can see what it contains at https://github.com/desktop/desktop/blob/9ada1c10559089eea46c8354ac8a1b1404f771b4/app/src

[2018-10-03 17:11] billygriffin commented on #5805
This is a great suggestion @NickCraver and thanks @outofambit for adding the community labels and offering guidance on where to start!

[2018-10-03 17:56] NickCraver commented on #5805
@outofambit Thanks for the time savers there (and thanks all for feedback!) I opened a PR with the changes in #5807.

[2018-10-03 20:40] deepakshilkar commented on #3148
I am having the same problem VS 2017 Enterprise. Has anyone come across a workaround?

[2018-10-03 23:43] CharlesStover commented on #3260
Disabling sslVerify resolved this issue for me.

[2018-10-04 04:34] JKirkYuan commented on #5777
**UPDATE**: So for dialogs like `create-branch-dialog` or `rename-branch-dialog`, the autofocus goes onto the input element so on `Enter` it will click on the button with `type="submit"`. For some reason, `delete-branch-dialog` and `push-branch-commit` seem to autofocus on the first button element.

Temporarily got it working by using a `onButtonRef` pointing to the *Publish Branch* button element

[2018-10-04 06:58] reza-faghihi commented on #2107
Thanks, dude it really worked for me

[2018-10-04 08:43] joaomlneto commented on #5789
@ReagentX I can't reproduce (GitHub Desktop 1.4.1, macOS Mojave 10.14, MBP mid-2015; w/ AMD graphics, 2.5GHz CPU).

Are you sure it's the CPU and you're not seeing increased fan spinning due to the discrete graphics after upgrading to Mojave?

[2018-10-04 09:35] Jesus75 commented on #5654
- [ ] dhn dkdod DS_bdjmssldldcddkkkddkjdjdsm..z
Zcd your-project
virtualenv --python python3 envdjnndnzzdbdndsd

Keep PNL
Docd your-project
virtualenv --python python3 envjdmd,
Folder Rd

Xnxklskodd
Ro
3l DS d_

[2018-10-04 12:06] Zeterro commented on #1770
I'm having the same issue, my project is a Unity Project.

[2018-10-04 14:07] billygriffin commented on #5777
@JKirkYuan I'm not sure about `push-branch-commit` but for the other three you mentioned, that sounds correct (delete is a destructive action and therefore should respect the "Cancel" button on `Enter`, regardless of the placement of it).

cc: @desktop/engineering as well as I can't speak to the implementation question

[2018-10-04 15:05] ReagentX commented on #5789
Yes, I am specifically monitoring CPU usage.

[2018-10-04 15:56] jeremyzilar opened #5811 "GitHub Notifications via Desktop"
As a user who works across a number of open-source projects, I would like to be able to get notified (via the Desktop App?) when I have been tagged or mentioned in an issue or PR of any project that I may be working with in GitHub.

At the moment, I am getting notifications via email https://github.com/settings/notifications
and those are technically working, but email is a unfixable swamp and the

[2018-10-04 16:40] #5805 closed

[2018-10-04 16:48] kanishk98 commented on #5661
Okay, I messed around with the code here and got the desired functionality to work.

![image](https://user-images.githubusercontent.com/24617297/46489378-d56e0280-c822-11e8-90e2-2b1024bb27e0.png)

The changed code is in `src\ui\clone-repository\clone-repository.tsx`, and I simply added a `fetch()` method to check for HTTP error codes.

[code]

It'd be great if other contributors could let me know

[2018-10-04 16:53] dbchristopher commented on #4569
Just wanted to add my support for this feature enhancement. I have to switch to command line every time I want to double check what branch I'm currently on, which is really annoying. Seems like an easy fix to remove a common pain point

[2018-10-04 17:10] tierninho commented on #4569
@dbchristopher I agree that surfacing the entire branch name would be useful, however you can always just hover over the branch to see the entire name in the tooltip.

<img width="472" alt="screen shot 2018-10-04 at 10 07 39 am" src="https://user-images.githubusercontent.com/14828183/46490738-a40f1b80-c7bd-11e8-9f1c-db5f6a2fbe8f.png">

[2018-10-04 17:12] outofambit commented on #5777
@JKirkYuan this is great research. thank you!

could you open a WIP PR with the `onButtonRef` solution so I could see what that looks like? feel free to @ mention me in it so I see it right away. :)

[2018-10-04 17:17] outofambit commented on #5661
@kanishk98 Hi! I'm just getting up to speed here. Would love to see the PR and offer feedback! 😄 Feel free to tag me in it!

[2018-10-04 17:58] dbchristopher commented on #4569
Cool, thanks @tierninho! That's helpful. I guess now that I think about it the bigger annoyance is actually having to select a branch from the dropdown which is also far too narrow to show the complete branch name. I hope that will also be expanded to match the wider button

[2018-10-04 18:06] iAmWillShepherd commented on #5811
Thanks for taking the time to open an issue! 🙇

cc @desktop/product for thoughts as this is something they may have an interest in.

[2018-10-04 18:07] tierninho commented on #4569
Glad it helps! Same workaround for the branch list, just hover:

<img width="400" alt="screen shot 2018-10-04 at 11 06 28 am" src="https://user-images.githubusercontent.com/14828183/46493588-9eb5cf00-c7c5-11e8-8afd-d93286c3d7bc.png">

[2018-10-04 18:11] tierninho opened #5812 "Ref component rendering differences between macOS and Windows"
`Ref component` or its associated CSS does not reflect the same on Windows and MacOS. Notice the font sizes are different between OS and Windows for the `ref component` in the following example:

https://github.com/desktop/desktop/pull/5807#issuecomment-427076126

Within the class, Windows the font sizes match, while Mac has two different font sizes.

tested with: Mac, 1.4.2-beta0

[2018-10-04 18:17] billygriffin commented on #5811
Hey @jeremyzilar! Echoing Will, really appreciate you opening this.

In Desktop specifically, we're not looking at notifications except in the context of individual workflows (for example, being notified when your branch has diverged from your default branch: https://blog.github.com/2018-07-30-github-desktop-1.3/).

More broadly, I agree with you that GitHub more broadly could make some improvemen

[2018-10-04 18:17] #5811 closed

[2018-10-04 18:19] say25 commented on #4272
@Daniel-McCarthy are all of these done now?

[2018-10-04 18:35] cocco3 commented on #4569
This is still a poor user experience to have to hover over everything in a list to find what you're looking for instead of just being able to quickly scan it.

[2018-10-04 18:48] Daniel-McCarthy commented on #4272
@say25 There's still `models/diff/diff-selection` and `models/diff/raw-diff` which I will create a pull request for very soon. So very close. I had previously accidentally left `raw-diff` out of this list until I caught it yesterday.

[2018-10-04 20:17] Daniel-McCarthy commented on #3090
I was taking a look at this last night. If I understand correctly, the issue seems to be that although we sanitize names with the `Create-Repository` dialog, we do not do the same checks in the `Publish-Repository` dialog, which gives the user a chance to potentially put in characters like emojis?

Would it then be sufficient to include this sanitization behavior we do in the `Create-Repository` d

[2018-10-04 21:08] steveward commented on #3816
@jborn thanks for updating this issue with the latest log files, and I am sorry that we still have not yet been able to track down what is causing these authentication errors. I installed a fresh Windows 10 VM in VirtualBox on my macOS machine but was unable to reproduce this issue.

Would you mind running one more command from one of these VMs where you are experiencing this issue?

`git config -

[2018-10-04 21:18] steveward commented on #4181
@tdalon are you still having issues pushing to your GitHub Enterprise repository? Can you verify that you have the correct [access permissions](https://help.github.com/articles/repository-permission-levels-for-an-organization/) to push to that repository still? If you have `read-only` permissions for that specific repository it could throw this error.

@MulakaNaveen if you are still encountering t

[2018-10-04 21:30] steveward commented on #4953
@chrstphrchvz setting `core.filemode` to `false` will force Git to ignore file mode changes. The default setting is `true` when `core.filemode` is not specified in the config file.

Did setting this value to false fix the issue for you?

[2018-10-05 07:01] yipeng2000 opened #5819 "how to create remote branch by git branch -b"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2018-10-05 10:11] GriffinSauce opened #5820 "Unable to download the installer -> error 500"
## Description

The download link returns a 500 error
https://central.github.com/deployments/desktop/desktop/latest/darwin

## Steps to Reproduce

1. https://desktop.github.com/ click download

This has happened before a few times. Is there an alternative way to download? You could attach the installer to releases here on Github as a fallback for this infrastructure.

[2018-10-05 10:35] SofianeOuaari commented on #3613
I'm having the 500 error when trying to install the GitHub Desktop.

[2018-10-05 10:45] antn commented on #3613
@SofianeOuaari sorry about that! Can you try again? It should be fixed. 😄

[2018-10-05 11:39] waygou opened #5821 "Making a commit with a username that is not logged in."
## Description
I've logged in with another user in Github desktop but when I commit data to the repository, it commits with the previous user that I was logged in.
Also, the icon in the commit description doesnt change (minor issue).

## Version
1.4.1

* Operating system:
Windows 10

## Steps to Reproduce
1. Log in with a user.
2. Make some commits in a repo.
3. Log off and log with another user.

[2018-10-05 13:53] steveward commented on #5821
Thanks for contributing @waygou.

This issue is due to the fact that the name and email address in your `.gitconfig` file still point to the initial user account you logged in to GitHub Desktop with. When you first launch GitHub Desktop, we help you to sign in to your GitHub account, and after that we pre-fill the Git configuration information (for committing) using the name and email address from

[2018-10-05 13:53] #5821 closed

[2018-10-05 13:59] steveward commented on #5819
@yipeng2000 thanks for contributing.

Once you [create a branch](https://help.github.com/desktop/guides/contributing-to-projects/creating-a-branch-for-your-work/) in GitHub Desktop you will see the `Publish branch` option appear. This will publish your local branch up to the remote repository on GitHub. Let me know if you have any other questions about this.

---

In the future it would also be he

[2018-10-05 13:59] #5819 closed

[2018-10-05 14:21] tierninho commented on #5820
@GriffinSauce sorry about that! Can you try again? It should be fixed. 😄

[2018-10-05 14:45] billygriffin commented on #610
This might also be relevant for #5686.

[2018-10-05 16:22] svivian commented on #4047
I get similar issues with pretty much everything in github desktop. For example there are constantly screens saying "No local changes" flashing up every time I click a file in the changes tab, and then changing to show the file diff. Same with "No history" in the History tab.

Going back to the avatar thing,

Why do you need to show "something"? Isn't it more confusing to show the wrong image temp

[2018-10-05 17:35] JakeHL commented on #5234
Did anyone get anywhere with this? I can take a look

[2018-10-05 17:43] tierninho commented on #5234
@JakeHL As it's been a few weeks, feel free.

@kanishk98 If you have a PR pending, please let us know 😄

Thanks, all!

[2018-10-05 18:14] NatoBoram commented on #1525
Thanks to https://github.com/shiftkey/desktop/issues/59#issuecomment-424110415, this problem was resolved!

[code]

[2018-10-05 18:54] zaus commented on #5336
Apologies for not replying, went straight to my spam folder.  The following was written without an argumentative intent, so hopefully it comes across appropriately neutral.

1. I don't think knowing my particular git aliases matters; basically my aliases are either normal git commands with specific options, or combinations of git commands.  The point is that it would be a very convenient customiza

[2018-10-05 20:52] JakeHL commented on #5234
The tab bar seems to be stealing focus after launching the modal for the first time - I've been trawling through the components in this modal to see if/why focus would be stolen but I'm a little stumped, anyone got an idea?

[2018-10-05 20:56] ssowens commented on #2886
Consistently getting the following error: "The destination already exists." If I add "latency" as stated above the error goes away. However, why is this happening? Please assist.
<img width="451" alt="screen shot 2018-10-05 at 4 55 36 pm" src="https://user-images.githubusercontent.com/3893230/46559825-8a55fd00-c8bf-11e8-8e01-3b434489a82d.png">

[2018-10-05 21:56] greygraphics opened #5826 "Display offending file(s) when blocking push because of private email addresses"
When trying to push to master, I get an error stating that "Cannot push these commits as they contain an email address marked as private on GitHub.". It would be very helpful if the error also listed the offending file(s) containing the email addresses, so one could remove them or exclude the files from the commit.

[2018-10-05 21:59] billygriffin commented on #5826
@greygraphics Thanks for the issue! Do you mean that you'd hope the error message would also list the particular commits associated with the private email addresses?

[2018-10-05 22:03] greygraphics commented on #5826
@billygriffin Well, I imagine that would help also, but if it is possible, listing the specific file containing the email address would help even more. Because when committing multiple files at once, it would make finding the correct file faster.

[2018-10-05 22:13] billygriffin commented on #5826
@greygraphics I don't think it's that there's an email address in a particular file, but rather that the commits are signed with an email that you've marked as private on GitHub so it's blocking the push as a result. More here: https://github.com/desktop/desktop/issues/5639#issuecomment-421127636

Here's more info on the GitHub setting that's likely relevant for you here: https://blog.github.com/2

[2018-10-05 22:31] billygriffin commented on #5826
Glad it worked @greygraphics and thanks for filing the issue! Have a great weekend!

[2018-10-05 22:40] tierninho opened #5827 "`Install and Restart` button should be default button in Release Notes modal"
When clicking "what's new" in the `update-available` banner, the release notes has the buttons backward.

Reproduce:
- download latest update
- navigate to update banner

### Expected result:
`Close` has no-color, left button
`Install and Restart` is blue, default button, right button

![oct-05-2018 15-30-31](https://user-images.githubusercontent.com/14828183/46563151-c46dd180-c8b4-11e8-8205-064d3

[2018-10-05 23:47] JakeHL opened #5829 "New repository: invalid path is flagged as existing repository"
## Description

When passing the value: `C:` into the Local path field on the New repository, the warning that typically shows for existing repositories appears.

## Version

* GitHub Desktop: Version 1.4.2-beta0 commit: d8e79651a71a0bb72878b6ed465349712be845dd

* Operating system: Windows 10

## Steps to Reproduce

1. `From the main screen, press CTRL+N`
2. `Enter 'C:' into the path field`

### E

[2018-10-06 07:06] trent-grunewald commented on #3757
Just encountered this for the first time and @cbw1243 's fix worked for me, thanks!

[2018-10-06 17:05] JKirkYuan commented on #5827
I'll take a look at this one. Been playing around with how buttons are working all week! 👍

[2018-10-06 19:15] Daniel-McCarthy commented on #5631
I took a look at this and was able to reproduce it. To add some information:
- I was only able to reproduce this if I put GitHub Desktop into full screen, closed GitHub Desktop, then re-opened GitHub Desktop and it launched into full screen.
- GitHub Desktop was quite noticeably slower to launch when starting in full screen, leading to seeing a white screen on launch before loading in the UI eleme

[2018-10-07 01:02] Mikerr1111 opened #5832 "Snap package support (Feature Request)"
I was thinking the setup and install process for Ubuntu and other Linux distros could be improved by having a [Snap package](https://snapcraft.io/) version.

[Creating a Snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Create snaps from your preferred programming language.](https://docs.snapcraft.io/build-snaps/languages)

[Linux distros with Snap support](https://docs.snapc

[2018-10-07 09:28] Dzevka8 opened #5834 "option"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2018-10-07 12:54] JMKling commented on #5475
I had the same issue.  Deleting the lockfile in C:/Users/Me/Documents/GitHub/GISDev/.git resolved it.

[2018-10-07 16:52] billygriffin commented on #5834
@Dzevka8 Thanks for opening an issue! We ask that you fill out the template so we have enough information to understand what problem you’re having.

Thanks for understanding and meeting us halfway! 😄

[2018-10-07 16:56] kiser0606 opened #5835 "Y pase"

[2018-10-07 16:56] kiser0606 commented on #5835
Heo

[2018-10-07 17:19] ardias opened #5836 "Allow font size configuration"
**Please describe the problem you think should be solved**
In appearance configuration there is no way to configure fonts, especially font size.
For some files, readme.md and others, that are a bit larger it would be beneficial to be able to configure the font size, for people that may have sight problems.

**[Optional] Do you have any potential solutions in mind?**
Just allow for font configurati

[2018-10-07 17:57] kiser0606 commented on #5836
.

[2018-10-07 17:58] kiser0606 opened #5837 "I"
M

[2018-10-07 21:24] Artemonim opened #5838 "Error with unreadable characters when clone"
## Description
I tried to clone a repository to which I had no rights.
An error with unreadable characters appeared.

## Version
* GitHub Desktop: 1.4.2
* Operating system:  Windows 10.0.17134

## Steps to Reproduce
Try to clone a repository to which you hadn't rights.

## Additional Information
![2018-10-08 00-09-21](https://user-images.githubusercontent.com/36363466/46587071-099a2b00-ca90-11e8-8

[2018-10-08 07:13] hakunin commented on #2490
Just spent half hour cherry picking lines and couldn't push the commit button. Tried enabling the button via web tools and clicking it but its not working.

Version 1.4.2, according to my client its up to date.

[2018-10-08 07:40] oktonion commented on #5792
Okay, for future reference:
This is some kind of problem in firefox and it's protocol handling in general. [Bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1496024) to follow.

P.S.:
From my experience this fix is not going to happen soon because [related bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1413819) reported at the end of 2017 is still there with low priority.

[2018-10-08 08:59] GriffinSauce commented on #5820
Yep works, cheers!

[2018-10-08 12:33] Fredrik00 opened #5842 "Automatic removal of old GitHub Desktop versions and clear display of active remote branches"
Every time the application is updated, the old files remain in /appdata/local/GitHubDesktop with the old version number while a new one is added. This has two quite annoying results, one that more and more disk space is taken up unless cleaned up manually, while the other is that the path to the git executable also changes and then has to be reconfigured in PATH if it is to be used. I believe a mu

[2018-10-08 12:38] j-f1 commented on #5842
This is intentional. We use a specially-compiled version of Git that may not have all the features a normal installation of Git has. Instead, we recommend installing [Git for Windows](https://gitforwindows.org) so you have a full copy of Git available.

[2018-10-08 12:40] #5837 closed

[2018-10-08 12:43] Fredrik00 commented on #5842
That is a fair point, and I have installed Git for Windows additionally for this purpose. In terms of the extra disk space used the issue still applies though.

[2018-10-08 13:11] munir131 opened #5843 "Shell command fails if `python` points to Python 3"
## Description
It is similar to https://github.com/Microsoft/vscode/issues/3790. `github` command line utility fails when python points to Python 3

## Version
* GitHub Desktop:
**About Github Desktop** menu option is also not working.
* Operating system: OS X

## Steps to Reproduce
`github --help`

### Expected Behavior
should show help

### Actual Behavior
![screen shot 2018-10-08 at 6 30 23 pm]

[2018-10-08 13:37] steveward commented on #5838
Thanks for contributing @Artemonim.

This error is usually caused by your network blocking the attempt by Windows to check the revocation status of a certificate, which then causes the whole operation to error. You can find a workaround for this issue here:

https://github.com/desktop/desktop/blob/master/docs/known-issues.md#certificate-revocation-check-fails---3326

We have also seen cases where

[2018-10-08 13:50] GamingMineblox opened #5845 "i CANT see any files when there are files in the folder but not in github desktop app"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-10-08 14:01] billygriffin commented on #5845
Hi @GamingMineblox, thanks for reporting the issue. We ask that you fill out the template to make sure we have enough information to properly figure out what's going on and see if we can get it fixed. Screenshots are particularly helpful.

Thanks for understanding and meeting us halfway! 😄

[2018-10-08 14:04] GamingMineblox commented on #5845
here is an screenshot
![image](https://user-images.githubusercontent.com/42892277/46613559-cf726d00-cb13-11e8-826f-128b3958a865.png)

[2018-10-08 14:19] billygriffin commented on #5845
Thanks @GamingMineblox. Would you mind also filling out the template so we can understand what flow you were trying to accomplish. I suspect the culprit is that nothing has *changed* in those files you've screenshotted, so you shouldn't expect anything to show up as changed in GitHub Desktop. The app isn't designed to see all your files - we usually recommend using an editor (like [Atom](https://a

[2018-10-08 14:26] #5838 closed, assigned to nobody

[2018-10-08 14:47] nektro commented on #3757
Just encountered this issue in `1.4.2` and @cbw1243's fix worked for me, thanks!

[2018-10-08 15:13] goswinr opened #5846 "cryptic error message when Publishing"
When trying to publish a repro that has just one .txt file I get this error message:

`fatal: unable to access 'https://github.com/goswinr/test.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - The revocation function was unable to check revocation for the certificate.
`

This is my first use of Github Desktop. I have not yet done a successful publish
could this

[2018-10-08 15:14] iAmWillShepherd commented on #5843
Thanks for taking the time to open an issue! 🙇

Could you explain your configuration a bit more please? I need to verify that I can reproduce this issue on my machine. At the moment, I'm assuming you don't have the version of python that shipped with macOS, so details about how you've configured Python will help me get my dev machine in the _same_ state as yours. Disclaimer, I don't use Python, so

[2018-10-08 15:37] tierninho commented on #5836
@ardias Have you tried our zoom feature? See the `View` menu on Mac or Windows.

Alternatively, keyboard commands are:
[code]

[2018-10-08 15:39] #5835 closed

[2018-10-08 15:45] outofambit opened #5847 "toPlatformCase component helper"
## `toPlatformCase`

In #5744 we added `toPlatformCase`, a helper function to change this pattern:

https://github.com/desktop/desktop/blob/3feeaac7ba184aacdeb21aadc85587b29e3f36f6/app/src/ui/merge-conflicts/merge-conflicts-warning.tsx#L31

to this:

https://github.com/desktop/desktop/blob/3feeaac7ba184aacdeb21aadc85587b29e3f36f6/app/src/ui/discard-changes/discard-changes-dialog.tsx#L69

**The ide

[2018-10-08 15:53] outofambit commented on #5847
### My proposal:

but additionally:

* make the limitations abundantly clear through code documentation
* in components where we can't use `toPlatformCase` create a helper function in that component that returns the correct wording and casing depending on platform to avoid the inline platform check syntax outlined aboe

[2018-10-08 16:19] say25 commented on #5847
I am personally in favor of options 2 or 3. I think for first time contributors, it is easier to call the `toPlatformCase` function and get what one might expect.

[2018-10-08 16:28] say25 commented on #5847
@j-f1 that would basically be what toPlatformCase would conditionally call correct?

[2018-10-08 16:30] j-f1 commented on #5847
Yep @say25! We could even define `toPlatformCase` as:

[code]

[2018-10-08 17:20] munir131 commented on #5843
You can do it with these two steps:
1. `brew install python3`0
2. `export PATH=/usr/local/bin:/usr/local/sbin:$PATH`

Reference link: https://docs.python-guide.org/starting/install3/osx/

[2018-10-08 18:49] iAmWillShepherd commented on #5827
I think that is intended? In other areas of the app, destructive actions are never the default value.

Here's deleting a branch to illustrate:
![screen shot 2018-10-08 at 1 48 17 pm](https://user-images.githubusercontent.com/1715082/46627689-dcd22c00-cb00-11e8-88e7-6efa7a81bb60.png)

Note that the Cancel button is the main button

[2018-10-08 18:50] steveward commented on #5832
Thanks for contributing @Mikerr1111. @shiftkey [maintains a fork of GitHub Desktop](https://github.com/shiftkey/deskop) where he publishes Linux releases. You can also find any related discussion in the issue tracker there.  You can check out the [releases](https://github.com/shiftkey/desktop/releases) page to find Snap package version of GitHub Desktop.

If you run into any issues with the Linux

[2018-10-08 18:50] #5832 closed

[2018-10-08 19:47] j-f1 commented on #5847
For edge cases, we could define a second parameter that’s used as-is on macOS when it’s passed instead of the title-cased version.

[2018-10-08 22:09] billygriffin opened #5851 "Lack of feedback after merge is completed"
This came out of research in #5400, and hopefully should be released along with it.

We hope this can act as a proof of concept for feedback from other interactions in Desktop, where if this is well received and helpful for people, we'll be able to utilize it in other places in the app.

**Please describe the problem you think should be solved**

After I complete a merge, it's difficult to tell wh

[2018-10-08 23:17] tierninho opened #5853 "Only convert real Issues into urls in commit summary area"
When tagging an Issue in the commit area, via the summary or description field, we convert any Issue number into a url once the commit is made. We should only convert real Issues into a url in order to prevent the user going to 404 pages.

Are we not preventing this as Issues may be deleted on github.com and therefore mean that some previous urls become invalid anyway? Should the API update these

[2018-10-08 23:59] Mikerr1111 commented on #5832
Yes, Thank you!

[2018-10-09 01:41] Daniel-McCarthy commented on #3090
I noticed this while looking into this Issue:
https://github.com/desktop/desktop/blob/d8e79651a71a0bb72878b6ed465349712be845dd/app/src/ui/add-repository/sanitized-repository-name.ts#L1-L4

It seems that GitHub.com allows repository names to have `_` in addition to `.`, `-`, and the a-z 0-9 characters. The sanitization function filters out `_`. However, it appears GitHub.com does not. I don't see a

[2018-10-09 06:34] Laumania opened #5854 "Long changelog text exceeds bounderies in client"
## Description
Long changelogs are shown 'wierd' in the client and text exceeds the bounderies.
Seen on Windows client, not tested on Mac.

## Version
Windows client v1.4.2.
Operating system: Windows 10

## Steps to Reproduce
When a new update in notified in the top of the client, click the "What's new" link, and the dialog shows from the screenshot.

### Expected Behavior
I would except the chang

[2018-10-09 08:29] ardias commented on #5836
@tierninho Sorry, no i didn't. Will try that. Still would be cool if we could configure it :)

[2018-10-09 10:20] ravi2248 opened #5855 "Commit failed - exit code 128 received, with output: '*** Please tell me who you are. Run git config --global user.email "you@example.com" git config --global user.name "Your Name" to set your account's default identity. Omit --global to set the identity only in this repository. fatal: unable to auto-detect email address (got 'Ravi Shankar@LAPTOP-MBB3MV1Q.(none)"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2018-10-09 10:35] AlanSl opened #5856 "Pull requests list still uses old remote after changing repository settings"
## Description

After changing the remote in _Repository > Repository Settings_, the _Pull Requests_ list under _Current Branch_ should show pull requests on the new remote. Instead, it continues showing the pull requests for the old remote for some unknown period of time, before changing.

It should update the list immediately (or at least, consistently after the next Fetch).

## Version

* GitHu

[2018-10-09 11:34] Ewooral commented on #4059
Thanks pal

[2018-10-09 11:35] Ewooral commented on #4059
Thanks Steve3p0. It worked.

[2018-10-09 12:39] mrPraz commented on #5475
I ended up having this issue on another repo.  It ended up being because of a locked file.

Due to my inexperience with GitHub I had basically created this issue myself.

There are ways to resolve (such as using BFG) but for my personal case I was so early on in the repo that I just wiped it and started from scratch.  Wish I could help others more, will keep an eye on this thread as my experience

[2018-10-09 12:44] goswinr commented on #5846
@tierninho Thanks, I could install the PEM file. but  now if have this error about self signed certificates.
I had similar errors on other apps, so this is probably related to our cooperate network. Is ther a way to by pass this?

[code]

[2018-10-09 12:49] srajaratnam opened #5857 "Clone Repository not working"
I have tried to use the File>Clone repository option on my Desktop. The option does not seem to work

Environment:
GitHub Desktop version: 1.4.2
Git-GUI for windows 2.18
Windows 7 Pro (x64)

source url: "https://github.com/firebase/quickstart-android.git"
destination: D:\WorkDesk\Repos\Android\android

message: "Destination already exists" where the destination is an empty folder created for cloni

[2018-10-09 12:56] goswinr commented on #5846
It's solved. This helped me to solve it:
https://stackoverflow.com/questions/11621768/how-can-i-make-git-accept-a-self-signed-certificate
I am leaving this issue open because i think the initial error message  about certificate revocation could be improved. I think many new users of GitHub Desktop might just give up when they see such messages.

[2018-10-09 13:31] steveward commented on #5855
Thanks for contributing @ravi2248. It looks like your name and email are not set correctly in your .gitconfig file. Can you go to the file menu in GitHub Desktop and select `GitHub Desktop` > `Preferences` > `Git` and enter your name and email?

That should get things working for you again. Let me know if you have any further issues.

[2018-10-09 13:31] #5855 closed

[2018-10-09 14:14] billygriffin commented on #5854
@Laumania Thanks for the report! This should be fixed in 1.4.3 later this week, sorry about that! And big thanks to @amarsiingh for fixing it!

[2018-10-09 15:40] behrsl25 opened #5858 "Github Desktop / White Screen of Death"
## Description

I have been receiving the white screen of death in Github Desktop for about two weeks now. I tried all the workarounds found in the community pages and other questions. Some of the more frequent mentions that workd for other people but did not work for me were removing the latest app version in the C:\Users\YourName\DataApp\Local\GitHubDesktop, Alt-Space-X, Uninstall and Reinstall,

[2018-10-09 15:43] billygriffin commented on #5858
Thanks for the report @behrsl25, and sorry you're having this issue. Since it seems likely to be a configuration-related problem, would you mind taking a look @desktop/support?

[2018-10-09 15:50] tierninho commented on #5846
@goswinr thank you for sharing the link. Closing this issue as it's a known issue and still discoverable in search.

I agree, and we are always here to help until it gets fully resolved by the team 😄

[2018-10-09 15:50] #5846 closed

[2018-10-09 15:56] tierninho commented on #5836
@ardias Great, hope the zoom feature helps.

[2018-10-09 15:56] #5836 closed

[2018-10-09 15:58] despair86 commented on #2885
Anyone still have a copy of the classic client for Windows? (I'm short on core, 8GB)

[2018-10-09 16:01] behrsl25 commented on #5858
404 This is not the webpage you are looking for.

[2018-10-09 16:56] say25 commented on #5858
@behrsl25 the support link is just a way to ping team members it isnt publicly accessible by design. They should reach out on this issue when they can.

[2018-10-09 17:27] tierninho commented on #5762
@pmrotule As we haven't heard back from you, we are closing this issue for now. Let us know if you have any further issues and we can revisit this issue. Thanks.

[2018-10-09 17:27] #5762 closed

[2018-10-09 17:30] tierninho commented on #5719
@Mlocik97-issues As we haven't heard back from you, we will be closing this issue for now. We are happy to revisit the issue if you have more questions. Thank you.

[2018-10-09 17:30] tierninho commented on #5746
@ori1337 As we haven't heard back from you, we will be closing this issue for now. We are happy to revisit the issue if you have more questions. Thank you.

[2018-10-09 17:30] #5746 closed

[2018-10-09 17:37] steveward commented on #5858
@behrsl25 I see you mentioned deleting `%LocalAppData%\GitHubDesktop` -- did you also delete the `%AppData%\GitHub Desktop`directory? Some users have had success resolving this by doing that.

- close Desktop
- remove all the files in %APPDATA%\GitHub Desktop\
- launch Desktop again

Let us know if that helps.

[2018-10-09 18:49] goswinr commented on #5846
Yes, your response has been very fast! Thanks

[2018-10-09 19:16] behrsl25 commented on #5858
This let me get into the Desktop program. I reinstalled the app, and created a new repo location. I was able to rename my old files as old, and I'm now going to try and re-create what I need for school. Thank you for your suggestions!

[2018-10-09 19:18] say25 opened #5860 "Resetting HEAD To a Previous Commit in Time"
The ability reset my head to a previous state would be great 😄

**Please describe the problem you think should be solved**
As part of my workflow sometimes I jump to a previous point in time on my branch.

I can be:
1. Rewriting history
1. Debugging a previous code state

**[Optional] Do you have any potential solutions in mind?**
Resetting the HEAD of the branch should solve this.

[2018-10-09 19:28] outofambit opened #5861 "Refactor AutocompletionProvider loading and updating in Sidebar.tsx"
We've had a few bugs (#5859, #5618) related to the logic in [Sidebar.tsx](https://github.com/desktop/desktop/blob/master/app/src/ui/changes/sidebar.tsx), specifically here:

https://github.com/desktop/desktop/blob/6ca665270e6e6e300f559ce65a993db8f8208309/app/src/ui/changes/sidebar.tsx#L77-L82

which decides when to reload the autocompletion providers. in both PRs above, we've simply patched this l

[2018-10-09 21:47] billygriffin commented on #5858
@behrsl25 Great to hear, and thanks @steveward! ❤️ I'm going to close since this seems to be resolved.

[2018-10-09 21:47] #5858 closed

[2018-10-10 00:55] steveward commented on #5857
Thanks for the report @srajaratnam -- I was able to reproduce this issue as well, but I'm still working on tracking down the exact scenarios that can trigger this error. I will update this issue once I have more information about that.

There were some changes made to repository path validation in https://github.com/desktop/desktop/pull/5518 -- @Daniel-McCarthy any thoughts on this with regards to

[2018-10-10 00:57] steveward commented on #5800
@msftrncs I'm glad to hear things are working for you now. I'm going to close this issue out, but if we continue to see reports of this error I will plan on investigating it further.

[2018-10-10 00:57] #5800 closed

[2018-10-10 02:46] fwextensions commented on #3841
I'm seeing this confusing message as well in v1.4.1 on Windows 10.  The files on disk are plainly LF, but the warning says they have changed to CRLF.  Other repos where the files actually are CRLF don't show any warning.

[2018-10-10 06:21] ram-wavity opened #5862 "too slow"
## Description

It's not responding properly when i do some actions with existing options on menu. basically It's  hanging.

I am using windows 10 system and also my github desktop is uptodate.

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-10-10 06:24] sharunkumar opened #5863 "Branches deleted in Remote show up in "Recent Branches""
## Description

I use GitHub Desktop to maintain a GitLab repo clone. When I delete a branch in the server, it still shows up in the "recent branches" sub-menu

## Version
* GitHub Desktop: Version 1.4.2
* Operating system: Microsoft Windows [Version 6.1.7601] (Windows 8)

## Steps to Reproduce
1. Checkout a branch from remote
2. Delete the branch in the remote server (In my case it is hosted with

[2018-10-10 06:29] sffc commented on #1685
+1, and please make sure to support the `-x` option in git cherry-pick.

[2018-10-10 07:45] ScGPS commented on #4931
Hi, I encount this issue with Jenkins Node, in plist mode.
[code]
I also use '$ ssh-agent -s  $ ssh-add ~/.ssh/id_rsa ', but it not work.
Please help.

[2018-10-10 11:14] LarryKlugerDS commented on #5087
I just had this problem on Windows.

Solution: I was already logged in on Github Desktop. But I was receiving the "Download Github Desktop" splash page from github.com

**Solution**

After I logged into github.com on IE, downloads to Github Desktop worked.

The puzzler is that this was with a public repo. Why should I have to login to github.com??

[2018-10-10 11:44] dipen-sen opened #5864 "Git Clone Error"
When I am trying to clone a repository, I am getting below error
fatal: 'remote-https' appears to be a git command, but we were not
able to execute it. Maybe git-remote-https is broken?

I tried to clone same repository with Eclipse git perspective as well and same error.

I am using windows 10 and git version is 2.19.1.windows.1

But I am able to clone using Tortoise Git.

[2018-10-10 12:39] elliotcm commented on #2037
My main need for it is one of my clients has over a thousand repositories, so even working on a small fraction will overwhelm the repo listing, and that's just for one client.  Mix in a handful of repos from other clients and it becomes very difficult to navigate.

[2018-10-10 13:28] IridescentShadow commented on #2191
This is a dealbreaker for me. Will continue to use the old one until it's implemented in the new version.

[2018-10-10 14:13] tierninho commented on #5862
@ram-wavity thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-10-10 14:14] FernandoHurtado commented on #5438
Same issue on Arch linux

[2018-10-10 14:20] ddowling-act commented on #2893
Still an issue. Happens after undocking my laptop having had the app on another screen. Should be able to shift+right click the taskbar icon but this does nothing. Edited the window pos json and got it back.

[2018-10-10 14:38] steveward commented on #5863
Thanks for opening this @sharunkumar! At this time GitHub Desktop does not prune local branches that have been deleted in the remote repository. You can follow along in https://github.com/desktop/desktop/issues/750 for updates about adding this feature.

[2018-10-10 14:38] #5863 closed

[2018-10-10 15:31] iAmWillShepherd commented on #5695
Correct.

This is the goal. Right now, it seems like it will work, but we'll know for sure once it starts getting implemented.

[2018-10-10 16:59] tierninho commented on #3841
@fwextensions this is a known issue with a pending fix yet to be implemented. Follow along here: https://github.com/desktop/desktop/issues/5741

[2018-10-10 18:34] billygriffin commented on #5555
We discussed this today and I wanted to share a more clarified set of observations and problem statements:

### Observations

We've not seen considerable evidence that people find value in comparing the commits of one branch to another when trying to merge. Additionally, in usability testing, when attempting to merge, most users went first to the "Branch" dropdown, not to the "History" tab where t

[2018-10-10 18:54] iAmWillShepherd commented on #5394
**Update**

I've created this issue to track work on the data side: https://github.com/github/analytics/issues/712

[2018-10-10 20:39] #5843 closed

[2018-10-10 21:08] #2625 closed

[2018-10-10 21:09] tierninho commented on #2625
cannot repro

[2018-10-10 21:12] tierninho commented on #2594
All remote changes now save, including clearing the field.

Closing this issue.

[2018-10-10 21:12] #2594 closed

[2018-10-10 21:38] tierninho commented on #1907
Cannot repro, closing.

[2018-10-10 21:38] #1907 closed

[2018-10-10 21:43] tierninho commented on #1861
Cannot repro, closing.

[2018-10-10 21:43] #1861 closed

[2018-10-10 22:04] tierninho commented on #1739
cannot reproduce, closing.

[2018-10-10 22:04] #1739 closed

[2018-10-10 22:36] ampinsk commented on #5400
# Designs

After some sketching, and a quick round of usability testing, we have a direction that we're going to move forward with building.

✨ [**Clickable prototype**](https://projects.invisionapp.com/share/VRODZ3VGW89#/323477467_Start) ✨

### Encountering merge conflicts

This experience would begin by clicking the `Merge into...` button when comparing branches, or from the Merge options in the

[2018-10-10 22:39] outofambit commented on #5857
@billygriffin I think @Daniel-McCarthy 's analysis and recommendation here is spot on. 👍

[2018-10-10 23:06] billygriffin commented on #5857
Thanks @outofambit!

@Daniel-McCarthy Would you consider this a bug? Sort of feels that way to me but I'm not positive. If you have thoughts on a path forward, I think we'd love it if you want to take a crack at it.

[2018-10-10 23:25] mattnewport opened #5865 "Pull requests list sometimes doesn't update, even after restarting multiple times and fetching"
## Description
The "Pull requests" tab on the "Current branch" dropdown frequently does not update with the latest PRs visible on the GitHub website. Sometimes restarting GitHub Desktop resolves this but not always, and it shouldn't be necessary to restart anyway to get an up to date list of PRs.

## Version

* GitHub Desktop: 1.4.2

* Operating system: Windows 10

## Steps to Reproduce

1. Work i

[2018-10-11 00:02] steveward commented on #5842
Thanks for sharing this feedback @Fredrik00.

The Squirrel framework we use for updating/installing is careful to ensure that it doesn't remove the previous version (in case it's still running).

There should be a log file at %LocalAppData%\GitHubDesktop\SquirrrelSetup.log that should have details about what's happening -- look for the message `cleanDeadVersions: for version {XYZ}`. Let me know if

[2018-10-11 00:09] steveward commented on #5856
Thanks for opening this @AlanSl! I was able to reproduce this behavior using the steps you mentioned.

Is it a common scenario for you where you need to change the `origin` remote URL of a repository? I have definitely seen cases where users have mistakenly cloned the upstream repository instead of their fork, and as a result have had to change the remote URL. Just trying to gather data about how

[2018-10-11 00:39] steveward commented on #5829
Thanks for digging into this @JakeHL!  I was able to reproduce this behavior as well. I'm going to mark this as a priority-3 since it's resolvable by entering a valid path like `C:\path\to\repo`.

[2018-10-11 00:52] steveward commented on #5860
Thanks for opening this @say25. For context, having a reset/rollback function was discussed previously in https://github.com/desktop/desktop/issues/2347 and https://github.com/desktop/desktop/issues/3474. Generally we are 👎 on this feature since it has previously caused quite a bit of confusion and various edge cases for users (see @shiftkey's [comment](https://github.com/desktop/desktop/issues/23

[2018-10-11 01:17] visutnam1 commented on #5860
สอนผมบ้างสิคับ ขอบคุนคับ

[2018-10-11 01:27] say25 commented on #5860
@steveward So I guess why I don't like `git checkout SHA` as much is because I then end up a detached HEAD state. Similarly `git checkout -b SHA` puts me on a new branch.

Doing something like `git reset --hard SHA` lets me navigate to that point, tells me how many commits back I went, and doesn't change my branch. It would also let me experience how my project was at that point in time. Afterward

[2018-10-11 01:38] Elderry commented on #78
I have set GPG signing on my Windows machine, it works well on command line. But now if I want to pull my repo in Github Desktop, it will occasionally give me this:
![image](https://user-images.githubusercontent.com/1892221/46775259-0f666980-cd39-11e8-93d1-53ded451d28b.png), and if I try to click the pulling button again, it will success.

[2018-10-11 01:59] Elderry opened #5866 "Open In Visual Studio Code doesn't work"
## Description
I can't remember from which version, my `Open in Visual Studio Code` button no longer works. Click it or hit the shortcut `Ctrl + Shift + A`, nothing happens.

## Version
* GitHub Desktop: 1.4.2
* Operating system: Microsoft Windows [Version 10.0.17763.55]
* Visual Studio Code: 1.28.0 (user setup)

## Steps to Reproduce

1. Open `Repository` tab
2. Click `Open in Visual Studio Code`

[2018-10-11 02:03] haykam821 commented on #78
That seems to be irrelevant to Git's GPG functionality. I have it working just fine with GitHub Desktop on macOS Mojave.

[2018-10-11 02:28] Elderry opened #5867 "Fail to pull a Github repo"
## Description
Pulling Github repo encounter an error message, while it works well with command line.
![image](https://user-images.githubusercontent.com/1892221/46776775-b4844080-cd3f-11e8-98b2-770356bb4857.png)
![image](https://user-images.githubusercontent.com/1892221/46776785-c1089900-cd3f-11e8-803d-3c80e70d693e.png)

## Version
* GitHub Desktop: 1.4.2
* Operating system: Windows 10 Pro 17763.5

[2018-10-11 02:32] Elderry commented on #78
@haykam821 I don't know yet, and I opened [another issue](https://github.com/desktop/desktop/issues/5867) for it, hope to get more information.

[2018-10-11 02:49] billygriffin commented on #5867
Thanks for the report @Elderry! Based on the error messages, this seems like it might be configuration related and likely related to #5866. @desktop/support should be able to help diagnose.

[2018-10-11 06:36] dipen-sen commented on #5864
I guess I selected the second template i.e. "Problem to raise". Do you mean I need to raise it with bug template? I did not use bug template because I am not sure if its a bug of Github Desktop App.

I have reinstalled Git for windows. I am using Windows 10 Enterprise as OS, Git for windows 2.19.1-64-bit and Github Desktop v 1.4.2

**NOTE: Similar issue I am facing with Eclipse but not with Tortoi

[2018-10-11 06:44] sanusart opened #5868 "Release notes dialog text overflown and running over the dialogs footer."
## Description

Release notes dialog text overflown and running over the dialogs footer.

## Version

* GitHub Desktop: 1.4.1

* Operating system: macOs 10.14 (Mojave)

## Steps to Reproduce

1. Open application version 1.4.1
2. Click on to see **what's new?** on the update notification bar on top when it appear

### Expected Behavior

Content of the dialog should have scroll to support long chang

[2018-10-11 07:57] Boundarybreaker opened #5869 "Make newly-published repos default to public"
Publishing new repositories in the desktop app currently defaults them to private. There's no option to change this anywhere, so I have to remember to check the box while publishing (that was default-public in desktop classic) so that anyone else can see my code. I, and many, many others, use GitHub to share open-source projects with the world. Making the official desktop app default to working ag

[2018-10-11 08:29] davidwerks commented on #2885
Works on 10.14 Mojave. Still prefers the older UI. E.g. Shortcut & Repository list. Maybe I am missing some features that make the newer github app formidable to me.

[2018-10-11 09:07] AlanSl commented on #5856
The workflow where I encountered this is based on a few people working on different branches of a project we are contributors without admin rights to. So we each have our own fork, and we post PRs to the upstream. What I want to do is be able to switch between the different forks with minimal friction.

For example, I'm working on a branch, so I set the remote to my fork. A colleague posts a PR, s

[2018-10-11 10:59] dsanders11 opened #5870 "Maintain Selected Changes During Update & Restart"
**Please describe the problem you think should be solved**
Currently doing an update & restart will lose any selected changes and revert back to all changes being selected. This discourages me from doing timely updates (and leaves the banner coming up to annoy me) as I often use selected changes as an 'in-progress' tracker for my next commit, as commits aren't always in chronological order if I fi

[2018-10-11 11:10] tbenko73 opened #5871 "Ignore File not working as expected"
**Please describe the problem you think should be solved**

"Ignore File" or "Ignore All .XXX Files" is not working if files are already tracked. Lots of people run into this problem frequently.

**[Optional] Do you have any potential solutions in mind?**

It would be expected to also stop tracking a file if the user chooses "Ignore" for a file. (Not sure if this raises any conflicts)

Adding a "S

[2018-10-11 11:28] dsanders11 opened #5873 "Differentiating commits in history between local-only and remote"
**Please describe the problem you think should be solved**
Currently the history view displays local commits the same as synced commits, minus 'View on Github' being greyed out. This isn't ideal as you can't tell at a glance what is local and needs to be pushed, and the 'undo' feature isn't accessible in the history view.

**Do you have any potential solutions in mind?**
I'd suggest a few changes

[2018-10-11 11:52] jborn commented on #3816
@steveward  I've attached the output of the git command as you requested here:

[gitShowOrigin.txt](https://github.com/desktop/desktop/files/2468719/gitShowOrigin.txt)

A reinstall of the GitHub Desktop after first deleting both folders you listed above also did not help.

I still get the dreaded Authentication Error message.

[2018-10-11 12:39] dsanders11 opened #5874 "Using Undo On Local Commits Can Lead to Data Loss"
## Description

Data loss can happen if you use the 'undo' functionality on a reverted local commit. Noticed this when playing with #5873.

## Version

* GitHub Desktop: 1.4.2

* Operating system: macOS 10.13.6

## Steps to Reproduce

1. Make a change to a file.
2. Make a commit for this change, but do not push, so that it stays local.
3. Go to History tab, right-click on the local commit, 'Revert

[2018-10-11 12:53] shiftkey commented on #5827
This is still my "2 cents" on the issue, which I touched on with the original PR about in-app release notes: https://github.com/desktop/desktop/pull/3601#issuecomment-418850431

Also note that our About dialog, which is the other place we let the user restart the app, will also default to closing the app: https://github.com/desktop/desktop/pull/3601#issuecomment-419073963

[2018-10-11 13:41] niik commented on #5860
Hey @say25, thank you so much for getting this discussion started. While I can definitely see how this feature could be useful even for myself I want to tread very gently here. My concerns are that resetting HEAD to an arbitrary commit is a very foreign concept to users not intimately familiar with Git and when resetting HEAD you can find yourself in a situation that's hard to get out of without a

[2018-10-11 13:41] #5860 closed

[2018-10-11 13:46] billygriffin commented on #5868
Thanks for the report @sanusart! This should be fixed now (https://github.com/desktop/desktop/pull/5760) and visible in the next release.

[2018-10-11 13:46] #5868 closed

[2018-10-11 13:54] billygriffin commented on #5873
Hi @dsanders11, thanks for the idea! I also agree that the distinction between local and remote can be confusing as a general problem with Git and that we might be able to do some subtle things to improve that differentiation for people. Reading through the proposed solutions, it feels like only the first one is tied to the problem laid out above. Would you mind also including what problems 2 and

[2018-10-11 13:57] billygriffin commented on #5869
Hi @Boundarybreaker, thanks for the idea! Our rationale on this doesn't have anything to do with private repos being GitHub's source of income. Rather, it's to help mitigate risk for people who don't want their repos to accidentally be made public because they forgot to change the default selection. We don't want to put people in a bad spot where they're accidentally exposing code they did not int

[2018-10-11 13:57] #5869 closed

[2018-10-11 14:07] steveward commented on #5867
@Elderry it looks like the `origin` remote URL is not pointing to a valid repository:

`fatal: repository 'https://github.com/<some repo>/' not found`

Can you open the repository where you experiencing this error in GitHub Desktop and go to `Repository` > `Repository Settings` > `Remote` and verify that the remote URL points to the correct repository on GitHub?

[2018-10-11 14:07] shiftkey opened #5876 "Desktop toolchain does not support Node 10 currently"
We've had some reports of contributors being unable to build Desktop in Node 10, which has mostly been down to native node modules which weren't compatible with Node 10.

Some recent reports of users who encountered this: #5603, #5654, #5672

Note that this is a separate issue to how we build the Electron itself - we use [`app/.npmrc`](https://github.com/desktop/desktop/blob/master/app/.npmrc) to

[2018-10-11 14:13] steveward commented on #5871
@tbenko73 thanks for opening this. We are tracking this #2537 -- please follow along there for updates.

You can also find some more context and discussion about this in https://github.com/desktop/desktop/pull/3164#issuecomment-339789343.

[2018-10-11 14:13] #5871 closed

[2018-10-11 14:13] Daniel-McCarthy commented on #3089
Hey @tierninho , I see this issue was recently marked `help wanted` and `priority-3`.
Was there still something that needed to be addressed with this issue?

My pull request to show errors on the tabs they were generated on was merged. Let me know if there's any of improvement or other change required for this issue.

[2018-10-11 15:37] #5777 closed

[2018-10-11 15:46] steveward commented on #5867
@Elderry thanks for the config output.

I think the issue may be due to the fact that you are working with a fork of a repository and you do not have the correct permissions to fetch from the upstream repository of that fork. As a result of this GitHub Desktop is attempting to fetch from the `origin` and `upstream`, but the `upstream` fetch is failing due to the permissions issue.

Can you check t

[2018-10-11 15:46] outofambit commented on #5874
@dsanders11 thanks for the detailed write up. this sounds like a bug to me! I've marked this as `investigation-needed` so we can reproduce it on our side and start to look into fixes. thanks again!

[2018-10-11 15:58] embick commented on #5856
(Hope this isn't too off-topic)

Has an issue been posted yet for an enhancement to change the "Repository Settings > Remote" tab to a *list* of remotes, from which the user could set/change the current primary? Instead of tediously manually changing the remote every time.

Because that's also what the workflow looks like for syncing a fork with upstream right now: have to switch the remote to ups

[2018-10-11 16:10] tierninho commented on #3089
@Daniel-McCarthy Ah, good catch! Was just doing some routine cleanup.

Removing those labels now... 👍

[2018-10-11 16:27] billygriffin commented on #5866
I _think_ this is related to the same thing that's causing #5867 and @desktop/support is working with you on that, but just wanted to document that here as well.

[2018-10-11 16:48] onebree commented on #1597
I'm not able to tackle this issue myself, but has anyone started work on it? Thank you!

[2018-10-11 17:19] shiftkey commented on #5842
Two extra things to note:

 - Squirrel will prune older versions of the app as part of the upgrade process. The log files that @steveward outlined should show that it does clean up after itself during updates.
 - the Git we embed in Desktop is designed for embedding in apps, so if you're trying to use it on the command line it doesn't have the full set of utilities that Git for Windows provides.

[2018-10-11 17:31] dsanders11 commented on #5873
The title might be better served replacing the word view with functionality. As I started to lay this out I had other thoughts on the functionality of local commits, beyond the initial visual difference.

Well, 2 is making 'Undo' for local commits into more of a nicely supported feature. It's currently a bit strange how it is shoehorned in to the bottom of the Changes tab, since it's the only thin

[2018-10-11 17:41] steveward commented on #5856
@embick GitHub Desktop does support upstream remotes, but not multiple custom remotes (see https://github.com/desktop/desktop/issues/1442). If you clone a fork we will add the upstream remote and then fetch from it periodically. You should see a list of upstream branches in the branch list using the convention `<upstream>/<branch_name>`, which will allow you to merge changes from upstream into you

[2018-10-11 17:48] steveward commented on #5866
@Elderry could you open the `View` > `Toggle Developer Tools` menu item in GitHub Desktop, run through the steps to trigger the issue, and check the `Console` to see if there are any messages that may explain why this is failing?

[2018-10-11 18:22] say25 commented on #5860
@niik this makes sense to me. Would it be worth supporting `git checkout SHA` or the `-b` variety?

[2018-10-11 18:59] orozco30 opened #5881 "> [``](url"
## Description

TODO

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-10-11 19:02] shiftkey commented on #5881
@orozco30 Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-10-11 19:08] steveward commented on #5874
@dsanders11 I was able to reproduce this behavior -- thanks again for the detailed steps!

[2018-10-11 19:32] billygriffin commented on #5873
Thanks for the explanation @dsanders11. I'm going to update this issue title to focus on the initial problem described. Except for larger initiatives, we try to keep issues constrained to one problem at a time so it's clear how the problem relates to the potential solutions discussed. We're discussing 2 and 3 internally, but if you'd like to open separate issues for those, you're welcome to do so.

[2018-10-11 19:37] billygriffin commented on #5873
I also think this is related to https://github.com/desktop/desktop/issues/5330 in that it relates to differentiating between things that you have locally that are not yet on remote.

Curious if @desktop/design has any thoughts about this.

[2018-10-11 20:01] steveward commented on #5870
Thanks for the report @dsanders11! Persisting the selected changes state across updates definitely makes sense to me (similar to https://github.com/desktop/desktop/issues/5315 in how we don't persist the zoom state on Windows after an update occurs). I'm going to label this as a bug.

[2018-10-11 20:13] ampinsk commented on #5873
I agree it would be really valuable to have a visual indication what commits have been pushed or not! I'm not sure off the top of my head what indicator we would use exactly, since we use the blue dot for "uncommitted." Maybe a ⬆️? Or something other than an icon?

[2018-10-11 20:43] billygriffin commented on #5827
Thanks for all the feedback here folks! I had a chance to catch up with @tierninho and given https://github.com/desktop/desktop/pull/3601#issuecomment-419073963 and the desire to treat this as a destructive action, the existing implementation seems reasonable. I'm going to go ahead and close this and the associated PR. Thanks so much @JKirkYuan for being willing to dive in. ❤️  This, among other t

[2018-10-11 20:43] #5827 closed

[2018-10-11 21:04] billygriffin opened #5883 "Document how we treat dialog boxes"
**Please describe the problem you think should be solved**
We constantly run up against questions about how dialog boxes should be treated, and the differentiation between macOS and Windows makes it even trickier.

**Do you have any potential solutions in mind?**
I'm planning to write up documentation to clarify the guidelines we use for macOS and for Windows and how they *should* operate in Deskt

[2018-10-11 21:12] amarsiingh commented on #5854
@billygriffin I suppose the reported issue here is different from #5760 (which referred to T&C and Licenses dialogs)
I've verified and a fix for this issue ready. If you can reopen this issue I'll create PR for review.

[2018-10-11 21:18] steveward commented on #5870
Chatted with @billygriffin about this and we concluded that we should change the label to `enhancement` since it aligns more with something we could improve on versus something that broke.

[2018-10-11 21:30] mudslide89 opened #5884 "Error: Installation Failed (Windows 10) Discord?"
TRying to install GitHub Desktop but ran into a issue. Seems it's due to Discord or something from what I see in the logs but the issue is... There ISN'T a discord folder. I deleted it as Seems I uninstalled it in the past but left few folders.

Heres the Log:
`13948> 2018-09-10 22:46:46> Program: Starting Squirrel Updater: --install .
13948> 2018-09-10 22:46:46> Program: Starting install, writing

[2018-10-11 21:46] innocuo commented on #1929
There's a temporary workaround, **although not recommended at all**, is to edit the renderer.js file directly in the installed GithubDesktop, to show the full path instead of the folder name.

It should be in c:/Users/[username]/AppData/Local/GithubDesktop/app1.4.2/resources/app/renderer.js
Look for the text "s.HighlightText,{text:e.name,highlight:this.props.matches.title" and replace e.name with

[2018-10-11 21:48] billygriffin commented on #5854
Apologies @amarsiingh, thanks for the clarification. ❤️

[2018-10-11 21:55] billygriffin commented on #1929
Thanks @innocuo, appreciate the color on this and for the recommendation not to do the workaround unless you're really advanced. 😄

There are several issues we're trying to look at holistically related to the grouping and presentation/disambiguation of repos. We're going through all the `future-proposal` labeled issues currently, so I don't expect anything to happen on this in the near term, but i

[2018-10-11 22:42] steveward commented on #5884
Thanks for the report @mudslide89. The Discord errors are likely due to the fact that Discord also uses the Squirrel installer. These errors also seem to date back to 9/10/18 -- did you just recently try to install GitHub Desktop?

A few other questions:

- Did you grab this log file from `%LocalApData%\SquirrelTemp\`? That's the general log location that the Squirrel installer writes to.
- Could

[2018-10-11 22:45] amarsiingh commented on #5854
thanks @billygriffin. I've created the PR with the fix.

[2018-10-11 23:13] mudslide89 commented on #5884
I use to have the Git program installed but it was Many years old I think it had the old GitHub Desktop platform. I unintalled it right before I was going to install the Gethub Desktop (The GitHub I had was pre- Discord installed)

_Did you grab this log file from `%LocalApData%\SquirrelTemp\`? That's the general log location that the Squirrel installer writes to_.
No, When GitHub Desktop failed t

[2018-10-12 00:08] ValneyFaria opened #5886 "Realize a Commit with an Enter"
After describing the commit name, we should have the possibility to just click Enter and the Commit to be done.

[2018-10-12 00:11] billygriffin commented on #5886
Hi @ValneyFaria, thanks for the idea. Would you mind filling out the template with the problem you think this would be solving, and potentially a screenshot of how your proposed solution might work? I can imagine this type of thing might be convenient for some but also might result in unexpected or confusing behavior, especially for those that don't understand it's an option.

Thanks for understan

[2018-10-12 00:17] ValneyFaria commented on #5886
![capture](https://user-images.githubusercontent.com/9964643/46840733-cf37d300-cd9a-11e8-9d6d-43f789a42792.PNG)
My idea is this: After completing the commit message, the developer could simply click Enter and the commit would be done, just like in a message chat.

[2018-10-12 00:33] Elderry commented on #5867
@steveward you are right, I don't have the permission to the upstream repo or it doesn't exist anymore.

[2018-10-12 02:01] Elderry commented on #5867
@steveward Then how do I solve this problem? I tried to delete `[remote "upstream"]` in config file, but each time Github Desktop is relaunched, the upstream configuration is back.

[2018-10-12 02:07] Elderry commented on #5866
@steveward Nothing happened, even after I set the logging level to verbose. On the contrary, hit `Show In Explorer` will trigger a dozen of logs like `Executing getStatus` and `Executing getBranches` etc.

[2018-10-12 02:30] Elderry commented on #5867
@steveward I found [this issue](https://github.com/desktop/desktop/issues/3715) seems to be exactly my problem, I'll track it there, thank you for your help!

[2018-10-12 02:30] #5867 closed

[2018-10-12 02:34] Elderry commented on #3715
@shiftkey Your workaround will only work once, after relaunching Github Desktop, the upstream is back.

[2018-10-12 02:36] Elderry commented on #78
@haykam821 You're right, I confirmed it's another problem, going to delete my comment to avoid confusing here.

[2018-10-12 02:50] Elderry commented on #5866
@stevecat Just found that this issue is related to [this one](https://github.com/desktop/desktop/issues/3715), if the repo doesn't have a non-exist/no-permission parent repo, the `Open in Visual Studio Code` function is good.

[2018-10-12 03:59] tsivakishore opened #5888 "Error while clone repo"
Hi,
I am trying to clone repo from github desktop to in my local machine, i am getting the below error:
"Cloning into 'E:\MyPrograms\MyPorjects\xxxxxxxxxxx\xxxxxxxxxxx'...
fatal: unable to access 'https://github.com/xxxxxxxxxxx/xxxxxxxxxxx.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - The revocation function was unable to check revocation for the certificate.

[2018-10-12 04:28] billygriffin commented on #5888
Hi @tsivakishore, thanks for the report. We ask that you fill out the bug template so we have enough information to properly diagnose the issue.

Thanks for understanding and meeting us halfway! :smile:

[2018-10-12 08:08] luukdv opened #5889 "Consistent behavior for escape button"
On macOS, when the 'Merge Into Current Branch' (`⇧⌘M`) modal is open, it cannot be closed with the <kbd>esc</kbd> button.

[2018-10-12 11:57] shiftkey commented on #3715
@Elderry can you please provide more details about what you are seeing? I'm not sure why Desktop would be re-adding the upstream, but maybe the log files and info about your repository will help here...

[2018-10-12 13:05] steveward commented on #5886
@ValneyFaria Thanks for the feedback. You can use the shortcut `CMD-Enter` (macOS) or `Control-Enter` (Windows) to quickly commit your changes after entering a summary description. I hope that is helpful!

[2018-10-12 13:05] #5886 closed

[2018-10-12 13:07] steveward commented on #5888
@tsivakishore this error is usually caused by your network blocking the attempt by Windows to check the revocation status of a certificate, which then causes the whole operation to error. You can find a workaround for this issue here:

https://github.com/desktop/desktop/blob/master/docs/known-issues.md#certificate-revocation-check-fails---3326

We have also seen this error occurring for users runn

[2018-10-12 13:07] #5888 closed

[2018-10-12 13:28] billygriffin commented on #2304
@vnvbsudhakar A few of the above posts are referring to the classic version of Desktop, which has not been supported for more than a year and we have no intention to do so. I also know this is a much-desired feature and we're actively discussing where it fits in prioritization, and I'm sorry that it's not there at present.

[2018-10-12 13:47] shiftkey commented on #3148
@deepakshilkar VS2017 is not currently supported. I believe it has the support for opening a directory, but if you're looking for more advanced integration like finding and opening solutions that's not currently on our roadmap.

[2018-10-12 13:49] steveward commented on #5719
@Mlocik97-issues Thanks for the video! I'm working on trying to reproduce this.

Would you also be able to upload a log file from a day where you reproduced this issue? To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Finder (macOS) or Explorer (Windows)`. The logs are split up by date.

[2018-10-12 14:02] shiftkey commented on #2490
@hakunin this issue was from a while ago (pre-1.0). Would you be able to open a fresh issue with details to help us understand and reproduce what you're seeing on our end?

[2018-10-12 14:47] #5018 closed

[2018-10-12 14:57] shiftkey commented on #5889
@luukdv I believe this is because the modal opens and focuses on the filter text box. Do you think we should be handling <kbd>ESC</kbd> and dismissing the dialog?

Once I changed the focus to something else the modal would be dismissed, so I think it's just down to that scenario.

[2018-10-12 15:17] iAmWillShepherd commented on #1245
Reopening this issue now that https://github.com/electron/electron/pull/15035 exists. We should be able to get a proper fix once it lands and we update electron.

[2018-10-12 15:51] shiftkey commented on #4122
@jlurena please contact [GitHub Support](https://github.com/contact) if you'd like someone to investigate the behaviour on the GitHub website.

[2018-10-12 16:04] #5854 closed

[2018-10-12 16:06] #5881 closed

[2018-10-12 16:29] tierninho commented on #5889
@shiftkey I found some other modals (with the filter focus intact) where we allow the `esc` key to work. Try ⌘N and ⌘O.

Seems like a bug and good first issue, if you agree.

[2018-10-12 17:00] j-f1 commented on #5873
Perhaps a small ☁️ icon with a ✓ overlayed on it like the `cloud-{up,down}load` Octicons?

[2018-10-12 17:54] outofambit commented on #5470
#5875 ensured that the commit list was not reloaded, but doesn't address the scroll position

[2018-10-12 18:38] tierninho commented on #5803
A step in the right direction 👍

My two cents is to decouple the compare branch feature altogether. I use this area quite a bit in testing, and it is never intuitive and always feels out-of-place. Going back and forth from the actual commit history to the compare branch feature is never a smooth transition. 😞

[2018-10-12 18:47] tierninho opened #5890 "Do not show merge hint in merge dialogue when count is 0"
The merge hint should be hidden in the merge dialogue when count is 0, aka there are no merges to commit.

<img width="471" alt="screen shot 2018-10-12 at 11 41 31 am" src="https://user-images.githubusercontent.com/14828183/46887904-d51dca80-ce13-11e8-87d7-d3e801908d88.png">

Repro:
- Select Branch > Merge into current branch
- Find two branches where it shows "This will merge 0 commits from A-bra

[2018-10-12 19:31] steveward commented on #5865
Thanks for contributing @mattnewport. I've been trying to reproduce this behavior, but have so far been unsuccessful. Is this happening in multiple repositories, or just one specific repository?

I do see some fetch failures in the log file related to one specific repository:

[code]

Is that possibly the repository where you are experiencing this issue?

[2018-10-12 20:11] steveward commented on #5884
Thanks for the update @mudslide89. Could you try deleting the `%LocalAppData%\GitHubDesktop` directory and then try installing GitHub Desktop again? If that fails, please grab the log files from these locations and upload them so I can take a look:

`%LocalAppData%\GitHubDesktop\SquirrelSetup.log`
`%LocalAppData%\SquirrelTemp\SquirrelSetup.log`

[2018-10-12 20:11] mattnewport commented on #5865
Yes, that looks like the repo that is having the problem. It's the repo for our company's main product so it's heavily used (we have a team of around 10 who at least sometimes commit to it, though a smaller number do so daily).

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, October 12, 2018 12:32 PM, Steve Ward <notifications@github.com>

[2018-10-12 21:22] mudslide89 commented on #5884
No It Didn't work still got an error:

`%LocalAppData%\GitHubDesktop\SquirrelSetup.log`:
No Log Found

`%LocalAppData%\SquirrelTemp\SquirrelSetup.log` :
[SquirrelSetup.log](https://github.com/desktop/desktop/files/2474624/SquirrelSetup.log)
:

13948> 2018-09-10 22:46:46> Program: Starting Squirrel Updater: --install .
13948> 2018-09-10 22:46:46> Program: Starting install, writing to C:\Users\Mudsl

[2018-10-12 22:45] HunterDG commented on #4246
Same issue here!

[2018-10-12 23:14] dmkash commented on #1765
I would love to see this implemented so that I can use [Kaleidoscope](https://www.kaleidoscopeapp.com/) as the diff/merge tool.

[2018-10-12 23:21] ashleydavis commented on #1765
Yeah GitHub Desktop is unusable without external diff.

Personally I use Winmerge and Beyond Compare. I've actually bought Beyond Compare because it is so good a resolving complicated merges. Traditional version control software allows for external diff and merge.

There was a period where SourceTree was very buggy and slow (and Tortoise authentication was a pain) so I was considering GitHub Deskt

[2018-10-13 02:04] Elderry commented on #3715
1. In Github Desktop, choose a repo whose fork parent no longer exists.
1. Click `Fetch origin`, then an error message pops, claim that `The repository does not seem to exist anymore`.
1. Close the message, open command line in this repo. (Ctrl + `)
1. Input `git remote remove upstream`
1. Click `Fetch origin` again, this time it succeeded.
1. Close Github Desktop, then open.
1. Click `Fetch origi

[2018-10-13 03:12] judge2020 opened #5891 "Support for multiple editors"
**Please describe the problem you think should be solved**
I work in multiple editors, including VS Code, Code Insider edition, and Atom and frequently switch between them in my workflows. Currently, GH desktop only supports selecting one of those editors at a time.

**Do you have any potential solutions in mind?**
You should be able to add more than one external editor in options (perhaps a `+` b

[2018-10-13 03:17] Niall456 commented on #5891
Would love to see this 👍

[2018-10-13 04:10] IdanAdar opened #5893 "Deleted branches still show up in the branches dropdown"
## Description
I've created a branch via GitHub Desktop. Now I'm done with it and so I've deleted it from the GitHub.com UI.

In GitHub Desktop though it's "still there".
How do I sync the list of branches? Does it sync at all?

## Version

* GitHub Desktop: 1.4.3 beta 1
* Operating system: macOS 10.14

## Steps to Reproduce
1. Create a branch via GitHub Desktop
2. Delete it from the GitHub.com UI

[2018-10-13 04:28] billygriffin commented on #5893
Thanks @IdanAdar! We totally agree that it would be really helpful for Desktop to prune branches in Desktop that have been deleted on the remote. We're tracking this in #750 and we'd love for someone from the community to make a PR for this if possible.

In the meantime, you can delete branches individually from the menu bar, Branch -> Delete. Thanks again for the request.

[2018-10-13 04:28] #5893 closed

[2018-10-13 04:44] billygriffin commented on #5803
I stumbled upon this https://github.com/desktop/desktop/pull/3559 which seems related, so just want to make sure we are accounting for the same issues that we were running into on that one.

[2018-10-13 04:47] billygriffin commented on #5891
Thanks @judge2020! Can you help me understand under what circumstances you're using each different editor so we can try to evaluate how common it is for people to use more than one editor on a regular basis (as opposed to just very occasionally)?

[2018-10-13 12:32] shiftkey commented on #5470
I'm going to close this out because https://github.com/desktop/desktop/pull/5875#issuecomment-429465211 suggests what was being seen is already tracked in #5177.

[2018-10-13 12:32] #5470 closed

[2018-10-13 12:39] thohemp opened #5894 "Repository statistics"
Is there any way to show general commit statistics etc about single repositories? Thanks in advance.

[2018-10-13 12:48] shiftkey commented on #4246
@HunterDG please open a new issue and fill out the template so we can investigate

[2018-10-13 13:09] shiftkey commented on #3715
Switching this over to `bug` because it looks like Desktop might be meddling in the process by re-adding the upstream repository.

[2018-10-13 13:44] shiftkey commented on #4047
@svivian thanks for the extra details

Are you able to spin this off into a fresh issue separate to this? I opened #1913 ages ago to track something similar, but I'm happy to close that in favour of more specific feedback. I also have a branch lying around that digs into introducing a "loading" mode for some components that I think will help here.

I don't believe this is something we've thought a

[2018-10-13 14:01] shiftkey commented on #5631
@Daniel-McCarthy I think I can help you out about these questions:

I think this can be any opaque colour. We probably just settled on white because it fitted with the theme of the app (before we supported dark theme).

The theme is stored in local storage, which is owned by the renderer process. The setup to display the window is done in the main process, which doesn't have access to local storag

[2018-10-13 14:39] Daniel-McCarthy commented on #5631
@shiftkey In that case, to give some extra details, when starting in full-screen it seems that the window is immediately appearing with the custom Windows menu bar (File, Edit, View... etc) with the rest of the window being a white screen. Then the toolbar with the current repository/branch/status loads in. Then finally the UI view loads in.

Though, when GitHub Desktop starts off in a non-full sc

[2018-10-13 16:33] j-f1 commented on #4569
I think the dropdowns should be allowed to expand as much as is needed, like regular menus do on macOS.

[2018-10-13 21:56] YarinPlayMC commented on #4124
Had the same issue, reinstalling fixed it for me.

[2018-10-13 22:31] billygriffin commented on #5894
Hi @thohemp, can you say more about what you’re trying to accomplish with this? Do you mean how many commits are present for a given repo?

Generally we prefer to frame issues in terms of the problem they’re intended to solve, so I’d love to understand this a bit better.

[2018-10-13 22:48] githubhermit commented on #4738
@steveward Hi, I was looking into the same issue and found this thread. Is there going to be any update coming out soon to compensate the issue of not cloning?

[2018-10-14 02:41] linlsyf opened #5896 "客户端可以断点续传吗？ 每次都要全部一起下载"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2018-10-14 08:18] thohemp commented on #5894
Thanks for your answer @billygriffin

Yes, I mean how many commits are present, when they where commited and when.

[2018-10-14 08:40] Benjiko99 commented on #5891
We could keep it the way it is for setting a **primary** editor and additionally list all the editors from the dropdown menu in the Repository menu.
 So you could choose one editor that is opened via a shortcut and others are in the menu.

[2018-10-14 10:51] gct165201b opened #5897 "My Repos are not showing up"
I have a repository, but it is not showing up on Github Desktop Application.

[2018-10-14 13:03] shiftkey commented on #5896
@linlsyf thanks for reaching out!

A rough translation of the title:

I'm not sure I understand the context enough to help you further. Are you able to provide more details about what you are looking for?

[2018-10-14 14:30] Daniel-McCarthy commented on #5897
Hello @gct165201b ,
Upon logging in to GitHub Desktop, to start working in any of your repositories you must first clone the repository via `File->Clone Repository...`. You will have to do this for each repository you wish to work in.

If this is not quite the issue you are running into then I would encourage adding more details to this Issue and filling out the template so that others can help yo

[2018-10-14 14:41] shiftkey commented on #5834
Closing this out due to inactivity. @Dzevka8 if you're able to fill out the template we're happy to revisit it.

[2018-10-14 14:41] #5834 closed

[2018-10-14 14:46] shiftkey commented on #4738
@githubhermit You'd have to get in touch with Kaspersky Support, but this suggestion from [this comment](https://github.community/t5/How-to-use-Git-and-GitHub/Getting-quot-SSL-certificate-problem-self-signed-certificate-in/m-p/7954#M2732) might help resolve your issue:

[2018-10-14 15:34] billygriffin commented on #5894
Hi @thohemp, thanks for clarifying. In the “History” tab in Desktop (next to the changes tab) you’re able to see each of the commits and when they were committed in reverse chronological order. On GitHub.com you’re able to see the total number of commits for any given repo, but given the purpose of GitHub Desktop as a workflow tool, we decided not to add that in the app. Hope that helps! I’m going

[2018-10-14 15:34] #5894 closed

[2018-10-14 17:07] danilaml commented on #4527
I've just moved from GitHub for Windows app and this issue is really frustrating to me. In GH4W there was no such problem. You could see `upstream/master` branch and switch/checkout it without any problem. It'd be "checked out" as exactly this, `upstream/master`,  no issue here, everything works as expected.

I liked and used this feature a lot, because that way you could easily develop in your ow

[2018-10-14 17:19] thohemp commented on #5894
Thanks for clarifying!

[2018-10-14 17:54] Tuchy commented on #3889
This just worked fine and helped me fix the Github Desktop problem. Thanks man!

[2018-10-14 19:50] shiftkey commented on #4527
@danilaml would the solution I talked about here https://github.com/desktop/desktop/issues/4527#issuecomment-386221312 help address this limitation?

[2018-10-14 19:54] shiftkey commented on #4527
I'll also point out that we're tracking an upstream Git limitation about how to correctly handle remote branch names containing `/` - #3618 - which is why I recommended using `-` here rather than `/`. But given we use `pr/{number}` refs to track pull request branches (and can push to those) I think either approach is fine.

[2018-10-14 19:57] shiftkey commented on #3095
Coming back to the details about this:

I don't have the full picture of the behaviour here, but I believe this is the same root cause as #4527 about being able to checkout a branch with the same name that exists on multiple remotes.

@tierninho @billygriffin any objections to closing this out in favour of that discussion?

[2018-10-14 20:01] shiftkey commented on #4880
I'm 👎 on this change as we don't want to be hiding remotes that the user might be interested in.

@Koklin if you're not interested in the upstream remote any more I'd recommend removing it from Git (I'm guessing the remote is named `upstream`, but your mileage may vary):

[code]

I believe that should resolve it, but I'm monitoring #3715 where someone believes Desktop will add the remotes back, so

[2018-10-14 20:39] shiftkey commented on #5862
@ram-wavity are you able to record a timeline profile of the app when it has this issue, so we can troubleshoot further? I've updated the document in this PR: https://github.com/desktop/desktop/pull/5899

[2018-10-14 20:40] danilaml commented on #4527
@shiftkey If that branch's contents would be automatically synced up with the remote, and GitHub for desktop wouldn't try to push it into my fork (unless specifically asked to), I could live with that.

With GH4W, the workflow felt like you never actually "checked out" remote branch, i.e. you've just viewed it's remote state without actually modifying anything in your local repo, if that makes sen

[2018-10-14 20:43] shiftkey commented on #5864
@dipen-sen can you clarify where you are cloning the app when this occurs? Are you cloning inside GItHub Desktop, or are you cloning from the command line? I'm not too worried about Eclipse at this point, and I'm not sure offhand what TortoiseGit uses for it's Git operations.

The reason that I ask is this error:

Is related to an executable that ships in Git for Windows: `git-remote-https.exe`. W

[2018-10-14 20:44] shiftkey commented on #5719
Oops, looks like we still need some more info about the issue.

[2018-10-14 20:56] billygriffin commented on #4880
@shiftkey That makes sense to me, and agreed with @jwillmer's rationale as well. I think this has the potential to introduce more confusion than we'd be clearing up. I also agree that the combination of #4527 and improved messaging around branch names conflicting will help improve this. I'm going to go ahead and close this for those reasons, and thanks again @Koklin for the idea and helping us und

[2018-10-14 20:56] #4880 closed

[2018-10-14 21:10] shiftkey commented on #5812
@tierninho It's not clear to me what we should be doing here (working from dev build 45e74638849a942d1b768ffc922d04af89f8f5cb).

The `Ref` component does not specify a `font-size` style in it's CSS:

https://github.com/desktop/desktop/blob/45e74638849a942d1b768ffc922d04af89f8f5cb/app/styles/ui/_ref.scss#L1-L9

And on MacOS I see the `font-size: 11px` being set based on this selector:

https://gith

[2018-10-15 00:14] shiftkey commented on #4527
@danilaml I dusted off the old GHfW code and tested this out with my fork of Desktop, and we do create a new branch that matches the same ref (and tracking the right remote):

[code]

We could follow that pattern here too, but this bit

won't happen because of how Git sets up the default branches  - you'd have to merge changes into `origin/master` to then push them up to the remote for that branch

[2018-10-15 01:06] danilaml commented on #4527
Well, that's fine. I just don't want for this pseudo-remote-branches to show up in my GH fork without me knowing. I.e. I'm fine with them being local, just not created on my origin automatically.

Well, the comment also talked about searching for existing discussions/asking mailing list so I'd like to follow/read that if it's been done.

[2018-10-15 01:15] linlsyf commented on #5896
gfw影响

[2018-10-15 01:15] #5896 closed

[2018-10-15 08:40] Elderry commented on #5866
For this `Open in Visual Studio Code` function, here is more info about it on my machine:

| repo's parent repo | function availibility |
| --- | --- |
| non-exist/no-permission | No |
| exists and has permission | No |
| no parent repo | Yes |

[2018-10-15 08:42] jhammersholt commented on #1489
I still have this issue - changing dafault branch on github.com does not update it in the desktop app even if i restart the app

[2018-10-15 08:44] coaperator commented on #2079
Repeated request for adding improvements. Can we do it?

[2018-10-15 08:47] coaperator commented on #2079
Repeated request for adding improvements. Can we do it?

[2018-10-15 10:55] Fredrik00 commented on #5842
I looked through the log file and could only find mentions of it excluding the previous version as well as the updated one after the update. For example like this:
2018-09-13 10:05:39> ApplyReleasesImpl: cleanDeadVersions: for version 1.4.0
2018-09-13 10:05:39> ApplyReleasesImpl: cleanDeadVersions: exclude folder app-1.3.5
2018-09-13 10:05:39> ApplyReleasesImpl: cleanDeadVersions: exclude folder a

[2018-10-15 11:59] shiftkey commented on #5842
@Fredrik00

The cleanup is actually done on the first launch _after updating_, but the previous version is kept around: https://github.com/Squirrel/Squirrel.Windows/issues/589. I believe this is for safety, in case something is not working with the new version, but I can't find any docs about it currently.

[2018-10-15 13:20] shiftkey commented on #5845
Closing this out because the template is still empty and @billygriffin's previous comment explains the current behaviour.

@GamingMineblox please open a ["Problem to Raise"](https://github.com/desktop/desktop/issues/new?template=problem-to-raise.md) issue if you'd like to suggest changes to this behaviour.

[2018-10-15 13:20] #5845 closed

[2018-10-15 14:29] billygriffin commented on #5897
I also suspect this might be helped by https://github.com/desktop/desktop/pull/5878 😄

[2018-10-15 14:51] rschuetzler commented on #2107
My guess is that this is an issue with https://github.com/mawie81/electron-window-state.

[2018-10-15 15:05] steveward commented on #5719
@Mlocik97-issues I've tested out a few scenarios but have not been able to reproduce this issue. If you could reproduce this behavior again and then upload a log file, that would be helpful!

[2018-10-15 16:40] FBalazsBme commented on #2490
Same for me as for hakunin.

[2018-10-15 18:18] steveward commented on #4952
@doriclaudino I have attempted to reproduce this but have so far been unsuccessful. Is this something that you are able to still consistently reproduce in GitHub Desktop?

[2018-10-15 18:27] ampinsk commented on #5555
In order to address problems 1 and 3, we're proposing these updates to the branch panel and the subsequent `Merge into current branch` modal.

### Branch panel
We're adding a button to the bottom of the panel: "Choose a branch to merge into [current branch]"

<img width="1010" alt="branch menu 1 13 2x" src="https://user-images.githubusercontent.com/10404068/46970036-c120d580-d06c-11e8-9fd9-31a5497

[2018-10-15 18:45] steveward commented on #4159
@brtrx and @mwascak -- are you still experiencing this issue when authenticating to your GitHub Enterprise instance? Have you tried using a different default browser to see if that makes a difference?

[2018-10-15 18:55] steveward commented on #5884
Thanks for the update @mudslide89. Unfortunately that log file is still from September 10th, so it is not providing any information about why GitHub Desktop is failing to install. The main installation issue we have seen on Windows has been due to users running 32-bit version of Windows, but since you are running a 64-bit version of Windows that isn't the case here.

Would you mind trying to insta

[2018-10-15 20:09] tierninho commented on #3095
@shiftkey No objections to closing this

[2018-10-15 20:19] #3095 closed

[2018-10-15 21:13] outofambit commented on #5694
closing in favor of work happening in #5400 and #5809

[2018-10-15 21:13] #5694 closed

[2018-10-15 21:31] tierninho commented on #5812
@shiftkey Looks like there are two different font families, hence the size of the text is slightly different.

Notice the highlighted text is not affected from unchecking this box :
<img width="912" alt="screen shot 2018-10-15 at 2 25 11 pm" src="https://user-images.githubusercontent.com/14828183/46979522-b410e000-d086-11e8-9136-4fedd2776c71.png">

The highlighted text is from `(--font-family-mono

[2018-10-16 03:14] EddieOne commented on #1574
I finally upgraded, 😢

[2018-10-16 09:08] Seb33300 opened #5902 "Feature request: override git name / email by repository"
I am working as freelance for multiple companies and most of them give me an email address I have to use for everything related to the job.

So I am always switching from an email to another and sometime I forget to do...

I think it could be nice if you can add a tab in the repository settings to override the default git name & email options.

[2018-10-16 10:11] eliasvanderlinden commented on #2107
use this fix: it's by far the fastest for windows 10.

https://github.com/desktop/desktop/issues/2107#issuecomment-390414700

[2018-10-16 12:08] messybeaver opened #5903 "username"
my username is inappropriate... I didn't initially think of it in a negative light until it was brought to my attention alternate interpretations.

[2018-10-16 12:21] BijendraSahu opened #5904 "Can't find project"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-10-16 12:22] modiract opened #5905 "can't publish branch authentication failed"
I am trying to push my changes but the authentication screen keeps popping up although my login is correct.

I think that the problem comes due to 2 steps phone verification.

https://imgur.com/a/9eLoxEt

This is the same problem as:

https://github.com/desktop/desktop/issues/4565
https://github.com/desktop/desktop/issues/1985

The problem is how do I push if I can't login even though my login is

[2018-10-16 12:28] canerelci commented on #997
![image](https://user-images.githubusercontent.com/1029955/47016310-f9e9a900-d157-11e8-8c69-d37ba57bf90f.png)

I have no idea which one of hundreds of files...

[2018-10-16 12:35] neogithub commented on #2191
I was on vacation and all of my commits were still local for 4 projects. Very annoying as I assumed it was still there. Had to remote in and push all of them. Annoying. Please add back in.

[2018-10-16 12:39] playgithub opened #5906 "Sometimes cloning is very slowly, but it can't be cancelled"
env: GitHub Desktop 1.4.2
problem: Sometimes cloning is very slowly, but it can't be cancelled

[2018-10-16 12:47] shiftkey commented on #2082
This was requested by @playgithub in #5906

[2018-10-16 12:48] shiftkey commented on #5906
@playgithub thanks for the feedback. I'm going to close this out in favour of #2082 but I added your interest in it there.

[2018-10-16 12:48] #5906 closed

[2018-10-16 12:56] shiftkey commented on #5905
@modiract it's interesting that you're getting the Basic Authentication dialog here - have you signed into your GitHub account under the **Options** tab? That flow will handle any 2FA prompt, whereas our Basic Authentication is only designed for non-GitHub hosts.

Also, could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside

[2018-10-16 13:03] modiract commented on #5905
_"it's interesting that you're getting the Basic Authentication dialog here - "_

I thought it had to do something with the authentication but it might not be that.

This is the error log. https://ufile.io/o0q4z

[2018-10-16 13:41] gscscnd opened #5908 "Reference to “tsonfig.json” in package.json"
In `package.json`, line 12…

https://github.com/desktop/desktop/blob/4272bda3720a4e00b379c83643229be9565503cc/package.json#L12

…there’s a reference to `tsonfig.json`. There’s no such file, so it’s probably a typo. It was introduced in ff3c5a8c1e44c0b478dce3730bde15e6df7090e2.

[2018-10-16 13:41] shiftkey commented on #5908
@gscscnd that seems like an easy change - are you interested in making a change and submitting a PR?

[2018-10-16 13:45] billygriffin commented on #5902
@Seb33300 Thanks for the request!

We had a similar discussion to this in #2829, which goes a little more into why we're hesitant to make the change without fully thinking through the consequences this would have on other projects and users who don't juggle two accounts. Please feel free to add your thoughts to that issue about this problem.

@shiftkey also mentions a workaround in #2829 to set yo

[2018-10-16 13:45] #5902 closed

[2018-10-16 13:47] gscscnd commented on #5908
Well, [there’re no docs about that `-P` argument](https://mochajs.org/#usage), so should it be simply removed? (That is, instead of fixing the typo.)

[2018-10-16 13:54] shiftkey commented on #5908
@gscscnd that seems reasonable. We have a decent CI setup that will likely catch anything if it's not the right change, so go for it!

[2018-10-16 13:55] billygriffin commented on #5908
Thanks @gscscnd! @outofambit Would you mind taking a quick look please? 😄

[2018-10-16 14:32] Amabel commented on #2944
Hi, @shiftkey. I've been watching this issue for nearly 1 year. And I've seen that there is no update in this thread recently. Since this will be very helpful to me, so I tried to implement this feature by my self.

As @niik and https://github.com/desktop/desktop/issues/5382 mentioned, one way to implement this is to add a `Copy` button in the context menu in both tabs ('Changes' and 'History').

[2018-10-16 14:43] shiftkey commented on #2944
@Amabel thanks for trying that out. I'm going to cc @desktop/product to get their gut feeling on what you have working, and if they're on board with this approach I'll switch it to `help wanted` and you can take it from there.

[2018-10-16 14:44] OpenByteDev commented on #3707
+1

[2018-10-16 14:59] #5908 closed

[2018-10-16 15:30] billygriffin commented on #2944
Thanks @Amabel for running with @niik's suggestion. Seems reasonable to me. I think the only change I'd recommend is to be a bit more explicit about what exactly is being copied just to make sure people don't think this would copy the contents of the file somehow. In this case, I think "Copy File Path" would work with the same casing as the other things in the context menu. Feel free to go ahead a

[2018-10-16 16:03] shiftkey commented on #5511
#5810 raised a commit status error because the PR only touches `.md` files - https://codecov.io/gh/desktop/desktop/commit/72e597785defdd9c211d0083fa724b595e2c0464 - not sure how to get it to ignore that situation, logging it here to ensure I don't forget about.

[2018-10-16 17:10] donokuda commented on #5802
Version 2 wasn't by design. 😅

If someone wanted to take a crack at fixing the tab bar, a good pull request to reference would be https://github.com/desktop/desktop/pull/1287

I believe https://github.com/desktop/desktop/blob/master/app/styles/ui/_tab-bar.scss would be a good starting place for fixing this.

[2018-10-16 17:42] a-golovanov opened #5911 "Changes/History do not switch with Ctrl-Tab shortcut if the focus is outside of the changes/history list or content view"
## Description

Changes/History do not switch with Ctrl-Tab shortcut if the focus is outside of the changes/history list or content view.

## Version

* GitHub Desktop: 1.4.2

* Operating system:
macOS 10.14

## Steps to Reproduce

1. Click "Fetch ..." button
2. Press Ctrl-Tab -> nothing happened

Alternative steps:
1. Select any view in Changes/History tab or content view
    a. item in the chang

[2018-10-16 17:45] tronster opened #5912 "Failure to clone repository due to remote error: Repository not found."
WHY?
Instead of a template of what to write for bug reports, why not prefill it from the client?   I did press "Help > "Report Issue" from your own client; it should be able to fill this out.

This repository: https://github.com/gamaral/marshmallow_h fails to clone via your desktop app.

## Version

* GitHub Desktop: 1.4.2

* Operating system: macOS 10.13.16

## Steps to Reproduce

1. On a Mac, in

[2018-10-16 18:47] shiftkey commented on #5912
@tronster thanks for the feedback!

The clone will fail from the command line if you specify `--recurse-submodules` e.g. `git clone https://github.com/gamaral/marshmallow_h --recurse-submodules`

The problem is that this submodule:

<img width="471" src="https://user-images.githubusercontent.com/359239/47039493-78474a80-d15a-11e8-97e5-3153c4646696.png">

Refers to a commit that no longer exists: h

[2018-10-16 18:47] shiftkey commented on #3242
@tronster encountered this in #5912

[2018-10-16 18:48] #5912 closed

[2018-10-16 19:02] kylefox opened #5913 ""open this in GitHub Desktop" link in pull requests is broken"
## Description

Clicking the "open this in GitHub Desktop" link in pull requests refuses to open the pull request — instead, it constantly re-prompts me to clone the repository.

![image](https://user-images.githubusercontent.com/37838/47040004-770a2380-d142-11e8-999a-7b18fe0c169b.png)

![image](https://user-images.githubusercontent.com/37838/47040160-d49e7000-d142-11e8-9a9e-d476dcc1ac8d.png)

I h

[2018-10-16 19:12] billygriffin commented on #5911
Thanks @a-golovanov! I was able to reproduce. Just a note that you can also use the specifically defined Desktop keyboard shortcuts Cmd+1 and Cmd+2, respectively, on macOS to get to the "Changes" and "History" tabs. I'm going to classify this as a small bug and if someone from the community is able to help knock it out, that'd be great. 😄

[2018-10-16 19:15] cheshire137 opened #5914 "Number formatting for commit count in push button"
When I have a lot of commits to push, say from switching to a very old branch and merging in the latest master, the push button could be formatted with commas (or periods, depending on locale) to make the commit count more readable:

![image](https://user-images.githubusercontent.com/82317/47041237-e1749100-d14d-11e8-866b-070f3333b5f8.png)

In the above screenshot, I'd like to see "16,236" or even

[2018-10-16 19:16] shiftkey commented on #5914
@cheshire137 we're already discussing this in #1245

[2018-10-16 19:16] #5914 closed

[2018-10-16 19:21] steveward commented on #5905
@modiract it looks like there may be an issue your stored credentials. Can you try logging out and then logging back in to GitHub Desktop to see if that gets things working? You can do this by going to the file menu in GitHub Desktop and selecting `File` > `Options` > `Accounts`.

[2018-10-16 19:44] shiftkey commented on #5842
In regards to your other bit of feedback:

Does #750 feel like what you need here? Something to sweep up these branches which have been merged into the default branch so that they no longer appear in your branches list?

[2018-10-16 19:46] j-f1 commented on #1245
In #5914, @cheshire137 suggested using a “k” suffix, which would eliminate the need for locale-specific formatting.

[2018-10-16 20:48] n0shake opened #5915 "Emoji Not Being Displayed under Current Branch"
macOS High Sierra 10.13.6
Macbook Pro 2015 Retina
Github Desktop 1.1.1

Steps to Reproduce:

1. Create a new branch under an existing repo
2. Name the branch using emojis
3. See the branch name not being reflected in the UI

<img width="1040" alt="screen shot 2018-10-16 at 3 45 43 pm" src="https://user-images.githubusercontent.com/8280282/47046406-a3ca3500-d15a-11e8-8e88-fc3e13c1e599.png">

<img w

[2018-10-16 20:55] #5394 closed

[2018-10-16 21:05] shiftkey commented on #5913
@kylefox thanks for the report!

I've been able to reproduce this and I believe it's down to this chunk of code and a change we made in #5576:

https://github.com/desktop/desktop/blob/40b3d53b3f9a3d3ddf9ac6efddfe8db58bf67511/app/src/lib/dispatcher/dispatcher.ts#L976-L986

The `gitHubRepository.cloneURL === url` check here now fails to find a match because we no longer prefix a `.git` to the URLs w

[2018-10-16 21:41] shiftkey commented on #5913
Bumping to `priority-2` because our GitHub website integration is something we don't want to leave broken for long, and I've got a fix in-flight so I don't want someone else to pick this up.

[2018-10-16 23:08] vczh opened #5919 "Both Github.com and Github Desktop displays incorrect diff for files containing \r"
## Description
Refer to [here](https://github.com/vczh-libraries/Document/commit/e62cd132fdcec45653ed294fc22632c289aadc96) and [here](https://github.com/vczh-libraries/Document/commit/e71bea01d5ea1c4333e1bfa7f5974089cfeaa5ce)

I made a mistake which inserted `\r` instead of `\r\n` for just a few lines in `Parser_Expr.cpp`. And then both Github.com and Github Desktop display incorrect diff for this

[2018-10-17 01:31] Amabel commented on #2944
@shiftkey Thanks for paying attention on this. @billygriffin Thanks for the suggestion and I totally agree with you. I've made a pull request #5920 to address this, hope you can check this out.

[2018-10-17 02:52] vincentfrost opened #5921 "improve UI"
i think we need a graph line, it help easy to follow all branch. thanks Github team

[2018-10-17 07:20] modiract commented on #5905
Thank you it works The problem was that if you publish/ push your changes and need to log in, you won't be able because you need a phone verification. Because of this the login isn't working and not showing any kind of way to insert your authentication code. However, if you go to file options accounts and login there, it does show the authentication code to insert.

[2018-10-17 08:46] wlooseven opened #5922 "command line"

[2018-10-17 09:00] roger-wernersson commented on #1940
How did it go? I'm considering creating a Tamper Monkey script to do it for me locally.

[2018-10-17 11:09] venkateshp241093 commented on #2068
@Chadley08   I am writing a desktop application using the same Electron + typescript + Angular 2 , I am stuck in writing the unit test cases for the same as I see below error.

ERROR in ./src/renderer/app/providers/diagnostics.service.ts
Module not found: Error: Can't resolve 'fs' in 'C:\Users\extvpadmanabhan\Desktop\GN_Netcom\JabraOnline\src\renderer\app\providers'
 @ ./src/renderer/app/providers

[2018-10-17 11:52] shiftkey commented on #5921
@vincentfrost thanks for the feedback!

Please follow along with #1634 where we're discussing that in more detail.

[2018-10-17 11:52] #5921 closed

[2018-10-17 13:49] venkateshp241093 commented on #2068
@Chadley08
No we are trying with jasmine and karma itself..

[2018-10-17 14:16] shiftkey commented on #2068
@Chadley08 @venkateshp241093 I'd suggest [Stack Overflow](https://stackoverflow.com/) to troubleshoot this further as we switched from `electron-mocha` to `jest` a while ago to enable code coverage.

[2018-10-17 14:19] shiftkey commented on #2068
I'm going to lock this issue because we don't have the bandwidth to support enquiries about other people's projects, beyond questions about our specific setup - which you have the code and PRs to follow along with.

[2018-10-17 14:33] shiftkey commented on #5915
I tested this out using a different emoji with the latest `master` build:

<img width="496"  src="https://user-images.githubusercontent.com/359239/47093716-26590000-d200-11e8-950e-d783193b7a5b.png">

But then I chose the 🕷 emoji and I did see this issue (note that it's rendered fine in the branch list):

<img width="583"  src="https://user-images.githubusercontent.com/359239/47093805-543e4480-d200

[2018-10-17 14:35] outofambit opened #5923 "lib/git/commit functions could return SHA on success"
(From https://github.com/desktop/desktop/pull/5910#discussion_r225712202)

Currently, `createCommit` and `createMergeCommit` (both in https://github.com/desktop/desktop/blob/master/app/src/lib/git/commit.ts)  return a boolean or null on success and throw an error on failures. It would be nice to have them return the SHA of the commit created on success.

This will require parsing the git output fr

[2018-10-17 14:36] shiftkey commented on #5915
Also, this seems to work fine on Windows 10 (use Windows Key and <kbd>,</kbd> to get to the Emoji Picker) so I'm going to mark it as macOS only for now:

<img width="563" src="https://user-images.githubusercontent.com/359239/47094037-cca50580-d200-11e8-9cf3-a4e2e9bd1929.png">

[2018-10-17 14:38] shiftkey commented on #5923
Are there scenarios you have in mind where having this would be helpful?

[2018-10-17 14:49] outofambit commented on #5923
It would make testing a little easier, since you could check if the returned commit exists. perhaps there are places in the UI where we could use that too?

Mostly, @iAmWillShepherd and I were brainstorming other things to return besides `true` or `void` to indicate success and the SHA seemed slightly more informative.

[2018-10-17 15:09] shiftkey commented on #5923
@outofambit I'm into it - just wanted to tease out a bit more context about the motivation 🤘

[2018-10-17 15:10] hyagli opened #5925 "ANSI character problem"
## Description
When viewing the changes in an ANSI encoded file. The turkish characters are displayed as question marks.

## Version

* GitHub Desktop: 1.4.2
* Operating system: Windows 10 64 bit with Turkish locale set.

![image](https://user-images.githubusercontent.com/3749620/47096287-874ffa80-d237-11e8-85a6-c13414b09f36.png)

[2018-10-17 15:15] billygriffin commented on #5925
Thanks for the report @hyagli, and sorry about that. We're tracking non-UTF8 characters in https://github.com/desktop/desktop/issues/3923, so please follow along there.

[2018-10-17 15:15] #5925 closed

[2018-10-17 15:17] webdawg commented on #1525
It would be pretty cool if a technology company that is built with a Linux back-end, would officially support Linux users that use Linux as a desktop.  While the development community around Linux is great, why is there still not an official backing from GitHub on this.  Could you not at least get a few interns on it?

[2018-10-17 15:18] shiftkey commented on #5919
@vczh Can you be more specific? The diff for `Parser_Expr.cpp` in each commit is ~1400 lines and I'm not quite sure what I'm looking for exactly.

[2018-10-17 15:56] patieru12 commented on #4738
Fixed by Turning OFF Kaspersky temporary.

[2018-10-17 17:42] orestotel commented on #3116
I encountered the same problem.

It occurred when I opened the Github desktop and then changed my Github password via Chrome browser. No issues were noticed by me until I tried to clone a forked repository from my account.

It asked me to log in. I typed my login and the new password and pressed to log in. It didn't work, so I tried it several times.

After that, I changed my password again to mak

[2018-10-17 17:51] steveward commented on #5905
Thanks for the update @modiract. The specific case of attempting to clone a private repository when a user is *not* logged should be addressed by the changes in https://github.com/desktop/desktop/pull/5816. Attempting to clone a private repository when not logged in will return a `404` status code, which will then throw the error that the repository does not exist and will mention to the user to m

[2018-10-17 17:51] #5905 closed

[2018-10-17 18:17] shiftkey commented on #3116
@orestotel this really feels like #5905 which we traced to the user not being signed into their GitHub account.

[2018-10-17 18:28] shiftkey commented on #5884
@mudslide89 can you try removing that old log file and running the installer again? That might help us get some fresh information...

[2018-10-17 18:29] shiftkey commented on #5862
Closing this out due to inactivity. @ram-wavity if you're able to provide more information about the issue we're happy to troubleshoot further.

[2018-10-17 18:29] #5862 closed

[2018-10-17 19:34] gyang909 opened #5927 "The dark version is too dark"
I tried the dark version. It's too dark :-). Prefer to have multiple colors. It would looks even better if the window had an edge.

[2018-10-17 20:20] billygriffin commented on #5927
Thanks for the issue @gyang909! Unfortunately accommodating each person's color preference would be too demanding, and overall the dark theme has been well received. We really appreciate the feedback, but we're going to keep it as is for now.

[2018-10-17 20:20] #5927 closed

[2018-10-17 20:49] Gallahron opened #5928 "Cannot push to origin"
Am unable to push to origin branch from desktop, it always comes up with an authentication error even though I am an owner on the repository.
[2018-10-17.desktop.production.log](https://github.com/desktop/desktop/files/2489217/2018-10-17.desktop.production.log)

[2018-10-17 20:50] #5928 closed

[2018-10-17 20:57] iAmWillShepherd commented on #5555
@j-f1, thanks for the input. I think we want to do small iterative changes over larger sweeping changes. The team still has not settled on the best path forward for the relationship between branches feature, so we have to figure that part out first. The changes @ampinsk is suggesting meets the goal of small changes since it only involves updating a label.

If you're interested in helping out in th

[2018-10-17 21:13] mudslide89 commented on #5884
So... I deleted that file and try to reinstall and now the log for the errors come up blank

[2018-10-17 21:15] iAmWillShepherd opened #5929 "Add a button to the branch selector"
It's not obvious how to merge one branch into another in Desktop.

:warning: See #5555 for additional context :warning:

This issue is marked as help wanted to gives others the chance to get involved in feature iteration. Please leave a comment below if you'd like to pick this up 😄.

### Goal

We want to improve the discoverability of merging branches. At the moment, we have 2 ways of doing this.

[2018-10-17 21:53] iAmWillShepherd opened #5930 "It's unclear which branch is being merged into another in the merge dialog"
The directional merge flow is not as obvious as it could be. It should be perfectly clear which branch you're merging into which branch.

:warning:  See [#5555](https://github.com/desktop/desktop/issues/5555) for additional context :warning:

This issue is marked as help wanted to gives others the chance to get involved in feature iteration.

**Current Merge Dialog**
![screen shot 2018-10-17 at 4

[2018-10-17 22:04] hessmjr commented on #3707
+1

- Git Tower currently offers this and its one of the main reasons I haven't moved away from it.
- I currently have a personal account, a business account, plus an enterprise account from grad school.  None of those are optional and I can't imagine logging in and out between them as often as I switch.  I was recently reviewing Github Desktop to see if this feature was added and its going to con

[2018-10-17 22:20] JQuinnie commented on #5930
Hi,
I’d like to take a stab and work on this issue, thanks!

[2018-10-18 00:34] HedvigS opened #5932 "Large files, which one?"
**Identify which files are too large**
When merging, sometimes I get an error message that a file is over 100 MB. Could the dialogue box please include which they are? That would be practical.

[2018-10-18 01:10] billygriffin commented on #5932
Thanks for the idea @HedvigS! We agree, and we’re tracking that in #997, so I’m going to go ahead and close this issue. If you have a desire to get involved it is labeled as help wanted, and we appreciate it regardless!

[2018-10-18 01:10] #5932 closed

[2018-10-18 01:43] HedvigS commented on #5932
I often find myself not being able to find the file and resolve the conflict. My current method of solving these situations is rather crude, but has proven successful.

* move the folder where I have made changes to outside of the repos
* remove the clone from Github Desktop and move to trash
* re-clone the same repos
* put the folder back into re-cloned repos
* comity and push and pull again

[2018-10-18 01:44] HedvigS commented on #997
I have the same problem. I often find myself not being able to find the file and resolve the conflict. My current method of solving these situations is rather crude :/ , but has proven successful.

* move the folder where I have made changes to outside of the repos
* remove the clone from Github Desktop and move to trash
* re-clone the same repos
* put the folder back into re-cloned repos
* comity

[2018-10-18 02:16] ScGPS commented on #4931
I found the worked way:
change
git@xxx.com:one/app_mac.git
to
https://xxx.com/one/app_mac.git

don't use git ssh to visit, but https to visit
That's to say, use password to visit, not ssh to visit.

[2018-10-18 06:41] vczh commented on #5919
@shiftkey Hi, in order to get the idea you can read the second diff, which I changes just a few `\r` to `\r\n` from line 48 to 54. \r will be rendered as `^M` so it is very easy to find.

[2018-10-18 10:31] edgale opened #5933 "open in external editor does not handle account names with whitespace"
## Description

I basically have the same problem as #4246. I switched users and reinstalled github desktop. After that it worked. I noticed that in my old account the user had a non ascii character in the name (ö). So maybe this has something to do with non ascii character paths.

## Version

* GitHub Desktop:Version 1.4.2

* Operating system: Microsoft Windows [Version 10.0.17134.345]

[2018-10-18 11:08] biolauri opened #5934 "File selection of disabled entries possible with space"
## Description
I have a long-running pre-commit hook. After hitting *commit*, the checkboxes for file selection are getting disabled immediately and any clicking on these checkboxes are prevented (everything fine here).
However, I can still mark a checkbox by hitting space on a highlighted entry/file, which is quite misleading. Luckily, this has no impact on the commit itself (nor the pre-commit h

[2018-10-18 12:06] HedvigS commented on #997
Thanks @steveward . The problem now is more to do with the resolution, I just thought it'd be good if the dialogue box also included this information.

If I've committed a file to my local branch that's too large, even if I remove it from the folder I still can't push. Hence the whole re-cloning thing :)

[2018-10-18 13:47] shiftkey commented on #997
@HedvigS this is because it's still preserved in the Git history in a previous commit, and pushing the branch  after cleaning it up will still try to push that old commit containing the 100MB file

[2018-10-18 13:52] shiftkey commented on #5933
@edgale thanks for the report! Last time I checked this I thought we were fine with account names with non-ASCII characters, but maybe something has changed recently?

Could you try running through the steps, open `View` | `Toggle Developer Tools`, and enable Verbose logging? We have some extra diagnostics around this that might highlight the error:

<img width="946" src="https://user-images.githu

[2018-10-18 13:54] shiftkey commented on #5929
@iAmWillShepherd I'm trying to reconcile the urgency of this (milestoned for the next release) with accepting external contributions for this (that might not be picked up soon). Can you elaborate on when you think this should be worked on?

[2018-10-18 14:09] #2944 closed

[2018-10-18 16:55] shiftkey commented on #5884
@mudslide89 I'm really puzzled about what's happening here. I'd expect something (either good or bad) to be found at `%LOCALAPPDATA%\GitHubDesktop\SquirrelSetup.log` or `%LOCALAPPDATA%\atom\SquirrelSetup.log` (just checked both of these locations again).

I'm not sure if you're still doing this, but the GitHub Desktop and Atom installers do not require elevation to run (they install to %LOCALAPPDA

[2018-10-18 17:16] shiftkey commented on #5847
I'm somewhat neutral about this effort to introduce a generic platform helper component (I've seen a couple of attempts in the past and might have even had a shot at this myself). I had some notes from a chat we had in Slack a while ago, which I'll share here for everyone's benefits:

For me, I'd love to come to a consensus on this before we dive into solutions:

[2018-10-18 17:46] danielthompson commented on #2191
For me, the core problem is that 90% of the time, my intent really is to commit and then push. It's not that I have to remember to do it manually, it's that don't want to have to remember to do it manually.

JetBrains does this right - their older-style commit dialog has a button dropdown that triggers a commit and push:

![jetbrains old](https://user-images.githubusercontent.com/838836/47173341-7

[2018-10-18 17:56] FaithInMotion opened #5936 "can't push to repository in app (publish repository modal displayed)"
## Description
I updated my system from High Sierra to Mojave. Upon update, I lost the ability to publish.

When I'm looking at the Desktop app, I have the "Push" command for my branch in my repository.
<img width="494" alt="screen shot 2018-10-18 at 1 44 24 pm" src="https://user-images.githubusercontent.com/7316029/47173627-8fae4100-d2dc-11e8-9681-0b81b174a972.png">

However, when I click this:
<

[2018-10-18 18:02] dsanders11 opened #5937 "Not visually apparent which repo is selected to clone"
**Please describe the problem you think should be solved**
This issue is borne out of some bad experiences with the Clone a Repository dialog. Since the issues all seem to stem from a root design choice, I'm going to group them all here under one issue, with the generic title.

- The three tabs (GitHub.com, Enterprise, URL) have shared state with regards to the repository URL and the local path. T

[2018-10-18 18:04] shiftkey commented on #5936
@FaithInMotion thanks for the details. At first glance I'm not sure why we're showing the publish dialog despite the fact we detect you have an `origin` remote and a tracked branch.

Out of curiosity, do you see the padlock icon next the repository switcher in the top-left? That's our way of detecting that you're working with a private GitHub repository, and if it's reverting to a "computer monito

[2018-10-18 18:06] atalis commented on #2191
I agree with @danielthompson.  I've been working in teams with CI, notifications, etc., and various version control systems for a long time, and I rarely, if ever, had a problem pushing to the server something I didn't intend to.  I never had an issue of accidentally committing something and triggering CI with the previous version of Desktop.  But I do forget to push my changes to the server with

[2018-10-18 18:10] shiftkey commented on #5853
This feels rather similar to #1277 which I kind of funnelled a couple of other issues

[2018-10-18 18:14] FaithInMotion commented on #5936
This is what I have currently:

<img width="244" alt="screen shot 2018-10-18 at 2 13 54 pm" src="https://user-images.githubusercontent.com/7316029/47174983-23354100-d2e0-11e8-84e3-1a91b9e35e46.png">

[2018-10-18 18:17] FaithInMotion commented on #5936
Is this what you are looking for? (I'm not overly new to this but sometimes I lose the terminology)

[code]

[2018-10-18 18:19] shiftkey commented on #5936
That's the current branch - what about the area to the left of that?

Cool, SSH URLs with a `.git` suffix. That helps - I think I know where this is lurking.

[2018-10-18 18:34] FaithInMotion commented on #5936
Sweet, thanks! I'm just happy it's an actual issue and not just me losing my marbles for once :P

[2018-10-18 18:44] billygriffin commented on #5937
Thanks @dsanders11, we appreciate the thoughts. For a bit of feedback, this issue is pretty difficult to digest and it'd be helpful to more clearly state the problem(s) you're describing instead of lumping into a "Bad UX" issue.

As I understand it, there is one primary problem that you're articulating:

**If I select a repo in any of the tabs, that repo remains selected (even across tabs) but it'

[2018-10-18 18:57] cheshire137 commented on #5451
I experienced this as well in 1.4.3-beta2 in macOS.

[2018-10-18 19:42] dsanders11 commented on #5937
@billygriffin, I stated several problems in the bullet points which I feel cause the bad UX, I'm not sure how I can more clearly state them. That may just be a communication issue on my side.

Yes...and no. :-) It's accurate on face value, but I don't feel it fully addresses the issue. Reducing the issue to a one-liner may produce a 'solution' which is too narrow and doesn't fix all of the bad UX.

[2018-10-18 19:46] shiftkey commented on #5873
We had an earlier issue about this behaviour #4645 which I'll add the screenshot from @r-pascal about the classic behaviour:

![](https://user-images.githubusercontent.com/4028417/39815957-08138640-539a-11e8-8196-9cb36daeb809.jpg)

[2018-10-18 19:47] shiftkey commented on #4645
@r-pascal apologies for not replying to this issue.

Please follow along with #5873, which has had some discussion about the area.

[2018-10-18 19:47] #4645 closed

[2018-10-18 20:46] JaySardhara opened #5942 "Text overflow in 'What's new Dialog box'"
## Description
Changelog and text overflow in 'What's new' dialog box presented when a new version is available on top of the screen.

## Version
Issue noticed while upgrading from 1.4.2 -> 1.4.3

* Operating system: Windows 10 1803 (Build: 17134.345)

## Steps to Reproduce
Click 'What's new' dialog on top of the screen when a new version is presented.

### Expected Behavior
Changelog to fit in th

[2018-10-18 20:46] #5942 closed

[2018-10-18 21:00] shiftkey commented on #5669
I've got a branch going with this change but there's a webpack issue with it, because of [this code](https://github.com/atom/fs-admin/blob/d7e0b087d4878aa281a87c71263688333d24c440/index.js#L142-L149):

[code]

That `require.resolve('./src/copy-folder.cmd')` points off to [this batch file](https://github.com/atom/fs-admin/blob/d7e0b087d4878aa281a87c71263688333d24c440/src/copy-folder.cmd) that the a

[2018-10-18 22:18] billygriffin commented on #3221
I missed this previously but I'm going to remove the future proposal label and track this in the open issue #5891.

[2018-10-18 22:52] HedvigS commented on #997
@shiftkey Yes.
So could there be a stop at the commit level already instead of later at the push-stage?
Or is there an easy way to clean the commit history inside the app right now?

[2018-10-18 22:57] billygriffin commented on #997
@HedvigS Yep, that's exactly what this issue is about. See @shiftkey's comment above: https://github.com/desktop/desktop/issues/997#issuecomment-402241709

Unfortunately no easy way to clean the commit history in the app, but hopefully if we can help prevent this on the front end prior to committing, it'll make that significantly less common.

[2018-10-18 23:01] HedvigS commented on #997
@billygriffin

If there just was a warning when committing, that would probably sort out most of these cases. For me, these are often just files that are right at the edge and I'm not fully aware that they're that large (Rdata files for example). If I'd just be stopped at the commit stage, that'd probably clear most of it up :)

[2018-10-19 00:08] coltenkrauter opened #5944 "Ability to submit and interact with GitHub issues via GitHub Desktop"
**Ability to submit issues via GitHub Desktop**
As a GitHub user I would like the ability to submit GitHub issues via the GitHub desktop application so that I can manage my project with the same app that I use regularly for committing code.

**I think that adding a button to the right of the Fetch origin button would fit nicely**
An **Issues** button to the right of the **Fetch origin** button cou

[2018-10-19 01:53] JQuinnie commented on #5930
Hi @iAmWillShepherd ,

Love to get a sanity check before I move onto the other portion of this issue.

See current modal output below;

![image](https://user-images.githubusercontent.com/29465981/47193086-4d9df300-d30e-11e8-9460-438a6664a8b2.png)

Question:
1. I could not seem to replicate the merge conflict in your 2nd screenshot, for me it does not show a conflict and allows merging from modal,

[2018-10-19 02:59] mudslide89 commented on #5884
The squirrelSetup.log for bot are completely empty :/ and I have tried it without being run as Admin for both but running into errors

[2018-10-19 03:15] szswezin opened #5945 "Unauthozied to login"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2018-10-19 03:43] Beemo138 commented on #3215
Can we PLEASE get a 32 bit supported version? it would make life so much easier...

PLEASE PLEASE PLEASE?????

[2018-10-19 03:53] bangnokia opened #5946 "Blank merge branch dialog doesn't disappear when press esc"
## Description
When merge dialog is blank and i press esc, it doesn't disappear, and it user must to use mouse to close it or press cmd + w

## Version
* GitHub Desktop: 1.4.3
* Operating system: macos mojave

## Steps to Reproduce
1. Press cmd + shift + m
2. Press esc

### Expected Behavior
When press esc, the dialog should be disappeared

### Actual Behavior
Nothing happen

[2018-10-19 05:00] edgale commented on #5933
Hi @shiftkey, thanks for the reply.
I deleted the user but could recreate the issue with creating a user with the same username. I also forgot to mention that the username has a space in it.
Here are the logs:
[code]
I hope this helps. Let me know if you need any more information.

[2018-10-19 05:38] adambirds commented on #5891
I think the idea of @benjiko99 is a good one. I have a preferred IDE for most stuff which is VS Code, but I also use Atom, Sublime, Powershell ISE, and others on a regular basis. So I think a drop down with them all listed would be good. Which was my idea back in #3221

[2018-10-19 10:34] simonh-mmw commented on #5854
Updated to 1.4.3 today and found this issue to still exist.

Version, steps, and behaviour the same as above.

![githubdesktop bugfix](https://user-images.githubusercontent.com/36480033/47213364-aadb8800-d392-11e8-905a-3f5f3f01f6c6.png)

[2018-10-19 10:48] alandail commented on #2191
I would have never upgraded to the new app if I knew this feature was gone.  How do I revert to the old client? I don't understand why there is any issue at all with having this option in the app.  Nobody has to turn it on if it causes problems for them.  I develop from 3 machines at 3 different locations, use GitHub to track my changes and to get the updated code to the other machines.  I do full

[2018-10-19 11:42] shiftkey commented on #5854
@simonh-mmw thanks for the update!

Unfortunately you were using 1.4.2 at the time it displayed this "new update ready!" prompt, which still had this issue. #5885 was merged into 1.4.3, and should mean this goes away for the next "new update ready!" prompt...

[2018-10-19 11:45] shiftkey commented on #5946
@bangnokia thanks for the report!

I'm going to close this out in favour of #5889 which has some more details about the underlying issue.

[2018-10-19 11:45] #5946 closed

[2018-10-19 11:48] shiftkey commented on #5945
@szswezin thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-10-19 12:29] j-f1 commented on #5873
Looking at that, how about a ☁️ icon with a slash through it indicating unpushed status?

[2018-10-19 12:32] shiftkey commented on #5884
Can you share a screenshot of the error you are seeing? Let's start from there and work our way back...

[2018-10-19 12:43] j-f1 commented on #2191
I like the dropdown idea — perhaps it could be styled like the merge button on the website, where your choice is remembered.

[2018-10-19 12:50] rsm5139 commented on #3616
I know this is a closed issue, but I have the same problem. It will ask me almost every day to enter an admin password to install a password. Sometimes, it will ask 4-6 times in a row. I keep approving it, but it will ask over and over. Very annoying. I end up closing the app until I need it. I've tried changing the app ownership (a coworker of mine tried as well) and it didn't work.
If it asked

[2018-10-19 13:07] rsm5139 commented on #3616
I want to update this. I checked the ownership of the app for me and my coworker, and for both of us it reverted to root. Not sure why it went back. I tried changing ownership again, and we'll see if the problem persists.

[2018-10-19 13:08] shiftkey commented on #3616
@rsm5139

Thanks for the extra context. I'm not really sure what would be changing ownership of the app, but reverting it to your account was shown to be the fix before so I hope that addresses it for you this time.