[2017-12-06 13:27] cpcallen commented on #3514
@niik: Nope: neither option is set for my repository:

`$ git config --get core.autocrlf`
(no output)
`$ git config --get core.safecrlf`
(no output)

I applaud the intent of #2366, but if it is the cause of this behaviour then there appears to be a defect in the implementation.

[2017-12-06 13:36] niik commented on #3514
Aha, thank you so much for that extra detail @cpcallen.

I agree. So what's happening then is that we seem to be defaulting to CRLF regardless of platform when `autocrlf` _isn't_ set.

https://github.com/desktop/desktop/blob/dd54f83a269d6353b5b48ae90d923e6130845ad1/app/src/lib/stores/git-store.ts#L1101-L1106

And I can't see how this part would ever occur since we're concatenating the path prior t

[2017-12-06 15:01] #3502 closed

[2017-12-06 15:02] #3429 closed

[2017-12-06 15:03] vbNETonIce opened #3516 "Wording: 'remain on disk' to 'remain on drive'"
https://github.com/desktop/desktop/blob/525936a9aec13202206887ea0ab3e2124d7211ad/app/src/ui/remove-repository/confirm-remove-repository.tsx#L49

not wanting to be pedantic but renaming the warning makes more sense for users of SSDs.

[2017-12-06 15:16] #3105 closed

[2017-12-06 15:16] #3405 closed

[2017-12-06 15:37] joshaber commented on #3395
@niik and I talked about this yesterday and agreed that for 1.1, checking out the PR ref is the best route forward. That means we'll also need to explicitly fetch the PR ref (e.g., `git fetch origin pull/:pr_number/head`).

[2017-12-06 16:03] joshaber commented on #3484
My best guess is that the IT system is doing some shenanigans, but it's hard to say for certain. Is there someone in IT you could ask?

My only other theory is that the old GitHub Desktop's update system is left hanging around, and since they're installed in the same place it happily replaces the new app. But it _should_ be doing some verification to prevent this, and I don't know why it would thi

[2017-12-06 16:39] jimniels commented on #3484
Ok, I'm going to ask someone in IT, see if they have a suspicion as to what is going on. As for your other suggestions, I've tried number 1, but I've never tried number 2. So I'll give that a try and we'll see what happens. Thanks!

[2017-12-06 17:08] sarden11037 opened #3517 "Window outside boundary"
### Description

My github desktop version was working fine they I switched to dual monitors and it seems that the application is situation outside the screen boundary. As a result, I can't access the application even after resetting it. I upgraded to the new version release the was released December 05, 2017 but that did nothing. I found another issue report, #3342 , that was having the same issu

[2017-12-06 17:39] cheshire137 opened #3518 "Cmd-R not opening pull request for active branch"
I'm in version 1.0.10 on macOS Sierra. I'm experiencing a problem where when I hit Cmd-R to open the existing pull request or create a new pull request for the current branch, it instead opens the wrong pull request in my browser. For example, I'm on a branch that does not have a PR right now, named `fix-flaky-test`. When I hit Cmd-R from GitHub Desktop, it opens an existing pull request for a bra

[2017-12-06 17:43] iAmWillShepherd commented on #3517
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #3342. Please follow that issue
for further updates.

[2017-12-06 17:43] #3517 closed

[2017-12-06 17:46] iAmWillShepherd commented on #3518
Good catch, I'll look into this one soon. 🙇

[2017-12-06 18:16] iAmWillShepherd commented on #3516
Thanks for the feedback!

Given that "drive" doesn't really apply to all technologies either (network shares, SANs, etc), we're not comfortable settling on your currently recommended wording. We would be happy to review a pull request if you want to suggest a better term that would be inclusive of all technologies where data may be stored.

Thanks again for your interest in Desktop :+1:

[2017-12-06 18:16] #3516 closed

[2017-12-06 19:07] cheshire137 opened #3519 "Lots of commits to be pushed = high fans"
This is a strange one. I had a very old branch that was way behind master. I merged the latest master into my branch but didn't push to GitHub:

![github_desktop](https://user-images.githubusercontent.com/82317/33679960-c513da9e-da85-11e7-9242-6778969bfa68.png)

I continued working on the branch locally but I noticed my MacBook fans were getting louder and louder. I opened Activity Monitor and tri

[2017-12-06 19:10] tierninho commented on #3429
@iAmWillShepherd works like charm now, nice work!

[2017-12-06 19:11] joshaber commented on #3510
Yeah, I'd lump this in with #3337. It's another manifestation of the same underlying problem.

[2017-12-06 19:23] tierninho opened #3520 "Surfacing Pull Request indicator in the Branch list"
We could enhance the branch list by adding a badge with the total amount of associated Pull Requests, so the user knows how many PRs are under each branch.

This would somewhat tie into surfacing which branches can be deleted and which could not, so even a trash-can icon could be present, and those branches with PRs would be greyed out.

<img width="336" alt="screen shot 2017-12-06 at 11 12 08 am"

[2017-12-06 19:32] tierninho opened #3521 "Should CI status say "Failure" or "failed"?"
A bit nit-picky, but I think we should use the word "failed" and not "failure" for the CI status check, as "failed" in surfaced in the current UI on GitHub.com:

<img width="812" alt="screen shot 2017-12-06 at 11 22 39 am" src="https://user-images.githubusercontent.com/14828183/33681129-82c2c3ce-da78-11e7-9e27-b62259212628.png">

<img width="503" alt="screen shot 2017-12-06 at 11 33 12 am" src="ht

[2017-12-06 19:37] j-f1 commented on #3520
When would you have a branch with multiple PRs? That would be very unusual. Did you want to have the PR ID listed instead?

[2017-12-06 19:39] j-f1 commented on #3514
Maybe we should use something like [`detect-newline`](https://www.npmjs.com/package/detect-newline) to figure out what kind of newline to insert.

[2017-12-06 19:41] j-f1 commented on #3521
How about `2/2 checks failed`?

[2017-12-06 19:45] tierninho commented on #3520
Yes, good catch. Perhaps just an indicator icon with or without the ID.

[2017-12-06 19:50] iAmWillShepherd commented on #3519
This is interesting. Looks like some digging is in order! 🙇

[2017-12-06 20:45] MitchellSingleton commented on #2311
I think that I found a work around.

I edited the window-state.json file to this:
{"width":,"height":,"x":,"y":,"isMaximized":false,"isFullScreen":false,"displayBounds":{"x":0,"y":0,"width":1920,"height":1080}}

and then made the file read-only.  This appears to prevent the window information from being saved and I don't have to "fix" it again.

[2017-12-06 20:58] heshamelmasry77 opened #3522 "github desktop deleted al my projects !!"
I am writing this because i am so pissed from this app. Today i was working on a project and then i tried to commit  my changes. I found that github desktop added all my projects in my github main folder in the commit. I was like how !!  these other projects not in my current project i am working on.  I discarded the changes then i found it deleted all my apps !!

[2017-12-06 21:05] j-f1 commented on #3522
I’m sorry you had a bad experience! Do these tips help?

1. When you discard changes in GitHub Desktop, they go to your Trash (macOS) or Recycle Bin (Windows)
2. What probably happened is that you tried to add your main GitHub folder to GitHub Desktop instead of adding each project separately. Once you have your projects back, you can select them all, then drag-and-drop them onto the app to add th

[2017-12-06 21:12] iAmWillShepherd commented on #3522
@j-f1 is correct here. All of your content is in the recycle bin, so you are still able to restore it assuming you have not emptied your trash.

[2017-12-06 21:12] #3522 closed

[2017-12-06 21:19] heshamelmasry77 commented on #3522
Thank you so much guys. I do got my projects back but its kind of weird what happened.
When you download github desktop. It create for a folder call Github and then you can select what every project you want form your github and you use the github desktop. Inside the Github folder you will have all your projects.
What happened with me exactly is like that.

I created a react project. worked on it

[2017-12-06 21:19] iAmWillShepherd commented on #3518
Looks like this issue may be related to my work in PR #3511

[2017-12-06 21:28] iAmWillShepherd commented on #3522
Glad you were able to recover your other projects @heshamelmasry77 👍

[2017-12-06 21:32] #3510 closed

[2017-12-06 21:36] tierninho commented on #3518
Here is a visual for this bug. The Cmd-R should open the top PR as it is associated with the current branch, not the grey highlighted one which is randomly selected.

<img width="366" alt="screen shot 2017-12-06 at 1 34 34 pm" src="https://user-images.githubusercontent.com/14828183/33686649-709419b6-da8a-11e7-8827-2cfb8e8d0659.png">

[2017-12-06 21:45] joshaber commented on #3520
IIRC the web UI doesn't allow you to create a PR from a branch that already has a PR associated with it. But adding some sort of indicator that there _is_ a PR makes sense to me 👍

[2017-12-06 21:48] tierninho commented on #3499
Lastly, when you filter on an existing PR, and then press `up` or `down` arrow, the blue highlighter should select the appropriate result. Currently, nothing happens.

<img width="353" alt="screen shot 2017-12-06 at 1 45 30 pm" src="https://user-images.githubusercontent.com/14828183/33687168-23054be6-da8c-11e7-999e-33a2a5f95300.png">

See the Branch list for the accepted result.

1.0.11-beta0, mac

[2017-12-06 21:54] iAmWillShepherd commented on #3499
Looks like this issue may be related to my work in PR #3511

[2017-12-06 22:01] iAmWillShepherd commented on #3520
Does this need any design input from @desktop/design since we are proposing new UI?

[2017-12-06 22:02] joshaber commented on #3520
Yeah it does. I don't think we need to prioritize it right now, but it's a good enhancement for the future.

[2017-12-06 22:10] shiftkey commented on #3514
@cpcallen Yeah, I'm a bit hazy on this too but I think @niik is on the money with this comment:

This fix was originally for a issue reported from someone using Windows, where it's far more common to see a system or global Git set `core.autocrlf` because of line ending shenanigans.

[2017-12-06 22:11] tierninho opened #3524 "Keep active PR highlighted when fetching"
When clicking `fetch` button while the PR list is open, the selected (grey highlighted) PR is removed. If you navigate away to Branch list, the highlighting does return.

Tested the same functionality on the Branch list and they are not consistent, as the Branch list retains the highlighting when clicking `fetch`.

Before clicking `fetch`:
<img width="516" alt="screen shot 2017-12-06 at 2 04 58 pm

[2017-12-06 22:19] j-f1 commented on #3520
How about replacing the branch icon on the left with a PR icon if there’s a PR attached?

[2017-12-06 22:30] shiftkey commented on #3514
@j-f1 it's probably worth exploring - [the method itself](https://github.com/sindresorhus/detect-newline/blob/master/index.js) is rather small, and doing our own inference about the working directory state of the `.gitignore` file seems reasonable

[2017-12-06 22:45] shiftkey commented on #3514
Marking this as `help-wanted` as it's rather isolated and relatively low-risk.

The problem we have is in [this method](https://github.com/desktop/desktop/blob/master/app/src/lib/stores/git-store.ts#L1081-L1107) and the bit at the end:

https://github.com/desktop/desktop/blob/94643ad0920f5fbe094b461450c505184bef7a71/app/src/lib/stores/git-store.ts#L1101-L1108

That last part assumes `git config co

[2017-12-06 23:11] shiftkey commented on #3521
That's this message:

https://github.com/desktop/desktop/blob/56f6e4c786c20f0c1c58ed2e517621df0f5dff50/app/src/ui/branches/ci-status.tsx#L20-L21

I'm not sure if we have enough context here to represent `X / Y checks passed` without some refactoring. But let's figure out what we want to display here first.

[2017-12-06 23:35] jimniels commented on #3484
Update: described my problem to someone in IT and they immediately had an inclination as to where the problem was coming from:

So I'm going to go ahead and close this issue. If it happens again I can re-open it.

Thanks @joshaber

[2017-12-06 23:35] #3484 closed

[2017-12-07 00:08] shiftkey commented on #3395
Some prior art: the "Clone in Desktop" flow handles PRs from forks.

https://github.com/desktop/desktop/blob/dd54f83a269d6353b5b48ae90d923e6130845ad1/app/src/lib/dispatcher/dispatcher.ts#L889-L910

Feel free to steal liberally.

[2017-12-07 00:11] shiftkey commented on #3514
As this is some low-hanging fruit and not a new regression, I'm going to drop it from the 1.0.x hotfixes and leave it for a bit if someone wants to try their hand at contributing a fix.

[2017-12-07 00:19] mark-friedman opened #3526 "The pull request number is too sticky in the Current Branch display"
### Description

When I switch from a branch that I specified via the 'Pull Requests' list and then switch away to another branch (not a pull request) it still shows the pull request number in the Current Branch display.

### Version

**GitHub Desktop version:** 1.0.11-beta0

**OS version:** 10.12.6

### Steps to Reproduce

1. Switch from a branch that specified via the 'Pull Requests' list.
1. Sw

[2017-12-07 00:33] shiftkey commented on #3526
@mark-friedman thanks for the report. We're already tracking this in #3510, and we're working on a fix for this in https://github.com/desktop/desktop/pull/3511!

[2017-12-07 00:33] #3526 closed

[2017-12-07 02:37] Conchan-O5 opened #3527 "aaa"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-07 02:51] shiftkey commented on #3527
@Conchan-O5 thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-07 02:51] #3527 closed

[2017-12-07 03:32] txyGithub opened #3528 "weex"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-07 03:54] shiftkey commented on #3528
@txyGithub thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-07 03:54] #3528 closed

[2017-12-07 04:11] #821 closed

[2017-12-07 04:24] shiftkey commented on #2812
Dropping this from `1.0.x` - we can re-prioritize once we get some more information about reproducing the problem

[2017-12-07 11:03] Saxmax commented on #3443
Nothing besides Windows 10's standard Defender.
I've reset my computer now (using Windows 10's system reset feature) and will attempt using GitHub Desktop again when Unity Collab terminates their free licesense (9th January, I think).

[2017-12-07 13:37] #3453 closed

[2017-12-07 13:46] joshaber opened #3533 "Menu items remain disabled after closing a dialog"
A regression probably related to https://github.com/desktop/desktop/pull/3375.

1. On Mac.
1. Open a dialog (e.g., Preferences).
1. Close the dialog.
1. Note that some menu items (e.g., Show Repository List) remain disabled.

[2017-12-07 14:58] #3482 closed

[2017-12-07 15:37] joshaber commented on #2146
@niik and I talked about this earlier this week and decided that we can make a more compelling case for upgrading post-1.1. So I'm moving this to 1.1.x.

[2017-12-07 15:46] joshaber commented on #3454
I'm betting this is related to #3337, so I'm gonna leave it along until that fix lands.

[2017-12-07 17:24] #3499 closed

[2017-12-07 18:31] iAmWillShepherd opened #3536 "PR badge re-rendered on focus event"
They say a picture is worth a thousand words, so a gif must be worth at least a thousand and two words.

![focus](https://user-images.githubusercontent.com/1715082/33731946-640d1100-db4a-11e7-99e6-cf592621516b.gif)

To reproduce, just do something to make the app, not in a focus state then bring it back into focus, and notice that the PR badge briefly disappears before reappearing.

[2017-12-07 18:31] tierninho opened #3537 "Menus are missing while scrolling"
Menu are missing if you scroll, perhaps because we are replacing the entire menu vs modifying it in place - an electron limitation.

Repro:
- click Fetch
- select any menu
- scroll across the other menus
- eventually they all go blank.
- Try to do it as its fetching... might take a few times

<img width="678" alt="screen shot 2017-12-07 at 10 12 07 am" src="https://user-images.githubusercontent.co

[2017-12-07 18:37] joshaber commented on #3537
https://github.com/electron/electron/issues/528 is the Electron issue about this. The problem is that it's really hard to _update_ the app menu, so instead we recreate it when something changes.

[2017-12-07 18:47] iAmWillShepherd opened #3538 "Move away from relying on JS truthiness"
See PR #3535 for more context.

I think we should be explicit in our conditional statements instead of relying on truthiness. This should limit gotchas such as the one referenced above.

[code]

[2017-12-07 19:18] tierninho opened #3539 "Repo cloning error dialogue"
Perhaps we can change the error dialogue to something more understandable to the layman? and do we need some validation on the `url` field? I entered some jiberish in the `url` field and got this:

<img width="448" alt="screen shot 2017-12-07 at 11 14 32 am" src="https://user-images.githubusercontent.com/14828183/33733867-ff1ce9dc-db3f-11e7-948a-9baa8f16140e.png">
<img width="974" alt="screen shot

[2017-12-07 19:35] j-f1 commented on #3539
Looks like we should switch to regular `git clone` here.

[2017-12-07 20:48] iAmWillShepherd commented on #3476
I believe PR #3511 should fix the underlying issue causing this.

[2017-12-07 21:16] tierninho commented on #3518
I think we should note the `Create Pull Request`(`Cmd-R`) still exists when there is already a PR associated with the active branch, therefore we should consider greying it out.

[2017-12-07 21:17] j-f1 commented on #3538
I’ll take a look at this.

1️⃣ ❓:

Should this throw?

[code]

[2017-12-07 21:18] joshaber commented on #3538
👍

[code]

I'd lump these two together and suggest that we prefer:

[code]

It's rare that we care about the distinction between `null` and `undefined`, and I'd go further and say that caring is usually an anti-pattern.

[2017-12-07 21:19] iAmWillShepherd commented on #3518
PR #3432 should have made this menu item dynamic and PR #3511 should ensure that the menu item is updated everytime the active branch is changed.

[2017-12-07 21:24] iAmWillShepherd commented on #3538
The only reason I included `undefined` is that we are using optional types.

Consider this:
[code]

In this case, we'd have to check for `undefined`. We've been getting around this issue by relying on the truthiness of `undefined`.

[2017-12-07 21:29] iAmWillShepherd commented on #3538
Should this throw?

[code]

@j-f1 no it should not.

The intent behind this issue is that we should be explicit instead of relying on truthiness. I think `booleans` are exempt from this since they are the primitives all other conditional expressions evaluate.

[2017-12-07 21:36] joshaber commented on #3538
Hmm, I'm not sure I understand?

`!= null` coerces `undefined` so that both `null != null` and `null != undefined` are false. Or in other words, it generalizes across both `null` and `undefined`.

[2017-12-07 21:42] iAmWillShepherd commented on #3538
But `null !== undefined` return `true`.

I prefer using `===` and `!==` as opposed to `==` and `!=`, but so long as we make sure we remember to use the loose equality operators, we should be fine.

[2017-12-07 23:27] Haacked opened #3540 "Offer to track repository when destination already exists"
I was looking at a PR on github.com and clicked the "open this in GitHub" link near the big green Merge button. It launched Desktop, but showed me this error dialog.

<img src="https://user-images.githubusercontent.com/19977/33743734-ea7921f8-db62-11e7-8cde-98ea6a19db58.png" title="sad trombone" width="500" />

Since I'm trying to view a PR, this message is confusing. It'd be nice if Desktop detec

[2017-12-07 23:30] shiftkey commented on #3540
This feels related to #2956 but is a slightly different entry point. I'll ask @github/design whether they want to merge these two together as part of their triage work.

[2017-12-08 00:02] #2964 closed

[2017-12-08 00:26] shiftkey commented on #2737
There's definitely something up in here, but I'm not sure it's the original issue as reported.

I wasn't able to reproduce this scenario as-is because - **if you're also working from a bare repository on the Windows side** - this should end up in a known limitation of Git when you pull at this point:

<img width="436" src="https://user-images.githubusercontent.com/359239/33744994-599a7a1e-dc08-11e

[2017-12-08 04:09] shiftkey commented on #2774
The 1.1 task list seems to be mostly assigned, so I'm going to start hacking on this a bit until something higher-priority appears.

[2017-12-08 10:18] SennatSu opened #3543 "Font size too small in Chinese characters"
Can you adjust "--font-size-sm: 11px" to "--font-size-sm: 12px" ?

We found that if our code include Chinese characters, the display effect will be very bad.

You can see my screenshots below, each time we use github desktop, we must adjust it by ourselves, otherwise we cannot see our codes clearly.

"--font-size-sm: 11px" (Default)
![001](https://user-images.githubusercontent.com/24712594/3376138

[2017-12-08 13:13] joshaber commented on #3538
Me too! To be clear, I'm _only_ talking about the case of `null`. I think differentiating between `null` and `undefined` in the context of an `if` is making a distinction without a difference. What we're trying to check is whether the value is _something_ or _nothing_, regardless of whether the particular form of nothing is `null` or `undefined`. http://adripofjavascript.com/blog/drips/equals-equa

[2017-12-08 13:19] j-f1 commented on #3538
In fact, that’s already configured as part of the [`eqeqeq`](https://eslint.org/docs/rules/eqeqeq#smart)
ESLint rule:

https://github.com/desktop/desktop/blob/f12ff8c4775904bbb44ef6fdb78b26e734c14455/.eslintrc.yml#L65-L67

[2017-12-08 15:10] Ben1241 opened #3545 "its too bright How do i do it darker Jesus crist"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-08 15:12] niik commented on #3545
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

In case you're referring to the style of the app there's an issue about

[2017-12-08 15:12] #3545 closed

[2017-12-08 16:02] say25 commented on #3543
Any reason why zoom doesn't fix this? `View -> Zoom In`

[2017-12-08 16:05] say25 opened #3547 "Menu Item Truncation"
Its completely my fault.... #3369.
There was enough room before I added shift as per discussion 😢

![image](https://user-images.githubusercontent.com/7467062/33773942-3d39d300-dbff-11e7-93dd-cccca6de0561.png)

[2017-12-08 16:17] iAmWillShepherd commented on #3543
Thank you @SennatSu for taking the time to detail out this issue 👍. I'll let @desktop/design weigh in on this.

[2017-12-08 16:31] SennatSu commented on #3543
@say25 Thank you man, "Zoom In" can fix my problem, but I just don't want to change the size of the frame~

[2017-12-08 16:37] iAmWillShepherd commented on #3538
@joshaber that made sense, also thanks for the article. So I'm down for using `==` and `!=` only when checking against `null` or `undefined`.

[2017-12-08 17:08] #3533 closed

[2017-12-08 17:17] iAmWillShepherd commented on #3538
@j-f1 were you intending to tackle this work?

[2017-12-08 17:24] KshitijPrabhune opened #3548 "Cannot view changes made in the writing software "Brackets"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-08 17:24] tierninho commented on #3548
@KshitijPrabhune  thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-08 17:24] #3548 closed

[2017-12-08 17:25] KshitijPrabhune opened #3549 "Cannot view changes made to the content in writing software "Brackets" For GitHub"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-08 17:26] tierninho commented on #3549
@KshitijPrabhune thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-08 17:26] #3549 closed

[2017-12-08 17:38] j-f1 commented on #3538
Yes 👍

[2017-12-08 17:39] iAmWillShepherd commented on #3538
Could you open a PR to track since I can't assign you to the issue?

[2017-12-08 18:07] #3454 closed

[2017-12-08 18:08] #3476 closed

[2017-12-08 18:08] #3337 closed

[2017-12-08 18:08] #3518 closed

[2017-12-08 18:14] j-f1 commented on #3538
Yup. ⬆️ ✅

[2017-12-08 19:08] tierninho opened #3551 "Consistent labeling for GitHub.com"
For consistency, update the label in the repo list to "GitHub.com"

https://github.com/desktop/desktop/tree/15679510602501408012090e4562458bf9ced56c/app/src/ui/repositories-list

<img width="511" alt="screen shot 2017-12-08 at 10 38 58 am" src="https://user-images.githubusercontent.com/14828183/33780668-7444248e-dc06-11e7-8b64-a79d37b7ad8e.png">

[2017-12-08 20:15] iAmWillShepherd commented on #3519
What repo and branch were you using?

I want to recreate this, but I believe we delete all of our old branched for Desktop, so instead of searching for a candidate repo, figured I'd just ask you for yours.

[2017-12-08 20:16] cheshire137 commented on #3519
A super-secret repo, @iAmWillShepherd. 😀

[2017-12-08 22:34] bensincws opened #3554 "himher"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-08 22:51] #3554 closed

[2017-12-08 23:36] heshamelmasry77 commented on #3522
Thank you so much man.

[2017-12-09 06:20] xxCoolxx18 opened #3558 "Error after clicking open in command prompt"
Error: spawn where ENOENT
    at exports._errnoException (util.js:1050:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:367:16)
    at _combinedTickCallback (internal/process/next_tick.js:80:11)
    at process._tickCallback (internal/process/next_tick.js:104:9)

Version: 1.0.10
OS: Windows 10.0.16299

[2017-12-09 21:09] Mlocik97-issues opened #3560 "[Feature request] PR from client like as in old Github"
![screenshot_27](https://user-images.githubusercontent.com/31345346/33799507-935bcf70-dd2d-11e7-849f-bc8b6c18b6ce.png)

I really don't like always swapping between client and browser GitHub.

[2017-12-10 06:16] shiftkey commented on #3558
@xxCoolxx18 could you open the Developer Tools (<kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>I</kbd>), switch over to **Console** tab, ensure `Verbose` is selected, and try to trigger the issue again.

<img width="913" src="https://user-images.githubusercontent.com/359239/33802542-89f33dce-ddcd-11e7-838d-e11bf5337213.png">

There's some [additional tracing](https://github.com/desktop/desktop/blob/166

[2017-12-10 06:17] shiftkey commented on #3560
@Mlocik97-issues thanks for the feedback. We're tracking this in https://github.com/desktop/desktop/issues/295 so please follow along with that issue.

[2017-12-10 06:17] #3560 closed

[2017-12-10 07:16] maxbed commented on #3558
10.12.2017. 07.16, "Brendan Forster" <notifications@github.com> је
написао/ла:

[2017-12-10 16:11] Fpini opened #3564 "gift lfs clone"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-10 19:24] j-f1 commented on #3050
ping @desktop/design for 🤔?

[2017-12-10 19:51] GewoonJaap opened #3566 "Invalid string length"
RangeError: Invalid string length
    at Socket.onChildStdout (child_process.js:273:13)
    at emitOne (events.js:96:13)
    at Socket.emit (events.js:191:7)
    at readableAddChunk (_stream_readable.js:178:18)
    at Socket.Readable.push (_stream_readable.js:136:10)
    at Pipe.onread (net.js:560:20)

Version: 1.0.10
OS: Windows 10.0.15063

[2017-12-10 19:52] JackDotGriffiths commented on #2496
I could really do with a detailed solution to this problem

[2017-12-10 21:25] shiftkey commented on #3564
@Fpini thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-10 21:25] #3564 closed

[2017-12-10 21:26] shiftkey commented on #3566
@GewoonJaap Can you tell me about the steps to reproduce this issue?

[2017-12-11 09:52] mitar opened #3568 "Cannot store pull requests for a repository that hasn't been inserted into the database"
### Description

When I am adding a local cloned git repository from GitHub, I get the following error:

Also, the repository gets listed under "Other" section of GitHub Destop.

### Version

I am using a compiled GitHub Desktop on Linux from master branch.

[2017-12-11 10:24] J-e-r-e-m-i-a-h commented on #78
To clear up this thread: it's not already implemented and not planned to, either - other than that, the creators would love to have it?

I'm confused as to why it's not planned then D:

[2017-12-11 13:09] joshaber commented on #3568
That's interesting! Could you provide the exact steps you took to get this? Does it happen every time you add a repository?

[2017-12-11 13:11] mitar commented on #3568
Yes, it happens every time.

I do not see any special steps to do. Literally just "add a local repository", I select it and confirm, and this error shows.

[2017-12-11 13:15] joshaber commented on #78
We're a small team and so we have to make hard decisions about what to prioritize. GPG signing hasn't been prioritized yet.

[2017-12-11 13:20] joshaber commented on #3568
I haven't been able to reproduce this on Mac. May be Linux-specific somehow.

[2017-12-11 13:35] alexxeksex commented on #3433
[Новый текстовый документ.txt](https://github.com/desktop/desktop/files/1547943/default.txt)

[2017-12-11 14:06] j-f1 commented on #78
However, if you know JS/TypeScript and are interested in adding support, feel free to open some PRs!

[2017-12-11 14:55] #3551 closed

[2017-12-11 15:59] DeepMac opened #3572 "Directory in repo gets first letter of name duplicated in index but not filesystem, can't commit anymore"
### Description

Using GitHub Desktop to access an internal repo, after checking out code and moving folders around, a commit and push worked fine. but a later fetch created a bizarre issue where the filename of one of the folders has the first letter of the name duplicated. This applies only to the index of the files in GitHub Desktop, not the actual filesystem folders.

Because of this, further

[2017-12-11 16:31] saul commented on #2640
Any plans to add the sorting? This bites me on a weekly basis - a merge brings in 100s changed files and about 3 conflicts. It's pointless trying to find it in the UI - I'm happy to do the code myself.

[2017-12-11 16:34] j-f1 commented on #2640
Everything that doesn’t have the `needs-design-input` label or an assignee is fair game for a pull request. Feel free to contribute!

[2017-12-11 17:40] donokuda commented on #3189
I'm 👍 with adding a border to the Desktop interface. A couple of candidates for color that would work well for the border:

`$blue-600`:

<img width="983" alt="screen shot 2017-12-11 at 9 31 35 am" src="https://user-images.githubusercontent.com/1174461/33844789-40f81188-de56-11e7-9490-f6464958ad55.png">

`$gray-700`:

<img width="979" alt="screen shot 2017-12-11 at 9 29 13 am" src="https://user-im

[2017-12-11 17:44] j-f1 commented on #3189
I feel like the blue color draws too much attention to the border, since links and buttons are also that color. The gray seems to fit in better with the grayscale theme of the non-interactive elements, and it also stands out on a black background.

Just for the sake of curiosity, what does Visual Studio use for its border?

[2017-12-11 18:00] donokuda commented on #3189
Yeah, we could also consider using a darker blue to not draw as much attention.

The border that's used in Visual Studio depends on the theme that's being used:

**Light** (Looks like gray)

<img width="568" alt="screen shot 2017-12-11 at 9 48 33 am" src="https://user-images.githubusercontent.com/1174461/33845788-6f01e808-de59-11e7-84a8-6628332b6d06.png">

**Blue**  (Looks like a dark gray or blac

[2017-12-11 18:23] wilg commented on #78
@j-f1 Any pointers where to start? It seems like the issue is that it's not picking up the PATH properly or otherwise can't use the same Git settings as command line git?

[2017-12-11 19:20] shramee opened #3573 "Feature request: Text search in commit diff"
### Description

I often make large commits and need to browse through their diffs to find out what I changed in previous commit. For doing this I have to switch to browser coz I need to for example search for a function name. Would be awesome if we can have that available in app itself 😅  😉

### Version

**GitHub Desktop version:** 1.0.10

**OS version:** 10.13.1

### Steps to Reproduce

Would lo

[2017-12-11 21:35] s-schiegl commented on #2812
@shiftkey

Still doesn't work.

Production log now provides the following information:

2017-12-11T21:13:09.848Z - info: [ui] [AppStore] loading 4 repositories from store
2017-12-11T21:13:09.852Z - info: [ui] [AppStore] found account: @s-schiegl (Sebastian Schiegl)
2017-12-11T21:13:10.763Z - info: [ui] launching: 1.0.9 (Windows 10.0.16299)
2017-12-11T21:13:11.461Z - info: [ui] Stats reported.
2017

[2017-12-11 21:46] shiftkey commented on #3572
@DeepMac are you able to reproduce this issue using just [Git for Windows](https://git-for-windows.github.io/)? That's what we're using in Desktop (we're on 2.15.0 currently, which isn't far behind the latest version 2.15.1), and if we can get a reproduction together from the CLI then it becomes much easier to investigate.

What command(s) are you using to poke at the index and see this additional

[2017-12-11 21:59] shiftkey commented on #78
@wilg I'm not aware of any recent issues with `PATH` not being set correctly, which occurred when some people wanted us to integrate with their existing setup.

I have called out above that we don't currently support users entering a passphrase when committing. https://github.com/desktop/desktop/issues/78#issuecomment-318626389 We disable prompts when spawning Git to ensure it finishes, so I'm not

[2017-12-11 22:06] wilg commented on #78
Yea last I checked commit signing worked via the command line but would fail when a commit was made through the app. I'll try to rustle up some details.

[2017-12-11 22:16] mitar commented on #3568
Not sure what is this even try to do? Is it trying to fetch something from GitHub API? Does it even have access to do so?

Oh, this is it. This is happening only for private repos. Now that I think, I do not remember GitHub Desktop ever asking me for any authentication to login or something.

[2017-12-11 22:16] mitar commented on #3568
Is it maybe a problem that I copied `github_rsa` and `github_rsa.pub` from my old computer?

[2017-12-11 22:22] joshaber commented on #78
FWIW, I know our friends on the Atom team have done some work to support GPG signing, so once we're ready to work on this, it'd be worth while to look at what they did: https://github.com/atom/github

[2017-12-11 22:22] shiftkey commented on #3568
I think this is related to how we're handling remotes. Is it configured with a `HTTPS` or `SSH` remote?

The credential provider inside Desktop uses `GIT_ASKPASS` to handle credentials - if you can't push or pull to your private repository and it's `HTTPS` ensure you are signed in. I also think need you to sign in for the API lookups around pull requests.

@iAmWillShepherd any other thoughts on wh

[2017-12-11 22:23] joshaber opened #3574 "Stop using `git lfs clone`"
We should just use normal `git clone`.

From the console output:

[code]

[2017-12-11 22:24] shiftkey commented on #3574
Yep, we're running Git 2.15 now so this is Some Good Advice™

[2017-12-11 22:25] joshaber commented on #2640
...which reminded me I needed to add `needs-design-input` to this 😄

[2017-12-11 22:25] mitar commented on #3568
They are SSH remotes. I do not have `GIT_ASKPASS` (environment variable, I presume) set.

[2017-12-11 22:28] j-f1 commented on #2640
It looks like we already had some design thoughts:

[@niik above](https://github.com/desktop/desktop/issues/2640#issuecomment-333904936):

[2017-12-11 22:29] shiftkey commented on #3568
@mitar `GIT_ASKPASS` is just how Desktop authenticates for HTTPS remotes (this is ignored for SSH remotes).

Are you signed into the app? I think that's the missing piece, but doesn't explain why it's trying to resolve pull requests when you're not signed in (it shouldn't care).

[2017-12-11 22:33] mitar commented on #3568
I see quite some errors in the error log. Some seems unrelated.

[code]

[2017-12-11 22:34] mitar commented on #3568
In "Options" it looks like I am (I see my account and avatar).

[2017-12-11 22:42] joshaber commented on #2640
Fair enough 👍

[2017-12-11 22:46] shiftkey commented on #3568
Ok cool, that explains why it's trying to resolve pull requests. Digging into that log file, I can see some interesting groups of issues:

[code]

If the repositories aren't being inserted correctly into the IndexedDB databases that Electron offers for apps, that would explain these errors. Does the application forget your tracked repositories when you restart it? We should have _some_ tracing her

[2017-12-11 22:51] #1521 closed

[2017-12-11 22:51] #3547 closed

[2017-12-11 22:52] mitar commented on #3568
No. If I restart the app it loads the list of the repositories in the sidebar as it was before.

I have not seen in UI any issues with diffing. So I agree we leave this be for now.

I made a production webpack package and I am using that. I could try running it in some other way if it would be helpful. I am using Linux Ubuntu 17.10.

What about 404 errors?

[2017-12-11 22:55] iAmWillShepherd commented on #3568
@shiftkey, I've had these issues before, but that's only while in the middle of development.

The way I got into this state was to modify one of the databases and reload the app. So one thing I'd recommend is to try deleting all the databases in the app. If after doing that and reloading the app, the issue still persists, we can rule that out as a possible cause.

@mitar , can you give this a shot

[2017-12-11 22:56] shiftkey commented on #3568
As an aside:

That error looks to be with syntax highlighting, so it should be degrading to the plain diff in this case.

[2017-12-11 22:58] iAmWillShepherd commented on #3568
Could you post your webpack config, please?

[2017-12-11 23:07] mitar commented on #3568
Sorry. I got confused here. I had in mind appimage, not webpack. But now I realized this is not what I am really running at the moment (I tried multiple things and it didn't work for me). In fact I made a Debian package and installed that and I am using it. Same as [what I described here](https://github.com/desktop/desktop/issues/3426#issue-276913967).

So there is no special changes to the config

[2017-12-11 23:18] #3013 closed

[2017-12-11 23:24] DirtyF commented on #78
GPG signing works fine with GitHub in Atom, seems like they use [a wrapper for the command line](https://github.com/atom/github/blob/master/bin/gpg-wrapper.sh).

[2017-12-12 00:43] shiftkey commented on #3568
@mitar can you try the workaround that @iAmWillShepherd suggested about removing the databases and then try re-adding the repository? If that works we can then look into the trickier issues.

[2017-12-12 02:03] iAmWillShepherd commented on #3536
This was fixed in #3511.

[2017-12-12 02:03] #3536 closed

[2017-12-12 02:11] nerdneha commented on #3204
Looks like they use a function called `crud` to throw this error, see:
https://github.com/git/git/blob/e629a7d28a405e48fae6b064a781a10e885159fc/ident.c#L191-L203

[2017-12-12 02:16] shiftkey commented on #3204
Nice find @nerdneha. While @niik above suggested that it'd be great if we could get this by invoking Git in some way, the rules themselves haven't changed in at least 9 years:

<img width="783" src="https://user-images.githubusercontent.com/359239/33863940-5852e928-df3e-11e7-87b9-18eb7baabff2.png">

I'd suggest extracting those rules into our app is a fair  compromise.

[2017-12-12 02:25] shiftkey commented on #965
This isn't really a priority any more given #3513 has been merged.

[2017-12-12 02:25] #965 closed

[2017-12-12 03:01] Kamaltejveerapaneni commented on #1638
I am a windows user.Got this when  I tried to open Github desktop.

Git could not be found at the expected path: 'C:\Users\admin\AppData\Local\GitHubDesktop\app-1.0.10\resources\app\git\cmd\git.exe'. This might be a problem with how the application is packaged, so confirm this folder hasn't been removed when packaging.

When I tried to reopen, currently I am getting it like this
![capture](https:/

[2017-12-12 03:04] shiftkey commented on #1638
@Kamaltejveerapaneni please open a fresh issue and fill out the provided template

[2017-12-12 03:58] Kamaltejveerapaneni commented on #1638
Its working fine when I reinstalled it

[2017-12-12 04:46] leechunhoe commented on #2965
Regret the update. I cannot even do branch merging as I want.

[2017-12-12 05:13] nawagers commented on #1203
I came here to offer this same suggestion. The exact implementation details aren't very important. Any of the above solutions is fine. This feature would be particularly useful for young repositories as there are often directories that get created during various compile/build phases. Once they are all added to .gitignore (like on established repos) it's not an issue

[2017-12-12 05:23] nawagers opened #3577 "Add "Ignore and delete" option"
When right clicking the file in the "Changes" panel, there is an option to "Ignore" and one to "Ignore all type". Often, I find that the file has already been committed and pushed before, but it never should have been in the first place. It would be great if I could both delete the file and put it in .gitignore for the future at the same time. Currently I'd have to delete the file, commit/push, th

[2017-12-12 05:45] ryh commented on #2965
The `classic` version for macOS:
https://central.github.com/mac/latest
302 to
https://github-central.s3.amazonaws.com/mac/GitHub%20Desktop%20223.zip

[2017-12-12 06:25] shiftkey commented on #3539
This is a job for `dugite` and the [error parsing](https://github.com/desktop/dugite/blob/master/lib/errors.ts) it performs. @tierninho would you mind moving this issue there?

Once we update `dugite` in the app we'll have to handle that new error code here.

[2017-12-12 06:30] shiftkey commented on #3539
The `git lfs clone` warning will be fixed by #3575

[2017-12-12 08:41] shiftkey commented on #383
I've removed `src/ui/index.tsx` and `src/crash/index.tsx` from this list because they're referenced as entry points in webpack - so they're slightly different to the others.

[2017-12-12 13:18] edwinveldhuizen commented on #1634
I also really want to see back this feature. I've still been using the old native GitHub desktop app because of the graph missing in the "new" app.

We're working with tens of different branches and the original graph gave a really good overview of which commits are in master that are not yet in my local branch.

[2017-12-12 13:55] Dreaddisk commented on #1770
Hi. I have the same problem. But I was reading your Additional Information, I don't know how to do anything of the sort. Could you or anybody please, explain this for dummies?

[2017-12-12 16:11] tierninho commented on #3539
@shiftkey added the bug to: https://github.com/desktop/dugite/issues/155

[2017-12-12 17:06] carrotalan commented on #1634
+1 - I'll have to switch back to SourceTree until this is present

[2017-12-12 17:18] tierninho opened #3579 "Clean up the error message"
When reverting a commit I got an error message that looks to include double "hints" even though it appears to be one sentence.

I believe it should read:

`error: Reverting is not possible because you have unmerged files.`
`hint: Fix them up in the work tree, and then use 'git add/rm <file>',`
`as appropriate, to mark resolution and make a commit.`
`fatal: revert failed`

Current error:
<img width

[2017-12-12 17:25] #2737 closed

[2017-12-12 17:29] #3574 closed

[2017-12-12 17:45] vczh commented on #3324
@j-f1 I download one today and it still repro. When will you release the "next update"?

[2017-12-12 17:48] iAmWillShepherd commented on #3539
Fixed in #3575

[2017-12-12 17:48] #3539 closed

[2017-12-12 17:58] Yohanna opened #3580 "Add support for force push"
### Description

I'd like to request adding a new feature to support force pushing to a repo

### Version

**GitHub Desktop version:** `1.0.10`

**OS version:** `Microsoft Windows [Version 10.0.15063]`

**Expected behavior:** GH Desktop should ask me if it should do a force push or add a dedicated button for *pushing* & *pulling*, the same way SourceTree does.

**Actual behavior:** I get an error:

[2017-12-12 18:02] j-f1 commented on #3324
Can you open a new issue for this and fill out the template @vczh? This sounds like a new bug.

[2017-12-12 18:11] vczh opened #3581 "Github Desktop doesn't support Powershell"
### Description

Github Desktop doesn't support either Powershell or cmd.

### Version

**GitHub Desktop version:** 1.0.10
**OS version:** Microsoft Windows [版本 10.0.16299.64]

### Steps to Reproduce

1. File -> Options -> Advanced -> Shell = PowerSHell
2. Right click on a repo cloned from github and select "Open in PowerShell"

**Expected behavior:** Open PowerShell with all the experience just l

[2017-12-12 18:13] vczh commented on #3324
@j-f1 Opened

[2017-12-12 18:44] joshaber commented on #3580
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I'm going to add the `future-proposal` label to this issue and close it out, so that we don't get overwhelmed with our backlog! We'll revisit these as part of our next planning session.

[2017-12-12 18:44] #3580 closed

[2017-12-12 18:46] joshaber commented on #3581
Hi @vczh!

We no longer install Git for Windows as part of GitHub Desktop. If you would like to install it, visit https://git-for-windows.github.io.

If you just wanna open Powershell, you should be able to click the "Open without Git" button.

[2017-12-12 18:46] #3581 closed

[2017-12-12 18:49] joshaber commented on #3579
It looks like this is coming from git itself:

https://github.com/git/git/blob/7668cbc60578f99a4c048f8f8f38787930b8147b/advice.c#L106-L107

https://github.com/git/git/blob/7668cbc60578f99a4c048f8f8f38787930b8147b/advice.c#L48-L65

So to customize this we'd need to parse this error in dugite.

[2017-12-12 19:35] iAmWillShepherd commented on #3577
As a workaround try running this **after** you've committed your _gitignore_ file:

`git clean -xdf && git commit -am "Remove ignored files" `

Note that this will remove all files not tracked by git in addition to all file types and paths specified in your _gitignore _ file.

[2017-12-12 19:40] tierninho commented on #3579
moved to dugite repo: https://github.com/desktop/dugite/issues/156

[2017-12-12 19:40] #3579 closed

[2017-12-12 19:57] iAmWillShepherd opened #3583 "Opening a PR no longer asks the user if they want to push first"
This is a regression brought to my attention by @Haacked.

The previous behavior for opening a PR in Desktop was to:
1. Check if the PR has been published, if not, ask user if they want to publish
2. Check if the PR is ahead of the branch on remote if so, ask if the user wants to push first
3. Just create the PR already

[2017-12-12 20:59] JordanMussi commented on #2638
Agreed.

No need to worry about the first two either since when you open a menu foldout the open foldout is closed. So you can't have a situation where you have the View menu open when the repositories/branches list foldout is open.

[2017-12-12 21:22] JordanMussi commented on #2456
<kbd>Ctrl</kbd>+<kbd>PgUp</kbd> and <kbd>Ctrl</kbd>+<kbd>PgDn</kbd> for traversing through the list of changed files would be handy as well.

[2017-12-12 21:51] shiftkey commented on #3577
This is very similar to #2537, and I'm going to close this out in favour of that with some extra context. @nawagers please follow along with that issue.

I'd rather the app handle this transparently then adding an additional menu item. We should warn users when tracked files will be affected by updating your `.gitignore`, and ask them to confirm the action.

I took a shot at implementing this in #

[2017-12-12 21:51] #3577 closed

[2017-12-12 21:57] cScarlson commented on #2115
Windows 10
`$ git --version` --> `git version 2.15.1.windows.2`.
Though, I cannot find GitBash using `Win + "git"`. This occurred after updating to the version above. When I clicked on the GitBash shortcut icon on my desktop, it muttered something about "file doesn't exist in the location for this shortcut... would you like to delete this shortcut? Yes|No".

[2017-12-12 22:04] shiftkey commented on #2115
@cScarlson

This feels like it's an installation issue related to [Git for Windows](https://git-for-windows.github.io/) rather than Desktop. If you can reproduce the issue please submit an issue to [their issue tracker](https://github.com/git-for-windows/git).

[2017-12-12 22:05] JordanMussi commented on #78
I have GPG in my path and GitHub launches the GUI just fine but an integrated solution would be good. 🎇

[2017-12-12 22:12] cScarlson commented on #2115
@shiftkey, I just resolved it. I did the magical turn it off and then back on again. Not sure if I can reproduce it now or if I'll have time to for a while, but here's the workaround:

I uninstalled Git-2.15.1-64-bit, reinstalled, and accepted all defaults.

I feel its likely to relate to Git for Windows -- perhaps, even between the version I *was* using and the aforementioned. I'm not very good a

[2017-12-12 22:14] #3524 closed

[2017-12-12 22:15] Mrkvozrout commented on #3208
@shiftkey I also have this problem. Update of git (to 2.15.1.windows.2) and reinstall of GitHub Desktop (to 1.0.10) did not help. Also I do not have LFS.

[2017-12-12 22:26] #383 closed

[2017-12-12 22:27] shiftkey commented on #3208
@Mrkvozrout please open a fresh issue and fill out the required details - if this looks like the same issue and I can reproduce it on my end I'm going to be so happy!

[2017-12-12 22:47] cheshire137 opened #3587 "Repository switcher disabled"
The repository switcher menu option is grayed out and hitting Cmd-T has no effect:

![screen shot 2017-12-12 at 4 46 16 pm](https://user-images.githubusercontent.com/82317/33912570-099ef75e-df5c-11e7-87f9-c7eeaf899eb8.png)

What I did was hit Cmd-O by accident, which opened the 'add a new local repository' modal. I Esc'd out of that but then discovered Cmd-T wasn't working. I have multiple reposit

[2017-12-12 22:55] tierninho commented on #3587
Good find! I can reproduce on 1.0.11-beta0 too.

Steps:
- Cmd-O
- Esc
- Open View menu

On Tue, Dec 12, 2017 at 2:48 PM, Sarah Vessels <notifications@github.com>
wrote:

--
Tiernan Lee
Quality Engineer
GitHub

[2017-12-12 23:31] JordanMussi commented on #3587
I think this was fixed in #3534

[2017-12-12 23:41] joshaber commented on #3587
Yup, this is https://github.com/desktop/desktop/issues/3533 fixed in https://github.com/desktop/desktop/pull/3534. We should have a fix out tomorrow!

[2017-12-12 23:41] #3587 closed

[2017-12-12 23:46] joshaber commented on #3583
Gonna move this to the 1.0.x milestone as we can/should fix this in a patch update.

[2017-12-13 00:19] #2052 closed

[2017-12-13 00:21] #3204 closed

[2017-12-13 01:44] DeepMac commented on #3572
@shiftkey I'll test out the CLI version tomorrow and let you know.

As for seeing the extra letter appear, it actually shows up right in the GUI. But the folder entry itself in NTFS is not, as far as I can observe, modified. There's some other shennanigans going on where if I change the name (say "prod" to "foo"), the change is detected in GitHub Desktop but again the GUI is showing it as "ffoo" o

[2017-12-13 02:15] shiftkey commented on #3583
I wasn't able to reproduce this with these four flows in the app:

 - create branch, click "Create Pull Request" menu item -> "Push Commits" dialog shown
 - create branch, create commit, click "Create Pull Request" menu item -> "Push Commits" dialog shown
 - create branch, push branch (with no commits), click "Create Pull Request" menu item -> browser opens
 - create branch, create commit, push br

[2017-12-13 02:22] shiftkey commented on #3583
Acutally, the theory I have about this is nestled in `_openCreatePullRequestInBrowser`:

https://github.com/desktop/desktop/blob/a6627ddc09edbdbfae7dccab6e750364a3beb69a/app/src/lib/stores/app-store.ts#L3068-L3078

Notice that we return early if the repository lacks GitHub information or if the current tip isn't valid. This is a reasonable thing to do, but something we already did earlier in `_cre

[2017-12-13 10:05] SamkitS commented on #2258
@romanddimov thanks a-lot, this really helped me !

[2017-12-13 15:09] lordtherick commented on #1634
Agreed - the visualisation is a great selling point for change control and the operations team to see who and where changes were introduced.
I would like to offer the business a GitHub ecosystem and this is definitely a tick in the negative column. (even a separate GitHub app would be acceptable for us)

[2017-12-13 15:20] j-f1 commented on #911
I took a look at this recently. How does [this demo](https://spangle-marble.glitch.me/) look? I’ve copied the branch list from desktop/desktop.

[2017-12-13 16:32] greggwon opened #3592 "Where is the "Base Branch selection"?"
I have noticed, after updating github desktop for windows, that the "base branch selection" feature seems to have been removed.  I use this feature a lot, because I branch for changes from a related release which I need to keep in view as my "base" set of changes that I diff against.   I need this facility to be available to me to provide an easy "catch up merge" function in case of bugfixes again

[2017-12-13 16:39] foresmac commented on #2085
Please let me leave a _strong_ +1 on this feature request. I got frustrated with this a lot recently since we're doing like a dozen new projects at the office. Even after manually selecting the ssh ref and pasting that into the clone repository dialog, Github Desktop rewrites them to use the HTTPS URLs.

[2017-12-13 17:08] tierninho commented on #3592
@greggwon Thanks for reaching out. The base branch is accessed on GitHub.com by selecting the `Compare on GitHub` menu item in the Branch menu:

<img width="284" alt="screen shot 2017-12-13 at 9 06 11 am" src="https://user-images.githubusercontent.com/14828183/33951898-14bf841c-dfe5-11e7-86ab-03e4f3abd7e4.png">
<img width="1117" alt="screen shot 2017-12-13 at 9 06 24 am" src="https://user-images.g

[2017-12-13 17:25] iAmWillShepherd commented on #911
@j-f1, that looks good!

[2017-12-13 17:48] iAmWillShepherd commented on #911
@j-f1 nvm, turns out the order does not matter. Are you willing to bring your work into our `filter-list` component?

[2017-12-13 17:49] greggwon commented on #3592
This selection is grayed out for me.

[2017-12-13 17:50] #2638 closed

[2017-12-13 17:51] j-f1 commented on #911
Sure, this afternoon-ish (~4-5+ hours).

[2017-12-13 17:53] j-f1 commented on #3592
Is your repository a GitHub repository?

[2017-12-13 18:06] mjklopfer opened #3593 "exports._errnoException Error at Commit"
I experience a crash and receive the following message at program restart when trying to commit.  Restarted PC.
Error: write EOF
    at exports._errnoException (util.js:1050:11)
    at WriteWrap.afterWrite (net.js:813:14)

Version: 1.0.10
OS: Windows 10.0.15063

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

###

[2017-12-13 18:13] gilzan opened #3594 "Unable to open GitHub Desktop"
### Description

[When I open GitHub Desktop, the icon appears in taskbar, but when I click on it, the window doesn't appear. If I go in multitasking mode I can see a preview of the application, but cliking on it still doesn't work ]

### Version

**GitHub Desktop version:** [1.0.10]

**OS version:** [Microsoft Windows [Versione 10.0.16299.64]]

### Steps to Reproduce

1. [First step]
1. [Second s

[2017-12-13 18:15] iAmWillShepherd commented on #3593
Thanks for reaching out!

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2017-12-13 18:15] #3593 closed

[2017-12-13 18:16] iAmWillShepherd commented on #3594
Are you on a multi-monitor setup?

[2017-12-13 18:18] gilzan commented on #3594
Yes I'm in multi-monitor. I also trying to dsconnect the other monitors, restart the laptop and re-open the app, but still doesn't work

[2017-12-13 18:23] strafe commented on #3594
@gilzan [try this](https://github.com/desktop/desktop/issues/2107#issuecomment-333326358) to make the window appear.

[2017-12-13 18:24] iAmWillShepherd commented on #3594
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/desktop/desktop/issues/2107. Please follow that issue
for further updates.

[2017-12-13 18:24] #3594 closed

[2017-12-13 18:30] #910 closed

[2017-12-13 18:33] mjklopfer commented on #3593
My apologies.  I shortened the path length and the commit worked.  Just wanted to post this if it was a known bug to crash without warning given.

[2017-12-13 18:35] iAmWillShepherd commented on #3583
@shiftkey , I was able to reproduce this by doing the following:
1. Create a branch
1. Commit some stuff to the branch
1. Create PR using top bar menu
1. The browser opens to the create PR page

What is expected here is that the Publish Branch dialog is opened.

[2017-12-13 18:38] iAmWillShepherd commented on #3593
Oh yes, Windows has a max path length limit. Check [this](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#maxpath) out for more info.

[2017-12-13 19:12] greggwon commented on #3592
Some are, some are not.  I just need the functionality that was there before.  I could specify a base branch name, and then either merge from it, or look at the two branch depictions to understand what commits were different between them.  That worked really well.

Gregg

[2017-12-13 19:21] tierninho commented on #3592
Thanks for the update Greg.

Is this happening on any branches that are already published to GitHub.com?

[2017-12-13 19:26] tierninho commented on #3583
I cannot reproduce this on 1.0.11-beta0. Expected behavior intact.

[2017-12-13 19:46] iAmWillShepherd commented on #3583
@tierninho that's odd, I was able to reproduce this. In any case, there was a bug in our code that #3584 addressed.

@Haacked, are you still having this issue?

[2017-12-13 20:03] chrisbrownie opened #3596 "Arrow keys behaviour unexpected in Clone a Repository dialog"
### Description

When cloning a repository, after clicking a repository and using the up/down arrow keys to navigate, the "Local path" text box does not update and continues to show the `C:\....\path` for the originally clicked on repo. Pressing **Clone**, clones the originally clicked repo to the expected path.

### Version

**GitHub Desktop version:** 1.0.10

**OS version:** Microsoft Windows [V

[2017-12-13 20:13] tierninho opened #3597 "Cannot use `esc` on an empty Pull Request"
If there are no Pull Requests (on a published branch), and you try to close the list with `esc` key, the Pull Request tab is highlighted and the list is not closed as expected.

<img width="348" alt="screen shot 2017-12-13 at 12 08 47 pm" src="https://user-images.githubusercontent.com/14828183/33960236-ef833aa8-dffe-11e7-98c7-81d665fdafaf.png">

1.0.11-beta0, mac

[2017-12-13 20:22] greggwon commented on #3592
I can't check any other repositories except the one GitHub enterprise repo that I have configured in GitHub desktop.  I recently replaced my laptop (this is why I have the new version of desktop installed, and I did copy the repo trees across to the new disk) and can't find the option to add existing repositories into view, in GitHub desktop.  I was able to add the one enterprise desktop, but don'

[2017-12-13 20:31] j-f1 commented on #3592
@greggwon You can drag-and-drop your repository directories onto the GitHub Desktop window to add them all at once.

[2017-12-13 21:20] shiftkey commented on #3583
@iAmWillShepherd

Are we talking about the "Publish Repository" dialog? Or the "Push Commits" dialog?

[2017-12-13 22:23] vczh commented on #3581
@joshaber  So what's the point if you let people open PowerShell in that repo folder but cannot use git?

[2017-12-13 22:55] dbchristopher opened #3599 "Required formatting for branch name not allowed"
### Description

The GitHub desktop app currently helps automatically formats the branch name with some variation of kebab-case. However, this is proving a little bit too strict for my company's workflow. We have some automatic actions that run when a name branch is suffixed with `--preview`. The desktop app automatically replaces multiple dashes with a single dash, so something like `branch-name-

[2017-12-13 23:20] joshaber commented on #3581
Many developers use other command line tools in their development process. This gives them a quick way to open a shell in the context in which they are working.

[2017-12-13 23:45] joshaber commented on #3599
Interesting! I'm not sure why we'd restrict multiple dashes. That _sounds_ like a bug. Thanks for bringing it to our attention @dbchristopher!

[2017-12-13 23:48] joshaber commented on #3465
Thank you for your issue!

We haven't gotten a response to our questions above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2017-12-13 23:48] #3465 closed

[2017-12-13 23:51] iAmWillShepherd commented on #3583
So I'm am no longer able to reproduce this issue, so I'm going to close. Feel free to reopen @Haacked if you continue to experience it. A gif would be nice too 👍

[2017-12-13 23:51] #3583 closed

[2017-12-13 23:59] gary-menzel commented on #1634
I've only just upgraded to the latest version and agree with other comments here.  I had some issues just before upgrading and the mini-graph helped identify that there was a problem. It was then suggested I upgrade and now that problem would be much harder to identify (although, there may be new features that help in this latest version that I am not aware of).

[2017-12-14 01:09] gethub0100 commented on #340
please goto link below  for git-shell
https://git-scm.com/download/win

[2017-12-14 02:22] shiftkey commented on #1634
@gary-menzel what sort of problems were you encountering that the graph helped you out?

[2017-12-14 03:32] shiftkey commented on #1525
First off, thanks for everyone who has commented here and gotten involved with getting Desktop working on Linux! I wanted to take this moment to revisit this thread and then sketch out a way forward so we can make our Linux support better!

## Feedback Themes

Looking over the current feedback here, it falls into a few distinct themes. I'll summarize them here and address them from the perspective

[2017-12-14 03:38] shiftkey commented on #3568
I'm going to recommend downloading the release candidate I link to in https://github.com/desktop/desktop/issues/1525#issuecomment-351598630 and validating the issue is reproducible there. If it is, please resubmit this (with repro steps and details) to my fork.

[2017-12-14 03:38] #3568 closed

[2017-12-14 04:54] dahlbyk commented on #340
FYI, discussion about installing posh-git with Git for Windows: https://github.com/git-for-windows/git/issues/1384

[2017-12-14 05:20] gary-menzel commented on #1634
There were some synchronisation issues between forks and despite having tried a few mechanisms to resolve it, the old version showed another colleague (based on the graph nodes that didn't look right) what needed to happen to resolve it.

[2017-12-14 06:31] Mrkvozrout opened #3604 "Unable to push, because "find: explorer.exe: no such file or directory""
I experience the same behavior as in #3208

The app worked well for a while, but suddenly when pushing, windows explorer is being opened and the action is never completed.

Status tells `find: 'explorer.exe': No such file or directory`.

App version: 1.0.9
OS: Windows 10 64 bit
Git version: 2.10 (something) windows
Repository: https://github.com/Mrkvozrout/ts100

Did not help:

- update to latest

[2017-12-14 14:04] iBobik opened #3606 "Support multiple windows"
### Description

Previost native version had option to open new window what was handy for working on multiple repositories at once. Electron version does not support it, so I have to switch between project in one window what is in some use-cases very uncomfortable.

Work around is to keep old native version and run it if I need to work on multiple repos simultaneously.

### Version

**GitHub Deskt

[2017-12-14 14:08] SirFaenor commented on #1525
Works for me on Opensuse Leap 42.3 with this little hack:
`ln -s /usr/lib64/libcurl.so.4 /usr/lib64/libcurl-gnutls.so.4`
otherwise is reporting an error about failing to load shared libraries.
Thanks!!

[2017-12-14 16:54] JordanMussi commented on #1595
I've given this a little bit of thought

This is how the legacy client tackled it:
![image](https://user-images.githubusercontent.com/2552068/34003175-85ab5cf2-e0ec-11e7-9b14-4c09badb6270.png)

Since the new app uses dialogs to show the different Add/Create/Clone interactions the plus button with a drop down only makes sense if the dropdown are links for the dialogs. Another way would be individua

[2017-12-14 17:05] tierninho opened #3607 "Keyboard actions become stuck in Pull Request"
When using `up` and `down` arrows in Pull Request list, they become stuck on whatever pull request is active and user is unable to key moving up/down the list.

Repro:
- Click into filter in PR list
- Press up/down arrow key
- Current PR highlighted will turn blue (as expected)
- try to continue moving up/down with arrow keys, user is stuck

related to #3499

1.0.12-beta0, mac

[2017-12-14 17:27] tierninho opened #3608 "Add Pull Request badge number in nav bar if no CI status"
If CI is turned on, then any previous Pull Requests without CI status are missing the badge number in the top nav bar when the user selects the branch or pull request.

<img width="482" alt="screen shot 2017-12-14 at 9 24 03 am" src="https://user-images.githubusercontent.com/14828183/34005738-c3865612-e0b0-11e7-9954-a2435c5f62c7.png">

I have Travis CI running .... for testing purposes.

1.0.12-be

[2017-12-14 19:28] joshaber opened #3609 "Pull requests get wiped when switching to a repository?"
1. Switch to repository A.
1. Open the pull requests list.
1. Note that PRs are loading.
1. Wait for them to finish loading.
1. Switch to a different repository.
1. Switch back to repository A.
1. Open the pull requests list.
1. Note that PRs are loading again.

We _should_ have them cached already from opening the repository the first time. So we shouldn't need to load them again.

[2017-12-14 19:49] iAmWillShepherd commented on #3608
After going through our code, I'm not sure we ever presented a badge when on a branch with no status checks.

https://github.com/desktop/desktop/blob/23c470e8ec00da82bdc0e0653b8cbf72046ef00a/app/src/ui/branches/pull-request-badge.tsx#L18-L32

This issue should therefore be labelled an enhancement.

[2017-12-14 19:55] DeepMac commented on #3572
More info. Internally using BitBucket, which is the working repo.
Installed Git for Windows CLI. Trying to commit existing local clone still gave an error, had to issue an explicit "git rm prod" and then do a commit. Appeared to succeed:

![git2](https://user-images.githubusercontent.com/4560942/34009048-5f58a224-e0d5-11e7-9191-7051f1622341.png)

However, can't push any local changes, too diverged

[2017-12-14 22:11] popwebz commented on #2639
The subway-map style timeline display is the best way. No need to reinvent the wheel there. There is no sense trying to implement it somewhere else under a menu or tab to save screen real estate. Please add that functionality back. It makes a lot of sense from a UX perspective.

[2017-12-14 22:27] TonyBenedetti commented on #1214
I know that I'm late to this party, but (and isn't there always a BUT?) ... but 3% of 24 million developers is still 720,000 of us poor souls who for various (valid & invalid) reasons are stuck with using 32 bit operating systems.  That's nearly the population of  the 18th largest city in the US (Charlotte, NC; 731,424) ... sigh

[2017-12-14 23:00] shiftkey commented on #1525
@SirFaenor is this related to Git operations? I think this is https://github.com/desktop/dugite-native/issues/42 which is an ongoing discussion about how to statically compile Git.

[2017-12-14 23:01] iAmWillShepherd commented on #3395
These are the notes for solving this problem from our mini-planning session.

### Cleanup
1. Initiated when PRs are refreshed
1. Iterate over remotes
1. Delete any remote, using are special magic prefix, not referenced by an open PR

### Clicking a PR
1. Add a remote with a magic-prefix if needed
1. Fetch (this will prune unreferenced refs for us)
1. Checkout ref as `pr/[PR Number]`

[2017-12-14 23:37] shiftkey commented on #3606
This is partially true. Electron supports running the application as [a single instance](https://electronjs.org/docs/api/app#appmakesingleinstancecallback), which we've enabled for Desktop [here](https://github.com/desktop/desktop/blob/master/app/src/main-process/main.ts#L91-L112).

This change was added way back in https://github.com/desktop/desktop/pull/35, and we haven't had much feedback about

[2017-12-14 23:38] shiftkey commented on #3606
Ah, I think this might be part of the issue. With multiple windows it's not clear where to route the OAuth callback received from the OS (on Windows at least, I'm not sure about macOS).

[2017-12-14 23:47] iAmWillShepherd commented on #3395
Something to consider is if a user adds a remote under our *namespace* then the URL may not be what we expect, what do we do?

Also Windows has a path length limit, our remote names could cause problems.

[2017-12-15 04:26] 111333 opened #3612 "1111111"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-15 04:33] 111333 commented on #3612
12232133

[2017-12-15 04:40] #3612 closed

[2017-12-15 05:44] Naginata7168 commented on #3612
Why did shiftkey close this issue? I spent the last hour answering these questions and you just lost ALL of my work!

[2017-12-15 08:37] SirFaenor commented on #1525
@shiftkey I am not a os guru but I suppose it is. I can easily reproducing the error removing the symlink:
`/tmp/.mount_GitHubVyFZN6/app/resources/app/git/libexec/git-core/git-remote-https: error while loading shared libraries: libcurl-gnutls.so.4: cannot open shared object file: No such file or directory`
so it seems related to git-remote-https.
Sorry I didn't notice the issue you referenced.

[2017-12-15 10:16] jennevdmeer opened #3613 "error 500 when attempting to download github desktop"
download button on https://desktop.github.com/ returns a 500 response (same for mac and msi links).

[2017-12-15 10:32] schlamar commented on #3326
I played a little bit with git sslBackend settings and directly with curl 7.57.0 including SChannel support.

If you have a corporate proxy intercepting your traffic with a custom cert (MITM proxy) or you are intercepting your own traffic with a local proxy like Fiddler, all SSL revocation checks will fail (https://github.com/curl/curl/issues/264#issuecomment-103668686). This results in the error:

[2017-12-15 10:53] Bitwix commented on #2348
It's happening again.

Steps to Reproduce
Go to https://desktop.github.com/ and try to download the application.
Expected behavior: It should download!
Actual behavior: 500 error at https://central.github.com/deployments/desktop/desktop/latest/darwin

[2017-12-15 11:00] iBobik commented on #3606
On macOS you will probably save somewhere what instance requested Oauth and then pass callback to instance what was last.

But if you mean login to GitHub, as I understand it, the result will be auth token saved globally and persistently for all instances, so it doesn't matter what instance will process it.

Jan Pobořil
https://honza.poboril.cz/

15. 12. 2017 v 0:38, Brendan Forster <notifications

[2017-12-15 11:21] jennevdmeer commented on #3613
works again

[2017-12-15 11:21] #3613 closed

[2017-12-15 11:21] antn commented on #3613
Sorry about that! Everything should be back to normal now. Please let us know if you’re still running into any errors.

[2017-12-15 11:57] stefanbauer opened #3614 "Application does not respect custom gitconfig and gitignore files"
### Description

The desktop client does not respect a custom gitconfig and/or gitignore. With that in mind, this application is not usable, because you see permanently files that are ignored globally.

The application should therefore respect different locations for gitignore and gitconfig. Globalwide, systemwide and repositorywide.

If there is already a gitconfig/gitignore in that paths, the ap

[2017-12-15 14:56] Naginata7168 commented on #1525
Me too. Is it possible that you know of the right person, desktop, or group that can help retrieve my outline ? The one that was in comments when you decided to close it prematurely? I would appreciate any help at all in this matter.

[2017-12-15 14:59] Naginata7168 commented on #1525
My question and comment is directed to @shiftkey please.
Thank You

[2017-12-15 16:56] sdwebguy opened #3615 "Unable to Delete local branches because of new "open pull request" dialog."
### Description

Unable to delete a local branch because a dialog box saying I have an open pull request for that branch. There is no open pull request.

### Version

**GitHub Desktop version:** 1.0.11
**OS version:** Windows 10

### Steps to Reproduce

1. Create a local branch. Make code changes. Push branch to origin.
2. In github, open a PR for the branch. A few minutes later, merge the PR into

[2017-12-15 17:03] tierninho commented on #3615
@sdwebguy I can reproduce this, but I was successful in deleting the branch in Desktop after waiting a minute or two for Desktop to catch up.

Are you still unable to delete the branch in Desktop?

[2017-12-15 17:11] sdwebguy commented on #3615
@tierninho This is new behavior. I usually don't have the time to wait for Desktop to do its fetch whenever it will do it. After merging the PR and handling the paperwork in our processes, I need to move to the next branch, and now I have to double switch branches just to keep going.

Perhaps it is a symptom of not having a way to manually trigger the fetch/prune, etc. What makes it worse is what

[2017-12-15 17:13] joshaber commented on #3614
Hmm, that sounds like a bug. Does git on the command line behave the same way?

I have a `core.excludesfile` configured and it does seem to be respected.

That is true. If you configure the git user and email from the app we will save it to the global git config.

[2017-12-15 17:41] sdwebguy commented on #3615
@tierninho

I just did it again, and it has been 9 minutes and I still cant delete locally until I switch. My Desktop looks like this:

![image](https://user-images.githubusercontent.com/945871/34053529-009492f0-e17c-11e7-9144-b4d39aa9ceba.png)

No changes to make, no branch in origin (it was deleted), only option is to Publish Branch.

[2017-12-15 18:01] joshaber commented on #3615
Yeah this does seem problematic. Thanks for bringing it to our attention @sdwebguy!

Maybe the dialog should be advisory, instead of totally blocking the user. @desktop/core what say you?

[2017-12-15 18:04] j-f1 commented on #3615
How about double-checking if the PR is open before showing the dialog box?

[2017-12-15 18:05] chdanielmueller commented on #78
Maybe this link helps some of you: https://aaronparecki.com/2016/07/29/10/git-tower
The post is about Tower but works with GitHub Desktop as well.

90% matches what @bopoh13 already commented: https://github.com/desktop/desktop/issues/78#issuecomment-323101774
The missing piece for me was `git config --global commit.gpgsign true`

So on Mac OS X you could do:
[code]

On Windows it would probably b

[2017-12-15 18:14] joshaber commented on #3615
We could, but I get nervous about introducing a network call into what _should_ be a local operation.

[2017-12-15 18:20] joshaber commented on #2998
The clone modal was fixed in https://github.com/desktop/desktop/pull/3598.

[2017-12-15 18:47] nerdneha commented on #3301
Hi @lukeify, thanks again for this data point. We've noted it as a suboptimal user interaction, but this is beyond the scope of our current roadmap. For now, the workaround is to re-locate the repo with the `Locate...` button and we'll keep a watch on this.

I am closing it so that we won't get overwhelmed with our backlog but encourage you to keep engaged with us on future issues!

[2017-12-15 18:47] #3301 closed

[2017-12-15 18:56] iAmWillShepherd commented on #3301
@j-f1, we did not add the `future-proposal` label since this is an issue that we won't revisit in the future: there is an already a solution to the problem retry button is supposed to solve.

[2017-12-15 19:10] sdwebguy commented on #3615
@joshaber I guess I dont see why I shouldn't be able to delete a local branch even if there is an open PR for it.

[2017-12-15 20:00] joshaber commented on #3615
Yeah, we should let you always delete the local branch.

I think the goal was to prevent deleting the remote branch, similar to how GitHub.com behaves:

<img width="380" alt="screen shot 2017-12-15 at 11 57 33 am" src="https://user-images.githubusercontent.com/13760/34058261-3740e656-e18f-11e7-8355-34d950749479.png">

[2017-12-15 20:04] adambirds commented on #3221
My Idea would be rather than having the "Open in Atom" or "Open in VSCode" item under the repository drop down, would be to have open in editor which then expands to the right with several editors available, if you get what I mean @shiftkey

[2017-12-15 20:13] Mrkvozrout commented on #3604
@shiftkey I noticed for a few miliseconds there is another error displayed. The button status sequence is following:

- `Publish this branch to GitHub` - before clicking
![obrazek](https://user-images.githubusercontent.com/6730275/34058521-9b8f39c2-e1db-11e7-9f73-a07831c4b10c.png)
- `Hang on...` - after clicking, lasts few seconds
![obrazek](https://user-images.githubusercontent.com/6730275/340585

[2017-12-15 20:14] joshaber commented on #3615
And the interesting thing is that based on your screenshot we already know it's a local branch, which is why we're showing "Publish Branch" instead of fetch. So I think that's the easy fix here.

[2017-12-15 20:27] justinjdickow opened #3616 "GitHub Desktop for Mac keeps asking me for root access to install "helper""
Can someone explain to me what the "Helper" is and whether I should be giving it access?

[2017-12-15 20:34] joshaber commented on #3615
@iAmWillShepherd, @nerdneha and I talked through this. We're thinking in the case where a branch has an open pull request, we'll display a different dialog than our current `Delete Branch` dialog. It'll say that there's an open PR, provide a link to it, and allow the user to delete the local branch.

We don't want to let the user delete the remote branch out from under an open PR.

[2017-12-15 20:48] OnclickSell commented on #2121
I think it is because the user is not identified by the GitHub client. run these commands inside your current repository if worked:  git config --global user.email "you@example.com"
git config --global user.name "Username"

[2017-12-15 20:50] Mrkvozrout commented on #3604
@shiftkey I noticed for a few miliseconds there is another error displayed. The button status sequence is following:

- `Publish this branch to GitHub` - before clicking
![obrazek](https://user-images.githubusercontent.com/6730275/34058521-9b8f39c2-e1db-11e7-9f73-a07831c4b10c.png)
- `Hang on...` - after clicking, lasts few seconds
![obrazek](https://user-images.githubusercontent.com/6730275/340585

[2017-12-15 21:00] Mrkvozrout commented on #3604
Also after each of this unsuccessful push, there is one `Sound Mixing Utility` and one of `Git for Windows` or `GitHubDesktop.exe` processes left hanging:

![obrazek](https://user-images.githubusercontent.com/6730275/34060102-8f47b3ea-e1e2-11e7-9783-b1b20915d5a7.png)

![obrazek](https://user-images.githubusercontent.com/6730275/34060139-a91936c2-e1e2-11e7-9556-40301c4478d7.png)

[2017-12-15 21:09] SeanMcMillan opened #3617 "fatal: cannot use ~/.gitignore_global as an exclude file"
### Description

After a recent update, when I look at my repository, I get a popup that says `fatal: cannot use ~/.gitignore_global as an exclude file` (except with the full path). Sometimes it pops up twice. After I dismiss it, The application does not show pending changes in the "changes" view.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** Microsoft Windows [Version 6.1.7601

[2017-12-15 21:09] SeanMcMillan commented on #3617
[2017-12-15.desktop.production.log](https://github.com/desktop/desktop/files/1564006/2017-12-15.desktop.production.log)

[2017-12-15 22:35] joshaber commented on #3616
Hi @justinjdickow! When does it ask you? Could you drop a screenshot in here?

[2017-12-15 22:43] Naginata7168 commented on #3615
May I ask if his screen shot contained my dialog? I would appreciate a copy of it if possible. I really would like it if you could retrieve my full comment. I appreciate any assistance in this matter.
Thanks so Much, TW

[2017-12-15 23:05] sdwebguy commented on #3615
I dont understand any of what you just said.

[2017-12-16 00:00] joshaber opened #3618 "Remote name isn"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-16 00:10] joshaber commented on #3618
This actually has a body now 🙈

[2017-12-16 00:58] justinjdickow commented on #3616
I'll take a screen shot next time it happens

[2017-12-16 01:22] shiftkey commented on #3604
@Mrkvozrout okay, now I'm really puzzled.

Can you click on `Sound Mixing Utility` and select "Open file location" - I want to know where this program is coming from, as I can't seem to find it on my relatively-boring Windows 10 install:

[code]

[2017-12-16 02:57] joshaber commented on #3617
Huh, that's odd. Could you paste your gitignore in here so we can try to reproduce it?

[2017-12-16 03:03] shiftkey commented on #3617
Seems to be [a known error case](https://github.com/git/git/blob/master/dir.c#L874-L875) with Git:

[code]

Are you able to open the repository in a shell and see the same error when you `git status`? We should be able to enable some tracing and see if we can understand _why_ it's erroring...

[2017-12-16 06:40] ashtefan opened #3619 "Github desktop issue"
Hello,
From several updates I get this error that I can't solve. The only solution is to delete the cloned repo and to clone again, which is too annoying.
Can you help me with this?
Thanks.

error: Unable to create 'C:/Users/xxxxxx/Documents/GitHub/Xiaomi.eu-MIUIv9-XML-Compare/.git/index.lock': File exists.

Another git process seems to be running in this repository, e.g.
an editor opened by 'git

[2017-12-16 06:41] ashtefan commented on #3619
Here is the log:

2017-12-16T05:17:04.366Z - info: [ui] [AppStore] loading 5 repositories from store
2017-12-16T05:17:04.382Z - info: [ui] [AppStore] found account: ashtefan (null)
2017-12-16T05:17:09.747Z - info: [ui] Executing getRecentBranches: git log -g --no-abbrev-commit --pretty=oneline HEAD -n 2500 -- (took 5.210s)
2017-12-16T05:17:09.747Z - info: [ui] Executing getBranches: git for-each-r

[2017-12-16 07:32] AwgRahman commented on #3619
2017-12-16 14:42 GMT+08:00, ashtefan <notifications@github.com>:

[2017-12-16 08:22] stefanbauer commented on #3614
Thanks for your reply @joshaber - here we go!

I think here is the problem:

- the `core.excludesfile` is configured in my `/usr/local/etc/gitconfig`
- this `/usr/local/etc/gitconfig` is not respected by the application, even it is a default path, where git checks if a gitconfig is available (git itself checks first this path (systemwide), then the gitconfig in home directory (global) and at least

[2017-12-16 10:29] LeahPike commented on #1634
I would love to have this comparison graph back, I feel a bit lost in the new one without it giving me an overview.

![image](https://user-images.githubusercontent.com/6124100/34069537-e5bd9546-e24b-11e7-8416-9f49ecd68cfd.png)

[2017-12-16 12:06] FYR666 opened #3620 "idea"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-16 12:07] FYR666 commented on #3620
#include<iostream>
using namespace std;

int main()
{
	cout << "May all the ideas come true" << endl;

	int a;
	cin >> a;
}

[2017-12-16 12:32] j-f1 commented on #3620
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-12-16 13:34] justinjdickow commented on #3616
Here we go
<img width="446" alt="screen shot 2017-12-16 at 8 33 03 am" src="https://user-images.githubusercontent.com/3627664/34070927-e6451936-e23b-11e7-9252-19ac4c1d2fce.png">

[2017-12-16 14:38] kasyanov-ms commented on #3543
Also "Zoom" on non-Retina displays makes some elements blurred
![blur](https://user-images.githubusercontent.com/21953011/34071461-b859e3b6-e287-11e7-9066-40400975c01a.png)

[2017-12-16 14:41] kasyanov-ms commented on #3543
Also "Zoom" function on non-Retina displays makes some elements blurred
![blur](https://user-images.githubusercontent.com/21953011/34071490-02c9153e-e288-11e7-9e7a-af44cecdb37c.png)
I believe that the monospace font should match the GitHub.com diffs

[2017-12-16 15:04] Mrkvozrout commented on #3604
@shiftkey `C:\Users\<User>\AppData\Roaming\Microsoft\SoundMixer\SoundMixer.exe`

[2017-12-16 16:04] Mrkvozrout commented on #3604
@shiftkey So I investigated furthed this SoundMixer executable and it seems to be a mining malware.

I took the steps from [here](https://social.technet.microsoft.com/Forums/windows/en-US/9fb738ab-2f3d-4a07-ac8a-173d63a47f87/cmd-not-working-due-to-an-error-the-error-occurs-on-practically-everything?forum=win10itprogeneral) to remove it and the pushing works again - so no problem with the app in th

[2017-12-16 16:04] #3604 closed

[2017-12-16 16:09] whatllb commented on #3189
BTW, I'm pretty sure I've got the default theme (dark) set for Visual Studio.

[2017-12-16 20:55] TYHUBERT opened #3621 "mazda connect android"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-16 22:13] #3621 closed

[2017-12-16 22:13] #3620 closed

[2017-12-16 23:30] shiftkey commented on #3604
@Mrkvozrout thanks for the extra investigation! I'm glad you were able to work around it!

[2017-12-16 23:32] shiftkey commented on #3208
For others who stumble onto this issue, check that some malware hasn't been installed to hijack `cmd.exe` - which Git launches as part of invoking `GIT_ASKPASS`. See https://github.com/desktop/desktop/issues/3604#issuecomment-352192406 for some more context (and a link out to cleaning this up).

[2017-12-17 02:05] timofonic commented on #3618
@joshaber What do you mean? What body? Sorry, I don't understand it. Is it a joke?

Are there any ETA about the newer Git release?

[2017-12-17 02:20] timofonic commented on #2463
@bjcull @joshaber Yes, I think it's should be on the left too. Any changes in the code? Why is this and the PR still open and not merged? :P

--- It seems the usual convention in Japanese and Chinese is different-----
Anyone knows Chinese/Japanese or is Chinese/Japanese in the team? I used some Chinese software (QQ) despite having no idea of the language. It seems Chinese software "ok/cancel/whate

[2017-12-17 02:33] timofonic commented on #3519
@cheshire137 Uhm, at first I tought a project had fans (as in fanatics) and those pushed lots of commits to it. I got curious and looked at this.

@iAmWillShepherd Any news about this? Can the issue affect other platforms? Has the issue been located?

[2017-12-17 02:46] timofonic commented on #1700
@joshaber Despite of this, I think someone should look deeply at ZenHub and implement many of their features on this app at least. Who cares where's comes the inspiration from? ;)

[2017-12-17 03:07] shiftkey commented on #3614
@stefanbauer system Git configuration values are handled differently to global configuration values. These are intended to tied to a given Git installation, and not shared between builds of Git on your machine. The version of Git we ship in Desktop is intended to be portable (built from source [here](https://github.com/desktop/dugite-native/blob/master/script/build-macos.sh#L29-L35)), so it contai

[2017-12-17 05:16] shiftkey commented on #3619
@ashtefan that message suggests concurrent Git operations are detected - the lock file is a way to ensure this doesn't put your repository in an invalid state. Are you running any other programs at the same time as Desktop that might be doing background work?

[2017-12-17 06:05] ashtefan commented on #3619
Hello, the only app I use together with Github is BCompare to identify the changes in repo and edit strings.

[2017-12-17 06:18] simoniz0r commented on #3221
I would also like to see this.  IMO, the user should be able to choose any editor and/or terminal.  GitHubDesktop could provide something like `%s` for the filename that would be opened so that the user could add the necessary arguments to their editor to have the file be opened.

Having a custom input box where I could enter something like `/usr/bin/code -r %s` would be great!

[2017-12-17 06:28] simoniz0r commented on #2487
IMO, the user should be able to choose any editor and/or terminal.  GitHubDesktop could provide something like `%s` for the filename/directory that would be opened so that the user could add the necessary arguments to their editor to have the file/directory be opened.

Having a custom input box for the editor and terminal where I could enter something like `/usr/bin/code -r %s` would be great!

[2017-12-17 06:53] shiftkey commented on #3619
The other thing that might have happened (the logs don't mention this) is that maybe a Git operation crashed, which would not clean up the `index.lock` file.

As a workaround, you could just remove the `C:/Users/astefan/Documents/GitHub/Xiaomi.eu-MIUIv9-XML-Compare/.git/index.lock` to "handle" the issue, and see if the problem stays away.

[2017-12-17 07:08] ashtefan commented on #3619
OK, will try and if the problem persists, I will contact you.
Thanks.

[2017-12-17 07:16] shiftkey commented on #3619
@ashtefan we can reopen this issue if you see the problem persist

[2017-12-17 07:16] #3619 closed

[2017-12-17 13:13] egoroof commented on #3615
Have the same problem. I want to delete local branch even it has open PR. Why not just show same dialog as always but checkbox about remote removing would be disabled an it'll have title description why.

[2017-12-17 17:58] stefanbauer commented on #3614
Why is not the native git version used, installed on the system and respect this configuration?

[2017-12-17 18:58] j-f1 commented on #3614
@stefanbauer We can’t guarantee that users have git installed and that it’s a new enough version to support all the features we use.

[2017-12-17 19:00] stefanbauer commented on #3614
Gotcha! Idea: What is if there would be an option in the preferences, where the user can define a path to the git installation he would like to use or if he just would like to use the internal git (default)?

[2017-12-17 19:21] j-f1 commented on #3614
That’s a good idea, but I feel like it might lead to issues with people trying to load an older version (since we could update the git version in Desktop at any time without notice) and reporting bugs that are due to their usage of an old git version. It would probably just be simpler to fix any issues you’re having with the embedded git internally. In your case, would it be possible to move the s

[2017-12-17 19:24] stefanbauer commented on #3614
In general i don't have issues. May be my configuration is little bit "special". This comes because we have kind of provision for our developers where we store a "predefined" git configuration in the systemwide configuration, where the user should not change it. And the user defined configuration is empty, so that every user *can* override system wide settings if necessary. Imho is that the idea b

[2017-12-17 21:43] j-f1 opened #3622 "Autodetect moved repositories on macOS with “Bookmarks”"
macOS supports [Bookmarks](https://developer.apple.com/documentation/foundation/nsurl/1408344-bookmarkdatawithcontentsofurl?language=objc), blobs of opaque data that allow you to find the path to a file or directory if it’s been changed.

This code snippet uses [`nodobjc`](https://github.com/TooTallNate/NodObjC) to access those NSURL APIs to obtain a `Buffer` with the bookmark, then get back the p

[2017-12-17 21:58] shiftkey commented on #3614
This has been asked before, and I outlined the reasons why we don't have plans to support it at the moment here: https://github.com/desktop/desktop/issues/3435#issuecomment-347388985

[2017-12-17 22:02] shiftkey commented on #3614
Closing this out as we know the root cause, and have provided ways to workaround the issue.

[2017-12-17 22:02] #3614 closed

[2017-12-17 22:42] yashghelani commented on #3281
I'm still having this issue. Has this been resolved? How do I change branches?

[2017-12-17 22:53] jkjk822 commented on #1515
@c2k- You can download the classic version from http://github-windows.s3.amazonaws.com/GitHub.application.

This stack overflow post has a lot of useful tips to assist in the installation: https://stackoverflow.com/q/25439865/3745896

I tried out the electron version, but eventually decided to migrate back to the classic one.

[2017-12-17 23:04] shiftkey commented on #3281
@yashghelani nah, this hasn't been resolved yet. As checking out branches is a pretty fundamental task, I'm going to pull this into the `1.0.x` milestone and see if I can put together a fix :soon:

[2017-12-17 23:28] yashghelani commented on #3281
Thanks! Keep us posted. Hoping to seeing this fixed soon :)

[2017-12-17 23:56] shiftkey commented on #3607
There's a whole bunch of other corner cases here that don't seem to work correctly right now:

 - if you're on `master` or a branch without a PR, select the filter text and then press `ArrowDown`, your cursor leaves the filter textbox but the list doesn't focus on the first item as expected
 - once it ends up in this unknown state, things like mouse clicks aren't handled - you need to switch to br

[2017-12-18 03:47] tom10271 opened #3625 "It keeps saying `The user name or passphrase you entered is not correct.`"
### Description

I have reset my password and git cli and SourceTree both work.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** macOS 10.12.6 (16G1036)

### Steps to Reproduce

1. Last Friday it is still working and once I start working again today this application keeps saying login failed.

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actuall

[2017-12-18 03:49] shiftkey commented on #3625
@tom10271 we think this is related to Keychain access due to some sort of macOS update:

[2017-12-18 03:53] tom10271 commented on #3625
It works. Thanks

[2017-12-18 03:53] #3625 closed

[2017-12-18 10:58] niik commented on #3622
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-18 10:58] #3622 closed

[2017-12-18 11:00] niik commented on #3507
Thank you for your issue!

We haven't gotten a response to our questions.
With only the information that is currently in the issue, we don't have enough
information to take action. I'm going to close this but don't hesitate to reach
out if you have or find the answers we need, we'll be happy to reopen the
issue.

[2017-12-18 11:00] #3507 closed

[2017-12-18 12:03] szumi1 opened #3626 "Nazwa pliku: GitHubDesktopSetup.exe Pełna ścieżka: c:\Users\Marcin\Downloads\GitHubDesktopSetup.exe ____________________________ ____________________________ Deweloperzy  GitHub, Inc. Wersja  1.0.11.0 Zidentyfikowano  18.12.2017 na 12:54:57 Ostatnio używany  Niedostępne Element grupy Autostart  Nie ____________________________ Bardzo mało użytkowników Mniej niż 5 użytkowników Norton Community używało tego pliku. Bardzo nowy Ten plik został wydany mniej niż 1  tydzień temu. Dobry Produkt Norton nadał temu plikowi ocenę Dobry. ____________________________ Plik źródłowy: githubdesktopsetup.exe ____________________________ Podpis cyfrowy pliku – SHA: 2814bb326398fb7fef193416dea26f2aada5496bed80eaed75fdabc409a74d69 Podpis cyfrowy pliku – MD5: ffa0fe388c0e416b059582cee425fdd3"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-18 12:08] j-f1 commented on #3626
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-12-18 12:08] #3626 closed

[2017-12-18 16:25] SeanMcMillan commented on #3617
I don't see an error from the command line

[code]

I have command line git installed.

[code]

I also have Visual Studio Code installed, and it doesn't have a problem either. (I actually made a commit in there when Github desktop stopped working.

[2017-12-18 16:28] SeanMcMillan commented on #3617
Looks like I can't upload a file called `.gitignore_global` here.
The contents of .gitignore_global are:
[code]

[2017-12-18 16:35] SeanMcMillan commented on #3617
I replaced the symlink with a copy of the file, and it started working again. So the problem is related to it being a symlink.

Having it as a symlink works fine in console git an VS Code, and in the older version of Github Desktop.

[2017-12-18 16:48] mvelikova opened #3627 "Nqmam vreme da napravq kakvoto i da e"
### Description

Nqmam vvreme i ne moga da si dovursha proekta  napraih issue da vidq kak stava ne che mi trqbva

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:

[2017-12-18 17:00] #3627 closed

[2017-12-18 17:32] tierninho opened #3628 "Renaming a branch with an existing Pull Request"
I had an existing branch with a pull request and decided to rename the branch, thus creating two branches. I also have two Pull Requests tied to the original branch.

It seems that selecting either of the two PRs leads back to the original branch, but the badge number won't update.

See pics for more details:
<img width="365" alt="screen shot 2017-12-18 at 9 14 10 am" src="https://user-images.gith

[2017-12-18 19:57] tierninho opened #3629 "`Enter` key should be consistent for dialogues/modals?"
Hitting `enter` on some of the dialogues/modals results in an action, while other nothing happens. There should be consistency.

For instance:
- hit `enter` on the `Install Command Line Tool...` dialogue and the `OK` is triggered
- hit  `enter` after selecting a repo on the Clone Repo modal and the `Clone` is *not* triggered
- hit `enter` on git lock dialogue and `Close` is not triggered

<img wid

[2017-12-18 20:05] tierninho opened #3630 "Reverting `Update from Default Branch` is problematic"
If you accidentally hit the `Update from Default Branch` there is a chance that multiple commits are placed in the queue to be pushed. I suggest we have a `undo all` button, as going through the 200+ commits and undoing them results in wasted time (if you were to go this route).

Secondly, hitting `undo` too fast results in a git lock dialogue:

<img width="599" alt="screen shot 2017-12-18 at 11 5

[2017-12-18 20:28] kuuzen commented on #3247
2017-12-18 23:23:01> Unhandled exception: System.TypeInitializationException: Инициализатор типа "<Module>" выдал исключение. ---> <CrtImplementationDetails>.ModuleLoadException: The C++ module failed to load during appdomain initialization.
 ---> System.DllNotFoundException: C:\Windows\Microsoft.NET\Framework\v4.0.30319\WPF\wpfgfx_v0400.dll ---> System.ComponentModel.Win32Exception: Не найдена ук

[2017-12-18 21:49] GTCrais commented on #2874
Slack causes this issue for me as well.

[2017-12-18 22:02] adrianoflp opened #3631 "banco bradesco"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-18 22:07] #3631 closed

[2017-12-18 22:29] Sergio0694 opened #3632 "The panel with the list of changes for a commit is too small on 4K screens and can't be resized"
### Description

The panel with the list of changes for the selected commit (the second one from the left) has a fixed maximum width that's just too small for 4K displays with a small enough scaling, so right now there's a lot of wasted space and filenames with a long path end up getting trimmed.

It'd be great to just be able to resize each panel as much as we like, or at least, to have a higher

[2017-12-18 23:13] shiftkey commented on #3617
Thanks for the extra details. GitHub Desktop is running Git 2.15.1, so maybe something has been introduced which regressed this area. I'll leave this open to see if we can isolate where this has been introduced in Git.

[2017-12-18 23:17] brianlovin opened #3633 "Protected branch restrictions ignored when merging from desktop app"
### Description

I am able to merge code directly into `master` from the desktop tool, despite `master` being a protected branch in our repo that requires both a code review and passing ci tests.

### Version

**GitHub Desktop version:** 1.0.11
**OS version:** MacOS

### Steps to Reproduce

1. Create a branch that tracks an upstream protected branch
2. From the GitHub desktop UI, push to origin
3.

[2017-12-18 23:17] brianlovin commented on #3633
1. Create test branch
<img width="1023" alt="screenshot 2017-12-18 15 14 23" src="https://user-images.githubusercontent.com/1923260/34132826-84a57a6e-e406-11e7-9455-b33573a55e1f.png">

2. Click push to origin
<img width="724" alt="screenshot 2017-12-18 15 14 37" src="https://user-images.githubusercontent.com/1923260/34132828-8693b296-e406-11e7-8674-b3f13d58c146.png">

3. Branch is merged, bypassin

[2017-12-18 23:20] photonstorm commented on #2874
Slack has just started doing it for me, but the GitHub app no longer does!
So something has changed somewhere.

On Mon, 18 Dec 2017 at 21:49, Tomislav Modrić <notifications@github.com>
wrote:

--
Photon Storm Ltd.
http://www.photonstorm.com

Skype: richard.davey
Twitter: @photonstorm

Registered in England and Wales.
Company ID: 8036404
VAT Number: 136 4333 27

[2017-12-18 23:23] shiftkey commented on #3633
@brianlovin thanks for the details.

We don't currently track branch protections in the app - we could get this from the GitHub API -  so we won't stop you from doing the merge locally. But I'm curious why the server doesn't reject the push either - could this be related to you being an admin of the repository? 🤔

[2017-12-18 23:25] shiftkey commented on #2874
We worked around the issue in Desktop in https://github.com/desktop/desktop/pull/3348 until it can be addressed upstream.

[2017-12-18 23:25] brianlovin commented on #3633
@shiftkey yup, most likely because I'm an admin of the repo I was able to bypass it. So I suppose this issue is less of a bug and more of a UI/feature request to respect branch protections in-app. Hope that helps :)

[2017-12-18 23:26] shiftkey commented on #3633
@brianlovin yup, that totally makes sense 👍

[2017-12-19 01:51] jiazhiping opened #3634 "windows登陆"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-19 01:53] jiazhiping commented on #3634
哈哈

[2017-12-19 02:42] #3634 closed

[2017-12-19 07:24] codescratchblocks opened #3636 "Squirrel error about betaId on installation"
I keep getting this error on setup:

[code]
---
why?
---
---
my os is Windows 10 (x32)
the full log:
2017-12-18 23:12:59> Program: Starting Squirrel Updater: --install .
2017-12-18 23:13:00> Program: Starting install, writing to C:\Users\Eli\AppData\Local\SquirrelTemp
2017-12-18 23:13:01> Program: About to install to: C:\Users\Eli\AppData\Local\atom
2017-12-18 23:13:02> CheckForUpdateImpl: Couldn'

[2017-12-19 07:41] shiftkey commented on #3636
@codescratchblocks please attach the full log and provide details about your OS. Without that, we really can't say what the underlying issue might be.

[2017-12-19 08:04] shiftkey commented on #3617
I've found https://github.com/git-for-windows/git/issues/1392 which seems to be the same issue as this.

[2017-12-19 08:48] niik commented on #3636
This also looks to me like it's an error from an installation of Atom?

[2017-12-19 08:52] Azurues24 opened #3637 "GithubDesktop Installation Error"
### Description

Installation Error of GitHubDesktop

### Version

**GitHub Desktop version:** [the most recent version found on download page]

**OS version:** [Microsoft Windows [Version 10.0.16299.19]]

**Expected behavior:** [to install]

**Actual behavior:** [error shows up]

**Reproduces how often:** [every time I run the installer]

<a href='https://postimages.org/' target='_blank'><img src

[2017-12-19 09:13] shiftkey commented on #3637
@Azurues24 could you attach the contents of the setup log file? Also, are you running 32-bit or 64-bit Windows?

[2017-12-19 09:46] Azurues24 commented on #3637
[SquirrelSetup.log](https://github.com/desktop/desktop/files/1571100/SquirrelSetup.log)

And also, I have this folder and whenever I try to access that folder it prompts me this dialog.

<a href='https://postimages.org/' target='_blank'><img src='https://s31.postimg.org/40mq22k1n/Capture2.png' border='0' alt='Capture2'/></a>

[2017-12-19 10:07] w00kie commented on #3636
I get the same or similar error on Windows 7. Here is the full error log:

[code]

[2017-12-19 10:25] shiftkey commented on #3636
[code]

@w00kie this is what happens when you try and run the installer on 32-bit Windows. This isn't currently supported, see #1214 for more context.

[2017-12-19 10:29] shiftkey commented on #3637
@Azurues24 thanks for the log!

[code]

Yeah, I'm not really sure what to do here. Try restarting Windows and clearing the `%LOCALAPPDATA%\GitHubDesktop` directory so you're starting from a clean slate before running the installer again...

[2017-12-19 11:59] patrikhuber commented on #340
Incidentally, I just found [this blog post](https://haacked.com/archive/2015/10/29/git-shell/) from 2015. It's from @Haacked who works at GitHub, explaining why they bundled all this together and how much of an awesome and simple experience it creates on Windows, with useful defaults and all that.
So sad that two years later most of that was thrown out of the window.

[2017-12-19 13:14] Azurues24 commented on #3637
@shiftkey Thanks for responding man. I really appreciate it while I'm trying to solve the problem myself.
I think reformat will do the work. I can't  clear GitHubDesktop folder.  I took ownership of it and try to delete the folder via terminal and even using application that is intended in force deleting an undeleted folder. I also tried installation via chocolatey. same result.

The only solution

[2017-12-19 13:27] redarsurgul commented on #910
may frend ples ples   facebook number an dono  hack

[2017-12-19 14:21] lacika868 opened #3638 "https://github.com/desktop/desktop/blob/master/CODE_OF_CONDUCT.md"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-19 14:26] #3638 closed

[2017-12-19 15:13] hbons opened #3639 "How to compile and bundle a more compact git binary"
This is not really an issue, but more a request for advice. I didn't see any other channels for this question, so I hope you don't mind I'm putting it here.

Like GitHub desktop, my [project](https://github.com/hbons/SparkleShare/) bundles git on macOS. I'm trying to automate this process, but whenever I compile git from source the binaries end up being around 400 MB altogether; too large to bundl

[2017-12-19 15:21] j-f1 commented on #3639
Thanks for your interest @hbons!

Check out the [dugite](https://github.com/desktop/dugite) and [dugite-native](https://github.com/desktop/dugite-native) repos. This is where the embedded git we use comes from.

[2017-12-19 15:26] hbons commented on #3639
That's great! Thanks for the quick reply. :)

[2017-12-19 15:26] #3639 closed

[2017-12-19 15:57] http-request commented on #3629
About `Install Command Line Tool`, If you click inside dialog and `ok` button has lost focus then `enter` is not triggered. Do you want to set focus on buttons by default (and lose trigger when button lost focus) or add keyPress handler to components?

[2017-12-19 16:18] stevemoser commented on #1712
FYI until the keyboard shortcuts are implemented you can right click on the "2 changed files" header and select "Discard All Changes...".

[2017-12-19 16:21] ToontownLover opened #3640 "Pushing doesn't work for local repos with commit history"
Description
After adding an local repository, and changing the remote in the repository settings to connect to an different repository, the sync button doesn't let you push the commit history to the new remote.

Version
GitHub Desktop version: 1.0.11

OS version: Windows 10 Build 16299.125

Steps to Reproduce

1. Make New Repo on Github
2. Add Local Repo in Github's Desktop client
3. Go Into Repo

[2017-12-19 16:35] http-request commented on #1617
Now it looks like that:

![screen shot 2017-12-19 at 19 26 51](https://user-images.githubusercontent.com/6680179/34167362-a2e01cfe-e4f2-11e7-8d7b-aab5b17c2fb6.png)

and when you click on the Version link then you get  `1.0.11-beta0` in clipboard.
So, what is the outcome of this task? it should be like: `OS: MacOS Username: SmartUser GitHub Desktop Version: 1.0.11-beta0` in clipboard when I click o

[2017-12-19 16:47] tierninho commented on #3640
@ToontownLover please fill out the missing details in the template so we can better diagnose your issue. Thank you.

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [

[2017-12-19 17:14] jeffhostetler commented on #3617
See https://github.com/git-for-windows/git/pull/1407

[2017-12-19 17:23] #3607 closed

[2017-12-19 19:25] chantalcoolsma commented on #3640
Seeing the same since this afternoon. Logs attached.

[2017-12-19.desktop.production.log](https://github.com/desktop/desktop/files/1572974/2017-12-19.desktop.production.log)

Something to do with public key? Pushed several commits today, suddenly it started showing this message:

![schermafbeelding 2017-12-19 om 20 25 39](https://user-images.githubusercontent.com/867632/34174899-ce367bfc-e4fa-11e7

[2017-12-19 22:44] shiftkey commented on #3637
That sounds like the classic Desktop app - these can be installed side-by-side, but we're no longer actively working on the classic version.

[2017-12-20 00:41] shiftkey commented on #1617
Where did we end up on this @desktop/core? Do we want to spend more time in here? Personally, I think the log files already do a good job of tracking build/OS/account information at runtime...

[2017-12-20 00:52] shiftkey commented on #3630
@tierninho can we the second two items out into distinct issues? They should be handled separately to the original enhancement:

 - The first one needs some design input and thought about UX
 - The second one seems to be something we should fix independent of this. [`undoCommit`](https://github.com/desktop/desktop/blob/0a034d7b75dee14d3025c83be0a9769ef621e53e/app/src/lib/stores/git-store.ts#L492-L

[2017-12-20 02:30] zapjonny opened #3641 "If authentication fails, Github Desktop requires restart"
### Description

If authentication fails, Github Desktop requires restart.
Normally when computer is started outside (cafe etc) and I don't have setup wifi access yet but start Github Desktop before that, GD onwards always fails to authenticate to github repositories. I basically need to connect to wifi/network, and THEN start Github Desktop to have it fixed. Did you only test this tool in a safe

[2017-12-20 02:40] pinum314 opened #3643 "Local branch cannot be published to github"
![githuberror](https://user-images.githubusercontent.com/4327042/34188353-d30305f2-e4ea-11e7-8e8c-84888e862478.png)

Description
I created a new branch in a private repository and made some updates. I was able to commit the files locally, but when I tried publishing to github I received an error message stating "The repository does not seem to exist anymore. You may not have access, or it may have

[2017-12-20 02:56] shiftkey commented on #3643
@pinum314 thanks for the report!

Could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This will provide more information to help troubleshoot.

[2017-12-20 03:28] pinum314 commented on #3643
Here's the log file (with filenames changed).
Thanks!
[edited_log.txt](https://github.com/desktop/desktop/files/1574053/edited_log.txt)

[2017-12-20 03:42] shiftkey commented on #3643
I don't see a corresponding `git push` operation related to publishing a branch, but these errors here suggest something networking-related occurred on your machine at the time:

[code]

[2017-12-20 04:48] rcrodrix commented on #2789
Thanks, joshaber! Installed it, and ran the command from shiftkey. All is well now. Much appreciated.

[2017-12-20 07:52] chantalcoolsma commented on #3640
Deleted SSH key from Settings in GitHub.com and generated new key using https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

Looks solved for me.

[2017-12-20 08:35] jasminmurta70 commented on #3640
Thank you very much

2017-12-20 8:52 GMT+01:00 Chantal Coolsma <notifications@github.com>:

[2017-12-20 08:36] jasminmurta70 commented on #2789
Thank you very much

2017-12-20 5:48 GMT+01:00 rcrodrix <notifications@github.com>:

[2017-12-20 13:40] rafiqips5 opened #3646 "unable to open gitcmd in windows 10"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-20 13:59] j-f1 commented on #3646
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-12-20 14:11] #3646 closed

[2017-12-20 14:32] niik commented on #1617
I concur

[2017-12-20 14:50] mhalttu opened #3647 "Discarding the revision of a submodule destroys the whole submodule"
### Description

When you have a repository in a GitHub that contains a submodule and you discard the revision change of the submodule, the whole submodule is deleted.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** OS X 10.12.6

### Steps to Reproduce

1. Checkout a module that includes a submodule
1. Go to the submodule and change the branch
1. Observe the change in GitHub Desk

[2017-12-20 16:12] rlm95 opened #3648 "Quick Repo Switcher"
### Description

It would be nice if there was a hotkey/shortcut to quickly open up the repository list. Something like control + k to open it and then it would have a search bar to type in the repo you want to switch to. To make this even better the popup window could show any repositories that currently have uncommitted changes and allow you to quickly choose one of those using arrow keys/tabs

[2017-12-20 16:14] niik commented on #3648
Hey @rlm95. <kbd>Ctrl</kbd> + <kbd>T</kbd> (<kbd>⌘</kbd> on macOS) should open the repository list for you and pre-select the filter text box. From there you can use the arrow keys to move up/down the repository list.

[2017-12-20 16:14] #3648 closed

[2017-12-20 19:03] pinum314 commented on #3643
Problem was that it was a private repository I had read only access to. Got access updated and now it works fine.

[2017-12-20 19:03] #3643 closed

[2017-12-20 20:11] hs82882 opened #3650 "change editore app money wallet an forex"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-20 20:11] hs82882 opened #3651 "change editore app money wallet an forex"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-20 20:14] #3651 closed

[2017-12-20 22:24] #3641 closed

[2017-12-21 00:07] shiftkey commented on #3636
@niik I don't know if this is documented officially, but I think `%LOCALAPPDATA%/SquirrelSetup.log` is the log file for all instances of the installer - I've seen Desktop and Atom and other installer information in the same log file.

[2017-12-21 05:00] sparepal opened #3653 "Commit failed - exit code 1 received"
### Description

[Description of the issue]
Getting this error when uploading a second android studio project onto the same repository

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

*

[2017-12-21 06:07] shiftkey commented on #3653
@sparepal thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-21 06:07] #3653 closed

[2017-12-21 07:30] codescratchblocks commented on #3636
I am on 32 bit

[2017-12-21 07:38] shiftkey commented on #3636
@codescratchblocks thanks for the extra information. GitHub Desktop is 64-bit only, and won't install on 32-bit Windows. See #1214 for extra context.

[2017-12-21 07:38] #3636 closed

[2017-12-21 07:40] codescratchblocks commented on #3636
I still want to get it. so how?

[2017-12-21 07:48] codescratchblocks opened #3654 "How do you get GitHub Desktop on 32 bit?"
How?

[2017-12-21 07:48] janbrasna commented on #3224
Ran into the same and thought it's some kind of compromised build trying to get access to my repos. Spent some time doube-triple-quadruple-checking what's going on.

While I understand the canonical rationale, I thing from experience point of view you might be able to make some kind of internal alias for that, since, the `desktop` org is truly "owned or operated by GitHub", because… well… it is:)

[2017-12-21 07:49] codescratchblocks commented on #3654
`nope`

[2017-12-21 07:49] #3654 closed

[2017-12-21 07:56] codescratchblocks opened #3655 "Get GitHub on 32 Bit?"
**GitHub Desktop version:** [doesn't show]

**OS version:** [Windows 10 (x32) Build 10.0.16299.125]

**Expected behavior:** [install]

**Actual behavior:** [error]

**Reproduces how often:** [every time I run the installer]

![github error](https://user-images.githubusercontent.com/34673672/34246013-aaa30b28-e5e1-11e7-82c7-ddc444fa06f1.PNG)

[2017-12-21 07:58] janbrasna commented on #3616
👍 … I always get nervous about giving out access that I don't have any idea why it's needed and for what benefit. Think iOS permission priming dialogues to elaborate a bit on why such permission is needed (benefiting the user, or making some convenience part of the app working et al. …)

[2017-12-21 09:04] niik commented on #3655
@codescratchblocks We don't support 32-bit versions of Windows - see #1214 for the related discussion.

[2017-12-21 09:04] #3655 closed

[2017-12-21 09:35] gutrix commented on #1634
I've personally moved to GitKraken until GitHub desktop re-implements this feature.

[2017-12-21 10:10] niik commented on #3641
@zapjonny Thank you so much for reporting this. I was able to reproduce this and a fix for the issue has been merged as part of #3649 and will make it into the next stable release which should come out after the holidays.

[2017-12-21 12:27] bimsonz opened #3656 "Trying to push branch to read only access repo, the error message suggests repo is not found"
### Description

Trying to push branch to read only access repo, the error message suggests repo is not found rather than informing user of access issue.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** Microsoft Windows [Version 10.0.16299.125]

### Steps to Reproduce

1. Clone repo you only have read access too
1. Create and try to push new branch (committing is naturally fine)

[2017-12-21 12:37] niik commented on #3656
Hey @bimsonz, could you please post a screenshot of the error dialog? I'm looking through the error messages now and I wonder if this is the message that you're seeing

[2017-12-21 14:39] j-f1 commented on #2480
I have a retina screen and I’ve encountered this with (tall?) images.

[2017-12-21 16:32] TCS-Taylor opened #3658 "issue cloning repository over SSH"
### Description

My company has a GitLab server.  The Infrastructure dept. has historically never used Git, but I'm working on changing that so that our scripts can be versioned, centrally located and backed up, etc.
I created a new Group and Project in our GitLab server.  I added the public key to my user account on our GitLab server.  The private key is loaded in my pagent.

I downloaded GitHub

[2017-12-21 16:37] j-f1 commented on #3658
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #2579. Please follow that issue for further updates.

[2017-12-21 17:10] git4dummies opened #3659 "Desktop Installer"
Hello. The latest GitHub desktop installer conflicts with the type of workstation that we have which are VM's that refresh after each log off. Do you have or can you please provide an installer that can be installed per machine and not per user to resolve this issue? It could be that the desktop installer has switches or options we are not aware of that could force the method of installation that

[2017-12-21 20:03] mrnasiralmamun opened #3660 "http://itkabhie kabhie song and poem - youtube+8801971131144/prefixing.com"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-21 21:13] Denestel opened #3661 "Unable to clone, fetch, or push on GitHub Desktop"
### Description

Hey whats up, so I was trying to use GitHub Desktop to work with my repos, but I keep getting an error like this (when cloning from or publishing to new repos), i dont understand whats wrong it was working fine a few days ago and i havent installed anything new on my computer since, im having this issue on both my laptop and desktop using GitHub Desktop:

Cloning into 'C:\Users\Us

[2017-12-21 22:48] #3660 closed

[2017-12-21 23:01] shiftkey commented on #3659
We provide an MSI that supports installation for all users on a machine, but this has some limitations:

 - clicking the shortcut at `%PROGRAMFILES(x86)\GitHub Desktop Installer\desktop.exe` will install things to `%LOCALAPPDATA%\GitHubDesktop`
 - some user-specific data is stored at `%APPDATA%\GitHub Desktop` - if that is also removed after logoff then some settings (like tracked repositories) wo

[2017-12-21 23:02] shiftkey commented on #3659
@git4dummies please try out the current MSI, and add your feedback to #1086 if it doesn't satisfy your requirements.

[2017-12-21 23:02] #3659 closed

[2017-12-21 23:07] shiftkey commented on #3661
@Denestel thanks for the report!

The version of Git embedded in Desktop uses the Windows SChannel APIs for validating certificates as part of the HTTPS handshake. We've had various reports of this failing due to other tools being installed alongside, like anti-virus programs, or being behind some proxy servers.

As a workaround, you can revert to the classic OpenSSL behaviour by opening the repos

[2017-12-22 05:34] math2001 commented on #2055
An other (harsh) proposition: `maxlength="50"`. Done.

I think it should be an option under `File -> Options`, because it would certainly annoy some people. Something like `Enable 50/72 character limit`.

We don't really need to warn the user, because if he actually wants to respect this convention, then he won't care whether we block him or warn him, the result will be the same. At least that's t

[2017-12-22 06:17] cyril31 opened #3663 "GitHub Desktop failed to launch"
### Description

Error: write EOF
    at exports._errnoException (util.js:1050:11)
    at WriteWrap.afterWrite (net.js:813:14)

Version: 1.0.11
OS: Windows 6.1.7601

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** Windows 6.1.7601

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** I expect that A dialog window will popup that says "Ent

[2017-12-22 07:42] niik commented on #3658
@TCS-Taylor Thanks for reaching out. As @j-f1 mentioned our support for ssh-remotes still leaves a bit to be desired and requires some manual work on each machine to function properly. For now we'd recommend using http.

[2017-12-22 07:42] #3658 closed

[2017-12-22 07:50] niik commented on #3663
Hi @cyril31, could you please attach the most recent log file from:
   `%APPDATA%\GitHub Desktop\logs\*.desktop.production.log`

[2017-12-22 08:17] howprice opened #3664 "Summary and description lost when closing application"
### Description

The contents of the Summary and Description fields are lost without warning when closing the application.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** Microsoft Windows [Version 10.0.15063]

### Steps to Reproduce

1. Make some changes to files
2. Write a Summary and (lengthy, detailed) Description, but _do not Commit_
3. Close the GitHub Desktop application
4

[2017-12-22 11:39] bitco96 opened #3665 "work1"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-22 11:44] j-f1 commented on #3665
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2017-12-22 12:17] #3665 closed

[2017-12-22 18:12] LarryConsulting1953 opened #3668 "Faqcebook"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-22 18:19] #3668 closed

[2017-12-22 21:13] LarryConsulting1953 opened #3669 "creating a new facebook group"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-22 21:24] BilelBENMOUSSA opened #3670 "MINGW32"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-22 21:29] #3669 closed

[2017-12-22 21:29] #3670 closed

[2017-12-23 01:30] Dariodemorais opened #3671 "dario"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-23 01:57] Dariodemorais opened #3672 "vagabonds"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-23 02:12] #3672 closed

[2017-12-23 02:12] #3671 closed

[2017-12-23 02:16] iAmWillShepherd commented on #3664
I'm not sure that we will save state between sessions, but definitely something we can discuss. I think warning people that they have a _commit in progress_ is fair.

[2017-12-23 02:25] iAmWillShepherd commented on #3616
What version of GitHub Desktop are you using?

[2017-12-23 02:33] Pa061061 commented on #3281
3111

[2017-12-23 20:49] vp2177 opened #3673 "Diff should only show changes in renamed file"
The diff view shows all lines as new, in case of a renamed file. Only changes between the old and the new files should be shown.

It looks as though this might have been fixed in the past (#495), but I am using v`1.0.11` and can reproduce this.

[2017-12-24 11:21] Afrin-Rumi opened #3674 "#3215"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-24 11:47] metalim commented on #2758
Huge PING! on this one. Why issue is closed?
I just went through several freaking "WTF I was doing in the future?" and "What malware I have installed?" moments, when trying to compare 2 different github apps I have installed, one saying it's 3.3.4 and the other 1.0.11, both saying they are official Github Desktop and have no updates. And official website telling latest one is 1.*.
Please fix this.

[2017-12-24 12:37] j-f1 commented on #2758
The banner should be showing up about when we release 1.1.

[2017-12-24 12:43] JarLob commented on #2758
Could you at least reopen and properly track the issue? You said “this week” when I reported it in september. Calculate yourself for how long you have been exposing your users to a security threat.

[2017-12-24 21:20] shiftkey commented on #3673
@vp2177 could you share a reproduction of this (whether it's with a change to be committed or part of an existing commit), to speed up investigating? Maybe something has changed with the underlying Git behaviour...

[2017-12-24 21:21] #3674 closed

[2017-12-24 21:59] j-f1 commented on #3673
FWIW, I’m seeing this too — renames show up in history, just not in the changes tab.

[2017-12-25 04:09] jack3699 opened #3676 "one"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-25 07:55] ManamNagarjuna opened #3677 "Unable to clone to local repository from git bash. error:14077419:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert access denied"
### Description

Unable to clone to local repository from git bash. error:14077419:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert access denied

"https://github.com/ManamNagarjuna/Python.git/"

when i run "**git pull origin master**" command i'm getting the mentioned error.

### Version

**GitHub Desktop version:** [i'm using Git 2.15.1.2]

**OS version:** [windows 10]

### Steps to Reproduce

1.

[2017-12-25 10:29] #3676 closed

[2017-12-25 10:30] shiftkey commented on #3677
This reproduction seems to be related to the latest [Git for Windows](https://github.com/git-for-windows/git) release rather than GitHub Dkestop. Could you please open an issue there?

[2017-12-25 10:30] #3677 closed

[2017-12-25 11:49] hagaic commented on #1685
Please add this feature

[2017-12-25 23:00] gherson commented on #2247
good call, Chasen.  I just solved my problem by adding that argument:

[2017-12-25 23:21] shiftkey commented on #3673
This could be related to the fact that, when committing, a rename isn't detected by Git until both files are staged in the index. Desktop doesn't do this (it defers staging files until you make the commit in the UI), but if you do it in an external program and switch back to Desktop it _should_ show. Maybe that's the difference here?

[2017-12-26 01:07] xenon54xenon54 opened #3680 "Github Desktop not accepting login credentials"
### Description

Upon opening Desktop, I got the attached error. I disregarded the error, and continued to try and make a commit. I typed in my commit, hit sync, and tried to push origin. I got another error. Since then, I have been unable to log in to my account from Desktop, and every time I attempt to log in to my account, the first error message gets thrown.

### Version

**GitHub Desktop vers

[2017-12-26 01:10] shiftkey commented on #3680
@xenon54xenon54 we've had similar reports of this like #3625 which seem to be related to the keychain not being accessible.

Could you try this?

[2017-12-26 03:57] top1st opened #3681 "Cannot find tools menu"
![image](https://user-images.githubusercontent.com/23559697/34346559-d4bfaf50-ea33-11e7-95ca-9a6b9c877974.png)

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What

[2017-12-26 04:25] shiftkey commented on #3681
These are now located under the **File** | **Options** top menu.

[2017-12-26 04:25] #3681 closed

[2017-12-26 04:56] shiftkey commented on #3558
Closing as inactive.

@xxCoolxx18 if you can reproduce the issue and look at the developer tools I'm happy to revisit this issue.

[2017-12-26 04:56] #3558 closed

[2017-12-26 04:57] shiftkey commented on #3566
Closing this out as inactive. @GewoonJaap if you can provide some reproduction steps I'm happy to revisit this issue.

[2017-12-26 04:57] #3566 closed

[2017-12-26 05:01] shiftkey commented on #3637
Closing this out as external. The `System.IO.IOException: The file or directory is corrupted and unreadable.` suggests the filesystem we rely on under `%LOCALAPPDATA%\GitHubDesktop` cannot be trusted in it's current state, and the installer failing fast is the best we can do in this situation.

[2017-12-26 05:01] #3637 closed

[2017-12-26 05:07] shiftkey commented on #3661
We're working on explaining this error better in #3406. Please follow along with that issue.

[2017-12-26 05:07] #3661 closed

[2017-12-26 08:20] shiftkey commented on #3606
We don't get this for free with Electron, and would require some rework of our [`main-process.ts`](https://github.com/desktop/desktop/blob/master/app/src/main-process/main.ts) to broadcast this message to all windows (which we don't currently track) which will likely uncover other places where we rely on this assumption.

We also rely on this "single instance" rule for other things - updating the

[2017-12-26 08:22] shiftkey commented on #3573
@shramee thanks for the feedback. We're already tracking this in #2306 - please follow along with that issue!

[2017-12-26 08:22] #3573 closed

[2017-12-26 08:24] shiftkey commented on #3633
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-26 08:24] #3633 closed

[2017-12-26 08:33] shiftkey commented on #3592
@greggwon

I think this will be recovered when we get to #2639 as that doesn't rely on it being a GitHub repository. Please look over the current mockups in https://github.com/desktop/desktop/issues/2639#issuecomment-333621771 and add your feedback to that issue.

This was a Windows-only feature and hasn't been brought across to the Electron app. We're tracking that in #1574.

[2017-12-26 08:33] shiftkey commented on #3592
Closing this out as I believe this feedback is captured in existing issues.

[2017-12-26 08:33] #3592 closed

[2017-12-26 09:23] azumukupoe opened #3684 "'SSL certificate problem: unable to get local issuer certificate' when trying to clone repos"
### Description

[Cannot clone repositories]

### Version

**GitHub Desktop version:** [1.0.11]

**OS version:** [Microsoft Windows [Version 10.0.17063.1000]]

### Steps to Reproduce

1. [Clone a Repository]
1. [Choose a repository]
1. [and so on]

**Expected behavior:** [Repository cloned]

**Actual behavior:** [Cloning into 'path'...
fatal: unable to access 'url': SSL certificate problem: unable

[2017-12-26 09:32] shiftkey commented on #3684
@azumukupoe could you share your Git configuration value by opening a command line and running this command?

[code]

[2017-12-26 09:41] azumukupoe commented on #3684
Yes

file:"C:\\ProgramData/Git/config"       core.autocrlf=true
file:"C:\\ProgramData/Git/config"       core.fscache=true
file:"C:\\ProgramData/Git/config"       color.diff=auto
file:"C:\\ProgramData/Git/config"       color.status=auto
file:"C:\\ProgramData/Git/config"       color.branch=auto
file:"C:\\ProgramData/Git/config"       color.interactive=true
file:"C:\\ProgramData/Git/config"       hel

[2017-12-26 10:08] shiftkey commented on #3684
I think I know what's going on, but I haven't had a chance to test this out.

Your Git for Windows has a system Git configuration with these values:

[code]

GitHub Desktop won't see these values, as it has it's own system configuration file with `http.sslbackend=schannel` set. This means it'll use the Windows Certificate Store to validate server certificates.

In your global `~/.gitconfig` you've

[2017-12-26 10:12] azumukupoe commented on #3684
@shiftkey Thank You!

[2017-12-26 10:15] shiftkey commented on #3684
Closing this out as resolved. @azumukupoe let me know if you're still encountering issues.

[2017-12-26 10:15] #3684 closed

[2017-12-26 10:45] shiftkey commented on #3640
@chantalcoolsma I'm glad you were able to work around this.

@ToontownLover could you attach the log files at `%APPDATA%\GitHub Desktop\logs` - this will help with troubleshooting.

[2017-12-26 10:48] shiftkey commented on #3152
I'm going to close this out as resolved, but please open a new issue if there's any extra suggestions for "moving between commits on the same branch" workflows.

[2017-12-26 10:48] #3152 closed

[2017-12-26 11:49] ps4everurs opened #3685 "How to do squash commit using github desktop"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-26 11:58] #3685 closed

[2017-12-26 12:28] shiftkey commented on #692
@lukehefson thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-26 12:28] #692 closed

[2017-12-26 12:31] shiftkey commented on #818
Found myself thinking about this again, so here's a refresh of the issue with some more details.

**Commit List**

<img width="585" src="https://user-images.githubusercontent.com/359239/34356471-e9ee2758-ea8d-11e7-80c1-6bf7e1b5d1f3.png">

Our equivalent is the History list.

<img width="320" src="https://user-images.githubusercontent.com/359239/34356657-9dc8b76a-ea8f-11e7-8354-2323d74863b9.png">

[2017-12-26 15:08] xenon54xenon54 commented on #3680
I don't have desktop linked to keychain, but I tried restarting my computer, and it logged me back in with no problems. Thanks for your help.

[2017-12-26 15:08] #3680 closed

[2017-12-26 15:33] tablatronix opened #3686 "2fa started failing"
Could not authenticate this morning, get `username or passphrase you entered is incorrect`

Switched to sms, code still failing.

OSX, I have no logs where specified, nor a github desktop folder even.

v 1.0.11
osx 10.13.2

[2017-12-26 16:16] vincent3569 opened #3687 "Syncing a fork"
Hi

I made a fork of a project to improve it for my needs.
I read something about syncing a fork (https://help.github.com/articles/syncing-a-fork/), but it needs to use git ui and I am not fluant with it.
I wish to know if there is a way to do that with Github desktop ?

Thanks

[2017-12-26 16:45] ToontownLover commented on #3640
[2017-12-19.desktop.production.log](https://github.com/desktop/desktop/files/1587613/2017-12-19.desktop.production.log)

[2017-12-26 18:26] lucashoeft commented on #3686
I experienced the same. Got logged out (I have 2FA enabled) and the app displayed only `username or passphrase you entered is incorrect`

Its basically this issue, that already got closed: https://github.com/desktop/desktop/issues/3263

You have to open the app Keychain Access and lock and unlock the `login` Keychain. Then it should work.

V 1.0.11
macOS 10.12.6

[2017-12-26 20:12] tablatronix commented on #3686
Thanks, I did not see that issue. Will try then close

[2017-12-26 21:07] vp2177 commented on #3673
![rename](https://user-images.githubusercontent.com/451903/34364751-c2ea5940-ea80-11e7-9ad7-ec91ee4e8d53.gif)

[2017-12-26 21:24] shiftkey commented on #3687
@vincent3569 I think the missing part of this is #2639 - this will let you see the commits added to the upstream repository and merge those into your fork.

Check out the mockups in https://github.com/desktop/desktop/issues/2639#issuecomment-333621771 to understand more and add your feedback to the issue - we should be kicking that off soon!

[2017-12-26 21:24] #3687 closed

[2017-12-26 21:25] shiftkey commented on #3673
@vp2177 thanks for the details. I'll have a look at reproducing this and see if I can isolate where it has been introduced.

[2017-12-26 21:27] j-f1 commented on #3673
Would it be possible to stage and unstage files when clicking the checkboxes or toggling lines in the diff view?

[2017-12-26 22:47] shiftkey commented on #3673
@j-f1 unstaging the whole file is relatively easy. Unstaging a specific hunk or line is where things get really problematic. There might be some part of porcelain Git that you can do this in, but I've not looked for it.

[2017-12-26 22:57] shiftkey commented on #3640
I haven't had a chance to walk through these steps, but it looks the `push` is failing because the local history and remote history aren't able to be reconciled automatically:

[code]

[code]

Is there a reason why you are manually changing the URL here, rather than using **File** | **Clone repository...* to initialize the repository? You can provide a URL in this dialog to clone a non-GitHub repo

[2017-12-26 23:00] shiftkey commented on #3221
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-26 23:00] #3221 closed

[2017-12-26 23:39] ToontownLover commented on #3640
I downloaded the .zip version of the repo, and I had it stored on my external hard drive. I no longer have access to the repo that the commit history was connected to originally, this is why I manually changed the remote URL..

[2017-12-27 02:21] shiftkey commented on #3686
I'm going to close this out as a known issue as @lucashoeft has cross-referenced the existing issue.

@tablatronix please report back if you're still encountering issues.

[2017-12-27 02:21] #3686 closed

[2017-12-27 02:29] shiftkey commented on #3640
Looking at these repro steps:

I think something with initializing the new repository is creating an initial commit, which is why pushing is raising errors as it can't reconcile the two commit histories (we don't support force pushing).

This sounds like you have an existing repository with history (i.e. the `.git` folder at the root of the folder) and it points to a remote that no longer exists.

[2017-12-27 02:47] shiftkey commented on #3040
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-27 02:47] #3040 closed

[2017-12-27 02:53] JPsHub opened #3689 "github"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-27 02:53] #3689 closed

[2017-12-27 02:55] shiftkey commented on #1607
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-27 02:55] #1607 closed

[2017-12-27 07:07] shiftkey commented on #2165
@niik were you still working on this?

[2017-12-27 07:21] shiftkey commented on #2030
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-27 07:21] #2030 closed

[2017-12-27 07:22] shiftkey commented on #1965
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-27 07:22] #1965 closed

[2017-12-27 07:23] shiftkey commented on #1245
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-27 08:10] kunalrsinha commented on #2187
HI
I also get the same issue in cloning the repository.
I have Window 7 Home Basic 64 bit
Desktop github file version is 1.0.11.0
and product version is 1.0.11.
Please help me in resolving my problem.
Thank you

[2017-12-27 08:39] pmliming opened #3691 "app1"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-27 09:07] #3691 closed

[2017-12-27 09:09] shiftkey commented on #2187
@kunalrsinha

As a workaround, you can revert to the classic OpenSSL behaviour by opening the repository in a shell and running these two commands.

[code]

[The PEM file](https://curl.haxx.se/docs/caextract.html) distributed by the cURL team should do the trick.

[2017-12-27 09:27] shiftkey commented on #3326
This is probably where we need to head with this. If you don't open an issue to start the discussion about this in Git for Windows before the new year then I can do it.

[2017-12-27 12:37] valdimar2018 opened #3692 "23071984"
fasn@hjksals&^%($@&^^%&*^&%&

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it

[2017-12-27 17:57] ToontownLover commented on #3640
command line fixed my issue, thanks for the help :)

[2017-12-27 17:57] #3640 closed

[2017-12-27 20:22] #3692 closed

[2017-12-28 02:00] mayurpateldeveloper opened #3693 "error"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-28 03:16] #3693 closed

[2017-12-28 04:21] shiftkey commented on #1591
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

It's also relatively isolated from the rest of the application, so it would be ideal if someone wanted to have a go at implementing this. I'll tag this as `help wanted` if someone wants to explore this f

[2017-12-28 04:36] wind-soft opened #3694 "每次克隆到百分之十五就不动了。"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-28 04:37] shiftkey commented on #3694
@wind-soft thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-12-28 04:37] #3694 closed

[2017-12-28 05:01] shiftkey commented on #1718
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

In the mean time, feel free to exper

[2017-12-28 05:01] #1718 closed

[2017-12-28 06:40] wind-soft commented on #3694
Description
每次克隆到百分之十五就不动了。
Version
GitHub Desktop version: 1.0.11
OS version: Windows 10 10.0.16299.125
Steps to Reproduce
1.打开https://github.com/mrdoob/three.js，点击clone，open in desktop
2.克隆到15%就卡住了。
Expected behavior: 完整将整个项目克隆到本地。
Actual behavior: 每次克隆到15%就卡住，无法继续克隆了。
Reproduces how often: 100%
Additional Information
无论是下载zip还是克隆到本地，都无法正常获取整个项目。
希望至少为zip下载支持断点续传，否则中国区用户很堪忧。

[2017-12-28 07:57] wind-soft opened #3695 "clone of specific repository fails at 15%"
Description
每次克隆到百分之十五就不动了。
Version
GitHub Desktop version: 1.0.11
OS version: Windows 10 10.0.16299.125
Steps to Reproduce
1.打开https://github.com/mrdoob/three.js，点击clone，open in desktop
2.克隆到15%就卡住了。
3.一直等下去，最后显示失败。
Expected behavior: 完整将整个项目克隆到本地。
Actual behavior: 每次克隆到15%就卡住，无法继续克隆了。
Reproduces how often: 100%
Additional Information
无论是下载zip还是克隆到本地，都无法正常获取整个项目。
希望至少为zip下载支持断点续传，否则中国区用户很堪忧。

[2017-12-28 11:16] 13754883447 opened #3696 "wyy"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-28 13:45] #3696 closed

[2017-12-28 13:47] iAmWillShepherd commented on #3695
@wind-soft, thanks for taking the time to open an issue. Would it be possible for you to translate your issue into English? I'm doubtful anyone on the team can read Mandarin or Cantonese and I'm not too good at reading passed grade school level.

I'm going to close for now.

[2017-12-28 13:55] ajsb85 commented on #1718
Ok, keep in touch.

[2017-12-28 17:35] j-f1 commented on #3695
Google Translate says:

---

Each cloning to fifteen percent will not move.
Description
Each cloning to fifteen percent will not move.
Version
GitHub Desktop version: 1.0.11
OS version: Windows 10 10.0.16299.125
Steps to Reproduce
1. Open https://github.com/mrdoob/three.js, click clone, open in desktop
Cloned to 15% stuck.
3. Wait until the last failure
Expected behavior: Clone the entire project

[2017-12-28 20:49] utlco opened #3697 "Re-open: Unable to push, Authentication failed..."
### Description

This is the same or related to issue 1852 and is still a problem.

When I try to push to a remote repository I get the following dialog:
<img width="607" alt="screen shot 2017-12-28 at 12 34 28 pm" src="https://user-images.githubusercontent.com/1709797/34422712-f970aa72-ebcb-11e7-8589-10553b9b1f5c.png">

This just started happening for no apparent reason. I still have full access

[2017-12-28 20:55] j-f1 commented on #3697
Can you try locking and unlocking your login keychain (in Keychain Access)? We sometimes see the keychain get in a bad state that prevents the app from accessing it.

[2017-12-28 21:55] utlco commented on #3697
Thanks, but that didn't seem to work. I also tried just deleting all the github login credentials found in Keychain and restarted GitHub Desktop and signed back in. No luck. Oddly, the initial sign in works fine - just the Push can't seem to authenticate...

[2017-12-28 22:07] shiftkey commented on #3697
@utlco

[code]

This looks like you're working with an SSH remote rather than a HTTPS remote. This distinction is important because SSH remotes don't use the keychain for credentials, and instead require a running `ssh-agent` process with the right keys added to do anything network-related.

Can you confirm you have these setup? These two commands will help understand what your current setup looks

[2017-12-28 22:08] shiftkey commented on #3695
@wind-soft Could you also attach any log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This may provide some additional information to help troubleshoot.

[2017-12-28 22:23] utlco commented on #3697
Your right, I'm using an ssh remote (I can't remember why ssh vs https).
I just deleted my previous rsa key and regenerated a new one and now it seems to work fine! Not sure why since the previous one had been working fine until today...
Anyway, thanks for the help.

For anybody else that runs into this, here are the steps:

1. in ~/.ssh delete your github rsa public and private keys
2. ssh-keygen

[2017-12-28 22:49] shiftkey commented on #3697
@utlco thanks for sharing the details. I'm glad it's back and working!

[2017-12-28 22:49] #3697 closed

[2017-12-28 23:01] shiftkey commented on #2770
This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-12-28 23:01] #2770 closed

[2017-12-29 16:22] justalemon opened #3698 "When you sync a repo, "View on GitHub" will need a tab change to be used"
### Description

When you sync a repository with "History" open, you will need to alternate the tabs to use "View on GitHub for the recent commits.

### Version

**GitHub Desktop version:** 1.0.11
**OS version:** Windows 10 v1709 c16299.125

### Steps to Reproduce

1. Clone a repository from GitHub
1. Create a commit
1. Select the History tab with that commit
1. Sync the repo
1. Right-click and tr

[2017-12-29 16:49] mthapa1 opened #3699 "readme"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-29 17:24] #3699 closed

[2017-12-29 20:10] wboswall commented on #1525
Why not just clone the windows version of Github desktop and make it available for Linux distributions? Just my opinion.

[2017-12-29 20:13] anowlcalledjosh commented on #1525
@wboswall That's exactly what's happening; feel free to peruse the comment by shiftkey located four comments above yours.

[2017-12-29 20:15] wboswall commented on #1525
@anowlcalledjosh That's good to hear but why is it taking so long for it to be released?

[2017-12-29 20:38] anowlcalledjosh commented on #1525
@wboswall Take a look at the comment I mentioned above, look at [the current issues](https://github.com/shiftkey/desktop/issues), and read [this comment](https://github.com/desktop/desktop/issues/1525#issuecomment-347276754) too.

[2017-12-30 06:00] sweetpolly opened #3700 "github.com/desktop"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-12-30 06:56] franklinkf opened #3701 "Commit failed - exit code 1 received"
First time I am using GitHub desktop. After adding one local repository and trying to commit changes, message - Commit failed - exit code 1 received - is coming.

Please advice me the solution

[2017-12-30 12:08] j-f1 commented on #3701
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2017-12-30 12:56] #3700 closed

[2017-12-30 12:59] shiftkey commented on #3698
@justalemon thanks for the details. This feels similar to #2737, which dealt with remote commits not being added to the history - which we fixed in #3541. In this case we should "discard" from cache and re-add local commits that we know need to be updated.

[2017-12-30 13:21] wind-soft commented on #3695
[2017-12-28.desktop.production.log](https://github.com/desktop/desktop/files/1594406/2017-12-28.desktop.production.log)

[2017-12-30 13:23] wind-soft commented on #3695
Sorry for response late. It is not easy to find this page again. Also there was no message left for my account. Here is the log.

[2017-12-30 14:07] JilinGao opened #3702 "I am new for github,I have problem in using the github for windows when clone and publish"
### Description

[Description of the issue]
I am new for github,I have problem in using the github for windows when clone and publish.
![default](https://user-images.githubusercontent.com/22215292/34454714-0f57369e-edac-11e7-8009-fdc905171e81.png)

![default](https://user-images.githubusercontent.com/22215292/34454728-7a657fa4-edac-11e7-8894-04c2550316b4.png)

### Version

**GitHub Desktop version

[2017-12-30 14:56] wind-soft commented on #3695
Description
Once click"clone", it can only be proceeded to 15% and then stops.
Version
GitHub Desktop version: 1.0.11
OS version: Windows 10 10.0.16299.125
Steps to Reproduce
1. Go to webpage https://github.com/mrdoob/three.js，click "clone"，"open in desktop".
2. Github Desktop begins to clone the project and stops receiving at 15%。
3. Wait for a long time and it will tell you "failed" at last。
Exp

[2017-12-30 15:00] justalemon commented on #3698
Yeah, is similar to #2737 but that was for 0.X.X (the old version of GitHub Desktop).

The solution is a bit simple: if the History tab is open, refresh the commits after the sync.

[2017-12-30 18:43] crspybits opened #3703 "Summary of changes to repos: Feature idea"
### Description
Hey folks. I really like this app :). Thanks. One thing that would help because I use this with many repos that have active changes at one time, is a summary at the top-level UI of changes.  This would likely take the form of a new column-- in the place where I've marked with red. Something like an indication of the number of files with changes and whether or not those changes have

[2017-12-30 19:10] soljurami commented on #3698
#git config

[2017-12-30 23:16] vincent3569 opened #3704 "a commit disappears from change history of a branch"
### Description
I have a repositoty (https://github.com/vincent3569/zenphoto-perso) that is a fork from another repo (https://github.com/zenphoto/zenphoto)

In my repo, I have 2 branchs (master and perso).
in perso branch, I added a personnal dev
in master branch, I updated some translations and I made a pull request to the initial repo.

after that
I merge master branch into perso branch (so I ha

[2017-12-31 02:48] gengjiawen commented on #3695
looks like this is a big repo, and the network speed is not poor. Maybe this is due to gfw.
[code]

[2017-12-31 02:51] gengjiawen commented on #2470
@shiftkey Can we provide an option in clone dialog to also clone the upstream if a repo is forked. I think in most cases you would want to do this to sync the code with upstream.

[2017-12-31 04:51] wind-soft commented on #3695
My network is not bad. Let me show you the report of speed test.
![u](https://user-images.githubusercontent.com/24189622/34459356-3a57f7ac-ee29-11e7-8c2f-a2b0387371a8.png)

[2017-12-31 04:59] gengjiawen commented on #3695
I mean the connection to `github.com`. You can try `git clone https://github.com/mrdoob/three.js` in cmd and see the result.

[2017-12-31 05:01] wind-soft commented on #3695
@shiftkey @iAmWillShepherd Do you have any idea?

[2017-12-31 05:13] wind-soft commented on #3695
I tried on my Mac. It stops, too.
@gengjiawen

[2017-12-31 05:16] gengjiawen commented on #3695
Have tried this in terminal. I still think it's because gfw. Try to use proxy on your mac if you are using something like `shadowsocks-ng`.

[2017-12-31 08:34] vincent3569 commented on #3704
if it may usefull, I saw another log file
[2017-12-30.desktop.beta.log](https://github.com/desktop/desktop/files/1595064/2017-12-30.desktop.beta.log)

and other fact:
on github, if I rename my fork (ie https://github.com/vincent3569/zenphoto-dev)
when I go to github desktop, after fetch/syn, I can see the commit
and if I use the 1rst name again (https://github.com/vincent3569/zenphoto-perso), I lo

[2017-12-31 10:38] shiftkey commented on #3695
This sounds like a networking issue if it's occurring on different OSes. If you're testing the clone from the command line (which GitHub Desktop is doing under the hood for both macOS and Windows) you can add extra diagnostics by providing additional environment variables:

[code]

Maybe this will help understand why `curl` is failing at that specific point...

[2017-12-31 10:40] shiftkey commented on #2470
@gengjiawen we implemented this in https://github.com/desktop/desktop/pull/3199 - please open a new issue if you're not seeing this work as expected!

[2017-12-31 10:47] shiftkey commented on #3702
@JilinGao thanks for the report!

The version of Git embedded in Desktop uses the Windows SChannel APIs for validating certificates as part of the HTTPS handshake. We've had various reports of this failing due to other tools being installed alongside, like anti-virus programs, or being behind some proxy servers.

As a workaround, you can revert to the classic OpenSSL behaviour by opening the repos

[2017-12-31 10:47] shiftkey commented on #3702
We're working on explaining this error better in #3406. Please follow along with that issue.

[2017-12-31 10:47] #3702 closed

[2017-12-31 10:51] shiftkey commented on #3703
@crspybits thanks for the feedback!

This is on our roadmap for the 1.3 release, so I'm going to roll this up into our tracking issue #2259. Please follow along with that issue!

[2017-12-31 10:51] #3703 closed

[2017-12-31 11:58] shiftkey commented on #3572
@DeepMac thanks for the extra details. There's a couple of things I'm not clear on here:

Can you recall the error you saw here? I can't see a corresponding commit message in the logs.

This screenshot is really interesting, because it looks like the index has an entry named `\` which is considered a blob (the internal representation of a file in the Git object database) rather than a tree (the in

[2017-12-31 11:59] #3572 closed

[2017-12-31 13:19] Bizarrus opened #3705 "Unable to locate Git"
### Description
I had brand new installed my `OS` (switch from `Win7` to `Win10`). After installing GitHub-Desktop, i want to open the Git-Bash from Menu. I had installed the latest Version of Git, both are installed as `x64` for Windows.

After installation and configurate the Git username/email, `GitHub Desktop` can't locate git.

### Version
**GitHub Desktop version:** 1.0.11
**OS version:** Wi

[2017-12-31 13:52] shiftkey commented on #3705
@Bizarrus can you open a Command Prompt run this command and add the output to this issue?

[code]

The error message reported here is because GitHub Desktop isn't able to find a Git on your `PATH` environment variable.

[2017-12-31 14:53] Bizarrus commented on #3705
Okay, it's **solved** because the Git-Installation is a little bit unclear.

Here you can select, if only Git on Git-Bash available or on other instances like CLI/CMD

[2017-12-31 14:53] #3705 closed

[2017-12-31 15:13] gengjiawen commented on #2470
@shiftkey Thanks.

[2017-12-31 17:36] soljurami commented on #3703
Hola desea conocer más a cerca de github y de git

[2017-12-31 17:37] soljurami commented on #3703
Porque he visto que es muy importante los y ser desarrolladores

[2017-12-31 19:15] DrZYin opened #3706 "Stretched Github Logo showing on Google"
If you search for github desktop in Google, you'll be greeted by a big stretched Github logo.

![image](https://user-images.githubusercontent.com/33326098/34463782-0c990138-ee35-11e7-97cb-e462c4d05676.png)

[2017-12-31 19:24] DeepMac commented on #3572
I'll see if I can reproduce it. The workstation in question has various corporate controls installed, could be some other culprit or interaction. Or creative abuse by the end-user, :}

[2017-12-31 22:39] crspybits commented on #3703
Awesome! :).

[2018-01-01 08:53] penCsharpener opened #3707 "Feature: Options > Git > manage multiple accounts"
It would be great to be able to manage multiple git credentials in the options.
Additionally it'd be nice to set an git credential override for each repository.

Otherwise when a user works with personal and work related accounts they always have to change between the accounts.

[2018-01-01 09:38] gmcclins opened #3708 "Add option during install to add git to path in Windows"
### Description

Enhancement request. Add an option during install on Windows to add git provided by desktop to path. This will allow users to also use git from the command line. Also, it will satisfy Visual Basic Codes git check and will allow version control using git.exe provided by desktop from Visual Basic Code.

### Current Setup

**GitHub Desktop version:** 1.0.11

**OS:** Windows 10 Pro

*

[2018-01-01 11:42] j-f1 commented on #3708
The version of git we bundle has many features removed so we can have a smaller download size. This makes it a poor candidate for use outside of Desktop, since we might remove features of git we don’t use at any time without warning.

[2018-01-01 12:53] Samuelvey commented on #3698
This is useful and learning practice.

[2018-01-01 13:00] shiftkey commented on #3706
@DrZYin nice find! I'm not quite clear how to reproduce this myself as I don't get the banner header myself when I do the same search:

<img width="913" src="https://user-images.githubusercontent.com/359239/34467799-9a8982dc-eed1-11e7-910e-d2196940e745.png">

I gather this is being picked up from one of the `icon` elements on the website:

[code]

If anyone has pointers to Google resources about h

[2018-01-01 17:30] shiftkey commented on #3708
@gmcclins thanks for the suggestion. We made a conscious decision back in the early days of GitHub for Windows to not tamper with your existing environment unless absolutely necessary, and this is one of those cases.

While it seems convenient to do this, it actually introduces a whole lot of problems:

 - the path to our embedded version of Git is tied to the specific version of Desktop - wheneve

[2018-01-01 17:30] #3708 closed

[2018-01-01 20:14] j-f1 commented on #3708
Would it be possible to / should I open an issue for printing out a warning if you attempt to use the integrated git outside of Desktop?

[2018-01-01 20:51] rckrueger commented on #3263
josh thanks a million - that lock/unlock trick was the best!!!

[2018-01-01 20:59] shiftkey commented on #3708
@j-f1 nah, I don't think the effort required to do this is worth it

[2018-01-01 22:05] gmcclins commented on #3708
Thank you for the review and taking the time to explain in detail.

[2018-01-02 13:35] houghtonap opened #3713 "Unable to access repository over HTTPS"
### Description

Tried to clone a repository using a URL and it hung for a while, then came back with a fatal message indicating that it was unable to access the repository.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** Windows 7

### Steps to Reproduce

1. Go to repository in GitHub in browser
1. Click the Clone or Download button
1. Select Use HTTPS link
1. Copy URL
1. Activa

[2018-01-02 15:19] tierninho commented on #3706
Try adding the word "download".  Might be geo based result, but don't see why.

<img width="760" alt="screen shot 2018-01-02 at 7 18 32 am" src="https://user-images.githubusercontent.com/14828183/34488387-31776824-ef8d-11e7-9dbf-e12f738fcbf7.png">

[2018-01-02 15:33] j-f1 commented on #3706
Repro with “github desktop download.” It seems to be trying to fit [this image](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATYAAACjCAMAAAA3vsLfAAAAkFBMVEX///8yMTEvLi4sKyspKCgjIiImJSUXFRUAAAASEBAaGBgdGxsYFhYfHh719fX6+vrv7+/Dw8Pn5+dGRUU8OzvJycnp6em2trZxcHBdXFzh4eHZ2dkJBgZhYWHQ0NBzc3Ojo6M5ODiurq5VVVWEhISVlZW0tLSQkJBNTExpaGicnJx9fHy+vr5CQUGJiIhQUFAolwb6AAAKTElEQVR4nO2dWWOiMBCAJVxGBG+tiko9qmBt//+/W/

[2018-01-02 16:07] kimmiekim commented on #2408
Hi I can't find the link to the classic Windows app. Can you please provide the link? I need to install git_shell. Thanks!

[2018-01-02 16:17] kimmiekim opened #3714 "How to download git_shell for windows."
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** 1.0.11

### Steps to Reproduce

1. [First step] install 1.0.11
1. [Second step] try to find git_shell
1. [and so on]

**Expected behavior:** find git_shell.exe installed with the desktop

**Actual behavior:** no git shell found anywhere

**Reproduces how often:** [What percentage of the time does it reproduce?]

[2018-01-02 16:21] j-f1 commented on #3714
Does [Git for Windows](http://gitforwindows.org/) work for you?

[2018-01-02 16:27] kimmiekim commented on #3714
yes, have that already installed

[2018-01-02 16:30] shiftkey commented on #3714
Git Shell was not ported over as part of the Electron Desktop client. See #340 for more context.

[2018-01-02 16:30] #3714 closed

[2018-01-02 16:51] tierninho commented on #3706
@shiftkey
Seems like you have to officially register the domain with Google, and upload the logo and follow the guidelines in order to have a custom logo:
https://developers.google.com/search/docs/guides/enhance-site
https://developers.google.com/search/docs/guides/sd-policies

[2018-01-02 18:38] tierninho commented on #2408
@kimmiekim try here: https://github-windows.s3.amazonaws.com/GitHubSetup.exe

[2018-01-02 19:12] kimmiekim commented on #2408
exactly what i was looking for! thanks so much! @tierninho

[2018-01-02 21:20] mark-friedman opened #3715 "Can't pull latest from repo which was forked form a now deleted repo"
### Description

Clicking "Fetch origin" on a branch of a repo which was forked from a now deleted repo yields an error.

### Version

**GitHub Desktop version:** 1.0.12-beta0

**OS version:** macOS 10.13.2

### Steps to Reproduce

1. Switch to the repo
1. Select the master branch
1. Click on "Fetch origin"

![screen shot 2018-01-02 at 1 08 12 pm](https://user-images.githubusercontent.com/1743690/

[2018-01-02 22:01] Oli3110 opened #3716 "Github Desktop NOT working"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-02 22:01] #3716 closed

[2018-01-02 22:05] shiftkey commented on #3715
@mark-friedman thanks for the details!

As a workaround, you can open the repository in a shell and run this command to stop tracking the now-missing remote repository:

[code]

[2018-01-02 22:11] tierninho opened #3717 "Too many Undo clicks results in Git Lock"
Hitting the `undo` button too fast results in a git lock dialogue:
<img width="599" alt="34125520-556fbf5e-e3eb-11e7-947c-b5c5de199719" src="https://user-images.githubusercontent.com/14828183/34502033-9029f8c6-efc6-11e7-8f08-db32ed920ff3.png">

You can reproduce by committing multiple changes, then hitting the `undo` button rapidly.

Related to: https://github.com/desktop/desktop/issues/3630

mac

[2018-01-02 22:16] tierninho opened #3718 "Grey out the Menu when Git Lock dialogue present"
The Git Lock dialogue does grey out the menu items when active. I can still access and click on the menu items but nothing happens... (as intended).

Trigger the Git Lock dialogue by hitting the `undo` button too fast in the Changes tab.

<img width="599" alt="34125520-556fbf5e-e3eb-11e7-947c-b5c5de199719" src="https://user-images.githubusercontent.com/14828183/34502253-8a66e4c0-efc7-11e7-92f4-c9d

[2018-01-02 22:51] mark-friedman commented on #3715
Thx, @shiftkey!

[2018-01-03 03:45] GhostofGoes commented on #2885
It would be nice to still have the ability to use the old version, as the new version seems to still have kinks to work out.

For me, on Windows, The location of git.exe moves with every update, breaking any applications that I have configured to use it. Additionally, every time git is used from an external application, GitHub Desktop will open and make itself the primary selected window.

Point i

[2018-01-03 06:32] dayleparker commented on #1685
+1, I would love to see this implemented.

[2018-01-03 11:39] j-f1 commented on #2885
@GhostofGoes The changing location is intentional — the packaged Git binary is not intended for use outside of GitHub Desktop. See https://github.com/desktop/desktop/issues/3708#issuecomment-354665183 for some more explanation.

[2018-01-03 12:33] shiftkey commented on #2885
@GhostofGoes

Please ensure you've provided feedback to us about problems or things that are missing.

This was the same with Desktop Classic. If you want a proper Git command line experience please install [Git for Windows](https://git-for-windows.github.io/) - they've actually implemented auto-update checks which will be enabled for everyone Very Soon™, which was one of the things people loved a

[2018-01-03 12:56] shiftkey commented on #3713
@houghtonap thanks for the details!

The configured proxy server needs to be set as part of Git's global configuration. See https://stackoverflow.com/a/19213999/1363815 for a walk-through of how to set this.

Unfortunately Git isn't quite clear that this is a proxy error, rather than a generic network error. We're tracking making the application handle this better in #3294.

[2018-01-03 12:56] #3713 closed

[2018-01-03 15:57] ofek commented on #3599
@joshaber This also affects us at @DataDog since we use NAME/SOME-FEATURE naming.

ex. https://github.com/DataDog/integrations-core/branches

[2018-01-03 16:38] GhostofGoes commented on #2885
Understood, thanks all for the info on embedded git. I'll collect the other problems I'm having and create a separate issue sometime in the future.

[2018-01-03 18:45] tierninho opened #3720 "Update `gitignore` dialogue if not on default branch"
Add differentiating text to the `gitignore` dialogue if the user is not on the default branch.

As each branch can have its own `gitignore`, the Repo Settings > Ignored Files text should have a subtle confirmation to the user that they are saving a `gitignore` file only for that branch.

<img width="597" alt="screen shot 2018-01-03 at 10 38 19 am" src="https://user-images.githubusercontent.com/148

[2018-01-03 19:26] William5553 opened #3721 "Files in .gitignore shows in GitHub Desktop and commits on Initial Commit"
### Description

Whenever I open GitHub Desktop it keeps asking me to commit files that are in the .gitignore file.

### Version

**GitHub Desktop version:** 1.0.11

**OS version:** Microsoft Windows [Version 10.0.16299.125]

### Steps to Reproduce

1. Launch GitHub Desktop
2. Look on sidebar of repository
3. Files that should not be there are there

**Expected behavior:** The files wouldn't be th

[2018-01-03 19:33] vendredvd commented on #2737
La boutique en ligne Vendredvd a pour but de mettre en relation des acheteurs avec des produits informatiques. Créé en 2011, vous avez sûrement déjà du entendre parler du site www.vendredvd.com. En effet, on y trouve des produits neufs ou d'occasions dans de nombreux domaines. Si vous êtes à la recherche d'une pièce informatique, pas de problème avec la boutique en ligne Vendredvd. Ce site fera ég

[2018-01-03 20:06] shiftkey commented on #3721
@William5553 you'll need to provide some more details about this to troubleshoot this properly:

 - the contents of the `.gitignore` file at the root of the repository
 - the file names that are marked as ready to commit
 - whether these files are already tracked by Git - changes to `.gitignore` won't affect these files, and they'll need to be deleted (and committed) before they'll be affected

[2018-01-03 20:11] William5553 commented on #3721
.gitignore:
`# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.rar`
File names: eclipse and .idea
Yes

[2018-01-03 20:20] shiftkey commented on #3599
For reference, this came in way back in #526:

[code]

I wasn't aware of us doing this `string.replace(/--+/g, '-')` in the classic Windows app. While it does make multiple invalid characters condense down, it also affects multiple dashes.

cc @Haacked  for any extra input

[2018-01-03 20:23] #3721 closed

[2018-01-03 21:24] Haacked commented on #3599
Yeah, that approach was meant to condense multiple invalid characters into one dash, but it's the wrong implementation since it doesn't factor in dashes that are intentional.

It's probably overly prescriptive in the first place. I think you could probably remove that `string.replace(/--+/g, '-')` line.

[2018-01-03 21:33] tierninho opened #3722 ""Disallowed username" error message is partially persistent"
Looks like a change from https://github.com/desktop/desktop/pull/3590 is briefly showing up when I access the Prefs window.

It flashes for a 10th of a second when I open the window, then disappears.

<img width="1280" alt="screen shot 2018-01-03 at 1 27 38 pm" src="https://user-images.githubusercontent.com/14828183/34540740-7dce7570-f08a-11e7-8bef-b8b94fd68bf6.png">

OSX 1.0.12-beta0

[2018-01-03 21:53] jmmendivil commented on #2490
Now the problem is that it does a commit on the full file, not only on the selected lines.

[2018-01-03 22:15] j-f1 commented on #2490
@jmmendivil Can you open a new issue and fill out the template so we can figure out what’s going on?

[2018-01-03 22:48] jmmendivil commented on #2490
@j-f1 My fault, seems like a [lint-staged issue](https://github.com/okonet/lint-staged/issues/62)

[2018-01-04 05:44] TheRedSpy15 opened #3723 "Asking to publish repo on desktop, even though it already exists"
### Description

Trying to push an update to a branch on my repo, and I keep getting an error window for each change. It's also thinking that the repo doesn't exist and asking if I want to publish the repo

### Version

**GitHub Desktop version:** [1.0.11]

**OS version:** Windows 10.0.16299

### Steps to Reproduce

1. [open local folder through client]
1. [Delete and replace files]
1. [close wind

[2018-01-04 05:47] TheRedSpy15 commented on #3723
**Logs**

[2018-01-04.desktop.production.log](https://github.com/desktop/desktop/files/1602514/2018-01-04.desktop.production.log)

[2018-01-04 09:37] Zaelot commented on #2183
I'd also like to add a request for the ability to sort the files in **Changes** by _File Type_ as well as the _Type of Change_ (and possibly by date too).
(Later that would probably be handy for the **History** too.)

[2018-01-04 11:21] shiftkey commented on #3599
If someone wants to have a go at contributing, this change and an additional regression test in [`app/test/unit/sanitize-test-name-test.ts`](https://github.com/desktop/desktop/blob/master/app/test/unit/sanitize-test-name-test.ts) should be enough to close this out.

[2018-01-04 11:24] shiftkey commented on #2490
FYI @jmmendivil this is a known limitation: https://github.com/desktop/desktop/issues/1831#issuecomment-305826579

[2018-01-04 11:29] shiftkey commented on #3723
@TheRedSpy15 thanks for the details. It appears to be that every attempt to spawn Git is errorring with the same exit code:

[code]

That exit code doesn't look familiar to me at first glance.

Could you try uninstalling Desktop, clearing `%LOCALAPPDATA%\GitHubDesktop\` and installing again to see if it's repeatable?

[2018-01-04 13:11] JoFAM opened #3724 "Overall very slow response of Github Desktop GUI."
### Description
Github Desktop on Windows runs very slow and is hardly responsive. Switching between Changes and History takes 3-15 seconds. Opening the selector for the repositories takes multiple seconds as well. Basically every single step takes ages, but my CPU usage never exceeds 4-5%.

### Version

**GitHub Desktop version:** 1.0.11
**OS** : Windows 10 - 1709 OS build 19299.125
**GPU 1** : N

[2018-01-04 16:59] thenninger commented on #1685
+1 Yes, Please! I need this right now actually.

[2018-01-04 18:03] TheRedSpy15 commented on #3723
I have uninstalled and reinstalled, and the issue persists

Strangely, I was automatically signed in when I reinstalled it

I did sign out and sign back in manually

and that didn't fix it either

[2018-01-04 18:16] TheRedSpy15 opened #3725 "Can't change settings without signing into git"
### Description

[I want to turn off sharing usage data, but I can't save the settings without signing into git. I get a red banner saying: "Git name field cannot be a disallowed character", I don't have a git account, so this puts me in a bad spot.]

### Version

**GitHub Desktop version:** [1.0.11]

**OS version:** [Windows 10.0.16299]

### Steps to Reproduce

1. [Open settings]
1. [uncheck shar

[2018-01-04 18:17] TheRedSpy15 commented on #3725
I would like to add, I have reinstalled the client

I will try another version, and post here with my findings

[2018-01-04 18:18] TheRedSpy15 commented on #3723
I'm gonna try another version, and post here with my findings

[2018-01-04 18:25] tierninho commented on #3725
@TheRedSpy15 The error you are encountering has been filed here: https://github.com/desktop/desktop/issues/3722 so it will be fixed. For now, I suggest the older build as you mentioned, as the "disallowed character" was a recent change.

Per your issue with usage tracking. Please open the Developer Tools under the View menu. Access the Application tab, Local Storage session, and change the `Stats-

[2018-01-04 18:44] shiftkey commented on #3723
The install location for GitHub Desktop is found `C:\Users\{name}\AppData\Local\GitHubDesktop\` where `{name}` is your account name

This is because Electron apps will store their user data (not the install files) under `%APPDATA%`, so it is isolated from application updates.

[2018-01-04 19:51] tierninho opened #3726 "Cmd-R won't open `Create Pull Request` if Dev Tools open"
If you hit `cmd-R` when the dev tools module is open, it will reload the app instead creating a PR.

OSX, 1.0.12-beta0

[2018-01-04 20:01] shiftkey commented on #3726
It's a [documented shortcut](https://developers.google.com/web/tools/chrome-devtools/shortcuts) in the DevTools:

<img width="818" src="https://user-images.githubusercontent.com/359239/34581840-477883ba-f168-11e7-9127-c9cf2c8041e8.png">

I don't think we can do much about this in this situation, and I think we handle this fine when DevTools isn't open which is more important.

[2018-01-04 20:40] tierninho commented on #3726
Sounds good, closing this...

[2018-01-04 20:40] #3726 closed

[2018-01-04 20:53] TheRedSpy15 commented on #3723
Ok, apparently my appdata folder was marked as hidden (no idea why)

I deleted the folder inside appdata\local and the repo folder under documents, and to top it off, I reinstalled it again

And I still have the issue

I also get errors when trying to clone the repo through the client

Is there a way for me to get a installer for 1.0.12 beta? or even 1.0.10?

[2018-01-04 20:54] #3725 closed

[2018-01-04 20:59] tierninho commented on #3723
https://s3.amazonaws.com/github-desktop/releases/1.0.10-8910675f/GitHubDesktopSetup.exe

[2018-01-04 23:10] TheRedSpy15 commented on #3723
Hm, with 1.0.10, I get this error when trying to clone my repo form github

"WARNING: 'git lfs clone' is deprecated and will not be updated
          with new flags from 'git clone'

'git clone' has been updated in upstream Git to have comparable
speeds to 'git lfs clone'.
fatal: could not create leading directories of 'C:\Users\Hunter\Documents\GitHub\The-Trail': No such file or directory
Error(s

[2018-01-04 23:15] TheRedSpy15 commented on #3723
Hm, with 1.0.10, I get this error when trying to clone my repo form github

"WARNING: 'git lfs clone' is deprecated and will not be updated
with new flags from 'git clone'

'git clone' has been updated in upstream Git to have comparable
speeds to 'git lfs clone'.
fatal: could not create leading directories of 'C:\Users\(USERNAME)\Documents\GitHub\The-Trail': No such file or directory
Error(s) duri

[2018-01-05 03:55] robotnikthingy commented on #1863
Having the same problem and came accross this when doing a google search. Im on a fresh Windows 10 install, and I have this in my SquirrelSetup file

`2018-01-04 20:48:02> Program: Starting Squirrel Updater: --createShortcut GitHubDesktop.exe -l StartMenu,Desktop
2018-01-04 20:48:02> ApplyReleasesImpl: About to create shortcuts for GitHubDesktop.exe, rootAppDir C:\Users\admin\AppData\Local\GitHubD

[2018-01-05 12:16] shiftkey commented on #3724
@JoFAM thanks for the performance log file - it definitely shows some interesting details I haven't encountered before. I've got a Windows 10 VM (4GB RAM, 2 CPU) running build `10.0.16299.192` and I'll use that to contrast the typical behaviour of the app.

The "select repository" operation seems to be constrained by two spawn operations - which are retrieving the list of branches for the app - th