[2017-04-24 21:22] #1278 closed, assigned to joshaber

[2017-04-24 23:56] #1048 closed, assigned to nobody

[2017-04-24 23:56] #1053 closed, assigned to nobody

[2017-04-25 09:27] #1280 closed, assigned to joshaber

[2017-04-25 09:38] niik opened #1288 "A space character is not a valid branch name"
![image](https://cloud.githubusercontent.com/assets/634063/25378760/4b5c1788-29ab-11e7-9a91-7084d6ca5072.png)

Typing a single space character in the branch dialog seems to indicate that the branch can be created. We have a check that prevents us actually attempting to create it so the create button doesn't do anything but we should disable the button and not show the error when the branch name is

[2017-04-25 13:33] #519 closed, assigned to iAmWillShepherd

[2017-04-25 17:57] #1137 closed, assigned to niik

[2017-04-25 18:37] tierninho opened #1294 "Uncaught exception on UI - ERROR: Bug in Octokat cacheHandler"
Found this bug in my Mac production logs, but no idea how to produce it as it surfaced long after the fact. Feel free to close it if it doesn't provide enough data. Build likely is 0.0.33, OSX 10.11.5

2017-04-20T22:27:02.766Z - error: Uncaught exception on UI
2017-04-20T22:27:02.769Z - error:  - name: Error
2017-04-20T22:27:02.770Z - error:  - message: ERROR: Bug in Octokat cacheHandler for path

[2017-04-25 18:38] #1294 closed, assigned to nobody

[2017-04-25 18:57] #898 closed, assigned to joshaber

[2017-04-25 21:26] tierninho opened #1297 "Commit messaging, TNG vs dotcom"
1) Noticed that a user can commit code with an empty summary if they enter a [space] into the field, along with a description. Perhaps we can block summaries that begin with [space]?
![screen shot 2017-04-25 at 2 07 42 pm](https://cloud.githubusercontent.com/assets/14828183/25408181/f3cf7868-29c1-11e7-9983-dd8e18f0e3e0.png)

If user tries this same hack and does not enter a description, they are b

[2017-04-26 06:06] shiftkey opened #1300 "handling timeout on fetch instead of displaying a white window"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can recreate the issue on our end.

#### Installed Version

0.0.35

#### Operating System

`Microsoft Windows [Version 10.0.15063]`

#### Steps to reproduce

Please provide a list of instructions to recreate the issue. If the issue
involves a specific public repository, including the information

[2017-04-26 06:37] shiftkey opened #1301 "VSCode debugging is macOS-specific"
In `.vscode/launch.json`:

I guess we need to make these platform-specific

[2017-04-26 06:48] shiftkey opened #1302 "VSCode - renderer debugging currently not supported"
<img width="1042" src="https://cloud.githubusercontent.com/assets/359239/25421354/dec175c8-2a9f-11e7-84cd-0ae51176864b.png">

I'm running VSCode 1.11.2 on macOS. Haven't checked on Windows if it's also broken there.

cc @iAmWillShepherd for if you're seeing the same thing

[2017-04-26 07:09] #975 closed, assigned to joshaber

[2017-04-26 13:52] #1283 closed, assigned to shiftkey

[2017-04-26 13:56] #980 closed, assigned to shiftkey

[2017-04-26 14:19] joshaber opened #1304 "Create Branch dialog gets re-rendered while it is closing"
1. Checkout the default branch.
2. File > New Branch...
3. Create a new branch.
4. Watch as the dialog disappears. It gets re-rendered to a different appearance based on being on the new branch. It's kinda jarring.

[2017-04-26 19:23] joshaber opened #1306 "Select first changed file if there are no selected file"
1. Have 2 changed files.
1. Click on one file and commit it.

Expected: the single remaining changed file would be selected.
Actual: no file is selected.

This recently regressed.

[2017-04-26 22:39] tierninho opened #1308 "Fatal: refusing to merge unrelated histories"
Pushing a local repo that begins with a [space] to dotcom, creates a repo on dotcom called https://github.com/tierninho-tester/-.git

You can have two identical origins, which results in one getting `fatal: refusing to merge unrelated histories`

<img width="825" alt="f425a25e-2a90-11e7-8637-8789b621c303" src="https://cloud.githubusercontent.com/assets/14828183/25460062/72e47f52-2a96-11e7-8c30-4a7

[2017-04-27 00:34] #1136 closed, assigned to iAmWillShepherd

[2017-04-27 03:53] #552 closed, assigned to nobody

[2017-04-27 05:28] #520 closed, assigned to nobody

[2017-04-27 14:16] niik opened #1310 "We're not handling added in index + deleted in working directory"
As I was updating [mapStatus](https://github.com/desktop/desktop/blob/54b351bb2c94d4b64c1a553bf78515ca46e2b0a4/app/src/lib/git/status.ts#L35-L63) to work with the new porcelain v2 parser in #1305 I noticed that we didn't have a special case for `AD` which is added in index and deleted in work-tree.

This isn't your typical status which is probably why we ignored it in the first place.

[code]

We

[2017-04-27 14:37] #254 closed, assigned to nobody

[2017-04-27 14:53] #1288 closed, assigned to iAmWillShepherd

[2017-04-27 15:18] maddox opened #1311 "Weird order of buttons and default focus on dialog boxes"
Ever since starting to use Desktop TNG, the "discard changes" dialog box has been tripping me up. I realized that it's because it's not following macOS HIG. So it's buttons are in a different order than every other dialog/warning box on the system.

<img width="444" alt="screen shot 2017-04-27 at 11 11 37 am" src="https://cloud.githubusercontent.com/assets/260/25490339/87c2b804-2b3a-11e7-83fd-5708

[2017-04-27 15:55] joshaber opened #1312 "Remove git timing logging?"
I think we should remove our [git timing logging](https://github.com/desktop/desktop/blob/41f16c2625acd793b15cceb768dd6d060cc19d14/app/src/lib/git/core.ts#L118).

It was useful in the early days as a sanity check to make sure we didn't do anything too dumb. But now it's mostly noise. If we're interested in git performance, [GitPerf](https://github.com/desktop/desktop/blob/master/app/src/ui/lib/git

[2017-04-27 18:19] buckelij opened #1313 "initial sign in with a token does nothing"
After installing, when prompted to login, attempting to use a personal access token as your password gives no feedback and does not login.

#### Installed Version

**GitHub Desktop version:** 0.0.35

#### Operating System

**OS version:** 10.0.14393

#### Steps to reproduce

 1. Install
 2. Try to authenticate with a token on first login.

#### Expected Behaviour

I understand now that it either n

[2017-04-27 18:38] tierninho opened #1314 "Deleting a "master" branch"
On a first attempt at deleting a "master" branch, aka "branchhhh" results in error:
![screen shot 2017-04-27 at 11 34 16 am](https://cloud.githubusercontent.com/assets/14828183/25498607/7c4e700a-2b3d-11e7-84c5-bd8b732c674e.png)

Note, this is related to issue #1028 as "branchhhh" is the master branch according to dotcom and not Desktop. Should I expect this error to still occur if the master branc

[2017-04-27 20:38] #356 closed, assigned to nobody

[2017-04-28 14:03] #1241 closed, assigned to niik

[2017-04-28 16:16] niik opened #1321 "Potential never-ending IPC loop when updating menus on Windows"
In https://github.com/desktop/desktop/commit/c8e772bb115e1afcd18f3c2d0cccfcd15fd488b0 I added a safety-measure to disable the create branch menu item if (for whatever reason) we do not have a valid `Tip` for the repository.

The problems is that [just before that](https://github.com/desktop/desktop/blob/c8e772bb115e1afcd18f3c2d0cccfcd15fd488b0/app/src/ui/app.tsx#L219) we set that menu item (it's p

[2017-04-28 16:34] #1300 closed, assigned to nobody

[2017-04-28 17:47] tierninho opened #1323 "Desktop crashes if you Reload while downloading update"
Desktop crashes if you Reload while downloading update. Reproduce by initiating a download, then select Reload.. it takes a sec but will crash the app.

v0.0.035, OS X 10.11.5

Maybe be moot if we drop the Reload menu item (believe this is on the roadmap pre-beta).

Logs:

Process:               GitHub Desktop [57168]
Path:                  /Applications/GitHub Desktop.app/Contents/MacOS/GitHub De

[2017-04-28 20:56] #1253 closed, assigned to niik

[2017-04-28 22:13] tierninho opened #1325 "a better error message when pull occurs on non-existent upstream branch"
I created a repo on dotcom with multiple branches, then cloned it on Desktop. I eventually deleted one of the branches on dotcom, and did a fetch on Desktop.

As expected, Desktop asked me to publish this branch to dotcom. However, I did a pull on the branch while still in the same status, and I got this error:

`Your configuration specifies to merge with the ref 'refs/heads/tierninho-patch-1'
fro

[2017-04-29 06:41] #1311 closed, assigned to joshaber

[2017-04-29 07:11] #1089 closed, assigned to nobody

[2017-05-01 00:32] shiftkey opened #1326 "handle "white window" scenario better in the app"
We've had a few reports of this being triggered by specific unhandled errors in the app:

 - #1300 - Git operation timeout or API issue
 - #1106 - unhandled exception on renderer process, nothing displayed to the user
 - #1044 - an unhandled "network changed" error on the main process while updating

While we've been handling these specific scenarios as well as introducing #1198 to display more in

[2017-05-01 00:43] shiftkey opened #1327 "show minimal menu when rendering static error page"
As part of #1198 we may display a browser window if the main window hasn't been launched.

https://github.com/desktop/desktop/blob/66d2b7abde4480711c89724b34de7d1cfee22555/app/src/main-process/error-page.ts#L52

We should ensure that a minimal menu is created and applied here - basically an `File -> Exit` menu item on Windows and a `GitHub Desktop -> Quit GitHub Desktop` on macOS.

[2017-05-01 02:32] shiftkey opened #1330 "update panel is vertically compressed on Windows"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can recreate the issue on our end.

#### Installed Version

**GitHub Desktop version:** 0.0.35

#### Operating System

**OS version:** Windows 10.0.15063

#### Steps to reproduce

Please provide a list of instructions to recreate the issue. If the issue
involves a specific public repository, incl

[2017-05-01 02:39] shiftkey opened #1331 "overlap between repository switcher and branch selector"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can recreate the issue on our end.

#### Installed Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item.

**GitHub Desktop version:** 0.0.36

#### Operating System

 - If you are on macOS, launch `About This Mac` and write down the

[2017-05-01 14:52] #1106 closed, assigned to shiftkey

[2017-05-01 18:05] #487 closed, assigned to nobody

[2017-05-01 22:25] donokuda opened #1338 "Design Sync-up Agenda (May 9)"
We (@niik and @donokuda) won't be able to sync up this week due to holiday and travel schedules; however, I'll still open up this issue for tracking ongoing design work. **This sync-up is also scheduled for after our planned beta ship**; therefore, let's treat this as an on-going to do list as well as an agenda!

**Action items from [last week](https://github.com/desktop/desktop/issues/1276)**

-

[2017-05-01 22:25] #1276 closed, assigned to donokuda

[2017-05-02 02:50] joshaber opened #1340 "Remove debug menu items in production builds"
We should remove the "Reload" and "Debug Shared Process" menu items for production builds.

I'm kinda torn on "Toggle Developer Tools." On the one hand, most users won't need it. On the other hand, I don't think there's any harm to exposing it for the curious users, and it'd probably be useful for debugging/support. So I lean towards keeping it.

Thoughts?

[2017-05-02 03:23] shiftkey opened #1341 "warning about unrecognized element "aria-role" in dev mode"
Build: da6b02f23d3b
OS: Windows 10

And error about the use of `aria-role` gets dumped in the console when running in development mode:

[code]

This is the element it points to in the stack trace: https://github.com/desktop/desktop/blob/da6b02f23d3bb94ecd939ee236efe1aedaf619bd/app/src/ui/octicons/octicon.tsx#L71

Not sure what it should be ported to.

[2017-05-02 03:24] shiftkey opened #1342 "use prop-types package instead of main react package for accessing prop types"
Build: da6b02f23d3b
OS: Windows 10

This error gets dumped in the console when running in development mode:

Not sure what versions this was introduced, or how much work is required, but here's what I get after a fresh `npm install`: https://gist.github.com/shiftkey/d4fe49d2424c040aa1c0e63dd8edb686

Relevant react packages:

[code]

[2017-05-02 04:52] joshaber opened #1345 "Not enough bottom padding on commit descriptions"
1. Go to History.
2. Click on a commit with a description.

There's more padding on the top than the bottom 😑

<img width="326" alt="screen shot 2017-05-02 at 12 50 05 am" src="https://cloud.githubusercontent.com/assets/13760/25604442/6a52a5c8-2ed1-11e7-8651-2ee8f483971a.png">

[2017-05-02 11:56] #1047 closed, assigned to shiftkey

[2017-05-02 12:50] #1313 closed, assigned to shiftkey

[2017-05-02 12:51] #1028 closed, assigned to shiftkey

[2017-05-02 12:51] #1314 closed, assigned to shiftkey

[2017-05-02 13:18] #1331 closed, assigned to niik

[2017-05-02 13:22] tierninho opened #1348 "Communication of update downloads"
Noticed that in the dropdown we communicate to the user the we are downloading the update, but no such messaging is in the Prefs pane. Not a bug, just wanted to raise the issue in case changes are to be made.

Maybe, the "last checked 7 hours ago" comment should say "downloading"?

<img width="875" alt="screen shot 2017-05-02 at 9 19 04 am" src="https://cloud.githubusercontent.com/assets/14828183/

[2017-05-02 14:27] #1031 closed, assigned to nobody

[2017-05-02 14:27] #1251 closed, assigned to nobody

[2017-05-02 14:27] #1323 closed, assigned to nobody

[2017-05-02 14:27] #1340 closed, assigned to joshaber

[2017-05-02 15:19] #970 closed, assigned to shiftkey

[2017-05-02 16:56] joshaber opened #1349 "Add troubleshooting menu items to Help"
@shiftkey pointed out in https://github.com/desktop/desktop/issues/1340#issuecomment-298486312 that Slack has some nice troubleshooting aids in their Help menu:

<img width="375" alt="add63812-2f37-11e7-8db0-c486f26782c0" src="https://cloud.githubusercontent.com/assets/13760/25629210/c3f4182c-2f36-11e7-9d13-4d0da54e9582.png">

We should absolutely copy some of those.

[2017-05-02 19:00] tierninho opened #1350 "Don't show sign in buttons in the Welcome flow if they're already signed in"
On the Welcome flow, if a user signs in with their account, and then goes to the Git Credentials page and clicks `cancel`, I noticed that the the Sign-in links, `Sign into Github.com` and `Sign into Github Enterprise`, are still available to click.

Should we allow the user to sign-in again at this point, as the account credentials has been accepted? I mention this because I can sign in with the b

[2017-05-02 19:15] tierninho opened #1351 "Storing bad git config values"
When going through the signup flow, I noticed that if I enter bad Git credentials, that they are stored if I were to go through the Welcome flow again. (I dumped my Application Support > GitHub Desktop directory to reset the process.)

Can we pull Git credentials from somewhere reliable? Or reset these fields each time user goes through the process?

Secondly, should we block periods (.), other ch

[2017-05-02 19:44] #1112 closed, assigned to donokuda

[2017-05-02 21:09] joshaber opened #1352 ""Last fetched" gets truncated pretty easily"
I have lots of horizontal room. It seems silly to truncate it so soon.

<img width="295" alt="screen shot 2017-05-02 at 5 08 01 pm" src="https://cloud.githubusercontent.com/assets/13760/25639458/fdf3d954-2f59-11e7-9adb-878b993f19f7.png">

[2017-05-03 03:08] #551 closed, assigned to nobody

[2017-05-03 04:18] #264 closed, assigned to nobody

[2017-05-03 05:09] shiftkey opened #1355 "tslint has feelings about trailing commas and so do i"
I wanted to get to the bottom of what's involved with getting us up to date with `tslint`.

Here's the spike branch that gets most of the way: https://github.com/desktop/desktop/compare/bump-tslint-pray-for-mojo?expand=1

This branch:

 - updates us to `tslint` 4.5.1 (almost latest)
 - gets us back in sync with `tslint-microsoft-contrib` (which doesn't run on `tslint` 5.x currently)
 - drops our c

[2017-05-03 15:22] iAmWillShepherd opened #1357 "Tracking more measures"
I propose we start tracking
* Number of repos
* Number of repos hosted on GitHub
* How often a user resorts to opening the command line from our app

These were tracked in the original app, so all the same reasons to include them then apply here.

[2017-05-03 16:54] tierninho opened #1359 "Merge 0 commits into a branch?"
Should we activate the `merge into` button if there are 0 commits that will merge?

<img width="419" alt="screen shot 2017-05-03 at 12 52 10 pm" src="https://cloud.githubusercontent.com/assets/14828183/25671863/78f8cf2e-2fff-11e7-9c2f-90f6f5b936a0.png">

v0.0.37, OS X 10.11.5

[2017-05-03 22:45] #1352 closed, assigned to donokuda

[2017-05-03 22:46] #1341 closed, assigned to joshaber

[2017-05-04 01:32] shiftkey opened #1364 "git commits with machine name for user.email if missing config"
#### Installed Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item.

**GitHub Desktop version:** 0.0.37

#### Operating System

 - If you are on macOS, launch `About This Mac` and write down the OS version
   listed.
 - If you are on Windows, open `Command Prompt` and attach the output of this
   command*: `cmd /c ver`

**OS version

[2017-05-04 10:23] #1351 closed, assigned to nobody

[2017-05-04 12:50] #918 closed, assigned to joshaber

[2017-05-04 13:22] joshaber opened #1367 "Merge conflicts message comment is included in the final commit message"
1. End up in a merge conflict.
2. Commit the resolution using the app, with the auto-populated commit message.

Expected: The commit description lines prefixed with `#` are ignored.
Actual: They're included.

[code]

So we must be doing something weird that prevents git from ignoring them.

![screen shot 2017-05-04 at 9 16 42 am](https://cloud.githubusercontent.com/assets/13760/25705208/8c35b5a6-3

[2017-05-04 13:23] joshaber opened #1368 "Launch checklist"
**May 16 @ 10am PST**

#### Launch
- [x] Land docs changes (@bwestover)
- [x] [Scrub](https://github.com/desktop/desktop-secrets/issues/1) (@joshaber)
- [x] Flip the open source switch (@joshaber)
- [x] Merge the [beta landing page PR](https://github.com/github/desktop.github.com/pull/53) (@donokuda)
- [x] Publish the [GitHub engineering blog post](https://github.com/github/githubengineering/pull/

[2017-05-04 13:23] #1156 closed, assigned to joshaber, donokuda

[2017-05-04 14:08] tierninho opened #1369 "Allow user to cancel pending Enterprise connection"
If user attempts to connect to an Enterprise server via the browser function, the user should be able to click the `cancel` button in the popup. Yes, the user can click the `X`, but the greying out the `cancel` button is not clear to what actions the user can take.

I got to this point after backing out of the Enterprise OKTA process b/c I was too lazy to go look up the login credentials.

<img wi

[2017-05-04 15:48] iAmWillShepherd opened #1370 "Log files should be placed in Log folder"
I noticed that we are dumping logs at the root level of the `~/Library/Application Support/GitHub Desktop-{version}`.

I think it would be much cleaner and better to have a `Log` folder where logs can be placed. This would have the additional benefit of helping users find the right file should they be asked to send it to us for support.

[2017-05-04 16:14] tierninho opened #1372 "Loading latest name and avator for user profile"
When a user changes their name and avatar via the /settings/profile page, I noticed there are no updates to Desktop:

Upon navigating through different parts of Desktop:
- Name and avatar did not update

Upon reloading the page:
- Name updated partially, avatar did not
  - name only updated in the Prefs panel, and not on the history page.

Upon Quit and restart:
- Name updated partially, avatar di

[2017-05-04 18:02] #1304 closed, assigned to niik

[2017-05-04 18:06] joshaber opened #1373 "Undo Commit doesn't update after switching branches"
1. Checkout branch A.
2. Make a commit.
3. Note that the undo branch thing comes up.
4. Switch to branch B.

Expected: the Undo Commit thing goes away.
Actual: it sticks around until I unfocus the app and come back.

This is a regression.

[2017-05-04 22:03] #871 closed, assigned to joshaber

[2017-05-04 23:37] shiftkey opened #1374 "webpack error in dev mode due to fs-extra bump"
#1344 seems to have broken running the app in dev mode.

Dev Tools error:

[code]

This correlates to the bundled version of https://github.com/jprichardson/node-fs-extra/blob/096a8e100273ffd2f3ee0cf58bea6799b1c1c8e1/lib/fs/index.js and the `graceful-fs` module not resolving.

Repro:

[code]

Thankfully `npm run build:prod` and `npm run start:prod` aren't affected by this.

I'll probably revert th

[2017-05-05 02:24] #1330 closed, assigned to nobody

[2017-05-05 09:34] #1374 closed, assigned to shiftkey

[2017-05-05 10:37] #1372 closed, assigned to nobody

[2017-05-05 12:55] tierninho opened #1379 "Cut / Copy / Paste are useless in Windows"
If you select any text and try to copy or cut it, the selected text is unhighlighted once you open the click on Edit > Menu.

Similarly, if you try to paste into a text area using Edit > Menu, one cannot do so as the the text area is deselected once opening Edit > Menu.

Keyboard commands to work, btw.

Description box was deselected after opening the menu:
<img width="384" alt="screen shot 2017-0

[2017-05-05 14:01] joshaber opened #1380 "Diff scrolling gets weird"
This is something I've observed off and on for a bit. _Sometimes_ diff scrolling gets a bit funny. It's hard explain what exactly funny means... it's like scrolling down sometimes scrolls up for a moment before scroll down? And sometimes scrolling up scrolls down for a moment before scrolling up?

It doesn't always happen. It seems to get worse the more diffs I view.

I _suspect_ it's a problem wi

[2017-05-05 14:12] niik opened #1382 "Black window flashes when attempting to launch a second instance of the app"
When I was signing in using the browser I saw a quick flash of a black window.

![image](https://cloud.githubusercontent.com/assets/634063/25749017/637b2bec-31ad-11e7-8954-d024ab7fd0fe.png)

The same window appears if I try to launch the app again while it's already running. Me and @joshaber suspect that it's the second instance of the app that somehow is able to show a window before terminating a

[2017-05-05 15:12] #1379 closed, assigned to niik

[2017-05-05 15:34] iAmWillShepherd opened #1385 "Commit counts don't seem to be working"
The commits count doesn't seem to be working correctly. All commit counts in Presto show up as 0.

[2017-05-05 17:58] #1221 closed, assigned to donokuda

[2017-05-05 18:02] tierninho opened #1386 "Block user from sending multiple SMS when verifying 2FA"
User can fire off multiple SMS when submitting a blank entry in 2FA modal.

Not sure of the correct functionality if user submits wrong 2FA code, or if user alternatively needs to send another SMS should first one expired?

<img width="447" alt="screen shot 2017-05-05 at 1 36 14 pm" src="https://cloud.githubusercontent.com/assets/14828183/25758150/5b2e6a88-319b-11e7-894d-c82c61d3cb17.png">

v0.0.3

[2017-05-05 18:06] joshaber opened #1387 "Logging in with Desktop should flip the user-has-Desktop flag on dotcom"
This one slipped through the cracks.

When we make an API call from Classic, dotcom recognizes our user agent and flips a flag to indicate the user has used Classic. That's how we know whether to include `github` protocol links on the website. We need to make the necessary changes on dotcom to support Desktop.

[2017-05-05 18:23] tierninho opened #1389 "Prevent user from checking the "0 changed files" box"
When committing from the changes column, the user shouldn't be able to check `0 changed files` as it serves no purpose. It should be either greyed out or removed, imo.

<img width="271" alt="screen shot 2017-05-05 at 2 20 08 pm" src="https://cloud.githubusercontent.com/assets/14828183/25758924/5ddd97c4-319e-11e7-8ee9-6abf4b722612.png">

v0.0.37, OS X 10.11.5

[2017-05-05 18:27] bwestover opened #1391 "Commit failed error with GPG signing turned on"
### Description

I recently started seeing this with the atom/github package as well. See that report for more details: https://github.com/atom/github/issues/737

When I try to make a commit I get an error message:

[code]

### Version

**GitHub Desktop version:** 0.0.37

**OS version:** OS X El Capitan (10.11.6)

### Steps to Reproduce

1. Make a change to a file in a repository
1. Type a commit

[2017-05-05 18:30] tierninho opened #1392 "To undo or not to undo?"
Undo should undo, else I suggest removing it as it could be confusing to the user. However, if the user undos, should they be able to redo a commit? Needs some thought.

<img width="797" alt="screen shot 2017-05-05 at 2 25 13 pm" src="https://cloud.githubusercontent.com/assets/14828183/25759173/42e769d0-319f-11e7-87cf-1676faff99f0.png">

v0.0.37, OS X 10.11.5

[2017-05-05 20:09] #1342 closed, assigned to niik

[2017-05-06 22:22] bwestover opened #1396 "Invisible Error: "Please upgrade your plan to create a new private repository.""
### Description

The default option on the "Publish Repository" dialog is to "Keep this code private":
![image](https://cloud.githubusercontent.com/assets/1987494/25776253/303dda1a-326e-11e7-9482-eed6cddf7d61.png)

This is a good choice to prevent accidental disclosure of a private repo :+1:

However, if a user doesn't have a paid plan, the repo creation will fail silently. At least from the user

[2017-05-08 09:24] #1386 closed, assigned to shiftkey

[2017-05-08 09:38] niik opened #1398 "Blankslate is briefly visible while launching the app"
When I launch the app I see a brief flash of the blankslate even though I have repositories added to the app.

![image](https://cloud.githubusercontent.com/assets/634063/25798756/b7763066-33e2-11e7-83d1-4b88b9b048cb.png)

I imagine this has always been the case but with the new design it's much more noticeable. I think we should introduce a special view for when we're loading repositories from the

[2017-05-08 14:32] #1392 closed, assigned to nobody

[2017-05-08 15:05] tierninho opened #1400 "Update text for master branch"
As https://github.com/desktop/desktop/pull/1336 updated the default branch name, we should update the text seen here as "master" branch isn't necessarily accurate:

<img width="387" alt="screen shot 2017-05-08 at 11 02 33 am" src="https://cloud.githubusercontent.com/assets/14828183/25810439/20780c1a-33de-11e7-93ea-7c66943fb1fb.png">

v0.0.039, OSX 10.11.5

[2017-05-08 15:05] niik opened #1401 "Possible regression, can't undo first commit"
I just tried to undo the first commit in my new repository and got this

![image](https://cloud.githubusercontent.com/assets/634063/25810466/7a6232f0-3410-11e7-8a90-59bdd41668e5.png)

I'm guessing we've regressed somewhere along the line because I seem to recall us fixing this.

[2017-05-08 17:33] tierninho opened #1404 "User cannot push changes to renamed default branch"
I tested the master branch default fix (https://github.com/desktop/desktop/pull/1336) and it doesn't seem to be fixed.

Reproduce:
- Clone repo from dotcom to Desktop. Repo should have two branches, with the second one set to master.
- Open branch list and Master is still default.

If you rename the default branch (per dotcom) on Desktop, then try pushing a change, you will be blocked. No errors s

[2017-05-08 18:23] tierninho opened #1406 "Desktop icon update for Authorized Applications"
Update icon to new one here:
https://github.com/settings/applications

<img width="256" alt="screen shot 2017-05-08 at 2 17 00 pm" src="https://cloud.githubusercontent.com/assets/14828183/25818786/d54ceba4-33f9-11e7-8a72-8e9ccc827561.png">

[2017-05-08 20:58] donokuda opened #1407 "App icon doesn't appear in app switcher on Windows"
### Description

The new icon doesn't appear in the <kbd>alt</kbd>+<kbd>tab</kbd> application selector on Windows.

### Version

**GitHub Desktop version:** 0.0.39
**OS version:** Microsoft Windows [Version 10.0.14393]

### Steps to Reproduce

1. Open GitHub Desktop
1. Hit <kbd>alt</kbd>+<kbd>tab</kbd>

**Expected behaviour:** The app icon is the purple icon

**Actual behaviour:**
![image](https:/

[2017-05-08 21:07] joshaber opened #1408 "Choosing a different local path in clone doesn't append the repository name"
1. Click "Open in Desktop" from some repository, e.g., https://github.com/github/githubengineering.
1. Note that the default path ends with `githubengineering` so that we have a unique directory.
1. Click "Choose…" to change the local path.
1. Note that the local path is exactly the one chosen, instead of having, e.g., `githubengineering` appended to it.

[2017-05-08 23:03] shiftkey opened #1409 "add support for resending the SMS code"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

If a user has 2FA authentication enabled, there's a One Weird Trick™ with the GitHub API to let an application resend a code - by sending an empty code with the HTTP request.

We stumbled upon this in #1386 and it looks like this is behaviour

[2017-05-09 01:01] #1373 closed, assigned to joshaber

[2017-05-09 12:32] #1349 closed, assigned to iAmWillShepherd

[2017-05-09 12:52] tierninho opened #1413 "Repositories whose GitHub repository is deleted aren't categorized properly"
After deleting my repo, I noticed the icon went from locked to the unlocked one, which isn't entirely accurate. Perhaps we should offer a third option, one that denotes a missing or deleted repo?

![search](https://cloud.githubusercontent.com/assets/14828183/25851494/03632694-3494-11e7-8c90-9ea68db1d26e.jpg)

<img width="1106" alt="screen shot 2017-05-09 at 8 41 26 am" src="https://cloud.githubuse

[2017-05-09 12:55] tierninho opened #1414 "Disable Org dropdown if no results?"
Perhaps we should grey out the dropdown if the user belongs to no organizations?

<img width="450" alt="screen shot 2017-05-09 at 8 54 23 am" src="https://cloud.githubusercontent.com/assets/14828183/25851791/25a3ddd8-3495-11e7-940b-77423e2d0bb8.png">

v0.0.39, OSX 10.11.5

[2017-05-09 13:13] tierninho opened #1415 "Repo published to dotcom; Desktop failed to update status"
Added a local repo and clicked publish despite getting same error in #969 seen here:

<img width="590" alt="screen shot 2017-05-09 at 8 59 44 am" src="https://cloud.githubusercontent.com/assets/14828183/25852050/1331984c-3496-11e7-90f5-ed666fff9c1d.png">

Noticed the `Publish` button is still intact, even though the repo made it to dotcom. (Note, I cannot click `Publish` anymore, it seems disabled

[2017-05-09 13:36] #1401 closed, assigned to shiftkey

[2017-05-09 15:43] #1321 closed, assigned to niik

[2017-05-09 15:50] #1387 closed, assigned to joshaber

[2017-05-09 18:56] #1406 closed, assigned to joshaber

[2017-05-09 21:43] #1382 closed, assigned to joshaber

[2017-05-10 03:36] shiftkey opened #1420 "developer OAuth ID and secret don't work with GHE"
### Description

Filing this one to write this up before I forget, but testing anything against GHE using the development OAuth Client ID and Client Secret won't work. We probably need some documentation about how to use your own Client ID and Secret.

### Version

**GitHub Desktop version:** development build e.g. 334a8fb72

**OS version:** macOS Sierra 10.12.4

**GHE Version:** 2.9.4

### Steps

[2017-05-10 14:07] #1367 closed, assigned to shiftkey

[2017-05-10 15:55] #923 closed, assigned to niik

[2017-05-10 16:18] niik opened #1424 "Can't resize window from top left corner on Windows"
![resize-corner](https://cloud.githubusercontent.com/assets/634063/25909082/5247afa0-35ac-11e7-8238-43e77e9999d2.gif)

I imagine we're gonna have to fix this with a resize-handle the [same way we did for the top part of the app](https://github.com/desktop/desktop/commit/1b03d2cc0e787c0c8cfa66b250638e1467bc2475)

[2017-05-10 16:28] #1210 closed, assigned to niik

[2017-05-10 18:02] tierninho opened #1427 "Unlimited browser auth requests"
Noticed a user can keep clicking on "browser sign-in" link for an unlimited number of times. After multiple requests, GitHub issues a warning, causing the user to re-auth the Desktop app. Not ideal but somewhat of a safeguard. Filing as a bug anyhow as we might think about limited the browser sign-in attempts.

<img width="374" alt="screen shot 2017-05-10 at 1 58 14 pm" src="https://cloud.githubus

[2017-05-10 18:20] tierninho opened #1428 "Error message for failed auth attempt"
If a user attempts to auth via browser, but fails to finish the process but leaves the browser intact,
 then Desktop should issue a warning to the user if the process is finished later.

Reproduce:
- Begin sign-in process via browser
- Don't except browser request
- Close Desktop, Open Desktop
- Accept browser request (Auth should be expired)
- Desktop attempts to sign-in, however it fails as expe

[2017-05-10 18:59] #1424 closed, assigned to niik

[2017-05-10 21:07] #1408 closed, assigned to joshaber

[2017-05-10 21:49] #1357 closed, assigned to joshaber

[2017-05-11 11:31] joshaber opened #1431 "Disable pinch zoom"
#surpriseanddelight

Prior art in Atom: https://github.com/atom/atom/pull/14352

[2017-05-11 12:15] #1019 closed, assigned to shiftkey

[2017-05-11 13:34] #1398 closed, assigned to joshaber

[2017-05-11 18:10] tierninho opened #1436 "Desktop blackout from full screen toggle"
Desktop is blacked out on Windows from toggling full screen twice.

Reproduce:
- Toggle full screen mode
- Press Alt, to pull up menu
- Select Toggle full screen again

Results in black screen where Desktop is inoperable and unrecoverable. No logs found.

<img width="1202" alt="screen shot 2017-05-11 at 2 07 18 pm" src="https://cloud.githubusercontent.com/assets/14828183/25964664/a87546d8-3653-11e

[2017-05-11 18:19] joshaber opened #1437 "Include updated Terms and Conditions"
See https://github.com/github/legal/pull/807.

We should replace our EULA link with a link that shows the Terms and Conditions in app.

[2017-05-11 18:51] #1431 closed, assigned to joshaber

[2017-05-11 22:44] shiftkey opened #1442 "multi-remote support in Desktop"
Opening this up to track a discussion around which scenarios we could/should support in Desktop.

[2017-05-12 02:07] #1326 closed, assigned to nobody

[2017-05-12 11:49] joshaber opened #1445 "Use true immutable data structures"
We're using `Readonly*` variants in a lot of spots, but they aren't truly immutable. It's just a type level enforcement.

@niik saw a bug caused by this:

https://facebook.github.io/immutable-js/ is probably the most popular option.

[2017-05-12 12:29] tierninho opened #1447 "New repo default branch "delete" error"
When creating a new Repo (File > New Repo), without publishing to dotcom, the user can click some menu items that should be greyed out.

For instance, all (almost all) of the Branch menu items should be greyed out as they are not to be used until the branch is published. Note: default branch doesn't exist anymore in pic after renaming it.

<img width="748" alt="screen shot 2017-05-12 at 8 16 57 am

[2017-05-12 13:06] #1437 closed, assigned to joshaber

[2017-05-12 13:29] tierninho opened #1448 "Grey out Repository menu items for New Repo"
If user creates a new repo (File > New Repo), without publishing, then there should be some Repository menu items that are greyed out as they aren't relevant.

For instance, "View on GitHub" and "Pull". Clicking "Pull" results in terminal error with no message surfaced to the user:

<img width="1004" alt="screen shot 2017-05-12 at 9 25 18 am" src="https://cloud.githubusercontent.com/assets/1482818

[2017-05-12 13:35] tierninho opened #1449 "New branch on unpublished repo claims to be the default"
When creating a new repo (File > New Repo), and without publishing, the user has the option to create a new branch. This popup says the new branch is the "default" branch, which is incorrect.

<img width="896" alt="screen shot 2017-05-12 at 9 30 26 am" src="https://cloud.githubusercontent.com/assets/14828183/26000167/e7cfaa88-36f5-11e7-9645-b7d45aa359dd.png">

v0.5.0, OSX 10.11.5

[2017-05-12 13:42] tierninho opened #1450 "Unborn branch error when doing initial commit"
Initial commit on an unpublished repo is throwing unborn error, and causing the `Undo` button to be stuck.

Reproduce:
- File > new repo, add a README file, create
- Click `Undo` initial commit*
- Click publish, submit**

*`Undo` never goes away, despite the commit being reverted.
** Unborn error is surfaced in the console, no messaging for the user.

<img width="877" alt="screen shot 2017-05-12 a

[2017-05-12 15:40] #405 closed, assigned to niik, donokuda

[2017-05-12 18:23] tierninho opened #1454 "Alignment polish for commits"
The ReadMe file seems to be aligned too close to the border with the commit subject field.

<img width="248" alt="screen shot 2017-05-12 at 2 20 39 pm" src="https://cloud.githubusercontent.com/assets/14828183/26011290/7e3ca50c-371e-11e7-9615-33f1ac969402.png">

v.0.5.0, OSX 10.11.5

[2017-05-12 18:28] #1454 closed, assigned to nobody

[2017-05-12 19:12] cheshire137 opened #1456 "Don't link invalid URLs in commit messages"
The `https://` in the commit message shouldn't be a clickable link:

![github_desktop_and_1__cheshire137_wonderland____code_github_github__zsh_](https://cloud.githubusercontent.com/assets/82317/26013212/fa3a16fa-371c-11e7-9282-b86f45006279.png)

Originally brought up [in Slack](https://github.slack.com/archives/C17LP0XU3/p1494615567569457). Seen in version 0.5.0 in macOS.

[2017-05-12 22:22] niik opened #1457 "App Icon looks a little squished on Windows"
@donokuda I've got some good news and some bad news.

First off, the issues I was seeing with the icon not scaling properly on Windows got fixed when we shipped the proper icon in the installer (just updating the .exe didn't cut it). So now it pick the high res version when running at high-dpi and the 16px version when rendering in the title bar 🎉

Unfortunately the icon looks a little squished wh

[2017-05-13 00:57] #1385 closed, assigned to shiftkey

[2017-05-13 02:38] #1396 closed, assigned to shiftkey

[2017-05-15 01:41] #1302 closed, assigned to nobody

[2017-05-15 14:01] #1447 closed, assigned to shiftkey

[2017-05-15 14:07] #1420 closed, assigned to shiftkey

[2017-05-15 18:12] #1370 closed, assigned to shiftkey

[2017-05-15 18:29] tierninho opened #1469 "Delete master branch error messaging"
If a user attempts to delete a default branch, there should be an user error message outside of the console, thus warning the user:
<img width="910" alt="screen shot 2017-05-15 at 2 25 49 pm" src="https://cloud.githubusercontent.com/assets/14828183/26072687/6c259e2e-397a-11e7-9dd2-db6d4ce873c8.png">

Also, notice the branch has been deleted from dotcom, meaning it is no longer a default branch, ye

[2017-05-15 21:28] #1306 closed, assigned to iAmWillShepherd

[2017-05-15 22:15] shiftkey opened #1472 "enable "Contact Support" menu item once Support is ready"
I removed the Contact Support button in #1466 to avoid accidentally directing support to the current team - who are dealing with supporting the existing applications.

As we get closer to 1.0 and organize the transition period, we can revert that PR to enable the menu button again.

[2017-05-15 22:33] shiftkey opened #1473 "renderer should push logs to main process over IPC"
Context: https://github.com/desktop/desktop/pull/1465#pullrequestreview-38043864

Let's rewrite the renderer logger to push messages to the main process over IPC, instead of writing to disk and potentially introducing an issue with two writers using the same file.

[2017-05-16 01:06] joshaber opened #1474 "LinkButtons doesn't truncate properly due to inline-flex rule"
1. Make a commit which includes a URL in the summary.
2. Check out History.

![screen shot 2017-05-15 at 5 36 41 pm](https://cloud.githubusercontent.com/assets/13760/26085432/3d53221e-39b2-11e7-9a58-c5e6b5b9e1c8.png)

[2017-05-16 01:14] #697 closed, assigned to nobody

[2017-05-16 01:21] joshaber opened #1475 "No fade at the top/bottom of the Configure Git commit list"
I'm not totally sure if this is intentional or not (/cc @niik @donokuda). The commit list used to have a fade out at the top and bottom.

<img width="439" alt="screen shot 2017-05-15 at 9 19 37 pm" src="https://cloud.githubusercontent.com/assets/13760/26085738/4397b5ca-39b4-11e7-89be-7d0d72b708c7.png">

[2017-05-16 01:23] joshaber opened #1476 "Don't show the "Select a repository" button if there are no repositories to select"
@niik and I talked about this. We might do more, but at minimum the "Select a repository" button is a lie if there are no repositories to select.

[2017-05-16 01:30] #1475 closed, assigned to nobody

[2017-05-16 01:30] shiftkey opened #1478 "commits off detached HEAD should not be linkable"
### Description

We need to be better at handling detached HEAD and getting people back to a happy place, but this is some low-hanging fruit around ensuring we detect unpublished commits correctly and not linking off to GitHub (because they aren't there).

### Version

**GitHub Desktop version:** 0.5.1

**OS version:** macOS Sierra 10.12.4

### Steps to Reproduce

1. Create a new repository locall

[2017-05-16 01:32] #1098 closed, assigned to nobody

[2017-05-16 01:33] joshaber opened #1479 "Create Branch selector has some visual struggles"
Ignoring the focus state, it seems to have more right indentation than left, and the unselected case has a blue top border?

<img width="465" alt="screen shot 2017-05-15 at 9 31 53 pm" src="https://cloud.githubusercontent.com/assets/13760/26086001/fea2e94c-39b5-11e7-9103-9c9b57034f0d.png">

/cc @niik @donokuda

[2017-05-16 01:38] joshaber opened #1480 "Rename Branch polish"
<img width="438" alt="screen shot 2017-05-15 at 9 35 37 pm" src="https://cloud.githubusercontent.com/assets/13760/26086100/a5ed6646-39b6-11e7-8389-0669b3430ab9.png">

1. We should use the ⚠️ icon like we do in Create Branch if the branch will be created with a different name from what they typed in. We should probably use the same font size as well.

<img width="279" alt="screen shot 2017-05-15 at

[2017-05-16 01:48] shiftkey opened #1482 "be smarter about revoked authorization"
### Description

Users can revoke the authorization for GitHub Desktop, and while we fail we don't provide any more smarts here around "Oh, your authorization isn't actually valid. Let's sign in again"

### Version

**GitHub Desktop version:** 0.5.1

**OS version:** macOS Sierra 10.12.4

### Steps to Reproduce

1. Sign into the app, completing the OAuth flow and authorizing the application
1. Add

[2017-05-16 01:49] #1081 closed, assigned to nobody

[2017-05-16 01:57] #1286 closed, assigned to nobody

[2017-05-16 02:01] joshaber opened #1483 "Provide a title for commit summaries"
I wanna hover to see the whole summary.

<img width="297" alt="screen shot 2017-05-15 at 10 00 33 pm" src="https://cloud.githubusercontent.com/assets/13760/26086654/0257a5ec-39ba-11e7-97b0-ac939fb731b7.png">

[2017-05-16 02:27] shiftkey opened #1484 ""refusing to merge unrelated histories" with initial repository"
### Description

There's a corner case where your local repository and remote repository can have distinct histories (because they were initialized with their own commit). We should surface this error, but what to do about it properly is an Excellent Question™.

### Version

**GitHub Desktop version:** 0.5.1

**OS version:** Windows 10

### Steps to Reproduce

This is a bit convoluted, apologies.

[2017-05-16 02:28] #1308 closed, assigned to nobody

[2017-05-16 02:33] shiftkey opened #1485 "validate commit summary to handle whitespace being entered"
### Description

You can try and create a commit with an empty summary field. It fails.

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your local repository.

**GitHub Desktop version:** 0.5.1

**OS version:** Windows 10

### Steps to

[2017-05-16 02:34] #1297 closed, assigned to nobody

[2017-05-16 03:34] shiftkey opened #1486 "preferred local path not remembered after creating repository"
### Description

After creating a repository locally under a different local path, the value is reverted the next time you try and create a repository.

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your local repository.

**GitHub Des

[2017-05-16 03:47] shiftkey opened #1487 "ensure local path is valid when creating repository"
Supersedes #1067

### Description

We should provide a helpful message when the user has entered a known invalid path, before trying to create it.

### Version

**GitHub Desktop version:** 0.5.1

**OS version:** `Microsoft Windows [Version 10.0.15063]`

### Steps to Reproduce

1. Launch `File` -> `New Repository`
1. Change the local path to `>`

**Expected behaviour:** some sort of validation that

[2017-05-16 03:48] #1067 closed, assigned to nobody

[2017-05-16 04:35] #532 closed, assigned to nobody

[2017-05-16 05:26] shiftkey opened #1489 "updated default branch isn't shown in branch list until after restart"
### Description

If the default branch is changed on the GitHub or GitHub Enterprise server, this is refreshed in the local IndexedDB but not displayed until a restart.

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your local reposito

[2017-05-16 05:26] #1469 closed, assigned to nobody

[2017-05-16 05:40] #251 closed, assigned to nobody

[2017-05-16 05:50] #545 closed, assigned to nobody

[2017-05-16 05:57] #1022 closed, assigned to nobody

[2017-05-16 06:48] #1479 closed, assigned to niik

[2017-05-16 07:03] #1413 closed, assigned to nobody

[2017-05-16 07:04] #1407 closed, assigned to nobody

[2017-05-16 09:12] #1345 closed, assigned to donokuda

[2017-05-16 09:50] #1233 closed, assigned to iAmWillShepherd

[2017-05-16 11:46] #1457 closed, assigned to niik

[2017-05-16 14:47] niik opened #1495 "Another unintended consequence of dialog ul/ol support"
![image](https://cloud.githubusercontent.com/assets/634063/26112084/2e253a98-3a57-11e7-9e40-ba4a72a058ec.png)

Massive marging between each line, it should look like this

![image](https://cloud.githubusercontent.com/assets/634063/26112139/4cfdff40-3a57-11e7-8f1c-0f12d106d009.png)

cc #1479 #1491

[2017-05-16 15:53] #1495 closed, assigned to nobody

[2017-05-16 17:05] joshaber commented on #1180
This is live https://githubengineering.com/how-four-native-developers-wrote-an-electron-app/ 💥

[2017-05-16 17:05] #1180 closed

[2017-05-16 17:15] MehediH opened #1497 "Window border shows up on another monitor when maximized"
On the new GitHub desktop, the window border shows up on the secondary monitor when maximized on a multi-monitor setup. I believe the issue is caused by the custom titlebar, as there was a similar bug with my app that's also built on Electron.

I can't actually screenshot the issue for some reason, but here's a picture: http://i.imgur.com/BAitqx7.jpg

[2017-05-16 17:17] joshaber commented on #1368
💥

[2017-05-16 17:17] #1368 closed

[2017-05-16 17:24] mdiep opened #1498 ""Publish branch" button mentions GitHub for non-GitHub repos"
### Description

<img width="259" alt="publish-branch" src="https://cloud.githubusercontent.com/assets/1302/26119204/7b54cf62-3a3a-11e7-960a-02d6e074eca7.png">

For a non-GitHub repo, that button doesn't actually publish to GitHub. (It doesn't seem publish anywhere because it's not picking up authentication… but that's a different bug.)

### Version

**GitHub Desktop version:** 0.5.3
**OS version:

[2017-05-16 17:27] ryansmith98 commented on #1221
Great work!

[2017-05-16 17:27] feross commented on #696
Just wanted to chime in and say that I use the `github` shortcut all the time!

[code]

Great work, and excellent launch. Congrats!

[2017-05-16 17:33] mdiep opened #1499 "Diff selection shouldn't includes +s and -s"
### Description

<img width="927" alt="diff-selection" src="https://cloud.githubusercontent.com/assets/1302/26119686/15687198-3a3c-11e7-8426-024a6a23b60b.png">

Desktop of yore didn't includes the `+`s and `-`s in the diff selection. This is handy for copy and paste, and it's something I make frequent use of. This Desktop should do the same. ☺️

### Version

**GitHub Desktop version:** 0.5.3
**OS

[2017-05-16 17:49] feross commented on #1380
Just noticed this happening in 0.5.3.

[2017-05-16 17:52] tierninho opened #1500 "Close Repo list menu after removing last repo"
### Description
In order to highlight the "No repositories found" page, we should close the repo list menu after removing last repo.

### Version

**GitHub Desktop version:** v0.0.53
**OS version:** OSX 10.11.5

### Steps to Reproduce

1. Remove last repo
1. Repo list stays open

<img width="1129" alt="screen shot 2017-05-16 at 1 45 48 pm" src="https://cloud.githubusercontent.com/assets/14828183/2

[2017-05-16 17:52] joshaber commented on #1380
@feross have you noticed if you can reproduce it reliably?

[2017-05-16 18:05] jonabc opened #1501 "Feature Request - Allow easy copy of full commit SHA"
### Description

Oftentimes I have to reference a commit SHA after committing and would love an easy way to get it from Desktop.  More often than not I'll have competing product GitKraken open which lets me 1-click copy a commit SHA to the clipboard.

![screen shot 2017-05-16 at 10 56 46 am](https://cloud.githubusercontent.com/assets/5263772/26120786/c5ee9454-3a26-11e7-9104-65577da19a68.png)

Mayb

[2017-05-16 18:08] jstanden commented on #1380
I also just experienced this issue on my first run of GitHub Desktop Beta 0.5.3 in macOS Sierra 10.12.4 using a 1st gen Magic Trackpad.

Scrolling in the right-side diff pane was really jittery, and it moved in an inverted direction for a short distance before rapidly alternating.

I restarted GitHub Desktop and it has been working fine again.

I had recently done a refactor, so I had ~160 changed

[2017-05-16 18:16] Studio384 opened #1502 "Toggling Full screen off causes the app to crash and start in full screen afterwards"
### Description

Hitting F11 will resize GitHub to use the full screen, however, hitting it again will cause the the app to resize but only show a black screen. Clicking will cause the app to crash but it will continue to run in the Task Manager, resulting in GitHub not opening.

Once the process is killed in the Task Manager, GitHub can be started again but will open in full screen. Repeat.

###

[2017-05-16 18:18] joshaber opened #1503 "About > Release notes points to the wrong URL"
It currently goes to https://desktop.github.com/release-notes/tng/ which 404s. It _should_ go to https://desktop.github.com/release-notes/.

[2017-05-16 18:19] tierninho commented on #1502
related to: https://github.com/desktop/desktop/issues/1436

[2017-05-16 18:20] joshaber commented on #1380
Moving this to M5 to spend some time investigating again.

[2017-05-16 18:21] Studio384 commented on #1502
@tierninho: Ha indeed, I only searched in the open issues. Either way, this is a real issue, didn't have anything to do with your VM.

[2017-05-16 18:24] niik commented on #1503
Setting up a redirect in the meantime

[2017-05-16 18:35] Studio384 opened #1504 "Publish GitHub Desktop in the Windows Store"
Make GitHub available in the Windows Store.

#### Provide a step-by-step description of the suggested enhancement in as much detail as possible. This additional context helps the maintainers to understand the enhancement from your perspective
N/A

#### Explain why this enhancement would be useful to GitHub Desktop users.
Provide a central place to update GitHub, support for UWP APIs (like live til

[2017-05-16 18:52] citrusui commented on #1504
I'm not sure if this is possible with the use of Electron. [See here.](https://msdn.microsoft.com/en-us/library/windows/apps/dn764944.aspx#pol_10_2)

[2017-05-16 19:07] niik opened #1505 "Error parsing JSON, possible attempt to deserialize HTML"
Looks to me like we're attempting to parse HTML as JSON somewhere in the app.

[code]

[2017-05-16 19:18] Studio384 commented on #1504
There are already plenty of Electron apps in the Store. GitHub Desktop doesn't browse the web. It doesn't apply. The Visual Studio Code team is also looking into this bridge, so it is definitely possible.

Heck, there is even a guide on the Electron website itself: https://electron.atom.io/docs/tutorial/windows-store-guide/.

[2017-05-16 19:41] shiftkey commented on #1504
@Studio384 I'm very curious about their findings, as there might be things their app does that don't play nice in a sandboxed mode (for example, we invoke Git a lot).

[2017-05-16 19:43] joshaber opened #1507 "TypeError: Cannot read property 'entries' of undefined"
https://haystack.githubapp.com/desktop/needles/ReyhJX1USeqUUEHOJ2K2bg

[code]

[2017-05-16 19:45] joshaber opened #1508 "500 when fetching public emails"
Sometimes the `/user/public_emails` endpoint 500s which breaks the authentication flow. This is a GitHub.com bug, but we can/should work around it in the meantime. We already fallback to the `/user/emails` endpoint for Enterprise: https://github.com/desktop/desktop/blob/3dc8738e711131047f9973398a5dac08e2cd206e/app/src/lib/api.ts#L227. We could do that same fallback if we get a 500.

[2017-05-16 20:06] zeke commented on #696
This is what I'm using to open repos from the command line:

[code]

Caveat: the repo has to have already been set up in the Desktop app.

[2017-05-16 20:20] NickCraver commented on #821
Just hit missing avatars on enterprise instances. I manually authenticated inside electron via `window.location = '<url>';` and did 2-factor auth...now I have avatars.

It's a crappy workaround, but visually this is the most visible missing piece in the current UI for enterprise customers, IMO. Aside from that, I'm liking this thing :)

[2017-05-16 20:26] arjitc opened #1511 "Signed-off-by"
Would it be possible to add this to automatically add to each commit (perhaps a setting under options) ?

[2017-05-16 20:28] shiftkey commented on #821
Yeah, inside the renderer process we do have the ability to assign cookies from a valid GitHub session, which would explain how that workaround succeeds, but we've avoided doing the entire auth process completely in there (because security?).

💖

[2017-05-16 20:33] Studio384 commented on #1504
Microsoft/vscode#19239

[2017-05-16 20:38] chriddyp opened #1514 "`Push origin` Error: "fatal: could not read Username [...] terminal prompts disabled""
Love the new app! I just tried to push to a Repo and I got this error:

![image](https://cloud.githubusercontent.com/assets/1280389/26126923/7a83b33a-3a55-11e7-978f-f99f52c13bae.png)

[code]

Not sure what's going wrong here. I successfully logged in through GitHub's Ouath (with 2 factor).

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Mac 10.10.5

### Steps to Reproduce

1. Adde

[2017-05-16 20:39] shiftkey commented on #1511
`-s` is just a flag to pass to Git, so it's not much work to add it in.

Speaking personally, this isn't something that's a huge part of my workflow - and that's mostly down to the projects I contribute to. I'll leave this open to gauge interest.

[2017-05-16 20:39] dgsimone15 commented on #1504
I also think it's a good idea to bring GitHub to the store

[2017-05-16 20:39] NickCraver opened #1515 "Feature Request: Dark Theme"
The dark theme was an excellent addition to GitHub Desktop and something I use daily. When time allows, I'd love to see this make an appearance in the Electron version.

For reference, here are the light and dark themes in GitHub Desktop today:

Light:
<img width="1392" alt="screen shot 2017-05-16 at 16 37 00" src="https://cloud.githubusercontent.com/assets/454813/26127046/f1bb0eee-3a55-11e7-9fb8-

[2017-05-16 20:46] #1503 closed

[2017-05-16 20:50] shiftkey commented on #1514
@chriddyp thanks for the report. For reference, the `askpass` response is this code, which is just poking at environment variables we pass from the parent process to Git when we invoke it.

https://github.com/desktop/desktop/blob/3dc8738e711131047f9973398a5dac08e2cd206e/app/src/ask-pass/ask-pass.ts

Stepping through the output:

[code]

Not sure where this is coming from. 🤷‍♂️

[code]

Looks like

[2017-05-16 20:53] iAmWillShepherd opened #1516 "Account type not being reported correctly"
It looks like the `enterpriseAccount` property is only being submitted when it's set to `true`. This property should be sent when equal to `false` as well.

[2017-05-16 20:58] chriddyp commented on #1514
Looks like it's OK:

![image](https://cloud.githubusercontent.com/assets/1280389/26127919/e4bd8cdc-3a58-11e7-8594-b4d3bbe08504.png)

[2017-05-16 21:01] chriddyp commented on #1514
However I notice that the Avatar for the commit messages and the history don't match my github avatar. Not sure if that's indicative of the accounts not syncing correctly or something.

![image](https://cloud.githubusercontent.com/assets/1280389/26128024/1f3a0b56-3a59-11e7-986e-d50c4b532339.png)
![image](https://cloud.githubusercontent.com/assets/1280389/26128047/2ff49c36-3a59-11e7-8608-3aa3d46907

[2017-05-16 21:11] shiftkey commented on #1497
cc @desktop/electron

[2017-05-16 21:30] joshaber opened #1520 "TypeError: Cannot read property 'action' of undefined"
Not a terribly helpful stack trace:

[code]

https://haystack.githubapp.com/desktop/needles/539CpTjMKZ2e9sBF750QnQ

[2017-05-16 21:33] shiftkey commented on #1520
Could this be menu-related (e.g. https://github.com/desktop/desktop/blob/3dc8738e711131047f9973398a5dac08e2cd206e/app/src/ui/changes/changed-file.tsx#L86) ?

[2017-05-16 21:34] shiftkey commented on #948
Tentatively M5-ing this to see it it'll help make our error reporting more sane to parse.

[2017-05-16 21:45] shiftkey commented on #1499
@mdiep nice spot. I'm not sure if this is a CodeMirror (the editor we use in here) limitation or not.

[2017-05-16 21:46] Phoqe opened #1521 "Switching between menu items shows disabled items on hover"
### Description
When clicking on a menu item, for example "View", you can hover over disabled menu items and display their content.

### Version
**GitHub Desktop version:** 0.5.3
**OS version:** Microsoft Windows [Version 6.1.7601]

### Steps to Reproduce

1. Start the app
1. Click on a menu item
1. From that menu item hover over a disabled menu item like "Repository" or "Branch", this is when no

[2017-05-16 22:20] niik opened #1522 "Octokat returns an empty string when connection is refused"
I added an entry to my hosts file to stop all trafic to `api.github.com` and then tried to launch the app. It didn't work.

Turns out that when a request in Octokat fails du to a connection refused error the only thing we get back is an empty string. No error, no nothing.

This is even more disconcerting given that the whole octokat client is untyped (`any`) so we tell blatant lies to the type sys

[2017-05-16 22:22] shiftkey commented on #1522
:thumbsup: they've been pretty great at taking in our changes already, so I think they'd be open to improving this as well

[2017-05-16 22:32] duble0 commented on #1504
Converting a win32 in appx will transform the concept of "software" because is important go in the same direction of changes that new generations loves. When I was young my friends want know Linux, but today new students want know how write apps, this is the time mark! So transform github in app adding to it simplicity and confort to the user. A software converted in UWP using a virtualized Regist

[2017-05-16 22:37] shiftkey commented on #1502
@Studio384 there's probably some other information I need to reproduce this (probably needs to be fixed in Electron/Chromium, so bear with me).

What monitors and display drivers do you have configured?

[2017-05-16 22:40] citrusui commented on #1504
@Studio384 thanks for the link. This is actually really interesting though... in the same sense, could Atom be ported to the Store? It doesn't technically browse the web, or, at least, [not yet.](http://blog.atom.io/2017/05/16/git-and-github-integration-comes-to-atom.html)

[2017-05-16 22:47] niik opened #1524 "RangeError: Invalid string length"
We're getting a few RangeError, looks like it's limited to one or a few installations at the moment ([rollup](https://haystack.githubapp.com/desktop/rollups/d4250d5fcd308f07ca9a2a64cce72626))

[code]

[This issue](https://github.com/nodejs/node-v0.x-archive/issues/14170) seems to indicate it could be due to not being able to allocate enough memory but it's a very old issue so I don't know how much

[2017-05-16 22:53] niik commented on #821
👏

[2017-05-16 22:58] #1449 closed

[2017-05-16 23:13] alefragnani commented on #1214
Sad to finally discover how much deprecated my computer is. Hope you support 32bits on upcoming releases.

[2017-05-16 23:21] tekkub commented on #1217
Huge 👍 here.  Not all of us have young designer eyeballs, or worse, have medical conditions that impair our vision.

Even ignoring zoom settings, I'd encourage you to use larger base fonts in general. `14pt` (**not** `px`!!) minimum is a wonderful standard to aim for.

[2017-05-16 23:31] cheshire137 commented on #1217
https://blog.marvelapp.com/body-text-small/ was a good article I read the other day about using a larger base font size.

[2017-05-16 23:35] shiftkey commented on #1214
@alefragnani which version of Windows are you running?

[2017-05-16 23:49] alefragnani commented on #1214
I'm using a Windows 10 Pro - 32bits.

I'm limited to this version because my computer is a MacBook Early 2008 (polycarbonate), and Electron platform does not support OS X 10.7 Lion (the last supported OS X on this computer). This forced me to focus on Windows via Boot Camp (which only supports 32bits).

Yes, I know it's an _ancient_ computer, but it _still_ fulfill my needs 😄

[2017-05-17 00:20] hamaminatu opened #1525 "Github Desktop for Linux???"
Please make Github Desktop available for linux user 😃

[2017-05-17 01:05] shiftkey commented on #1525
@hamaminatu this is an excellent question!

Currently our focus is on catching up to feature parity with the classic Desktop apps, and getting what we've built battle-tested, so I don't think this will be on our radar before we hit 1.0.

However I'm not aware of any current technical blockers for supporting Electron on Linux distros:

 - [`dugite-native`](https://github.com/desktop/dugite-native)

[2017-05-17 01:10] shiftkey commented on #1214
Oh gosh, that's very retro!

[2017-05-17 01:17] shiftkey commented on #1498
Good point. What sort of remote is this (Bitbucket/GitLab/self-hosted)?

Yeah, we haven't focused on non-GitHub accounts. We had some tricks with the existing applications but those haven't been brought across.

I'll let @desktop/core chime in on their feels here.

[2017-05-17 02:33] manweill opened #1527 "filter history"
need filter history

[2017-05-17 02:34] shiftkey commented on #1527
@manweill can you elaborate? There's a section in the [CONTRIBUTING.md](https://github.com/desktop/desktop/blob/master/CONTRIBUTING.md#how-do-i-submit-a-good-enhancement-suggestion) about the sort of details that helps us understand more about these sorts of requests.

[2017-05-17 02:36] shiftkey commented on #1520
The minified string around this code gives it away:

[code]

It's here https://github.com/desktop/desktop/blob/3dc8738e711131047f9973398a5dac08e2cd206e/app/src/ui/main-process-proxy.ts#L66. Putting together a fix and some tracing.

[2017-05-17 02:48] mysticatea commented on #1391
I have encountered this problem, too.
The previous official GitHub Desktop for Windows (https://windows.github.com/) is working well.

**Version**

GitHub Desktop version: 0.5.3
OS version: Windows 7 pro

[2017-05-17 02:56] manweill commented on #1527
filter commit  history by name，account，tag

[2017-05-17 03:12] cruzerld commented on #1525
I'm a Linux / Windows / Mac desktop dev and i have some expertise in a few different ways of setting up apt and rpm repos. I've set some up manually on S3 and have used Artifactory to host repos as well. I feel like most node / electron tools pretty much stopped at building the .deb and .rpm so if interested maybe I can build a package or two to help out there? I've also built an .arch package in

[2017-05-17 03:58] kevinlitchfield commented on #1500
May I try my hand at this, @tierninho?

[2017-05-17 04:02] shiftkey commented on #1500
@kevinlitchfield I'm happy to mark this as `up-for-grabs`. Good luck!

[2017-05-17 04:04] kevinlitchfield commented on #1500
@shiftkey Thanks!

[2017-05-17 04:52] shiftkey commented on #1505
Disassembling the release app suggests it's the usage inside Octokat.js: https://github.com/philschatz/octokat.js/blob/master/src/requester.js#L177

Without more context, the 500ing of `/user/public_emails` is probably my best guess of the root cause, which is #1508.

@niik any objections to closing this as a dupe of #1508?

[2017-05-17 04:58] RichiCoder1 commented on #1504
@citrusui Yup! It absolutely could.

@shiftkey TL;DR for @Studio384 issue link (which is great), you can put Github Desktop in the store and opt out of the sandbox, you just won't be xplat (mobile, xbox, holo) since you're not UWP. Still a great delivery and update model though.

[2017-05-17 05:17] BrianHenryIE opened #1529 "actions unrelated to welcome wizard are blocked while welcome wizard is active"
### Version

**GitHub Desktop version:** 0.5.3

**OS version:** MacOS 10.12.3

### Steps to Reproduce

1. do a fresh install of Desktop
1. select the top `GitHub Desktop` menu item
1. click Preferences

**Expected behaviour:** application shows Preferences

**Actual behaviour:** nothing

[2017-05-17 05:21] shiftkey commented on #1529
Can you clarify what you mean here by "doesn't work at all"? Was the entire menu unresponsive? Was the menu interactive (it displayed, you could hover over items), but nothing seemed to occur when you clicked the menu item?

#1513 has been opened to change this. Let's see where that ends up.

[2017-05-17 05:21] dgsimone15 commented on #1504
You also have access to the Windows Dev Center that saves you a lot of time and costs during development. Use beta testers, check your application's performance, distribute it differently from nations, use feedback system integrated into the Etc ... Etc ...
Sorry for my poor english

[2017-05-17 05:28] ziggy42 commented on #1525
For the packaging part, you should also consider appimages, snaps or flatpaks to support multiple distributions with a single package.

[2017-05-17 05:31] introwit commented on #1525
Have used the GitHub desktop app for windows for quite a long time before switching to Ubuntu this year, so I could help with testing it out on Linux and give my feedback whether it's the same experience and how the app performance is compared to the other platform versions.

[2017-05-17 05:39] mWaltari opened #1530 "Seems that I can't configure the "Root" folder to add existing repositories"
Seems that I can't configure the "Root" folder to add existing repositories

In older program I could jsut point out the directory and it would add all the projects already there.

Or it is not very clear how to do that...

[2017-05-17 05:41] shiftkey commented on #1530
@mWaltari yes, the ability to "scan" for repositories hasn't been ported across.

You can drag and drop folders onto the application if you want a quick way to add the repositories you're interested in.

[2017-05-17 05:45] damieng commented on #673
Closing now the new desktop is out.

[2017-05-17 05:45] #673 closed

[2017-05-17 05:51] shiftkey commented on #1504
Tagging this as `future-work` as our 1.0 work and stabilization is the current focus.

[2017-05-17 05:51] shiftkey commented on #1525
Tagging this as `future-work` as our 1.0 work and stabilization is the current focus.

[2017-05-17 05:53] shiftkey commented on #1111
Given the existing apps didn't support this, I'm going to move it to at least our post-1.0 thinking.

[2017-05-17 06:13] duble0 commented on #1504
Ok, sorry you probably want know something more about functions...I think that could be easy and functional ad a notification in Windows action center when somebody do a new commit on your repo, or you can implement function with Windows Flow and Graph.
Or why not using the OneDrive cloud to synchronize online file with mobile devices that use android or iOs...

[2017-05-17 06:15] niik opened #1532 "TypeError: Cannot read property 'action' of undefined"
[code]

I'm guessing this is https://github.com/desktop/desktop/blob/4275f0c7352fe88cb3dfdc2136eb96223362a212/app/src/ui/main-process-proxy.ts#L65-L75 where we're unable to look up the item for some reason

[2017-05-17 06:23] duble0 commented on #1504
@shiftkey I think that a simply conversion with Centennial take not so much time, one you are in the Store you can optimize your software every time you desire and a beautiful thing is that all people will be automatically updated. This is a good way for rapid improvement!...for example you can add a message inside the appt that after an update explain the changes and request a feedback...

[2017-05-17 06:26] dvnkshl opened #1533 "Allow repo list to be grouped by organization or provide option to show full repo name"
For users who are part of multiple github projects/organizations it would be nice to either be able to group the repo list by organization or have the option to show the full repo name on the list view.

e.g.
<img width="736" alt="screen shot 2017-05-16 at 11 20 21 pm" src="https://cloud.githubusercontent.com/assets/3625028/26141046/c1ba2e62-3a8e-11e7-94db-dca756e0bb88.png">

[2017-05-17 06:31] niik opened #1534 "Dealing with unhandled exceptions"
We're seeing that in some scenarios it's possible to get stuck in a feedback loop between the `AppStore` and our `uncaughtException` handler.

Our [uncaughtException handler](https://github.com/desktop/desktop/blob/4275f0c7352fe88cb3dfdc2136eb96223362a212/app/src/ui/index.tsx#L50-L54) reports the error to haystack, logs it to disk, and then posts it to the dispatcher. The dispatcher in turns hands

[2017-05-17 06:40] Studio384 commented on #1502
I'm using a Surface Pro 4 with the latest driver installed.

[2017-05-17 06:41] niik commented on #1532
Reproduced.

1. Right click on a repository item to show its context menu (don't click on anything)
2. Right click on a file item and click on anything but the first menu item

:boom:

In step one we subscribe to the 'contextual-menu-item' event once but since we never click on anything that event never fires

In step two we subscribe again (making us the second in line for that event) and but whe

[2017-05-17 06:48] niik commented on #1530
Gonna close this out as the original question has been answered but feel free to open a separate issue if this is something you would like to see implemented!

[2017-05-17 06:48] #1530 closed

[2017-05-17 06:51] niik commented on #1532
And I should add that the event then propagates to the second caller so you can end up in some really weird situation with this. If you turn off repository removal confirmation and follow the steps above but in the second step you click on the first item in whatever context menu you'll remove the repository _and_ invoke whatever action the second context menu wanted to invoke.

In other words, eac

[2017-05-17 06:53] niik commented on #1520
I accidentally opened a duplicate of this in #1532 but that now has more context so I'm gonna close this and refer to #1532

[2017-05-17 06:53] #1520 closed

[2017-05-17 07:03] BrianHenryIE commented on #1529
As I tried to use the menu to find the GitHub Desktop version, the menu appeared, but upon selecting About GitHub Desktop or Preferences, nothing happened. So, yes, it was interactive, I could hover over and it would highlight, things appeared normal, but when I clicked, the menu disappeared (as felt normal) but the expected dialog box did not appear.

My apologies for missing 1513 – I looked thro

[2017-05-17 07:26] ThirtySomething opened #1535 "Changing Ignored Files fails with a CRLF error"
### Description

By changing the ignored files, the git error message "fatal: LF would be replaced by CRLF in .gitignore" appears.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Microsoft Windows Version 6.1.7601

### Steps to Reproduce

1. Open a github project from your project list.
1. Open the "Repository" menu in the menu bar.
1. Select "Repository settings" in the menu.
1.

[2017-05-17 08:16] ajsb85 opened #1536 "Black screen after first run"
### Description

Black screen after first run.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Microsoft Windows [Version 10.0.16193.1001]

### Steps to Reproduce

1. Install
1. Run the app

**Expected behaviour:** Normal window

**Actual behaviour:** Black window

**Reproduces how often:** 100%

### Logs

2017-05-17T07:48:52.846Z - error: Uncaught exception on main process

[2017-05-17 08:26] niik commented on #340
For reference and as input into future discussion about this, these are the steps and choices I have to make while installing Git for Windows now vs the no-questions-asked automatic installation and configuration approach we took in Classic/Windows.

![image](https://cloud.githubusercontent.com/assets/634063/26144872/d1b1c6e8-3aea-11e7-981d-631dfaa2cb36.png)
![image](https://cloud.githubuserconten

[2017-05-17 08:45] markogresak opened #1537 "How to open client from terminal?"
In the old client, there was `github` CLI command, which opened the client at given path. My common usage was `github .` to open the client for current repository. Now there is no such command. There is `Github Client` inside `Github Client.app`, but it doesn't work the same, it takes over the terminal window.

[2017-05-17 08:45] vritant24 opened #1538 "Github Fails to launch on Mac Sierra 10.12.4"
Occurred on external display
[code]

Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by r

[2017-05-17 09:04] czwen opened #1539 "failed to launch"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-17 09:06] niik opened #1540 "Doesn't look like we ever prune log files"
Just spotted this working on #1534.

![image](https://cloud.githubusercontent.com/assets/634063/26146547/d8076a92-3af0-11e7-9ebf-d11dd8d696da.png)

We really ought to clean up logs after some reasonable amount of time, say 14 days or so

[2017-05-17 09:22] niik commented on #1217
Tentatively moving this to 1.0 for prioritization and discussion

[2017-05-17 09:43] SaschaNaz opened #1541 "Edit->Undo does not work, only Undo quick button works"
### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Windows 10.0.15063

### Steps to Reproduce

1. Commit anything
1. Try Edit->Undo
1. Try Undo quick button[](url)

![github-undo](https://cloud.githubusercontent.com/assets/3396686/26146202/4abb5934-3b2a-11e7-95f1-425450bdc219.gif)

**Expected behaviour:** Edit->Undo should work

**Actual behaviour:** Edit->Undo doesn't work

**Reprodu

[2017-05-17 10:22] r-plus opened #1542 "Could not open editor(e.g. Xcode) when double click filename table row in "Changes" pane."
### Description

Could not open editor(e.g. Xcode) when double click filename table row in "Changes" pane.

### Version

**GitHub Desktop version:** [version 0.5.3]
**OS version:** [version 10.12.4]

### Steps to Reproduce

1. Double click filename in "Changes" pane.

**Expected behaviour:**

Open double clicked file in editor that feature is implemented in GitHub Desktop ver.222.

**Actual behavi

[2017-05-17 10:37] tierninho commented on #1541
Related to: https://github.com/desktop/desktop/issues/1392

[2017-05-17 10:46] #1539 closed

[2017-05-17 10:46] fluffynuts opened #1543 "Feature Request: Search in history"
### Description

A really useful feature would be to be able to search (free-form text) for commits containing that text as well as files containing that text which were touched in a commit. This would make it easy to track history of files.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Microsoft Windows [Version 10.0.15042]

### Steps to Reproduce

This isn't an issue, per se,

[2017-05-17 10:46] tierninho commented on #1539
no info given

[2017-05-17 10:48] tierninho commented on #1536
Believe this is related to: https://github.com/desktop/desktop/issues/1502

[2017-05-17 10:50] fluffynuts opened #1544 "Feature Request: diff config for context size"
### Description

It would be really handy to be able to change the context size for a diff. It would also be super-handy (at least, for me) to be able to make that context size "infinite", meaning "show me the entire file with diffs in place". I find context to be very helpful when trying to figure out what a patch is about.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Microsof

[2017-05-17 10:53] mdiep commented on #1498
This particular repo was BitBucket Server, unfortunately. 😞

[2017-05-17 10:57] shiftkey commented on #1537
@markogresak It's not currently supported, see #696 for the existing discussion around a CLI tool.

[2017-05-17 10:57] #1537 closed

[2017-05-17 11:05] manparvesh opened #1545 "Feature suggestion: Option to add/modify keybindings"
### Description

I think it would be a great help for several people to be able to use different keyboard shortcuts that meet their needs. For example, for focusing on different panels / text areas. I am sure there are many other uses for this.

[2017-05-17 11:13] niik commented on #1541
Thanks for opening this @SaschaNaz.

See https://github.com/desktop/desktop/issues/1392#issuecomment-299601119, the undo menu item is a system convention and refers to text input. It's a bit confusing but we're not eager to change it. We also have limited insight into electron's undo stack so we're not able to infer what action the undo menu item would take. We're also not able to push items to th

[2017-05-17 11:13] #1541 closed

[2017-05-17 11:20] niik commented on #1498
Seems to me like conditionalizing the 'GitHub' part to say 'origin' (or whatever the default remote is) when the remote can't be identified as GitHub or GitHub Enterprise would solve this.

It would require tweaking [these lines](https://github.com/desktop/desktop/blob/ccb6a02e6b0c2f15e5d3f62ce20e4776d8fa84a8/app/src/ui/toolbar/push-pull-button.tsx#L131-L132) a bit.

Unfortunately that would only

[2017-05-17 11:23] SaschaNaz opened #1546 "Give an ability to use default shell on Windows"
### Description

GitHub Desktop on Windows always opens Command Prompt even when the Win+X is set to use PowerShell

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Windows 10.0.15063

### Steps to Reproduce

1. Repository->Open command prompt
2. It always opens Command Prompt

**Expected behaviour:** A shell opening button should be able to open PowerShell

**Actual behaviour:** N

[2017-05-17 11:50] SaschaNaz opened #1547 "Font hinting behavior on Windows is inconsistent and causing visual pain"
### Description

Some UI components uses RGB-based subpixel font hinting when other components uses gray antialiasing, thus causes pain on eye.

1. Repository tab. The tab elements has proper subpixel hinting whereas the commit list just uses normal antialiasing.

   ![image](https://cloud.githubusercontent.com/assets/3396686/26152396/b8dceab0-3b41-11e7-9d48-10f50deb7590.png)

2. Code diff. No sub

[2017-05-17 12:06] niik commented on #1547
Yeah, this is terrible but there's not a whole lot we can do about it. In some cases we're able to turn on subpixel antialiasing (see #1452 for example) but in most cases we can't. Chromium can't do subpixel antialiasing when it has to merge GPU layers.

For our lists we're able to enable it as long as they don't scroll. The moment they do chrome puts in a transparent scroll overlay that triggers

[2017-05-17 12:13] UzEE commented on #1546
Personally, I'd like to have the option of choosing between Cmd, PowerShell, or Bash/Zsh etc. (on Windows 10) or any custom terminal emulator like the previous desktop app did.

I really like the PoshGit environment from the previous desktop app and that's how I use git primarily on my system. I'd like to have the option to go back to that.

[2017-05-17 12:47] ajsb85 commented on #1536
And #1436

[2017-05-17 12:53] ahmed-taj commented on #1483
@joshaber I would like to work on this

[2017-05-17 13:11] niik commented on #1483
@ahmed-taj :clap: Please do! Let us know if you would like any assistance.

[2017-05-17 13:13] niik commented on #1536
@ajsb85 Is that the only thing you see in the log files? No exception stack in close proximity to that?

[2017-05-17 13:18] alrz opened #1548 "URL in a commit message is disappeared in history panel when the item is selected"
### Version

**GitHub Desktop version:**  0.5.3

**OS version:** Windows 7 and 10 (repro'd)

### Steps to Reproduce

1. make a commit with a url in the message
1. go to history panel
1. select the commit

**Expected behavior:** url is readable

**Actual behavior:** url disappeared

**Reproduces how often:** always

[2017-05-17 13:27] niik commented on #1548
@alrz Could you share an example URL that reproduces this behavior and perhaps a screenshot to illustrate? :bow:

[2017-05-17 13:40] tierninho opened #1550 ""Show Logs in Finder" results in no action"
Under Help menu, the item "Show Logs in Finder" does not do anything on a Mac.

v0.0.53, OSX 10.11.5

Reproduce:
- Open Desktop on Mac
- Select "Show Logs in Finder" from Help menu

<img width="499" alt="screen shot 2017-05-17 at 9 35 31 am" src="https://cloud.githubusercontent.com/assets/14828183/26156581/ca3738ea-3ae4-11e7-91e3-2ff9acdf5d99.png">

**Expected behaviour:** Logs in finder should op

[2017-05-17 13:44] stevemoser commented on #1542
I would add to this right click to open the file in an external editor or reveal in Finder, etc.

[2017-05-17 13:46] saschanaz opened #1551 "Incorrect text selection box on long wrapped line"
### Description

Text selection box appears across multiple lines when the selected line is long and wrapped

![image](https://cloud.githubusercontent.com/assets/3396686/26156760/517188e8-3b52-11e7-8ce9-5a9b2ef1ad20.png)

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** 10.0.15063

### Steps to Reproduce

1. Select a long wrapped line
1. Check the selection box

**Expected behaviour

[2017-05-17 13:47] ibot3 opened #1552 "Authentification for non-GitHub repositories"
### Description

It's not possible to use foreign git repositories (e.g. when you're hosting a git server yourself)  at the moment. The option to use custom credentials for the authentification is missing.
However, this function existed in the old version.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** Microsoft Windows [Version 10.0.14393]

[2017-05-17 13:50] alrz opened #1553 "Feature Request: Edit History"
- Edit commit message (with a warning if the commit is already pushed)
- Reorder commits by drag and drop (with a warning if any of commits are already pushed)
- Select and squash subsequent commits (with a warning if any of commits are already pushed)

**SmartGit** has something like this today.

[2017-05-17 13:50] niik commented on #1552
Thanks for opening this @ibot3, I believe this is captured in #852 so please follow along there.

[2017-05-17 13:50] #1552 closed

[2017-05-17 13:53] stevemoser opened #1554 "Contextual Menu (right click) to open a repo in Finder, Atom, or external editor."
### Description

I would like to open a repo in another application.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** macOS 10.12.4 (16E195)

### Steps to Reproduce

1. Click the current repo drop down.
2. Right click on a repo

**Expected behaviour:**
A contextual menu shows with options to open a repo in Finder, Atom, or external editor (maybe this last part would be supported vi

[2017-05-17 13:59] joshaber commented on #1534
@niik you're working on this, right?

[2017-05-17 14:00] niik commented on #1534
@joshaber Indeed, sorry about that

[2017-05-17 14:03] tierninho opened #1555 "Block 'drag n drop' of existing repos"
Users shouldn't be able to drag n drop an existing repo in Desktop. Need some kind of messaging.

v0.5.3, OSX 10.11.5

Reproduce
- Drag an existing repo in Desktop
- Fetch occurs

**Expected behaviour:** Warning for user that repo already exists.

**Actual behaviour:** Fetch occurs, and user can drag n drop the same repo multiple times

**Reproduces how often:** 100%

[2017-05-17 14:08] #1508 closed

[2017-05-17 14:14] joshaber commented on #1527
Thanks @manweill! I'm gonna roll this into #1543. Feel free to follow along there.

[2017-05-17 14:14] #1527 closed

[2017-05-17 14:16] joshaber commented on #1546
We're already tracking this in https://github.com/desktop/desktop/issues/888. Feel free to follow along there!

[2017-05-17 14:16] #1546 closed

[2017-05-17 14:18] joshaber commented on #1548
I noticed this the other day too and forgot to report it 😞 For example, https://github.com/desktop/desktop/commit/95506061c6acb317f73b46f08f382f41e37e0b15:

![screen shot 2017-05-17 at 10 17 52 am](https://cloud.githubusercontent.com/assets/13760/26158527/1f8a751e-3aea-11e7-91f3-deae8d7f1018.png)

I assume the link and selection are the same blue color.

[2017-05-17 14:19] alrz commented on #1543
The search box should also look up author, commit hash and changed file names in the commit.

[2017-05-17 14:19] alrz opened #1556 "Feature Request: File Explorer"
Change "Changes" tab to "Files" with a search box (similar to https://github.com/desktop/desktop/issues/1543) to filter (wildcard-aware) all files including unchanged ones, in order to view, edit, log, blame, open in explorer, etc.

**SmartGit** has something like this today.

[2017-05-17 14:22] niik commented on #1548
Ah, I see. So, this is sort of related to https://github.com/desktop/desktop/issues/1456 in that I don't think we should render linkbuttons at all in these cells. Links should be clickable in the details view in history but not in the individual commit cells. We might want to introduce a different mode for the parser so that it emits spans instead of links while still parsing the content.

[2017-05-17 14:24] alrz commented on #821
Please!

[2017-05-17 14:25] ajsb85 commented on #1536
Yes @niik

No more lines for the log.

[2017-05-17 14:27] ajsb85 commented on #1536
Nice to test:

https://github.com/electron/electron/issues/2479#issuecomment-130307655

[2017-05-17 14:28] joshaber commented on #1542
We made the conscious decision not to implement this, but we'd welcome an issue around @stevemoser's suggestion of right-clicking.

[2017-05-17 14:28] #1542 closed

[2017-05-17 14:34] hanjiexi commented on #1525
@shiftkey

GNOME HIG: https://developer.gnome.org/hig/stable/
KDE HIG: https://community.kde.org/KDE_Visual_Design_Group/HIG

Electron-based apps tend to work the same on all desktops, but if you do want to know where to focus your efforts, I suggest making sure it works great on GNOME, since that is the default ([or will be soon](http://www.omgubuntu.co.uk/2017/05/ubuntu-switch-to-gnome-questions

[2017-05-17 14:40] alrz commented on #1548
Sorry I couldn't upload the screenshot on this machine; thanks @joshaber for the repro.

[2017-05-17 14:52] joshaber opened #1557 "TypeError: Cannot read property 'map' of undefined"
https://haystack.githubapp.com/desktop/needles/msrjQGVfU8gtlzG5KFCFdQ

[code]

[2017-05-17 14:53] joshaber opened #1558 "TypeError: Cannot read property '__reactInternalInstance$jhcl9oakqvvlttco8ywuerk9' of null"
https://haystack.githubapp.com/desktop/needles/Zqxd13opJM0IgBulUnNCLQ

[code]

[2017-05-17 14:55] joshaber commented on #1538
Thanks @vritant24! I haven't been able to reproduce this.

Do you have multiple monitors setup? Anything unusual or funny about your computer's configuration?

[2017-05-17 15:01] niik commented on #1557
I believe this was fixed in #1523, prior to that the emails field in `Account` could end up being an empty string. Also xref #1522

[2017-05-17 15:04] #1473 closed

[2017-05-17 15:05] joshaber commented on #1557
🆒 🍪

[2017-05-17 15:05] #1557 closed

[2017-05-17 15:11] vritant24 commented on #1538
Oh yes, I forgot to mention it. I had connected my tv to my laptop as a second screen.

[2017-05-17 15:13] sebastian-meier commented on #1514
I see the exact same behavior in my github desktop client.
I have added through drag and drop, as well as folder selection.
I have tried multiple repos, all throw the same error.
Although in comparison to @chriddyp my user icon is fine.

[2017-05-17 15:19] sebastian-meier commented on #1514
I also cloned a remote repository, did some changes and get the same error message. Please let me know if you need further info on os etc.

[2017-05-17 15:28] mlavandero opened #1559 "Can't see diff"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

When looking at the history in a Repository, and clicking on a specific file in a commit, the diff for that file does not show.  When seeing the Debug tool, there is this error

[code]

### Version

What version of GitHub Desktop are you runni

[2017-05-17 15:36] joshaber commented on #1559
Thanks @mlavandero! I haven't be able to reproduce this locally, which makes me think it has something to do with your specific repository or git configuration.

Could you paste your global git config in here?

[2017-05-17 15:51] alrz commented on #1214
sounds like it doesn't anymore 😃

[2017-05-17 16:00] joshaber commented on #1516
I couldn't reproduce this. The JSON sent from the app seemed to always include `enterpriseAccount` even when `false`.

[2017-05-17 16:14] niik commented on #1514
@shiftkey I'm guessing that would be from [the trampoline](https://github.com/desktop/desktop/blob/ab8556184fbf5d978722e61fee18866b80203764/app/static/darwin/ask-pass-trampoline.sh#L6).

@joshaber Would know best but that flag isn't documented in the [macOS man page for env](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/env.1.html) though it is in [the uni

[2017-05-17 16:26] joshaber commented on #1514
I think that could actually go away now that we're [explicitly unsetting the credential helper](https://github.com/desktop/desktop/blob/ab8556184fbf5d978722e61fee18866b80203764/app/src/lib/git/core.ts#L222).

[2017-05-17 16:27] mlavandero commented on #1559
Hi @joshaber, thanks for the response, here goes my `.gitconfig`

[code]

[2017-05-17 16:30] rossipedia opened #1563 "Allow skipping the identity portion of the installer"
I have a fairly custom git CLI configuration, and part of that is I _intentionally_ keep `user.name` and `user.email` out of my `~/.gitconfig` file. Rather, I configure my identity on a per-repo basis.

I think the installer should allow skipping _any_ action that modifies `~/.gitconfig`. This is mainly a "power user" feature, and could just be a small "skip ->" link or similar at the bottom of th

[2017-05-17 16:31] picandocodigo commented on #1525
I got it working on my system! (Debian GNU/Linux 9) I have never used Electron before and have very little experience with Node, so it took some workarounds. You can check the work in progress in [my fork](https://github.com/picandocodigo/desktop/tree/linux). There's still lots of work to do but it works!
![github-desktop](https://cloud.githubusercontent.com/assets/689327/26164874/6c2b8920-3b04-11

[2017-05-17 16:33] niik commented on #1514
Agreed, moving to M5

[2017-05-17 16:36] lawlmart opened #1564 "TypeError: Cannot read property 'screen' of undefined"
![image](https://cloud.githubusercontent.com/assets/10986838/26165307/76a2de28-3afd-11e7-8f7a-846e024699f1.png)

[2017-05-17 16:44] SaschaNaz commented on #1547
To workaround, can we use larger font size as the previous client did? The new client uses smaller font size and thus is affected harder.

[2017-05-17 16:49] stevemoser opened #1565 "Add Sync button"
### Description

GitHub for Mac simplified fetching/pulling/syncing with a Sync button. I would like to see this functionality come to GitHub Desktop.

[2017-05-17 16:58] stevemoser opened #1566 "Add contextual (right click) menu to files in the changes pane."
GitHub for Mac's contextual (right click) menu has options to open the file in an external editor or reveal in Finder. I would like to see this functionality come to GitHub Desktop.

[2017-05-17 17:01] stevemoser commented on #1542
I created #1566 for the right click functionality.

[2017-05-17 17:22] hpohlmeyer opened #1568 "Athentication failing, when pushing to GitLab"
### Description

Trying to push to a GitLab Repo that works on the old GitHub Desktop app, fails with the following error:

<img width="609" alt="bildschirmfoto 2017-05-17 um 10 05 57" src="https://cloud.githubusercontent.com/assets/6564077/26144278/74089c12-3ae8-11e7-960b-f976631732f4.png">

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** macOS 10.12.4

### Steps to Reproduce

1.

[2017-05-17 17:25] hpohlmeyer commented on #1568
Ok, I just found the ticket for this (#852), sorry.

[2017-05-17 17:25] #1568 closed

[2017-05-17 17:29] alrz commented on #1128
Please! This is a show stopper for me, I have a lot of remotes and GD tries to fetch them all at startup which cripples my internet connection. If there is an option, it should also consider auto-fetch only the current branch.

[2017-05-17 17:31] ambroselittle opened #1569 "Profile Pic/Avatar Broken on Enterprise"
### Description

Profile pic showing as broken.

### Version

**GitHub Desktop version:** 0.5.3
**OS version:** Windows 10.0.15063

### Steps to Reproduce

1. Sign into an Enterprise instance (with 2FA).

**Expected behaviour:** To see avatar (that shows on the Web site).

**Actual behaviour:** Shows broken image.

**Reproduces how often:** 100%, for all users in history, too.

### Logs
<img width

[2017-05-17 17:32] rossipedia commented on #1569
Duplicate of #821

[2017-05-17 17:34] #1569 closed

[2017-05-17 17:34] ambroselittle commented on #1569
Oops. My bad. I did search but did not match on the right terms.

[2017-05-17 17:35] alrz opened #1570 "Feature Request: Show running git commands"
Extremely useful for users on any level to learn git or just to see what's happening under-the-hood.

**SmartGit** has something like this today.

[2017-05-17 17:47] alrz opened #1571 "Feature Request: Toggle --assume-unchanged"
Toggle `-assume-unchanged` (from git update-index)  for a changed file, basically, it excludes the file from changes without actually discarding them. Useful for when you want to ignore some changes (because it's user-specific or just not yet pushed to upstream e.g a pull request is not merged yet) so that they do not clutter actual changes you're working on.

**SmartGit** has this feature.

[2017-05-17 17:51] tierninho commented on #1428
Error message is:
<img width="750" alt="screen shot 2017-05-17 at 1 51 25 pm" src="https://cloud.githubusercontent.com/assets/14828183/26168411/f8e4c3c4-3b07-11e7-8a33-b862585e9357.png">

[2017-05-17 17:56] artivilla commented on #1559
Having the same issue. Here's my global config file:
[code]
**GitHub Desktop version: 0.5.3**
**OS version: 10.12.4 (16E195)**

[2017-05-17 18:00] sunk818 opened #1572 "Authentication failed. You may not have permission to access the repository."
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Added local repository, unable to push to remote repository

I get this error when I try to push or fetch:

`Authentication failed. You may not have permission to access the repository. Open options and verify that you're signed in with an account that has

[2017-05-17 18:00] joshaber opened #1573 "Capture and report `unresponsive` and `crashed` events"
For now they should just go through the same exception reporting mechanism we're already using.

[2017-05-17 18:03] joshaber commented on #1564
That stack trace looks like #1538.

Are you connected to any external monitors? Anything funny about your setup?

[2017-05-17 18:07] joshaber commented on #1565
We made the conscious decision to 👢 the Sync button this time around. While it _did_ simplify some things, it also caused a lot of confusion.

The current button should do what you want most of the time. Are there cases where it falls short?

[2017-05-17 18:08] joshaber commented on #1571
Hi @alrz, could you tell us more about what this would accomplish? What's the use case here?

[2017-05-17 18:09] joshaber commented on #1572
We don't currently support authenticating with non-GitHub repositories. We're tracking that work in #852. Feel free to follow along there.

[2017-05-17 18:09] #1572 closed

[2017-05-17 18:13] sunk818 commented on #1572
In GitHub Windows program, I was able to work around by add local repository and then make commits to Stash (Bitbucket?) afterwards. So, I wasn't sure why the functionality stopped working in the Beta.

[2017-05-17 18:14] lawlmart commented on #1564
Nope

[2017-05-17 18:18] reisenberger opened #1574 "Feature request: Add multiple existing local repos at a time ("Scan for repos")"
### Description

A useful feature when migrating from a previous client: Add multiple existing local repos at a time.

For instance, if all my repos are in `c:\users\xxx\Documents\Github` (or similar), it would make sense to be able to point to that single folder, recursively search the folders below and add all repos found.

### Version

**GitHub Desktop version:** 0.5.3

[2017-05-17 18:27] Haacked opened #1575 "Creating a branch is hidden in the File menu"
I recently tried to create a new branch and was confused by the interface on how to do so. There was no option in the `Branch` menu to create one. Likewise, the [first comment on my blog post](http://haacked.com/archive/2017/05/16/github-beyond-the-browser/#comment-3309921358) about this release was...

So I think there's definitely a mismatch between expectations here. In the context of Desktop,

[2017-05-17 18:35] joshaber commented on #1575
Put this in 1.0 to consider.

[2017-05-17 18:37] alrz commented on #1571
@Joshaber I've updated the opening comment.

[2017-05-17 18:39] joshaber opened #1576 "Legal cleanup"
From @mlinksva:

[2017-05-17 18:39] niik commented on #1530
xref #1574

[2017-05-17 18:40] niik commented on #674
xref #1574

[2017-05-17 18:47] #1486 closed

[2017-05-17 18:50] #1427 closed

[2017-05-17 18:50] #1456 closed

[2017-05-17 18:52] prijindal commented on #1525
@picandocodigo
Works on Arch linux (4.9.27-1) with GNOME (3.24.2)

[2017-05-17 20:00] crazy-max opened #1579 "Portable release ?"
Hi,

I've created a small wrapper named [github-desktop-portable](https://github.com/crazy-max/github-desktop-portable) but i was wondering if you had planned to do one day a portable version of this app?

Thanks

[2017-05-17 20:19] lshearer opened #1580 "Can't download macOS installer"
### Description

Unable to access the macOS installer from the website links.

### Version

**GitHub Desktop version:** 0.5.4

**OS version:** macOS

### Steps to Reproduce

1. Go to https://desktop.github.com/ and click `Download for macOS` **_OR_** go to https://github.com/desktop/desktop and click `macOS` under `Where can I get it?`.

**Expected behaviour:** It will load an installer of some ki

[2017-05-17 20:26] joshaber commented on #1580
Thanks for letting us know @lshearer! Can you confirm that https://s3.amazonaws.com/github-central/releases/0.5.4-530c75f8/GitHubDesktop.zip works for you?

[2017-05-17 20:28] carlweis commented on #1580
The s3 download link worked for me. Thank you.

[2017-05-17 20:28] EtherTyper commented on #1391
@bwestover That is the problem! :smiley: I used the same fix in #1578, and now GPG signing works.

[2017-05-17 20:42] joshaber commented on #1580
This should be fixed now 💥

[2017-05-17 20:42] #1580 closed

[2017-05-17 20:45] lshearer commented on #1580
Thanks!

[2017-05-17 21:06] lilianmoraru commented on #1525
People seem to report of it working.
Linux is open-source, one can easily test the app in a VM(and Travis is already set).
Seems just like an extended "thank you" to Linus Torvalds.

[2017-05-17 21:53] Haacked opened #1582 "Open PR in Desktop when Desktop is closed doesn't switch to the PR branch"
Repro steps

1. Make sure `GitHub Desktop.exe` is not running.
2. Make sure the repository is already cloned locally and added to Desktop.
3. Click open PR in Desktop on a pull request. Here's [an example](x-github-client://openRepo/https://github.com/Haacked/todo-app?branch=design-changes-for-don).

Expected: `GitHub Desktop.exe` is launched, given focus, __and switches to the PR branch__.
Actual

[2017-05-17 22:18] dan-passaro opened #1583 "Open source the current OS X native app under a different name"
Hi GitHub,

I'm not sure where to ask this question, but if you're open sourcing this new project and ending support for the native OS X app, please release the OS X app's source code with an open source license.

I am a huge fan of the OS X app, and as a developer, I would be happy to contribute patches to ensure the app continues functioning.  I am sure there are other OS X users who would also

[2017-05-17 22:28] shiftkey commented on #948
Giving this @niik as I think he's got this wired up.

[2017-05-17 22:29] rlabrecque commented on #1579
Some notes about what I want to see from this if it happens:

This should never store anything outside of the current folder except for git repos of course. All settings should live in ./settings/ or something like that if in portable mode.
It should not install the auto update service unless specifically set in the options.

I'll happily start this on the weekend.

[2017-05-17 22:29] picandocodigo commented on #273
I've done some work on getting it to run on Travis:
https://travis-ci.org/picandocodigo/desktop/
I can currently run the app in my Linux system with `npm start`. The unit tests pass, but the integration tests don't. Tests fail on Travis too (for different reasons though), but at least the build is there. You can check the code here: https://github.com/picandocodigo/desktop/tree/linux

I'll continu

[2017-05-17 22:30] rlabrecque commented on #1583
Yeah that would be really cool. Might as well release the old windows one like this as well.

[2017-05-17 22:35] rlabrecque commented on #1574
Can we just go one step further and have a scan for repos button? I want to scan my whole D:\ drive, but I don't want to include all the repos from there.

Ideally the UI would give me a list, a 'select all' button, and an 'import selected'. I could then select what I want with ctrl/shift+click or a checkbox next to each repo.

[2017-05-17 22:48] shiftkey commented on #1579
No current plans.

[2017-05-17 22:49] crazy-max commented on #1579
And concerning auto updates, they are some issue and i don't know if it's linked to the wrapper :

![image](https://cloud.githubusercontent.com/assets/1951866/26179399/d3dc4384-3b63-11e7-87b5-db6b834b9282.png)

[2017-05-17 22:49] duble0 commented on #1504
@citrusui @shiftkey @RichiCoder1 @dgsimone15 @Studio384
Hi folks! a guy of [UWP Open Source Community](https://github.com/UWP-Open-Source-Community) had just converted your Desktop release. you can try it [here](https://1drv.ms/u/s!Ak7XeOLujuj5gWuyQE35jC75WZdf)
Anyway ok, there are some problems in the software as downloaded from your website...

[2017-05-17 22:51] BrianHenryIE commented on #1529
Here's a quick video of the menu not working:
https://www.youtube.com/watch?v=mJD2O9BHBus

[2017-05-17 22:54] shiftkey commented on #1579
@crazy-max if you can detect that you're running in "portable" mode you can probably disable those update checks.

@desktop/electron have you seen any other projects go down this path? Any tips?

[2017-05-17 22:56] kevinsawicki commented on #1579
Yeah, Atom did a bunch of work to support this, I think it should be pretty much reusable for Desktop:

* https://github.com/atom/atom/pull/8442
* https://github.com/atom/atom/pull/13426

/cc @damieng

[2017-05-17 22:57] shiftkey commented on #1563
Before letting you skip this step I'd like to make the app more robust when you don't have an email setup https://github.com/desktop/desktop/issues/1364

[2017-05-17 23:01] shiftkey commented on #1529
Thanks for the video. The root cause of this is that we're ignoring menu events while in the welcome wizard (because we want you to complete the wizard).

That's Not Great, and we probably should disable or show a different menu at that time (because all those options aren't available).

[2017-05-17 23:08] rlabrecque commented on #1579
I'll be getting on it either way if someone doesn't beat me to it, it's not
that hard.

On May 17, 2017 4:57 PM, "Kevin Sawicki" <notifications@github.com> wrote:

[2017-05-17 23:14] shiftkey commented on #1529
@BrianHenryIE I updated the initial description to reflect the issue with the menu. Let me know if I missed anything.

[2017-05-17 23:18] shiftkey commented on #1540
Idea: see if we can repurpose whatever logic is used in [`winston-logrotate`](https://www.npmjs.com/package/winston-logrotate) - which supports keeping N files - and get those into [`winston-daily-rotate-file`](https://www.npmjs.com/package/winston-daily-rotate-file) which we're currently using...

[2017-05-17 23:22] shiftkey commented on #1582
@haacked is this a PR from a local branch or from a fork?

[2017-05-17 23:28] albinekb opened #1585 "Window needs a border if shadows are turned off [windows]"
### Description
![image](https://cloud.githubusercontent.com/assets/5027156/26180162/17267ce6-3b68-11e7-8df9-1037fb56bbc6.png)

When shadows are turned off in windows, the window is hard to see.

### Version

**GitHub Desktop version:** 0.5.3

### Steps to Reproduce
1. Open the start menu
1. Search for "performance"
1. Open the app named "Adjust the appearance and performance of "Windows"
1. Choos

[2017-05-17 23:34] shiftkey commented on #1585
Some initial thoughts:

 - I gather this is something we should fix in the app, because Electron Has No Feels On This (cc @desktop/electron to confirm)
 - we'd likely need to touch some OS API to test for whether this is has been set (the "Show shadows under windows" checkbox is the one we care about)
 - have we thought about a border-esque design given this accessibility issue @donokuda @niik?
 -

[2017-05-17 23:43] kevinsawicki commented on #1585
Yeah, if there is an API to get this information or know when this OS setting has changed it would seem worth adding to https://electron.atom.io/docs/api/system-preferences/

[2017-05-17 23:46] albinekb commented on #1585
Maybe this is it: https://msdn.microsoft.com/en-us/library/windows/desktop/ms724947(v=vs.85).aspx#SPI_GETDROPSHADOW

🤔

[2017-05-17 23:49] shiftkey commented on #1585
@albinekb maybe? I'd have to remember how we did detection in WPF because I think we had similar work to do with the classic app.

[2017-05-17 23:49] rlabrecque commented on #1585
Even a 1 pixel border could/would probably be great design wise with or without shadow. Easier to do than modifying electron and having specific behavior.

[2017-05-17 23:53] shiftkey commented on #1555
For reference, the Classic Windows app will just focus on the existing repository when you try to re-add it. I think the Mac app does the same thing.

If you now have multiple instances of the application in the repository list, that's a bug.

[2017-05-18 00:01] rlabrecque opened #1586 "Feature Request: Git console built right into the client."
Most git clients allow you to get to the command line pretty easily, it would be cool if we could have a command line built right in to the client too.

I think ideally this would expand down from the top quake 1 style, it would display all the git commands that have been run, and allow you to run your own git commands right in the application.

It would be nice to be able to run things like MenuI

[2017-05-18 00:03] shiftkey commented on #1570
Not sure how I feel about this, for a couple of reasons:

 - [some of our commands are pretty crazy, and might confuse people if we show them as-is](https://github.com/desktop/desktop/blob/3dc8738e711131047f9973398a5dac08e2cd206e/app/src/lib/git/log.ts#L12-L33)
 - we want our Git operations to be fast, and putting them in front of people feels contradictory to this goal somewhat

But feel free to

[2017-05-18 00:09] rlabrecque commented on #1543
Recommendation: This should display with ctrl+f and pop up in the history pane. First implementation should probably just be the commit message. Everything else should probably be under some kind of prefix like @username is here?

[2017-05-18 00:16] shiftkey commented on #1571
Yeah, our relationship with the index has been Complicated™ since forever. First I'd like for us to get it better aligned with Git's model - #1397 is a first step down that path - and then look at how that affects how we display things in the app.

@alrz

`git update-index --assume-unchanged {file}` isn't something I use a lot, so I'd like to wrap my head around the flow better. Can you describe a

[2017-05-18 00:18] shiftkey commented on #1535
@ThirtySomething nice find!

Could you also include the contents of your global `.gitconfig` - I think there's a value in there we haven't anticipated.

[2017-05-18 00:20] xt0rted commented on #1533
This was a feature request I had with the old native version. I'd like to see a way to group the repos so I'd have my own personal repos, forks of other projects, and repos for work.

[2017-05-18 00:20] shiftkey commented on #1545
@manparvesh could you provide some examples from the current app?

[2017-05-18 00:23] shiftkey commented on #1550
@tierninho interesting - could this be due to the folder not existing on disk (like, we only create the folder when we need to, and the logger is instantiated lazily)?

[2017-05-18 00:25] shiftkey commented on #1553
@alrz there's some neat ideas in here that are probably worth exploring further, but given we didn't support these in the existing apps it's not on our radar for 1.0.

[2017-05-18 00:29] shiftkey commented on #1554
@desktop/core should this be `up-for-grabs` from this because it involves things we haven't discussed for the 1.0 scope - enabling "Open in Atom" or an external editor.

:thumbsup: on adding "Open in Finder" and "Open in Terminal" to the context menu, if we want that back for 1.0.

[2017-05-18 00:30] Haacked commented on #1582
Local branch.

[2017-05-18 00:30] Haacked commented on #1582
Note that it works fine when Desktop is already running.

[2017-05-18 00:33] shiftkey commented on #1556
@alrz there's a lot to unpack here. Could you describe a couple of _workflows_ here that this change would enable, and the details around why this is helpful? It'd be nice to discuss the breadth of this idea beyond just the UI change.

[2017-05-18 00:33] xt0rted opened #1587 "Shortcut to open a new command prompt"
### Description

In the native version you could press <kbd>`</kbd> to open your preferred command prompt  of choice. I'd like to see this return as it's much easier than using the Repository > Open command prompt menu.

### Version

**GitHub Desktop version:** 0.5.4
**OS version:** Win10 Creators Update (10.0.15063)

[2017-05-18 00:34] shiftkey commented on #1558
`__reactInternalInstance$jhcl9oakqvvlttco8ywuerk9'`

![](https://cloud.githubusercontent.com/assets/359239/26181696/7f112a5c-3bb5-11e7-8db1-413758cc2d9e.gif)

[2017-05-18 00:35] Haacked commented on #340
Yeah, that's a pain. Is there a way we can do an unattended install with our suggested settings.

One thing that's nice, if you're on PowerShell 5+, you can run the following command to install Posh-Git.

`PowerShellGet\Install-Module posh-git -Scope CurrentUser`

But for it to be added to your profile, you need to edit your PowerShell Profile and add

`Import-Module posh-git`

If we had our own G

[2017-05-18 00:37] shiftkey commented on #1550
I can reproduce this on the production build, but it works fine when running in dev mode 🤔

[2017-05-18 00:38] Haacked commented on #696
Similar to @zeke, I have a git alias for the new Desktop.

[code]

If you run that command from a repository that is not already set up in Desktop, you'll see a clone dialog with the current path. If you click OK to clone, it won't clone again but realize it's already up to date and set it up in Desktop.

Not as nice as the old `github .` command. But it's a stop gap until this gets implemented.

[2017-05-18 00:43] shiftkey commented on #1128
We'll push out https://github.com/desktop/desktop/pull/1435 soon which will stop this from occurring.

We're tracking #750 to do something similar to this - please comment there about that request.

[2017-05-18 00:43] Haacked commented on #251
Sorry, I missed @niik's question...

I don't have a great reason right now other than I like to know what's going on.

I agree that what we have today is good enough and I'm pretty happy with it. :sparkles:

[2017-05-18 00:45] shiftkey commented on #1573
For reference, these are events raised by `webContents`, not `app`.

[2017-05-18 00:46] r-plus commented on #1542
Okey, thanks all guys.

[2017-05-18 00:49] shiftkey commented on #1587
@desktop/core first off, feels on making a keyboard shortcut for "Open in Terminal"/"Open in command prompt"?

[2017-05-18 00:52] Haacked commented on #1587
I feel we should give it a shot! I know it may have platform specific complications, but if we can dream it, we can code it! 😄

[2017-05-18 00:54] shiftkey commented on #1587
@Haacked :thumbsup: but the next question I had was whether we wanted it to be <kbd>`</kbd> or something more formal...

[2017-05-18 01:00] manparvesh commented on #1545
- Currently there is no option to view all keyboard shortcuts in one place. One needs to open the menu for checking. If it can be put in the settings window, it would be great.
- Also, for existing shortcuts like new branch or new repository, it is possible that one would prefer a different shortcut, something that they are familiar with or that is easy to remember for them (like `Ctrl + B` for ne

[2017-05-18 01:02] manparvesh commented on #1587
Hi all,
As I mentioned in #1545, I think if there is a tab in the settings window for setting the keyboard shortcuts, it would be better to let the user choose the shortcut for a terminal by themselves. What do you think?

[2017-05-18 01:16] xt0rted opened #1588 "Ability to make the file list wider"
### Description

I'm running on a 27" 4k @ 150% scaling and the electron version of the app generally feels smaller than the old native version. For the most part this isn't an issue but for things like the file list the maximum width is half that of the native version. I'd like to be able to make this wider now that the file paths are no longer shown in the wider portion of the window.

![image](

[2017-05-18 01:18] shiftkey commented on #1588
Happy to look into this in a separate issue if you want to put together a repro of it.

[2017-05-18 01:26] shiftkey commented on #1564
First line of the stack trace maps to this:

[code]

This looks like the internals of [`electron-window-state`](https://github.com/mawie81/electron-window-state/blob/master/index.js#L10-L11):

[code]

And we're already calling this problem out on our side when [initializing](https://github.com/desktop/desktop/blob/master/app/src/main-process/app-window.ts#L29) the `AppWindow`:

[code]

Gonna dig i

[2017-05-18 01:31] rlabrecque commented on #1587
Definitely let the user choose, defaulting to ` seems fine though. Are there platform issues with this? It should just call the same function as open-in-shell basically.

[2017-05-18 01:33] Haacked commented on #1587
![why-not-both](https://cloud.githubusercontent.com/assets/19977/26182766/1c266d16-3b2f-11e7-86e1-0a3d17bcad07.gif)

I always saw <kbd>`</kbd> as an alias to the formal command, which we also had.

Also, I believe the "Doom Mode" keyboard shortcut was @shanselman's favorite feature of Desktop and if we don't bring it back, he'll hunt us down. For the PR value of Scott demoing it all the time, it's

[2017-05-18 01:34] xt0rted opened #1589 "Files aren't sorted the same as in the native version"
### Description

Carrying this over from #1588. The file list isn't sorting the same as in the native version. At first it seemed like a number of files were different but after going through some commits it looks like it's just the first two in this image. I'm guessing it's how the file extensions are handled between the two versions. As mentioned in the other issue, I don't think this is really

[2017-05-18 01:34] rlabrecque commented on #1553
Yeah these are the types of features that we need going forward. Those sound great.

[2017-05-18 01:34] xt0rted commented on #1588
Comparing the two versions shows that the old version scaled that list. So if the window was up to 50% the width of my screen it would max out at ~350px, but as the window got wider it would also get wider until at full width it was at ~600px. Having it be able to auto size like that would be awesome.

[2017-05-18 01:37] mnquintana opened #1590 "Custom title bar doesn't respond to action on double-click"
### Description
The custom title bar doesn't respond to double-clicks on macOS.

### Version
**GitHub Desktop version:** 0.5.4
**OS version:** macOS Sierra 10.12.5

### Steps to Reproduce

1. Double click on the title bar
1. Nothing happens

**Expected behaviour:** The window either maximizes, minimizes, or does nothing based on the user's `AppleActionOnDoubleClick` setting.

**Actual behaviour:**

[2017-05-18 01:42] shiftkey commented on #1589
@xt0rted i'm feeling a bit lazy - is there a public commit I can use to dig into this and see what's changed between the two?

[2017-05-18 01:42] rlabrecque commented on #1570
SourceTree sort of has this too, just for long running blocking commands though.

Here's what it looks like in SourceTree:
http://i.imgur.com/UqpC01O.png

Something related that could be interesting though is a git console. You could pull it down with ctrl+`, it would display the complete command history and output [probably] with the exception of automatic refreshes. Then from there you could pro

[2017-05-18 01:45] shiftkey commented on #1587
@rlabrecque

Let's talk about overriding this in #1545 and focus this issue on giving this menu item a keybinding.

We choose keyboard shortcuts based on what feels appropriate for each platform. On the macOS side this maps to <kbd>Command + T</kbd> and it doesn't handle <kbd>`</kbd> at all.

@haacked

For reference, I'm pretty sure this was <kbd>F5</kbd> or <kbd>F8</kbd> or both?

That's fine. I

[2017-05-18 01:47] shiftkey commented on #1590
Atom and VSCode seems to handle this fine, so perhaps this is on us to handle. Marking it as up-for-grabs` - if someone can find the code that does this for either project they're more than welcome to have a go at applying that here.

[2017-05-18 01:49] rlabrecque opened #1591 "add local repository should have autosuggestions/completion"
Basically just typing D:\ would show you a drop down selectable list of folders under it.

[2017-05-18 01:54] rlabrecque commented on #1590
Just tried this on Windows and it works fine here, so OSX label?

[2017-05-18 01:58] xt0rted commented on #1589
That repo is private but I found a public one with similar files https://github.com/zelbar/CAPIS/commit/29a4fa020b1041f92763bc91b0e2da9d83c732dc

[2017-05-18 01:58] shiftkey commented on #1514
Yep, I think this `-u` flag is the issue. On my machine `man env` does indicate it supports `-u`.

@chriddyp  @sebastian-meier could you confirm by opening a terminal and running this command:

[code]

I believe the command should fail on your machines, but on mine it succeeds and prints out the environment list.

I'll open a PR to clean this up now, and hopefully that's all the work we need to do

[2017-05-18 02:10] rlabrecque opened #1593 "Allow the repository list to be expanded all the time"
This was possible in the native version.

Not sure how the best way to do this now would be though. This could be a UI setting in the options, it's not really something you change ever once it's set to your preference. I would prefer not to clutter the UI with a button just for that.

[2017-05-18 02:13] xt0rted opened #1594 "Pressing enter in the commit summary doesn't create the commit"
### Description

Pressing <kbd>Enter</kbd> in the summary box doesn't create the commit while <kbd>Ctrl</kbd> + <kbd>Enter</kbd> does. In the native version both would create the commit.

### Version

**GitHub Desktop version:** 0.5.4
**OS version:** Win10 Creators Update (10.0.15063)

[2017-05-18 02:16] rlabrecque opened #1595 "Feature Request: Add Add/Clone/Create buttons to the repository view."
I think ideally they would be right above the filter box?

[2017-05-18 02:17] xt0rted commented on #1501
In the native version clicking on the commit SHA would copy it and a link to view on GitHub.com was above the list of files in the commit. Would like to see this return as it made rebasing easier.

[2017-05-18 02:25] rlabrecque commented on #1579
That seems terrifying. Do you guys basically rm -rf the whole e:\atom\ directory during an update? What if I accidentally install into C:\atom.exe, does updating wipe my drive? I've never really had a problem with storing user content in folder in portable applications.

[2017-05-18 02:40] rogersachan opened #1596 "Consider publishing Desktop to the Windows Store"
Publishing to the Store would allow easy install and updating.

[2017-05-18 02:42] gengjiawen commented on #1525
I use travis ci to build linux, but I have not tested it. Anyone interested can download binary from here (both deb and AppImage), https://github.com/gengjiawen/desktop/releases/tag/v0.5.4.

[2017-05-18 02:43] chriddyp commented on #1514
You got it @shiftkey :
[code]

[2017-05-18 02:43] xt0rted opened #1597 "Spell checking in commit summary & description"
I'm a horrible speller so it'd be nice to see some spell checking in these boxes similar to the message box in Slack's desktop app.

![image](https://cloud.githubusercontent.com/assets/831974/26184136/04b163a8-3b51-11e7-8e93-583d9b0da677.png)

[2017-05-18 02:53] rlabrecque opened #1598 "Feature request: Repository list folders"
Just simple folders for organizing repos inside the client. Most clients have something like this I.E. SourceTree had:
![image](https://cloud.githubusercontent.com/assets/2047188/26184461/6da800ce-3b42-11e7-86db-635864a53635.png)

Additional notes:

- You should be able to specify the folder during add time.
- Dragging in a folder should just add it to the global namespace.
- Folders should be col

[2017-05-18 02:56] rlabrecque opened #1599 "Feature request: Additional information for each repo in the repository view"
This was my favourite feature of the old SourceTree which they got rid of when they killed their repository bookmarks sidebar. Just being able to see at a quick glance what the state of your repos is in. If you have uncommitted changes, or need to fetch changes was a part of my workflow that I had no idea how much I relied on it until it was gone.

Example:
![image](https://cloud.githubusercontent

[2017-05-18 03:07] #1596 closed

[2017-05-18 03:13] rogersachan commented on #1504
@Studio384 See https://github.com/felixrieseberg/electron-windows-store on the bridge.

Regarding VSCode's exploration into this, they have been successful - but they are working on how testing and building would be done.

[2017-05-18 03:18] rogersachan commented on #1504
To sum it up, VSCode's issue is that they need to have a build system so they can do nightly betas on the store. I assume that GitHub has no plans on doing nightlies for desktop.

[2017-05-18 03:31] rlabrecque commented on #696
If this is something that you guys want still it could go well with: https://github.com/desktop/desktop/issues/1586

Running "Github Desktop.exe" -c "command" or something would be pretty awesome. Lots of code share there.

[2017-05-18 03:37] shiftkey opened #1601 "commits from PR branch are marked as undo-able"
### Description

You can view a PR's commits in Desktop by (if you have push rights) clicking the link next to the merge button:

<img width="651" alt="screen shot 2017-05-18 at 1 31 27 pm" src="https://cloud.githubusercontent.com/assets/359239/26185437/58da5b74-3bce-11e7-9e42-c4e508b1c045.png">

This sets up your local repository with a branch checked out containing those commits:

<img width="75

[2017-05-18 03:42] shiftkey commented on #1514
@chriddyp cool, that makes me feel more confident we'll close this out with #1592

[2017-05-18 03:50] xt0rted commented on #1598
This is similar to what's talked about in #1533

[2017-05-18 04:22] shiftkey commented on #1594
I think this one was just some inconsistent behaviour we've cleaned up.

I'm not quite sure where we ended on this discussion, but I'll let @desktop/core chime in on their memories.

[2017-05-18 04:37] shiftkey commented on #1505
Closing this out as a dupe of #1508.

Reopen if we find another API call that fails in this way that tries to parse HTML as JSON.

[2017-05-18 04:41] shiftkey commented on #1597
Prior art (I'm pretty sure this is used in the Slack app): https://www.npmjs.com/package/electron-spellchecker

[2017-05-18 04:51] shiftkey commented on #1593
With the classic apps, we just assumed that people wanted to quickly switch between repositories. But this took away a lot of screen real estate as a result, and we weren't doing much else with this view.

With the changes in the Electron app we decided to reclaim that space. Looking at our interactions with our users, we knew many weren't tracking many repositories in the application, and to supp

[2017-05-18 05:12] xt0rted commented on #1597
That's the package listed in their acknowledgements list.

[2017-05-18 05:36] rlabrecque commented on #1593
Understandable, that's likely why SourceTree got rid of theirs as well in their latest version.

It's definitely something thst most people don't need, that being said I think it's pretty important for anyone that uses git with multiple projects per day especially with enhancements like #1599.

Given the enhancement tag it seems like something you guys may consider? I'd be implementing this at som

[2017-05-18 05:57] duble0 commented on #1504
I think that this method is similar to Telegram Preview, or WhatsApp Desktop Preview, right?

[2017-05-18 05:57] sebastian-meier commented on #1514
@shiftkey same output on my machine
`env: illegal option -- u
usage: env [-i] [name=value ...] [utility [argument ...]]`

[2017-05-18 06:21] rlabrecque commented on #969
The "create and add" being the same operation while I understand why that decision would have been made... but they are two separate things that do two very different operations and merging them feels wrong. People look for the create repo button and this definitely causes confusion. Good to see that it's being changed.

A separate 'scan for repos' enhancement request is here: #1574

[2017-05-18 06:29] rlabrecque opened #1602 "Edit->Select All menu option does nothing"
### Description
In the Changes view the Edit->Select all button seems to do nothing.

### Version

**GitHub Desktop version:**

0.5.4

**OS version:**

Windows 10 1703

### Steps to Reproduce

**Expected behaviour:**

I'm not sure? Selecting all of the files? That seems really weird.

**Actual behaviour:**

Nothing.

http://i.imgur.com/Ad5zQah.gifv

**Reproduces how often:**

100%

#### Additional

[2017-05-18 07:16] shiftkey commented on #1593
@rlabrecque to be honest, we're still digesting the launch, the reaction and catching up on fixing bugs as quick as possible. We haven't really thought much about the future, especially post-1.0.

[2017-05-18 07:18] rlabrecque commented on #1593
Sounds good, thanks for the heads up and congrats on the launch of course!

[2017-05-18 07:33] shiftkey commented on #1602
Cross-referencing some recent issues where we talk about the Edit menu being a bit confusing - https://github.com/desktop/desktop/issues/1379 https://github.com/desktop/desktop/issues/1392

[2017-05-18 07:34] rlabrecque opened #1603 "Invoking certain menu items breaks Aero Snap state"
**GitHub Desktop version:**

0.5.4

**OS version:**

Windows 10 1703

### Steps to Reproduce

1. Snap the Github Desktop window to half your screen using Win+Left/Right keys
1. Open any Dialog (About, Clone Repo, Add repo, etc)

**Actual behaviour:**

http://i.imgur.com/aruOJ5S.gifv

[2017-05-18 07:47] yellis opened #1604 "Cannot view Avatar in GHE Repo"
### Description

I have a number of repos loaded, all from my GHE (if that makes a difference). Avatars are showing broken images in all of the history lines

### Version

**GitHub Desktop version:** 0.5.4

**OS version:** Microsoft Windows 10.0.15063

### Steps to Reproduce

1. Open GH Desktop
2. Go to any rep, history tab

**Expected behaviour:** see avatars on history lines

**Actual behaviour:

[2017-05-18 07:47] rlabrecque commented on #1602
Ah yeah, looks like niik is on it already!

I still feel like the Undo issue would have been confusing too at some point.  They just don't seem very relevant in this context. Programs like Chrome, Microsoft Edge, Slack, and Discord don't have Undo/Redo/Select All etc as buttons anymore but all support ctrl+z/y, ctrl+a still.

I could just rename this issue to discuss the edit menu in general if wa

[2017-05-18 07:48] shiftkey commented on #1604
Closing in favour of https://github.com/desktop/desktop/issues/821 which has more details about the issue.

[2017-05-18 07:48] #1604 closed

[2017-05-18 07:55] niik commented on #1603
Reproduced. That's pretty annoying.

@rlabrecque Gold star for including a gif ⭐️

[2017-05-18 07:58] niik commented on #1603
Looks like this happens whenever we execute a menu item that ends up sending an ipc message back to the renderer. Clicking on `View -> Changes` for example reproduces this.

[2017-05-18 08:06] rlabrecque commented on #1598
Ah yeah, I wasn't aware that it already split repos up between local and remote!

The GitHub/Organization 'group' could definitely be the default for any repos that do have github as the default remote, and then it would be nice if you could move them from that point?

[2017-05-18 08:08] rlabrecque commented on #1603
Ironically I only found this because I setup my windows this way to capture a different problem!

[2017-05-18 08:12] rlabrecque commented on #57
I'm cloning a repo from the client for the first time and having automatic suggestions would be a very welcome UX addition. I'd also only expect them after the /

[2017-05-18 08:12] goslife opened #1607 "Add option to select text encoding for diffs"
I would like The new desktop github have option to select text encoding for push code except UTF-8 in Option setting.

[2017-05-18 08:16] shiftkey commented on #1607
Git doesn't care about your encodings when it comes time to store and send blobs around. Is this related to how things are displayed in the app? Do you have some examples which show the problem?

[2017-05-18 08:21] niik commented on #1602
I fixed the bug with the select all menu item not working in https://github.com/desktop/desktop/pull/1383. This is a platform convention menu item that refers to text selection. If you open up a view that allows you to select text (like the a commit with a description) it should work fine.

I believe this is sufficiently answered in https://github.com/desktop/desktop/issues/1541#issuecomment-30205

[2017-05-18 08:21] #1602 closed

[2017-05-18 08:29] #1603 closed

[2017-05-18 08:37] niik commented on #1570
I agree with @shiftkey here. There are much better tools for learning git than looking at our cray executions. This idea has been brought up a number of times in the classic apps and we've never been sold on the idea.

[2017-05-18 08:48] rlabrecque commented on #1570
I think the most common use case for me is trying to perform a similar operation that a GUI is performing, and then learning why it does X.
It's definitely something that shouldn't be highly visible though, a user should only see it if they actively want to, which is why I like the idea of hiding it behind a console dialog if that's something that could/would ever happen.

And you know what... It

[2017-05-18 08:49] shiftkey commented on #1514
I think we've got enough here to be confident #1592 is the fix.

@chriddyp @sebastian-meier this will be available in the next update (`0.5.5`). Please comment here if you still see an issue.

[2017-05-18 08:49] #1514 closed

[2017-05-18 08:51] shiftkey commented on #1570
For those who are curious what we're doing, the just switch on debug tracing in the Chrome Dev Tools:

<img width="1149" src="https://cloud.githubusercontent.com/assets/359239/26194203/f796f62e-3bfa-11e7-8985-99b38a350fb4.png">

[2017-05-18 08:54] niik commented on #1570
@shiftkey Those only show for long-running commands tho right?

[2017-05-18 08:56] shiftkey commented on #1570
Oops, yes. Only any operation [above 100ms](https://github.com/desktop/desktop/blob/master/app/src/lib/git/core.ts#L114-L120) gets logged.

[2017-05-18 09:02] niik commented on #1529
Yup, we should incorporate this into [getMenuState](https://github.com/desktop/desktop/blob/2435ba5f9cb4c0474c15ade8374b162f904638cc/app/src/lib/menu-update.ts#L71) so that it knows whether we're in the welcome flow and can disable (or preferably hide) top level menu items that don't do anything.

[2017-05-18 09:05] niik commented on #1563
I think that this is a pretty advanced flow that @rossipedia is using and I'm not sure it's worth the risk to add a skip link for this view that users only see once. We recommend that you have your username and email set up in the global git config.

The negative consequences for a user that's not well-versed in how Git that hits skip outweigh the benefit to a pro-user who knows how to unset these

[2017-05-18 09:06] #1548 closed

[2017-05-18 09:26] greystate commented on #1545
What 's even worse with that is that the shortcut in the old version `Ctrl + Shift + C` now does the "Compare on GitHub" action, which I accidentally trigger all the time now :-)

[2017-05-18 09:37] ahmed-taj commented on #1525
I'm a Ubuntu user and would love you contribute and test the Linux version. At least I can then remove the slow Win10 (VM) I use for contribution :sweat_smile:

[2017-05-18 09:42] prajapati-parth commented on #1525
@ziggy42 VS Code is open sourced. We could use that for packing reference.

@hanjiexi Agreed. Also GitKraken is an excellent example for this.

[2017-05-18 09:48] ziggy42 commented on #1525
@prajapati-parth I'm fine with `.deb` and `.rpm` (I only use Ubuntu and Fedora so I'm covered :smile: ), but there are also examples using Appimages, like [Microsoft BotFramework-Emulator](https://github.com/Microsoft/BotFramework-Emulator/releases).

Anyway, as long as you don't only ship debs, I'm fine :ok_hand:

[2017-05-18 09:53] noformnocontent opened #1610 "[code suggestion] multiples of `||` into Array.includes"
[code]

maybe have it converted to:
[code]
?

not sure if TS supports it though

[2017-05-18 10:09] niik commented on #1507
Seems like this is still occuring https://haystack.githubapp.com/desktop/needles/rOz6NRRj29rsAkGADdUIrQ

[2017-05-18 10:10] niik commented on #1507
Never mind me, that needle was for 0.5.3

[2017-05-18 10:10] #1507 closed

[2017-05-18 10:21] shiftkey commented on #1576
This seems to be a feature of `legal-eagle` - for licenses that it knows and have no variation, it hides the text. Might be a bit of work to change this behaviour and get it merged in the upstream project. @mlinksva how strongly do you feel we should be displaying the full license for these?

[2017-05-18 10:26] tierninho commented on #1555
Yes, it's just a re-focus. Feel free to close if needed.

[2017-05-18 10:32] shiftkey commented on #1610
According to the [Typescript sandbox](https://www.typescriptlang.org/play/index.html):

<img width="298" src="https://cloud.githubusercontent.com/assets/359239/26198327/fba6fd1e-3c08-11e7-83aa-33bb36bffa22.png">

[2017-05-18 10:32] #1610 closed

[2017-05-18 10:41] manparvesh opened #1612 "Desktop positioning in Windows"
### Description

When Github desktop is tiled in Windows, after running any keyboard shortcut, the size and positioning changes to default.

### Version
**GitHub Desktop version:**  0.5.4
**OS version:** Microsoft Windows [Version 10.0.15063]

### Steps to Reproduce
- Tile the Github desktop on your desktop
![1](https://cloud.githubusercontent.com/assets/6629115/26198651/70f82670-3bf9-11e7-89fb-74

[2017-05-18 10:46] shiftkey commented on #1612
@manparvesh thanks for the report!

This has been fixed in #1606 and will be available in the next update.

[2017-05-18 10:46] #1612 closed

[2017-05-18 11:04] joshaber commented on #1558
My current theory is this is related to https://github.com/desktop/desktop/issues/1507, where we'd throw an exception while the component was mounting. It wouldn't be too surprising if React was broken after that.

So I'm gonna close this 🙏 and we can re-open if it's still happening on 0.5.4.

[2017-05-18 11:04] #1558 closed

[2017-05-18 11:04] joshaber commented on #1585
LOL no that's crazy talk.

[2017-05-18 11:11] joshaber commented on #1594
I don't feel strongly either way :shrug:

[2017-05-18 11:15] joshaber commented on #1576
☝️ That would also mean Atom has the same behavior, since we're both using `legal-eagle`.

[2017-05-18 11:29] shiftkey commented on #1576
Examples from the Atom license tab:

<img width="954" src="https://cloud.githubusercontent.com/assets/359239/26200346/0081c500-3c11-11e7-895d-41df75e31673.png">

[2017-05-18 11:32] niik commented on #1583
Thank you for opening this, while we have no immediate plans to open-source the old clients we've heard your feedback and I imagine this is something we'll discuss internally. For now I'd like to keep this repository and its issues centered around the client that we're developing at the moment so I'm going to close this out.

Suggestions, bugs, etc about the old clients can be submitted through ou

[2017-05-18 11:32] #1583 closed

[2017-05-18 11:34] shiftkey commented on #1555
@tierninho :thumbsup:

[2017-05-18 11:34] #1555 closed

[2017-05-18 11:37] joshaber commented on #1588
I've actually wanted this too 👍

[2017-05-18 11:39] shiftkey commented on #1585
Paging @donoku and @niik for general feels before I return to the C++ mines

[2017-05-18 11:45] onovotny commented on #1593
I agree with @rlabrecque 💯. I monitor >20 git repos and want at-a-glance info of the repo status and per-branch status. Tabs hide too much for me.

While screen real estate is valuable, there's a difference between people on a laptop and people with multiple large displays. I'm in the latter camp and I want to maximize the information I have available at-a-glance, that's one reason why I use multi

[2017-05-18 11:49] onovotny commented on #1593
@rlabrecque have you found any alternative to SourceTree that does this?

[2017-05-18 11:50] alrz commented on #750
Copying my comment from https://github.com/desktop/desktop/issues/1128#issuecomment-302165993 at @shiftkey request.

[2017-05-18 11:51] ankibalyan commented on #1525
I'm also a ubuntu user, would love to see github on linux, also I'd like to go from 0.1 stage itself for testing.

[2017-05-18 11:52] anacesponda opened #1614 "Could not install"
<img width="779" alt="screen shot 2017-05-18 at 8 51 17 am" src="https://cloud.githubusercontent.com/assets/11823844/26200989/31d5477c-3ba7-11e7-84f7-da71d8309d0e.png">

[2017-05-18 11:54] joshaber commented on #1599
I _think_ this is essentially the same as #678, so I'm gonna close this. Feel free to add on to that issue.

[2017-05-18 11:54] #1599 closed

[2017-05-18 11:56] shiftkey commented on #1614
This looks like #1564 or #1538 which seem related to detecting displays.

@anacesponda do you have any external monitors connected to your machine?

[2017-05-18 11:56] kevinvanryck opened #1615 "No login request for remotes?"
No "login details" window pops up when synchronising a repository with a remote which is my own git server.

### Description
When using a remote for a repository, which isn't GitHub, I used to get the window asking me to login (GitHub desktop); but with the new beta, it just says it failed to sign in without requesting my sign in details. I use it with my own local git servers; but it's a pity I c

[2017-05-18 11:58] shiftkey commented on #1615
We plan to support this before 1.0.

Closing in favour of the existing issue: https://github.com/desktop/desktop/issues/852

[2017-05-18 11:58] #1615 closed

[2017-05-18 11:58] noformnocontent commented on #1610
yeah, i tried `tsc` locally -- same result, but according to https://github.com/Microsoft/TypeScript/issues/2340 it should have been worked since TS 2.1.5

how is array of strings not a direct descendent of Array :thinking:

[2017-05-18 11:59] niik commented on #1585
![image](https://cloud.githubusercontent.com/assets/634063/26200743/f1249132-3bcf-11e7-9bb3-a82540c3ae51.png)

Okay, we're definitely renaming @donokuda to @donoku

![image](https://cloud.githubusercontent.com/assets/634063/26201154/e181f8a8-3bd1-11e7-993d-e5cd9dcbe8d1.png)

Anyway, yes, we can totally add a border when normal shadows are disabled but I would like to have some more data on how com

[2017-05-18 12:06] anacesponda commented on #1614
@shiftkey Yes, I have monitors connected to my machine. I just opened it again and it worked. Sorry I created an issue for this.

[2017-05-18 12:06] #1614 closed

[2017-05-18 12:15] shiftkey commented on #1585
If I can't get to this through the inbuilt system preferences I'll put together a PR.

[2017-05-18 12:20] shiftkey commented on #1610
@noformnocontent [Probably because we're not on ES7 yet](https://github.com/desktop/desktop/blob/6a11e8480a5bb0294c3ded1205b32773a181b8f9/tsconfig.json#L5), which seems to be a requirement.

[2017-05-18 12:22] alrz commented on #1543
That's a good idea. We could use some other prefix for files (to find commits that modify those files)

[2017-05-18 12:29] noformnocontent commented on #1610
yeah, switching to ES7 is probably too big of a change for this issue to be fixed

[2017-05-18 12:30] #1355 closed

[2017-05-18 12:47] joshaber commented on #1550
Aha! So it doesn't work if the `logs` directory doesn't exist. We create it lazily the first time we log, so if we haven't logged anything, it won't exist.

It'd be nice to fix this but I'm gonna dereprioritize it since it only matters in the case where we haven't had to log.

[2017-05-18 12:53] Johann-S commented on #1474
Fixed by : https://github.com/desktop/desktop/commit/ef2a58b4718958083a1330d73479b673c3296a0e
Because now url aren't link so they are truncated

[2017-05-18 12:55] joshaber commented on #1516
This is still happening with 0.5.4. I haven't figured out where we're losing this data 😞

[2017-05-18 12:56] joshaber commented on #1474
Awesome 🤘

[2017-05-18 13:00] kristofer opened #1616 "context menu in repo list"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

context menu in repository list... should have Open in Github, Open in Terminal and Open in Atom and Open in Finder just like the old Desktop for Mac did.

### Version

What version of GitHub Desktop are you running? This is displayed under th

[2017-05-18 13:03] joshaber commented on #1616
Thanks! We're already tracking this in #1554. Feel free to follow along there.

[2017-05-18 13:03] #1616 closed

[2017-05-18 13:08] #1559 closed

[2017-05-18 13:43] tierninho commented on #1564
Got same error while re-launching the app with a new build (v0.5.4), but I prematurely hit the dock icon to launch it again instead of waiting for the app to launch automatically. Closed it and clicked it again and it opened fine.

<img width="745" alt="screen shot 2017-05-18 at 9 32 49 am" src="https://cloud.githubusercontent.com/assets/14828183/26204903/3d17d0b2-3bae-11e7-960d-b28a7488506f.png">

[2017-05-18 13:50] joshaber commented on #1559
This is fixed and available in 0.5.5. Thanks for the reports!

[2017-05-18 13:53] rossipedia commented on #1563
Ahh well I guess GH Desktop isn't the client for me then. Cheers!

[2017-05-18 13:53] #1563 closed

[2017-05-18 13:54] tierninho opened #1617 "Copy user OS and Desktop build version"
We should add the ability for the user to copy to the clipboard the following at minimum:

- GitHub build version
- OS of the user
- anything else?

Suggest adding it here:
<img width="496" alt="screen shot 2017-05-18 at 9 52 14 am" src="https://cloud.githubusercontent.com/assets/14828183/26205454/ca6d7fc4-3baf-11e7-8d6c-a2623c5d7d63.png">

This will help with accurately getting data for bug repor

[2017-05-18 13:54] joshaber commented on #1516
I think I've narrowed this down to a problem further up in our stats pipeline. Closing.

[2017-05-18 13:54] #1516 closed

[2017-05-18 14:03] joshaber commented on #1617
Relatedly, I wonder if we could provide those values as part of the URL in Help > Report Issue…

[2017-05-18 14:03] joshaber commented on #1617
Indeed, https://github.com/desktop/desktop/issues/new?title=test&body=bleh seems to work.

[2017-05-18 14:15] niik commented on #1563
I'm very sorry to hear that. Just so that we're clear, are you hitting this in any other place than the welcome flow? As far as I know we don't update the global user.name/user.email settings anywhere but in the welcome flow and the Preferences dialog. Once that's done we actually take [great care to respect](https://github.com/desktop/desktop/blob/master/app/src/lib/git/var.ts) commit identities

[2017-05-18 14:23] alrz commented on #1571
As an example, I had a PR to update .gitignore for a repo but as long as it was not merged I had to cherry-pick my commit and make .gitignore assume-unchanged, I would not bring it back until it's merged I can sync with upstream. Another use case is when you want to make some user-specific changes, e.g. you might use a different database config on your own machine, then you probably want to assume

[2017-05-18 14:29] alrz commented on #1556
You can't view, edit, log, blame files that are not externally changed, because they would not show up in the "Changes" tab. Note: this request is assuming that we're going to have context actions on those files .

[2017-05-18 15:03] tierninho opened #1618 "Highlighted text is unreadable"
If user highlights some text in a diff and the text wraps as part of a paragraph, then some the text is in white font color, making it very hard to read against a light green background.

v0.0.55, OSX 10.11.5

Reproduce
- Open a diff with lots of text
- Highlight part of one paragraph

<img width="762" alt="screen shot 2017-05-18 at 10 57 19 am" src="https://cloud.githubusercontent.com/assets/1482

[2017-05-18 15:09] tierninho opened #1619 "Feature request: Grab and scroll diffs by line numbers"
Within a diff, a user can click to scroll up/down the entire diff while highlighting text along the way, however this is not possible if the same action is done in the line numbers section.

Currently, the user can only scroll to the border of the app, then they are forced to use the mouse.

<img width="897" alt="screen shot 2017-05-18 at 10 57 47 am" src="https://cloud.githubusercontent.com/asset

[2017-05-18 15:13] lawlmart commented on #1564
Feels like I did the same thing, that's probably the trick.

[2017-05-18 15:15] joshaber commented on #1619
💯 👍 We're tracking this in #658.

[2017-05-18 15:15] #1619 closed

[2017-05-18 15:19] joshaber commented on #1505
This is still happening in 0.5.5: https://haystack.githubapp.com/desktop/needles/HxyELOY8y9Ul5-Ui-N3ZVw

[2017-05-18 15:25] gengjiawen commented on #1525
I have use travis ci to build github linux client, anyone interested can give it a try. Binary download : https://github.com/gengjiawen/desktop/releases

[2017-05-18 15:27] alrz opened #1621 "The default avatar should be local"
[code]
This should a local image (in case of failure in image loading, etc) or we could use:

- the first letter of author's name (or two letters for first and last name) to make that distinguishable.
- an auto generated avatar

[2017-05-18 15:33] joshaber commented on #1621
Agreed we should do something better and probably something local 👍 This'll need some design input.

[2017-05-18 15:34] joshaber commented on #1505
We're seeing some other variations on this as well:

[code]

[code]

[2017-05-18 16:02] GasMaskProduction opened #1623 "some error in installing the app"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-18 16:08] steveward opened #1624 "Cloning a wiki fails"
### Description

Cloning a wiki in the app or via the `Clone in Desktop` button on the wiki's page fails.

### Version

**GitHub Desktop version:** 0.5.3

**OS version:** macOS 10.12.4

### Steps to Reproduce

1. Open a wiki on GitHub
2. Click `Clone in Desktop`

**Expected behaviour:** [What you expected to happen]

The wiki is cloned.

**Actual behaviour:** [What actually happened]

The app retu

[2017-05-18 16:39] rossipedia commented on #1563
Yeah, I can get behind that. I realize that my workflow isn't a common one by far. Essentially, I've always had issues with Github Desktop and my `%userprofile%\.gitconfig` folder (on Windows).

I store my `.gitconfig` in Dropbox, and symlink to it in my home folder. Editing my `.gitconfig` file creates a hassle because then I have to go in and verify that the symlink is still intact, and also fin

[2017-05-18 16:52] rossipedia commented on #1563
Ok, I can admit when I'm being bone-headed. Turns out I can leave the email field blank during this step, and it does exactly what I want. Sorry for the big deal out of nothing!

[2017-05-18 17:53] mlantz commented on #1598
As a member of 6 orgs this level of organization would mean the world to me personally.

[2017-05-18 17:53] adjohnson916 opened #1625 "Two-factor Authentication for Enterprise"
### Description

Can't get two-factor authentication to work for Enterprise. Is that supposed to be supported at this time?

### Version

**GitHub Desktop version:** 0.5.5

**OS version:** macOS Sierra 10.12.4 (16E195)

### Steps to Reproduce

Attempt to authenticate to Enterprise with credentials. No prompt for a two-factor authentication code is displayed. Same experience both in app and with "S

[2017-05-18 18:04] joshaber commented on #1623
Hi, we'll need more information before we can do anything here. Please see the issue body for instructions.

[2017-05-18 18:04] #1623 closed

[2017-05-18 18:05] joshaber commented on #1625
@adjohnson916 Could you try opening the dev tools to see if there's anything logged in there? Go to View > Toggle Developer Tools to see them.

[2017-05-18 18:42] jlperla opened #1627 "Very unclear how to deal with merge conflicts in the UI (even combined with the command line)"
### Description

This is a general comment on the UI in GitHub Desktop.  How do you envision using the GUI to resolve conflicts?  I can't figure it out, even combining the UI with the command line.  Maybe this is because I don't understand the state that it puts the local repository in, but I want an idiot proof way to tell my (relatively non-technical) collaborators how to deal with conflicts.

#

[2017-05-18 18:43] lpd8-chaff opened #1628 "Improve error message when Enterprise is too old"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

GitHub Desktop version 0.5.5 is having trouble connecting to my GitHub Enterprise instance.  The error it displays after entering my credentials is "Cannot read property 'Symbol(Symbol.iterator)' of undefined"

Server info and login credential

[2017-05-18 18:51] JomaMinoza opened #1629 "GitHub Desktop failed to launch on Version 0.5.5"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[GitHub Desktop failed to launch]

### Version

**GitHub Desktop version:** [0.5.5]

**OS version:** [10.11.6]

### Steps to Reproduce

1. Update version of GitHub Desktop Beta
2. Restart OS
3. Re launch GitHub Desktop

**Expected behaviour:**

[2017-05-18 18:55] joshaber commented on #1628
@lpd8-chaff Thanks for reporting this! Could you check dev tools and paste any errors in here? You can get to them from View > Toggle Developer Tools.

[2017-05-18 18:56] joshaber commented on #1629
Thanks! This looks like #1564, so I'm gonna close this. Feel free to follow along over there!

[2017-05-18 18:56] #1629 closed

[2017-05-18 18:57] joshaber commented on #1538
This looks like #1564, so I'm gonna close this and we'll continue to track the underlying problem here.

[2017-05-18 18:57] #1538 closed

[2017-05-18 18:57] rlabrecque commented on #1593
Not really unfortunately. I started writing my own Git GUI last week because of this and other SourceTree regressions.

This is pretty directly a feature exclusively for advanced users and it pretty much depends on what direction GHD ends up going. There's a bunch of valid routes to take. For example I found the native clients a little too simple to use day-to-day personally but they were the best

[2017-05-18 19:07] rlabrecque commented on #678
Just moving this over here from #1599:

This was my favourite feature of the old SourceTree which they got rid of when they killed their repository bookmarks sidebar. Just being able to see at a quick glance what the state of your repos is in. If you have uncommitted changes, or need to fetch changes was a part of my workflow that I had no idea how much I relied on it until it was gone.

It also d

[2017-05-18 19:17] iAmWillShepherd commented on #969
I feel it would be much better leaving this feature to the Create portion.

[2017-05-18 20:01] cameronmcefee opened #1630 "Launch desktop from the commandline"
(apologies for ignoring the bug report format, this is more of a question)

In the previous iteration of Desktop, I could launch the app from the command line like `github .`, which doesn't seem to work now. Have I missed an option to enable this, or do I have to set it up manually?

[2017-05-18 20:05] Zac-Garby opened #1631 "GitHub Desktop failed to launch"
### Description

I tried to open gh desktop, and it immediately crashed, giving me the following message:

![screen shot 2017-05-18 at 21 04 44](https://cloud.githubusercontent.com/assets/19708658/26221217/a3781434-3c0d-11e7-9b66-568b27ee658e.png)

[2017-05-18 20:06] niik commented on #1630
Hey @cameronmcefee! Long time no see! We currently don't have that but we're tracking it in https://github.com/desktop/desktop/issues/696.

There's some hacks down there that might be interesting in the meantime like https://github.com/desktop/desktop/issues/696#issuecomment-301899759.

I'm gonna close this out but please add any comments you might have to that issue.

[2017-05-18 20:06] #1630 closed

[2017-05-18 20:06] cameronmcefee commented on #1630
:+1: Good to hear from you. Thanks!

[2017-05-18 20:09] joshaber commented on #1631
Thanks! We're already tracking this in #1564. Feel free to follow along there!

[2017-05-18 20:09] #1631 closed

[2017-05-18 20:17] xt0rted opened #1632 "Update notice is too small and unnoticeable"
### Description

The banner saying there's an update available is almost unnoticeable and very hard to interact with because of its size. This happened when 0.5.3 prompted me about 0.5.4 as well.

I'm running at 4k and 150% scaling which has caused issues in the past with Slack and a number of other Electron based apps.

The css for `#update-available.active` puts this at `30px` high, but it's not

[2017-05-18 20:45] lameyer opened #1633 "Feature request: Stashing changes when switching branches or "magic stashing""
Continuation of https://github.com/desktop/desktop/issues/245, where it was decided to not automatically stash changes when switching branches for now.

I find "magic stashing" to be one of the most useful features of the previous desktop app. It enables you to think less about managing git, especially when switching between multiple feature branches.  It also makes getting started with git easier

[2017-05-18 21:03] xt0rted commented on #1632
I didn't restart the app since being prompted and what I've noticed is the update banner is sized differently based on the file that's selected in the Changes list. The size in the original report is based on the first file being selected, if any other file in the list is selected then the banner is sized correctly.

I had left the css rule modified to `90px` and this is what the banner looks like

[2017-05-18 21:27] amellnik commented on #1628
![image](https://cloud.githubusercontent.com/assets/7132414/26224151/fa89bd96-3bd5-11e7-9396-f958d63b7da3.png)

![image](https://cloud.githubusercontent.com/assets/7132414/26224175/13dbac82-3bd6-11e7-8425-97c8a0d48df6.png)

[2017-05-18 21:35] shiftkey commented on #1628
@lpd8-chaff @amellnik my gut feeling on this is that it's related to older versions of GitHub Enterprise. Do you know which version you are connecting to?

[2017-05-18 21:37] amellnik commented on #1628
@shiftkey  2.4, and I bet you're right =)

[2017-05-18 21:39] shiftkey commented on #1628
Sigh. @joshaber do you remember which version of GHE our changes made it into? 2.8?

[2017-05-18 21:57] amellnik commented on #1628
I can confirm that 2.8 works.

[2017-05-18 21:58] shiftkey commented on #1550
🤦‍♂️

Marking this one as `up-for-grabs` - we should create the folder if it doesn't exist before we try and open it - that should make it all work.

[2017-05-18 22:05] shiftkey commented on #1628
@amellnik thanks for confirming!

In theory we [show a message](https://github.com/desktop/desktop/blob/89b71a704007cd62b45db6ebdb279abd8deadc0b/app/src/lib/dispatcher/sign-in-store.ts#L230) with a hint that we only support 2.8 or later, but I guess we need to handle this error too which occurs later in the flow.

[2017-05-18 22:08] shiftkey commented on #1564
@tierninho that's really interesting. I'll see if i can trip it in a similar way.

[2017-05-18 22:11] shiftkey commented on #1632
Looks like the gremlins I stumbled upon in https://github.com/desktop/desktop/issues/1330 are back. Going to leave this open as you've got more details around reproducing it.

[2017-05-18 22:29] hron84 commented on #1525
@gengjiawen the 0.5.4 release has no binary. What is the difference between alpha2 and final 0.5.4?

[2017-05-18 22:32] rlabrecque commented on #1214
Can you guys ship a 32bit windows version that is unsupported? I do something similar for outdated platforms. Basically never intentionally breaking anything but if something regresses then it's up to those users to report it. It's kind of the best of both worlds. The support burden is usually pretty minor, and it keeps that 3% happy enough. We only run into one unsupported version regression ever

[2017-05-18 22:35] shiftkey commented on #1214
Not currently, as [`dugite-native`](https://github.com/desktop/dugite-native) - needed for everything Git - is 64-bit only - and getting it working for 32-bit Windows requires additional work to package bits that don't currently exist.

[2017-05-18 22:38] rlabrecque opened #1634 "Feature Request: Graph history view"
Just testing the waters on this one but, one thing that I'm missing from all of the more 'advanced' clients is essentially `git log --graph`.

This would just display all branches in one history view, with a nice little DAG graph showing how the repo fits together.

Pretty much like this:
![image](https://cloud.githubusercontent.com/assets/2047188/26226176/07f210ca-3be8-11e7-8e04-bb8d2cb9f9ef.png)

[2017-05-18 22:43] rlabrecque commented on #1214
Ah yeah.

I also will say that as someone that routinely uses a computer on the pref level of the aforementioned macbook, electron applications aren't fun on it in general. :/

[2017-05-18 22:51] shiftkey commented on #1618
To reproduce this, hold ALT/Option while dragging (in case you're not sure).

@tierninho the root cause of this seems to be the ability to select two parts of a line that wraps, and I think it will require a fix to Codemirror (I'm pretty sure we're on the latest version).

[2017-05-18 23:58] shiftkey commented on #1582
@haacked I've not been able to trigger this on `0.5.5` - either for local branch or a forked repository. Do you see the fetch kick in after focusing the app? Maybe that's failing and we're unable to switch to the right branch...

[2017-05-19 00:22] Haacked commented on #1582
@shiftkey So here's a clue. When I Open PR for a repository that I haven't even cloned yet, it doesn't even attempt to clone it. It just launches Desktop and fetches for whatever happened to be the last selected repository.

[2017-05-19 00:36] andrewtobin opened #1635 "Enhancement: Discard All Changes available from File Column Header"
### Description

It would be natural if the context menu for applying changes to all files was available on the Changes column header rather than in the context menu of the files themselves.

I was looking to perform a discard all changes, but could not get a context menu on the column header, and found it by right-clicking the file itself.  It would feel more natural if the actions that applied t

[2017-05-19 00:47] shiftkey commented on #1400
@tierninho could you provide some repro steps before we mark this as `up-for-grabs`?

[2017-05-19 01:00] shiftkey commented on #1582
Welp, looks like we're not tracking the details passed when the protocol handler is invoked on that initial launch:

<img width="349" src="https://cloud.githubusercontent.com/assets/359239/26229062/3110b764-3c82-11e7-921d-84a12ffc0e9d.png">

That would explain most of this behaviour.

[2017-05-19 03:15] Altiano commented on #1572
I also try similar thing with GitHub for Windows. All I had to do is to copy-paste id_rsa.pub.
In Github Desktop, where is this file?

[2017-05-19 04:10] alefragnani commented on #1214
The _not fun_ part, in my case, is that it only supports 4Gb of RAM, but other than that, works flawlessly, even running Delphi (my _native language_).

I use, and contribute with some extensions, to Atom and VSCode, and both also works perfectly fine. So, it was strange to see this app being 64bit only, since Electron works on both. But looking at the comments about **dugite-native**, and the 3%

[2017-05-19 04:29] valarpirai opened #1638 "Github desktop is not opening"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-19 05:07] SaschaNaz opened #1639 "The purpose of File menu is vague"
The File menu in the new client is not really about "files". The current content is:

[code]

It's really about repositories and branches, which respectively have their own menu 'Repository' and 'Branch'.

I think something should be done here, the File menu may lose everything except Options and Exit items.

[2017-05-19 05:09] IdanAdar opened #1640 "User image missing in GitHub Enterprise connections"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

The user profile image is missing, when connecte to a GitHub Enterprise instance.

### Version

**GitHub Desktop version:** 0.5.5

The operating system you are running on may also help with reproducing the
issue:

**OS version:** macOS 10.12.5

[2017-05-19 05:14] philschatz commented on #1522
Howdy!  I'm the developer of Octokat.

https://github.com/philschatz/octokat.js/pull/170 switches Octokat to use the `fetch` API directly which might help with this problem. You can test it by using the pre-release version`v0.9.0-0`.

If that does not work, I will probably need to switch Octokat to yield an object that contains:

1. the `Response` object
1. any parsed headers (like `rate_limit` an

[2017-05-19 07:07] niik commented on #1635
Thank you @andrewtobin. Yes, we should definitely do this. It's been on my list to create issues for this, see https://github.com/desktop/desktop/issues/1338

This all goes to show that if you procrastinate for long enough problems goes away by themselves :trollface:

I think we should move the discard all up to the header and also add it to the app menu for discoverability. We've also talked abou

[2017-05-19 07:08] niik commented on #1640
Closing this in favor of #821

[2017-05-19 07:08] #1640 closed

[2017-05-19 07:10] niik commented on #1575
xref https://github.com/desktop/desktop/issues/1639

[2017-05-19 07:10] niik commented on #1639
Folding this into https://github.com/desktop/desktop/issues/1575

[2017-05-19 07:10] #1639 closed

[2017-05-19 07:15] niik commented on #1522
@philschatz Switching to fetch sounds like a wonderful plan, thanks for letting us know about it!

[2017-05-19 07:23] niik commented on #1638
@valarpirai I'm sorry to hear you're having problems launching the app but without any details about the problem we're not going to be able to help you out. Please open an issue and fill out the issue template with the information it asks for so that we can debug this issue with you.

[2017-05-19 07:23] #1638 closed

[2017-05-19 07:24] tnrich commented on #1565
I really miss the sync button too (or actually the ability to hit Cmd-S and have everything sync). Is there some way we can allow users to enable the functionality, but not have it be the default?

Thanks for the cool new tool!

[2017-05-19 07:42] niik commented on #1633
Thanks for opening this @lameyer. I'll just note for anyone coming here that a fairly common pattern for people who used the old app on Windows (where we didn't have magic stashing) was to commit everything with a commit summary of `wip` or something similar and then, when returning to the branch, simply undo the latest change. This flow still works in the new application and may be used as a work

[2017-05-19 07:52] niik commented on #1565
For those interested in our reasoning and our thinking when developing the new flow for staying up to date there's [a write up in one of our early design exploration issues](https://github.com/desktop/desktop/issues/549#user-content-magic-sync-button)

[2017-05-19 08:00] niik commented on #1627
Hey @jlperla.

We want to do much more to support merge conflicts in the UI and we welcome any feedback as we figure this out, see https://github.com/desktop/desktop/issues/71 for one example.

This confused me at first. The client shouldn't put you into a rebase when you pull. Is it possible that you have some custom configuration in your global config that forces pull to use rebase? In-progress

[2017-05-19 08:21] wchristian opened #1641 "Even minimized and with no data loaded CPU is constantly being used on windows"
### Description

As the title says. It is minimized, has no data loaded, yet constantly uses CPU. To be clear on no data loaded, this was directly after install, with only the login being provided.

![image](https://cloud.githubusercontent.com/assets/175467/26239002/ae503026-3c7b-11e7-9d9b-75dad24f17fe.png)

![image](https://cloud.githubusercontent.com/assets/175467/26239304/c0268ca4-3c7c-11e7-80b

[2017-05-19 08:26] Croydon commented on #1511
Please add signing off commits and tags natively.

[2017-05-19 08:31] niik commented on #1624
I feel like we've fixed this several times over in the classic apps 😄

[2017-05-19 08:41] tskarman commented on #1565
Same here, I am using "GitHub for Windows" for exactly two things:

- pressing "Alt +S" to quickly sync my main repo.
- quickly clone GitHub repositories.

I hope I'll find more use cases with the new client, but quickly pressing "Alt + S" I would really miss.

[2017-05-19 08:53] niik commented on #1511
@arjitc Could you tell us a little more about your workflow here? Are you adding the signed-off-by line on your own commits? I'm not very familiar with Signed-off-by but after some reading it appears that it's used in some projects as a way to signal that you've consciously made a determination that the code your adding can be included under the same license as the project you're contributing to i

[2017-05-19 08:54] niik commented on #1511
@Croydon We're tracking tag support in https://github.com/desktop/desktop/issues/257 please subscribe to that issue to follow along

[2017-05-19 09:02] gencer opened #1642 "Extract commit or tag state as tarball/zipball (git archive)"
Can we get some kind of export functionality based on selected commit or tag?

For example; We may find one of the previous commit and right click on it and then export as zipball or tarball archive (just like GitHub Web does) at that state. So we can explore our code better.

**Note**: I searched zip/tar and extract words. Did not find anything yet.
**Note 2:** I did not find any **tags** tab cur

[2017-05-19 09:09] niik commented on #1642
Hey @gencer, it sounds to me like what you're describing is very similar to [git archive](https://git-scm.com/docs/git-archive). Would you say that is more or less what you want?

We're tracking tags support in #257, please subscribe and follow along there

[2017-05-19 09:19] gencer commented on #1642
I subscribed there. Thanks!

To be more clear, Yes. I exactly featuring for `git archive`.

`git  archive -o ~/archive.zip da39a3ee5e6b4b0d3255bfef95601890afd80709`

[2017-05-19 09:30] niik commented on #1474
For future reference it looks like this is caused by our [inline-flex](https://github.com/desktop/desktop/blob/432738e426f83c309375291f0d5da86132f167ae/app/styles/ui/_button.scss#L58) rule on link-button-component, see http://stackoverflow.com/q/28362688/2114

I'm pretty sure we only use that inline-flex rule so that we can position the icon properly when the linkbutton component has one. I think

[2017-05-19 09:37] niik commented on #1588
For anyone who'd like to take a stab at this the `Resizable` component for the file list lives in [repository.tsx](https://github.com/desktop/desktop/blob/432738e426f83c309375291f0d5da86132f167ae/app/src/ui/repository.tsx#L111-L122) and it [supports overriding the maximum width](https://github.com/desktop/desktop/blob/432738e426f83c309375291f0d5da86132f167ae/app/src/ui/resizable/resizable.tsx#L7-L

[2017-05-19 09:50] arjitc commented on #1511
Hi @niik,

Yes, it's in our own private projects hosted here on Github, we use it primarily to indicate that the changes have been approved/seen/accepted by that person who signs off it into the repo.

Yes, perhaps this could be a option like a checkbox above the commit info box ([] Add Signed-off-by)

[2017-05-19 09:52] niik commented on #1511
I'd prefer not to add anything to the primary interface for this feature since it's not a widely used feature. Would you like to take a stab at adding a context menu for the description box?

[2017-05-19 09:58] arjitc commented on #1511
Ah, the right click (?) to add Singed-off-by would be nice too as in your screenshot above 👍

[2017-05-19 10:00] niik commented on #1632
The bug that you mentioned about the weird sizing of the auto update box is definitely something we need to look at but as for the update notification being small and "unnoticeable" that is definitely a conscious choice we've made, see https://github.com/desktop/desktop/issues/1136.

We've designed the update notification to be subtle and unobtrusive so that we don't distract users as they're work

[2017-05-19 10:04] hron84 commented on #1525
Also, I wanna state here 0.5.4-alpha2 is works like a charm. I just downloaded yesterday, but can't wait to be GitHub officially on Linux.

[2017-05-19 10:19] gengjiawen commented on #1525
@hron84 Use the alpha version, since the linux version has not been fully tested. The 0.5.4 tag is not what i want, but github dont allow you to delete a tag release, just ignore it.
And also glad to hear it works.

[2017-05-19 10:21] hron84 commented on #1525
@gengjiawen OK, thanks for the reply. Random tips: ship an icon with deb-rpm files, and also add a `Category` field to the `.desktop` file. If you can point me to the linux build script, I can make you few modifications to ship better packages later.

[2017-05-19 10:32] gengjiawen commented on #1525
You can fork my repo and change it (branch feature ci). The config file is the root package.json. And if you want other linux distro, you can config this file too. I hope Github desktop will consider switch to electron builder.Because with electron builder we can use travis ci and appveyor to build multi platform binary.
Have fun :)

[2017-05-19 10:54] hron84 commented on #1525
@gengjiawen next week i will check it out.

[2017-05-19 11:42] joshaber commented on #1624
lol that was my exact thought too. This ol' chestnut.

[2017-05-19 11:43] tierninho commented on #1400
Looks like this was fixed as I cannot reproduce. Closing.

[2017-05-19 11:43] #1400 closed

[2017-05-19 11:50] 1pete opened #1644 "Enhancement: Amend last commit"
### Description

Amend last commit feature is very useful and exists in many git clients, but not in GitHub Desktop.
It would be nice if we have it in GitHub Desktop too.

Current workaround is click `Undo` and commit again but I've to carefully check what I want to commit again.

### Version
**GitHub Desktop version:** 0.5.5

Thanks.

[2017-05-19 12:06] shiftkey commented on #1624
![](https://media.giphy.com/media/91X2MlgF7dHsA/giphy.gif)

[2017-05-19 12:33] vietthang197 opened #1645 "ERROR"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-19 12:33] stevemoser commented on #1565
Mostly I wanted an easy setup for non-technical people (GitHub for poets) to edit their GitHub pages site offline. Many times they have few or no other contributors. So telling them to hit CMD+S to save like they do in other apps is easier than telling them to shift-CMD-P (to pull changes they might have made on the site) then CMD-P. Thanks for the link to the discussion. I forgot to search for cl

[2017-05-19 12:35] tierninho commented on #1645
closing, no info given

[2017-05-19 12:35] #1645 closed

[2017-05-19 12:54] sapegin opened #1646 "Improve commit message writing experience"
### Description

Right now commit message field is very small with tiny font size which make writing a good commit message a bit painful.

![image 2017-05-17 at 10 27 01 am](https://cloud.githubusercontent.com/assets/70067/26248522/0fdf3798-3ca3-11e7-995a-b4d0e42a9e59.png)

### Proposals

Would be nice to:

1. Have big font for a message heading field
2. Have bigger font for a message body textare

[2017-05-19 13:39] ThirtySomething commented on #1535
Hello @shiftkey ,

the content of my `.gitconfig`  file is

[2017-05-19 14:02] ahmed-taj commented on #1483
Sorry for late response, but I took forever to make GitHub Desktop works on Ubuntu (the only OS I have).

I tried to follow the way github.com shows the whole summary. I think it adds a `title` attribute with the full commit message, right?

This is a screenshot of the result:
![full-summary](https://cloud.githubusercontent.com/assets/12673605/26250675/7a89d41c-3cb3-11e7-80d2-219db4a527a4.png)

I

[2017-05-19 15:55] roryokane commented on #1597
If you add spell-checking, make sure it can easily be disabled as a setting. I find that for writing about code, it often annoys me more than it helps.

For example, if I type “Refactor FooGlobber”, I don’t want “FooGlobber” to be marked as misspelled. Nor “refactor”, which is not in all dictionaries. The same with file paths – if I write “changed src/core/index.js”, I don’t want “src” to be marke

[2017-05-19 16:24] jlperla commented on #1627
@niik Thanks for the response, and it is a good sign that you are as confused as I was!

This is setup in about as vanilla a repository as you can imagine.  No customization, nothing ever done on the command-line, only one branch, etc.  Absolutely no funny stuff intended (though maybe bugs in the desktop threw it into a weird state?)  I downloaded the desktop from the link: https://desktop.github.

[2017-05-19 16:25] donokuda commented on #1632
`30px` should be the correct height. I just ran into this issue and it looks like the "squishing" happens if you're viewing a file with a diff that needs to scroll.

[2017-05-19 17:04] mdiep commented on #1551
You're also unable to select anything from any wrapped lines.

![selection](https://cloud.githubusercontent.com/assets/1302/26258649/8fc9a746-3c93-11e7-9a90-69ff39a5e84e.png)

I tried to select `scanner.currentLine`. But when I copy and paste, it's only ever `nnableError(message`.

[2017-05-19 17:49] nchammas commented on #1501
There is also a shortcut on the native version for copying the commit SHA: Option + Command + C

Would be nice if the new GitHub Desktop offered something similar, though a quick copy button also works.

[2017-05-19 18:53] #1480 closed

[2017-05-19 19:23] freak4pc opened #1649 "GitHub Desktop failed to launch"
The content of the error message isn't copy-pasteable unfortunately:

<img width="732" alt="7c6d66f2-abcc-4084-9f96-693f59f3b5f6" src="https://cloud.githubusercontent.com/assets/605076/26263502/cd29913e-3ce1-11e7-89d1-1fd66dd2c772.png">

[2017-05-19 19:24] freak4pc commented on #1649
Noticed it's already tracked in #1564 . Closing.

[2017-05-19 19:24] #1649 closed

[2017-05-19 19:26] ahmed-taj commented on #1597
I would like to give it a try

@roryokane when you said

Can you clarify the above statement more!

@shiftkey anything I need to consider ?

[2017-05-19 19:37] xt0rted commented on #1644
I typically commit the missed/extra changes and then rebase & squash, this would certainly speed that process up.

[2017-05-19 19:41] mshahat commented on #1634
Would that be considered related to the Comparison Graph in the current non beta version ? I can't see as part of the current beta ?

[2017-05-19 19:49] roryokane commented on #1597
@ahmed-taj I mean that somewhere, there should be an interface for disabling (and re-enabling) spell-checking. And when the user triggers that action to disable spell-checking, the program should remember it and not enable spell-checking if you relaunch the app and then type in another commit message again.

As for the interface for disabling spell-checking, given that spelling suggestions would b

[2017-05-19 20:01] fablabgsd opened #1650 "fullscreen toggle not working"
on windows 10 64 bit. selected fullscreen and couldn't exit fullscreen. when using f11 a big black box would appear on the screen.

[2017-05-19 20:04] jacob-maristany opened #1651 "team"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-19 20:04] #1651 closed

[2017-05-19 20:07] ahmed-taj commented on #1597
@roryokane great, thanks

[2017-05-19 20:07] xt0rted commented on #1597
An `Add to Dictionary` option would be nice for the reasons mentioned above, but probably out of scope for the initial implementation. It also looks like there's some issues with making this work. https://github.com/electron-userland/electron-spellchecker/issues/36

[2017-05-19 20:10] ofek opened #1652 "Feature request: rebase"
First off, fantastic work on the new app! It can almost replace command line (for me).

Specifically, I would really like 2 things:

1. to be able to create a fork, clone locally, then `git pull --rebase` the original repo into my local master. basically just like the current merge option but instead with rebasing.
2. create a new branch from local master then rebase new branch from master. this a

[2017-05-19 20:20] jacob-maristany opened #1653 "Non-Github Repository Support"
### Description

In the previous release of Github Desktop (non-Electron version), I am able to sync with TFS/VSTS repositories added via the "Add Local Repository" action.  The old Github Desktop client would prompt for credentials and authenticate properly.  However, this new Electron client prompts with an Error saying "Authentication Failed...." and instructs to sign in with an account in the

[2017-05-19 20:23] niik commented on #1653
Hey @jacob-maristany, we're tracking this issue over in #852 so please subscribe to that issue to follow along!

[2017-05-19 20:23] #1653 closed

[2017-05-19 20:30] niik commented on #1483
I'm gonna reopen this as the fix provided in #1648 only adds title text for individual tokens in the commit list. Once you have a link or an emoji in there the individual parts of the commit summary have titles but we should really set a title element on the entire thing.

Illustrated below

![commit-title](https://cloud.githubusercontent.com/assets/634063/26265764/b29ba360-3ce2-11e7-9b68-517ba2b2

[2017-05-19 20:36] niik commented on #1646
Hey @sapegin, thanks for opening this.

I think we're gonna fold these into #1217

I think this is a good idea. We'd need to create a version of our `Resizable` component that supports horizontal resize. Is this something you'd like to take a stab at?

Yup, this is being tracked in #1588

[2017-05-19 20:39] rlabrecque commented on #1634
I guess so, sort of, could you only select two branches in the native version though? Having it vertical and tied to the actual commits is quite a bit nicer too though.

[2017-05-19 21:23] xt0rted commented on #1497
I'm seeing this as well. I'm not seeing this with my other Electron based apps, just GitHub Desktop.

This is what it looks like with GitHub Desktop maximized and then Chrome maximized over top of it. The thin white line is the border from GitHub Desktop on the other display.

### Version

**GitHub Desktop version:** 0.5.5
**OS version:** Win10 Creators Update (10.0.15063)

![image](https://cloud.

[2017-05-19 21:26] xt0rted opened #1655 "Double clicking the title bar when maximized doesn't always restore the window size"
### Description

When the application is maximized (via the maximize button, not F11) double clicking on the title bar will restore the window to its previous size, but if you click on the top few pixels of the title bar nothing happens. That area will trigger the menus and min/restore/close buttons, but it doesn't trigger the window restore.

### Version

**GitHub Desktop version:** 0.5.5
**OS ve

[2017-05-19 21:46] LeoNatan commented on #1641
Why does a git UI application need to have 4 processes running, each taking 25-55MB of RAM at least?

Ah, the wonders of Electron "development". Good stuff, "native" "developers".

[2017-05-19 22:03] niik commented on #1655
@xt0rted That sounds like a great idea. Would you like to open a PR to fix that?

[2017-05-19 22:11] xt0rted commented on #1655
I'll take a shot at it.

I was trying to do it in the css but wasn't seeing a top level class that indicated if the window was maximized or not. Is that how we'd like to handle it or would removing that element from the control be a better approach? I haven't used Electron or React so I'm not really familiar with the best practices when doing things like this.

[2017-05-19 22:30] niik commented on #1655
@xtorted awesome! In this case I'd say removing it from the control would be the way to go about it. We already have a condition to only render it on Win32 so that's where I'd try to add a condition for when the app is in full screen. See https://github.com/desktop/desktop/blob/master/app/src/ui/app.tsx#L613 and let us know if you need any assistance

[2017-05-19 23:33] mlinksva commented on #1576
I don't see where legal-eagle does this. I think at least for the example I pointed out, legal-eagle isn't detecting the license from the `LICENSE` file, so is getting the license from `package.json` and as a result does not include the contents of `LICENSE`. Probably detection could be improved, and `LICENSE` contents should be included in all cases.

I'll open an issue or maybe even a PR to fix

[2017-05-20 00:32] shiftkey commented on #1576
@mlinksva I think it's this section: https://github.com/atom/legal-eagle/blob/master/src/legal-eagle.coffee#L48-L60 that's the `package.json` work.

If we want these known cases to also provide the license text, it should be as simple as assigning the text of this license to`licenseText` on [this line](https://github.com/atom/legal-eagle/blob/master/src/legal-eagle.coffee#L60).

[2017-05-20 01:17] shiftkey commented on #1641
@LeoNatan the reasons for this are explained in the [Multi-process Architecture](https://www.chromium.org/developers/design-documents/multi-process-architecture) documentation on the Chromium project - the "browser" and "renderer" separations here flow through to the various Electron APIs.

[2017-05-20 01:20] shiftkey commented on #1641
Yep, it'd be nice to dig into this and see what things we can do in-app, versus working more closely with the Electron core team if it's outside our control.

cc @desktop/electron for feels

[2017-05-20 01:21] LeoNatan commented on #1641
@shiftkey Oh, I understand why Chromium/Chrome, aka "browser", needs a multi-process architecture. But what genius figured out it was also needed for a git UI application? Or a collaboration service app, or a text editor, for that matter? Lazy companies, that's who.

[2017-05-20 01:25] #1632 closed

[2017-05-20 01:30] shiftkey commented on #1597
@ahmed-taj

Not really. I'm not familiar with the `electron-spellchecker` project so I'm not sure what it supports in terms of things like "Add to Dictionary". Have a go at getting it wired up and working, and we can figure out the rest of the UX stuff either here or in a PR.

[2017-05-20 01:38] shiftkey commented on #1650
This feels very much like #1502. @fablabgsd could you comment there with further details about your setup?

[2017-05-20 01:38] #1650 closed

[2017-05-20 01:38] stealthgyro opened #1657 "Uninstalling doesn't fix protocol registry key"
I was having a huge issue due to the fact the new electron build doesn't have a dark mode so when I went to use the old version again I had to actually edit the registry key under

Computer\HKEY_CLASSES_ROOT\x-github-client\shell\open\command

to use the GitHub classic.

[2017-05-20 01:52] shiftkey commented on #1657
@stealthgyro thanks for the context. Not sure how best to do this, given the [declarative syntax](https://github.com/desktop/desktop/blob/3dc8738e711131047f9973398a5dac08e2cd206e/script/build#L89-L90) for protocol handlers is macOS-only and we have to do it at [runtime](https://github.com/desktop/desktop/blob/3af2eee3bcdafe8992da4f7f08f75ce7db8a7699/app/src/main-process/main.ts#L98) on Windows.

[2017-05-20 01:53] xt0rted commented on #1655
So far I haven't had the best of luck getting my environment setup. Despite having node, npm, and VS2015 installed I still needed to do some extra things. This is a list of updates that should be added to the docs once it's all working:

- When installing python make sure to check the option `Add python.exe to Path`
- Even with VS 2015 already installed I still needed to run `npm config set msvs_v

[2017-05-20 02:16] xt0rted commented on #1655
For some reason the `postinstall` script for dugite didn't run, or if it did it failed and wasn't running on subsequent `npm install` attempts. Either way I had to run that manually like so:
[code]

After doing that `npm run build:dev` succeeded.

[2017-05-20 02:21] joshaber commented on #1641
@LeoNatan We welcome constructive feedback but the tone of your comments violates our [Code of Conduct](https://github.com/desktop/desktop/blob/2280d0707c40a18cb992a22ffa596e997840e6dd/CODE_OF_CONDUCT.md). This is your warning. If you continue you will be banned.

[2017-05-20 02:24] lee-dohm commented on #1641
@LeoNatan your comment was deleted as a violation of the [Desktop Code of Conduct](https://github.com/desktop/desktop/blob/master/CODE_OF_CONDUCT.md) as is insulting or derogatory. You may consider this an official warning.

[2017-05-20 02:46] ahmed-taj commented on #1483
@niik oh, I will fix that

[2017-05-20 02:59] xt0rted commented on #295
Being able to create my PRs through the client is definitely a missed feature for me. It's how I create all of my PRs (I realized it was missing when trying to create my PR to this project).

This is one of the reasons I'm still running the native client side-by-side (dark theme, SHA copying, and easier branching are others).

I really don't want to have to load the website and click through that

[2017-05-20 03:09] goslife commented on #1607
For example in Classic Desktop Github for Windows. I develop PHP project for direct print slip that php_printer.dll module not support UTF-8. I must use TIS-620 for Thai language in slip. When I commit code, The preview code of change not show character in Thai language that can easily be understood as pictured.
![2017-05-20_10-00-26](https://cloud.githubusercontent.com/assets/919501/26272494/f11c

[2017-05-20 04:14] shiftkey commented on #1607
@goslife this looks like our diff output isn't handling your encodings correctly, which is a known limitation.

I started experimenting with this a while ago in #634, which I would like to revive at some point, but there are some UX questions that I didn't really get to tackle at the time, and integrating the details we can gather in the clients with our existing encoding detection work in GitHub

[2017-05-20 04:29] shiftkey commented on #1655
@xt0rted my gut feeling on this is something caused an earlier `npm install` to fail to download the necessary `dugite-native` package - it then extracts it to that folder.

[code]

If you're able to reproduce this consistently, let's get to the bottom of it over here: https://github.com/desktop/dugite

[2017-05-20 04:32] shiftkey commented on #1655
Some of these are already called out in the [`setup.md`](https://github.com/desktop/desktop/blob/master/docs/contributing/setup.md) document, but I'd love to refine this further based on your setup and experience :metal:

[2017-05-20 06:33] #1590 closed

[2017-05-20 07:34] yuleshow opened #1661 "Can't load Github Desktop"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-20 07:59] sapegin commented on #1646
I can take a look ;-)

[2017-05-20 09:31] shiftkey commented on #1661
@yuleshow this is a duplicate of #1564. Please add any additional information about your environment there so we can get to the bottom of it.

[2017-05-20 09:31] #1661 closed

[2017-05-20 10:09] HugoMcPhee commented on #340
Another user perspective here:

Has it been considered / is it possible to release a standalone version of "git shell" separate from this?
Thanks

[2017-05-20 10:56] jspahrsummers opened #1662 ""Changed files" label is off-center"
### Description

<img width="252" alt="screen shot 2017-05-20 at 11 53 33" src="https://cloud.githubusercontent.com/assets/432536/26275190/24c3592c-3d53-11e7-9ccd-311189d1c1c1.png">

Looks like the "changed files" label is centered _between_ the checkbox and the divider, when I would expect the label to be centered between the divider and the edge of the window.

### Version

**GitHub Desktop vers

[2017-05-20 11:37] SaschaNaz opened #1663 "The default directory for cloning should be %USERPROFILE%/Documents/GitHub"
### Description

When you first clone a repo the client gives `%USERPROFILE% as a default directory (that is, `C:\\Users\\(username)\\`) whereas the previous client gave `%USERPROFILE%/Documents/GitHub`.

### Version

**GitHub Desktop version:** 0.5.5

**OS version:** Windows 10.0.15063

### Steps to Reproduce

1. Clone a repo
1. See what the client gives for default directory

**Expected behaviou

[2017-05-20 12:00] Zac-Garby opened #1664 "Strange launch error"
![screen shot 2017-05-20 at 12 57 59](https://cloud.githubusercontent.com/assets/19708658/26275576/044c03fc-3d5c-11e7-8552-6a78114453f6.png)

### Steps to Reproduce

1. I had gh desktop open when I shut down my computer
2. When I opened it again, it was in the dock, and the os had reopened it because i clicked
  reopen windows on login. so, it had the black dot below it but no windows of it were o

[2017-05-20 15:03] niik commented on #1662
I bet this is my doing with the work I was doing to associate the label with the checkbox. I'll take another look at it. Thanks @jspahrsummers!

[2017-05-20 15:06] #1483 closed

[2017-05-20 15:10] #1655 closed

[2017-05-20 15:36] albinekb commented on #551
Npm is so slow 😭

[2017-05-20 15:54] niik commented on #1662
Turns out my memory is shit, I've already fixed this (although it's not merged yet) in #1289, more specifically in https://github.com/desktop/desktop/commit/ec54fa1bea22fb18d66f662394864f5bfd3107fc#diff-3345dc8f5a42d8f53854a19ca571b542R24

I'll close out this issue once #1289 lands

[2017-05-20 16:30] hakanorkun opened #1666 "www.mynet.com"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-20 16:43] zzy546 opened #1667 "push F11 to exit full screen but the desktop crashed"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-20 18:54] #1666 closed

[2017-05-20 18:57] SaschaNaz opened #1668 "Discarding changes for 660 files causes ENAMETOOLONG"
### Description

"Discard all changes" with 660 files causes ENAMETOOLONG.

### Version

**GitHub Desktop version:** 0.5.5

**OS version:** Windows 10.0.15063

### Steps to Reproduce

1. Make some changes with large number of files
1. "Discard all changes"

**Expected behaviour:** The work should be done quickly

**Actual behaviour:** It takes too long and throws an error after deleting all change

[2017-05-20 19:18] SaschaNaz opened #1669 "Unfocused selection is too light"
### Description

![github-scroll](https://cloud.githubusercontent.com/assets/3396686/26278724/498636e2-3ddc-11e7-8ffe-ed83b4d06f1e.gif)

### Version

**GitHub Desktop version:** 0.5.5

**OS version:** 10.0.15063

### Steps to Reproduce

1. Select a file on changes list
1. Scroll so that the file isn't visible anymore
1. Return

**Expected behaviour:** Selection should be kept

**Actual behaviour:*

[2017-05-20 19:42] sschwartzcpu opened #1670 "Missing gear symbol"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

According to the documentation at
https://help.github.com/desktop/guides/getting-started/configuring-git-for-github-desktop/
on STEP 6, there should be a gear symbol in the upper right-hand corner of Github Desktop. I am going to say that this

[2017-05-21 00:03] kazzkiq commented on #1575
Found this Issue after facing the same confusion.

IMO, the action for new branch should be found in Branch tab, so a minimal change like adding a button there should do lots in terms of usability. Example:
![123](https://cloud.githubusercontent.com/assets/1953194/26280173/af5d226a-3d9f-11e7-83ca-e8a154634a09.png)

[2017-05-21 00:12] wildanlsfs opened #1671 "local change not appeared"
Please summarise the issue in the title, and then use the template below to
fill out the details so we can reproduce the issue on our end.

### Description

[Description of the issue]

### Version

What version of GitHub Desktop are you running? This is displayed under the
`About GitHub Desktop` menu item. If you are running from source, include
the commit by running `git rev-parse HEAD` from your

[2017-05-21 00:18] programmer94 opened #1672 "Repositories from last version of GitHub do not show in list after upgrade."
### Description

After updating to the beta from the old desktop client, GitHub seems to have forgotten about my cloned repositories.

### Version

**GitHub Desktop version:** 0.5.5

**OS version:** Windows 10

### Steps to Reproduce

1. Update to the new desktop client.
1. Open the new desktop client.
1. Witness the emptiness of the repository list for the new desktop client.

**Expected behaviou