[2019-03-15 23:30] #4737 closed

[2019-03-15 23:47] billygriffin commented on #4471
This seems to be working now for me, and may have been fixed in @JQuinnie's PR. @tierninho Would you mind verifying?

[2019-03-15 23:50] billygriffin commented on #4242
+1, thanks @Daniel-McCarthy!

[2019-03-15 23:50] #4242 closed

[2019-03-16 00:40] tierninho commented on #4471
I can verify that you **cannot** open the right-click menu by clicking on the sliver.

I do not think a user should be allowed to click the sliver as @JQuinnie's PR was adequate, and that a user might accidentally change the wrong file.

[2019-03-16 00:55] tierninho commented on #3070
@billygriffin I can repro this on a Mac and Windows, but only if I have a reduced height on my Desktop application.

[2019-03-16 02:05] AsociTon commented on #7083
@shiftkey I have updated the template, hope this does the job : )

[2019-03-16 03:34] billygriffin commented on #4471
Thanks! I tend to agree @tierninho even though I can’t reproduce the behavior you’re seeing. I must be clicking oh so very slightly on one side or another. I’m going to close this and we can reopen if it comes up from users having problems with it.

[2019-03-16 03:34] #4471 closed

[2019-03-16 05:35] adamreisnz commented on #4184
@billygriffin yeah tell me about it haha :)

Well, I'd just like to suggest that the search filter is used in two ways (which you have been helpful to accommodate).

1) To find a random repo you're looking for. In this case, having prioritised matches in the fuzzy results is a great thing to have.

2) To limit the number of repo's in the list (for example search by project name/org name), and then

[2019-03-16 05:36] adamreisnz commented on #2651
Yes no problem, I don't think it's been a major issue lately, at least I can't recall it happening frequently 👍

[2019-03-16 05:36] #2651 closed

[2019-03-16 05:39] adamreisnz commented on #2904
Yep! Are you on a big issue clean up mission? :)

[2019-03-16 05:39] #2904 closed

[2019-03-16 13:02] alejandronanez commented on #7093
Hey there!

I'm new to the project and I'd like to help - this seems to be a good issue for beginners, am I right?

If so, can I grab it?

Thanks!

[2019-03-16 16:55] Mario34 opened #7105 "Severe delay"

[2019-03-16 17:11] KestutisIT opened #7106 "Github Desktop stopped to work with Windows 10 after latest Windows update"
## Description

I believe that stupid Microsoft just broke a Github Desktop with his latest updates of this week. As Github desktop does not starts anymore. Only only Github Classic can be launced

## Version

* GitHub Desktop:

* Operating system:
Windows 10 x64

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-03-16 20:15] ys commented on #6526
What you can do also is switch to a git URL over an HTTP url for git. It works

[2019-03-16 20:43] konopkoman commented on #7102
Win10, just scroll the app window

[2019-03-17 00:02] billygriffin commented on #2904
@adamreisnz Thanks! Not sure what gave you that idea! 😄

[2019-03-17 00:05] billygriffin commented on #7106
@KestutisIT Thanks for the issue. Would you mind filling out the rest of the template so we can try to get to the bottom of what might be happening? I’d love to understand when this started happening and what version update you did before it began.

[2019-03-17 00:44] jsunsawyer commented on #4471
@billygriffin If I remember correctly, for me, it was much more than the slight border at the time. It was more like the bar that should be clickable was not totally clickable, and has since been resolved.

[2019-03-17 01:40] prascher opened #7107 "Issue using github desktop with a proxy"
I am running the GitHub Desktop on Ubuntu 18.04 and running a proxy locally which drives me crazy.  Please try to fix it
sincerely,
prascher

[2019-03-17 02:33] TaofeekS commented on #4059
i follow ur steps and when i press save it did not save if i try commiting i still get same error

[2019-03-17 12:10] kbauer commented on #2700
An example I came across with versioning my PhD thesis (tex files):

![image](https://user-images.githubusercontent.com/7498468/54490349-6575a500-48b5-11e9-9a2c-f8fd1a5cbb80.png)

  - The heuristic doesn't recognize, that the first change retains what was previously in that line, except for replacing the final period by new content, including a new line afterwards. This issue is shared by the gith

[2019-03-17 17:42] shiftkey commented on #7093
@alejandronanez go for it!

[2019-03-17 17:45] shiftkey commented on #7083
@AsociTon are you able to test this out with the latest version of GitHub Desktop - you should be able to update using the `Help` -> `About GitHub Desktop` menu item. The version you are running is four months behind our most recent release, and I know there has been at least one Git update in that time.

[2019-03-17 22:46] billygriffin commented on #4471
Great! Thanks for the additional context @jsunsawyer, and glad to hear it’s good to go from your perspective now.

[2019-03-18 01:49] brianjenkins94 commented on #1597
Just switched over from GitHub Desktop native where this was already a feature. I guess this explains my recently misspelled commits. 😠

[2019-03-18 02:00] FireCulex opened #7108 "Github Desktop is very slow"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

![GitHubDesktop_2019-03-17_18-59-10](https://user-images.githubusercontent.com/9983630/54502234-c2d61a00-48e6-11e9-8fe9-ce09444e77f1.png)

It can easily take over a minute to fetch and push something as simple as changing 1 byte

[2019-03-18 03:09] alejandronanez commented on #7093
Awesome @shiftkey, I’ll work on this durong this week!

Thanks!

[2019-03-18 04:39] kolya182 opened #7109 "Remove multiple merged local branches"
**Please describe the problem you think should be solved**
Currently no way to delete multiple merged branches at the time. You have to `checkout` to branch and remove it individually.

**[Optional] Do you have any potential solutions in mind?**
* Press `Shift` and select desire branches, use `delete` to remove them

[2019-03-18 09:31] love143bethi commented on #7109
Delete

[2019-03-18 09:38] love143bethi opened #7110 "Delete all"
Delete all

[2019-03-18 09:39] love143bethi commented on #7110
Delete all

[2019-03-18 09:41] antonija-nosto opened #7111 "unhandled exception due to EACCESS error code when spawning git"
## Description

My client crashes all the time. I also have problems where I am asked to give permissions to "git" and it's very likely connected with that.

## Version

* GitHub Desktop: 1.6.4

* Operating system: macOS Mojave 10.14.3

### Actual Behavior

<img width="712" alt="Screenshot 2019-03-18 at 11 29 36" src="https://user-images.githubusercontent.com/44493694/54520960-8fd96800-4972-11e9-9

[2019-03-18 10:06] sdiedrichsen opened #7112 "log file for commits?"
I'd like to have a log file for my commits. I work on many different branches, some are local, some are on our GitHub server. At the end of a week, I have no clue, how many commits I've done. It'd be great, if this would be logged into local file. That would make it much easier to create reports, etc.

[2019-03-18 10:51] AsociTon commented on #7083
@shiftkey checked it on V1.6.4(latest), it is still present.

[2019-03-18 10:58] fawsibamotor opened #7113 "کامیونت فاو"
کامیونت فاو
کامیونت فاو ساخت کشور چین است. کارخانه فاو بزرگترین تولید کننده اتومبیل و کامیون در کشور چین است.

کامیونت فاو از لحاظ کیفی دارای استانداردهای جهانی است و همواره یکی از محصولات پرفروش در بازار ایران بوده است.

میزان فروش کامیون فاو در سال‌های گذشته نماد خوبی برای نمایش میزان استقبال مردم و رانندگان کامیون از این محصول بوده است.

پیشنهاد می‌شود برای مشاهده اطلاعات بیشتری در رابطه فروش ا

[2019-03-18 11:17] pjc0247 commented on #4524
@steveward

[code]

`https://github.com/pjc0247/pix.oldschool.git/` is absolutely mine and but it says you don't have a permission. that's all

[2019-03-18 11:20] NotHansDampf commented on #4524
@steveward: that was the issue! Wasn't aware that the token should be used as a password!

Thinking out loud, maybe that would be a nice piece of information to include in an authentication error message.

Thanks!!!!!

[2019-03-18 13:34] #7113 closed

[2019-03-18 14:16] #7110 closed

[2019-03-18 14:23] tntc4 opened #7115 "Resolve conflict before merging "dialog" is too small."
Please make this window bigger, or at least give a hint about the file name”

see screenshot I provided
![Screenshot_1](https://user-images.githubusercontent.com/3246834/54536826-1b1a2400-499a-11e9-9876-65239de71d67.jpg)

[2019-03-18 14:55] #7015 closed

[2019-03-18 15:07] billygriffin commented on #7115
Thanks for the issue @tntc4! We're looking at this in https://github.com/desktop/desktop/issues/6851, so I'm going to close this issue and please follow along there. Really appreciate you pointing it out!

[2019-03-18 15:07] #7115 closed

[2019-03-18 15:30] #6913 closed

[2019-03-18 16:11] #6390 closed

[2019-03-18 16:20] shiftkey commented on #7099
For extra context, I generally wait on three things before looking into a Yarn upgrade:

 - a decent set of release notes, so I can size up the changes between the current version and the newest version - it's not in the release itself but [`1.15.0`](https://github.com/yarnpkg/yarn/blob/master/CHANGELOG.md#1150) and [`1.15.2`](https://github.com/yarnpkg/yarn/blob/master/CHANGELOG.md#1152) have ent

[2019-03-18 16:24] juliand665 opened #7116 "Light/Dark mode not checked on startup"
## Description
Recently, GitHub Desktop got the option to "Automatically switch theme to match system theme", which I really appreciate, as someone who regularly switches between light and dark mode.

However, this setting isn't applied on startup, so shutting down GD in light mode, switching to dark mode, then starting it back up results in a (desynced) light GD in a dark environment. I don't kno

[2019-03-18 16:25] shiftkey commented on #7116
cc @say25 for :eyes: and thoughts

[2019-03-18 16:28] billygriffin commented on #7107
Hi @prascher, thanks for the issue and sorry it's frustrating! We're looking at this in #2789 and there's a workaround in that issue for how to make it work well until we have some better tooling around it.

[2019-03-18 16:28] #7107 closed

[2019-03-18 16:53] HajarElkoumikhi commented on #1391
I tried this out and it works !

`git config --global commit.gpgsign false`

[2019-03-18 17:16] prascher commented on #7107
Thanks @billygriffin following their advice and a little experimenting fixed my issue.

[2019-03-18 17:36] tierninho commented on #7108
@FireCulex In order to help resolve your issue, please fill out the template above.

We need the information as it may be relevant in determining the underlying problem. Thanks for meeting us halfway 😄

[2019-03-18 17:46] tierninho commented on #7102
I cannot reproduce this. It would be great if you could send over more details @konopkoman

Until then, closing this issue. Happy to reopen if needed or if other report the same. Thanks.

[2019-03-18 17:46] #7102 closed

[2019-03-18 17:48] tierninho commented on #7105
@Mario34 Can you elaborate on the "severe lag"? What are the details and what steps were you trying to perform? Also, what version of Desktop are you using?

[2019-03-18 18:20] say25 commented on #7116
Seems like a solid enhancement. I can pick this up soon. I thought we covered this case but maybe not :/ dont have my Mac atm to verify

[2019-03-18 19:17] shiftkey commented on #7104
This flow has changed as part of #7117 and I'll retest this flow to ensure we're setting the correct state inside the new abort flow.

[2019-03-18 19:19] JB1905 commented on #7116
it would also be great to add the `darwinDarkModeSupport: true` option to build.ts. The window frame and the top bar in full-screen mode do not adjust to the dark mode on macOS.

[2019-03-18 19:29] steveward commented on #7039
@afbora you had previously mentioned that you had changed the repository remote URL:

If you changed the remote URL to SSH then that could be causing this issue, since you would need a valid SSH key in order to authenticate and push. Can you verify that the repositories you are working with are using HTTPS?

[2019-03-18 19:36] afbora commented on #7039
@steveward It is HTTPS. I just want to try other connections.

[2019-03-18 19:49] shiftkey opened #7118 "enable darwinDarkModeSupport when packaging for macOS"
**Please describe the problem you think should be solved**

There is a new option on `electron-packager` which sets a flag to force Mojave builds to

@JB1905 over in #7116 suggests there's other tangible benefits:

**Do you have any potential solutions in mind?**

This is the place that tracks our `electron-packager` config settings, where this new value should be added:

https://github.com/deskto

[2019-03-18 19:50] shiftkey commented on #7116
@JB1905 I've moved the `darwinDarkModeSupport` request over to #7118 as that can be addressed independent of this issue.

[2019-03-18 19:53] say25 commented on #7118
@shiftkey I can take this on as well 🕶

[2019-03-18 20:06] tierninho commented on #7104
I was able to reproduce this in Merge conflicts flow, but only because the long lag in my Windows VM, otherwise it is very difficult to reproduce...

Here is the error output:
<img width="911" alt="Screen Shot 2019-03-18 at 10 04 28 AM" src="https://user-images.githubusercontent.com/14828183/54560001-69f99680-4965-11e9-9996-eb6bc0186e4a.png">

v1.6.5-beta2, windows 10

[2019-03-18 20:25] JB1905 commented on #7118
Currently, the native window elements (e.g. top bar) do not adapt to the macOS Mojave theme.

I can do PR with a proposal for change

I put a comparison:
#### Actual
<img width="700" alt="Zrzut ekranu 2019-03-18 o 21 17 10" src="https://user-images.githubusercontent.com/28870390/54560791-6bf24280-49c3-11e9-8857-c5377a0035c1.png">

#### New
<img width="700" alt="Zrzut ekranu 2019-03-18 o 21 13 46"

[2019-03-18 21:02] say25 commented on #7118
@JB1905 feel free to open a PR 😃

[2019-03-18 21:09] shiftkey commented on #7111
@antonija-nosto thanks for the report! I'm not too familiar with why we're seeing a `EACCES` exit code being raised when we try and invoke `git` from Node, so this bit of information is very interesting to me:

Are you able to share more detail about this? In particular I'm interested in:

 - what are you seeing that is asking you for permissions?
 - how are you trying to mitigate this?
 - what ar

[2019-03-18 21:13] tierninho commented on #1068
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:13] #1068 closed

[2019-03-18 21:17] tierninho commented on #1277
Closing this as it has not come up enough times to be validated as a real problem.

We may revisited as part of a broader support for forks. 🍝

[2019-03-18 21:17] #1277 closed

[2019-03-18 21:20] tierninho commented on #1350
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:20] #1350 closed

[2019-03-18 21:21] tierninho commented on #1369
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:21] #1369 closed

[2019-03-18 21:22] tierninho commented on #1428
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:22] #1428 closed

[2019-03-18 21:24] tierninho commented on #1793
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:24] #1793 closed

[2019-03-18 21:25] tierninho commented on #1794
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:25] #1794 closed

[2019-03-18 21:26] tierninho commented on #1827
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:26] #1827 closed

[2019-03-18 21:28] tierninho commented on #1983
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:28] #1983 closed

[2019-03-18 21:29] tierninho commented on #2005
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:29] #2005 closed

[2019-03-18 21:32] tierninho commented on #2058
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:32] #2058 closed

[2019-03-18 21:34] tierninho commented on #2093
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:34] #2093 closed

[2019-03-18 21:36] #3089 closed

[2019-03-18 21:37] tierninho commented on #3099
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:37] #3099 closed

[2019-03-18 21:38] tierninho commented on #3537
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:38] #3537 closed

[2019-03-18 21:41] tierninho commented on #3630
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:41] #3630 closed

[2019-03-18 21:43] tierninho commented on #3766
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:43] #3766 closed

[2019-03-18 21:45] tierninho commented on #5584
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:45] #5584 closed

[2019-03-18 21:46] tierninho commented on #5604
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:46] #5604 closed

[2019-03-18 21:47] tierninho commented on #5622
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:47] #5622 closed

[2019-03-18 21:48] tierninho commented on #5625
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:48] #5625 closed

[2019-03-18 21:49] tierninho commented on #5684
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:49] #5684 closed

[2019-03-18 21:51] tierninho commented on #5812
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:51] #5812 closed

[2019-03-18 21:53] tierninho commented on #6139
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-18 21:53] #6139 closed

[2019-03-18 22:20] billygriffin commented on #7107
Glad to hear it @prascher!

[2019-03-18 22:31] GENERALGUBERNATOR1 commented on #5802
is.

[2019-03-18 23:11] juliand665 commented on #7118
Just hopping in to point out that "officially" supporting dark mode not only makes menu bars appear correctly, it also adjusts the appearance of the right click menu as well as any dialogs spawned by the app, which really sticks out when it doesn't match.

[2019-03-18 23:41] say25 commented on #7118
@juliand665 Dark Mode is still in beta, I know @JB1905 got a PR opened to address part of it. I should be opening one tonight to fix Dark Mode Auto Switching not working when the app is closed

[2019-03-19 00:20] auttakornG commented on #5394
#5802

[2019-03-19 00:23] tierninho commented on #5970
Re-adding `help-wanted` as this is not fixed.

[2019-03-19 01:23] tierninho commented on #3753
We do surface an auth error if the URL is completing wrong, for example:
<img width="549" alt="Screen Shot 2019-03-18 at 3 21 46 PM" src="https://user-images.githubusercontent.com/14828183/54573726-8f9c9500-4991-11e9-8f93-e61bd75f234b.png">

However, if we use a valid url but manipulate it by adding `http` and `www`, but the browser<-->Desktop auth will ultimately be rejected with no error messagi

[2019-03-19 01:27] tierninho commented on #6192
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:27] #6192 closed

[2019-03-19 01:27] tierninho commented on #6292
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:27] #6292 closed

[2019-03-19 01:29] tierninho commented on #6465
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:29] #6465 closed

[2019-03-19 01:30] tierninho commented on #6585
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:30] #6585 closed

[2019-03-19 01:32] tierninho commented on #6654
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:32] #6654 closed

[2019-03-19 01:32] tierninho commented on #6701
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:32] #6701 closed

[2019-03-19 01:32] tierninho commented on #6864
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:32] #6864 closed

[2019-03-19 01:34] tierninho commented on #6936
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-19 01:34] #6936 closed

[2019-03-19 03:14] TerryChan opened #7120 "git diff takes more than 10 seconds for large binary files"
When I click a large binary file (.pdf, more than 1GB), it takes more than 10 seconds to load the diff:
![image](https://user-images.githubusercontent.com/5396286/54577610-6afaf880-4a37-11e9-9e2d-0dcf47ddc09a.png)

and the diff view didn't response during the loading:
![image](https://user-images.githubusercontent.com/5396286/54577614-6e8e7f80-4a37-11e9-903d-e4b16c5f7429.png)

Can we enhance the d

[2019-03-19 08:44] ilmarh commented on #7084
While importing some project from github desktop popuped info about new version 1.6.5.
I clicked "restart to update" and now i have icon and link in place. Any comments?

![image](https://user-images.githubusercontent.com/10096924/54591771-02624a80-4a3c-11e9-8581-84ae5918748c.png)
![image](https://user-images.githubusercontent.com/10096924/54591828-202faf80-4a3c-11e9-90ba-bca68f53d87b.png)
[code]

[2019-03-19 10:59] afbora commented on #7039
@steveward Could this be a bug?

[2019-03-19 11:29] shiftkey commented on #7118
@juliand665 are you able to share some screenshots of these situations to illustrate the issue?

@JB1905 are you able to look into whether your changes in #7119 does address this?

[2019-03-19 11:38] shiftkey commented on #5197
#7084 is an interesting problem about the start menu shortcut going missing between updates. We should investigate after the upgrade whether this can still be reproduced.

[2019-03-19 11:39] shiftkey commented on #7084
@ilmarh I don't really have any other clues into why that shortcut might be removed between updates - I can't find anything in the logs or in the updater source code that might explain it. I'm glad that the latest update worked for you, and for the moment we have an issue in place to update `electron-winstaller` - that contains the Squirrel updater framework - in #5197 that will be a good opportun

[2019-03-19 11:39] #7084 closed

[2019-03-19 11:41] shiftkey commented on #7075
Closing this out due to inactivity. @MikeTheFox if you're able to fill out the template and provide more details about the request we're happy to discuss further.

[2019-03-19 11:41] #7075 closed

[2019-03-19 11:42] shiftkey commented on #6975
Closing this out due to inactivity. @obendev if you're able to answer the questions in the previous comment to help us understand the suggestion better we're happy to discuss further.

[2019-03-19 11:42] #6975 closed

[2019-03-19 13:10] antonija-nosto commented on #7111
I click on Always Allow but that changes nothing. I get bombarded with this every time I code.

<img width="565" alt="Screenshot 2019-03-19 at 15 07 50" src="https://user-images.githubusercontent.com/44493694/54608160-ca1d3500-4a58-11e9-8a4d-e0a2e74411b5.png">

I checked permissions and they make sense, imo.

[2019-03-19 13:11] shiftkey commented on #7103
I'm going to focus on this bit as this seems to be the root cause:

[code]

Some extra terminology to explain before we proceed:

The "dirty index" message here suggests there were some staged changes at the time the `git pull --rebase` was run, which is blocking the rebase from doing it's work. I was expecting a different error to occur here, based on my exploration of how "pull with rebase" and

[2019-03-19 13:13] shiftkey commented on #7103
@tierninho I'm going to leave this in the milestone to tighten up the error handling in both of these cases, but once that is completed I'm going to move it out of the milestone until we can better understand the Git repository state that triggered these errors. Let me know if there's anything else you can recall from the repro steps.

[2019-03-19 13:28] shiftkey commented on #7101
@TheOriginalSujay this change would only be about ensuring the label is consistent. We defer to your Git config if you have `pull.rebase` set for the repository.

@billygriffin any objections to ensuring these labels are consistent?

[2019-03-19 13:33] shiftkey commented on #7120
@TerryChan thanks for the feedback. I'm going to fold this into an earlier issue that overlaps with this issue: #1913

[2019-03-19 13:35] shiftkey commented on #1913
#7120 outlines an example where selecting a large binary PDF in the changes view takes ~10s from "no file selected" to "binary file found" where there's nothing shown in-between to indicate any progress is happening.

[2019-03-19 13:35] #7120 closed

[2019-03-19 13:57] shiftkey opened #7122 "upgrade fs-admin to address reported vulnerability"
**Please describe the problem you think should be solved**

[`CVE-2017-16042`](https://nvd.nist.gov/vuln/detail/CVE-2017-16042) has been reported against `app/package.json` because of this dependency chain:

 `growl` <- `mocha` <- `fs-admin`

I noticed this a while ago and opened https://github.com/atom/fs-admin/pull/3 to address this, because it should not be a direct dependency of the library (j

[2019-03-19 14:11] mikew commented on #7060
Dupe of https://github.com/desktop/desktop/issues/1380? This issue has been going on for years.

[2019-03-19 14:17] sdiedrichsen commented on #7112
Hi Steve,

thanks for taking care of this!

comes close to my needs, but it shows only the commits of the current branch. To get the commits of a week, I’d need to switch between all branches and run the git log command. Is there a smart way to do this?

Thanks,

Steffan

[2019-03-19 14:20] ChessMess commented on #7081
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/9343/54613132-94645600-4a30-11e9-9f9f-8c82d567cff9.gif)

[2019-03-19 14:37] mido1966 commented on #2005
Thank you very one es ok Dankeschön alles ok

‏‫من الـ iPhone الخاص بي‬

‫في 18‏/03‏/2019 الساعة 10:30 م، كتب/كتبت ‏Tiernan L ‏<notifications@github.com<mailto:notifications@github.com>>:‬

Closed #2005<https://github.com/desktop/desktop/issues/2005>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/desktop/desk

[2019-03-19 16:53] billygriffin commented on #7112
Hi @sdiedrichsen, thanks for the issue! Would you mind sharing what you're using overall quantity of commits for? I think we're generally of the opinion that the number of commits isn't super important in the course of someone's workflow, so I don't anticipate that this would be something we're likely to support, but I'm interested to understand better what you're using it for and how it's useful

[2019-03-19 17:11] billygriffin commented on #7101
@shiftkey Absolutely no objection. I'd be pretty upset as a user if the suggested next step didn't convey that information tbh. I do worry just a bit about the button having too many words and looking pretty odd as a result. If that's the case, a potential solution could be that we incorporate it into the title text instead. For example: "Pull 2 commits with rebase from the origin remote"

[2019-03-19 17:44] billygriffin commented on #7060
Looks like that @mikew, thank you! I'm going to close this issue and we'll continue to track in #1380. I wish we knew how to repro this reliably so we could get to something that fixes it, so if anyone can help in that regard, it'd be much appreciated.

[2019-03-19 17:44] #7060 closed

[2019-03-19 17:53] tierninho commented on #7103
@shiftkey Thank you for the detailed update. Not sure about the exact steps as the "hidden" LFS file threw me off. Not sure I can repro either.

[2019-03-19 18:36] lee-dohm commented on #1597
I did some spelunking into all of this and from what I can see, this would be achieved by:

1. Using the [electron-spellchecker package](https://github.com/electron-userland/electron-spellchecker) to integrate with the Electron API that @damaneice [mentions above](
https://github.com/desktop/desktop/issues/1597#issuecomment-387207660)
1. Use the [`spellcheck` HTML attribute](https://developer.mozi

[2019-03-19 18:38] shiftkey commented on #7103
I've opened https://github.com/desktop/dugite/pull/320 to add support for a new error code to handle the first scenario. The second one does not need a new error code because it looks like it maps to `DugiteError.NothingToCommit`:

[2019-03-19 20:28] steveward commented on #7112
@sdiedrichsen there are low-level Git 'plumbing' commands that you can use to get more granular information -- I believe the [`git for-each-ref`](https://git-scm.com/docs/git-for-each-ref) option would be what you are looking for here. It allows you to iterate over all the refs in your repository. This [StackOverflow](https://stackoverflow.com/questions/3846380/how-to-iterate-through-all-git-branc

[2019-03-19 20:35] juliand665 commented on #7118
@shiftkey sure; here are some screenshots:

In GitHub Desktop:
<img width="799" alt="Screenshot of right click menu in GitHub Desktop" src="https://user-images.githubusercontent.com/827762/54639683-42eab400-4a8e-11e9-9162-40530bc3b0a4.png">

What it should look like in dark mode:
<img width="324" alt="Screenshot of right click menu outside GitHub Desktop" src="https://user-images.githubusercontent

[2019-03-19 20:51] shiftkey commented on #7118
@juliand665 thanks for the screenshots. Hopefully this same flag in #7119 is enough to also get those working - let's see what we can confirm in that PR.

[2019-03-19 20:55] JB1905 commented on #7118
#### With `darwinDarkModeSupport: true`

<img width="114" alt="Zrzut ekranu 2019-03-19 o 21 54 09" src="https://user-images.githubusercontent.com/28870390/54641074-8e529180-4a91-11e9-854d-00a51a24b15c.png">

[2019-03-19 20:57] steveward commented on #7039
@afbora we are aware of authentication issues like this, but it's been difficult to track down what specifically is causing these problems on each individual machine. See https://github.com/desktop/desktop/issues/3816 for reference.

One problem we have seen has been due to an invalid token, but everything in the log seems to point to your token being valid:

`2019-03-13T12:29:49.427Z - info: [ui]

[2019-03-20 01:14] KipTwitchell commented on #7078
That did 't fix the problem for me.  Same result

[2019-03-20 06:59] justingolden21 commented on #6722
I recently got a new laptop and I'm happy to report that Github Desktop works fine and I am not experiencing the bug I reported before. This laptop is by Dell, the others were HP and Lenovo. Hopefully, someone can figure out why this bug was happening and fix it in the future. On my end, however, the problem isn't relevant anymore.

[2019-03-20 07:51] afbora commented on #7039
@steveward I tried your said and all is well.

1. Pushed successfully via command line: [Screenshot](https://user-images.githubusercontent.com/3393422/54667525-a19b4680-4afd-11e9-955e-e1dffc73f804.jpg)

2. Checked windows credential manager and it is exist: [Screenshot](https://user-images.githubusercontent.com/3393422/54667700-09519180-4afe-11e9-939d-834de6952ccf.jpg)

[2019-03-20 09:02] mido1966 commented on #7039
Thank you everyone alles ok  Dankeschön alles ok

‏‫من الـ iPhone الخاص بي‬

‫في 19‏/03‏/2019 الساعة 9:58 م، كتب/كتبت ‏Steve Ward ‏<notifications@github.com<mailto:notifications@github.com>>:‬

@afbora<https://github.com/afbora> we are aware of authentication issues like this, but it's been difficult to track down what specifically is causing these problems on each individual machine. See #3816<ht

[2019-03-20 09:37] sdiedrichsen commented on #7112
Hi Billy,

thanks for taking care of this! My situation is, we have a  team meeting on Monday morning(!!!!). Usually, over the weekend, my brain has the tendency to loose all memory, what I made last week. Git has the tendency to make you commits very often and branch for everything (fixes , features, pull request, etc). So, I’m committing, which is good, I’m branching, also great, etc. Not every

[2019-03-20 09:42] sdiedrichsen commented on #7112
Thanks, Steve, I’ll take a look at that!

Steffan

[2019-03-20 11:01] HaiHuangCHN opened #7125 "Unknown error on WIN 10"
## Description

## Version

* GitHub Desktop: 1.6.5

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-03-20 11:02] HaiHuangCHN commented on #7125
With latest version on 1.6.5

[2019-03-20 13:17] shiftkey commented on #7125
@HaiHuangCHN I've added the template to the issue body. Please provide as much detail as you can about the issue you're seeing.

[2019-03-20 14:15] alejandronanez commented on #7093
Hey @shiftkey, I had to attend a family emergency, so I won’t be able to start working on this until early next week. If that doesn’t work for the project, let me know!

Thanks!

[2019-03-20 14:16] shiftkey commented on #7093
@alejandronanez thanks for the update. I'm going to move this back into the "Available" pile to reflect that this could be picked up by someone else, but feel free to grab it next week when you have time!

[2019-03-20 14:44] billygriffin commented on #7109
Hi @kolya182, sorry for the delay. Would you mind helping us understand what your use case is and how this would be valuable. We recently shipped a feature for #750 to beta, which will prune branches in Desktop that are merged and deleted on github.com. Would this solve your issue when it ships to production?

[2019-03-20 16:19] zhengxi2019 opened #7127 "TypeError: Cannot read property 'close' of undefined at FSEvent.FSWatcher._handle.onchange"
## Description

## Version

* GitHub Desktop: 1.6.4

* Operating system:Windows 10.0.17134

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

TypeError: Cannot read property 'close' of undefined
    at FSEvent.FSWatcher._handle.onchange (fs.js:1385:22)

[2019-03-20 16:20] zhengxi2019 commented on #7127
TypeError: Cannot read property 'close' of undefined
    at FSEvent.FSWatcher._handle.onchange (fs.js:1385:22)

Version: 1.6.4
OS: Windows 10.0.17134

[2019-03-20 16:37] shiftkey commented on #7127
@zhengxi2019 thanks for the report! I think this is related to this code:

https://github.com/desktop/desktop/blob/2a17820ded6b11e455c239dfb07233a67204edc2/app/src/lib/tailer.ts#L109-L112

In theory we should have a valid `state.watcher` but maybe there's some edge case here that we're unaware of.

Could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open

[2019-03-20 17:09] tierninho commented on #6722
Thanks for the update. Closing this issue for now.

[2019-03-20 17:09] #6722 closed

[2019-03-20 18:28] dwhieb opened #7128 "Keyboard shortcut to switch themes"
**Please describe the problem you think should be solved**

Switching between the light and dark themes currently requires navigating through a menu and tabs (File > Options > Appearance > Light/Dark). This is somewhat tedious for developers who switch themes often (for example, depending on time of day or lighting conditions).

**[Optional] Do you have any potential solutions in mind?**

One solu

[2019-03-20 18:49] yehudamakarov commented on #5641
@shiftkey I just tried this, and now any time I try to push or pull from github desktop or vs code, the loading spinner spins indefinitely, and the push/pull never finish. any ideas?

[2019-03-20 19:01] lee-dohm commented on #7128
Thanks for the suggestion.

There are already multiple theme switching packages, including the [theme-switch package](https://atom.io/packages/theme-switch) which makes it very easy to add key bindings to multiple theme switching possibilities.

I hope that helps!

[2019-03-20 19:03] yehudamakarov commented on #5641
I undid the change, and removed my passphrase from the key. I'm finally free.

[2019-03-20 20:19] tierninho commented on #7105
@Mario34 As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-03-20 20:19] #7105 closed

[2019-03-20 20:20] tierninho commented on #7106
@KestutisIT As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-03-20 20:20] #7106 closed

[2019-03-20 20:20] tierninho commented on #7108
@FireCulex As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-03-20 20:27] tierninho commented on #7021
@PeGoe As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-03-20 20:27] #7021 closed

[2019-03-20 20:28] tierninho commented on #6996
@InfinityGhost As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-03-20 20:28] #6996 closed

[2019-03-20 21:14] Megalomaniak commented on #4371
I have recently adopted to using an SSD for my system drive as well however I have always kept a separate partition or drive for programs. Even before switching to the SSD for system drive. As for installing software into user space, whats up with that abomination?

[2019-03-20 22:21] tierninho commented on #7081
I tried reproducing this, but could not after multiple attempts.

Just a guess, but there seems to be a lag in your Desktop use, which may be causing the UI to react slowly. Maybe a very large repo or something running in the background?

As no one else has experienced this and it only happens on one of your repos, I am going to close this for now. If you have any more details that are pertinent t

[2019-03-21 00:45] justingolden21 commented on #6722
I mean the issue isn't relevant for me anymore, however it doesn't mean it's fixed. I simply have another computer... If this is still an issue for others, I don't know if you should close the issue entirely.

Just my two cents, thanks again for looking into this.

[2019-03-21 03:46] FireCulex commented on #7108
Github Desktop 1.6.5 Windows 10
Change 1 byte, Fetch, Push, or even Pull
Expected: to be more responsive
Actual: long delay, performance shows mostly idle.
I'm quite adept at hacking but troubleshooting information is either outdated or scarce. If you could point me in the right direction?

[2019-03-21 11:20] shiftkey commented on #7127
I've also noticed this same issue over on the VSCode repo (same Electron version, different repro) https://github.com/Microsoft/vscode/issues/70566#issuecomment-475152190 which makes me think it might be an internal issue in Electron that we can't easily control. https://github.com/electron/node/pull/70 has some more context, and it might require another upstream fix to the version of Node to corr

[2019-03-21 13:09] Jakintosh commented on #1634
Just going to be another person throwing in their two cents that I've been ignoring the update dialogs for years(?) at this point, because this feature is literally the main reason I use this desktop app. It's a GUI app for a command line tool... give us the "G" part!

[2019-03-21 13:33] FireCulex commented on #7108
[2019-03-21.desktop.production.log](https://github.com/desktop/desktop/files/2992227/2019-03-21.desktop.production.log)
just loading the program has to wait on refreshing the repository. very slow.

[2019-03-21 13:58] JamesRichardsonTTP commented on #1634
Adding my vote for this fairly obvious feature :) Literally no reason not to include it. Have it as an option if you like, but this really is a basic requirement for a GUI app...

Is there a way to install the old version that includes the branch tree?

[2019-03-21 14:42] outofambit opened #7132 "Recent Repositories Group"
motivated by #6460

This is a sub-feature tracking issue for adding a recent repositories group to the repositories switcher dropdown. The goal is to facilitate faster switching between a small group of repos related to a single task the user is working on.

![Recents mockup reproduction](https://user-images.githubusercontent.com/964912/54762776-f8faee80-4bb1-11e9-8b0b-52eebc9e9514.png)

## Detail

[2019-03-21 14:59] shiftkey commented on #7104
@tierninho @billygriffin #7117 has the changes to disable when aborting a rebase (both cases) - in particular https://github.com/desktop/desktop/pull/7117/commits/81f49bf4acc48753af65deecb214ea8694881e0b and https://github.com/desktop/desktop/pull/7117/commits/1b7363871c6572c33148a031d48580ddb9366b83. Once those land in `development` I'll update this issue to indicate that Merge Conflicts is the o

[2019-03-21 15:11] outofambit opened #7133 "Repository Switcher Dropdown UI Pass"
motivated by #6460

Following #6923, some pre-existing design issues were exacerbated by increasing the number of groups in the dropdown. The goal here is to keep the text in the list of repositories flush to the left for easy visual scanning. something like this: (thank you @niik)

<img width="206" alt="Screen Shot 2019-03-21 at 7 57 11 AM" src="https://user-images.githubusercontent.com/964912/54

[2019-03-21 15:18] outofambit opened #7134 "surface the current repository's group higher in the repository list"
Motivated by #6460
This is a sub-feature tracking issue.

The idea here is to move the group of the current repository to the top of the groups list (right after [the recent group](https://github.com/desktop/desktop/issues/7132)). This is also meant to facilitate users switching between related repos more easily.

As you can see in this mockup (thanks @niik!), the `desktop` group is first after re

[2019-03-21 16:02] cfreeley commented on #5321
I also just assumed this feature didn't exist in this app probably for the same reason- I believe in the older client, you weren't able to select line markers at all, so it was clear visually that they weren't being copied. When I upgraded to this client, until I actively sought out this issue, I saw that the markers were being selected and thus never tried copying pasting diffs in the client beca

[2019-03-21 16:08] billygriffin commented on #7128
Hi @dwhieb, thanks so much for the issue. macOS support automatically switching between themes based on the OS-level settings, but unfortunately Windows doesn't have that same luxury yet. We're open to considering this if it's something we hear more demand from other Windows users, but we typically don't add keyboard shortcuts based on a single request. I am curious how frequently during a given d

[2019-03-21 16:08] #7128 closed

[2019-03-21 17:26] dwhieb commented on #7128
Thanks @billygriffin! That makes sense to me. I'll cross my fingers that more people like this issue!

To answer your question: I switch themes 2-4 times a day. Once in the morning, once in the evening, and twice again if I happen to be working in a particularly light or dark environment.

I _think_ Windows 10 does support OS-level theme switching, although maybe this is just limited to Microsoft

[2019-03-21 17:33] steveward commented on #5641
@yehudamakarov would you be willing to upload the log file from GitHub Desktop so I could take a look at what might have happened there? I've tested this a bit to confirm it works, so I want to be sure there is not something I am missing.

To access the log files go to the file menu in GitHub Desktop and select `Help` > `Show Logs in Explorer (Windows)`. The log files are created daily -- please u

[2019-03-21 17:53] tierninho commented on #7108
@FireCulex Thanks for the update.

Unfortunately nothing stands out in your logs. Were do doing anything in Desktop in particular or is it slow all around? How is the performance of other applications running at the same time?

I did see the mention of ~20MB being processed in your pic. Not a huge amount but perhaps a clue. 🤷‍♂️The Network tab in the dev tools may serve up some additional context

[2019-03-21 19:08] yehudamakarov commented on #5641
I can do that. But not right this second. Tomorrow at work I should be able to.

Yehuda Makarov
On Mar 21, 2019, 13:33 -0400, Steve Ward <notifications@github.com>, wrote:

[2019-03-21 20:00] paul321 opened #7136 "Word wrap in history tab"
Can we please have a word wrap enable / disable option in history?
We ask for it because it's very annoying, screenshot attached
![Untitled](https://user-images.githubusercontent.com/555502/54781342-aeff2080-4c24-11e9-9754-3859643d81ed.png)

[2019-03-21 21:42] gliatrax commented on #3708
Thank you.  This was helpful.  saved to re-read for later configurations as well.

[2019-03-21 21:51] FireCulex commented on #7108
The application itself isn't unresponsive and the swirling icon works just fine. I can commit to master, then it takes 5s-10s then  push origin will show up, then I press it and it swirls and says Hang on... Then it fetches, then it refreshes repository Individually the delay isn't so bad, its just at each step it accumulates.
I couldn't tell you what the ~20MB is about since each repository is un

[2019-03-21 22:18] billygriffin commented on #7136
Hi @paul321, thanks for the issue! We haven't heard this feedback from any other users despite it being the default behavior of a core part of the app since it originally shipped. I'm curious how it would be beneficial for you in this context, and why it's particularly annoying or painful so I can understand what impact we might be causing that we don't understand particularly well yet. We're open

[2019-03-21 22:18] #7136 closed

[2019-03-21 22:42] billygriffin commented on #6657
Thanks @StefanoCecere! This is now updated in the [docs](https://help.github.com/desktop/guides/contributing-to-projects/committing-and-reviewing-changes-to-your-project/), as shown below.

<img width="750" alt="Screen Shot 2019-03-21 at 4 40 44 PM" src="https://user-images.githubusercontent.com/5091167/54789477-308c8980-4bf8-11e9-8585-ae70424a6d27.png">

[2019-03-21 22:42] #6657 closed

[2019-03-21 23:03] tierninho commented on #7108
cc @desktop/support Any thoughts on this one?

[2019-03-21 23:03] billygriffin commented on #7069
Thanks @maximekl, sorry for the delay. Because we do have something on the horizon #750 in combination with the "Recent branches" piece, I'm going to close this for now, but if you're still experiencing confusion and difficulty sorting through things in a few months after that ships, we're definitely happy to revisit. Thanks!

[2019-03-21 23:03] #7069 closed

[2019-03-21 23:08] billygriffin commented on #6819
Hi @legowerewolf - we're going to be doing a bit more research into how folks manage deploys on GitHub more broadly and how the interplay works with their local environment. Because this is such a specific request and we don't intend to do exactly what's being asked here, I'm going to close this issue. However, I would love to understand your workflow better, and how you're deploying currently bet

[2019-03-21 23:08] #6819 closed

[2019-03-21 23:33] tierninho opened #7137 "Disable Rebase option in Repo menu if only one branch"
If a repo has only one branch, then we should disable the Rebase option in the Repo menu as it serves no purpose.

![image](https://user-images.githubusercontent.com/14828183/54791396-cf57bc80-4bdd-11e9-9c9a-87cb9e8893ac.png)

24c697c144, mac

[2019-03-22 00:11] tierninho commented on #7101
Let's be sure to include `force push` status here as well.

![image](https://user-images.githubusercontent.com/14828183/54792692-375cd180-4be3-11e9-8df2-96be1790c351.png)

[2019-03-22 00:11] steveward commented on #7108
I've actually got a user I'm corresponding with via email who is hitting similar perf issues. Unfortunately these types of issues can be difficult to reproduce and diagnose. I do see some high fetch times in the log:

[code]

That fetch is taking almost 3 minutes for three repositories. I have seven repositories and a fetch takes around 2-5 seconds on average.

@FireCulex Do any of these repositor

[2019-03-22 00:18] steveward commented on #7078
@KipTwitchell could you share a screenshot of what you are seeing?

[2019-03-22 00:22] tierninho opened #7138 ""Push" menu item should say "Force Push" when you can only force push"
When a `force push origin` is inflight, the pull menu option is available to be clicked. Not sure what the correct resolution is, perhaps disable the menu option or do we allow the user to stash? I defer to the dev team for this as the error messaging is conflicting.

Otherwise the end result is:
![image](https://user-images.githubusercontent.com/14828183/54793046-c1596a00-4be4-11e9-982f-8e5531223

[2019-03-22 00:44] tierninho opened #7139 "filter text disabled when current branch selected in rebase dialog"
If you select the current branch in the rebase model, the modal filter will lock up temporarily until you switch branches.

For consistency with the merge conflict modal, we should allow the branch to be selected, but keep the `rebase` button disabled.

The filter should always remain intact and functional.

Repro:
- Select `rebase from current branch` option in the menu
- Modal opens, now select

[2019-03-22 00:54] tierninho opened #7140 "when aborted/completed rebase outside of app, it should complete flow and enable menus"
If you open a rebase conflict, then use the `git rebase --skip` command to push through every conflict, the top nav menu remains in the same disabled state as if it still were in the rebase conflict.

Example:
<img width="195" alt="Screen Shot 2019-03-21 at 2 51 55 PM" src="https://user-images.githubusercontent.com/14828183/54793905-e4861880-4be8-11e9-836b-138f7286a569.png">

24c697c144, mac

[2019-03-22 05:38] heheXS opened #7141 "SDedeqw"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-03-22 05:55] heheXS opened #7142 "11111111111"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-03-22 06:25] bpasero commented on #7127
@shiftkey hey, do you have any clue how this can happen? Just looking at the code starting at https://github.com/electron/node/blob/fcaf11a29c421b0e76c9f24f5b155a53eff14e7f/lib/fs.js#L1374 how can `this._handle` ever be undefined ❓

[2019-03-22 07:08] gangadharanaik commented on #3125
![image](https://user-images.githubusercontent.com/6031132/54806231-6a649b00-4c9f-11e9-8353-4044856ee826.png)

[2019-03-22 09:31] sravya-123 opened #7143 "Would be good to have stash option fro stashing changes when switching branches"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-03-22 10:31] DemonRem opened #7144 "[Idea] Git Updater"
guys maybe there a way to update local repo from remote repo?

[2019-03-22 13:21] robbiegod commented on #4432
I got this error message too. Here is why.  I had downloaded some files that hadn't changed locally. In github desktop it showed a list of files all marked "no change".  I was trying create a commit because i didn't notice there file change status.  A few minutes later they just disappeared from the list.  Basically, what it boild down too is you need to some file with some changes otherwise you w

[2019-03-22 13:24] #7141 closed

[2019-03-22 13:24] #7142 closed

[2019-03-22 13:28] steveward commented on #7144
Thanks for contributing @DemonRem.

You can check for any new changes in the remote repository by clicking the `Fetch origin` button in GitHub Desktop. If there are new changes that can be pulled down from the remote repository you will see the `Pull origin` button, which will pull down those changes and merge them into your local branch. You can read more about this in our help documentation:

ht

[2019-03-22 13:28] #7144 closed

[2019-03-22 13:32] steveward commented on #7143
Thanks for the feedback @sravya-123! Work on stashing is currently being done in https://github.com/desktop/desktop/issues/6987 -- you can follow along there for updates about this. You can also read through https://github.com/desktop/desktop/issues/6107 for some further context around stashing.

[2019-03-22 13:32] #7143 closed

[2019-03-22 13:40] shiftkey commented on #7137
We've not disabled the related menu items for two previous features in this area:

 - 'Compare to Branch'
 - 'Merge into Current Branch'

I'd be 👍 to exploring this further, but I don't think it's a blocker for 1.7.0 (it would open the dialog and not let you do proceed with the rebase).

[2019-03-22 13:55] Charles92011 opened #7145 "Missing the visual represntation"
I just upgraded from 3.3.6.1, and the reason I was dragging my feat is because of this feature:
![image](https://user-images.githubusercontent.com/6334019/54827496-5e60e500-4c6f-11e9-8644-5a4e2c90e566.png)
This visual graph of commits, branches and pulls makes it so easy to see, at a glance, what's going on.
Why was this excluded from more recent versions?

[2019-03-22 14:03] shiftkey commented on #7139
@tierninho

To clarify, are you referring to the filter and the submit button? The only other part that can be interacted with is the close button, and that seems to work fine.

The submit button being disabled when you select your current branch comes from the Merge Branch dialog, and we don't show any extra messaging or tooltip there. I'd be open to surfacing extra context.

The filter text bein

[2019-03-22 14:17] steveward commented on #7145
Thanks for contributing @Charles92011! We are tracking feedback about the comparison graph in https://github.com/desktop/desktop/issues/1634, so I am going to close this out. Please feel free to add any feedback you have in that issue.

[2019-03-22 14:17] #7145 closed

[2019-03-22 15:09] billygriffin commented on #7137
Agreed, think it's fine for now. It's unclear to me why someone would try that, and doesn't seem like it has the potential to put people in a bad spot.

[2019-03-22 15:09] #7137 closed

[2019-03-22 16:38] steveward commented on #4524
@pjc0247 have you tried logging out and then logging back in to GitHub Desktop to see if that gets things working? Can you also verify that the `GitHub - https://api.github.com/<username>` entry exists in `Credential Manager` > `Windows Credentials`?

@NotHansDampf I'm glad to hear that got things working for you. I've got an [open PR](https://github.com/desktop/desktop/pull/7147) that walks throu

[2019-03-22 17:15] tierninho commented on #7139
Yes, the filter was what I was referring to. The submit button should remain disabled.

Sounds good 👍

[2019-03-22 17:19] shiftkey commented on #7140
Yep, the app should detect when the rebase is aborted outside the app when you refocus the app. I'll add this as a test case to #7117 and confirm this is working as expected.

[2019-03-22 18:14] #5103 closed

[2019-03-22 19:05] KipTwitchell commented on #7078
Kip TwitchellIBM Global Business ServicesKip.Twitchell@us.ibm.com630-248-0443 (cell)
 
 
----- Original message -----From: Steve Ward <notifications@github.com>To: desktop/desktop <desktop@noreply.github.com>Cc: KipTwitchell <kip.twitchell@us.ibm.com>, Mention <mention@noreply.github.com>Subject: Re: [desktop/desktop] Menu is missing. (#7078)Date: Thu, Mar 21, 2019 7:18 PM 
@KipTwitchell could you

[2019-03-22 19:21] shiftkey commented on #7127
@bpasero after pondering on this today I realised the problem, and I think I just figured out the fix too https://github.com/electron/node/pull/97

[2019-03-22 19:29] steveward commented on #3125
@gangadharanaik could you open up a new issue and fill out the template? Be sure to include the relevant log files as well, as that will provide us more information to debug this. Thanks!

[2019-03-22 19:33] tierninho commented on #7078
@KipTwitchell please try again, as the screenshot din't come through.

[2019-03-22 19:44] lYesterdaYl commented on #7108
I also just installed this....My pc got reset, so I have to reinstalled this. The version I used earlier didn't have this lag issue at all, but this version is very slow, viewing commit, push, pull etc.

[2019-03-22 20:19] Radosia opened #7148 "tt5335"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

[2019-03-22 20:28] tierninho commented on #7148
@Radosia  We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-03-22 20:28] #7148 closed

[2019-03-22 20:50] KipTwitchell commented on #7078
Kip Twitchell
IBM Global Business Services
Kip.Twitchell@us.ibm.com
630-248-0443 (cell)
----- Forwarded by Kip M Twitchell/Chicago/IBM on 03/22/2019 03:49 PM
-----

From:   Kip M Twitchell/Chicago/IBM
To:
reply@reply.github.com
Cc:     desktop@noreply.github.com, mention@noreply.github.com
Date:   03/22/2019 02:05 PM
Subject:        Re: [desktop/desktop] Menu is missing. (#7078)

Kip Twitchell
IBM

[2019-03-22 20:58] tierninho commented on #7108
@lYesterdaYl Please up your comment with some more detail, like OS, desktop version, steps if relevant, and any other info you can share that might help us find the root of the issue. As Steve mentioned, these types of issues can be difficult to reproduce and diagnose. Thanks in advance.

[2019-03-22 22:55] aldobsom commented on #2107
there is a workaround by switching to tablet mode
![image](https://user-images.githubusercontent.com/30396343/54857105-f2798d80-4cfd-11e9-87fe-11b1ba606d5e.png)

[2019-03-22 23:56] lYesterdaYl commented on #7108
@tierninho Hi, I am using Win 10. The system is up to date, but this also happened on my other pc which is also Win 10 but not up to date. I used choco command in CMD to installed version 1.5 later, and the app doesn't have any lag anymore. So, I believe the lagging issue is only happening the latest version.

[2019-03-23 00:54] tierninho commented on #7138
Also, if you edit an existing file, and then try to rebase into current branch, you get a similar error message.

<img width="840" alt="Screen Shot 2019-03-22 at 2 53 06 PM" src="https://user-images.githubusercontent.com/14828183/54859521-39419600-4cb2-11e9-8658-1f2d0fd6ea71.png">

[2019-03-23 05:43] bpasero commented on #7127
@shiftkey great

[2019-03-23 05:46] bpasero commented on #7127
Oh man, coding in TypeScript with arrow functions for 7 years now made me not see the `var self`... thingy, great catch 💯

[2019-03-23 06:20] leonardosantoslopes commented on #2847
As Rodge said, log out and log in back.

It worked.

[2019-03-23 08:10] ibenlim commented on #4059
Thanks, It's OK...

[2019-03-24 02:55] Bibliofile commented on #7033
How convenient, I just ran into this enough times today to check to see what was being done about it. Generally, I only run into this 1-2 times per day.

My primary editor is VSCode, but I also use Vim and Notepad++ regularly, and sometimes exclusively depending on the project.

Since neither Vim nor Notepad++ are detected as an editor, I generally use CTRL+Shift+F to open the folder in Explorer a

[2019-03-24 09:26] ezradt commented on #3263
thank you! just what I needed.
Probably the change my computer password made this happen

[2019-03-24 15:43] shiftkey commented on #6638
Moving this back to "Available" because we haven't heard anything from the interested contributor.

[2019-03-24 16:08] jamesgeorge007 commented on #6638
@shiftkey I shall take this up :clap:

[2019-03-24 16:28] otelom commented on #6077
Hello guys,
WebStorm still doesn't show up as an option for me...

I'm running:
Windows 10 Home 64 bits
GitHub Desktop 1.6.5
WebStorm x64 v. 2018.3.5 Build #WS-183.5912.23 built on February 26, 2019

Does anyone has any idea why?
@KennethSweezy @shiftkey @tierninho

[2019-03-24 16:51] les113 commented on #1502
Poor UI.
Not resolved.

[2019-03-24 17:10] jamesgeorge007 commented on #6638
@shiftkey Kindly have a look at #7152

[2019-03-24 18:34] msztech commented on #4825
@shiftkey Pull requested ;)

[2019-03-24 18:42] shiftkey commented on #6638
@jamesgeorge007 thanks for the quick turnaround. I'm actually going to ask someone else to review it, because I'm feeling very spread thin right now across a bunch of areas...

[2019-03-25 00:22] nsgamezz commented on #5641
I don't know if this will help everyone, but what I did is just signed out and signed back into GitHub Desktop, and it fixed the problem. Such a simple fix.

[2019-03-25 02:45] freshyill commented on #6055
Even just a warning that LFS doesn't work would be an improvement. Right now it just spins, literally forever, with no feedback. It looks like it's actually doing something, but it's apparently not.

I found this out the hard way. I read lots of warnings that pushing to LFS was slow. Netlify's docs even say "very, very slow". Activity monitor showed network traffic from git-lfs, so I assumed every

[2019-03-25 03:47] MaAnShanGuider commented on #5036
thanks a lot.

[2019-03-25 11:16] shiftkey commented on #6077
@otelom my guess would be that the registry location it's installed into doesn't match what we look for. We currently only detect the 32-bit version of WebStorm on Windows:

https://github.com/desktop/desktop/blob/0c24836b13d31559f577a3e9cadc0194f7d6bba5/app/src/lib/editors/win32.ts#L233-L241

If you can find another registry path that we should look at (like in the previous comment), I'd love to

[2019-03-25 12:43] #7057 closed

[2019-03-25 14:32] shiftkey commented on #7101
We talked about this part of the flow over in #6990 and we decided to hide this menu item when "force push" is the next action.

[2019-03-25 14:41] shiftkey commented on #6935
@scottypate @billygriffin just a heads up - we currently split the `push` stats into three measures based on the remote:

 - `dotcomPushCount`
 - `enterprisePushCount`
 - `externalPushCount`

https://github.com/desktop/desktop/blob/5ecf2e2faf84b763c86028f359623de9128c097f/app/src/lib/stores/app-store.ts#L2747-L2755

Are we fine with just having additional `ForcePush` measures, e.g. `dotcomForcePus

[2019-03-25 14:44] shiftkey commented on #7078
@KipTwitchell are you able to attach a screenshot by replying in the issue itself? Replying via email isn't including any attachments or embedded images.

[2019-03-25 14:56] otelom commented on #6077
@shiftkey ok I think I know where's the problem.
I'll look into it and if everything checks out, I'll submit a PR.
Thanks

[2019-03-25 15:36] varkor opened #7155 "Discarding changes takes huge amounts of time"
Even when discarding a few files at a time, the process can take upwards of ten seconds, when it should be instantaneous. (This has been a problem for a while, though qualitatively it seems to have gotten worse recently.)

There was a previous issue tracking this, but it has been closed, and this issue needs raised visibility, as it's an extreme source of frustration.

Here's a screen capture, but

[2019-03-25 15:38] milholen commented on #6956
I was going to submit the same issue, good to see that I'm not the only one who noticed this. IMO it would be best to handle the Branch and Fetch/Push/Pull as dynamic columns that are each 50% of the available width.

Mac Desktop screenshot:

<img width="1126" alt="space" src="https://user-images.githubusercontent.com/134360/54933084-35438d00-4ed9-11e9-9e56-b35165918671.png">

[2019-03-25 15:48] shiftkey commented on #7155
@varkor thanks for the feedback! We recently discussed this in #7015 and made a change in #7029 to show some progress while this work is happening. That should go out with the next beta, but please have a read of the changes and see if that makes sense to you.

I'd love to hear more details about this - I'm not sure we're measuring the "wall time" to complete these steps but maybe we could get tha

[2019-03-25 15:57] varkor commented on #7155
I've been following that change, which is definitely an improvement from the point of view of feedback, but it's really the duration that is the problem.

I imagine that synchronous nature of the API isn't actually so much of a problem, because in general, discarding only a few file changes is more common. However, discarding is slow even for a single file, which suggests that there's some constan

[2019-03-25 16:22] billygriffin commented on #6055
@freshyill Can you help me understand better what wasn't working and what specifically you did? Git LFS should work in GitHub Desktop today - this issue is about configuring specific files in the app to use LFS as opposed to having to manage that outside the context of Desktop, so I'm curious to understand whether you weren't able to push code that was *already* configured in LFS, or what was caus

[2019-03-25 17:12] TheRealDannyyy opened #7156 "Request To Change Background Color On App Startup"
**Problem Description:**
I'm using the GitHub Desktop app for quite a while now and enjoy working with it. As a user of the dark theme, it bothers me that the desktop app starts with a blinding, white background.

**How To Reproduce:**
1. Run GitHub Desktop App (optional: with "dark theme" selected)
2. Notice bright white background during loading process
3. Enjoy working with GitHub and its dark

[2019-03-25 17:22] shiftkey commented on #7156
@TheRealDannyyy thanks for the feedback! We're tracking this in an earlier issue #5631 which has some extra details. Please follow along with that discussion.

[2019-03-25 17:22] #7156 closed

[2019-03-25 17:24] TheRealDannyyy commented on #7156
Sorry must've missed that one. Thanks for the heads up!

[2019-03-25 17:53] #7099 closed

[2019-03-25 17:54] #7118 closed

[2019-03-25 18:35] #7125 closed

[2019-03-25 19:57] shiftkey commented on #7127
Moving this to a `bug` now that the fix has been acknowledged upstream, and this should be resolved with a future Electron `3.1.x` release.

[2019-03-25 20:32] waghcwb opened #7158 "add option to disable githooks when committing"
**Please describe the problem you think should be solved**
It would be nice if we have an option to enable/disable githooks on commit.

[2019-03-25 20:34] shiftkey commented on #7158
@waghcwb thanks for the suggestion!

Are you able to elaborate on the scenarios or situations where you find yourself needing this? This would be great to help us understand your use case better...

[2019-03-25 20:41] #7116 closed

[2019-03-25 21:01] waghcwb commented on #7158
@shiftkey,

Yes.

We have a project running with [NuxtJS](https://nuxtjs.org), and we have `git-hooks` to run the [`prettier`](https://prettier.io/) tool that normalize our source code.

Our project is big and have a lot of source files, and the script that run `prettier` doesn't filter only git staged files, so we need to wait a long time until prettier finish its job.

Sometimes we need to make

[2019-03-25 21:21] tierninho commented on #6646
If we change the filter to ~110px width, the `Add` button will always show.

@desktop/design and @shiftkey any thoughts?

[2019-03-25 21:24] tierninho commented on #6552
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-25 21:24] #6552 closed

[2019-03-25 21:29] billygriffin commented on #6444
Since we merged #6013 we haven't seen people struggling with pushing files > 100MB anymore (🎉), so until we hear this as a problem, this feels a bit small to implement anything for. I'm going to close it until that's the case.

[2019-03-25 21:29] #6444 closed

[2019-03-25 21:31] tierninho commented on #6147
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-25 21:31] #6147 closed

[2019-03-25 21:32] tierninho commented on #6156
Closing in favor of https://github.com/desktop/desktop/issues/6649

[2019-03-25 21:34] tierninho commented on #6376
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-25 21:34] #6376 closed

[2019-03-25 21:36] tierninho commented on #6462
@shiftkey As #6141 was merged, just wanted to bring this back up. cc @outofambit in case this is worthy enough to be part of the repo grouping. 😬

If background fetching removes the blue indicator, we can probably just close this issue as that is sufficient.

[2019-03-25 21:38] tierninho commented on #4084
Adding #6633 to this issue as the touch the same code area.

We should reposition the autocomplete popup so it doesn't appear to be cut off when it is near the edge of the app.

![51198824-2d98b400-18aa-11e9-824a-887931943015](https://user-images.githubusercontent.com/14828183/54955803-6f6d5880-4ef2-11e9-872b-e812608daf26.png)

v1.6.0-beta2, mac

[2019-03-25 21:38] tierninho commented on #6633
Closing in favor of https://github.com/desktop/desktop/issues/4084

[2019-03-25 21:38] #6633 closed

[2019-03-25 22:09] billygriffin commented on #6935
@shiftkey That's fine from my perspective but interested in @scottypate's view.

[2019-03-25 23:22] otelom opened #7160 "WebStorm is not being detected as an External Editor on Windows"
## Description
WebStorm is still not being correctly detected on Windows as an external editor and, after looking at the code, I risk to say that it's not being detected at all.
It has been said that Github Desktop only supports WebStorm 32bits but that's not true because WebStorm is trickier to detect that the other editors (see aditional information for more details)
This reopens issue #6077 whi

[2019-03-25 23:25] billygriffin commented on #7160
Thanks @otelom! In the other issue you indicated you may have a sense of what's happening, and would submit a PR if so. I'm going to add `help wanted` here so just let us know if you intend to do that. Also cc @KennethSweezy as you worked on the current integration, wondering if you have any thoughts?

[2019-03-25 23:40] thatdarndata commented on #3707
+1

[2019-03-25 23:42] KennethSweezy commented on #7160
I agree that it is probably because I didnt add the 64-bit registry keys.
However, as I just uninstalled and reinstalled WebStorm I cannot find the
64-bit keys. I have looked in all of the places suggested in the
contributing docs as well as several other places where I thought they
could be. So at this point I am unsure of how to fix it.

On Mon, Mar 25, 2019, 7:26 PM Billy Griffin <notifications

[2019-03-25 23:47] otelom commented on #7160
I know how to fix it and I've already opened a PR but I have something wrong there that I'm still trying to figure out because it shows WebStorm but doesn't allow me to choose it.

FYI: There are no 32 ou 64 bit keys. It's always the same.
You can understand better if you head to my PR #7161

[2019-03-26 07:33] FireCulex commented on #7108
@steveward git clone from the cmdline is instantaneous as is the other git commands.
[code]

versus `Executing fetch: git -c credential.helper= -c protocol.version=2 fetch --progress --prune origin (took 65.745s)`

[2019-03-26 08:02] Chery46 commented on #5435
:EMOJICODE:.

@octocat :+1: This PR looks great - it's ready to merge! :shipit:

[2019-03-26 08:45] #6985 closed

[2019-03-26 09:18] revolution01 commented on #2348
Github desktop installation after download give error of logs .. can't install it .. !

[2019-03-26 09:47] hamzaneffati commented on #4588
dfghdf

[2019-03-26 09:55] cao2358 commented on #3625
nice

[2019-03-26 09:55] niik commented on #6646
I concur with @shiftkey's assessment in https://github.com/desktop/desktop/issues/6646#issuecomment-454898060. This is about ensuring that the textbox always yields its space to the button and doesn't flex. I've opened https://github.com/desktop/desktop/pull/7162 to address this.

[2019-03-26 10:18] tom10271 commented on #3625
Please do not reply `nice`,  `awesome` whatever again

[2019-03-26 10:19] scottypate commented on #6935
This is good for me as well. I was thinking it would be interesting to know if the force pushes are preceded by a push error. I think the best place to instrument push fails is on the .com side's push data.

[2019-03-26 11:37] shiftkey commented on #2348
@revolution01 if this is something you would like us to investigate, please open a new [bug report](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and fill out the provided template.

[2019-03-26 11:48] morqon commented on #6573
Hi @steveward, sort for the delayed reply. I did get it working, by [generating a new key pair](https://help.github.com/en/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent), and [associating them with my GitHub Account](https://help.github.com/en/articles/adding-a-new-ssh-key-to-your-github-account).

I have since had the same problem moving to a new Mac, and though I know the solu

[2019-03-26 12:07] varkor commented on #4592
This also consistently fails for me (discarding submodule changes has no effect and doesn't raise an error). I'm running GitHub Desktop 1.6.5 on macOS 10.12.6.

[2019-03-26 14:01] newlighty commented on #7111
Error: spawn ‪E:\androidSdk\Sdk\platform-tools\adb.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:229:19)
    at onErrorNT (internal/child_process.js:406:16)
    at process._tickCallback (internal/process/next_tick.js:63:19)

[2019-03-26 14:22] MathematicalLily opened #7164 "another person is showing up in my repository"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-03-26 14:38] alectron commented on #2437
We were just considering using git & LFS for a some larger team projects as well, but not supporting Git LFS file locking in git's native UI (especially for the non-developers contributing to our projects this would be helpful/important), despite File Locking having been added as a feature to LFS about 2 years ago, is forcing us to look elsewhere (or to use smartgit.. which has other downsides), s

[2019-03-26 17:02] AaronRiboy commented on #3701
But i dont .git folder in respository ..Please someone help me

[2019-03-26 18:26] illysky commented on #3701
Perhaps you need to show hidden files then you’ll see the .git folder?

[2019-03-26 18:28] #6638 closed

[2019-03-26 18:36] outofambit commented on #7134
So, after some consideration and prototyping in #7157, I won't be moving forward on this one. The concept is great (and I was really excited about it), but in practice it generates too much reordering in the list. It was hard for me to understand what was happening in using it (even with the context of having built it). I think this might be more successful with animation (but even then animating

[2019-03-26 18:36] #7134 closed

[2019-03-26 18:44] #7122 closed

[2019-03-26 18:46] tierninho commented on #7134
One thought would be to decouple the Recent grouping from the Repo list and add it instead to the Repository menu similar to how the Mac OS does it for "Recent Folders":

<img width="551" alt="Screen Shot 2019-03-26 at 8 44 05 AM" src="https://user-images.githubusercontent.com/14828183/55024625-553f8300-4fa3-11e9-8148-b5e86023e90d.png">

[2019-03-26 19:05] TCROC opened #7166 "LFS Merge Conflict Merges Pointers"
## Description

When merging into a branch while using Git LFS, it attempts to merge the LFS pointers together.  We then have to manually change the files by removing the pointer we don't want.  I would have expected to be prompted with "Take Incoming File" or "Keep Current File" for our LFS files.

## Version

1.6.5

* GitHub Desktop:

* Operating system:

Microsoft Windows [Version 10.0.17763.37

[2019-03-26 19:35] shiftkey commented on #7166
@TCROC thanks for the feedback! I think it'd be great to put together a sample project of this so we can verify the behaviour ourselves and confirm the fix.

[2019-03-26 20:38] MathematicalLily commented on #7164
dear billy,

thank you so much! it is a bizarre error. i am using the github desktop and
i used my friend bhoomikas computer but now when i push my programs to my
repository, bhoomika shows up instead of me (lily) and i am very confused.

best wishes,
lily

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http

[2019-03-26 21:29] #7132 closed

[2019-03-26 23:40] TCROC commented on #7166
@shiftkey Hey thanks for getting back with me :)  I created a test repo [here](https://github.com/TCROC/LFS-Merge-Conflict-Merges-Pointers).  All you have to do is clone the repo in GitHub Desktop.  Merge the branch 'master' into 'DevBranch2' and commit the merge.  Then open 'LFSTrackedFile.asset' in a text editor (I tested it in Notepad, Notepad++, and VS Code).  The results should look like this

[2019-03-26 23:54] shiftkey commented on #7166
@TCROC thanks so much for putting together a repro for it. I'm going to try it out and see if I can propose a solution for this (we have detecting in place for binary files but nothing LFS-specific).

[2019-03-27 00:08] steveward commented on #7164
@MathematicalLily this sounds like a case of the email address associated with the commits being linked to a different user account. Even though you logged in to GitHub Desktop with your account on the computer the local .gitconfig was not updated with the correct email address that is associated with your GitHub account. You can read more about this here:

https://help.github.com/en/articles/why-

[2019-03-27 00:08] #7164 closed

[2019-03-27 01:22] vmaruthi commented on #3707
Adding to this list of requests. Is it so uncommon to have and use two concurrent github accounts ? I have multiple GitHub accounts and would like to use them concurrently.

[2019-03-27 01:29] tierninho commented on #7109
@kolya182 As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-03-27 01:29] #7109 closed

[2019-03-27 01:49] alejandronanez commented on #7093
Hey @shiftkey, I'm available again - since nobody claimed this issue, I'd like to start working on it!

[2019-03-27 01:57] tierninho commented on #7093
@alejandronanez go for it and big thanks for contributing ✨

[2019-03-27 03:45] sin2akshay commented on #6843
Have the same issue. Just installed Github Desktop and tried logging in to my Enterprise.

[2019-03-27 07:02] JannaLorette commented on #6843
Thank you for your response

On Tue, Mar 26, 2019, 8:45 PM Akshay Kumar <notifications@github.com> wrote:

[2019-03-27 11:16] shiftkey commented on #6843
@sin2akshay please read the related issue which links to some known Firefox issues https://github.com/desktop/desktop/issues/5792#issuecomment-427744894. If you believe your issue is different to ours, please open a [new bug report](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and fill out the template so we can investigate.

[2019-03-27 14:13] shiftkey commented on #7166
Other priorities have jumped up which I need to tackle first before I can investigate this.

Unassigning myself in the meantime to show it's available for someone else to try and reproduce.

[2019-03-27 14:30] shiftkey opened #7170 "differentiate draft PRs from normal PRs in the PR list"
**Please describe the problem you think should be solved**

As part of reviewing #7163 I was looking at the PR list and wanted to call out that we render all the PR icons using a gray-ish colour:

<img width="383" src="https://user-images.githubusercontent.com/359239/55083974-30224180-5083-11e9-841a-b1d3385b733c.png">

This feels a bit weird now that [draft PRs](https://github.blog/changelog/2019-

[2019-03-27 14:36] shiftkey commented on #7170
Some extra information about how this would have helped me out currently...

I see this pull request without a commit status set:

<img width="406" src="https://user-images.githubusercontent.com/359239/55084478-0c133000-5084-11e9-9e95-fd74058df04e.png">

Is this a bug with the app? Is there something wrong with the PR? To verify this I:

 - checkout the PR branch
 - click **Branch** | **Show Pull

[2019-03-27 15:22] steveward commented on #6900
@rmargolis apologies for the delay here. Do other applications work without issue behind the proxy you have configured?

[2019-03-27 16:23] rmargolis commented on #6900
@steveward Yes, everything else works behind the proxy. I'm still able to use other applications and I'm connected to the internet which is all connected through the proxy. I can use GitHub to still go in and edit things, but GitHub desktop just fails to connect.

[2019-03-27 16:25] kaster14 commented on #1986
@joshaber I just experienced this problem, github desktop version 1.6.5
I could not make a partial commit but it did allow me to commit all changes

[2019-03-27 16:30] outofambit commented on #7166
Hi @TCROC and thanks for the excellent reproduction example! I reproduced this on my machine and am going to start looking into a fix. I'll post updates here!

[2019-03-27 17:06] JannaLorette commented on #6843
Chrysalis abut to open knit seems like got Psy key valid dictorian. Omni
translucien

On Wed, Feb 13, 2019, 2:00 PM Aleksey Nogin <notifications@github.com>
wrote:

[2019-03-27 17:29] tierninho commented on #1986
@kaster14 Sorry you are experiencing issues with partial commits.

Please submit a fresh issue [here](https://github.com/desktop/desktop/issues/new/choose) if you would like us to take a look. Thanks!

[2019-03-27 18:51] tierninho commented on #7170
+1 on this. We might want to consider grouping PRs (draft vs active) as well.

[2019-03-27 20:02] tierninho opened #7172 "Invalid state encountered when rebase during merge conflict"
The rebase option is present during a manual merge conflict resolution. The `Rebase Current Branch` menu option should be disabled. Generally it is, but follow these steps and there is a case where it isn't.

 Repro Steps:
- Branch > Merge into current branch (make sure there are conflicted files)
- click `Merge...` button
- `x` the modal, subsequently banner pops up
- Branch > Rebase Current Bran

[2019-03-27 20:11] billygriffin commented on #7172
@tierninho Thanks! What does the user actually see when they select that rebase menu option in this state?

[2019-03-27 20:51] tierninho commented on #7172
@billygriffin There is no UI change for the user. That includes no error messages.

[2019-03-27 20:58] billygriffin commented on #7172
So they click on the available rebase menu item and literally nothing happens? That _might_ be ok, if not completely ideal.

[2019-03-27 21:00] tierninho commented on #7172
Yes, that is correct. Feel free to close if needed.

[2019-03-27 21:02] billygriffin commented on #7172
I think since it doesn't actually engage the rebase, we're ok here from the user's perspective especially since it's such an edge case where you have to be trying to do something pretty strange. If it's a trivial change @shiftkey and you feel like it aligns with the direction you'd like, obviously don't let my closing this issue hold you back.

[2019-03-27 21:02] #7172 closed

[2019-03-27 21:04] shiftkey commented on #7172
We're already tracking #7017 which is a more holistic view of these menu items, so I'm fine to cross-reference this example and close this out.

[2019-03-27 21:06] tierninho commented on #6989
Tested and LGTM.

[2019-03-28 06:17] taotien commented on #1489
This still happens on 1.6.5. Default branch doesn't update even with a restart of the app.

[2019-03-28 06:52] TerryChan opened #7173 "Cannot use git svn command"
When I change the code to use "git svn clone ..." command in GitHub Desktop, I got the error below:
![image](https://user-images.githubusercontent.com/5396286/55135737-8072cf80-5167-11e9-98e7-03894fe01cf7.png)

And then I check the git executable in dugite node module, I still get the error:
![image](https://user-images.githubusercontent.com/5396286/55135814-b021d780-5167-11e9-8272-71bc726eba97.pn

[2019-03-28 10:39] #6999 closed

[2019-03-28 11:23] shiftkey commented on #7173
Moving this discussion to https://github.com/desktop/dugite-native/issues/236 which is the package responsible for our embedded Git.

[2019-03-28 11:23] #7173 closed

[2019-03-28 12:10] mishrabinash commented on #3125
I am facing this issue only after clearing .AppData. Everything was fine before.

[2019-03-28 12:14] shiftkey commented on #3125
@mishrabinash please open a new [bug report](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and fill out the template so that we're able to investigate the issue.

[2019-03-28 13:06] abelsond commented on #3379
This still doesn't seem to have been solved.  Two years later...

[2019-03-28 13:28] steveward commented on #3379
@abelsond work is being done on stashing -- you can follow along in https://github.com/desktop/desktop/issues/6987 for progress on this feature. Hope that helps!

[2019-03-28 15:41] P3012852 commented on #6850
@billygriffin  I have followed the same steps as you mentioned above but unfortunately i'm still getting the below error. Please help me with the same.
![image](https://user-images.githubusercontent.com/19977087/55171254-e9f6dc00-516f-11e9-8dd6-22023519f453.png)

[2019-03-28 15:44] shiftkey commented on #6850
@P3012852 we have some more up-to-date advice for this `InitializeSecurityContext` error. Please try out this workaround here and see if it addresses the issue for you: https://github.com/desktop/desktop/blob/development/docs/known-issues.md#certificate-revocation-check-fails---3326

[2019-03-28 15:55] P3012852 commented on #6850
@shiftkey Thanks for the quick turn around. It is working now. thanks for your help.

[2019-03-28 20:33] tierninho commented on #2627
Closing this as it has not come up enough times to be validated as a real problem.

[2019-03-28 20:33] #2627 closed

[2019-03-28 20:57] shiftkey commented on #7127
Electron [`3.1.8`](https://github.com/electron/electron/releases/tag/v3.1.8) has been released with this bugfix. Once we've figured out when we want to upgrade Electron to this release, we'll add this issue to the relevant milestone.

[2019-03-29 00:00] tierninho opened #7176 "Inconsistent behavior for Recent repo grouping"
When moving between repos, when the Recent segment is present, I noticed the current repo is sometimes in the list and sometimes not. The inconsistency could be by design, but wanted to reference it here.

❓Note: almost the same issue as: https://github.com/desktop/desktop/pull/7130#pullrequestreview-217857237 which was fixed?

#### Reproduce:
- Prerequisite: Make sure Recent segment is present in

[2019-03-29 01:04] tierninho opened #7177 "Cannot use `esc` key to close Branch list"
Using the `esc` key to close the `branches-container` is still possible, however I found an edge case where if you click into the white space in the Pull Request list, then using `esc` won't close the list.

<img width="351" alt="Screen Shot 2019-03-28 at 3 03 08 PM" src="https://user-images.githubusercontent.com/14828183/55202233-acdc1b00-516a-11e9-91c2-a161b73c8515.png">

v1.7.0-beta1, mac

[2019-03-29 03:07] billygriffin commented on #7176
@tierninho The logic is indeed to use the last repos used that are *not* the current repo, with the idea being that the current repo is selected and therefore not as relevant for navigating amongst the repos you've used most recently (since you're already on it). When @outofambit and I discussed this though, we could see it going either way. It's tricky for me to tell from your examples whether gi

[2019-03-29 04:23] IdanAdar opened #7178 "Recent repositories is annoying. Make it optional"
Title says it all.

[2019-03-29 04:24] b0810 commented on #7127
Bonjour Brendan,

Vous cherchez un nouveau site pouvant vous aider à gagner des millions au bout de 3 mois de travail acharné?

Vous tombez bien parce que j"ai un tout nouveau site qui peut vous générer des millions de dollars en trois mois.
Cliquez sur ce lien si vous le voulez bien Builderall Leverage Affiliate System | Builderall Leveraged Affiliate System

|
|
|  |
Builderall Leverage Affiliat

[2019-03-29 04:29] b0810 commented on #7178
Bonjour ++prenom++,,

Vous cherchez un nouveau site pouvant vous aider à gagner des millions au bout de 3 mois de travail acharné?

Vous tombez bien parce que j"ai un tout nouveau site qui peut vous générer des millions de dollars en trois mois.
Cliquez sur ce lien si vous le voulez bien Builderall Leverage Affiliate System | Builderall Leveraged Affiliate System

|
|
|  |
Builderall Leverage Affi

[2019-03-29 04:32] b0810 commented on #7177
Bonjour ++prenom++,,

Vous cherchez un nouveau site pouvant vous aider à gagner des millions au bout de 3 mois de travail acharné?

Vous tombez bien parce que j"ai un tout nouveau site qui peut vous générer des millions de dollars en trois mois.
Cliquez sur ce lien si vous le voulez bien Builderall Leverage Affiliate System | Builderall Leveraged Affiliate System

|
|
|  |
Builderall Leverage Affi

[2019-03-29 08:49] kkayri opened #7179 "Développement"
Bon jour je veux savoir comment peut-on monter une vidéo

[2019-03-29 09:19] b0810 commented on #7179
 bonjour
moi aussi je veux que tu achètes mon nouveau site en cliquant sur ce lien et payer la somme de 44,90€ d'abord avant de demander quoi que ce soit https://location-builderaml.comMerci pour ton achat borath Yun

Envoyé depuis Yahoo Mail pour Android

  Le ven., mars 29, 2019 à 9:50, kkayri<notifications@github.com> a écrit :
Bon jour je veux savoir comment peut-on monter une vidéo

—
You are

[2019-03-29 11:21] shiftkey commented on #7178
@IdanAdar thanks for the feedback. I'm going to fold this into our tracking issue about these changes #6460.

[2019-03-29 11:22] shiftkey commented on #6460
In #7178 @IdanAdar suggested making the new changes opt-in (or configurable)

[2019-03-29 11:22] #7178 closed

[2019-03-29 11:24] shiftkey commented on #7179
@kkayri this is the issue tracker for GitHub Desktop, and I believe your question is outside of the scope of the project. Please open [a new issue](https://github.com/desktop/desktop/issues/new/choose) and fill out the template if you do have feedback about Desktop.

[2019-03-29 11:24] #7179 closed

[2019-03-29 11:32] shiftkey commented on #6460
@IdanAdar I'd move this suggestion to the issue related to the change, but #7132 has been closed so I figure I'd ask here:

  - can you elaborate on why you don't want to see the "Recent Repositories" list?
  - is there changes to how "Recent Repositories" work that would change your mind about using it?

[2019-03-29 11:49] IdanAdar commented on #6460
Sure.

In my role as SRE/DevOps, I frequently update most if not all of our repositories. As such they are all “recently used repositories” and I don’t want/need the list of repositories to branch out as it becomes a cognitive burden to have the repositories “switch places” all the time.

I’d much prefer the option to manually order/sort the repositories to my liking instead.

[2019-03-29 11:56] alejandronanez commented on #7093
Hey @shiftkey & @tierninho - I got some questions regarding this issue,

If I understand this correctly, what we want to achieve here is to avoid the usage of `DialogHeader` inside a `Dialog` component, to get to something like this:

[code]

Is that right?

Also, I want to make sure that you're aware that this would affect other dialogs, are you aware of this? - asking because this issue's title

[2019-03-29 12:44] kuro68k commented on #6460
I can second this. Anything which results in lists being re-ordered is just frustrating and burdensome.

Solutions like having multiple repos open in tabs work better for switching between a bunch of items currently being worked on, if that is what the user wants to do.

[2019-03-29 13:00] marcospgp opened #7180 "revert a commit while keeping changes"
Sometimes I accidentally commit an additional file and find myself having to google one more time the exact syntax of the `git reset --soft HEAD~1` command.

This command undoes the latest commit while keeping the changes.

It would be great if Github for Windows had this functionality through the UI! Not necessarily undoing the latest commit, maybe instead being able to undo an arbitrary commit.

[2019-03-29 13:18] shiftkey commented on #7093
@alejandronanez you're on the right track, but let me see if I can clarify things:

Because we added support for using JSX in the `header` of a `Dialog`, we should be able to just pass in `dialogHeaderContents` (or a tweaked version) and avoid the need to import and wrap it in a `<DialogHeader>`. Does that clarify things?

This is fine - the work to make changes to `Merge Conflict` and `Merge Bran

[2019-03-29 13:43] shiftkey commented on #7180
@marcospgp thanks for the suggestion. I'm curious about this part of how you find yourself stuck after committing:

This feels like it overlaps with the intent behind our "Undo" button that sits below the commit form when you have local commits that haven't been published to the remote repository:

<img width="485" src="https://user-images.githubusercontent.com/359239/55236470-c6cf3980-520e-11e9-8

[2019-03-29 13:44] shiftkey commented on #7055
Moving this to `investigation-needed` to see if one of @desktop/engineering is available to dig into the updater behaviour at all.

[2019-03-29 13:54] marcospgp commented on #7180
I missed the undo, and I actually think that works perfectly.

Does it fade away after a short interval? I might have missed it because it was hard to notice.

[2019-03-29 14:01] shiftkey commented on #7180
It doesn't fade away after a period of time, but it might be hard to notice because the button blends into the rest of the form. cc @desktop/design for :eyes: and thoughts.

I'm going to tweak this discussion to focus on that "Undo" form - thanks for the clarifying details @marcospgp!

[2019-03-29 14:59] #6935 closed

[2019-03-29 15:47] billygriffin commented on #7180
@marcospgp @shiftkey Could the confusion be that the Undo button only exists for commits that are still only local? Once they’ve been pushed to the remote, you can no longer click “Undo,” right?

We’ve talked about the visibility and prominence of Undo a bit previously in a different issue (that I can’t find right now), but I’m interested in whether that might have caused you not to see it.

[2019-03-29 16:17] shiftkey commented on #7180
@marcospgp it doesn't fade away after a period of time, but it might be hard to notice because the button and the space itself blends into the rest of the commit form. cc @desktop/design for :eyes: and thoughts.

@billygriffin

Correct, the top local-only commit on the current branch will appear here.

I think this might be https://github.com/desktop/desktop/issues/6901? If so, I can fold this fee

[2019-03-29 16:47] marcospgp commented on #7180
There is no confusion as to the unfeasability of undoing a commit after pushing it (though it is possible, it would then require force pushing so better not to allow that through the UI).

[2019-03-29 16:47] marcospgp commented on #7180
There is no confusion as to the unfeasability of undoing a commit after pushing it (though it is possible, it would then require force pushing so better not to allow that through the UI).

[2019-03-29 17:05] tierninho commented on #7176
Ok, I suspected it the logic was meant to be this way. I still suggest looking at scenario 2 and 3 as they may be bugs or at least not intended situations.

[2019-03-29 19:03] tierninho commented on #69
We be great as part of this to have some visual indicator for LFS files.

Perhaps where the place marker is here:
<img width="259" alt="Screen Shot 2019-03-29 at 9 01 57 AM" src="https://user-images.githubusercontent.com/14828183/55256574-6ab1e880-5201-11e9-837e-85f45ebb5b57.png">

[2019-03-29 19:55] tierninho opened #7181 "Discard All files warning displays incorrect characters for file"
When discarding all files, I noticed that one file was labeled as `...` incorrectly. It may be because I had duplicated the file a few times, but unsure.

It looks to be reading the `path-label-component` and not the `filename`.

<img width="858" alt="Screen Shot 2019-03-29 at 9 39 48 AM" src="https://user-images.githubusercontent.com/14828183/55259019-9b495080-5208-11e9-9dc0-d2a7c5cf3a66.png">
<i

[2019-03-29 20:40] kae36 opened #7183 "Archived Repositories"
This comment/issue is really talking about the GitHub Desktop app (I'm using Windows) and how it displays repositories when the "Clone repository..." menu item is used under the "File" menu with repositories marked on the github.com website as archived.

Is there a way to somehow mark a repository in the list of clone-able repositories as "Archived" so that when someone tries to clone a remote GIT

[2019-03-29 21:35] tierninho commented on #7183
@kae36 Thanks for reaching out and filing this issue! Sorry if this is giving you in trouble or adding confusion.

Overall it is a good suggestion for an enhancement. Our only indication that a repo maybe archived is found in a generic error message, which appears after an action if performed. For example:

<img width="595" alt="Screen Shot 2019-03-29 at 11 20 07 AM" src="https://user-images.githu

[2019-03-29 23:55] tierninho opened #7184 "Add keyboard shortcuts to Help menu"
Based on a convo with an experienced Desktop user, we ought to add a Keyboard shortcut link to the Help menu, as it would beneficial to see an overview of all the commands.

Even though we have the shortcut mentions sprinkled throughout the application, it is not always obvious and can be easily overlooked.

All the shortcuts were just flushed out into an internal document, so now is a good time t

[2019-03-30 07:58] b0810 commented on #7178
Bonjour ++prenom++, Regardez ce que j'ai fait pour vous depuis quelques temps et vous refusez encore de nous acheter ce site, mais heureusement qu'il n'y ait que quelques uns d'entre vous, d'autres ont commencé maintenant à s'inscrire sur mon site pour un abonnement mensuel de 44,90€, Pourquoi pas vous ? Bravo mes amis, quand on est ami, on devrait s'entraider non ? Sinon vous ne serez pas mon ami

[2019-03-30 17:04] honkmother commented on #2878
microsoft
if you can hear me
BRING BACK STEVE BALLMER SO THAT
**THIS SHIT CEASES**

[2019-03-30 17:10] Ngwind commented on #6121
nice!this solved my problem

[2019-03-30 21:48] davissheryl1 opened #7185 "video problem"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-03-31 02:41] carldunham commented on #2402
Why is this closed? Has it been addressed? #3225 was closed referring dismissively to this issue, now it's closed. Huh?

[2019-03-31 09:48] Gama11 commented on #2402
@carldunham Not sure what you mean, [this issue is not closed](https://i.imgur.com/jtcHeqL.png).

[2019-03-31 12:39] carldunham commented on #2402
Sorry, I had a dumb.

[2019-03-31 15:19] anaisbetts opened #7186 "Button order is flipped on Windows for Discard changes dialog"
## Description

On Windows, it's "Ok Cancel", not "Cancel Ok", even if the default action here is Cancel. Other dialogs seem to be correct though, kudos!

![image](https://user-images.githubusercontent.com/1396/55290871-ef0a9400-53d8-11e9-802a-260c4b4c4ad6.png)

## Version

* GitHub Desktop: 1.6.5

* Operating system: Windows 10

[2019-03-31 15:43] berrylaw opened #7187 "hello"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-03-31 15:48] JannaLorette commented on #7187
I'm Knott sure.,Peoria

On Sun, Mar 31, 2019, 8:43 AM berry law <notifications@github.com> wrote:

[2019-03-31 17:17] #7187 closed

[2019-03-31 17:18] #7185 closed

[2019-03-31 19:43] srianbury commented on #5641
How do you undo `git config --global core.sshCommand "'C:\Windows\System32\OpenSSH\ssh.exe'"` ?

[2019-03-31 19:49] yehudamakarov commented on #5641
You can `git config —list` or something similar to list all the settings. One of these should be core.sshCommand, and it should point to a value.

Google the values for core.sshCommand and set your setting to the default value.

Yehuda Makarov
On Mar 31, 2019, 15:43 -0400, Brian Sunbury <notifications@github.com>, wrote:

[2019-03-31 20:08] srianbury commented on #5641
I was unable to find the default value to replace `C:\Windows\System32\OpenSSH\ssh.exe`  with so I just opened the config file in a text editor and deleted that line.  Everything went back to normal.

[2019-03-31 20:23] yehudamakarov commented on #5641
If you delete the line it will use the default value as far as I know. So good job.

Yehuda Makarov
On Mar 31, 2019, 16:08 -0400, Brian Sunbury <notifications@github.com>, wrote:

[2019-04-01 04:39] b0810 commented on #5641
Bonjour mon ami, Vous savez si vous acheter ce site de builderall qui peut vous faire gagner vos premiers millions dans les trois qui suivent, personne ne le saura, ne soyez pas coincé vous êtes libre de faire ce que vous voulez non alors pourquoi attendre cliquez sur ce lien  https://checkout-fr-44.location-builderall.com/?slug=builderall-eur-commercial-44&sd=checkout-fr-44   Faites le si vous êt

[2019-04-01 08:53] #7043 closed

[2019-04-01 12:58] MattMcManis opened #7189 "Fails to detect Log folder in Visual Studio C# Project Repository"
## Description

In my C# project, I had a folder named `Log` with some `.cs` and `.xaml` files in it. They were for my program's Log Console, and not a temporary log file generated by Visual Studio.

GitHub Desktop fails to detect the folder because it has the name `Log`. I didn't know but I never pushed those files to GitHub. Someone notified me when they couldn't compile the program because the

[2019-04-01 13:44] steveward commented on #7189
Thanks for the report @MattMcManis. It does look like log directories are being ignored -- it's the last entry in `Build results`:

[code]

If you remove that entry then files in that directory should no longer be ignored. I hope that helps!

I'm going to close this issue out, but please let me know if you run into any further issues.

[2019-04-01 13:44] #7189 closed

[2019-04-01 13:48] #6962 closed

[2019-04-01 13:48] #6989 closed

[2019-04-01 13:48] #7104 closed

[2019-04-01 13:48] #7140 closed

[2019-04-01 14:33] niik commented on #7186
:wave: @paulcbetts, thanks for opening this! We've iterated over this so many times that I think it's time for a fresh take on this and an attempt at addressing it more holistically.

For context, we do try to swap the button order depending on platform but this is a destructive/dangerous dialog where we also need to ensure that the primary button is the "safe" button and that's throwing a wrench

[2019-04-01 14:55] niik commented on #7183
Thanks for opening this @kae36! I agree with @tierninho that this could be a worthwhile inclusion. I'm gonna assign this to myself so that I can bring it up in our next planning meeting.

[2019-04-01 15:17] shiftkey commented on #6313
We published a beta last week which I believe addresses these two identified issues, so for the moment I'm going to close this out as resolved pending it being available in production. If you spot something that you believe might be related to this, please open a fresh issue rather than add to the existing discussion.

[2019-04-01 15:17] #6313 closed

[2019-04-01 15:32] dacoto opened #7194 "Network view like gitkraken"
![image](https://user-images.githubusercontent.com/16915053/55339988-0bbfce00-54a4-11e9-82e4-0688ed13efa3.png)

[2019-04-01 15:35] dacoto97 opened #7195 "Add support for detecting Jetbrains tools in Desktop (Phpstorm, webstorm, etc) with Jetbrains Toolbox"
Add the option to choose a program installed on my computer other than the ones it automatically detects.
![image](https://user-images.githubusercontent.com/16915053/55340127-593c3b00-54a4-11e9-8481-4406dad82e32.png)

[2019-04-01 15:36] billygriffin commented on #7194
Hi @dacoto, thanks for the issue! It's really helpful for us to understand what problem you're trying to solve when requesting a feature. When would this type of view be useful for you, and why, compared to the existing commit history in GitHub Desktop. I'm curious what specifically you're trying to accomplish that's missing from Desktop currently. Also, what's your workflow like more generally? A

[2019-04-01 15:40] billygriffin commented on #7195
Hi @dacoto, here's the PR where a PhpStorm integration was added for macOS: https://github.com/desktop/desktop/pull/3749. Are you on a different OS?

Here's more information about our editor integration more generally (https://github.com/desktop/desktop/blob/development/docs/technical/editor-integration.md), and we frequently accept pull requests to add new editors.

[2019-04-01 15:43] dacoto commented on #7194
It is simply an extra option, to see the list of all the branches from the same site would be a good option added in which it is not necessary to know which branch you want to compare, simply see all the branches and you can detect which are active and recent activity.
As the panel from github.com:
![image](https://user-images.githubusercontent.com/16915053/55340764-9e14a180-54a5-11e9-931f-7f9cab1

[2019-04-01 15:44] dacoto commented on #7195
I'm using windows 10

[2019-04-01 15:50] billygriffin commented on #7195
Thanks @dacoto! Do you have any interest in making a PR to add PhpStorm for Windows? We haven't heard requests to add that editor for Windows previously so we don't intend to build anything in, but we'd be happy to review a PR if you're interested in doing so.

[2019-04-01 16:16] outofambit commented on #7176
this is a good catch @tierninho, thank you! i didn't consider this case in my logic

[2019-04-01 17:10] dacoto commented on #7195
Ok, I have seen the documentation and I will prepare the integration with PhpStorm.

[2019-04-01 18:36] billygriffin commented on #7138
Updated the initial issue and issue title after talking with @shiftkey and @nerdneha today to indicate that to close this issue, we'll only need to update the "Push" menu item to "Force push" when a user is in that state.

[2019-04-01 18:52] billygriffin commented on #7184
@tierninho This sounds great to me! Is your suggestion to create a doc in the repo that outlines all the keyboard shortcuts and we link to it from the `Help` menu?

[2019-04-01 18:55] tierninho commented on #7184
Yes, but I am open to suggestions.

However, if the Help docs team is adding a page for the keyboard shortcuts, then let's link there.

[2019-04-01 19:01] dacoto commented on #7195
Hello, the installation address is this: %appdata%\..\Local\JetBrains\Toolbox\apps\PhpStorm\ch-0\191.6183.95\bin, it is not in the log files, since it is a temporary address, what can I do?

[2019-04-01 20:00] tierninho commented on #7184
Adding <placeholder> for link to public doc, when ready.

[2019-04-01 21:00] billygriffin commented on #6987
Documenting decisions from our weekly meetings and discussions:

1. We'll use the suggested next step as described by @donokuda [above](https://github.com/desktop/desktop/issues/6987#issuecomment-472658704), with the verbiage [here](https://github.com/desktop/desktop/issues/6987#issuecomment-472942310).

2. The suggested next step will be used (with proposed verbiage [here](https://github.com/desk

[2019-04-01 22:04] shiftkey commented on #7138
The other feedback in this issue will be incorporated into #7017

[2019-04-02 06:26] sin2akshay commented on #6843
@shiftkey It is the same. Sorry to bother but is there no workaround for now? It suggested re-install GH but I just installed a fresh copy of Github Desktop before trying this.

[2019-04-02 08:59] konopkoman opened #7201 "Flashing of black squares in the app window"
Flashing of black squares in the app window, look at attached video. Win10/64
[VID_20190402_114807.zip](https://github.com/desktop/desktop/files/3033084/VID_20190402_114807.zip)

[2019-04-02 09:39] bopoh13 commented on #5475
Removing `rm -f .git/index.lock` does not always help. It is necessary to close the client by force through the Task Manager (memory eats ~1.1 GB). The problem appears when indexing more than 500 files. Perhaps some of [them](https://github.com/bq/aquaris-X/releases) were damaged.

[2019-04-02 10:45] danqing opened #7202 "Reused repo name causing issues"
Version 1.6.5 on macOS 10.14.4.

Say I have a repo named `danqing/repo1`, which is synced using GH Desktop. I rename it to `danqing/repo2`, and GH Desktop picks up the renaming (good). But then if I create another repo named `danqing/repo1` and try to clone it, Desktop still renames it to `danqing/repo2`, and now I end up with 2 `danqing/repo2`s in the app.

This is likely due to some caching of t

[2019-04-02 11:13] shiftkey commented on #6843
@sin2akshay I'm not aware of any other tricks currently to get Firefox to correctly detect the Desktop install

[2019-04-02 11:54] niik commented on #7201
Hi @konopkoman,

Without knowing more about your environment I would suspect this is due to your graphics card (or even more likely) your graphics card drivers. I would suggest ensuring that you have the latest version of your graphics card driver installed and if that fails try [disabling hardware acceleration](https://github.com/desktop/desktop/blob/f68738aa9fb295ff90e3bd8a1f9c16483b4ac7c3/docs/

[2019-04-02 17:07] steveward commented on #6843
@sin2akshay are you able to temporarily change the default browser on your Windows 7 machine to a different browser other than Firefox? If you change to something like a recent version of Internet Explorer then you should be able to at least authenticate to your GitHub Enterprise instance. You can then switch back to using Firefox. This has worked for some other users who have encountered the same

[2019-04-02 19:07] #7031 closed

[2019-04-02 23:41] tierninho opened #7205 "Amend flow for rebasing with uncommitted changes"
When rebasing with uncommitted changes, the user gets a "You have unstashed changes" warning as expected, however, the rebase modal reappears automatically thereafter and can lead to a novice user into a loop.

Suggestion would be to keep the rebase modal closed if the "You have unstashed changes" warning appears.

We should also consider how this will change once staged changes feature is impleme

[2019-04-02 23:47] KennethSweezy commented on #7184
While I do agree that having a list of all of the keyboard shortcuts in a document is a good idea. Would it not be better for the user if we had a dialog box that lists all of the shortcuts?

[2019-04-02 23:58] tierninho opened #7206 "Ignored file reappears for rebase"
When adding a certain file type to the `.gitignore` file, and then rebasing, that file type reappears as part of the rebase flow. What are the expectations for this?

Steps to repro:
- add .txt file to gitignore and commit
- create new txt file and it should not be added to Changes list as expected
- attempt rebase and a txt file reappears

<img width="1086" alt="Screen Shot 2019-04-02 at 1 47 42

[2019-04-03 01:16] tierninho commented on #6990
Confirming the when force push is present we are no longer seeing the blank slate action.

I did spot this:

[code]

which resulted in me being stuck in the rebase stage with no modal or button to click. The menu was just locked like so:

![image](https://user-images.githubusercontent.com/14828183/55446159-310f1380-555a-11e9-845f-e4dca691cc74.png)

I do not have repro steps.

8a02833985, mac

[2019-04-03 08:16] VertexityStudio opened #7207 "Cannot change account"
Hi,
I need to change git account in GitHub Windows but I can't find any settings to change Git account, there is no menu :(

![CaptureGithub](https://user-images.githubusercontent.com/10237836/55463465-6dde1780-55f9-11e9-88d7-b4e317b6da03.PNG)

[2019-04-03 08:25] VertexityStudio commented on #7207
Hummm after cloning repo, I've access to menu. Not practical :/

Menu at home is better...

[2019-04-03 08:25] #7207 closed

[2019-04-03 09:45] xiongminghu opened #7208 "怎么设置中文"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-04-03 09:51] niik commented on #7208
Google translated topic:
![image](https://user-images.githubusercontent.com/634063/55469591-17c3a100-5606-11e9-9c64-37869bfcc0f2.png)

Hi @xiongminghu, I'm afraid GitHub Desktop does not currently support any other languages than English. This is something we're looking into for the future, but there is a large amount of work we'd have to do before we can and we don't have a timeline on when we wi

[2019-04-03 09:51] #7208 closed

[2019-04-03 12:55] shiftkey commented on #7206
@tierninho I'm curious what the `.gitignore` file contained in this screenshot (obscured by the dialog):

![](https://user-images.githubusercontent.com/14828183/55443662-46327500-554f-11e9-95c5-c800b86bc356.png)

As it's currently conflicted, Git might have problems parsing the file and the rule added is not included.

I'm not hugely worried about this case - untracked files should be skipped by t

[2019-04-03 13:18] shiftkey commented on #7205
This warning doesn't appear if you have [`rebase.autoStash`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-rebaseautoStash) set in your Git config:

I think we can detect this config config value and warn the user before they go too far down the rebase path. cc @desktop/product for additional thoughts about when we should interrupt the user.

[2019-04-03 13:23] shiftkey commented on #7202
@danqing thanks for the feedback! This feels similar to #6927, and requires some investigation work to understand the behaviour given how repository redirects are implemented.

I'm going to add your case to that issue and close this out to prevent duplicates from appearing. Please follow along with that issue.

[2019-04-03 13:23] #7202 closed

[2019-04-03 13:23] shiftkey commented on #6927
@danqing in #7202 also encountered this issue:

[2019-04-03 15:35] shiftkey commented on #6990
@tierninho it looks like the error occurred when you triggered a pull with rebase enabled - does that seem right?

[code]

This ends up caught in our default error handling, but I'm curious why it didn't end up displaying the rebase flow. I'll see if I can reproduce it myself today and report back.

[2019-04-03 15:36] billygriffin commented on #7205
It seems like what we do here might depend on how we handle stash conflicts? Until we know how that's going to behave, I'd be inclined to agree with @tierninho that we shouldn't currently allow rebase until the working directory is clean, but I don't feel super strongly about that.

When we have a story for handling stash conflicts, I'd be more inclined to just respect the git config for autostash

[2019-04-03 15:37] shiftkey commented on #7103
Dropping this one from the current milestone because I'm not sure how often it will happen, and it's blocked on upstream changes to `dugite`.

[2019-04-03 15:37] billygriffin commented on #7184
@KennethSweezy Thanks! Since we currently have no docs around it, I'd love to start with public documentation even if it takes users out of the app, and then go from there. I agree that ideally it would live in-app, but that doesn't feel like a high priority.

[2019-04-03 15:41] shiftkey commented on #7101
Dropping this from the milestone because it's not a blocker on shipping the rebase flow, and can be picked up independent of the milestone.

[2019-04-03 15:44] billygriffin commented on #7166
Hi @TCROC, just wanted to echo the others' thanks for the excellent issue and description of how it's falling down for y'all. We're currently working on several features that we're hoping to ship toward the end of this month and unfortunately aren't able to prioritize this until after that work is complete. However, we totally agree that it's confusing and it's a priority for us to fix when that w

[2019-04-03 17:58] tierninho opened #7211 "Removing a repo crops Recent Repo list unintentionally"
As the current logic for the recent repo list is to spotlight the **last** three repos, and ignore the current repo, then when you remove a repo, the list is unintentionally reduced to two repos.

We should account for such in the logic.

<img width="293" alt="55368468-afea4a80-548d-11e9-92cd-c907ac2d1d91" src="https://user-images.githubusercontent.com/14828183/55501497-3a45c200-55e6-11e9-9531-62e

[2019-04-03 18:01] tierninho commented on #7206
The contents of the `gitignore` file are here:

<img width="391" alt="Screen Shot 2019-04-03 at 8 00 24 AM" src="https://user-images.githubusercontent.com/14828183/55501652-9d375900-55e6-11e9-8c0e-4e7ba05d4ab5.png">

👍

[2019-04-03 18:12] tierninho commented on #6990
Yes, that sounds about right. If I recall correctly, the rebase flow did pop back up, but only after switching repos and returning to the said repo. Not 100%.

[2019-04-03 20:03] apizz commented on #4054
After recently updating to 1.6.5, I'm no longer experiencing the white screen on connecting to our headless Mac mini running macOS 10.13.6.  Woo hoo!

[2019-04-03 20:25] #6990 closed

[2019-04-04 07:45] dapple0110 opened #7214 "what manual conflict??"
## Description

What is manual conflict?
I setted '*.jpg binay' in gitattributes.
but 'manual conflict' was displayed.
and same result - 'Use the modified file from master', 'Use the modified file from origin/master'

i can't select their version that pushed latest.

## Version

* GitHub Desktop: 1.6.5

* Operating system: windows 10, osx 10.14.3
<img width="1234" alt="screenshot" src="https://use

[2019-04-04 08:38] jatin-cbs opened #7215 "Linux version ?"
Where is the linux version of github desktop it was avilable on snap store and as a deb package on your website but now its not ? Has github now started to only focus on microsoft after acquisition ?

[2019-04-04 08:40] jatin-cbs commented on #7077
Lier github desktop no binaries are available not on snap store not on this link or a deb or RPM package. After acquisition github is now only focusing on microsoft.

[2019-04-04 08:50] niik commented on #7215
Hi @jatin-cbs, thanks for opening this and for showing your interest in using GitHub Desktop on Linux. Please see [our written documentation for getting started with GitHub Desktop on Linux](https://github.com/desktop/desktop/blob/development/docs/contributing/linux-testing-and-you.md) as well as https://github.com/desktop/desktop/issues/1525 for the current status of packaging GitHub Desktop for

[2019-04-04 08:50] #7215 closed

[2019-04-04 09:00] niik commented on #7214
Hi @dapple0110, thanks for opening this. I can definitely see how this can be confusing and this is valuable feedback for us as we continue to iterate on the conflict resolution flow in the application (cc @billygriffin, @outofambit).

Let me try to shine some light on what's going on here. You said:

That is what the application is letting you do although it's using different terminology. Your `m

[2019-04-04 09:00] #7214 closed

[2019-04-04 09:33] riwalenn commented on #6036
Thanks man, you right Google Backup and Sync suck :/

[2019-04-04 10:05] SethuSP commented on #4872
I too tried the same. It does not work for me as well and i do not think it is related to internet strength. Not sure why.

[2019-04-04 11:48] illusive-git commented on #6193
Hello! I solved it permanently by adding Github Desktop to the Firewall Exceptions on Windows 10:

Firewall -> Allow App Access through Firewall -> Change Settings -> Add other App
Then add the GitHubDesktop.exe file found in User/AppData/Local/GitHubDesktop

No need to disable the Firewall now on my machine.

[2019-04-04 12:42] shiftkey opened #7216 "improve CSS styling for merge/rebase status indicator"
In `app/styles/ui/merge-status.scss` and `app/styles/ui/rebase-status.scss` we use these stylings for the indicator `Octicon`:

https://github.com/desktop/desktop/blob/21f7a8702090a35e907f12cb4cf2df63a24a2ef6/app/styles/ui/_merge-status.scss#L7-L14

https://github.com/desktop/desktop/blob/21f7a8702090a35e907f12cb4cf2df63a24a2ef6/app/styles/ui/rebase-status.scss#L7-L14

This can be seen in the **Br

[2019-04-04 12:50] #6959 closed

[2019-04-04 13:07] j-f1 commented on #7077
Check out https://GitHub.com/shiftkey/desktop/releases @jatin-cbs.

[2019-04-04 13:20] steveward commented on #7078
@KipTwitchell @tomsepe I am going to close this issue out due to inactivity. If you are still having any issues with GitHub Desktop, please let us know and we can continue to dive into this further.

[2019-04-04 13:20] #7078 closed

[2019-04-04 14:00] niik commented on #6759
Hi @xieyong8410, we haven't heard back from you in a while so I'm going to close this issue for now. Feel free to add a comment if your issue hasn't been resolved and we'll revisit it.

[2019-04-04 14:00] #6759 closed

[2019-04-04 14:18] MarkerB commented on #6036
It's probably not that simple. It seems more likely it's just an unfortunate interaction between GitHub and Google and creative methods they use to keep track of things.

[2019-04-04 14:37] riwalenn commented on #6036
Yeah sorry, it's just that i have a very poor english and just to thank you for the solution. And i think it isn't normal that the problem already exist and they don't found a solution :/

[2019-04-04 15:16] KennethSweezy opened #7217 "Add Syntax Highlighting for TeX, PGP, Pascal and 17 other languages"
**Add support for syntax highlighting of Tex, PGP, Pascal and 17 other languages**
1. Open a .tex, .rq, .styl, .soy, .st, .slim, .sieve, .ss, .sls, .scm, .rst, .rpm, .q, .pp, .pug, .proto, .properties, .ini, .pig, .pgp, .m, .oz, or .pas file.
2. Observe that there is no syntax highlighting on the file.

**Wireup CodeMirror to provide syntax highlighting**
Add TeX, SparQL, Stylus, Soy, Smalltalk, S

[2019-04-04 15:29] niik commented on #7217
Hi @KennethSweezy,

Thank you so much for the work you've already put in here! The biggest reason as to why we didn't include all languages to start with was wanting to keep the load times down for the highlighting web workers but since https://github.com/desktop/desktop/pull/4764 landed we only load the modes we need at the time so there should be no performance overhead in adding these. As such

[2019-04-04 16:15] shiftkey commented on #7195
@dacoto we're limited at the moment by what we can support because on Windows we look at the registry for installed programs, and it looks like the JetBrains tools have changed things in recent versions to include the version (numeric or calendar) in the registry keys.

For example, our WebStorm integration looks like this:

https://github.com/desktop/desktop/blob/64a075b1019b9e4358777449ef87cdebd

[2019-04-04 18:57] andreypikalov13 commented on #2180
when I had a problem, I crossed over to my Git Desktop account and the error stopped

[2019-04-04 19:00] tierninho opened #7218 "Rebase suggestions and questions for post release"
Had some questions / suggestions for rebasing. Nothing here is urgent and can be address post 1.7.0 release.

- The `resolve` carrot is warped. Shouldn't it look like the Open in Editor one?
<img width="106" alt="Screen Shot 2019-04-04 at 7 55 42 AM" src="https://user-images.githubusercontent.com/14828183/55580088-78f67d80-56b5-11e9-901d-346743ba359c.png">
<img width="114" alt="Screen Shot 2019-04

[2019-04-04 19:36] TCROC commented on #7166
@billygriffin Thanks for the update! :) I look forward to seeing how this turns out when time is found to work on it :)

[2019-04-04 20:13] dacoto commented on #7195
@shiftkey Thank you very much for your help, I have acquired a PhpStorm license, but you can use a free 30 days license, I have been researching and the problem is that they have launched the tool Jetbrains Toolbox, which is an installer of all programs and not it is added to the registry except for the Jetbrains Toolbox.
I hope that @citizenmatt can help us, I will also try to talk with the suppo

[2019-04-04 20:57] shiftkey opened #7220 "base branch is not shown in "successful rebase" message after resolving conflicts"
Extracting this from #7203 to investigate:

If the rebase is started in Desktop it should track the base branch as part of application state until it is successful, but maybe when updating the rebase state after detecting conflicts this is forgotten.

[2019-04-04 21:09] shiftkey commented on #7218
@tierninho thanks for this input!

Probably - these styles were borrowed from Merge Conflicts so I'll see what's available there.

I'm not sure I understand this bit - what `git rebase --skip` does is ignore the current commit in the rebase (because it doesn't contain any tracked changes to use) and continues rebasing commits until it either completes successfully or encounters conflicts.

For the

[2019-04-04 21:19] shiftkey opened #7221 "disable "abort merge" button to prevent duplicate Git operations"
This came from #7104, which was initially reported against the new rebase flow:

While this was addressed in #7117 the issue is still reproducible against the Merge Conflicts flow:

[2019-04-04 21:24] shiftkey opened #7222 ""pull with rebase" with conflicts doesn't end up in rebase flow"
Originally reported in #6990:

And after some more discussion:

cc @tierninho for any extra context for this

[2019-04-04 22:08] tierninho opened #7223 ""Rebase in progress" modal freezes due to unstaged files"
I ran across an instance where the "Rebase in progress" dialogue would just freeze and thereby force the user to quit Desktop in order to recover. It seems the uncommitted file warning interrupted the rebase flow of things, and Desktop was unable to fix it. I was able to repeat this a few times to make sure it was indeed a bug.

I had an odd setup, but regardless there may be a bug buried in here.

[2019-04-04 22:21] tierninho commented on #7218
When I use `git rebase --skip` it goes to the next conflict, as expected. If you use `git rebase --skip` multiple times in a row, eventually you run our of conflicts and the modal closes in Desktop. This is what I'd expect to happen.

[2019-04-04 23:21] ammaar620 opened #7224 "ئ"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-04-04 23:28] #7224 closed

[2019-04-04 23:40] daGUY commented on #6460
I have a couple of issues related to this that I didn't see explicitly called out.

The way we organize projects at my company is we have a Bitbucket project and then inside of that a repo named after the CMS used. So the path to a particular repo looks like this: https://me@bitbucket.mycompany.com/scm/project/cms.git.

Since all of our projects come from the same source/organization (Bitbucket),

[2019-04-04 23:45] gingerbeardman commented on #6460
@daGUY out of interest, how did GitHub Desktop Classic cope with your setup?

[2019-04-05 00:42] EngineerAhmedMo commented on #7039
i have the same problem

[2019-04-05 00:42] tierninho commented on #7223
Git seems to think no rebase is in progess:

[code]

[2019-04-05 01:21] KennethSweezy commented on #7217
@niik Thank you for assigning this issue to me. I will begin work on this ASAP.

[2019-04-05 02:19] mtourne opened #7225 "ampersand in windows username breaks command line"
## Description
On windows a `&` in a user name seems to break certain functionalities

## Version
Github deskstop for windows 1.6.5

* Operating system:
Windows 10

## Steps to Reproduce
1. Clone a repo in username named a&b
2. publish repo it'll say c:\users\a command not found

### Expected Behavior
the command line shouldn't be broken by a &

### Actual Behavior
impossible to publish

[2019-04-05 06:38] CaritosR opened #7226 "Open"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-04-05 06:40] #7226 closed

[2019-04-05 09:43] bikram-neetable opened #7227 "Update from default branch menu item provides no feedback when branch is already up to date"
## Description

Updating from the default branch provides no feedback when the default branch is already up to date with the current branch.

## Version

* GitHub Desktop:

* Operating system: platform-independent

## Steps to Reproduce

1. Checkout the default branch
2. Create a new branch based on the default branch
3. Check out said branch
4. Click the 'update from [default branch]' menu item u

[2019-04-05 11:04] shiftkey commented on #7223
So I think there's two distinct things in play here:

This was the scenario I stumbled upon on Monday, and in a nutshell:

 - inside `RebaseFlow` we'd do this check to see if we found new conflicts while showing progress

https://github.com/desktop/desktop/blob/64a075b1019b9e4358777449ef87cdebde52c1ac/app/src/ui/rebase/rebase-flow.tsx#L143-L149

 - the `this.state.lastResolvedConflictsTip !== conf

[2019-04-05 11:41] danqing commented on #6927
Actually today I noticed that in my case, `repo1`'s `git remote` still points to the old URL (GH Desktop only updates the name in the UI, but doesn't update the actual git config). After I create `repo2`, the app gets completely confused and simply refuses to work with `repo1`, citing different upstream. I had to manually change my `git remote` for the old repo.

(The naming bug still persists)

[2019-04-05 11:42] niik commented on #7227
Hi @bikram-neetable, I suspect the reason you're not seeing anything when you attempt to update from master is because there are no changes on master relative to your current branch.

If you attempt to merge manually using the command line I suspect you'll see something like this

[code]

Now, that should hopefully explain why it would appear as if the update from master menu item "does not do any

[2019-04-05 11:52] shiftkey commented on #6927
@danqing are you able to share the relevant log messages related to this error?

[2019-04-05 11:54] bikram-neetable commented on #7227
Hi Markus,

Well it is a bug. Because i compared the changes after using "Update from Master" button.
The bug is - It shows that already in sync with Master but changes are not reflecting.

Here is the scenario where i faced this issue

1) I created 2 branches from Master named "A" and "B"
2) Made some changes in both the branches.
3) Did "Update from Master" in branch "B".
4) Merged changes of "B

[2019-04-05 13:40] Nightenom opened #7228 "Move run directory"
I did not find a way to move github desktop entirely to external ssd. I moved app and repos but I can't move `%appdata%\GitHub Desktop`. Is there any way to do this (sorry if I failed to search it)?
If not, an app argument would be great

[2019-04-05 14:20] paulcbetts commented on #7186
I would swap the order but still make Cancel the "Primary" button (i.e. the highlighted one that also is the default)

[2019-04-05 14:31] co16353sidak opened #7229 "Different name for beta releases ?"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

I will keep it very simple, the beta version follows the same name as the stable build. ( `GitHub Desktop` )
Some users (like me) try to keep two different versions an application, one stable build for actual work (you don't

[2019-04-05 14:35] niik commented on #7228
Hi @Nightenom, unfortunately that's not currently supported. Electron (which we build Desktop upon) uses an installation framework called [Squirrel](https://github.com/squirrel/squirrel.windows) which governs where the application is installed. While it's possible that you could move the directory it would likely break automatic updates.

See also https://github.com/desktop/desktop/issues/1579.

[2019-04-05 14:35] #7228 closed

[2019-04-05 14:44] niik commented on #7229
Hi @co16353sidak, thanks for opening this!

Unfortunately running the production and beta versions of the app side-by-side is not supported at the moment. While you could rename the application directory that won't change where Desktop persists its data (`~/Library/Application Support/GitHub Desktop` on macOS). When we update the beta channel it's possible that we might introduce non-backwards com

[2019-04-05 14:52] niik commented on #7225
Hey @mtourne, thanks for opening this!

I've been able to reproduce the problem you described

<img width="624" alt="image" src="https://user-images.githubusercontent.com/634063/55621340-81c27e80-579d-11e9-87e1-bdd1aa6e5545.png">

This is likely the same issue as @shiftkey was debugging in https://github.com/desktop/desktop/issues/2623#issuecomment-362161677.

Essentially this breaks `git push` fo

[2019-04-05 15:05] niik commented on #7225
A little too late I found that we do have this documented in our [Known Issues](https://github.com/desktop/desktop/blob/development/docs/known-issues.md#ask-pass-trampolinebat-errors---2623-4124-6882-6789) document. Given that this is a known issue I'm going to close this issue for now but please let us know if the workaround is possible for you.

[2019-04-05 15:05] #7225 closed

[2019-04-05 15:10] #7139 closed

[2019-04-05 15:20] Nightenom commented on #7228
This framework just died two days ago? but ok

[2019-04-05 15:42] Nightenom commented on #7228
<https://github.com/Squirrel/Squirrel.Windows/issues/712>
Seriously they give up freedom when they could just add a config option...

[2019-04-05 15:49] niik commented on #7227
@bikram-neetable I _think_ what you described would lead you to the same scenario that I outlined above, i.e. that there are no new changes on master for you to bring in to branch "A". Let me try to step through your steps and you can tell me if I'm missing something.

## The Setup

Let's call the tip commit on `master` `0001`

## The Steps

1. Create Branch A (tip of Branch A is now `0001`) and B

[2019-04-05 15:55] billygriffin commented on #6460
Thanks for the feedback y'all, it's really appreciated. We know what we ship here isn't going to solve everyone's problems because some people use very different workflows, but we're hoping it will help with many of the problems raised.

The problem with always showing the parent folder is that repo length is often pretty long, and we quickly run into horizontal spacing issues. In grouping repos b

[2019-04-05 15:57] co16353sidak commented on #7229
@niik I feel that this is a step that most applications that support public beta testing also face initially but I feel that this would be a gain for the future. rest is up to you guys to decide 😃
Would love to contribute as much as possible though

[2019-04-05 16:48] abegehr commented on #3969
I'm still having the problem even a

Same here!
The fix from @literallysofia did not work for me. – What should I do with AppCleaner? Delete and reinstall Github Desktop?
Cloning through the command line works as expected. I'll go that route for the time being.

[2019-04-05 17:04] abegehr commented on #3969
It is working now after deleting GitHub Desktop with AppCleaner, running the 'rm' from @literallysofia's post, and reinstalling.

[2019-04-05 17:11] iAmWillShepherd commented on #6107
Since we’ve decided to not overwrite stash entries and to instead modify previous stash entry messages, I’ve learned that git does not support updating stash commits. This means that it’s not practical to try to modify a stash entry once it’s been created.

I think we have two approaches going forward:
1. Delete stash entries thereby enforcing the one stash per branch rule (destructive approach)
1

[2019-04-05 19:30] #7046 closed

[2019-04-05 19:58] #5953 closed

[2019-04-05 20:14] tierninho commented on #7218
Piling on top of the "Resolve" comment stated above, I think we should add the "Are you sure? confirmation dialogue when this is present *and* the user has already selected an option from the dropdown.

<img width="250" alt="Screen Shot 2019-04-05 at 10 13 07 AM" src="https://user-images.githubusercontent.com/14828183/55653848-72d2d080-578b-11e9-8ab0-34269aad0723.png">

[2019-04-05 21:01] iAmWillShepherd opened #7231 "Remove `AppStore.getBranchesState`"
I discovered this after noticing that `AppStore._createStash` function did not behave as expected. After doing a bit of digging, it turns out that my test repo not being a `GitHubRepository` was the cause. I confirmed with @desktop/engineering that getting `BranchesState` does not depend on `GitHubRepository`.

**Problem function**
https://github.com/desktop/desktop/blob/92faa65e495a38c2be373fac16

[2019-04-06 12:59] dsanders11 opened #7232 "'View on Github' Availability For Commit Doesn't Update"
## Description

'View on Github' for commit in history does not update unless changing away from history tab and back. If you do a push from the history tab, or initiate a push then switch to the history tab before it completes, you won't be able to access 'View on Github' unless you leave the tab and come back.

## Version

* GitHub Desktop: 1.6.5

* Operating system:

## Steps to Reproduce

1. M

[2019-04-06 19:30] KyleNanakdewa opened #7233 "Dim window when using HDR on Windows 10"
## Description

The app window is displaying very dim when using an HDR monitor, and HDR enabled in Windows display settings.

The app is showing as an HDR app, so it gets HDR brightness instead of standard brightness. This seems to be the exact same issue faced by [VS Code](https://github.com/Microsoft/vscode/issues/68069) and [Signal](https://github.com/signalapp/Signal-Desktop/issues/3181) and

[2019-04-07 10:44] awojtas opened #7234 "After logging in and closing GH Desktop, it now just opens to a blank white screen (MacOS)"
Issue:
- GitHub Desktop just displays a blank white screen after opening

Steps that got me to the problem:
- Download GH Desktop
- Drag to Applications
- Right-click Open, confirm you want to open app from internet
- Log in to github.com
- Close app
- Re-open app
- (Issue occurs)

No workaround I can find :(

I also can't resize the window or drag it anywhere.
I'm using a Macbook Pro 15 mid-2014

[2019-04-07 11:38] shiftkey commented on #7233
@KyleNanakdewa thanks for the report! It looks like there's a couple of options for us to address this:

 - upgrade to Electron 4, which seems to be what the Signal client did https://github.com/signalapp/Signal-Desktop/issues/3181#issuecomment-473990768
 - provide a environment override to change the runtime behaviour to let users force a certain color profile, similar to what VSCode did - https:

[2019-04-07 17:54] say25 opened #7235 "Add Highlighter Support for .resx files"
Resx is a .Net file extension type. It is essentially XML.
https://docs.microsoft.com/en-us/dotnet/framework/resources/creating-resource-files-for-desktop-apps#resources-in-resx-files

[2019-04-07 22:05] gcoyle1 opened #7237 "Copy Path"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-04-07 22:09] gcoyle1 commented on #7237
When I select "copy path," the full path is no longer copied.  In the past, I would select "copy path" and name.io/project_file/x.html, would be copied.  Now, when I select "copy path" only the project path is selected.  That is, I select "copy path" on the github interface and only project_file/x.html is copied.  Why has this changed?

[2019-04-08 01:28] vallme2003 opened #7238 "After Latest Update, GitHub Desktop Launches but UI Window is not Visible on MacOS Mojave v10.14.3 (18D109)"
## Description

Hi, I got an Automatic update to upgrade my Github Desktop which i am using it with my Enterprise Github, after which if i try to launch the App, the application window is not visible anymore.

I can see that the process in available in Taskbar and in Activity Monitor but the window is not visible. So far i have tried reinstallation with new version, still not able to see the UI.

[2019-04-08 08:33] Ameen-vatbox opened #7239 "Feature request: Active repositories"
I currently have 20+ git repositories, but most of the time I work on 2-3 at the same time, and its hard to remember where did I make changes.

It would be nice and more effective to see in which repositories I have made uncommitted changes by adding an indicator near the repository name (star, or different color, etc...).
and also it would be nice to move it to the top of the list.

[2019-04-08 08:57] niik commented on #7239
Hi @Ameen-vatbox, thanks for opening this and giving us your feedback!

This is currently being worked on by @outofambit and should make it into a release soon. See #7130 and #6460.

<img width="242" alt="image" src="https://user-images.githubusercontent.com/634063/55711362-ce4fc900-59ec-11e9-908c-7cf39ac239e0.png">

This should exist in the production version already, what version of GitHub Deskt

[2019-04-08 08:57] #7239 closed

[2019-04-08 13:10] #7234 closed

[2019-04-08 13:16] steveward commented on #7237
@gcoyle1 thanks for contributing. This issue tracker is for GitHub Desktop -- for issues with GitHub the website you will need to reach out to support via the contact form:

https://github.com/contact

I'm going to close this out, but if you are having any issues with GitHub Desktop please let us know!

[2019-04-08 13:16] #7237 closed

[2019-04-08 14:19] outofambit commented on #7232
Hi @dsanders11 thank you for taking the time to file this issue! This is a great writeup and I was able to reproduce this on my machine. Going to mark this as a bug.

How much pain is this issue causing for you?

[2019-04-08 14:30] outofambit commented on #7238
Hi @vallme2003, I'm sorry you're running into this and thanks for reaching out. @desktop/support can you help troubleshoot this?

[2019-04-08 14:34] shiftkey commented on #7238
@vallme2003 thanks for the report!

Would you be able to look in the logs and see if there's any interesting errors? These should be located at `~/Library/Application Support/GitHub Desktop/logs` and organized by date - check out the entries for the days you were seeing this issue...

[2019-04-08 14:53] Ameen-vatbox commented on #7239
I had a problem in updating the app for a while, so I re-installed it and this feature actually exists in the newer version.
Thank you.

[2019-04-08 16:08] RichardTea opened #7241 "Cannot Shelve/Stash changes"
Shelving/Stashing appears to be impossible.

This is a critical feature, without which Git is almost unusable as it is impossible to switch branches without either throwing away your work, or committing it.

[2019-04-08 16:11] billygriffin commented on #7241
@RichardTea Thanks for the feedback! We're actively working on this in #6107 and expect that our next big production release will have our first iteration. I'm going to close this issue as a duplicate but please feel free to follow along there, and thanks again! 😄

[2019-04-08 16:11] #7241 closed

[2019-04-08 19:19] tierninho commented on #7229
Additionally, can we make the desktop icon (at least for Mac) a different color. I have both prod and beta in my dock and it gets confusing sometimes.

![image](https://user-images.githubusercontent.com/14828183/55750585-50d18c00-59df-11e9-9028-2c3d7dd20360.png)

[2019-04-08 19:29] shiftkey commented on #7222
I think I stumbled into this just now with a rebase I started outside Desktop, and the reason the app doesn't detect the conflicts is that the context is dumped into `.git/rebase-merge/` which is different to the location I was checking previously -`.git/rebase-apply/`

[code]

I have all the necessary details in here, but I'd like to understand why `rebase-merge` was used rather than `rebase-appl

[2019-04-08 21:40] vallme2003 commented on #7238
@shiftkey I looked at the logs folder and the last log i see is on Apr 4th. And i see an Error related to Authentication since there was an Github Upgrade on my Org.

[2019-04-08 21:40] vallme2003 commented on #7238
@desktop/support - Can you help troubleshoot this?

[2019-04-08 21:41] vallme2003 commented on #7238
@outofambit I tagged the support - but github doesnt seem to recognize the handle

[2019-04-09 00:29] vallme2003 commented on #7238
Able to get this resolved by Deleting '~/Library/Application Support/GitHub Desktop' and then doing a reinstall.

[2019-04-09 00:29] #7238 closed

[2019-04-09 03:24] billygriffin commented on #7238
Thanks @vallme2003, glad you were able to get it resolved!

[2019-04-09 06:15] dsanders11 commented on #7232
Little to none since I know about it and how to work around it. :-)

But it is indeed a bug so figured I'd file once I could reproduce and took a peek at the code and saw the cause.

As mentioned, it'd probably be a bigger pain point for new users in the future if there's more visual indication regarding local commits, but I agree at the moment it's low priority.

[2019-04-09 08:55] deninzane opened #7244 "@DeNiNZANE"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-04-09 08:55] deninzane opened #7245 "@DeNiNZANE"
**Please describe the problem you think should be solved**
A clear and concise description of what the problem is and who else might be impacted. Screenshots are encouraged.

Example:

**[Optional] Do you have any potential solutions in mind?**
A clear and concise description of one or more solutions you think might solve the problem. Please include any considered drawbacks or tradeoffs, and how u

[2019-04-09 11:46] #7244 closed

[2019-04-09 11:46] #7245 closed

[2019-04-09 14:33] billygriffin opened #7246 "[Metrics] Working with uncommitted changes"
In #6107, we're working to improve things for people with uncommitted changes when they're switching branches, and allowing them to stash their changes on their current branch if they want to just leave them there and come back to them. We want to measure several things to learn about the usage of the feature and whether it's successful.

#### 1. What percentage of the time do people bring their c

[2019-04-09 14:57] iAmWillShepherd opened #7247 "[Stashing] Error when switching branches while in a merge conflict state"
Stashing will fail when in the middle of a merge conflict so we can either check merge state at branch checkout to prevent the stash dialog from appearing or we disable the branch selector while in a merge conflict state.

**Repro steps**
1. Produce a merge conflict
1. Dismiss the conflict resolution dialog
1. Checkout a new branch
1. Select either option in the stash dialog and click _Switch Bran

[2019-04-09 15:18] iAmWillShepherd opened #7248 "[Stashing] Merge conflicts resulting from applying a stash entry does not update state properly"
The UI isn't updating correctly when taking changes to the new branch causes a merge conflict and results in:
* the stash dialog not being dismissed even thought the branch was successfully checked out
* files in the _Changes_ view aren't updated (switching to _History_ and back to _Changes_ forces the UI to update itself using the new state and we see that applying worked just fine).
* The branch

[2019-04-09 15:25] deninzane opened #7249 "Readme"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-04-09 15:32] #7249 closed, assigned to nobody

[2019-04-09 15:35] iAmWillShepherd opened #7250 "[Stashing] When taking changes to new branch, existing stash entry is deleted"
Taking changes to a branch with an existing stash results in the existing stash being deleted.

**Repro steps**
1. Create stash on `dev`
1. Switch to `feature` and make a change
1. Switch back to `dev`
1. Select the option to take changes to new branch and click _Switch Branch_

**See (and hear) it in action**
[![Dropping all the stashes](https://user-images.githubusercontent.com/1715082/55813539-

[2019-04-09 15:42] outofambit commented on #7232
@dsanders11 haha fair enough! i completely agree that this will be more problematic for new users and is indeed a bug we should fix. (i mostly wanted to make sure i wasn't underestimating how much it was disrupting your workflow.) thank you again for writing this up and doing some investigation for us!

[2019-04-09 17:38] say25 opened #7251 "Commit Message Clears When Committing in Stages"
## Description
Commit Message Clears When Committing

## Version
* GitHub Desktop: 1.7.0-beta2 (tested this still happens in 1.6.5)
* Operating system: Windows 10

## Steps to Reproduce
1. Change a number of files.
2. Commit a subset of files.
3. Start to commit more files and start writing a commit message and see that it is cleared.

### Expected Behavior
It doesn't clear my commit messages.

##

[2019-04-09 17:42] #7235 closed

[2019-04-09 20:33] shiftkey commented on #1245
Bumping this to indicate it's currently only available in Electron 5 (currently in beta), and if it's more urgent we'd need to investigate whether we could backport the work to Electron 4.x. My gut feeling is that we can wait until we upgrade to Electron 5, but happy to discuss further...

[2019-04-09 20:48] adamreisnz commented on #6460
Love the new grouping by organisation in the beta version 🎉 😍

[2019-04-09 23:56] j-f1 commented on #1245
I think it’s not too urgent because (a) commits don’t come in fractions and (b) it’s likely users from countries that use commas as decimal points will have some familiarity with the use of periods, so they’d get the message. Another alternative is to switch to spaces (“61 083”) although I’m not sure how familiar the general population is with that format.

[2019-04-10 00:49] daGUY commented on #6460
I totally understand and agree with the concern, but there are a number of ways to mitigate that:

1. Resize the repo list to be wider (this is already supported, up to ~500px wide)
2. Display parent folder names _only_ for repos within the same organization that have the same name, so that they don't clutter up the list for other repos that can already be differentiated by name only
3. Display pa

[2019-04-10 06:38] qysnn commented on #2847
Yes. After hours of search I finally solved it by logging out and log in again. That is frustrating.

[2019-04-10 09:15] koenpunt commented on #6460
@daGUY it's not possible to have the same repo twice in an organization. So or you're having multiple copies, or you're using worktrees. If the former is true, I can recommend you looking into using [`git worktree`](https://git-scm.com/docs/git-worktree) instead. For worktrees, I think it should not be the parent directory that is shown, but simply the branch that's checked out, as I proposed here

[2019-04-10 14:16] arshpreetsingh commented on #3169
I am hang the same Problem with my Mac as well.

[2019-04-10 14:57] billygriffin commented on #6107
After discussing @iAmWillShepherd's comment above, we're going to maintain the existing design around overwriting a previous stash with a new one because 1. this feels like an edge case that people shouldn't encounter often, 2. the word "overwrite" conveys that the previous stash will be deleted, and 3. you can get it back in a different way, so it's not a huge deal. Obviously if we see that this

[2019-04-10 15:14] billygriffin commented on #6460
@daGUY Thanks for the additional feedback! Which version of the app are you using currently, out of curiosity? I'm interested in understanding how what is currently shipped to beta either makes your life easier or not. You can download the beta here if you're not currently using it: https://github.com/desktop/desktop#beta-channel

[2019-04-10 15:22] Krumelur commented on #1785
It's there. Open the branches dropdown and select "Merge into master", there you can then pick the "upstream".

[2019-04-10 15:28] shiftkey commented on #3169
@arshpreetsingh please open a new [bug report](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and fill out the issue template so that we're better able to help you.

[2019-04-10 16:15] iAmWillShepherd opened #7254 "[Stashing] Move away from git log and use stash list with --pretty format"
Desktop currently uses `git log -g refs/stash --pretty="%H@%gs"` to get the list of stash entries in a repo. This was done because Desktop relies on the commit SHA of the stash entry to uniquely identify them.

https://github.com/desktop/desktop/blob/50cb1fa524b9a41ece7bc09e7702ecf231a62061/app/src/lib/git/stash.ts#L29-L45

While not necessarily harmful, this causes errors to be logged in the cons

[2019-04-10 17:49] outofambit opened #7255 "[rebasing] choosing manual conflict resolution method doesn't update modal UI"
While in a rebase, I encountered a manual conflict. I chose a resolution method, but it wasn't reflected in the UI until I switched windows and came back to desktop.

(I have verified that this is an issue unique to the rebasing flow, as I was able to resolve a similar conflict in a merge.)

![gif](https://user-images.githubusercontent.com/964912/55901199-b3f92500-5b7d-11e9-9e2d-a643fe364466.gif)

[2019-04-10 19:07] shiftkey commented on #7158
I worry about providing escape hatches like that appear to speed things up.

Imagine a scenario where we have this option and the user ends up inadvertently crafting an incorrect commit which the commit hooks were designed to catch. The time saved here would be lost when the user then pushes the commits, the CI checks fail, and they have make another commit to get back to a good place.

I'm intere

[2019-04-10 19:15] shiftkey commented on #7111
@antonija-nosto apologies for the delay in replying:

Could you share what the ownership of the embedded Git is? I'm kind of stumped about how to trip this, and any helpful information here would be great...

[2019-04-10 19:16] shiftkey commented on #7111
@newlighty it's not clear to me where your error is coming from. Please open a new [bug report](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and fill out the issue template if you'd like us to investigate further.

[2019-04-10 19:18] shiftkey commented on #6901
Bumping this issue because we talked about this in #7180

[2019-04-10 19:19] shiftkey commented on #7180
I'm going to bump #6901 because I think making that more visible to the user would have helped in this situation.

[2019-04-10 19:19] #7180 closed

[2019-04-10 19:19] billygriffin commented on #7158
Thanks so much @waghcwb, I really appreciate your thoughtful response. And thanks for the additional context @shiftkey. I think I'm in agreement, especially without a lot of evidence that others also struggle with this problem. The more we allow for divergence from the expected flow, the easier it is for users to get into bad spots without realizing it or having to constantly remember all their co

[2019-04-10 19:19] #7158 closed

[2019-04-10 20:49] heshamelmasry77 commented on #5530
i really hate github desktop piece  of shxx

[2019-04-10 20:58] lee-dohm commented on #5530
@heshamelmasry77 your comment was deleted as a violation of the [Desktop Code of Conduct](https://github.com/desktop/desktop/blob/master/CODE_OF_CONDUCT.md) as it was insulting or derogatory. You may consider this an official warning.

[2019-04-10 21:08] janmegert opened #7256 "[Idea] have user-name-based avatars to easily identify unknown users"
currently all unknown users have the same default avatar so its difficult to keep them apart in a list of commits

just give those avatar-less users some individual name-based avatar like in Git-Extensions or just some initials with name-based color

[2019-04-11 00:01] daGUY commented on #6460
I don't know, I never ran into this situation until recently. I can't remember if the classic version showed repo parent folder names or not.

Maybe I'm not understanding how grouping by organization works, or I'm using the wrong terminology. All my repos are hosted in Bitbucket. All the repo names are the same (`cms.git`), but they're all in different projects in Bitbucket, so they're not copies

[2019-04-11 01:47] tierninho commented on #7201
@konopkoman As we have not heard back from you on this issue, we are closing it for now. Should you have any more details or questions, please reach out and we will be happy to help. Thank you.

[2019-04-11 01:47] #7201 closed

[2019-04-11 01:50] tierninho commented on #7039
Sounds like this is now resolved, so closing this issue. Happy to reopen if I was mistaken.

@EngineerAhmedMo Please open a new issue [here](https://github.com/desktop/desktop/issues/new?template=bug_report.md) and we will be happy to investigate.

[2019-04-11 02:16] ChuckIsReady commented on #4787
Put out language documents, which can be translated with the help of the community.

[2019-04-11 04:41] iAmWillShepherd commented on #7246
We can't currently answer this question with how stashing is implemented. Because we store no state, we get a list of stash entries every time there is a state change. While we can certainly count the number of stash entries not created in Desktop, we would always over count because we'd get the non-Desktop created entries every state change. So if a user has an existing stash entry created outsid

[2019-04-11 07:42] afbora commented on #7039
@tierninho No, the issue is still continue. I haven't written in 22 days because nothing was done to fix and i shared all attempts and logs about the issue.

[2019-04-11 08:38] wengm commented on #6323
This happened one my environment, even the path has no colon:

fatal: cannot create directory at '**src/main/java/com/e/m/test/cat/i/helpers/con**': Invalid argument

Bruce

[2019-04-11 10:40] niik commented on #7254
If we want to switch got git stash list that's okay but I feel like this is a mischaracterisation of the reason:

This was not, in my mind, the reason. My reason was twofold, first to avoid running three executables where one would suffice (git stash, git rev-parse, and git log).

The second being that `git stash` differs between the platforms (i.e. it's a shell script on macOS/Linux and a builtin

[2019-04-11 10:45] niik commented on #7254
I think a reason to switch to `git stash list` that I would happily get behind would read more like this:

[2019-04-11 11:48] antonija-nosto commented on #7111
@shiftkey sorry, I am not sure I follow your question. What kind of info are you expecting here?

[2019-04-11 12:01] #6496 closed

[2019-04-11 12:28] #6570 closed

[2019-04-11 12:42] shiftkey commented on #7111
@antonija-nosto I'm interested in the actual owner/group values when you run these three commands:

[code]

Ideally they should be the same, but if the app can launch but it can't launch Git maybe they're not consistent (for some reason)? Essentially the error points to permissions to the executable being some unexpected result, but the source of why these permissions is incorrect is still puzzlin

[2019-04-11 13:11] shiftkey commented on #7255
I've been able to reproduce this on [`desktop/rebase-test-cases`](https://github.com/desktop/rebase-test-cases) using the [`4-manual-conflict-resolution`](https://github.com/desktop/rebase-test-cases/tree/4-manual-conflict-resolution-baseline/4-manual-conflict-resolution) test case. Hopefully I can get a fix together for the next beta.

[2019-04-11 13:49] steveward commented on #7039
@afbora could you try creating a new user account on your current Windows machine with a fresh installation of GitHub Desktop? Then try authenticating and pushing from there to see if that works. That should help narrow down if an issue in your local user account is causing the clone to fail.

[2019-04-11 14:01] antonija-nosto commented on #7111
They are all the same.

[2019-04-11 14:05] #6646 closed

[2019-04-11 14:13] afbora commented on #7039
@steveward Here my steps:
1. Deleted all contents in %LocalAppData%\GitHubDesktop
2. Deleted all contents in %AppData%\GitHub Desktop
3. Downloaded fresh x64 file from desktop.github.com
4. Run installation file
5. Created new GitHub account
6. Created new repository
7. Signed in with new account on GitHub Desktop
8. Cloned the new repository
9. Clicked "Publish Branch" button (without any commits

[2019-04-11 14:13] outofambit commented on #7251
thanks for filing this @say25! (and sorry for the delayed response!) Sounds like this is a little race condition we need to fix.

[2019-04-11 14:32] shiftkey commented on #7256
@janmegert are you able to share screenshots or examples of these alternatives?

[2019-04-11 18:14] janmegert commented on #7256
Screenshots of how they solved it in Git-Extensions and Azure DevOps:
![image](https://user-images.githubusercontent.com/23236666/55980633-26105d80-5c95-11e9-9d06-8cec58d1937b.png)
I guess they generated an individual avatar/color/initials based on the user name - and i just like this feature as it helps a lot recognizing users throughout the applications.
In GitHub Desktop unregistered users just

[2019-04-11 18:47] megaromb commented on #6859
@steveward thanks, your advice (sign out / sign in) helped me fixed the same issue.

[2019-04-11 18:50] iAmWillShepherd opened #7264 "[Stashing] Drop associated stash when branch is deleted"
Stash entries are orphaned when the branch is deleted. While we could leave them around, we could run into issues if another branch is created with the same name as the one the stash was associated with. In order to avoid this, we should remove the associated stash along with the branch.

Maybe it's worth alerting the user this will happen as well?

cc/ @desktop/quality-assurance  @desktop/design

[2019-04-11 19:16] sostenesapollo12 commented on #3747
This worked for me

[2019-04-11 19:55] tierninho commented on #7264
Alerting the user would allow them to move the stash elsewhere, so I am in favor of it.

We should also consider what happens when a branch is restored and an associated stash was present before the deletion.

[2019-04-11 21:08] shiftkey commented on #6323
@wengm please open a new [bug report](https://github.com/desktop/desktop/blob/development/.github/ISSUE_TEMPLATE/bug_report.md) and fill out the issue template so that we're better able to help you.

[2019-04-11 21:52] iAmWillShepherd commented on #7250
Fixed in #7230

[2019-04-11 21:52] #7250 closed

[2019-04-11 21:52] iAmWillShepherd commented on #7248
Fixed in #7219

[2019-04-11 21:52] #7248 closed

[2019-04-11 22:28] billygriffin commented on #7256
@janmegert Thanks so much! Would you mind sharing when and how frequently you're seeing this occur and how it's impacting your workflow? In the history tab, when I don't see commit attribution to a user, I still see their name next to it so it's still fairly apparent who it is, but I'm curious how it's manifesting for you and how broad the impact would be for others.

[2019-04-11 23:06] billygriffin commented on #6101
Removing this from the milestone for 1.7.0 because I don’t think we have the bandwidth to get to it prior to the release, but we do think it’s still confusing behavior that we’ll hopefully be able to address in upcoming releases. @outofambit If you’d like to share how you were thinking about it for posterity, I think that’d be helpful for when we do get back to it.

[2019-04-12 06:05] #6963 closed

[2019-04-12 06:46] antonija-nosto commented on #7111
If I may add, I opened GitHub Desktop yesterday and left it open while developing and it didn't complain. I am not sure if the error resolved by itself, but so far so good. I had similar experience before but then it started to complain again until it stopped working altogether and then I came here :)

[2019-04-12 10:55] erusev opened #7266 "Support for ⌃P (select up) and ⌃N (select down) in lists"
By lists, I mean Repo list (⌘T), Branches list (⌘B), etc.

These are standard shortcuts in lists MacOS.

See Spotlight for example.

[2019-04-12 14:21] billygriffin commented on #7266
Thanks @erusev! I'm curious if there's a reason why arrow keys aren't sufficient for navigating through lists, or if it's personal preference based on muscle memory from other apps?

[2019-04-12 14:24] billygriffin commented on #7227
Hi @bikram-neetable! Just following up on @niik's comment above to find out if that sounds right based on what you're seeing.

[2019-04-12 15:19] outofambit opened #7269 "[stashing] loadStashedFiles only works in limited cases"
(From @niik in #7210 on `gitStore.loadStashedFiles`)

I don’t believe this is going to work. getChangedFiles operates on first parent only. A stash commit may have three parents, one will be HEAD, one will be the a commit of the tracked files in the working directory at time of stash and one will be for the untracked files in the commit.

You can test this yourself by creating a new branch, creati

[2019-04-12 15:28] iAmWillShepherd opened #7270 "[Stashing] Move the responsibility of loading stash files from the component to the AppStore"
This issue was brought up in review of #7210 and a work around was put into place in #7267, but we should address this fully when we have the opportunity.

https://github.com/desktop/desktop/blob/75fd70d8a2ce6ba846adc00f45158eb0998254c5/app/src/ui/repository.tsx#L289-L314

☝️ The actual lines that matter are L308-311; the surrounding code is for better context.

[2019-04-12 15:36] outofambit opened #7271 "[stashing] enable stashing for beta"
**note to self:** don't forget to do this before we ship it to beta!

[2019-04-12 15:36] iAmWillShepherd opened #7272 "[Stashing] Add function that can get changed files from a stash entry"
This issue was brought up in review of #7210.

Related issue: #7287

https://github.com/desktop/desktop/blob/777c5110832a30a9cee05c32553923ec0fbf8b16/app/src/lib/stores/git-store.ts#L1015-L1050

:point_up: The relavant line here is L1034, surrounding code is included for context.

[2019-04-12 15:38] outofambit commented on #7269
closing in favor of #7272 (which is a duplicate)

[2019-04-12 15:38] #7269 closed

[2019-04-12 15:45] iAmWillShepherd opened #7273 "[Stashing] macOS button order is incorrect"
This issue was brought up in review of https://github.com/desktop/desktop/pull/7210#discussion_r274839393.

https://github.com/desktop/desktop/blob/686fbbc04f9b2c229ad98799dd0c4d63c8df5d01/app/src/ui/stashing/stash-diff-viewer.tsx#L1

Let's do a bit of validation here to see if this gives the wrong order on Windows. If so, we need to yank this rule and follow our current conventions.

[2019-04-12 15:46] erusev commented on #7266
Sure, the main reason is that in order to use arrow keys you have to move your hand and this is significantly slower.

Also, since these alternative shortcuts are quite common across MacOS apps, they are muscle memory for people who use them and not having them available feels frustrating.

[2019-04-12 16:35] iAmWillShepherd opened #7274 "[Stashing] Stashed changes view is not accessible"
This issue was brought up in review of #7210.

-- @tierninho

![2019-04-12 11 34 43](https://user-images.githubusercontent.com/1715082/56052444-0d488c00-5d17-11e9-93c9-f557cd29abb9.gif)

☝️ I'm using <kbd>Tab</kbd> to cycle through these elements.

[2019-04-12 16:41] iAmWillShepherd opened #7275 "[Stashing] Replace the usage of the ListRow component with a custom one"
This issue was brought up in review https://github.com/desktop/desktop/pull/7210#discussion_r272649999.

I think you could crimp the selection logic and click events from inside `ListRow` without needing to change the behaviour of `ListRow`. Looking at the setup, there's a lot of hard-coded values because of what `ListRow` is expecting:

[code]

I'd love to see an exploration of alternatives here

[2019-04-12 16:44] JCDigital27 commented on #4872
This method works for me!
reboot>
then establish connection to internet...
then>
#git config --global --unset http.proxy
#git config --global --unset https.proxy
then>
#git clone https://(.........................................).git

[2019-04-12 17:32] davidnlarkin72 commented on #3661
I have also figured out (Based upon AndyGee's suggestion regarding .gitconfig) that if you are in a real bind you can add to the following section. (This may present security concern but could help in a pinch)

[http]
      sslVerify = false

Then restart the app

[2019-04-12 18:27] tierninho opened #7276 "[Stashing] Stash diff "flashes" when returning to Desktop app"
When opening your stashed changes and then leaving and returning to the application, the `id="stash-diff-viewer"` div flashes. I narrowed it down to this section:

<img width="843" alt="Screen Shot 2019-04-12 at 8 21 44 AM" src="https://user-images.githubusercontent.com/14828183/56058236-85558880-5cfc-11e9-9e10-4aabdf544742.png">

![Apr-12-2019 08-27-30](https://user-images.githubusercontent.com/1

[2019-04-12 19:14] iAmWillShepherd opened #7278 "[Stashing] Unfriendly feedback when unable to restore stashed changes"
Repro steps:

 - make change to `README.md` in repository
 - switch branches, `Yes, stash changes...`
 - return to branch, make a different change to `README.md`
 - choose stash and try to restore change

Expected behaviour:
 - feedback that I can't restore this stash currently

Actual behaviour:
 - not-so-friendly error message from git

<img width="427" alt="Screen Shot 2019-04-18 at 11 03 29 AM

[2019-04-12 19:23] iAmWillShepherd opened #7279 "[Stashing] Use SentenceCase and string values for UncommittedChangesStrategy enum"
This issue was brought up in https://github.com/desktop/desktop/pull/7210#discussion_r274673721.

https://github.com/desktop/desktop/blob/777c5110832a30a9cee05c32553923ec0fbf8b16/app/src/models/uncommitted-changes-strategy.ts#L1-L5

**What needs to change?**
1. Use sentence casing on each named constant
1. Use string values instead of numbers (implicit)

[2019-04-12 19:28] iAmWillShepherd opened #7280 "[Stashing] Overwriting stashes show old diff state"
After creating a stash of a file, the diff of stashed file changes upon returning to the branch with an associated stash does not reflect what was just stashed. The diff seems to show old state.

**Repro steps**
1. Update the contents of an existing file
1. Stash changes on the current branch
1. Go back to branch stash was created on
1. View diff of stash (note its content)
1. Update the contents

[2019-04-12 19:29] iAmWillShepherd opened #7281 "[Stashing] Focus gets reset from stashed file change list to changes list when app regains focus"
Repro steps:

 - make change to README.md in repository
 - switch branches, `Yes, stash changes...`
 - return to branch, make changes to any file
 - select stash to see contents
 - switch away from Desktop to another app
 - focus on Desktop again

Expected behaviour:
 - stash has focus, no changed files selected

Actual behaviour:
 - stash has focus, but first changed file is selected and diff is

[2019-04-12 19:43] iAmWillShepherd opened #7282 "[Stashing] New files not supported in stash diff view"
This issue came back from @desktop/quality-assurance while testing https://github.com/desktop/desktop/pull/7210#issuecomment-482394496

Try stashing a picture and viewing the diff of the stashed file.

[2019-04-12 19:48] iAmWillShepherd opened #7283 "[Stashing] Stashed changes disappear when the branch is renamed"
This issue came back from @desktop/quality-assurance while testing https://github.com/desktop/desktop/pull/7210#issuecomment-482394496.

**Repro steps**
1. Create stash on branch
1. Rename branch

The stash will no longer be shown since we associate a stash to a branch when it's created. I'm not sure if this is a bug or if it's something we should be concerned about.

Thoughts?
cc/ @desktop/produc

[2019-04-12 20:11] tierninho commented on #7282
Also, empty files and new files do not appear to be rendering in the diff view.

[2019-04-12 20:30] tierninho commented on #7280
Ah, this might explain this as noted in https://github.com/desktop/desktop/pull/7210#issuecomment-482394496

<img width="980" alt="56004948-a1f4b080-5c69-11e9-956f-36c2a7634f9d" src="https://user-images.githubusercontent.com/14828183/56064506-f2254e80-5d0d-11e9-8f99-952d3fddbc8a.png">

[2019-04-12 20:32] tierninho opened #7284 "[stashing] Pane slider in stashed changes diff does not work"
The window pane slider does not work here, even though mouse indicator arrow changes

<img width="611" alt="56004253-f9911d00-5c65-11e9-87a5-f2275dd5168c" src="https://user-images.githubusercontent.com/14828183/56064555-1d0fa280-5d0e-11e9-8bf3-ce8d8e0da4f3.png">

[2019-04-12 21:20] billygriffin commented on #7283
My sense is that in an ideal world, the name of the branch doesn’t have anything to do with the stash. In other words, ideally if you rename a branch you shouldn’t lose your stash on the branch. I don’t think this needs to hold up beta but would like to see it fixed. Open to thoughts from others though as well.

[2019-04-12 21:42] tierninho opened #7285 "[stashing] Error building trees and saving current index state"
Found a bug that prevents me from using the stashing changes feature. Each time you attempt to use it, I get an error in the logs, and the stash model progress indicator just spins.

Here are the terminal cmds I did to get there:

[code]

My current `git stash show` results in:

[code]

LOGS:
[code]

![Apr-12-2019 11-33-14](https://user-images.githubusercontent.com/14828183/56067496-0a4d9b80-5d17-

[2019-04-12 21:58] outofambit commented on #7276
@tierninho could you check if this is still present in https://github.com/desktop/desktop/pull/7210/commits/3353652b40a048f0843b438425e55b925cab593a? i think this has been fixed in https://github.com/desktop/desktop/pull/7267

[2019-04-12 22:10] outofambit commented on #7282
@tierninho could you add to the description above with some reproduction steps? I've seen stashed images in the diff viewer so it would be great to see how you're getting there.

[2019-04-12 22:17] iAmWillShepherd opened #7286 "[Stashing] Restoring stash doesn't actually get rid of stash"
**Repro steps**
1. Create stash on branch
1. Restore stash

**Expected**
The stash is removed and the _Stashed Changes_ element goes away.

**Actual**
The stash sticks around and the _Stashed Changes_ element is still there.

![2019-04-12 16 07 51](https://user-images.githubusercontent.com/1715082/56069003-9aefa000-5d46-11e9-985f-df78cfc4410d.gif)

[2019-04-12 22:20] iAmWillShepherd opened #7287 "[Stashing] Untracked files are not shown in the diff"
Untracked files are not shown in the stash diff, but when restored, they are added to the working directory.

**Repro steps**
1. Create a new file with some contents
1. Create stash
1. View diff of stash

**Expected**
The untracked file is present in the stash diff.

**Actual**
The untracked file is not there. In situations for the untracked file was the only stashed file, the diff view will appea

[2019-04-12 23:13] tierninho commented on #7282
Based on 3353652b40 I think I isolated the root of the problem down to and stashing any new files with or without changed or deleted files. It doesn't matter because in the end any new files won't show in the stash.

Repro:
- Create new file
- Stash it

Before stash:
<img width="443" alt="Screen Shot 2019-04-12 at 1 12 23 PM" src="https://user-images.githubusercontent.com/14828183/56070643-b3e7598

[2019-04-12 23:22] tierninho commented on #7276
Flickering is gone 🎉

[2019-04-12 23:33] outofambit commented on #7276
Awesome! all the credit goes to @niik 😃

[2019-04-12 23:33] #7276 closed

[2019-04-13 00:38] tierninho opened #7288 "[Stashing] New branch is created in background when uncommitted changes are present"
If there are files in the Changes column on existing branch and you create a new branch, the branch is created in the background but now you remain on the existing branch.

**Expected result**: user is taken to the new branch and asked to stash/move changes along the way. (Note: You can select the new branch and stash, but now it takes an additional step).

Not much in the logs:

[code]

5977a42c2

[2019-04-13 00:43] tierninho commented on #7285
More context: Created a new branch-B and tried to bring over a fresh changelog file from branch-A, but ran into this. Note changes went into stash and not the Changes column.

<img width="1132" alt="Screen Shot 2019-04-12 at 2 40 10 PM" src="https://user-images.githubusercontent.com/14828183/56072332-51e12100-5d31-11e9-8b84-ec8dfdf8555a.png">

5977a42c21, mac

[2019-04-13 00:59] tierninho opened #7289 "[stashing] Double clicks of buttons throws error and double log entries"
If you click either the `Restore` or `Discard` buttons multiple times in row rapidly, you get this.

Restore = error msg
<img width="1129" alt="Screen Shot 2019-04-12 at 2 51 50 PM" src="https://user-images.githubusercontent.com/14828183/56072497-41ca4100-5d33-11e9-92a9-19b6e39cbd84.png">

Discard = double logs
<img width="1107" alt="Screen Shot 2019-04-12 at 2 52 32 PM" src="https://user-images.g

[2019-04-13 01:17] tierninho opened #7290 "[stashing] display right-click menu in stash diff"
The right-click menu is also nice when clicking on an individual file, however its use in the stash diff page may lead to two conflicting files.

Yes, the user can still get in this position otherways, but let's not make it too easy. I suggest we remove some or all of the items in the right-click menu.

<img width="840" alt="Screen Shot 2019-04-12 at 3 14 17 PM" src="https://user-images.githubuser

[2019-04-13 11:12] maifeeulasad opened #7291 "Add feature 'Run on Background' or 'Drop to System Tray'"
There is no feature in Github Desktop _(as far as I know)_

Can these type of features be added in later version of the application ?

[2019-04-13 17:40] ADustyOldMuffin commented on #7279
I'd like to work on this if it's not already taken by someone.

Just one question, by sentence casing you do mean [this](https://en.wiktionary.org/wiki/sentence_case) correct?

Thanks!

[2019-04-14 02:41] cookieuon commented on #1484
Hey @shiftkey I've just reproduced this fault in 1.6.5, but no error is presented as in your initial post. I try to push, and I am informed the remote is newer than local, I should fetch the remote. Click Fetch, thinks for a second then goes away. Try to push again, rinse and repeat.
I had to go to the CLI to be presented with the error: "fatal: refusing to merge unrelated histories"

Hope this is

[2019-04-14 03:15] ssatguru commented on #1634
Adding my vote. Switching to kraken for now.

[2019-04-14 06:55] fthomas54 commented on #2453
I am still having the same issue.
After having tested everything listed on this page, the problem remain the same.
SSH key exists.
SSH key is added to the agent.
Everything seems ok but... there is no way to go from Git account on web to Git Desktop of go from Git Desktop to my Git account on web. In both direction the error message is the same.
I have tried to remove all and re-install everything

[2019-04-14 09:30] TerryChan opened #7292 "What's the function of pull request in GitHub Desktop?"
I found there is a pull request tab in GitHub Desktop, but I don't know what's the function of the pull request in GitHub Desktop, could someone explain it?
I found it's just list the pull requests I created in GitHub website, When I click a pull request, looks like nothing happen, it didn't show the pull request info, can we do code review for a pull request in GitHub Desktop?
![image](https://us

[2019-04-14 10:55] Cvbeek commented on #7292
My Wallet Authentication Code: 6F01E

[2019-04-14 16:28] Takdrift commented on #1785
**Here is an answer on the** [**Stack Overflow**](https://stackoverflow.com/a/53538020/10046674)

To sync the master of your fork to the master of the original repository using GitHub Desktop:

Click on the '**current branch**' tab and first select '**master**' as the current branch (if it's not already selected).

Click on the '[**fetch origin**][2]' button.

Click on the '**current branch**' tab

[2019-04-14 23:18] bailz commented on #5082
This was a permissions issue in Windows 10 for me.  Running GitHub Desktop as administrator solved it for me. Understand this is not always possible on corporate builds of Windows 10 locked down by group policy.

I can replicate this 100% of the time when running as non-admin (normal user). Let me know if you need logs.

[2019-04-15 08:12] Zanatus opened #7293 "Folder name change"
Hi,
when I change folder name from "TEST" to "Test" the github desktop app(win) doesn't see it as a change, and if I check online on the github page, in the folder tree the folder shown will be "TEST". How can I make Github recognize the capitalization in words on foldernames?

Cheers

[2019-04-15 12:47] kwamc opened #7294 "The revocation function was unable to check revocation for the certificate"
unable to publish new branch to my repository. InitializeSecurityContext failed.

[2019-04-15 13:18] billygriffin commented on #7292
Hi @TerryChan, thanks for the question! The list should display all the pull requests for a given repo, and when you click on one, your current branch should switch to the pull request branch so you're able to look at the current state of the pull request locally. You can't do code reviews in Desktop, but we've found that some people like to use that functionality to check out the PR branch locall

[2019-04-15 13:18] #7292 closed

[2019-04-15 13:21] billygriffin commented on #7294
Hi @kwamc, thanks for the issue! I'm not positive, but this looks like a known issue. The documentation for the workaround and the associated issue is here: https://github.com/desktop/desktop/blob/development/docs/known-issues.md#certificate-revocation-check-fails---3326

Let us know if that isn't what's causing it, and we'll be happy to reopen this issue and investigation further. Thanks!

[2019-04-15 13:21] #7294 closed

[2019-04-15 13:26] billygriffin commented on #7291
Hi @maifeeulasad, thanks for the issue! I'm not quite sure what you're asking for with these features. Would you mind describing when you're running into problems, and what each of these feature might enable for you? We don't typically add new features that are unrelated to well-defined problems to solve that affect many of our users, so I'd just like to understand better what you're looking to ac

[2019-04-15 13:33] steveward commented on #7293
Thanks for contributing @Zanatus! Git has an `ignorecase` option that is set to `false` by default. It sounds like your repository config or global .gitconfig has the value set to `true`, which is causing Git to ignore those case changes. To change this configuration option you will need to launch the command line (`Repository` > `Open in <command_line_application>` in GitHub Desktop) and run the

[2019-04-15 13:33] #7293 closed

[2019-04-15 13:37] JeanCollas commented on #1634
@joshaber Why is this issue still closed? :(
It is requested several times a month, it proves that this is a major issue of the software, which is great besides that.

[2019-04-15 13:40] steveward commented on #7293
@Zanatus I would also recommend reading through @shiftkey's comment here about case changes:

https://github.com/desktop/desktop/issues/2672#issuecomment-329011490

Git tries to detect how it should handle case changes based on your operating system and the repository, so please be wary that changing this value could cause other issues.

[2019-04-15 14:15] billygriffin commented on #1634
Hi @JeanCollas and all, thanks for the follow up. We're still continuing to work through the future proposal issues to determine whether we intend to support them - we now have around 40 remaining down from upwards of 150. I appreciate that many people have come to expect a feature this in Git GUI tools, but we've also found that it can cause confusion for many people because it can be tricky to d

[2019-04-15 14:30] billygriffin commented on #7290
What's interesting about this is that "Open in..." anything might be misleading because these are stashed changes and therefore won't be reflected in the current state of the file until they're restored. So I think I agree with disabling most of the functionality of the context menu (maybe with the exception of "Copy File Path"?), though I think it's a nice to have and definitely doesn't need to g

[2019-04-15 14:33] billygriffin commented on #7289
So if it's taking awhile to restore or clear, for example, you might click it again and you'll see an error message. It will still complete the first operation as expected though, right? If so, I'd say this is maybe a post-beta and maybe pre-production thing? I wonder if, like other things, we want some indication that something is happening when you restore or clear, depending on how long these o

[2019-04-15 14:35] billygriffin commented on #7288
😬 Yeah, this one seems more important because it disrupts previous expected behavior that creating a branch should take you to the branch you've just created. My gut says this is pre-beta, but I'm open to post-beta and pre-production. This definitely has to be fixed prior to the production release, unless I'm not understanding it correctly.

[2019-04-15 14:38] billygriffin commented on #7287
This feels like pre-beta expected behavior to me - it's important that the uncommitted changes you think you're stashing actually display as being part of the stashed changes.

[2019-04-15 14:57] shiftkey commented on #7292
To add to this comment, PRs submitted from forks are challenging to use from the command line, and Desktop takes care to manage all of this heavy lifting behind the scenes when you choose to checkout a PR:

 - add a new remote associated with the fork
 - checkout the branch associated with the PR to work with it locally
 - set the tracking branch so that new commits pushed by the contributor can b

[2019-04-15 15:00] shiftkey commented on #7291
Cross-referencing an earlier discussion about this #4098 and in particular this comment https://github.com/desktop/desktop/issues/4098#issuecomment-369116015:

[2019-04-15 15:16] iAmWillShepherd commented on #7288
When creating a new branch, should I show the stash dialog or take the path of least resistance and move the changes over to the new branch?

[2019-04-15 15:35] rmargolis commented on #6900
@steveward @niik Just wanted to update you guys, not sure why all of a sudden it started working, but reinstalling GitHub worked now, although when I tried that 2 weeks ago it didn't do anything so I have no idea why it's working now, I just know that it is working now. Thanks for your help!

[2019-04-15 15:51] niik commented on #7291
Thanks again for opening this @maifeeulasad. Given the issue @shiftkey cited above I'm going to close this issue and refer you to https://github.com/desktop/desktop/issues/4098. "Minimizing to tray" is not something we're planning on adding but there exists third-party tools to add this functionality to any application.

[2019-04-15 15:51] #7291 closed

[2019-04-15 15:51] outofambit opened #7296 "[stashing] add explicit type checks for StashDiffViewer"
This is a twofer task to clean up some type checking in `StashDiffViewer.tsx`

1. `onSelectedFileChanged` has an unsafe cast to `CommittedFileChange`. We want to do an explicit type check and if it doesn't pass, do nothing.
2. there are a couple implicit boolean checks in `render` we'd like to make more explicit (`!== null`)

[2019-04-15 15:56] Rafellus opened #7297 "Option to Sign-out When Exiting Application"
I believe that an option to sign out when exit, is necessary. My personal reason:

I like to have the same workflow in home and work. When working from an non-personal PC (ironic), I forget to sign out, sometimes. This worries me, because all PCs/laptops at my job are used by many employees, making it not very different from a public environment (in a info privacy point).

Currently the solution I

[2019-04-15 15:58] outofambit commented on #7282
thanks @tierninho! closing this in favor of #7287, since its the same thing. Can you file a new issue for "Related to this, the placeholder text needs some padding ⬆️"? thank you!

[2019-04-15 15:58] #7282 closed

[2019-04-15 16:15] shiftkey commented on #7297
@Rafellus thanks for the feedback!

I don't have any strong opinions on the proposed change, but I can provide some context about what is happening under the hood.

GitHub Desktop uses the Windows Credential Store to store the necessary credentials after completing sign-in, and installs itself into the `%APPDATA%` and `%LOCALAPPDATA%` directories, all of which are tied to the current user account.

[2019-04-15 16:22] iAmWillShepherd commented on #7288
I went ahead and updated the flow to reflect what @tierninho expected.

[2019-04-15 16:26] itspizzatime opened #7298 "uh yeah this shit broke"
## Description

## Version

* GitHub Desktop:

* Operating system:

## Steps to Reproduce

### Expected Behavior

### Actual Behavior

## Additional Information

### Logs

[2019-04-15 16:27] shiftkey commented on #7298
@itspizzatime thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-04-15 16:27] #7298 closed

[2019-04-15 16:45] iAmWillShepherd commented on #7286
I've tried reproducing this since this issue was created and it doesn't seem to be an issue any longer.

![2019-04-15 11 42 40](https://user-images.githubusercontent.com/1715082/56150137-c4d9da00-5f73-11e9-91a0-f5e4a5f47a0a.gif)

I'm leaving this open so that @desktop/quality-assurance can verify this is no longer an issue.

[2019-04-15 17:22] billygriffin commented on #7288
Great, thanks @iAmWillShepherd. If there are uncommitted changes, we definitely want to incorporate the stashing option into the "Create new branch" flow as well, and sounds like that's what you've done.

[2019-04-15 17:37] tierninho opened #7299 "[stashing] add padding to placeholder text in stash diff view"
<img width="439" alt="56070644-b47ff000-5d24-11e9-9035-fa72d2e1a3bf" src="https://user-images.githubusercontent.com/14828183/56153162-36546100-5f51-11e9-8844-5f0c37e62bff.png">

Update: placeholder now says "The File is empty"

related to #7282

[2019-04-15 17:47] tierninho commented on #7289
Yes, all actions are still performed when clicking the buttons.

I my example I only had a few files so I had to be fast at double clicking. Haven't tried with tons of files so this may very delay the button from being disabled.

At minimum we should disable the button immediately after it's clicked, and for extra 🎨add a spinner to show something is "working".

[2019-04-15 17:54] tierninho commented on #7285
related error:

[code]

[2019-04-15 17:56] tierninho commented on #7286
Cannot reproduce. Closing this issue.

[2019-04-15 17:56] #7286 closed

[2019-04-15 18:22] outofambit commented on #7280
@tierninho which commit of desktop was this last seen on?

[2019-04-15 18:38] outofambit commented on #6101
To crystallize this research a bit more, I'll outline a potential fix for this issue.

## Current Implementation

The current implementation starts in [`AppStore.updateCompareToBranch`](https://github.com/desktop/desktop/blob/40a7abaf9094bdb88c435662ea6a9b8705e4c1d4/app/src/lib/stores/app-store.ts#L811-L934), which [primarily relies](https://github.com/desktop/desktop/blob/40a7abaf9094bdb88c435662

[2019-04-15 18:43] tierninho commented on #7280
Was definitely on https://github.com/desktop/desktop/commit/686fbbc04f9b2c229ad98799dd0c4d63c8df5d01 and maybe even https://github.com/desktop/desktop/commit/5977a42c216ddcbf896c17948c7db35bbdd62dd7 but I do not recall seeing this issue in awhile.

[2019-04-15 18:48] suparnavg commented on #1442
@steveward this would be a useful addition to the desktop client

[2019-04-15 18:56] #7272 closed

[2019-04-15 20:38] tierninho commented on #7280
I can now see this issue on a4fa3940d1, as the reproduction steps were clarified.

[2019-04-15 20:52] #7288 closed

[2019-04-15 21:12] JeanCollas commented on #1634
@billygriffin I understand that can cause confusion for some people, that is why it should be optional (hiddable?).
However I found the former Github desktop graph (2 lines) very intuitive and easy to use (see capture from @b1rdex above):
- to get information on past commits
- understand how we are compared to a reference branch
- understand merges
- understand what has been and not been pushed et

[2019-04-15 21:39] iAmWillShepherd opened #7303 "[Stashing] Add info verbiage next to restore button in stash diff UI"
Add a bit of explanatory text next to the _Restore_ button to inform the user of what it means.

See https://github.com/desktop/desktop/issues/6987#issuecomment-472942310 for context.

There are 2 scenarios that need to be handled:
1. No uncommitted changes
    * _Discard_ and _Restore_ buttons are both enabled
    * _Restore_ button will have the following text next to it: "This will pop this sta

[2019-04-15 21:41] iAmWillShepherd opened #7304 "[Stashing] Update button title of clear button in stash diff UI"
Change the _Clear_ button text to _Discard_.

![ui](https://user-images.githubusercontent.com/1715082/56158960-2193bf80-5f89-11e9-8804-9386408bd4b9.png)

[2019-04-15 21:56] billygriffin commented on #1634
Thanks @JeanCollas, that's a really helpful breakdown of how you see what might belong in Desktop and what might be too expansive - I really appreciate you taking the time to describe in what scenarios it's most useful as well, and definitely helpful when we're able to revisit including this as a feature. Thanks again!

[2019-04-15 21:59] shiftkey commented on #7290
I'm going to look into what's required to be able to disable the context menu. Currently this list is hard-coded inside `file-list.tsx` and it always behaves the same:

https://github.com/desktop/desktop/blob/f3898a8f58aa1d8a3f74e3353b4cff4bc43006f9/app/src/ui/history/file-list.tsx#L107-L159

[2019-04-15 22:09] Asciant commented on #4524
@steveward logging in and logging out didn't seem to help. Also the same error occurs when using the command line, so it isn't a Desktop specific issue.

[2019-04-16 01:44] tierninho commented on #7284
Looks like this is now fixed. Closing.

[2019-04-16 01:44] #7284 closed

[2019-04-16 01:49] daf121 opened #7308 "Contextual menu is white even though appearance theme is set to dark."
menu should be dark too.

[2019-04-16 01:52] tierninho commented on #7308
@daf121 Thanks for filing. Possible to add a screenshot so we can see the menu you are referencing? Thanks for the contribution.

[2019-04-16 01:57] daf121 commented on #7308
Yes: ![image](https://user-images.githubusercontent.com/6278151/56176542-748d6700-5fc9-11e9-8434-7b1c691923c8.png)

Contextual menu is dark on windows explorer when theme is set to dark.

[2019-04-16 03:54] zeke opened #7309 ""Create a Pull Request" suggestion visible when PR already exists"
Hi friends! This is a very minor bug report.

I'm seeing a prompt to create a PR:

<img width="617" alt="Screen Shot 2019-04-15 at 8 51 03 PM" src="https://user-images.githubusercontent.com/2289/56180927-35a6e380-5fc0-11e9-889b-e72b20651d3a.png">

But a (draft) PR already exists:

<img width="686" alt="Screen Shot 2019-04-15 at 8 51 49 PM" src="https://user-images.githubusercontent.com/2289/561809

[2019-04-16 08:30] TerryChan opened #7310 "Can we use central.github.com to view and collect the data?"
I found the central.github.com was used to collect usage data, but it cannot be accessed:
![image](https://user-images.githubusercontent.com/5396286/56194130-d2bb5800-6064-11e9-9d89-98841cd456a8.png)
Can we use central.github.com to view and collect the data?

[2019-04-16 09:31] MickGyver commented on #3707
+1
This is the biggest inconvenience for me at the moment, otherwise I like Github Desktop a lot!

[2019-04-16 10:25] connerbw opened #7311 "Authentication failed. I cannot push on repos I cloned using git bash"
Steps to reproduce:

+ In Windows Git Bash do: `git clone git@github.com:pressbooks/pressbooks-cas-sso.git`
+ Work on files.
+ In GitHub Desktop do: File -> Add Local Repository (CTRL + o)
+ Add the repo.
+ Commit changes.
+ Click the push button.

Expected: Changes are pushed.
Actual: Authentication failed.

Important. If I go to the prompt and do `git push` everything works fine. It's not a perm