[2017-10-20 00:12] shiftkey commented on #3107
@HFocus that's interesting - can you switch over to the Console tab and see what that error is that it's reporting?

[2017-10-20 00:14] blowdart commented on #3096
Well at least that's reassuring in that it's not something I've done :)

[2017-10-20 00:15] HFocus commented on #3107
Not allowed to load local resource: file:///C:/Users/The%20Kong%20#2\AppData\Local\GitHubDesktop\app-1.0.4\resources\app/index.html

[2017-10-20 00:15] shiftkey commented on #3096
@blowdart I haven't ruled you out just yet

[2017-10-20 00:18] j-f1 commented on #3107
Huh. It looks like the `#` in your username is being interpreted as the start of a URL hash, and should probably be escaped.

[2017-10-20 00:22] shiftkey commented on #3036
https://github.com/desktop/desktop/issues/3078#issuecomment-337895990 also talks about using a folder with a large amount of files, which feels like the first issue you encountered. Once LFS is updated I'll close this out and address that error with the repro steps provided in #3078.

[2017-10-20 00:28] shiftkey commented on #3107
@HFocus yep, what @j-f1 said. I'm pretty sure it's [this line](https://github.com/desktop/desktop/blob/master/app/src/main-process/app-window.ts#L136) that needs to be formatted correctly:

https://github.com/desktop/desktop/blob/a6fcd1a3feb424fae03bc01d0909d75ec1a0d7e3/app/src/main-process/app-window.ts#L136

[2017-10-20 00:31] j-f1 commented on #3107
Looks like we’re missing an `encodeURIComponent`.

[2017-10-20 00:34] lseongjoo commented on #2812
Report a similar problem with Mac command line client.

git-lfs/2.3.2 (GitHub; darwin amd64; go 1.9)

[code]

I am using this GitHub repository with LFS on a branch. Merged to a different branch and tried to push it have gotten this LFS locking problem.

[2017-10-20 00:40] shiftkey commented on #3107
@j-f1 it looks like there's _some_ encoding (spaces -> `%20`)  and also the mix of `\` and `/` is worrying - this might need some more research after a hotfix.

[2017-10-20 01:19] j-f1 commented on #3107
I’m pretty sure that `\\` and `/` are equivalent in URLs. The only reason the path after the `#` uses `\\` is because it isn’t translated since it’s part of the hash.

I wonder if that’s error correction by Chrome — spaces are *never* valid in a URL, so they can always be replaced with `%20`.

[2017-10-20 01:20] shiftkey commented on #2812
@lseongjoo can you reproduce this with Git LFS 2.3.4 that was just published? I think there was a fix  for this issue https://github.com/git-lfs/git-lfs/issues/2634 that might be related to your setup.

We're not using the credential manager in Desktop, and your setup might, so it'd be nice to confirm that's not related to this issue (and already resolved).

[2017-10-20 01:27] shiftkey commented on #3107
While they might be equivalent, this suggests two different sources of resolving these paths:

 - `C:/Users/The%20Kong%20#2` - most Windows environment variables use `\\` here, which suggests it's not using those
 - `\AppData\Local\GitHubDesktop\app-1.0.4\resources\app` - now we're into the app resources, and they're encoded with a `\\`
 - `/index.html` - this is the problem line

That's what I wa

[2017-10-20 01:41] lseongjoo commented on #2812
@shiftkey Thank you!

If ```git lfs install``` after version upgrade initializes ```git config locksverify false``` that were previously set, then it resolves the problem.

[2017-10-20 01:57] j-f1 commented on #3107
`file://${encodeURIComponent(Path.join(__dirname, 'index.html'))}` should fix these issues. (for some environment where `Path` is the builtin `path` module)

[2017-10-20 02:15] shiftkey commented on #3107
We use `__dirname` in a lot of other places. I don't want to rush out a fix for this issue and then encounter a bunch of other things down the track.

[2017-10-20 02:20] flaminggenius commented on #1964
this is a pressing need when we have 300 files that need to be uploaded but we have to go through the individually

[2017-10-20 05:05] hantian8868 opened #3110 "第一次的尝试"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-10-20 06:18] #3110 closed

[2017-10-20 09:41] tierninho opened #3111 "Comparing a forked repo on GitHub open wrong repo"
If you fork a repo, then attempt to `Branch > Compare on GitHub` or `Create Pull Request` on that repo, the browser will open the original repo instead.

<img width="607" alt="screen shot 2017-10-20 at 10 34 24 am" src="https://user-images.githubusercontent.com/14828183/31814872-d13cbb56-b582-11e7-936a-277f91e33278.png">

forked repo
https://github.com/tierninho/map

original repo
https://github.c

[2017-10-20 10:36] xxjapp opened #3112 "Default avatar icons shown for all users"
### Description

Default avatar icons shown for all users. Even for who has avatar icons.

### Version

**GitHub Desktop version:** 1.0.4
**OS version:** Microsoft Windows [Version 6.1.7601]

### Steps to Reproduce

1. Click History in left panel

**Expected behavior:** User who has avatar icon should displayed his/her own icon.

**Actual behavior:** Only default icon for all users displayed.

**R

[2017-10-20 10:38] ethomson commented on #2672
👋 I'm crashing your issues since I tweeted about something similar.

This is the correct behavior.  This is because some tools do stupid things and will _accidentally_ rewrite a file with a different filename (differing in case only).  Some programs will do things like write to a lock file and then move it into place.  eg, when editing a file named `FOO.txt`, they will create `foo.txt.lock` and th

[2017-10-20 10:43] agisilaos commented on #3112
Hey @xxjapp thank you for opening this issue. Please check if you're signed in with your GitHub credentials in Github Desktop. You can check that from Github Desktop -> Preferences
![screen shot 2017-10-20 at 13 41 17](https://user-images.githubusercontent.com/10944108/31817418-890d14ce-b59c-11e7-9e27-9854dd067aba.png)

[2017-10-20 10:44] tierninho commented on #3112
This is a duplicate of https://github.com/desktop/desktop/issues/821

Please track the progress there.

[2017-10-20 11:43] #2984 closed

[2017-10-20 11:43] #3036 closed

[2017-10-20 11:44] joshaber commented on #3111
This is kinda dependent on https://github.com/desktop/desktop/issues/2364, as currently we don't know anything about a forked repository's parent.

[2017-10-20 11:46] joshaber commented on #3112
Hmm, I'm not so sure it's a duplicate of #821 yet.

@xxjapp Is this with a GitHub.com repository or a GitHub Enterprise repository?

[2017-10-20 11:58] j-f1 commented on #3111
I think the second behavior is correct — most of the time, you’re going to open a PR from the forked repo to the parent, since you don’t have access to the parent. For example, [this PR](https://github.com/desktop/desktop/pull/2372) is opened from https://github.com/j-f1/forked-desktop, and it wouldn’t have been useful for me to open it against the fork.

[2017-10-20 12:20] karlis commented on #2620
I was using the double-click action a lot.

[2017-10-20 13:10] j-f1 commented on #2620
I don’t see why this would be a problem on Windows. It would be useful, especially for quickly opening merge conflicts in Atom.

[2017-10-20 13:17] t7m commented on #1964
Somehow this is not at all important to GitHub. :(

[2017-10-20 15:19] dimitribouniol commented on #1803
I agree that being able to manually edit the name is a great idea.

[2017-10-20 15:42] flaminggenius opened #3113 "Changes detected not accurate"
There seems to be an issue with what files have changed when using desktop client with a unity project as soon as I open unity all the files need to be uploaded again and all that it says is "binary has changed" and there's a yellowish symbol next to the file

[2017-10-20 15:50] j-f1 commented on #3113
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-10-20 16:24] begoldsm commented on #3105
Oh great, thank you for these details @shiftkey! Looking at my HKLM path there is no registry entry there at all for "App Paths" on this machine (I am running on a current generation SurfacePro, if that makes a difference). I will keep digging and let you know what I find (or if there is some way I can get that path hooked up). Thanks again!

[2017-10-20 16:45] begoldsm commented on #3105
A place that I found that it is always present is in the system PATH environment variable ($env:Path or %PATH%). Not sure if you can get access to that easily though. One other thing, it looks like group policy on this machine does not allow user accounts to read into certain registry locations, which explains why you can't find it (looking at that path as the local admin I can see that the App Pa

[2017-10-20 17:11] iAmWillShepherd commented on #3113
I'm not sure if Unity is supported, but one thing that I'd recommend is making sure that you ignore all binary files in your `.gitignore` file. Please attach some logs as well as what version you are using and hopefully, we can work something out 👍

[2017-10-20 22:58] AIKKYU commented on #3113
#3113

[2017-10-20 22:58] bphilipnyc commented on #1852
Seeing this issue in GitHub Desktop 1.0.4 and Mac 10.13

[2017-10-20 22:59] AIKKYU commented on #3112
#3112

[2017-10-20 22:59] AIKKYU commented on #3112
#821

[2017-10-21 01:20] shiftkey commented on #3107
@HFocus could you open a PowerShell prompt and run this command?

[code]

I have a theory that the root of this issue is in [this part](https://github.com/electron/electron/blob/77d4927e8bcbb7a80febf2d3424e3129f50ceb9e/lib/renderer/init.js#L111-L130) of Electron's setup, but it requires fiddling with the initialisation of Electron and I want to ensure my environment matches yours.

[2017-10-21 10:09] Zerokk opened #3116 "Github Desktop not logging in"
### Description

When I try logging in the app with my user and password, I can only see the "Sign in into Github.com" message. Nothing else appears; it's as if the login request can't complete.

### Version

Latest. Installed it yesterday.

**OS version:** Windows 10.

### Steps to Reproduce

1. Open the app
2. Put my login credentials
3. Click on "sign in"
4. ... nothing happens.

Anybody else h

[2017-10-21 10:18] shiftkey commented on #3116
@Zerokk thanks for the report! This feels similar to #2769 but with some slightly different steps.

Could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

[2017-10-21 10:31] Zerokk commented on #3116
@shiftkey Where can I find the log files? I can't see the "help" button/tab anywhere in the app. I've been looking in my files for the log file but could not find them.

[2017-10-21 10:33] shiftkey commented on #3116
@Zerokk the Help menu is part of the top menu, or you can just go to `%APPDATA%\GitHub Desktop\logs` on disk.

[2017-10-21 10:37] Zerokk commented on #3116
@shiftkey Thank you! There you have the logs:

[2017-10-21 10:51] jellyfeelings commented on #2295
oh thank god. new version is slow, missing major features like "discard selected changes", was basically in no way an improvement (maybe in the long term?)  So hard to find the v223 and so grateful it was linked here

[2017-10-21 19:44] gmvi commented on #2769
Just installed the desktop client and ran into this bug. I've tried logging in by entering credentials into the app, and by authenticating through a browser. Both attempts failed. BTW I'm logging into github.com, not enterprise. Here's my logfile:
[code]
Right after this, I tried logging in via a browser again, and it went through! Yeah, this smells like a race condition.

[2017-10-21 23:50] gtkpr commented on #2847
i'm experiencing the exact same issue. i'm brand new to github, hoping to participate in hacktoberfest, but for whatever reason using github is more complicated than coding itself :/

[2017-10-22 00:18] AhmadIbrahiim opened #3118 "go freezing in windows 10"
it freezes every time i open it with no availability to interact with any button or the menu section
![image](https://user-images.githubusercontent.com/17949497/31856912-192bdaf8-b6cf-11e7-858b-bd90a48fd289.png)

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second st

[2017-10-22 01:01] rsodre commented on #1803
This lack of submodule parenting also bothers me a lot, and in my mind it's really easy to solve the UI part of it with a **tree view**.

**Perfect solution**: Any repositories that have submodules should contain a "+" or "►" on the side to unfold and reveal the submodules. They can all be greyed out, and if you check out any of them, it is linked to the github repository, like opening a local rep

[2017-10-22 03:09] shiftkey opened #3119 "reset test fails when account name contains a #"
Repro:

 - Create a Windows account with a # in the name
 - Clone down the `desktop/desktop` repository
 - `yarn test:unit`

This error seems to be related to Git for Window's experimental support for [`reset --stdin`](https://github.com/desktop/desktop/blob/master/app/src/lib/git/reset.ts#L79-L90) with this specific account - I need to put together a patch for that and get it reviewed upstream.

[2017-10-22 03:36] JeffCohen commented on #3080
If it works, I say ship it :-)

[2017-10-22 08:15] Carolfnn opened #3120 "text"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-10-22 10:12] j-f1 commented on #3120
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-10-22 17:16] joe704la commented on #2311
I run into this all the time as well.

[2017-10-22 18:44] empgithub opened #3123 "Open in Atom not working in Github Desktop"
### Description

I have just installed Atom 1.21.1 (x64), and then Github Desktop (1.0.4) on a Win 10 Pro machine. In the desktop client I cloned a repository form Gitlab, and up to this point, everything seemed to work fine. Up to the point I wanted to open the repository in Atom. I tried the menu, right clicking, etc., and it simply does nothing. Reinstalled Atom and Github Desktop, several time

[2017-10-22 20:19] strafe commented on #2579
Does this work with Pageant/Plink?

With my current configuration I can use Git Bash directly to pull and push changes to a private gitlab repository, whereas with GitHub Desktop even after setting my Shell to Git Bash I can not perform those operations on the same repository.
`Authentication failed. You may not have permission to access the repository. Open options and verify that you're signed i

[2017-10-22 21:23] shiftkey commented on #3123
@empgithub can you open a PowerShell prompt, run these commands and attach the output:

[code]

I suspect something is off with the installation, and these are the things that Desktop will check to ensure it can find your Atom installation.

[2017-10-23 01:59] INNO-MARINE opened #3124 "NEW"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-10-23 02:00] j-f1 commented on #3124
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-10-23 02:01] HFocus commented on #3107
![image](https://user-images.githubusercontent.com/31972815/31869220-c86fe6be-b763-11e7-9942-19c8a290eb85.png)

[2017-10-23 03:51] Jenna3715 opened #3125 "Failure to login"
### Description

It fails to log me in.

### Version

**GitHub Desktop version:** v1.0.4

**OS version:** Microsoft Windows [Version 10.0.15063]

### Steps to Reproduce

1. Open "Options" (File > Options...) (CTRL+,)
2. Under the "Accounts" tab, in the "GitHub.com" section, click on "Sign in"
3. Enter login info and click "Sign in"
4. Error box pops up saying "Failed to fetch"
5. Note: Signing in

[2017-10-23 04:30] shiftkey commented on #3125
@Jenna3715 thanks for the information. This appears to be a network issue.

After the browser signin flow completes, we try and use the received token to fetch your account information - that seems to fail:

[code]

A clone also fails:

[code]

Are you behind a proxy server of some sort?

[2017-10-23 04:31] shiftkey commented on #3107
@HFocus thanks for the details. I think #3109 will fix this, and I won't hold up that PR understanding why the `%USERPROFILE%` path is formatted differently for your machine - we handle this already in that PR.

[2017-10-23 09:16] #3120 closed

[2017-10-23 09:16] #3124 closed

[2017-10-23 09:17] shiftkey commented on #3105
@begoldsm does that mean this issue is sorted?

[2017-10-23 11:28] joshaber commented on #1852
@bphilipnyc Could you open a new issue and fill out the issue template please? Thanks!

[2017-10-23 11:30] joshaber commented on #2847
@gtkpr Could you create a new issue and fill out the issue template please? Thanks!

[2017-10-23 11:49] joshaber commented on #3118
Hi @AhmadIbrahiim! Could you please grab the logs from `%APPDATA%\GitHub Desktop\logs\*.desktop.production.log` and upload them here for us to look at? Thanks!

[2017-10-23 13:30] navodian commented on #1214
My 32-bit system stopping me to install GitHub desktop. Is there any chance if we are getting 32-bit version in future?

[2017-10-23 13:55] joshaber commented on #1214
@navodian Chances are pretty low, unfortunately. 32-bit is an increasingly small segment of users.

[2017-10-23 14:04] #2596 closed

[2017-10-23 14:25] FrankOssie opened #3126 ""Update from default branch" provides no feedback when there are no updates"
"Update from default branch" disabled when there are no updates, or add a notification when using it and there no updates found

[2017-10-23 14:42] joshaber commented on #3116
Thanks @Zerokk! That does indeed look like a duplicate of #2769, so I'm gonna close this. Feel free to follow along over there!

[2017-10-23 14:42] #3116 closed

[2017-10-23 15:11] joshaber commented on #2851
Thank you for your issue!

We haven't gotten a response to our questions above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2017-10-23 15:11] #2851 closed

[2017-10-23 15:32] tierninho opened #3128 "Update the delete branch error message for Protected branches"
Attempting to delete a protected branch is blocked as expected. Perhaps we could make the error message a little more readable?

<img width="531" alt="screen shot 2017-10-23 at 5 30 52 pm" src="https://user-images.githubusercontent.com/14828183/31897897-fb5c6192-b817-11e7-89a3-157e22627e10.png">

v1.0.5beta0, mac

[2017-10-23 15:32] joshaber commented on #2072
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I'm going to add the `future-proposal` label to this issue and close it out, so that we don't get overwhelmed with our backlog! We'll revisit these as part of our next planning session.

[2017-10-23 15:32] #2072 closed

[2017-10-23 15:45] joshaber commented on #3031
There have been no open revolts and we've talked about this in 1:1s. Forward!

[2017-10-23 15:45] #3031 closed

[2017-10-23 15:46] joshaber commented on #2774
I'm gonna leave this as a stretch goal for 1.1. Feel free to speak up if you don't agree!

[2017-10-23 16:03] joshaber opened #3129 "[Tracking Issue] 1.1 Launch checklist - Pull Requests"
Target Date/Time: **Monday Feb 26 @ 1pm PST**

-- OPEN MILESTONE + POPULATE ISSUES --

- [x] **[HD]** Create help docs issue (@joshaber) - https://github.com/github/help-docs/issues/6086
- [x] **[BP]** Create blog post PR (@shiftkey) - https://github.com/github/blog-posts/pull/1260
- [x] **[GHD-MS]** Create marketing site issue (@joshaber) -  https://github.com/github/desktop.github.com/issues/80

[2017-10-23 16:07] begoldsm commented on #3105
Not quite, since for some reason the UI still does not see that powershell is installed. Is there some log that I can look at to see what kind of "failure" it gets when attempting to read that registry location?

[2017-10-23 16:08] bphilipnyc commented on #1852
after installing Git LFS, this seems to resolve itself.  Removing the hooks did not have any impact for me.

[2017-10-23 17:39] joshaber commented on #1686
We introduced some limits in #3032 which should prevent freezes in the future.

[2017-10-23 17:39] #1686 closed

[2017-10-23 19:02] benrondeau commented on #1686
@joshaber FYI - the new limits set in #3032 seem far too high. I have 1mb minified files which brick the app for 10-20 seconds, and that is ~66% below the limit set that was set. I am on a computer with decent specs and 16gb RAM, and it still takes that long.

May I recommend bringing the file size limits way down (1mb) and not rendering minifed files at all (since they have almost now value)? Or

[2017-10-23 19:07] j-f1 commented on #1686
Although one of the limits is that the diff can’t be over 3MB, the other new limit is:

This should resolve your concerns about minified files.

[2017-10-23 19:38] joshaber commented on #1686
Yup, as @j-f1 noted I _hope_ the other heuristic will catch minified files. But they are pretty arbitrary, so if it doesn't, let us know and we'll adjust them!

[2017-10-23 21:23] benrondeau commented on #1686
Thanks!

[2017-10-23 21:37] iAmWillShepherd opened #3134 "Show PR Status Description"
Each PR status has a description which can be pretty useful; we should expose this info in the UI

[2017-10-23 22:22] shiftkey commented on #3105
@begoldsm not really, all the magic is in that snippet I linked to above

[2017-10-24 00:04] empgithub commented on #3123
@shiftkey: I checked these before posting the original message, and at least to my understanding, they seem OK and the "open in atom" command in the GitHub Desktop should work. Anyway, here are the outputs for the requested commands:

1. > Get-Item HKCU:\Software\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\atom

PS C:\Users\Mihnea Popescu> Get-Item HKCU:\Software\\Microsoft\\Windows\\CurrentVe

[2017-10-24 00:37] bertil291utn opened #3137 "Error when i try to push origin"
**watch E:\WINDOWS\TEMP\GitHubDesktop-lfs-progress-AZB13v\GitHubDesktop-lfs-progress EPERM**

it Just happen when i try to push origin or fetch, but at the end the fetch or push it works, but with this issue

[2017-10-24 00:39] bertil291utn opened #3138 "Issue Pushing/Fetching"
@defunkt @technoweenie @Caged @mtodd @jnunemaker
**watch E:\WINDOWS\TEMP\GitHubDesktop-lfs-progress-AZB13v\GitHubDesktop-lfs-progress EPERM**

it Just happen when i try to push origin or fetch, but at the end the fetch or push it works, but with this issue

[2017-10-24 00:46] #3138 closed

[2017-10-24 00:49] shiftkey commented on #3137
@bertil291utn I believe this is similar to the earlier report #3046 - could you open a ̦PowerShell prompt and run this command:

[code]

I'm pretty sure Node is using `%TEMP%` when it creates this file, and on one of my test machines it looks like this:

[code]

We're using #3046 to track the error handling, and as a workaround you should update `%TEMP%` to a path that is writable by the current u

[2017-10-24 00:55] shiftkey commented on #3128
@tierninho can you log this (and other sorts of `GH***` errors we can handle better) against https://github.com/desktop/dugite and attach the raw error message from the log?

The fix for each of these is rather straightforward (adding some tests [here](https://github.com/desktop/dugite/blob/d1c05d7bed405a5a55d2b44e3314f1dbc90d1cf7/test/fast/git-process-test.ts#L172-L191) and making them pass) and

[2017-10-24 01:06] shiftkey commented on #3128
@tierninho regarding the original discussion about renaming the branch -  we'd need to use the API to find which branches are protected, cache those somewhere, and refresh it periodically we do with other API data such as PRs and issues. If we wanted to go down that path we'd need to sketch it out properly and put it on the roadmap.

[2017-10-24 02:15] gtkpr commented on #2847
@joshaber i'm not even going to bother. already uninstalled it. i'll just do my stuff via browser.

[2017-10-24 04:35] xxjapp commented on #3112
@joshaber

This is not a GitHub.com repository or a GitHub Enterprise repository.

[2017-10-24 05:40] shiftkey commented on #3074
@domehead100 I've just opened #3140 which documents our shell integration better.

Regarding the issue with running precommit hooks: I'm going to need an isolated reproduction to dig further into it. A good example of this is #3067.

[2017-10-24 07:57] gemal opened #3141 "add right click options to files in history"
when I click the history tab it would be nice if I could right click on a changed file and select "open in default editor"

[2017-10-24 08:10] tierninho commented on #3128
@shiftkey No problem. Will logs the errors in dugite.

As for the renaming, I removed the discussion from this issue for now, as I couldn't reproduce it. Regardless if a you are on a protected branch or not, renaming a branch on Desktop does not reflect on dotcom... (as expected?!?). Let me know if you think its a roadmap item and I'll flush out the details in a new issue.

Will close this issue f

[2017-10-24 08:10] #3128 closed

[2017-10-24 09:12] azharhamrat opened #3143 "Installation Error (SquirrelSetup.log)"
I am using Windows 7 32-bit, always error on installation (i am using GitHubDesktopSetup.exe)
, please help, thanks
- Error log attached
[SquirrelSetup.log](https://github.com/desktop/desktop/files/1410202/SquirrelSetup.log)

[2017-10-24 09:38] heshamelmasry77 commented on #1853
where is the tree :S :S the new desktop is shit honestly

[2017-10-24 09:54] shiftkey commented on #3143
@azharhamrat we don't support 32-bit versions of Windows - see #1214 for the related discussion

[2017-10-24 09:54] #3143 closed

[2017-10-24 11:41] JonSaffron commented on #1585
Anyone using a basic or classic desktop theme within windows will experience this problem. I agree with the comment above, it's well worth just adding a very thin border in all cases.

[2017-10-24 12:00] joshaber commented on #3112
Ah, ok. In that case it was probably because the previous versions of the app also loaded avatars from Gravatar. The new versions only log avatars from GitHub.

[2017-10-24 12:00] #3112 closed

[2017-10-24 12:02] joshaber commented on #3134
I'd consider this a stretch goal for 1.1.

[2017-10-24 12:07] joshaber commented on #3141
Thanks @gemal! We're already tracking this in https://github.com/desktop/desktop/issues/2845. Feel free to follow along over there!

[2017-10-24 12:07] #3141 closed

[2017-10-24 12:21] yeliuqiang commented on #3141
What kind of occupation do you have

[2017-10-24 12:22] yeliuqiang commented on #3141
can I be a member of you

[2017-10-24 14:31] technoweenie commented on #2812
`git lfs install` does not modify your `lfs.locksverify` config.

[2017-10-24 14:54] greystate commented on #2956
This is so misleading - I get this every time I click the Desktop button on github.com (yes, because I've already contributed to that repo before, so it exists on my machine). I always switch to the old app and open it from there... :)

With regards to how I'd like it to work: How about a less "alert"-y color and have the primary action be "Open"?

(mockup)

![mockup-github-desktop-clone-already](

[2017-10-24 16:17] begoldsm commented on #3105
@shiftkey awesome! I will give that a shot right now and report back with my findings. Thank you!

[2017-10-24 16:22] say25 opened #3147 "Fetching/Pulling Wiki Repos in Desktop Struggles"
### Description
Fetching/Pulling Wiki Repos in Desktop Struggles
### Version
**GitHub Desktop version:** 1.0.4
**OS version:** Windows 10

### Steps to Reproduce

1. Clone a wiki repo.
2. Make changes somewhere else.
3. Try to pull new changes in Desktop.

**Expected behavior:** It pulls the repo.

**Actual behavior:** Nothing

**Reproduces how often:** Seem very frequent.

### Logs
[2017-10-24.de

[2017-10-24 16:27] begoldsm commented on #3105
The verbose output isn't giving me any information as I navigate through the UI. I am searching for the two potential errors that I see in the readRegistryKeySafe() funciton and no errors are happening when I click the drop down for the shell in advanced, nor is this error showing up on initial load:
https://github.com/desktop/desktop/blob/a6fcd1a3feb424fae03bc01d0909d75ec1a0d7e3/app/src/lib/regis

[2017-10-24 16:50] joshaber commented on #3147
Thanks @say25! We're tracking bugs around wikis in https://github.com/desktop/desktop/issues/2061 so I'm gonna close this. Feel free to follow along over there!

[2017-10-24 16:50] #3147 closed

[2017-10-24 18:13] michael-coffey opened #3148 "Visual Studio not listed as external editor"
### Description

Visual Studio is not listed as external editor.  I have VS Pro 2017 (15.4.1) and it does not show in options as an External Editor.

### Version

**GitHub Desktop version:** 1.0.4

**OS version:** Microsoft Windows [Version 10.0.14393]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:*

[2017-10-24 19:40] joshaber opened #3149 "RAM increases over time"
From @cheshire137:

![activity_monitor__all_processes_](https://user-images.githubusercontent.com/13760/31964315-9b7b1cc2-b8d1-11e7-8ab1-69386dbe1c67.png)

😱

I wouldn't be terribly surprised if we're keeping some caches or git stores around.

[2017-10-24 21:03] dscho commented on #3096
So I got a chance to play on a machine with a similar issue, and this recipe seemed to work for me (run it in a CMD window, as administrator if necessary):

[code]

The 0x61000000 address was chosen by Cygwin, I have not had any luck finding any rational explanation how it was picked. If that address does not work for you, you may want to use different ones (if you run BitDefender, for example, th

[2017-10-24 21:32] ziggy42 opened #3150 "Linux naming"
### Description

In many places there's the assumption that if the OS is not macOS, then it's Windows.
An example can be found at [app/src/lib/editors/lookup.ts](https://github.com/desktop/desktop/blob/master/app/src/lib/editors/lookup.ts):
[code]
I think an assumption like this one it's okay, because I'm not aware of a cross-de conventions about which name to use for settings :grin:.

But in othe

[2017-10-24 21:43] ziggy42 opened #3151 "Hide menu bar in Linux"
### Description

The ability to hide the menu bar (as you can do in other apps, like Visual Studio Code) would be great.
GTK3 apps don't use menu bars, so in GNOME the look could be better:
![screenshot from 2017-10-24 23-40-14](https://user-images.githubusercontent.com/4258550/31969389-b6d6f3b8-b914-11e7-996a-b43cbbb210bb.png)

### Version

**GitHub Desktop version:** [version here]

**OS version

[2017-10-24 21:51] j-f1 commented on #3151
GitHub Desktop creates its own menubar on Windows. I wonder if we should do the same on Linux.

[2017-10-24 22:19] greystate commented on #2456
The classic app has `shift`+`cmd`+`T` for selecting all (or none) of the checkboxes at once.

[2017-10-24 22:47] shiftkey commented on #3151
I guess we're not clear on what fits with the platform.

For reference, on Windows we run it in [frameless mode](https://electron.atom.io/docs/api/frameless-window/) (hiding the window frame and the default menu):

https://github.com/desktop/desktop/blob/d4893c7a4979cdda3beabfd380667b6b43191b78/app/src/main-process/app-window.ts#L57-L59

Then we render a menu written in HTML/JS/CSS - this also dra

[2017-10-24 22:52] shiftkey commented on #2487
Hey all, we've made some progress here with supporting external editors in #3038. You can also see the latest documentation about this here: [`docs/technical/editor-integration.md`](https://github.com/desktop/desktop/blob/master/docs/technical/editor-integration.md)

We'll continue to move requests for supporting different editors into this thread rather than adding them to our roadmap for a coupl

[2017-10-24 22:55] shiftkey commented on #3148
@michael-coffey thanks for the request. We've focused on opening a folder rather than using solution files, like the classic app did. I'm going to roll this up into our tracking issue #2487, but you can read more about what we support in our docs: [`docs/technical/editor-integration.md`](https://github.com/desktop/desktop/blob/master/docs/technical/editor-integration.md)

[2017-10-24 22:55] #3148 closed

[2017-10-24 22:55] shiftkey commented on #2487
A request for Visual Studio 2017: #3148

[2017-10-24 23:03] shiftkey commented on #3150
:thumbsup: for making this support three platforms.

I have some ideas for introducing this but I can't get to it for a couple of days. @ziggy42 are there other examples you can spot where the Windows value doesn't match with what you'd expect?

[2017-10-24 23:21] shiftkey commented on #3128
Yeah, that's expected. There might be some confusion as we don't support renaming branches on dotcom, and maybe we need to be more careful when the branch is tracking a remote branch, let alone a protected remote branch.

[2017-10-25 01:09] Jenna3715 commented on #3125
@shiftkey
I just checked and my computer does not appear to be behind a proxy, but the WiFi I am using is supplied by a college campus. Whether that makes a difference, I wouldn't know.

[2017-10-25 01:32] Jenna3715 commented on #3125
Flushing the caches and disabling the firewall on my computer didn't seem to help either.

[2017-10-25 01:55] theconsultant commented on #2487
Thanks to @niklasbr there's a PR in progress for BBEdit.. https://github.com/desktop/desktop/pull/2941

[2017-10-25 02:10] shiftkey commented on #3137
@bertil291utn I'm glad you were able to workaround the issue. I'll close this out and look at improving the error handling in #3046.

[2017-10-25 02:10] #3137 closed

[2017-10-25 02:32] strafe opened #3152 "Reset current branch to this commit in context menu"
I'm going to avoid using the template as this is more of feature request than a bug report, also my apologies if this is a duplicate, I couldn't find anything after searching a few keywords.

![1](https://user-images.githubusercontent.com/15663890/31977399-9b8ead4c-b934-11e7-8e8c-3320c8015a7f.png)
![2](https://user-images.githubusercontent.com/15663890/31977417-b7a6bf10-b934-11e7-8a7c-df6e3a5abb5d

[2017-10-25 02:32] shiftkey commented on #2579
@mcmonkey4eva

Was it named `github_rsa` by any chance? That might be the issue - I've got a similar report of this which was fixed by renaming it to `id_rsa`.

[2017-10-25 02:36] shiftkey commented on #3152
@strafe can you tell me a bit more about _why_ you would like to reset to an arbitrary commit? What's the workflow you're doing here?

We will happily let you undo your commits when they haven't been published to the remote (I think it's by doing a mixed reset), but we won't let you go further than that and touch commits that exist on the remote ( because force-pushing is a great way to make enemi

[2017-10-25 02:45] strafe commented on #3152
@shiftkey forgive me if I don't answer your question correctly, as I mentioned I'm very inexperienced with the whole _"flow"_ concept...

I'm mainly referring to situations where a commit I've made (usually the latest commit) has a mistake in it such as a typo and instead of correcting it in a following commit I want to do a soft reset to the previous commit, amend my mistake and commit it again.

[2017-10-25 02:53] zvinless opened #3153 "Cloning repo with lfs files results in modifications to all lfs-tracked files"
### Description
After cloning a repository with lfs-tracked files, GitHub Desktop shows that all lfs-tracked files are modified, even though the repo was freshly cloned. I _believe_ this is the same behavior as cloning an lfs repo without lfs globally installed.

### Version
**GitHub Desktop version:** 1.0.4
**OS version:** macOS High Sierra 10.13

### Steps to Reproduce

1. Click `File -> Clone R

[2017-10-25 03:19] shiftkey commented on #3152
@strafe no problem, I can tell you a bit more about the equivalent behaviour in Desktop.

Let's say I've got a branch off `master` that I've not yet published that has two commits in it.

<img width="525"  src="https://user-images.githubusercontent.com/359239/31978810-e42fff56-b98e-11e7-8660-b788a65b40b4.png">

Oops, that top commit has a typo in it.

If you switch back to the commit form, you'll

[2017-10-25 03:40] shiftkey commented on #3096
@dscho nice find - thanks for digging into it! For reference, my Fall Creator's Update VM returns this:

[code]

@blowdart would you mind checking what ☝️ returns as part of rebasing the problem assembly?

[2017-10-25 03:46] strafe commented on #3152
Ah very nice, I presumed that using Undo would revert the commit instead of doing a reset, my bad for not testing that out first. I suppose that does cover the majority of my `Reset current branch to this commit` usage.

A couple things I'm still wondering though;
1. Does that little notification stick around forever as long as the last commit is only local?
2. It's a little out of scope for this

[2017-10-25 04:08] shiftkey commented on #3152
@strafe

Yes

Not currently. The closest similar request I can find is #1652 - feel free to add your suggestion to that issue.

[2017-10-25 04:29] shiftkey commented on #3043
Closing this out because we've migrated over to `yarn` as of #2864.

Please review the [setup guide](https://github.com/desktop/desktop/blob/master/docs/contributing/setup.md) and confirm you have the right set of dependencies.

[2017-10-25 04:29] #3043 closed

[2017-10-25 05:11] shiftkey commented on #3105
@begoldsm ensure you are opening the **File** | **Options** menu item to trigger the registry interactions

[2017-10-25 05:16] shiftkey commented on #3123
@empgithub those all look like the Atom installation is correct.

There may be some debug messages in the dev tools that aren't dumped to our log files - could you try the steps again, the click the **View** | **Toggle Developer Tools** menu item, switch to the **Console** tab and set the filter to **Verbose**:

<img width="984" src="https://user-images.githubusercontent.com/359239/31917187-7d0c69

[2017-10-25 05:16] zvinless opened #3155 "Git credentials not found when checking out a remote branch with lfs-tracked files in private repo"
### Description
I get an `Error` popup stating that Git credentials were not found when checking out a remote branch with lfs-tracked files in a private repository. The issue goes away once a credential helper is configured in the global git config, i.e. after executing `git config --global credential.helper osxkeychain`

### Version
**GitHub Desktop version:** 1.0.4
**OS version:** macOS High Sie

[2017-10-25 08:46] askbow opened #3156 "Unable to sync repositories using GitHub Desktop: fatal error 0x80092012"
### Description
Hi
I was trying to use GitHub Desktop to work with my repos, but I get an error like this (when cloning from or publishing to new repos):

fatal: unable to access 'https://github.com/askbow/contact-expand.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - ������� ������ �� ������ ���������� �������� ������ ��� �����������.

### Version

**GitHub De

[2017-10-25 09:09] tierninho commented on #3153
Can reproduce.

Logs for mine here:
[code]

[2017-10-25 10:34] tierninho commented on #2638
If the Repo list is open, the user can advertently commit a file(s) if one is lying in wait and the user tabs over to the commit button (behind the repo list). Outlier use case, but still not ideal.

[2017-10-25 12:06] joshaber commented on #3153
I believe this is a known LFS bug, is that correct @technoweenie?

[2017-10-25 12:10] joshaber commented on #3153
Ah, it looks like this was fixed in https://github.com/git-lfs/git-lfs/pull/2647, which should be included in the next GitHub Desktop update.

[2017-10-25 12:14] joshaber commented on #3153
Verified this is fixed in `master` 👍

[2017-10-25 12:14] #3153 closed

[2017-10-25 12:19] joshaber commented on #3155
Thanks for opening this @zvinless! It sounds like we're not properly authenticating when switching branches. We'll dig into it.

[2017-10-25 12:22] joshaber commented on #3156
Hi @askbow!

We've had a few reports of this specific error, but it's not been made clear to me how we might be misusing the SChannel APIs, so the best advice I have for you is how to switch over to using the classic OpenSSL APIs alongside your own certificate bundle.

Open a shell to your repository and run these command:

[code]

Then test it out with a `git fetch` to ensure it is able to connec

[2017-10-25 12:24] joshaber commented on #2997
Thank you for your issue!

We haven't gotten a response to our questions above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2017-10-25 12:24] #2997 closed

[2017-10-25 13:42] Deams51 commented on #1525
@shiftkey Made a PR for Ubuntu 16.04 packages #3157

[2017-10-25 14:03] askbow commented on #3156
@joshaber
Thanks for the advice!

As I'm currently facing this issue, would taking any additional info / logs be helpful?

Before I change the settings, I mean.

[2017-10-25 14:05] joshaber commented on #3156
That is a great question and one I'll have to defer to @shiftkey on.

[2017-10-25 14:57] JMangiafesto opened #3158 "log-in prompt pop-up does not go away"
### Description

log-in requests via pop-up. Will not permanently go away when logged on, or when form is filled out.

### Version

**GitHub Desktop version:** 1.0.3 (updated to 1.04- latest, same issue)

**OS version:** 10.0.15063

'Windows 10 pro' version 1703 (according to settings)

### Steps to Reproduce

1. open GIT desktop

**Expected behavior:**
No pop-ups

**Actual behavior:**
pop-ups req

[2017-10-25 15:35] cheshire137 commented on #911
I support this! Would this allow me to type `githb` and match a repository named `github`? Or `gitp` and match a repository named `git-point`?

[2017-10-25 15:37] joshaber commented on #911
Yup, that's definitely the goal! 🤘

[2017-10-25 15:46] joshaber commented on #3158
When exactly does that dialog pop up? When you launch the app? When you push or pull?

The dialog itself isn't coming from GitHub Desktop, but from the [Git Credentials Manager for Windows](https://github.com/Microsoft/Git-Credential-Manager-for-Windows). But I wonder if there's something GitHub Desktop is doing that's causing the dialog to appear.

[2017-10-25 15:58] JMangiafesto commented on #3158
Bringing up GIT credentials manager- I would like to note that I am using Visual Studio Code as an IDE integrated with my GIT folders. I only assumed it may be a desktop issue due to the icon similarity (black octo-cat).

After further exploration it seems more strictly tied to VSC being open, rather than GIT desktop.

[2017-10-25 15:58] #3158 closed

[2017-10-25 16:43] blowdart commented on #3096
On the original

[code]

[2017-10-25 17:12] blowdart commented on #3096
Oh god, this will make @shiftkey happy. It was me. Kind of.

So Fall Edition added some protections that came from EMET, and it has one to force ASLR onto binaries that don't have it. Which is a good idea, because ASLR is a nice exploit protection. So I turn that on. And guess what started working when I turned it off again ...

[2017-10-25 17:15] sylveon commented on #3096
Ha yes I remember turning ASLR on for everything.

Thankfully we can add exceptions, however it is more a change on user side to fix the issue (and even then group policy could be forcing it on), so it might be a good idea to get the msys dll working with ASLR.

[2017-10-25 17:16] blowdart commented on #3096
Yea, I'm going to tweak exceptions, but I'd much rather it worked with ASLR properly :)

[2017-10-25 17:41] begoldsm commented on #3105
@shiftkey I think I have figured it out. It appears that the logic used to read the registry is being blocked by group policy since it attempts to open the registry location in rw mode. When I launch GitHub desktop as an admin, it is properly finding PowerShell, but when it is launched as a standard user (without admin privileges), it cannot read that key (even though the key is readable through o

[2017-10-25 17:45] ziggy42 commented on #3151
Honestly I don't think that would work well on Linux.
Just to pick GNOME as an example, by default you have only the close button in the right corner. But you can move the corner and add minimize or maximize.

Having one custom menubar that looks well on every Linux DE, or even just the most popular ones, would be very difficult.

I wouldn't mind to just show/hide the menubar like vscode and slack

[2017-10-25 17:52] ziggy42 commented on #3150
The same "Explorer" issue can be found in `Help -> Show logs in Explorer`.
Other than that I think the Windows values are just fine.

[2017-10-25 19:27] ziggy42 commented on #3151
![screenshot from 2017-10-25 21-26-51](https://user-images.githubusercontent.com/4258550/32018782-40503954-b9cb-11e7-9e2c-9ae4e0583bc3.png)

[2017-10-25 20:09] ratebeerjoet commented on #1685
Yes, it would be great to be able to select and deselect which commits should be included. A simple checkbox and an option to "[ X ] De/Select All" at the top that you can click once to select all and click again to deselect all.

[2017-10-25 20:58] sylveon commented on #3096
Huh we can only add exceptions for exe files, not dlls...

[2017-10-25 21:14] yuryleb opened #3161 "Make "Fetch origin" button drop-down"
### Description

This is just an idea of enhancement for "Fetch origin" button - make it drop down (similar to "Current repository" and "Current branch") ones with list of all registered remote repositories (produced by `git remote -v`) for the current one. And for dropped down item click do `git fetch <another remote repository>`.

Also it could be great to extend this new UI with possibility to

[2017-10-25 21:24] sylveon commented on #3096
Tried issuing the following in PowerShell, no dice even after a reboot:

![image](https://user-images.githubusercontent.com/6440374/32024108-665913d6-b9a9-11e7-9b82-27cf273bff4f.png)

[2017-10-25 21:47] dscho commented on #3096
@sylveon OMG. OMG OMG OMG. Do you have *any* idea what you are proposing there? https://cygwin.com/faq/faq.html#faq.api.fork

[2017-10-25 21:48] dscho commented on #3096
(Just to clarify: it takes *all* my self-discipline not to run away from this thread, screaming from the top of my lungs, now.)

[2017-10-25 21:56] mcmonkey4eva commented on #2579
It was yes .-.
Thanks for the info!

[2017-10-25 22:26] sylveon commented on #3096
Yikes, I wasn't aware of that, sorry.

[2017-10-25 22:35] blowdart commented on #3096
Just port git to C# and be done with it :D

[2017-10-25 22:36] shiftkey commented on #3105
That's interesting, because we're reading the registry using `reg.exe` with the `QUERY` command:

https://github.com/desktop/desktop/blob/fd971fb7b2c4bd18fcb8089b33e42b5aadd52ad2/app/static/win32/registry.bat#L8-L14

I'm not sure if there's a simpler way to do this that won't trigger this group policy, but I'm open to suggestions for alternatives.

[2017-10-25 22:53] shiftkey commented on #3096
Alright, I think we know the root cause of this issue, and as @dscho mentions making MSYS2 work with ASLR is not feasible currently due to significant technical reasons. So I'm going to close this out and refer to it later for those who happen to stumble upon this in the future.

Thanks @blowdart @sylveon and of course @dscho for helping dig into it!

[2017-10-25 22:53] #3096 closed

[2017-10-25 23:10] shiftkey commented on #3151
For reference, **Toggle Menu bar** is under the **View** menu:

<img width="552" src="https://user-images.githubusercontent.com/359239/32027569-80b677a0-ba35-11e7-8d59-6720f6894578.png">

You'll then see this message:

<img width="1049" src="https://user-images.githubusercontent.com/359239/32027589-97ccc836-ba35-11e7-82ee-1eef298f0186.png">

And it now looks like this:

<img width="1044" src="http

[2017-10-25 23:21] shiftkey commented on #3151
I'm going to mark this as `help wanted` and add some guidance here for someone who wants to dig into this:

  - we can probably see what VSCode does here, if someone wants to go digging into how they control Electron
  - [`app-window`](https://github.com/desktop/desktop/blob/master/app/src/main-process/app-window.ts) is where we set the Electron options for the window, and handle some events
  - [

[2017-10-25 23:32] sylveon commented on #3096
I found a "fix". Add an exclusion for each program that crashes with that message until it works as desired. Example for `git add -p` with perl excluded:
![image](https://user-images.githubusercontent.com/6440374/32028106-c98803a2-b9ba-11e7-99e0-c67b76918e12.png)
with sh and perl excluded:
![image](https://user-images.githubusercontent.com/6440374/32028162-05d0196c-b9bb-11e7-9d1f-fa7a0c6d2c93.png)

[2017-10-25 23:54] shiftkey commented on #3156
@askbow @joshaber I'd love to understand which programs are interfering with SChannel in this way, so I can experiment with this to understand it better - do you know which software on your machine might be to blame?

[2017-10-26 02:33] azharhamrat commented on #3143
thanks for the support

[2017-10-26 02:34] shiftkey commented on #3037
Closing this one in favour of #2537

[2017-10-26 02:34] #3037 closed

[2017-10-26 04:04] AzgadGZ opened #3165 "Unable to clone/push/pull from cmd neither github client"
Hi All,

From one day to another I received the issue mentioned below, I didn't change anything related to git neither to SSL or something, any idea what's the issue related? (Im using git over Windows 10)

Cloning into 'CommunityPolice_Android'...
fatal: unable to access 'https://github.com/AzgadGZ/CommunityPolice_Android.git/': error:14077419:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert acces

[2017-10-26 06:26] askbow commented on #3156
Looks like I found it! TL;DR: The conflict in my case is with CryptoPro CSP.

At first I tried to catch the event in sysinternals process monitor, but that gave nothing. I also tried to kill other processes in my system one-by-one to find who might be messing with this API, again no results.

Then I googled a little and found that this error code for SChannel has more than one mention on github is

[2017-10-26 06:56] askbow commented on #3156
Confirmed it by installing the crypto provider back. This breaks desktop operation as I described above.

On [their support forum](https://translate.google.com/translate?hl=en&sl=auto&tl=en&u=https%3A%2F%2Fwww.cryptopro.ru%2Fforum2%2Fdefault.aspx%3Fg%3Dposts%26m%3D66918) I found a workaround: disable validation by setting DWORD `HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Control\SecurityProviders\SCH

[2017-10-26 07:09] shiftkey commented on #3156
@askbow thanks for following up! I'll close this out given we know at least one scenario (and how to workaround it).

[2017-10-26 07:09] #3156 closed

[2017-10-26 07:25] shiftkey commented on #3165
@AzgadGZ it's not clear which version of Git or which build of Windows you are using. Without those it's not really clear where to start troubleshooting beyond Googling for the error message (seems to be related to the version of OpenSSL you are using).

[2017-10-26 11:16] joshaber commented on #3161
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I'm going to add the `future-proposal` label to this issue and close it out, so that we don't get overwhelmed with our backlog! We'll revisit these as part of our next planning session.

[2017-10-26 11:16] #3161 closed

[2017-10-26 12:43] empgithub commented on #3123
@shiftkey I know they look ok, as I said I did my due diligence before posting the issue. And funny thing, they look identical to the ones on the laptop where the open in atom command in the github desktop actually works.

Two things, most likely originating from the fact that I am not a programmer and I am actually new to this Desktop/Atom thing.
(a) Not clear to me what steps you would like me t

[2017-10-26 14:56] AzgadGZ commented on #3165
Hi @shiftkey,

Here's the info:

Git version: git version 2.14.3.windows.1
Windows build: Windows 10, version 1607, OS Build 14393.1066.

[2017-10-26 19:55] shiftkey commented on #3123
@empgithub thanks for the new log!

This is interesting, and might be a clue. I've been discussing our registry access over in #3105 and it appears some group policy rules can interfere with our registry lookup.

Related to that issue - what shells do you have available?

[2017-10-26 20:16] shiftkey commented on #3165
@AzgadGZ thanks for that extra details. There are lots of similar reports about "alert access denied" being related to being behind a proxy server - is that something you have to configure to work with Git repositories? Could something have changed recently?

[2017-10-26 22:10] AzgadGZ commented on #3165
@shiftkey nothing changed recently, i was pushing like a manic one day :P and the day after i wan't unable to do anything related to git

[2017-10-27 01:50] geowar1 opened #3168 "Branch menu, "Create Pull Request" actually does "Compare on GitHub"."
### Description

When I select the Branch menu's "Create Pull Request" item my browser opens on the "Compare changes" page (same as the Branch menu's "Compare on GitHub" item).

### Version

**GitHub Desktop version:** 1.0.5
**OS version:** Mac OS High Sierra 10.13

1. Select the Branch menu's "Create Pull Request" item

I expect to be able to post a pull request to GitHub.

Browser (Safari) web p

[2017-10-27 01:59] neakor opened #3169 "Branches are not displayed in the branches dropdown menu"
### Description

As the title says, the branches dropdown menu doesn't display anything but the current branch, a filter text box and a new button. There's no way to switch branches.

### Version

**GitHub Desktop version:** [1.0.5]

**OS version:** [macOS 10.12.6]

### Steps to Reproduce

1. Have multiple branches.
1. Tap on the branches dropdown menu.

**Expected behavior:** [Dropdown menu displ

[2017-10-27 02:47] jgranzow86 commented on #3169
This issue is present for myself as well.

**GitHub Desktop version:** [1.0.5]
**OS Version:** [macOS 10.13]

I found I am able to type the name of the branch in the filter field then hit enter and it will switch to that branch. No branches show up while typing.

[2017-10-27 02:55] kellpossible commented on #3169
I also have a similar, perhaps slightly unrelated problem, it only happens for local repositories which have not been pushed to/exist on github.

**GitHub Desktop version:** [1.0.5]
**OS Version:** [Windows 10]

[2017-10-27 02:55] liuyuno opened #3170 "no other branches are displayed"
### Description

![image](https://user-images.githubusercontent.com/28513143/32085978-c68a7bb2-bb04-11e7-959c-246654d0d284.png)

# other repository **no other branches are displayed**

### Version

**GitHub Desktop version: 1.0.5 [version here]

[2017-10-27 02:56] kellpossible commented on #3170
Possible duplicate of #3169 ?

[2017-10-27 03:40] shiftkey commented on #3169
@kellpossible @jgranzow86 @neakor is there a public repository we can use to test this on our end? This will help speed up troubleshooting.

[2017-10-27 03:41] shiftkey commented on #3170
Closing in favour of #3169

[2017-10-27 03:41] #3170 closed

[2017-10-27 04:06] shiftkey opened #3171 "show proper LFS progress"
We made a bunch of progress in https://github.com/desktop/desktop/pull/2355 to get the raw LFS progress information in the app. But it's currently just the raw progress, it'd be good to get this information flowing through to the progress side:

 - clone progress bar will fetch LFS assets after
 - checkout progress can include downloading LFS assets
 - fetch/push/pull also

[2017-10-27 04:09] davidjoanpermana opened #3172 "cant show list branch"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-10-27 04:10] shiftkey commented on #3172
I think this is a duplicate of #3169

[2017-10-27 04:10] #3172 closed

[2017-10-27 04:18] kellpossible commented on #3169
@shiftkey I can't share most of them, but one of them is:
http://git.blender.org/cycles.git

Typing part of the name of the branch and hitting enter switches to what a presume would be the first branch in the list, but the list is not shown.
![image](https://user-images.githubusercontent.com/4527338/32087760-dc711e48-bb29-11e7-81ee-e8746d791ba7.png)

Here, without any text in the filter, none of t

[2017-10-27 04:47] losiesta opened #3173 "The Branches List is empty"
### Description

I created some branches,but none of these show in the Branches List.In the Merge Branch,there shows
all the branches.

### Version

**GitHub Desktop version:** 1.0.5

**OS version:** Windows 10

### Steps to Reproduce

1. create some branches.
1. try to switch to other branch in the Branches List

**Expected behavior:**  The Branches List lists none.

**Actual behavior:** The Bran

[2017-10-27 05:52] sharun-gft commented on #3169
I am able to reproduce this issue. I have a non-github repository in my case.

[2017-10-27 07:07] tierninho commented on #3168
@geowar1

Can you confirm the URL opened? Currently, it should one these:

**Compare**
https://github.com/my-username/my-repo/compare/master
<img width="1021" alt="screen shot 2017-10-27 at 9 06 46 am" src="https://user-images.githubusercontent.com/14828183/32091831-308503de-baf6-11e7-81e3-1e4628e2a362.png">

**Pull Request**
https://github.com/my-username/my-repo/compare?expand=1
<img width="1045

[2017-10-27 07:25] sebastiano-guerriero opened #3175 "List of available branches is no longer visible"
Since the update to ver 1.0.5, I can no longer see the list of available branches when I click on "Current Branch". The filter is working fine (if I type the name of the branch and hit Enter, the current branch is updated). However it was very helpful to have that list visible without having to use the search.

https://www.dropbox.com/s/4f13tw47ilybo4g/Screenshot%202017-10-27%2008.18.34.png?dl=0

[2017-10-27 07:25] #3175 closed

[2017-10-27 07:28] sebastiano-guerriero commented on #3173
Same issue on ver 1.0.5 for Mac (OS X 10.12.6). The list of branches is not visible, but the filter is working fine.

[2017-10-27 07:48] filipsobol commented on #3173
I have the same issue. @losiesta made a mistake in bug report, should be:

**Actual behavior:** The Branches List is empty
**Expected behavior:** The Branches List lists all branches.

[2017-10-27 08:01] tierninho commented on #3169
Confirming the issue is reproducible in the sample repo provided (http://git.blender.org/cycles.git). No relevant logs found.

**Temporary Workaround**: just type the name of the branch you want to switch to in the branch filter and click `Enter`, and the branch will switch.

[2017-10-27 08:03] tierninho commented on #3173
Closing as duplicate of #3169

Please track progress there.

[2017-10-27 08:03] #3173 closed

[2017-10-27 08:04] shiftkey commented on #3169
@kellpossible @tierninho yep, I can reproduce this as well using that repository. Looks like something has changed with the output from `git for-each-ref` that we use to generate this list of branches when we updated Git in #3146

[2017-10-27 08:12] kevindalmeijer commented on #3169
I am having the exact same problem as neakor. Same version of GitHub Desktop, but on Windows 10.

The problem appears when creating a new local repo and adding branches, without publishing to GitHub.

[2017-10-27 08:13] wuzh1014 opened #3176 "Sorry,I can not see my any other branches."
### Description
I can not see my any other branches.
[
![image](https://user-images.githubusercontent.com/6696819/32094140-5a668962-bb31-11e7-9c0e-b6d9646d54b7.png)
]
Only can I switch the branch by typing and clicking.Too troubles.

### Version

**GitHub Desktop version:** [latest 1.0.5]

**OS version:** [win10]

### Steps to Reproduce

1. [update]

**Expected behavior:** [What you expected to ha

[2017-10-27 08:14] filipsobol commented on #3176
Duplicate of https://github.com/desktop/desktop/issues/3169

[2017-10-27 08:15] wuzh1014 commented on #3176
sorry Duplicate of #3169

[2017-10-27 08:15] #3176 closed

[2017-10-27 08:56] shiftkey commented on #3169
We've done some work in here to show pull requests alongside branches, so maybe that's introduced something, and the best lead that I have is that deep inside `list.tsx` we have a zero `rowCount` props:

<img width="952" src="https://user-images.githubusercontent.com/359239/32095716-cb69fe14-bb4f-11e7-93fa-aa595f29183a.png">

[Here's the diff between this release and the last one](https://github.c

[2017-10-27 09:03] shiftkey commented on #2981
@technoweenie I got curious about this one and went looking at the Git LFS docs - is there a recommended way to be able to read the contents of an asset using `git-lfs` to stdout? The best example I can think of from Git is `git show [sha]:[path]` and I couldn't find an equivalent for LFS.

[2017-10-27 09:41] tierninho commented on #3169
Noticed that publishing the branch resolves the problem. By no means is this a solution... just an observation made while triaging.

[2017-10-27 10:11] davesmiths opened #3178 "Filter History by path feature suggestion"
### Description
A feature suggestion. Sometimes I would like to know the commit history of a file in a repository, or the commit history of files beginning with a particular path. For example something akin to "git log --author-date-order --name-only path/to/files/*"

### Version

**GitHub Desktop version:** 1.0.5

**OS version:** 10.12.6

### Steps to Reproduce

**Expected behavior:**

1. Select

[2017-10-27 10:58] ziggy42 commented on #3151
This can be done really easily with [this](https://electron.atom.io/docs/api/browser-window/#winsetmenubarvisibilityvisible-windows-linux) API.

But I'm not sure how to notify the user like `code` does.

[2017-10-27 11:37] zainullinramil commented on #3169
This issue is present for myself as well.

GitHub Desktop version: [1.0.5]
OS Version: [macOS 10.13]

[2017-10-27 11:58] #3169 closed

[2017-10-27 12:02] #3046 closed

[2017-10-27 12:30] anakinjay opened #3180 "All branches missing on branch select screen"
### Description
When I click the drop down to select a branch, no branches display.  If I manually type in a branch name that I know exists into the filter box and hit enter, it does switch to the correct branch, but there's no ability to see what branches are available.

### Version

**GitHub Desktop version:** 1.0.5
**OS version:** Mac OS Sierra 10.12.6

### Steps to Reproduce

1. Added a local

[2017-10-27 12:33] joshaber commented on #3169
We just released 1.0.6 which should fix this. Sorry for the hassle everyone!

[2017-10-27 12:36] joshaber commented on #3180
Hi @anakinjay, we just released 1.0.6 which should fix this. Sorry for the hassle!

[2017-10-27 12:36] #3180 closed

[2017-10-27 13:09] joshaber commented on #3178
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I'm going to add the `future-proposal` label to this issue and close it out, so that we don't get overwhelmed with our backlog! We'll revisit these as part of our next planning session.

[2017-10-27 13:09] #3178 closed

[2017-10-27 13:18] #3155 closed

[2017-10-27 13:19] joshaber commented on #2959
Thank you for your issue!

We haven't gotten a response to our questions above. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issue.

[2017-10-27 13:19] #2959 closed

[2017-10-27 13:21] joshaber commented on #2812
GitHub Desktop 1.0.6 included an update to Git LFS. Is anyone able to reproduce this problem after updating?

[2017-10-27 13:23] joshaber commented on #3171
Note that there's an open design question https://github.com/desktop/desktop/pull/2355#issuecomment-330539841:

[2017-10-27 14:02] j-f1 commented on #383
<details><summary><code>index.{ts,tsx}</code> only containing <code>export * from 'x'</code> and <code>export { foo, bar } from 'x'</code> lines</summary>

[code]
</details>

<p>

`index.{ts,x}` files that don’t just re-export other exports:

- [ ] [`app/src/crash/index.tsx`](https://github.com/desktop/desktop/blob/master/app/src/crash/index.tsx) — rename to `main.tsx`?
- [ ] [`app/src/ui/autocomp

[2017-10-27 14:54] dscho commented on #3096
You will have to add each and every `.exe` in `<Git>\usr\bin`, as *all of them* link to `msys-2.0.dll`, and it is that `msys-2.0.dll` whose initialization causes problems with ASLR.

[2017-10-27 15:17] davesmiths commented on #3178
Thanks Josh

[2017-10-27 15:29] sylveon commented on #3096
As long as you don't hit a codepath that calls `fork()` you're fine without adding an exception.

[2017-10-27 16:36] technoweenie commented on #2981
The easiest way right now is to invoke the smudge filter manually:

[code]

As a bonus, this will download the file locally to `.git/lfs/objects`, if necessary.

It will work with regular blobs, but LFS will complain about it.

[code]

You can tell it to shut up:

[code]

[2017-10-27 16:56] dseeker commented on #2295
tried the new one but the lack of branch compare turned me off, so useful for quick checks. I hope this version doesn't disappear from the web, much better ATM

[2017-10-27 17:43] wes321 commented on #2596
![image](https://user-images.githubusercontent.com/1447845/32117531-b96c39d0-bb1c-11e7-90a4-42cfb82d5bde.png)
Thank you  👍

[2017-10-27 17:45] MSathieu opened #3181 "VSCode Insiders still not working"
After I updated to the newest version of Desktop, Insiders is still not recognised as an editor while it should work after #3012.

[2017-10-27 18:00] dhoulb commented on #62
I'd prefer no hard wrapping, i.e. that GitHub Desktop had a forward-looking approach to Git where wrapping is handled when the message is displayed, not by stealthily modding user input.

I also can't see how it'd be implemented without _disabling_ the current softwrap on that textarea so lines don't wrap, which would be unexpected behaviour for most newbie users. So it probably needs to be enable

[2017-10-27 18:06] fr51 opened #3182 "unable to push from desktop"
### Description

Since this afternoon, I can't push to origin anymore. GitHub Desktop says I don't have the permission to access my folder, but I'm the owner and only contributor of this folder.

Moreover, I've checked I'm logged in my GitHub account.

### Version

**GitHub Desktop version:** 1.0.6

**OS version:** 10.0.15063

### Steps to Reproduce

1. commit
2. push to origin

**Expected behavio

[2017-10-27 18:12] lee-dohm commented on #3181
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/desktop/desktop/issues/3011. Please follow that issue for further updates.

[2017-10-27 18:12] #3181 closed

[2017-10-27 18:14] lee-dohm commented on #3011
@MSathieu Could you supply steps to reproduce the errant behavior here now that #3012 is merged?

[2017-10-27 20:06] Repositoriomalltec opened #3183 "f"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-10-27 20:08] #3183 closed

[2017-10-27 20:42] joshaber commented on #3182
Hi @fr51! Could you please attach the most recent log file from `%APPDATA%\GitHub Desktop\logs\*.desktop.production.log`. Thanks!

[2017-10-27 20:59] fr51 commented on #3182
[2017-10-27.desktop.production.log](https://github.com/desktop/desktop/files/1423435/2017-10-27.desktop.production.log)

Hi @joshaber, here's the log

[2017-10-28 07:13] empgithub commented on #3123
@shiftkey I know it is a clue, as you mentioned it, this is the reason I pointed it out. I looked over your reference, and didn't get something useful (for me) from it. I have no intention to open the project in some shell, I just want to open it in Atom.

First to answer your question. In terms of shells, I have on the machine whatever Windows 10 ships by default, which I suppose it is the standa

[2017-10-28 07:18] MSathieu commented on #3011
Install Insiders and try to open a repo from Desktop. I don't know if the bug would be fixed when I reinstall desktop

[2017-10-28 08:14] bfred-it opened #3185 "Automatic stashing before switching"
### Description

New feature (used to be in GH for Mac):

Automatically stash changes before switching branch. This helps me preserve changes I'm not ready to commit.

### Version

**GitHub Desktop version:** 1.0.5
**OS version:** macOS 10.13

### Steps to Reproduce

1. Be on `branch-a`
1. Make changes without committing
1. Switch to other `branch-b`

**Expected behavior:** Changes should be prese

[2017-10-28 09:01] shiftkey commented on #3185
@bfred-it thanks for the feedback. Please follow along with the earlier request for this: #1633

[2017-10-28 09:01] #3185 closed

[2017-10-28 09:06] bfred-it commented on #3185
Ah thanks, I couldn't find it

[2017-10-28 09:08] bfred-it commented on #1633
@Superpencil yeah explicit options are even better:

- stash
- keep
- discard (I do this a lot)

[2017-10-28 14:18] Jawshy opened #3186 "Unable to Open Repository in Git Bash Shell"
### Description

Clicking _Repository_ → _Open in Git Bash_ does not launch a new Git Bash window set to the repository's directory. This used to work for me in the past.

The shell is Git Bash in _File_ → _Options..._ → _Advanced_. If Git Bash is changed to Command Prompt or PowerShell then _Repository_ → _Open in [Command Prompt/PowerShell]_ will correctly work.

### Version

**GitHub Desktop ve

[2017-10-28 14:22] RosieCode95 commented on #3186
can confirm i have the same issue, last time i known this to work was `1.0.4`, seams to work with other shells just not `git bash`

[code]

[2017-10-28 19:24] praveen2710 opened #3187 "Github desktop Window is transparent when trying to open from desktop"
### Description

When trying to open Github desktop in shows up in taskbar but nothing is visible on the screen when trying to focus on it I can see a outline of the window it should open but it is completely transparent

### Version

**GitHub Desktop version:**  Cannot tell since the main window will not open but I tried installing latest version and still seeing issue

**OS version:** Microsoft

[2017-10-28 19:29] praveen2710 commented on #3187
![github desktop 1](https://user-images.githubusercontent.com/5807651/32137781-0931b38a-bbec-11e7-9273-dbc1c16ecdd5.png)
![github desktop 2](https://user-images.githubusercontent.com/5807651/32137797-4bb820b8-bbec-11e7-9393-c54dacd9844c.PNG)

I would expect the github desktop to show but nothing shows up

[2017-10-29 00:57] shiftkey commented on #3011
@MSathieu if you look at the dev tools with verbose enabled, you'll see this message:

[code]

This file is named `code-insiders.cmd` (probably to ensure it doesn't clash with an existing VSCode install), so the code needs to detect this as a fallback.

[2017-10-29 01:54] whatllb opened #3189 "Dark menu bar blends into Visual Studio"
### Description

The dark menu bar blends with the title/menu bar of Visual Studio 2015. Depending on window positions and monitor settings, it can be VERY difficult to find the top of the Github window (one of my monitors is set a *little bit* darker than the other). More often than I'd expect, with I accidentally click Visual Studio when I want to move the GitHub Desktop window.

Side note: Ther

[2017-10-29 04:15] martimyc opened #3190 "Desktop crash when committing"
### Description

I tyr to commit and the application crashes completlly saying this:
Error: write EOF
    at exports._errnoException (util.js:1050:11)
    at WriteWrap.afterWrite (net.js:813:14)

note that the repository is from bitbucket and i cloned it to my pc before adding it to the app.

### Version

**GitHub Desktop version:** 1.0.6

**OS version:** Microsoft Windows Version 10.0.10240

###

[2017-10-29 04:48] AingW opened #3191 "how can i go back to the before interface？"
![image](https://user-images.githubusercontent.com/17987341/32140735-6d594890-bca6-11e7-8247-f45829b70d38.png)

===========================================
i want to get the correct interface like the below picture：
![image](https://user-images.githubusercontent.com/17987341/32140765-57a82ede-bca7-11e7-953b-21c1e1a59ae0.png)
，，，，，，please tell me how to do@_@, thanks!

[2017-10-29 05:02] AingW commented on #3191
i find the way：
【F11】on the keyboard！
so easy，，，

[2017-10-29 05:02] #3191 closed

[2017-10-29 06:54] lovelynam27 opened #3192 "Im sorry yhat not working before"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-10-29 07:47] agisilaos commented on #3192
Hey! Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-10-29 12:23] MSathieu commented on #3011
@shiftkey Should I make a new case, something like ExternalEditor.VisualStudioCodeInsiders?

[2017-10-29 15:28] pfthroaway opened #3193 "Menu bar scaling doesn't persist between sessions"
### Description

When adjusting the GUI for scaling because it's far too small to be usable on higher resolutions, the menu bar increases in size so it's usable, also. 150% is pretty good on higher resolutions. However, after closing the application and opening it again, the menu bar is tiny again, and I can't hardly read anything on it. The rest of the GUI scaling persists between sessions, and I

[2017-10-29 21:16] Elioty commented on #3186
Same here!! My GitHub Desktop was on version 1.0.4 just minutes ago and it could open git bash without a problem. It told me there was a new update so I ask it to restart straight away (because I needed the new git version introduced in 1.0.5) and since then, it won't let me open git bash from it anymore...

However, when I go to the directory where git is installed, I can see it's still on versio

[2017-10-29 21:44] shiftkey commented on #3011
@MSathieu maybe? I don't think we can have multiple enum values mapped to a single string (so we can separate the logic for `ExternalEditor.VisualStudioCodeInsiders` but make it appear in the UI as `'Visual Studio Code'`) so maybe we'll need to call it `'Visual Studio Code (Insiders)'`.

[2017-10-29 21:49] #3192 closed

[2017-10-29 22:09] shiftkey commented on #3186
@EliotyI tested this again on a development VM and found that it wasn't showing the menu entry either, so I went about recreating it.

Here's my setup:

 - Windows 10 (build `10.0.16299.19`)
 - GitHub Desktop 1.0.6
 - Git for Windows 2.14.3

I opened up regedit and looked at `HKEY_LOCAL_MACHINE\SOFTWARE\GitForWindows` - where Git for Windows registers entries for third party apps to integrate - an

[2017-10-29 22:29] Elioty commented on #3186
Hello @shiftkey

Firstly my setup:
- Windows 10 (build 15063.674, stable branch, Creator Update, haven't got the Fall update yet)
- GitHub Desktop 1.0.6
- Git for Windows 2.14.3

Sadly, I have to tell you I have those entries in my registry under `HKEY_LOCAL_MACHINE\SOFTWARE\GitForWindows` (just copied it from the regedit address bar).
![capture](https://user-images.githubusercontent.com/5834064/3

[2017-10-29 22:35] shiftkey commented on #3186
@Elioty aha, that's good to know. And yes, I'm also seeing the same thing when launching. I'll let you know if I need anything from you.

[2017-10-29 22:57] Elioty commented on #3186
So I guess the issue doesn't need the `needs-reproduction` label anymore but the `bug` label instead.
And just ping me if you need me to try something out 😉

[2017-10-29 23:49] shiftkey commented on #3068
This means we'd need to do the [probing](https://github.com/desktop/desktop/blob/master/app/src/lib/api.ts#L678-L701) to recognize that it's a GHE server whenever we encounter a new "generic" Git server, right?

[2017-10-30 00:39] Jawshy commented on #3186
Hi, @shiftkey. Those four entries are present in `HKEY_LOCAL_MACHINE\SOFTWARE\GitForWindows` and are identical to what you posted.

[2017-10-30 00:47] shiftkey commented on #3067
We can't support `bash.exe` support on Windows currently because it's not part of the Git installation, but `/bin/sh` support should work once I get https://github.com/desktop/dugite/pull/141 merged and updated here.

[2017-10-30 02:12] shiftkey commented on #3186
@Jawshy cool. The issue will be fixed with #3194, just wanted a sanity check that it wasn't there.

[2017-10-30 02:18] shiftkey commented on #3079
I've been getting some fixes into `dugite` today - this has been added to https://github.com/desktop/dugite/pull/143 and will be fixed when I bump `dugite` in Desktop.

[2017-10-30 02:25] #3079 closed

[2017-10-30 02:53] shiftkey commented on #821
Bumping this thread as we've not had much movement on this from our end - a few people have suggested re-implementing Gravatar support as a fallback that we had in the classic apps.

@desktop/core unless there's any objections to this I'll throw it on my plate this week to estimate the work involved.

[2017-10-30 04:03] 1nfinite9 commented on #2737
Still happens on version 1.0.6.

What else can I provide that will help with reproduction?
Could it be because a merge is happening when I pull on Windows?

[2017-10-30 07:44] tierninho commented on #3068
I'll default to @joshaber as we chatted about this briefly.

[2017-10-30 07:45] shiftkey commented on #2737
@1nfinite9 this has kind of fallen down the list because the repro requires a bunch of setup. The only additional things I can think of is screenshots the different history views show them being different, but that's minor.

[2017-10-30 09:40] tierninho commented on #3193
Thanks @pfthroaway Reproduced this.

<img width="986" alt="screen shot 2017-10-30 at 10 39 53 am" src="https://user-images.githubusercontent.com/14828183/32164104-bff46c70-bd5e-11e7-9958-76294a479f03.png">

[2017-10-30 11:10] tierninho opened #3196 "Allow user to create origin/HEAD branch?"
So if you create a new branch called "origin/HEAD" then you end up with two similar branches: `/heads/` and `/remotes/`.

When selecting `/heads/` the branch, it is displayed as a detached HEAD in the nav bar, and cannot be published, as expected.

Items we should protect against:
- Blocking the naming of branches with origin/HEAD?
- Trying to commit anything to this branch, ends up with the commi

[2017-10-30 11:23] joshaber commented on #3182
Thanks @fr51!

As best as I can tell from the log, it looks like pushing succeeds:

[code]

But pulling fails:

[code]

Is that error being surfaced in the UI? Could you paste a screenshot in here?

[2017-10-30 12:09] joshaber commented on #3190
Thanks @martimyc! This looks like a duplicate of https://github.com/desktop/desktop/issues/2041 so I'm gonna close it. Feel free to follow along over there!

[2017-10-30 12:09] #3190 closed

[2017-10-30 13:16] niik commented on #3187
Hi @praveen2710, is it possible that you're using (or have used) multiple monitors on your machine? This sounds very much like https://github.com/desktop/desktop/issues/2107.

There's some workarounds in that thread that you can try (maximizing the window through task manager) or you could try closing GitHub Desktop, deleting `%APPDATA%\GitHub Desktop\window-state.json` and then restarting it.

[2017-10-30 14:16] #3067 closed

[2017-10-30 14:27] #3186 closed

[2017-10-30 14:40] joshaber commented on #3068
I was thinking about this in the context where your existing authentication with an Enterprise server no longer works, more in line with #1482.

[2017-10-30 14:40] joshaber commented on #3068
...in which case I think we can just roll it into that issue.

[2017-10-30 14:40] #3068 closed

[2017-10-30 15:18] Pletron opened #3197 "Add placeholder name in App"
### Description

The ability to add a local placeholder name for a repo. The application sets the repo name to the name of the folder the repo is located within. It would be great to be able to set a "local" name for each project and not be dependent on the folder within which the project subsides.

### Version

**GitHub Desktop version:** 1.0.6

**OS version:** macOS 10.12.6

### Steps to Reprodu

[2017-10-30 15:57] wenlock commented on #1502
Thanks @shiftkey ! this got me worked around on my Mac.
[code]

[2017-10-30 16:02] joshaber commented on #1502
@wenlock sent me his `window-state.json` prior to clearing it:

[code]

[2017-10-30 16:06] wenlock commented on #1502
![image](https://user-images.githubusercontent.com/1907138/32181459-a125a5a0-bd51-11e7-999a-3f96ec46bcfd.png)

Screen shot for what it looks like.

[2017-10-30 16:58] Haacked commented on #821
It may seem cosmetic, but displaying a broken image icon is worse than even just showing a placeholder image. It reduces confidence in the application. So I'm 👍 to doing something here.

The gravatar fallback seems like a good start. Gravatar itself has a fallback mechanism. So the fallback sequence would be:

1. GHE avatar
2. Gravatar
3. Placeholder

We should never show a broken image here.

[2017-10-30 17:01] Haacked commented on #821
Now that I've said that, say hello to my upcoming new profile image.

![broken-image](https://user-images.githubusercontent.com/19977/32184365-3b0c2566-bd59-11e7-8efe-42b00618524e.png)

:trollface:

[2017-10-30 17:07] OiYouYeahYou commented on #2165
# Preamble

I am assuming:
  1. An unpaid account can publish a private repo to a paid organisation (Given permissions)
  2. A paid account cannot publish a private repo to an unpaid organisation

Therefore, it is necessary to know if a `publishing target` is paid, not just the user account. Extending the user account class is easy. But for organisations, this is a different matter. As currently,

[2017-10-30 17:28] Elioty commented on #3186
Yay so the fix will make it to 1.0.7 release I guess 😄 That's really quick user support! Keep up the good work 😉

[2017-10-30 17:34] joshaber commented on #3186
Yup! That's exactly right.

[2017-10-30 20:32] lukas2005 opened #3200 "app is shown in the task bar but after clicking it the window doenst popup"
When i launch the app it kinda starts in minimized mode but when i try to click it the main window doesnt pop up
OS: Windows 10

[2017-10-30 20:34] OiYouYeahYou commented on #3200
Try `WinKey + UpArrow`

[2017-10-30 20:59] niik commented on #3197
Hey @Pletron, thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our backlog! We will revisit this in our next planning session.

[2017-10-30 20:59] #3197 closed

[2017-10-30 21:00] niik commented on #3200
Hi @praveen2710, is it possible that you're using (or have used) multiple monitors on your machine? This sounds very much like https://github.com/desktop/desktop/issues/2107.

There's some workarounds in that thread that you can try (maximizing the window through task manager) or you could try closing GitHub Desktop, deleting `%APPDATA%\GitHub Desktop\window-state.json` and then restarting it.

[2017-10-30 21:20] niik commented on #3196
I'm inclined to say that we shouldn't address this in the app. When we're creating a branch we're not doing anything magic, we're just handing the branch name off to Git to do it's thing.

Technically speaking what you've done here isn't illegal as far as Git is concerned although it's certainly not easy to understand. You've created a branch called `origin/HEAD` which is distinct from the referen

[2017-10-30 21:37] shiftkey commented on #3196
I can get behind this idea

[2017-10-31 00:57] shiftkey commented on #2537
Dropping this from the milestone as the work requires some additional thought around UX - see https://github.com/desktop/desktop/pull/3164#issuecomment-339789343 and replies

[2017-10-31 01:33] shiftkey commented on #3078
@tierninho actually, this bit of the repro isn't clear to me:

How are you getting this problem folder the app? It's not clear how I should get the app into this state.

Here's what I've tried:

 - **File** | **Clone Repository** -> **URL** -> specify path like `/Users/shiftkey/Desktop/photos` -> clone errors in a different way

![](https://user-images.githubusercontent.com/359239/32203350-e073e26

[2017-10-31 04:09] #1312 closed

[2017-10-31 04:10] shiftkey commented on #2550
Just dropping a note in here to say that this was added in #3101 and will be available in the next update.

[2017-10-31 04:44] shiftkey commented on #3105
@begoldsm

I'd like to inflict this group policy on myself and see this behaviour first hand. Is it this Group Policy rule that's enabled for you?

<img width="1144" src="https://user-images.githubusercontent.com/359239/32207790-5b2ef734-be52-11e7-9a50-64fe827573b0.png">

[2017-10-31 04:49] shiftkey commented on #3074
I've updated this issue to indicate this is more about the commit hooks failing - feel free to open a fresh issue around the WSL support if you would like to see that proceed.

[2017-10-31 06:12] adamreisnz opened #3202 "Delete branch without switching to it"
Pardon me if it's already been asked, but I couldn't locate a similar issue.

One of the things that always bothered me in the old app was that I had to switch to a certain branch before I could delete it. This still appears to be the case in the new app.

Can we get a context menu for right click on a branch in the branches list, and have some options in there, like delete branch?

This way, when

[2017-10-31 08:22] tierninho commented on #3078
@shiftkey All I did was chose `Add Local Repository` and then select the default "Movies" folder (for example).

[2017-10-31 08:24] ChainGit opened #3203 "希望增加修改的仓库的提示"
本地仓库再其他地方修改后，希望列表中能有红点或*号提示，这样比较直观方便

[2017-10-31 08:26] tierninho commented on #3203
@ChainGit  thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-10-31 08:26] #3203 closed

[2017-10-31 08:58] blosloos commented on #1502
Am now also facing a black GitHub Desktop window right away after the installation (identical to what is shown by shiftkey user above). Deleting the `window-state.json` or toggling is of no help; the app seems responsive, but just all blacked. Am on Win10 64bit, build 15063.674

[2017-10-31 10:29] Gama11 commented on #2550
Wow, awesome. :)

[2017-10-31 10:39] tierninho opened #3204 "Block saving (.) as your git username or email"
You are allowed to save `.` as your git credentials, however, it causes problems further down the line. When you attempt to commit or revert, there are two similar errors that surface, each saying you cannot save your same as `.`.

<img width="453" alt="screen shot 2017-10-31 at 11 34 15 am" src="https://user-images.githubusercontent.com/14828183/32219887-fbd210ea-be2f-11e7-99c1-4ccf8a0a78c5.png">

[2017-10-31 11:38] #3196 closed

[2017-10-31 12:25] f4f09d107e opened #3205 "Typo in the Github Desktop Release Notes"
https://desktop.github.com/release-notes/

In the release notes for version 1.0.5 (October 26th 2017), it should say

"**Linux**: Add Atom and Sublime Text support [...]"

instead of

"**Linx**: Add Atom and Sublime Text support [...]"

[2017-10-31 12:40] niik commented on #3205
Hey @f4f09d107e, care to open a PR to fix that typo?

[2017-10-31 12:44] niik commented on #3205
Hey again @f4f09d107e, it turns out this typo was already fixed in https://github.com/desktop/desktop/pull/3184 but the website won't be updated until we do another production release.

[2017-10-31 12:44] #3205 closed

[2017-10-31 12:52] niik commented on #3202
The old clients used to automatically prune merged local branches (see #750). I'm hoping that we'll be able to get to that at some point which would make deleting local branches manually less of an issue.

That said I don't have anything against also supporting a context menu in the branch list. For now though I'm gonna label this future-proposal and close it out so we can keep our backlog managea

[2017-10-31 12:52] #3202 closed

[2017-10-31 13:01] tierninho opened #3206 "Add mouseover+tooltip to reveal subtext of the Publish button?"
When attempting to publish an unborn repo, you should be able to read the entire message in the subtext of the `Publish branch` button.  Currently it is cutoff leaving certain users wondering what the entire message is.

I have Desktop fully expanded on a 15" mac:
<img width="264" alt="screen shot 2017-10-31 at 1 53 52 pm" src="https://user-images.githubusercontent.com/14828183/32224815-3306e992-b

[2017-10-31 13:33] niik commented on #3206
Tooltip is certainly a viable option here though I wonder if we couldn't make the messaging even more compact and rid ourselves of the problem that way. In this case we're talking about an unborn HEAD, not necessarily an unborn _repository_. And the context is `Publish branch` so I'm thinking we could just say 'Cannot publish unborn branch` here instead.

[2017-10-31 13:38] danilaml commented on #3105
[This SO answer](https://stackoverflow.com/a/35301457/4114447) might provide a solution.

[2017-10-31 14:18] OiYouYeahYou commented on #3206
1. This tripped me up the first time, It's not really clear the for the novice. Could it be something like `'Nothing has been committed'`? Or can Unborn mean more than 'no commits'?
2. An additional action could be setting focus to the Changes list and use an animation to catch the eye
3. Should there be validation before opening the Publish dialog to confirm that a repo has been "born"?

[2017-10-31 15:44] OiYouYeahYou commented on #2992
Help wanted?

[2017-10-31 15:55] ragoston opened #3208 "Unable to push, because "explorer.exe: no such file or directory""
Trying to push, but after file explorer pops up I get the message described in the title and pushing takes literally forever even if I just pushed a single line of txt file.
![boi](https://user-images.githubusercontent.com/32418241/32234127-4d76830a-be5c-11e7-9fe0-100afa9de126.jpg)

[2017-10-31 17:11] JevinAnderson commented on #3200
I'm also experiencing this on my Mac. I use spotlight to open the application, and it appears in my doc, but isn't visible. If I click on the icon, then go to the view menu, i can force a blank screen to appear.
<img width="1402" alt="screen shot 2017-10-31 at 10 07 13 am" src="https://user-images.githubusercontent.com/3373201/32237999-ac04ec88-be23-11e7-9a58-9ea34f521381.png">
Not very useful. I

[2017-10-31 17:13] JevinAnderson commented on #3200
I've tried reinstalling the application, and it is still not working. Is there a way to get older versions of the Mac installs?

[2017-10-31 17:14] j-f1 commented on #3200
@JevinAnderson Can you press <kbd>⌥</kbd> <kbd>⌘</kbd> <kbd>I</kbd> and copy-paste any errors here?

[2017-10-31 17:44] JevinAnderson commented on #3200
@j-f1 here you go.

<img width="1236" alt="screen shot 2017-10-31 at 10 42 38 am" src="https://user-images.githubusercontent.com/3373201/32239620-41673318-be28-11e7-8980-465d1f3db924.png">

The error:

[code]

Message

[code]
Name: `"PrematureCommitError"`

[2017-10-31 17:51] adamreisnz commented on #3202
Ok, thanks 👍

[2017-10-31 17:54] adamreisnz commented on #3202
PS: If you aren't already, may I suggest using [Zenhub](https://www.zenhub.com/) to manage your issues backlog?

It integrates on top of Github in your browser, and allows you to create as many columns/pipelines as you wish, so you could have one for example "Future proposal" or "Icebox" and put issues that are to be revisited later in there, rather than closing them off. That should still help to

[2017-10-31 18:22] phildionne commented on #78
Agreed, this is extremely important. I love Github Desktop but it's inconceivable not to have this security feature baked in.

[2017-10-31 20:22] mboughaba commented on #1407
Hi
It looks like this is still reproducible in v 1.0.6 on Windows 7 64bits.

[2017-10-31 20:38] j-f1 commented on #1407
@mboughaba Can you open a new issue and fill out the template for us so we can better help you?

[2017-10-31 22:38] shiftkey commented on #3078
@tierninho so it's got a `.git` folder created underneath?

[code]

And if I probe this directory, how many files are there?

[code]

[2017-10-31 22:46] shiftkey commented on #3208
@ragoston thanks for the report!

Could you walk me through the steps you made to trigger this issue, and if there are any repository hooks under the `.git/hooks/` folder?

Could you also attach the log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubles

[2017-10-31 23:34] begoldsm commented on #3105
@shiftkey yes, that is the policy that is set for all our domain accounts. @danilaml  that is potentially a solution, but I wonder if there is some other way to read from the registry without attempting to open it in edit mode (rw). The registry is still accessible (I can use powershell to Get-Item HKLM://...), it just can't be opened for writes.

[2017-10-31 23:52] adamreisnz commented on #2904
There's another issue related to this, the "Open with default program" actually uses the default program, which happens to be VSCode for me because I just installed that. However, opening from the tree view still opens in Atom.

Personally I'd like to be able to always specify which application I open it with, in case I have multiple editors installed, or at least for both options to be consistent

[2017-11-01 00:04] dealercrm commented on #2545
Is there a fix for this yet?
I am running into the same issue.

Writing objects:  84% (267/317), 2.08 GiB | 14.77 MiB/s   Writing objects:  84% (267/317), 2.09 GiB | 14.63 MiB/s   Writing objects:  84% (269/317), 2.12 GiB | 16.08 MiB/s   Writing objects:  85% (270/317), 2.12 GiB | 16.08 MiB/s   Writing objects:  85% (271/317), 2.12 GiB | 16.08 MiB/s   Writing objects:  85% (272/317), 2.14 GiB | 17

[2017-11-01 03:18] shiftkey commented on #3123
This is promising, as it's the same thing as I found when I enabled this group policy on a test machine.

One thing to try is run this command:

[code]

On my machine, I get a helpful error message:

[code]

If you also get that, once we get #3209 merged you should be good to go.

With that PR, I now see under the **File** | **Options** dialog with the **Advanced** tab these options:

<img width="

[2017-11-01 05:29] danielb987 commented on #1571
I think it is very important to have the ability to create files, get them into the repository, and then ignore them.

I'm new to git and I'm using Github Desktop on Windows and Linux, and when I create a new Netbeans Java project, NetBeans create some project files that I want to have in my repository, but I never want these files to be changed by someone else that starts to work on my project.

[2017-11-01 07:02] tierninho commented on #3206
Saw this one as well in another issue. Looks like a tooltip is already there:

![unnamed](https://user-images.githubusercontent.com/14828183/32263605-ef95a1ba-beda-11e7-9597-ba3c8eb702e3.jpg)

[2017-11-01 07:59] hananurrehman commented on #1214
All programs on the internet provide 32 bit support except Github

[2017-11-01 08:57] lekhasy opened #3210 "Open in Git bash doesn't work"
### Description

Select **Repository** -> **Open in git bash** or **Ctrl + `** doesn't work.
My computer have git installed and i can open a folder in git bash by **Right click on the folder** -> **Git Bash Here**.
Change the shell option to **PowerShell** or **Command Prompt** in **Advance Option** dialog did resolve the problem, but the **Git Bash** option doesn't work.
### Version

**GitHub Des

[2017-11-01 09:39] shiftkey commented on #3210
@lekhasy thanks for the report. This has been fixed in #3194 which will go out in the next update!

[2017-11-01 09:39] #3210 closed

[2017-11-01 10:09] tierninho commented on #3078
@shiftkey  yes, there is `.git` folder underneath and results are:

[code]

[2017-11-01 11:02] ragoston commented on #3208
Thank you for getting back to me.
![hooks](https://user-images.githubusercontent.com/32418241/32271452-34140128-befa-11e7-8d53-6a69e6d97b7b.jpg)
This is what I have in the `.git/hooks/` folder.
The repo is not public (for this homework assignment we required to leave it as it is )
The steps were:

- In the app, I selected "clone repo" and selected a location in my "Documents" folder. The path had

[2017-11-01 11:46] niik commented on #3208
Hey @ragoston, that log excerpt doesn't seem to include the actual push command. Could you have a look again and see if there's any other log files in that directory? If there isn't could you please try to reproduce the problem again, close the app and attach the latest log file?

[2017-11-01 12:29] niik commented on #2545
As has been said earlier in this thread we don't believe this issue is related to GitHub Desktop. **There is a hard limit of 2GB for pushes to GitHub.com** which is enforced server-side and I suspect that's what most of you are hitting here. Additionally [there's a soft limit](https://help.github.com/articles/what-is-my-disk-quota/) or recommendation of keeping your repositories under 1Gb.

You ca

[2017-11-01 12:41] kpei opened #3211 "Github Desktop freezes entire Windows 10 System"
### Description

I have been getting freezing issue recently on my work laptop that's installed with Windows 10 Pro.   The entire OS would freeze, most of the time the mouse as well and there's nothing I can do except do a hard restart on my laptop.

I noticed that this has been occurring when Github Desktop is also open (idle after some work has been done on it).  I originally had thought it's a

[2017-11-01 12:43] kpei commented on #3211
More logs although I'm not too sure which ones terminated with a freeze issue
[2017-10-25.desktop.production.log](https://github.com/desktop/desktop/files/1434121/2017-10-25.desktop.production.log)
[2017-10-26.desktop.production.log](https://github.com/desktop/desktop/files/1434122/2017-10-26.desktop.production.log)
[2017-10-30.desktop.production.log](https://github.com/desktop/desktop/files/14341

[2017-11-01 12:44] niik commented on #2992
We're not ready to open this up for contributions as we don't have a clear and agreed-upon way forward. The issue body outlines one potential way but I'd like to go back and focus on the initial problem which is whether we could make it more clear that you're not signed in to any account. I'll leave my comment from the other thread here regarding this particular suggestion of adding avatars to the

[2017-11-01 12:45] niik commented on #2992
In order to avoid confusion and to keep our issue backlog manageable I'm going to label this future proposal and close it out for now. We'll revisit issues labeled future-proposal in our planning sessions.

[2017-11-01 12:45] #2992 closed

[2017-11-01 12:50] niik commented on #3211
Hey @kpei, I'm sorry you're experiencing this issue. Unfortunately those log files didn't provide much of anything to go on.

Speaking from experience with the classic app on Windows these freezes were often caused by either the graphics card or bad memory. Please make sure that you're running on the latest graphics drivers available for your system. Additionally it would be helpful if you could c

[2017-11-01 12:53] niik commented on #3204
For the future implementor of this. It would be spectacular if we could find a way to leverage Git's own validation logic here rather than try to replicate it ourselves.

[2017-11-01 13:14] markabuthuda opened #3212 "text/html;charset=utf-8"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-01 13:18] ragoston commented on #3208
I successfully reproduced the issue with this log file created:

2017-11-01T10:53:35.715Z - info: [ui] [AppStore] found account: ragoston (null)
2017-11-01T10:53:35.930Z - error: [ui] `git status --untracked-files=all --branch --porcelain=2 -z` exited with an unexpected code: 128.
fatal: Not a git repository (or any of the parent directories): .git

(The error was parsed as 27: This is not a git r

[2017-11-01 13:44] #3212 closed

[2017-11-01 15:53] fr51 commented on #3182
Hi Josh,

the error about merging isn't so important. It was a try with manual uploading; I know how to fix it, and it occured after the pulling issue.

![authentication](https://user-images.githubusercontent.com/11518598/32283602-1f343824-bf25-11e7-803d-55741bb267bb.jpg)

[2017-11-01 16:49] TLGustav commented on #2545
Thanks for clearing up Markus.

I "knew" this, but I wanted to ask because I considered this answer so
unlikely.

I hate to state the obvious, but if you develop on media projects, 2Gb+ is
standard, and binary files are a natural part of your IDE workflow.

With regards to Git not supporting 2GB, that leaves the following options
for projects like this:

a) Git + another overlapping sync/cloud sol

[2017-11-01 17:10] JevinAnderson commented on #3200
@j-f1 I followed these [instructions](https://gist.github.com/naomik/11245234) to completely uninstall the client, then I reinstalled, and everything is working as expected. I'm going to stop tracking this issue now.

[2017-11-01 17:46] j-f1 commented on #2545
@TLGustav Have you tried [Git LFS](https://git-lfs.github.com/)? It’s designed for tracking changes to large binary files. There’s even a [`git lfs migrate` command](https://github.com/git-lfs/git-lfs/blob/master/docs/man/git-lfs-migrate.1.ronn) that will rewrite your history to use LFS, significantly decreasing your repo’s size. You get 1 GB for free, and you can [upgrade](https://github.com/acco

[2017-11-01 18:23] adambirds opened #3214 "[Feature Request] Open Repository in Atom and Ubuntu for Windows"
# Feature Request
### We currently have the option to open the repository in:

- Command Prompt
- Windows Explorer
- VS Code

### I would like the option to open the repository as well in both of the below:

- Atom (Surprised its not already available, considering its GitHubs)
- Ubuntu for Windows using Windows Subsystem for Linux

[2017-11-01 18:27] #3193 closed

[2017-11-01 18:29] oscdows opened #3215 "i have a windows vista 32 bit"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-01 18:30] joshaber commented on #3215
@oscdows we don't support 32-bit versions of Windows - see #1214 for the related discussion.

[2017-11-01 18:30] #3215 closed

[2017-11-01 19:12] TLGustav commented on #2545
I seem to remember giving it a spin back then, don't remember what made me
drop it, but it does seem like something that should be an integral part of
Git.

I will try LFS again when we are ready to test out Git again. Thanks for
the input.

*Gustav C. Tresselt*
TenkLabs AS
+47 98447222

On Wed, Nov 1, 2017 at 6:46 PM, Jed Fox <notifications@github.com> wrote:

[2017-11-01 20:42] ManuelHJ opened #3217 "Trouble with merging a branch with a commit on an excel document within it."
Hi

I need help with the merge of a branch with the master, because, with the pull request, it says something like "this branch has too many unresolved conflicts". I am thinking that the .xls and .doc type of files doesn't apply to a version system like gitHub.

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

###

[2017-11-01 21:46] niik opened #3218 "Can't create merge commit after discarding conflicted changes"
If you get a merge conflict while merging a branch and discard the only conflicted file (preserving your changes) there's no way to actually commit the merge conflict.

### Setup

[code]

After this, open GitHub Desktop, update from master, see the conflicted file, discard it and try to commit.

<img width="250" alt="screen shot 2017-11-01 at 22 18 37" src="https://user-images.githubusercontent.co

[2017-11-01 21:49] niik commented on #3217
Hi @ManuelHJ. You're right that .xls/.doc files are not text but rather binary content which isn't easy to merge by hand.

Your best bet here would be to manually open both versions of the file and make sure that the necessary changes from both are incorporated or if you know which version should prevail you can pick that one.

In order to pick your version over the other you can merge the master

[2017-11-01 21:49] #3217 closed

[2017-11-01 22:27] gamkiller77 opened #3219 "Desktop app will not render on Mac OS X desktop VM"
### Description

I am documenting and recording videos to show my team how to use Git work flow to publish documents in our team.

I used Parallels Desktop 12 to create a Sierra release 10.12.6 using my local recovery partition.

I installed GitDesktop from your website and then when the app launched I just get a blank windows with nothing rendering.

In dev mode the page dose render but in consol

[2017-11-01 22:40] shiftkey commented on #3214
@adambirds thanks for the suggestion

For Windows? This should be covered by all the platforms, need more info about your setup to troubleshoot this further.

I talked a bit about this over in https://github.com/desktop/desktop/issues/3074 and we have some docs on how to [integrate other shells](https://github.com/desktop/desktop/blob/master/docs/technical/shell-integration.md). It'd be nice to co

[2017-11-01 23:41] adambirds commented on #3214
@shiftkey just saw the "options" menu where you can change between the shell and external editor and can see Atom is an option, there. However I think it would be great to have a feature where you can select more than one shell or editor to appear in the drop down menu. I sometimes prefer different editors depending on what I'm doing.

With regards to the integration into Bash for Windows. I'll ta

[2017-11-02 00:12] shiftkey commented on #3214
@adambirds

Let's move this out to a fresh issue to talk about this further. It's not something we thought about when we rolled this out.

:thumbsup:

[2017-11-02 00:12] #3214 closed

[2017-11-02 01:09] shiftkey commented on #3204
@tierninho can you recall the flow to trigger that first error? The second one looks like committing, but I'm curious if we stumble upon it earlier...

[2017-11-02 02:42] AEXCUDivision opened #3220 "im having trouble with using git with dreamweaver"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-02 05:59] shiftkey commented on #3220
@AEXCUDivision thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-11-02 05:59] #3220 closed

[2017-11-02 06:48] adambirds opened #3221 "Select more than one editor/shell to be in the submenu."
# Feature Request

### The current situation

We currently have the ability to select one default shell/editor to be available in the repository submenu.

### What feature I would like to see

I would like the option to be able to pick multiple shells/editors to be shown in the submenu. This is because sometimes I like a different editor/shell depending on what I'm doing.

[2017-11-02 06:50] adambirds commented on #3214
I've opened the request for the first thing in #3221. Will update #3074 when I have anything on the Bash for Windows.

[2017-11-02 07:36] tierninho commented on #3204
@shiftkey took a sec to figure it out, but that error can be surfaced when you revert a commit... in this case the initial commit on an already published repo.

<img width="850" alt="screen shot 2017-11-02 at 8 34 01 am" src="https://user-images.githubusercontent.com/14828183/32314569-d485d0ec-bfa8-11e7-8d01-9a0960727db3.png">

[2017-11-02 08:09] SANGHALEE opened #3222 "The output from the command could not fit into the allocated stdout buffer. Set options.maxBuffer to a larger value than 10485760 bytes"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-02 08:14] tierninho commented on #3222
@SANGHALEE  thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-11-02 08:14] #3222 closed

[2017-11-02 08:40] niik commented on #3219
Hey @gamkiller77, can you open DevTools (by clicking on the View menu and then 'Toggle Developer Tools') and see if there are any errors shown in there? If there is, please send paste them into this issue so we can have a look.

[2017-11-02 09:44] der-eismann commented on #2295
+1 the old version was much better, thanks for the download!

[2017-11-02 10:13] niik commented on #3182
Hey  @fr51. Could you attach the log file for the date when you saw that dialog. I'm not seeing anything in the log file that you submitted earlier that correlates to that dialog.

[2017-11-02 11:03] fr51 commented on #3182
Hi @niik,

here's today's log
[2017-11-02.desktop.production.log](https://github.com/desktop/desktop/files/1437449/2017-11-02.desktop.production.log)

In addition, my today's commits are mentioned in desktop but not in my repo on GitHub.

[2017-11-02 13:15] gemal opened #3223 "checkbox in changes moves 1px when hover"
using version 1.0.6
when I move my mouse cursor over the checkboxes in the left side of the changes tab the checkbox moves 1px down.
hard to see but it's there

[2017-11-02 13:21] niik commented on #3223
Hey @gemal, what operating system are you using?

Could you capture a Gif of this behavior using [LiceCap](https://www.cockos.com/licecap/) (or any other screen capture software) and attach it here.

[2017-11-02 13:45] fr51 commented on #3182
one more thing : I can publish a new repo, but not master branche

[2017-11-02 14:05] niik commented on #3034
### Reproduction steps

This assumes a `LF` based platform. Switch `\n` and `\r\n` contents around on Windows.

[code]

At this point the file different from the blob in the index but a diff tells us that only new line sequences will be replaced.

![screen shot 2017-11-02 at 14 36 25](https://user-images.githubusercontent.com/634063/32328773-4f3c2c64-bfdb-11e7-8033-0b90af52c492.png)

If we try to

[2017-11-02 14:37] niik commented on #3182
I've been looking for an error in these logs but it turns out [we don't treat auth errors as errors](https://github.com/desktop/desktop/blob/master/app/src/lib/git/push.ts#L59) so the log will never show them.

@desktop/core any good ideas on how we can troubleshoot this further?

[2017-11-02 14:50] niik commented on #2972
Thanks for that log file @andrew-davis, that does indeed look like the same problem that you reported in the atom issue. It would appear as if electron has trouble with exposing IndexedDB (the storage solution where we keep, amongst other things usernames and tracked repositories) and a few other critical pieces from a redirected folder.

There isn't I'm afraid. That code is related to Atom's port

[2017-11-02 15:23] joshaber commented on #3182
Can you push new branches?

[2017-11-02 15:33] andrew-davis commented on #2972
I understand it's difficult to reproduce. It's an edge case, for sure. I can't find any other references to it, so I could be the only one experiencing this. May I suggest that we tag the item as an acknowledged issue - but not something of high priority?

Thanks for all your help.

[2017-11-02 16:03] fr51 commented on #3182
Nope, I can create it but not push.

[2017-11-02 16:04] alison985 commented on #2729
@willmorgan Did you ever get anywhere with this. I am having the same problem and it's effecting my PRs getting approved.

[2017-11-02 16:13] niik commented on #2729
@alison985 It's unlikely that we will go back and work on adding this feature to the old apps. If you open a PR using the new Desktop client we will push/publish automatically and then redirect you to the website to fill out your PR body and title and the PR template is automatically added to the body. If there's anything preventing you from using the new app please file an issue, we'd love to hea

[2017-11-02 16:14] gamkiller77 commented on #3219
@niik I did do this as I saw an old issue.  I see there 6 errors but not visible do to Filters.

Also notice the debugger is having the same problem as the  main UI box.

While in debug the UI dose render.

[2017-11-02 19:03] #2364 closed

[2017-11-02 22:32] sbonami opened #3224 "Github Desktop App's OAuth login says "Not owned or operated by GitHub""
### Description

While I understand that the OAuth page is meant for all uses of the Github SSO, and the text is likely boilerplate, it's slightly inaccurate (and a potential security scare for eagle-eyed users) to suggest that the Github app isn't from Github.

### Version

**GitHub Desktop version:** 1.0.6
**OS version:** Mac OS X 10.12

### Steps to Reproduce

1. Open Desktop App for first time

[2017-11-02 23:10] oscdows commented on #1214
all programs 32 bit except chrome

[2017-11-02 23:17] oscdows commented on #1214
do anyone know how to get 64 bit win-7 on win-vista 32 bit for free that will be amazing

[2017-11-03 01:51] shiftkey commented on #3219
@gamkiller77

It's not clear to me what this means - what errors do you see in dev mode?

[2017-11-03 04:24] shiftkey commented on #3165
@AzgadGZ while GitHub Desktop does embed it's own version of Git, all the information here suggests this is related to [Git for Windows](https://git-for-windows.github.io/) and is reproducible.

I've still not been able to reproduce this, so I'd recommend opening an issue over on [their repository](https://github.com/git-for-windows/git/issues) and filling out their issue template. You'll likely g

[2017-11-03 04:27] gamkiller77 commented on #3219
Is there a way to show an image ?

Andy

[2017-11-03 04:39] shiftkey commented on #2623
@AlcaDesign the best theory I've got so far about your setup is that the trampoline script isn't returning any output, for some reason. I added #3007 to log whether there is a token is actually set for the user when we perform Git operations - if you are able to reproduce this with the latest version 1.0.6, could you attach a fresh log? This should provide some more insight.

[2017-11-03 04:42] shiftkey commented on #2623
@TiagoJoseMagalhaes I can reproduce the issue you are seeing using an account with a `(` in it.

<img width="775" src="https://user-images.githubusercontent.com/359239/32360817-8982f45c-c0ad-11e7-956c-67866fc2472c.png">

Let's see if I can put together a fix for it now.

[2017-11-03 05:02] AlcaDesign commented on #2623
@shiftkey

[code]

[2017-11-03 05:05] shiftkey commented on #2623
[code]

Aha, this looks interesting. Are you able to do the sign-in-and-out dance under the **File** | **Options* menu, and see if that fixes it for you?

I'm still not sure if the `The system cannot find the path specified` message is something I should worry about right now, but let's see if that gets you something different when you push changes...

[2017-11-03 05:10] AlcaDesign commented on #2623
@shiftkey Here are the logs that follow. Sign in, try to push, sign out, sign in, try again.
[code]

[2017-11-03 05:48] shiftkey commented on #2623
@AlcaDesign ok, so it's not that. Thanks for following up.

[2017-11-03 06:40] shiftkey commented on #2623
Some notes on @TiagoJoseMagalhaes's case which is very puzzling:

When cloning, `git-remote-https.exe` is supposed to spawn `cmd` with our batch file and environment variables setup:

<img width="314" src="https://user-images.githubusercontent.com/359239/32361686-d8744d78-c0b6-11e7-871c-2ef1f870b470.png">

The command it spawns looks like this, and it fails like this:

[code]

And this fails becau

[2017-11-03 07:49] dscho commented on #2623
Just a hunch: can you escape the parenthesis by a single backtick?

[2017-11-03 08:58] francisrath opened #3225 "Feature request: discard line/hunk"
### Description
I am very much missing the discard line/ discard hunk feature of SourceTree. Is there any way we could have a similar feature in GitHub Desktop?

### Version
**GitHub Desktop version:** 1.0.6
**OS version:** Microsoft Windows [Version 10.0.16299.19]

### Steps to Reproduce
For example a library update in a project overwrites the example bootstrap file, and you have lost your change

[2017-11-03 09:11] shiftkey commented on #2623
@dscho

[code]

[2017-11-03 09:38] SteveALee commented on #340
Here's a few comments from a user who immeditely noticed the missing shell when installing lastest.

I actually dont use GitHub Desktop much, it's more a quick way to install a bash on windows, as you mention. These days i mostly use VS Code's built in git support and the git lense extension, plus occaisional command line.

GitHub Desktop does still give me two useful things a) a one click clone f

[2017-11-03 09:44] SteveALee commented on #340
Oh PS, my bash config includes a SSH Agent so I don't have to keep supplying HTTP passwords.

[2017-11-03 11:20] romanfedyshyn commented on #2965
@niik and it's no way for build old-classic version on mac?

[2017-11-03 11:35] outcastdreamer opened #3227 "Github desktop refuses to work with cloned projects."
![github1](https://user-images.githubusercontent.com/31828694/32371909-b66273b6-c0b8-11e7-8ceb-e6dd26619acd.JPG)
![github2](https://user-images.githubusercontent.com/31828694/32371911-b6ce6b98-c0b8-11e7-9b8f-0c49368a1dd9.JPG)
I am very new to Github (as my profile makes it too obvious) so kindly go easy even if I sound dumb. I am unable to load projects or download on Github desktop if I choose "O

[2017-11-03 12:44] tierninho commented on #3227
@outcastdreamer Thanks for sharing. Can you add some details so our core team can help resolve your issue.

1. OS version

   command: `cmd /c ver`

2. GitHub Desktop version

`About GitHub Desktop` menu item.

3. Logs (if any)

Desktop: If you are on Windows, attach the most recent log file from:
   `%APPDATA%\GitHub Desktop\logs\*.desktop.production.log`

today's date.

[2017-11-03 13:19] dscho commented on #2623
@shiftkey you know what is really funny? I encountered the solution to your conundrum while working on the updater this past Monday, with a *slightly* related problem: I did not have to pass a path with a parenthesis, but a path with a space.

The thing is: quoting is real hard, especially with XP behaving differently than Vista and beyond. See https://stackoverflow.com/questions/8189553/how-to-ha

[2017-11-03 14:34] outcastdreamer commented on #3227
[logs.zip](https://github.com/desktop/desktop/files/1441344/logs.zip)
![github3](https://user-images.githubusercontent.com/31828694/32378735-880afe7a-c0d1-11e7-9f3f-561eff8d0f4a.JPG)
![github4 1](https://user-images.githubusercontent.com/31828694/32378736-8845b36c-c0d1-11e7-929b-8618bd37aed4.JPG)
@tierninho   Here I hope this helps. Btw I just updated Github Desktop from 1.0.4 to 1.0.6 and it seem

[2017-11-03 14:55] niik commented on #3224
Hi @sbonami, thanks for opening this.

While unfortunate and confusing this is currently expected behavior as the logic which determines what is classified as an app owned or operated by GitHub is based on the organization which published the application. In GitHub Desktop's case, being an open-source application, that organization is 'desktop'. The same goes for applications such as Atom.

[2017-11-03 14:55] #3224 closed

[2017-11-03 14:57] niik commented on #3227
@outcastdreamer Thanks for getting back to us. Glad to hear that it seems to be working now! Since the dialog you posted indicated that it was trying to launch 0.8.1 (a pretty old version) let's hope that was it. If this pops up again please let us know so that we can troubleshoot further.

[2017-11-03 14:57] #3227 closed

[2017-11-03 15:16] sbonami commented on #3224
Thanks for responding so quickly @niik. I figured as much!

[2017-11-03 16:33] gamkiller77 commented on #3219
Here I uploaded two screen caps. One is of the the problem i see of just nothing.  The second is with the dev window open with the app rendered and errors reported but filters out.

https://www.dropbox.com/sh/slerzw6o00revsg/AACTLsXWyXBLM68affasz3eda?dl=0

[2017-11-03 19:07] oktonion commented on #3034
@niik I appreciate your help, didn't expect that line endings are so special in git.

The point is that there is no git on QNX platform so I want my scripts to be LF-ended in Windows so I could just copy them to QNX and have no trouble with that. That answers your question about ruining my unix scripts - I assumed that git will allow me to have...lets say...binary identical files on any platform I

[2017-11-03 19:48] shiftkey commented on #2623
@dscho

![](https://media.giphy.com/media/fpXxIjftmkk9y/giphy.gif)

Thanks for the extra insight. I'll test that out and see if it flows through correctly when we set `GIT_ASKPASS`.

[2017-11-03 20:03] shiftkey commented on #3219
@gamkiller77

You can change the filter to "Verbose" to see these messages:

![](https://user-images.githubusercontent.com/359239/31917187-7d0c6954-b899-11e7-8460-dab1be9530ab.png)

I'm still interested in that first screenshot - if you can see what message it displays when it can't render the page, this should help us to troubleshoot the issue. The fact that it works fine in development mode is g

[2017-11-03 21:20] shiftkey commented on #2623
Tweaking my local setup, the environment variable now seems to be encoded right:

[code]

The error message differs, but I don't see it spawn a `cmd /c [blah]` now in procmon as it did before 🤷‍♂️ .

[code]

I'll get some more tracing into a dev version of Git here as I'm pretty sure `error: cannot spawn` is [this message](https://github.com/git-for-windows/git/blob/master/run-command.c#L814) from

[2017-11-03 22:56] dscho commented on #2623
FWIW I confused the escape characters. The backtick is Powershell's escape character, the caret is CMD's. From the error message, it looks, however, as if you called the .bat (with extra quotes) directly, rather than with `cmd /c`. Is that the case? If so, I would expect it to work much better *with* `cmd /c`...

[2017-11-04 00:04] shiftkey commented on #2623
@dscho we're setting the `GIT_ASKPASS` environment variable path to the batch file path (with no quoting currently, which is likely still part of the issue) and `git-remote-https` is invoking it when it requires authentication.

<img width="586" src="https://user-images.githubusercontent.com/359239/32400019-71b5bfa6-c14f-11e7-9c79-7841ad12dd02.png">

[code]

Looking at the latest version of [`prep

[2017-11-04 20:12] strafe opened #3233 "New repository behaviour doesn't match GitHub.com"
### Description

When creating a new repository through GitHub Desktop with the settings shown below an _"Initial commit"_ gets made for you, adding a default `.gitattributes` file _(which has no new line for whatever reason)_. However, when you create one through GitHub.com with the same settings you get a blank repository to work with. Personally I prefer it to be completely blank, I understand

[2017-11-04 20:48] gemal opened #3234 "exit code 1 received, with output: '/usr/bin/env: 'bash': No such file or directory'"
I keep getting:
`Commit failed - exit code 1 received, with output: '/usr/bin/env: 'bash': No such file or directory'`

I removed everything reinstalled and keep getting this.

Log says:
[code]

running versoin 1.0.6

I've installed Git 2.15.0 from here:
https://git-scm.com/downloads

what can I do to help/debug?

[2017-11-04 20:52] lovelynam27 commented on #3234
please send me domain websit or just do the same before ?

2017-11-05 3:48 GMT+07:00 Henrik Gemal <notifications@github.com>:

--
    Regards
Sirinart  Khongyadee

[2017-11-04 21:41] shiftkey commented on #3234
@gemal is there a `pre-commit` hook under `.git/hooks/` that is trying to run?

[2017-11-04 21:44] gemal commented on #3234
yes. I have actually no idea where it's coming from. Is that there by default or ? I never added it.

[2017-11-04 21:48] shiftkey commented on #3233
@strafe this is a behaviour that comes from the classic apps.

We differ from GitHub The Website because we want to avoid potential line endings issues, and so we'll add a simple `.gitattributes` file to the repository as part of the initial commit.

You can immediately undo this first commit if you want, but we recommend keeping this file around because it'll override whatever you have setup for

[2017-11-04 21:49] shiftkey commented on #3234
@gemal what's in the file? Maybe some tool has configured itself in this repository...

[2017-11-04 23:08] gemal commented on #3234
after removing the pre-commit file everything works just fine

[2017-11-04 23:08] #3234 closed

[2017-11-05 06:51] Swashbucklingfox commented on #1515
Thank you. Up + ENTER when i start. Better than than eye strain :)

[2017-11-05 13:21] Mangolicious opened #3236 "Give me the option to pause download or uploads to resume them later !"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-05 13:33] j-f1 commented on #3236
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-11-05 18:15] incace commented on #1515
@1j01 there is no way to have this automatically load on every launch is there?

[2017-11-05 21:13] #3236 closed

[2017-11-05 23:05] shiftkey commented on #3225
@francisrath thanks for the suggestion. I thought we already had something similar to this reported but couldn't find it.

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I added the `future-proposal` label to this issue and closed it so that we won't get overwhelmed with our ba

[2017-11-05 23:05] #3225 closed

[2017-11-05 23:22] shiftkey commented on #2623
There's also something really strange here with the caret (`^`) that I'm trying to get to the bottom of. Check this trace output:

[code]

I'll then try and force the clone of a private repository to use this environment variable:

[code]

Note what is being passed to `run_command`:

[code]

The caret is no longer present, which might explain why it still errors despite our best attempts to encode

[2017-11-06 02:21] 1j01 commented on #1515
@incace um, well... now that you mention it, there is a way... 😄

[code]

This should work until the next update, and then you can run it again.

[2017-11-06 07:13] putaojuice opened #3237 "Github Desktop doesn't open"
### Description

Github Desktop doesn't open after the first launch for github desktop. Github Desktop App runs in background process but the programme doesn't show up in desktop or taskbar. It is also not minimized.
After restarting the computer, I managed to open the app, as i closed it, Github Desktop will not open again. Seems like everytime after i restart i am able to on the app but after I

[2017-11-06 09:31] willmorgan commented on #2729
@alison985 Nah, I've just been creating my PRs on the web interface which populates for me. Going to give the new apps a try too.

[2017-11-06 10:33] Mangolicious commented on #3236
Description

Please add the feature to pause and resume downloads, when pushing or fetching, since it is essential for anyone with a limited internet connection.
Version

GitHub Desktop version: 1.0.6

OS version: Windows 7
Steps to Reproduce

- Start download
- Unable to pause or cancel download

Expected behavior: options to pause resume and cancel download

Actual behavior: Unable to pause or c

[2017-11-06 10:44] shiftkey commented on #3237
@putaojuice are you running multiple monitors? There's a couple of issues we're tracking like #2107 that probably require some fixes to Electron.

Could you also attach the `%APPDATA%\GitHub Desktop\window-state.json` file that exists on your machine? This probably hasn't been touched as part of the uninstall/reinstall experience, so it might have some interesting data to help us understand the pr

[2017-11-06 10:47] shiftkey commented on #3221
Could you tell me a bit more about this use case? I'm also curious how we'd expose this in the app - let me know what your thoughts were on this...

[2017-11-06 10:56] shiftkey commented on #3208
@ragoston out of curiosity, do either of the repositories you've encountered the problem with have hooks defined under `.git/hooks`? Maybe there's some code that's running as part of pushing that is being displayed as part of the `push` progress...

[2017-11-06 10:58] shiftkey commented on #3118
Closing this out due to inactivity.

@AhmadIbrahiim if you're able to find the logs from around this time please send them through - we're happy to revisit this issue and troubleshoot further.

[2017-11-06 10:58] #3118 closed

[2017-11-06 11:31] shiftkey commented on #3236
@Mangolicious unfortunately this is more of a Git limitation than something we can address in Desktop.

Git will compute what needs to be pushed whenever a branch updates - the blobs representing the content changes can be the expensive part - and it won't update the branch until it receives all those. This also occurs atomically - either the push completes or fails. I honestly haven't explored wh

[2017-11-06 11:49] shiftkey commented on #3113
Closing this out as inactive.

@flaminggenius if you can provide some more details about the issue and why the files might be marked as modified we'd be happy to help troubleshoot further.

[2017-11-06 11:49] #3113 closed

[2017-11-06 12:12] putaojuice commented on #3237
@shiftkey thanks for the reply! And nope i am not running on multiple monitors. I've tried the methods in #2107 it doesn't seem to work. I've also tried removing the window-state.json file but it also didn't work out.

[https://ufile.io/hcm5o](url)
here is the .json file in my computer.

[2017-11-06 15:06] flaminggenius commented on #3113
I wasn't sure how to provide more information but github provides a .got ignore template for unity and c# environments so that fixed it

On a side note maybe make a menu when we create a new locAL repositor to initialize with one of the mgitignore templates

[2017-11-06 16:27] Shining12 opened #3239 "..."
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-06 16:29] j-f1 commented on #3239
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-11-06 17:40] gamkiller77 commented on #3219
Yah when i switch to verbose all the errors clear but no data prints in the window like your screen shot.  Below is a link to the screen shot.

https://www.dropbox.com/s/f66i7obgmk6uz6h/Screen%20Shot%202017-11-06%20at%209.00.30%20AM.png?dl=0

[2017-11-06 19:27] fabsenet opened #3240 ""Open in Powershell" shortcut not possible on german keyboard"
I have a German keyboard and I cannot figure out what I should press to open the command line / powershell. strg+\` does not work. strg+shift+\` neither. On a German keyboard, you have to use shift to write a \` char.

Also: I can write a \` sign, but only if I either press it twice and delete one tick or I have to press it and then follow up with a space. While writing this, i played around. If I

[2017-11-06 20:54] scottnath opened #3241 "Request Release"
### Description

Team needs to add `upstream` repos via GitHub desktop. #3199 adds that functionality, but has not been released yet.

Could you please release a version of Desktop with the new features created by #3199?

### Version

**GitHub Desktop version:** 1.0.6
**OS version:** Mac 10.12.6

Thank you!

[2017-11-06 20:54] #3239 closed

[2017-11-06 21:12] joshaber commented on #3129
That's cold stalebot. Real cold.

[2017-11-06 21:19] fabsenet commented on #3240
I just noticed "open visual studio code" is strg+shift+a. I happen to have this as a system wide shortcut as i never encountered another app using this shortcut for something useful.

sooo, what about letting me and other users configure shortcuts in the program?

[2017-11-06 22:21] shiftkey commented on #3113
The details provided in the issue template (OS, version installed, repro steps) as well as a sample repository would have helped us to understand the issue better, but I'm glad you were able to fix it.

This is already an option to do when creating a new repository:

<img width="566" src="https://user-images.githubusercontent.com/359239/32466941-e1d58092-c39c-11e7-82be-07ec67f91d60.png">

[2017-11-06 22:29] sguthals opened #3242 "Desktop Authentication Failure on one file breaks clone from within app"
Running on Windows 10 Pro (installed GitHub Desktop 11/1/17):
Cloned a repo with submodules that are private (the VisualStudio repo).
The repo clones the files, then fails at the private submodule (Script)
Shows the Authentication Failure:
![screen shot 2017-11-02 at 2 47 49 pm](https://user-images.githubusercontent.com/1314285/32455377-f3d87824-c2d6-11e7-99fd-b67d30cd4efb.png)

Does not add the V

[2017-11-06 22:31] shiftkey commented on #3242
@sguthals nice find! For those who don't know, the repo has some [specific instructions](https://github.com/github/visualstudio#build) for initializing:

[code]

Desktop will specify `--recursive` when cloning to get all submodules, and any failure during the submodule clone is considered as a failure of the whole clone process.

[2017-11-06 22:34] shiftkey commented on #3241
@scottnath good shout - I'll do some testing a prep a release when I have the bandwidth!

[2017-11-06 22:37] aa369888 commented on #3241
＿謝謝

2017-11-07 6:34 GMT+08:00 Brendan Forster <notifications@github.com>:

[2017-11-06 22:39] shiftkey commented on #529
Revisiting this, I think this is too minor and should be rolled into more specific diff feature work down the track.

[2017-11-06 22:39] #529 closed

[2017-11-06 22:40] Linkupdated commented on #2874
Why was this closed? I still get that bug. Anyone has any idea how to fix?

[2017-11-06 22:44] j-f1 commented on #2874
@Linkupdated See my comment above:

[2017-11-07 00:32] #2895 closed

[2017-11-07 01:02] #3241 closed

[2017-11-07 01:27] shiftkey commented on #3241
`1.0.7` has been published!

[2017-11-07 02:56] zhangxue8848 opened #3245 "Have you read GitHub Desktop's Code of Conduct? By filing an Issue, you are expected to comply with it, including treating everyone with respect:"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-07 03:05] #3245 closed

[2017-11-07 06:12] akshayvinchurkar1 opened #3247 "error in installation of github desktop in windows 7 log"
[code]

[2017-11-07 08:19] shiftkey commented on #3247
@akshayvinchurkar1 thanks for the Squirrel log - I can't spot anything specific to the Desktop installer in the log, but this error is interesting, and suggests something unexpected about your setup:

[code]

Which version of Desktop are you trying to install? And could you run this command and attach the output to share which build of Windows you are running?

[code]

[2017-11-07 08:45] filipsobol opened #3249 ""GitHub Desktop failed to launch" after latest update"
### Description

"GitHub Desktop failed to launch" after latest update

### Version

**GitHub Desktop version:** 1.0.7
**OS version:** Windows 10.0.14393

### Steps to Reproduce

1. Restart GitHub Desktop app to install latest update (1.0.7)

**Expected behavior:** N/A

**Actual behavior:** App crashes right after opening

**Reproduces how often:** Always

### Logs

[code]

[2017-11-07 08:49] shiftkey commented on #3249
@filipsobol is there a specific repository you're using at this point? If it's a public repository it might help speed up troubleshooting.

cc @niik for :eyes: on where this might be lurking

[2017-11-07 08:51] filipsobol commented on #3249
Private BitBucket repo... unfortunately I can't check with other repos, because app crashes immediately:(

[2017-11-07 09:42] filipsobol commented on #3249
Looks like issue was caused by specific file, but I have no idea what caused it. I noticed what I could change previewed file right before app crashed and when I did, it worked until I selected this file again. I reverted all changes in this file and everything works fine.

¯\(°_o)/¯

[2017-11-07 10:02] shiftkey commented on #3249
@filipsobol first off, what sort of file is it?

[2017-11-07 10:05] filipsobol commented on #3249
PHP file, only few lines were changed.

[2017-11-07 10:08] shiftkey commented on #3249
@filipsobol any details help. I'll see if I can trigger it on my end with some sample PHP repositories.

[2017-11-07 10:50] filipsobol commented on #3249
I  found the cause of this - "**{$**" (opening curly brace followed by dollar sign). In PHP it's possible to concatenate string and variable like this:

```echo "Welcome {$name}s!"```

[2017-11-07 11:53] xmcp opened #3251 "Feature request: add "Unified | Split" switch for line diff"
There is a "Unified | Split" switch in the GitHub website.
I think there should be a similar option to show split line diff in the desktop client.

![image](https://user-images.githubusercontent.com/6646473/32492392-13d7cf0c-c3f5-11e7-890d-0c00101a85cc.png)

[2017-11-07 12:21] SeanTaylorVS commented on #3249
The same issue is happening for me. Can confirm that it happens when there is '**{$**' in a changed file.

[2017-11-07 13:23] emielvangoor commented on #3249
Same issue here, also with a `{$` in the changed file.

[2017-11-07 13:37] chunfeilung commented on #3249
Experiencing the same issue.

It only happens when `{$` is part of a string enclosed in double quotes, like @filipsobol already mentioned.

It doesn’t seem to cause a crash when `{$` is used in other ways like `'Welcome {$name}s!'` and `$foo->{$bar}`.

[2017-11-07 13:43] phawxby commented on #3249
Same problem, again with a PHP file and a change to string interpolation.

[code]

[2017-11-07 14:37] karenmt commented on #3249
Can confirm on Mac OS 10.13.1, version 1.0.7. It works fine if I remove the line with `{$`, but crashes with that line.

[2017-11-07 14:43] Giolegrand commented on #3249
i can also confirm that this is an real big issue, added a line that contained `{$` and now its stuck in a loop crashing on the files that have the `{$` in it.

[2017-11-07 14:59] niik commented on #3249
Thank you all for your help with this! I've been able to reproduce the problem. I'll update as soon as I have a fix or workaround for this.

[2017-11-07 15:52] tooomm opened #3252 "problem with upstream adding to forks"
### Description

![fork](https://user-images.githubusercontent.com/9874850/32501910-96816628-c3d9-11e7-99b6-f4a9f65d1333.png)

from https://github.com/desktop/desktop/pull/3199#issuecomment-342520769

### Version

**GitHub Desktop version:** 1.0.7

**OS version:** Microsoft Windows [Version 10.0.16299.19]

### Steps to Reproduce

1. Switch to a fork in desktop app
2. Popup appears, hit `Update`
3.

[2017-11-07 15:53] joshaber commented on #3252
Thanks @tooomm! Could you run `git remote -v` and paste the output in here?

[2017-11-07 15:56] tooomm commented on #3252
[code]

[2017-11-07 16:07] tweaker33 opened #3253 "failed to open application"
Error: Mode github-diff-syntax failed to advance stream.
    at at (app\node_modules\codemirror\lib\codemirror.js:1639:1)
    at dt (app\node_modules\codemirror\lib\codemirror.js:1693:1)
    at tt (app\node_modules\codemirror\lib\codemirror.js:1539:1)
    at C:\Users\laurens\AppData\Local\GitHubDesktop\app-1.0.7\webpack:\app\node_modules\codemirror\lib\codemirror.js:4063:24
    at Jr.iterN (app\no

[2017-11-07 16:08] nomanAdfenix opened #3254 "Rebasing Staging with master results in a push/pull indicator"
![rebaseissue](https://user-images.githubusercontent.com/28341249/32503313-312ada12-c3dd-11e7-849a-4652791b9922.PNG)

### Description

I have rebased my staging branch with master and after merging the code from master to staging I am facing Pull/Push Origin requests seen in the attached photo.

### Version

**GitHub Desktop version:** [1.0.7]

**OS version:** [windows 10]

### Steps to Reproduce

[2017-11-07 16:14] jiveshsg opened #3255 "GitHub desktop constantly crashing"
Error: Mode github-diff-syntax failed to advance stream.
    at at (app/node_modules/codemirror/lib/codemirror.js:1639:1)
    at dt (app/node_modules/codemirror/lib/codemirror.js:1693:1)
    at tt (app/node_modules/codemirror/lib/codemirror.js:1539:1)
    at nt (app/node_modules/codemirror/lib/codemirror.js:1584:22)
    at ft (app/node_modules/codemirror/lib/codemirror.js:1830:1)
    at At (app/no

[2017-11-07 16:23] j-f1 commented on #3255
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #2678. Please follow that issue for further updates.

[2017-11-07 16:24] j-f1 commented on #3253
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #2678. Please follow that issue for further updates.

[2017-11-07 16:24] scottnath commented on #3252
I am getting this too on enterprise:

![screen shot 2017-11-07 at 11 11 47 am](https://user-images.githubusercontent.com/216931/32504384-b20192aa-c3ad-11e7-9bef-4a71dd7d9b73.png)

I discovered that it is about the Capital letters. If I go into my git config and change my remote to use lower-case letters for the Organization name, then this problem is fixed and it can work with the upstream without

[2017-11-07 16:50] #3255 closed

[2017-11-07 16:50] #3253 closed

[2017-11-07 17:02] joshaber commented on #3252
@scottnath Yup, that's exactly right! I've opened #3256 to fix this. We should have an update out later today.

[2017-11-07 17:19] #3252 closed

[2017-11-07 17:46] IdanAdar opened #3257 "Beta stream for GitHub Desktop?"
Is the a beta stream for GitHub Desktop for early build access?
If not, how does one build locally?

[2017-11-07 18:07] j-f1 commented on #3257
See [`docs/contributing/setup.md`](https://github.com/desktop/desktop/blob/master/docs/contributing/setup.md)

[2017-11-07 18:59] #3249 closed

[2017-11-07 19:50] OzanKurt opened #3259 "Mode github-diff-syntax failed to advance stream."
### Description

I have no idea why this happens. It used to work 15 minutes ago.

[code]

[2017-11-07 19:53] OzanKurt commented on #3249
I confirm that the `{$` is the problem.

Changed this:
[code]
to this:
[code]

and it started working...

[2017-11-07 19:55] ShonM commented on #3259
Same as above. Updated, now any time it displays a diff it crashes.

[code]

[2017-11-07 19:58] j-f1 commented on #3259
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #3249. Please follow that issue for further updates.

We’re working on getting the fix for this out ASAP.

[2017-11-07 20:12] #3259 closed

[2017-11-07 20:20] ragoston commented on #3208
@shiftkey Sorry for the delay in response.
The first I have seen the error with (our school project), I already posted a screenshot of the `.git/hooks` folder. The other one, Unity decompiled has no such folder, not even on the cloned repo on my machine.
Did I misunderstand the question?

[2017-11-07 20:22] happywino opened #3260 "Error "Unknown error (0x80092013)" on push/pull to Enterprise instance"
### Description

Unknown error (0x80092013)

### Version

**GitHub Desktop version:** Was 0.8, issue started after upgrading to 1.0.7

**OS version:** Windows Server 2012 R2 DataCenter Edition

### Steps to Reproduce

1. Attempt to push or pull to/from Enterprise repository

**Expected behavior:** Push/Pull completes without error

**Actual behavior:** Error from developer console:

`git -c creden

[2017-11-07 20:37] j-f1 commented on #3260
Thanks for reporting this!

Do https://github.com/dear-github/dear-github/issues/267 and https://github.com/desktop/desktop/issues/2187#issuecomment-313309981 help you?

[2017-11-07 20:48] joshaber commented on #3249
We just released 1.0.8 with the fix. Thank you all for reporting it and your patience as we fixed it 💖

[2017-11-07 21:17] shiftkey commented on #3254
@nomanAdfenix could you open the repository in a shell at the point where you see this count, run these two commands and attach the output?

[code]

It's hard to say what exactly is happening here, but let's see what Git is reporting about your `master` branch and we can go from there...

[2017-11-07 21:25] shiftkey commented on #3260
The version of Git embedded in Desktop uses the Windows SChannel APIs for validating certificates as part of the HTTPS handshake. We've had various reports of this failing due to other tools being installed alongside, like anti-virus programs. As @j-f1 suggested, see what else you have installed that might be interfering.

As a workaround, you can revert to the classic OpenSSL behaviour by opening

[2017-11-07 21:39] shiftkey commented on #3251
@xmcp thanks for the request. I knew we were tracking this somewhere already, so please follow along with #172.

[2017-11-07 21:39] #3251 closed

[2017-11-07 21:56] shiftkey commented on #3254
Could you also include the commands you ran here, so it's clear how you're rebasing branches to end up in this state?

[2017-11-07 22:05] shiftkey commented on #3247
@akshayvinchurkar1 the installer we use for Desktop depends on the .NET Framework, and it looks like there are some initialization issues when it tries to launch.

Could you try [repairing your install of the .NET Framework](https://www.microsoft.com/en-us/download/details.aspx?id=30135), and if that doesn't change things maybe repairing Windows?

[2017-11-07 22:11] 50Wliu commented on #295
(Thanks @shiftkey to linking me here!)
I say that if this is going to be implemented, I would like it to recognize pull request templates so as to reduce maintainer burden.

[2017-11-07 22:13] shiftkey commented on #3206
@tierninho I think that's the progress message whenever a push/pull/fetch is happening, which is separate to this. But I still favour @niik's idea of making it more concise to avoid the need for a tooltip.

[2017-11-07 22:14] shiftkey commented on #295
@50Wliu also tracked in https://github.com/desktop/desktop/issues/1930

[2017-11-07 22:33] shiftkey commented on #3151
The closest thing I can think of is our zoom indicator, which displays in the center of the screen:

<img width="975" alt="screen shot 2017-11-08 at 9 31 17 am" src="https://user-images.githubusercontent.com/359239/32521453-acf99f90-c467-11e7-9ebb-4e24a9521166.png">

We might be able to repurpose some of it. I'll add `needs-design-input` here to get some UX feedback whenever they have bandwidth -

[2017-11-07 22:40] happywino commented on #3260
Disabling the AV on this system didn't help.

I'm no PKI expert but doesn't the fact that IE can connect on the same machine suggest that the issue isn't tied to the certs themselves?

[2017-11-07 23:15] happywino commented on #3260
Pulled these from the logs in the hope it helps;

Sometimes there is a long timeout (like above) but the majority of the time the error comes back pretty much instantaneously.

[2017-11-07 23:44] shiftkey commented on #3260
It's not tied to the certs, but to how `curl` (the part of Git responsible for everything HTTPS-related) is using SChannel.  [This mailing list thread has some additional context](https://curl.haxx.se/mail/lib-2016-03/0202.html):

I've had some reports of this but not enough details to recreate the issue on my end - whether it's related to something installed on the user's machine or something on

[2017-11-08 00:21] shiftkey commented on #3208
@ragoston apologies, I totally forgot that I'd asked you the same question last week.

Let's try a manual push and see if that does anything interesting. I'm assuming you have [Git for Windows](https://git-for-windows.github.io/) installed - if you don't, could you do that first?

Then open a **Command Prompt** to this repository, run these steps and attach the output here:

[code]

You might be p

[2017-11-08 00:31] shiftkey commented on #3182
This is really interesting, because these two scenarios are slightly different:

 - publishing a new repository uses `api.github.com`, a token created by Desktop as part of the OAuth dance, and potentially proxy settings defined by the OS
 - pushing commits uses `github.com`, the same token created by Desktop and proxy settings defined by Git (long story)

@fr51 have you been able to push branches

[2017-11-08 00:37] happywino commented on #3260
After a little digging I discovered [this article](https://blogs.msdn.microsoft.com/ieinternals/2011/04/07/understanding-certificate-revocation-checks/) that explains that IE suppresses any error if it fails to reach the CRL/OSCP URL, and proceeds as if nothing happened (rational being there's nothing the user can do anyway).  I applied the registry setting that re-surfaces the warning when this h

[2017-11-08 00:51] shiftkey commented on #3260
The previous version of GitHub Desktop does not use SChannel, but uses OpenSSL library. This worked for Enterprise because we did the heavy lifting to merge certificates from the Windows Certificate Store into the OpenSSL bundle that our version of Git would then use. That's no longer present, because we are now using SChannel which is backed by the Windows Certificate Store.

Not currently. I'd r

[2017-11-08 01:44] happywino commented on #3260
Switching to openssl resolves the issue, as does this .gitconfig addition

[2017-11-08 01:45] Nzar-Kurdish commented on #1525
Github Desktop Worked On Backbox5.1 (ubuntu 16.4) THANKS!

[2017-11-08 01:46] shiftkey commented on #3260
@happywino without more information to reproduce this issue I'm going to have to close this out.

Let me know if there's anything more you can provide about what might be responsible for interfering with the revocation checks in your environment.

[2017-11-08 02:21] akshayvinchurkar1 commented on #3247
@shiftkey yup this is case actually windows updates are not properly installed on my system some of them are failed that's why this happened i realised that after raising issue now its installed and working great thanks

[2017-11-08 02:21] #3247 closed

[2017-11-08 02:27] shiftkey commented on #3111
I think this is by design, as all the redirection is occurring in the browser. It's not clear to me what the correct behaviour should be, because we should be encouraging forks to target the upstream repository.

As of `1.0.8` we open this URL for "Compare on GitHub" for a forked repository:

[code]

This is redirected so that it compares the branch on my fork to the upstream default branch:

[cod

[2017-11-08 02:34] shiftkey commented on #3168
I've added some fixes in `1.0.7` to log which URL we send to the browser for either menu item - so it'd be nice to confirm that we're sending the right value.

[2017-11-08 03:31] yoyosamako opened #3262 "readme"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-08 03:53] whackdev commented on #3182
I am having this issue as well. I have confirmed my Git settings are the same I use on the GitHub website. I just started using Git on Windows so I thought I was doing it wrong. I searched my issue and saw that GitHub Desktop is the preferred method so I downloaded version 1.0.8 this evening and followed the configuration steps and double checked them in cmd.

I receive this error in the log when

[2017-11-08 04:09] empgithub commented on #3123
@shiftkey sorry, was out of office last week.

Ran your command in both cmd and powershell (standard and admin) and got the following output:
C:\Users\Mihnea Popescu> C:/Windows/System32/reg.exe QUERY "HKEY_CURRENT_USER\\Software\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\atom"
ERROR: Invalid key name.
Type "REG QUERY /?" for usage.

So I don't quite get your output. What's next?

[2017-11-08 05:07] #3262 closed

[2017-11-08 05:09] shiftkey commented on #3123
@empgithub can you use double-quotes in the string? I think that's what the error is complaining about...

[2017-11-08 05:45] empgithub commented on #3123
@shiftkey I did use the double backslash, for some reason it got transformed into single backslash when I pasted it in the body of the comment. I basically copied and pasted your string into both cmd and powershell.

But let me show you something even funnier. I did my due diligence and re-ran your command in cmd. Here is the funny output.

C:\Users\Mihnea Popescu> C:/Windows/System32/reg.exe QUER

[2017-11-08 05:50] empgithub commented on #3123
@shiftkey I pasted your command into cmd and powershell, so it got run with the double double backslash. Somehow the double backslash vanished when I pasted the output in the postboard. Let me try to do it again. Here is the output:

C:\Users\Mihnea Popescu>C:/Windows/System32/reg.exe QUERY "HKEY_CURRENT_USER\\Software\\Microsoft\\Windows\\CurrentVersion\\Uninstall\\atom"
ERROR: Invalid key name.

[2017-11-08 05:52] empgithub commented on #3123
@shiftkey And they vanish after posting the message. So that solves the double backslash issue. We are still left with the main one.

[2017-11-08 06:04] empgithub commented on #3123
Just as a cross-check. The HKey in your string is there on the machine, I checked it manually using regedit. Not sure if it is of any help, but here is its content:

Key Name:          HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Uninstall\atom
Class Name:        <NO CLASS>
Last Write Time:   26-Oct-17 - 16:46
Value 0
  Name:            DisplayIcon
  Type:            REG_SZ
  Data:

[2017-11-08 06:15] sjw1357 commented on #3249
crash then restart, then crash, then restart~~  =.= , os: win10 X64

[2017-11-08 06:17] SilverFoxA opened #3263 "The user name or passphrase you entered is not correct."
### Description

Trying to connect to GitHub Desktop on Mac OS High Seria but fails to connect and provides a pop-up screen with the following message "The username or passphrase you entered is not correct".

### Version

**GitHub Desktop version:** 1.0.8

**OS version:** Mac OS 10.13

### Steps to Reproduce

1. Download GitHub desktop from the official website
1. Click on Clone repo or preference

[2017-11-08 07:41] niik commented on #3249
@sjw1357 If you're unable to launch GitHub Desktop it's not going to automatically update itself to the version which contains the fix for this issue. What's likely happening is that you've got a file with a change which triggers the bug in the repository that you last opened in GitHub Desktop. I can see a few ways to get around the problem.

 - Temporarily rename the folder where your repository

[2017-11-08 09:14] ragoston commented on #3208
It was a successful push. No error, nothing interesting. I made a `.txt` file named "asd" in the master (added by explorer) and the desktop app detected it. Then commit successful. Then opened git bash on the explorer folder of the repo on my disk, typed what you wrote me to type, 1-2 secs of waiting and success :/

[2017-11-08 09:49] sanjayameher opened #3264 "how to set proxy in github desktop. I am getting the error Could not resolve host: github.com"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-08 09:51] tierninho commented on #3264
@sanjayameher  user-name thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half wa

[2017-11-08 09:51] #3264 closed

[2017-11-08 10:38] sanjayameher commented on #3264
can you pls let me know which template you want

[2017-11-08 10:41] j-f1 commented on #3264
@sanjayameher If you click the edit button on the first comment of the issue, there should be instructions on filling out the parts of the template in [].

[2017-11-08 12:00] fr51 commented on #3182
@shiftkey I'll answer you once I'll make a try this weeekend.

[2017-11-08 12:51] ViRGiL175 opened #3266 "Git Console UI integration"
### Description

Is it possible to integrate Git Bash (or any other terminal) in the GitHub Desktop UI?

I like to use Git Bash, and I created pretty graph alias etc. But it is awesome: to view diffs or do interactive adding through GitHub Desktop UI.

But it is still unhandy for more complex operations and for commits tree analyzing.

And the best compromise I see: to integrate console right insi

[2017-11-08 12:54] j-f1 commented on #3266
Thanks for contributing @ViRGiL175!

Although this might not be what you’re looking for, <kbd>Ctrl</kbd>+<kbd>`</kbd> will open your terminal to the repository you have open in Desktop.

[2017-11-08 13:04] ViRGiL175 commented on #3266
Yes, I'm tryin' to do it in this way, but single window is a single window, you know :)

[2017-11-08 13:38] niik commented on #3266
Hey @ViRGiL175, thanks for opening this. I'm going to close this out in favor of https://github.com/desktop/desktop/issues/1586 so please subscribe to that issue.

[2017-11-08 13:38] #3266 closed

[2017-11-08 14:53] nivanmorgan opened #3270 "New update to 1.0.7 crashes on Win10"
I got a notification to update my Github desktop yesterday and after  I updated it crashes every time I open it. This is the error I get

Error: Mode github-diff-syntax failed to advance stream.
    at at (app\node_modules\codemirror\lib\codemirror.js:1639:1)
    at dt (app\node_modules\codemirror\lib\codemirror.js:1693:1)
    at tt (app\node_modules\codemirror\lib\codemirror.js:1539:1)
    at C:\

[2017-11-08 15:04] strafe commented on #3270
See #3249 and @niik's [comment](https://github.com/desktop/desktop/issues/3249#issuecomment-342735764) on how to upgrade if you're stuck.

[2017-11-08 15:22] nivanmorgan commented on #3270
@strafe  thanks

[2017-11-08 15:44] MilesRomney commented on #2874
(The current version of the Slack app for Windows 10 does indeed exhibit this problem.)

[2017-11-08 15:45] Jenna3715 commented on #3125
@shiftkey With the sign in flow, I tried both Firefox and Edge, but it failed with both. Also, my computer has Kaspersky Anti-Virus installed, and is working under a policy, so it's not very easy to turn it off.

[2017-11-08 15:55] photonstorm commented on #2874
Which version? I have 2.8.2 64-bit Direct Download installed on Windows 10 and it never does it. According to 'Check Updates' it's the latest build.

[2017-11-08 16:03] nomanAdfenix commented on #3254
I'll do it the next time I do the rebase and update the thread.

On Tue, Nov 7, 2017 at 10:18 PM, Brendan Forster <notifications@github.com>
wrote:

[2017-11-08 16:10] MilesRomney commented on #2874
And this is interesting (I know this isn't a Slack-specific thread, but I mention this behavior in case it informs broader efforts to address this issue in Desktop or Electron):

If I open the "About Slack" modal, then minimize the main window, then close the modal, I will never see the sticky "Minimize" tooltip again until Slack restart.

If, on the other hand, I close the modal while the main wi

[2017-11-08 16:33] povargek commented on #3270
+ same

[2017-11-08 16:36] joshaber commented on #3270
This has been fixed in 1.0.8. As @strafe noted, see #3249 and @niik's [comment](https://github.com/desktop/desktop/issues/3249#issuecomment-342735764) on how to upgrade if you're stuck.

[2017-11-08 16:36] #3270 closed

[2017-11-08 16:51] photonstorm commented on #2874
I'll install the Beta and test it, although I really don't want _two_ apps I use daily messing up like this! The tooltip should just be removed entirely until this is resolved imho.

(I'm also not convinced it's a pure electron issue, or it would manifest in the electron quick start example, but it doesn't - it must be a mixture of how electron is being skinned, which I guess is why the electron d

[2017-11-08 17:08] j-f1 commented on #2874
@photonstorm

You’re right! Because Desktop integrates the menu into the titlebar, we have to generate the control buttons ourselves. This means that they are actually [three `<button>`s](https://github.com/desktop/desktop/blob/3f10f09dcca953b01222547bf81af6032ae4f31a/app/src/ui/window/window-controls.tsx)

[2017-11-08 18:21] kashifnasim opened #3272 "Can't access the repository from github-desktop"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-08 18:47] romanddimov commented on #2258
This was happening to me, and I noticed that instead of using the directory I wanted, it was taking my whole user. I just deleted the git tracking on the user directory and it fixed everything

`rm -rf .git`

hope this helps

[2017-11-08 18:57] #3272 closed

[2017-11-08 19:12] saiKumarGanji opened #3273 "Feature to see the diff between two branches"
In Stash Website, We can see the diff changes between 2 branches.
Can we get this feature in Github Desktop.

[2017-11-08 19:23] photonstorm commented on #2874
I still believe this issue should be re-opened. Waiting for the Electron team to fix it will never happen imho, because it doesn't manifest if you use Electron 'normally' :(

[2017-11-08 19:26] shiftkey commented on #3273
@saiKumarGanji I'm not familiar with Stash Website. Would the "Compare on GitHub" button, which opens a browser to a page like [this](https://github.com/desktop/desktop/compare/master...desktop:i-hate-you-registry-with-the-fire-of-a-thousand-suns) be equivalent? Or is there stuff missing?

[2017-11-08 19:28] shiftkey commented on #3123
@empgithub that's really strange behaviour from `reg.exe` - sounds like moving away from it in #3209 will also address this for you. Thanks for the additional troubleshooting!

[2017-11-08 19:36] shiftkey commented on #3263
@SilverFoxA a couple of questions to help reproduce the issue:

Can you share a screenshot of the dialog you used to enter your credentials? I want to confirm it's the GitHub flow and not the generic account flow.

Also, does your account have 2FA enabled?

[2017-11-08 20:11] lom-chargebacks opened #3274 "Catastrophic error with new version"
Error: Mode github-diff-syntax failed to advance stream.
    at at (app\node_modules\codemirror\lib\codemirror.js:1639:1)
    at dt (app\node_modules\codemirror\lib\codemirror.js:1693:1)
    at tt (app\node_modules\codemirror\lib\codemirror.js:1539:1)
    at \AppData\Local\GitHubDesktop\app-1.0.7\webpack:\app\node_modules\codemirror\lib\codemirror.js:4063:24
    at Jr.iterN (app\node_modules\codem

[2017-11-08 20:14] strafe commented on #3274
See #3249 and @niik's [comment](https://github.com/desktop/desktop/issues/3249#issuecomment-342735764) on how to upgrade if you're stuck.

[2017-11-08 20:20] lom-chargebacks commented on #3274
https://github.com/desktop/desktop/issues/3249#issuecomment-342735764 - Downloading and reinstalling the app fixed the issue.

[2017-11-08 20:20] #3274 closed

[2017-11-08 20:56] shiftkey commented on #3257
Not through a public URL. I think @desktop/core is :thumbsup: to enabling this - I've proposed a change to support this on our backend, and then I'll update the documentation to share where this can be found. Stay tuned!

[2017-11-08 21:06] digitalmaster opened #3276 "Double clicking file should Open in Default Program"
### Description

Just figured this is something that others might like to have as well. Right now to open a file I always just right click and select "Open with default program" -- nothing happens when I double click so would be nice to make that the default double click behavior 😬

### Version

**GitHub Desktop version:** 1.0.8

**OS version:** 10.13 (17A405)

### Steps to Reproduce

1. Make a ch

[2017-11-08 21:25] shiftkey commented on #2874
As the [original Chromium issue suggests](https://bugs.chromium.org/p/chromium/issues/detail?id=724538), it's a combination of using a tooltip and triggering a certain sequence of window messages (which can occur when you force the window to minimize) that reproduces this.

It's good to know it's not just Desktop that is encountering this, but we would still need to patch Electron to fix this prop

[2017-11-08 22:20] shiftkey commented on #3263
@SilverFoxA actually, it looks like this error is really helpful:

[code]

The source of this error is this function, which is interoperating with the keychain:

https://github.com/desktop/desktop/blob/7412eda2bb171f1eabd3a25f4c5a959e9592eaea/app/src/lib/stores/accounts-store.ts#L96-L106

Could something in High Sierra be restricting access to the keychain?

[2017-11-08 22:23] #3260 closed

[2017-11-08 22:40] shiftkey commented on #3240
I can reproduce this when enabling a German keyboard. I've not looked at how we can detect the current keyboard layout from inside an Electron app, but that would be a blocker for us to consider any keyboard-specific changes like this.

Currently these are all baked into the menu structure:

https://github.com/desktop/desktop/blob/master/app/src/main-process/menu/build-default-menu.ts

We're track

[2017-11-08 22:49] happywino commented on #3260
@shiftkey I think in my case at least, the system in question cannot reach the revocation server due to intentional network restrictions.

That being said, I don't think that should prevent the internal use of the tool, it seems an option to allow the revocation check to be skipped for individual sites should be allowed for cases like this.  I'm new to the open source world, should I write this up

[2017-11-08 22:56] shiftkey commented on #3219
@gamkiller77 are you able to bring up the dev tools when the blank window appears using <kbd>Alt</kbd> + <kbd>⌘</kbd> + <kbd>I</kbd>? All the other screenshots seem to be related to the working app.

[2017-11-08 23:06] shiftkey commented on #3208
@ragoston could you attach the output from the successful push?

Another thing that maybe we've overlooked - configuration. **From within the repository,** could you run this command and attach the output here:

[code]

I'm still trying to figure out where this message is coming from, and I'm running out of places it might be lurking...

[2017-11-08 23:08] gamkiller77 commented on #3219
Yes I can get the dev tool to open up.  With the Dev tool open the app kinda renders abut the Dev info bar on the right dose not render.

I have opened a case with Parallels at this point to see what is going on.  As i have screen rendering problems with Chrome too.

[2017-11-08 23:11] shiftkey commented on #3219
If you're able to get to the console and see if there are errors we might be able to workaround it.

Electron and Chrome share some common roots, so maybe this is something that we can't quite fix in the app.

[2017-11-08 23:44] gamkiller77 commented on #3219
That is great info to share with Parallels Support thanks.

[2017-11-09 01:40] e1399579 opened #3279 "搜索框不好用search input don't well work"
使用中文转入法，然后每个字母都会重复好几遍，根本没法打字，version 1.0.8
With chinese input,every char repeat,not expect

[2017-11-09 01:53] shiftkey commented on #3279
@e1399579 could you share some screenshots or more information about how you are using the app to trigger this issue?

[2017-11-09 02:37] empgithub commented on #3123
@shiftkey I cheched the group policy manually on my machine, and indeed the setting preventing access to registry editing tools is in place as described in #3209. But now I am at a loss. What am I supposed to do to fix it? As I mentioned earlier, I am not a programmer, so after reading the #3209 I don't feel any wiser. Please do advise.

[2017-11-09 03:26] shiftkey commented on #3123
You shouldn't have to do anything. I just need to wrap up the PR and get it out in an update.

[2017-11-09 03:27] shiftkey commented on #3123
Closing this out as it's the same root cause as #3105 and is being addressed in #3209

[2017-11-09 03:27] #3123 closed

[2017-11-09 05:51] xxjapp commented on #3112
@joshaber
Why? Could this feature be fixed again?

[2017-11-09 08:06] nomanAdfenix commented on #3254
![snapshot1](https://user-images.githubusercontent.com/28341249/32594654-2485679a-c52d-11e7-9dff-51c00566e5fd.PNG)
![snapshot2](https://user-images.githubusercontent.com/28341249/32594655-24a41d70-c52d-11e7-94e2-df126c43e7f3.PNG)
![snapshot3](https://user-images.githubusercontent.com/28341249/32594656-24c0eb44-c52d-11e7-864e-29698f7c3881.PNG)

I am attaching the snapShots in order from 1-3. I hope

[2017-11-09 10:01] tierninho commented on #3273
This looks to be the feature:

![stash3blog_comparebranch](https://user-images.githubusercontent.com/14828183/32599574-444e2372-c53d-11e7-851d-8b24978790bd.png)

[2017-11-09 10:06] tierninho commented on #3077
Note, the archive repo feature has now been released to all users.

[2017-11-09 10:12] MuhammadFaizanKhan commented on #2789
Any progress I am getting this error behind proxy.?

[2017-11-09 12:06] tierninho opened #3281 "cannot checkout a ref which exists on multiple remotes"
When I try to switch branches on my forked repo, i get an error message for each attempt.

```install.ts:23 `git -c credential.helper= checkout --progress gh-pages --` exited with an unexpected code: 128.
fatal: invalid reference: gh-pages```

<img width="934" alt="screen shot 2017-11-09 at 12 59 34 pm" src="https://user-images.githubusercontent.com/14828183/32604587-676d57ae-c54e-11e7-96a7-4d49c5

[2017-11-09 14:17] qq776789331 opened #3282 "1"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-09 14:20] brunoaugusto opened #3283 "Read repositories' user.name and user.email for Options -> GIT"
I tried to find an already opened issue for that but I couldn't find one given how generic the subject may be, so:

Would it be possible to read the configuration entries `user.name` and `user.email` from a Repository when changing the Current Repository?

So far the only way I figured to do so before committing something was to manually set these information through File -> Options -> GIT. And of

[2017-11-09 14:25] j-f1 commented on #3282
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-11-09 14:47] TMJesso commented on #3237
I am also having the same problem. Here is the info when it crashes:

Error: Mode github-diff-syntax failed to advance stream.
    at at (app\node_modules\codemirror\lib\codemirror.js:1639:1)
    at dt (app\node_modules\codemirror\lib\codemirror.js:1693:1)
    at tt (app\node_modules\codemirror\lib\codemirror.js:1539:1)
    at %AppData%\Local\GitHubDesktop\app-1.0.7\webpack:\app\node_modules\codem

[2017-11-09 14:50] j-f1 commented on #3237
@TMJesso That’s actually a different issue — see #3249 and @niik’s [comment](https://github.com/desktop/desktop/issues/3249#issuecomment-342735764) on that issue about how to upgrade to get the fix for it.

[2017-11-09 15:21] #3282 closed

[2017-11-09 15:21] #1766 closed

[2017-11-09 15:37] joshaber commented on #3112
Potentially, yes. We're exploring add Gravatar support back in https://github.com/desktop/desktop/issues/821.

[2017-11-09 20:14] shiftkey commented on #3273
@saiKumarGanji cool, that looks very similar to our `Compare on GitHub` flow. Please try it out and see if there's anything more we can do around that area.

[2017-11-09 20:14] #3273 closed

[2017-11-09 20:58] shiftkey commented on #3254
@nomanAdfenix I think the issue is this step:

[code]

This takes the current ref you are on (in this case, master) and rebases it **on top of `Staging`**, using the common ancestor commit for both refs as the base.

I was able to reproduce this by running a similar command against the `desktop` repo (after resolving many conflicts):

[code]

I believe Desktop is reporting the right numbers here f

[2017-11-09 21:05] Mlocik97-issues opened #3285 "[BUG] If I select another branch, code will not change to code in this branch..."
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-09 21:05] #3285 closed

[2017-11-09 21:06] shiftkey commented on #3285
@Mlocik97-issues we require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2017-11-09 21:18] shiftkey commented on #3283
I'm not sure I understand this question, so I'll talk a bit about what Desktop does currently.

Desktop sets `user.name` and `user.email` globally as part of the Welcome Wizard or when you update values in under the Git menu in the Options view. This means we interoperate nicely with other Git tools on your machine.

You can override this global value in a local repository by specifying different

[2017-11-09 21:28] Mlocik97-issues opened #3287 "[BUG] If I change branch, code in folder will still from previous branch."
### Description

I select another branch, code will still from previous branch.

### Version

**GitHub Desktop version:** 1.0.8

**OS version:** Windows 8.1

### Steps to Reproduce

1. Change some code
1. Select/chant another branch
1. Code will still

**Expected behavior:** Code change also

**Actual behavior:** Code still

**Reproduces how often:** 100%

### Logs

#### Additional Information

Ed

[2017-11-09 21:33] shiftkey commented on #3287
@Mlocik97-issues when switching branches, Git will error if there are modified changes in the repository that will be overwritten with changes in the destination branch.

If there are no issues, Git will happily bring across those changed files. This is by design.

If you want to discard all your changes, simply right-click the "XX changed files" text and select "Discard All Changes":

<img width=

[2017-11-09 21:42] #3257 closed

[2017-11-09 21:42] Mlocik97-issues commented on #3287
It's designed very bad,.. In the original Github for desktop it was better, the changes were postponed/putted away in the branch, and opened the code in the branch, and after returning back to the first branch the code returned.

[2017-11-09 21:47] shiftkey commented on #3287
@Mlocik97-issues are you referring to the classic Mac or Windows version?

[2017-11-09 21:50] shiftkey commented on #3287
Please provide more detailed reproduction steps (and screenshots if it helps) from either the current Desktop app or the old app - it's not clear to me what the expected behaviour is, and how this differs from Git itself.

[2017-11-09 21:56] Mlocik97-issues commented on #3287
In old Github desktop app:

https://youtu.be/BKr8lbx3uFY?t=12m2s

(How Expected)

[2017-11-09 21:59] Mlocik97-issues commented on #3287
I will try find old screenshot, or how it worked in old app

[2017-11-09 22:08] j-f1 commented on #3287
I think @Mlocik97-issues is referring to magic stashing (#1633).

[2017-11-09 22:10] Mlocik97-issues commented on #3287
@j-f1 yes,...

[2017-11-09 22:18] Hacklesss commented on #2838
I fix that with rename file name compatible with Windows. I mean I had a file as "android:id" and I was getting this error message. After 5-10 minutes I noticed that ":" is not usable in Windows. When GitHub desktop trying to fetching file, system reject this ":"  symbol. Maybe your problem is about that.

[2017-11-09 22:24] shiftkey commented on #3287
Cool, then please follow along with #1633.

[2017-11-09 22:24] #3287 closed

[2017-11-09 22:37] Mlocik97-issues commented on #3287
but #1633 is closed.

[2017-11-09 22:39] Mlocik97-issues commented on #1633
I really need this feature so much... I am considering to download gitkraken

[2017-11-09 22:39] shiftkey commented on #3287
@Mlocik97-issues please read this comment: https://github.com/desktop/desktop/issues/1633#issuecomment-312100507

[2017-11-09 23:00] joshlangner commented on #2107
I've also been able to reproduce the issue on my Windows 10 environment. The only solution was to delete the file `%APPDATA%\GitHub Desktop\window-state.json`, per the discussion over here: https://github.com/desktop/desktop/issues/2893

[2017-11-09 23:32] SidneyNemzer commented on #1594
In the native version, `Enter` would create the commit if the summary input was focused. If the description was focused it would create a new line.

I'm so used to hitting `Enter` in the summary box. It would be great if `Ctrl` + `Enter` vs just `Enter` in the summary box was configurable at least.

[2017-11-10 00:49] say25 opened #3289 "Open In Shell Not Working"
### Open In Shell Not Working

**GitHub Desktop version:** [1.0.9-beta0]

**OS version:** [Windows 10.0.15063]

### Steps to Reproduce

1. Clone Repo
1. Use open in shell command.
- Also of note `open without Git` button also does nothing

**Expected behavior:** GitBash here works

**Reproduces how often:** 100%

### Logs

[2017-11-10.desktop.beta.log](https://github.com/desktop/desktop/files/1459

[2017-11-10 00:55] shiftkey commented on #3289
@say25 thanks for the details.

The check we do here is to see if Git exists on your path. If you installed Git after launching Desktop then it won't have received a refreshed `PATH` environment variable, which might explain it's confusion.

Can you open a plain Command Prompt, run this command and attach the output:

[code]

After that, can you see if relaunching Desktop and trying to open the re

[2017-11-10 00:58] say25 commented on #3289
I've had Git installed for 1 year+, I was just trying to practice keyboard yoga and ran into this issue.

`echo %PATH%` output:

Microsoft Windows [Version 10.0.15063]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\Users\syeh>echo %PATH%
C:\ProgramData\Oracle\Java\javapath;c:\oracle\product\11.2.0\client64\bin;c:\oracle\product\11.2.0\client32\bin;C:\Program Files (x86)\Intel\iCLS Client

[2017-11-10 01:04] shiftkey commented on #3289
`C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Git`

This isn't the path you want. It should be `C:\Program Files\Git\cmd` or `C:\Program Files (x86)\Git\cmd` depending on which version you have installed.

[2017-11-10 01:09] say25 commented on #3289
Tried `C:\Program Files (x86)\Git\cmd;` still no luck

[2017-11-10 01:12] say25 commented on #3289
Noticed I need `C:\Program Files\Git\cmd;` 🤦‍♂️

Probably `Open without Git` is related?

[2017-11-10 01:13] shiftkey commented on #3289
Yes. We look for a path to `git.exe` here so that if you were to run `git status` or a similar command, it would succeed. This is different to the shortcuts to the shells.

[2017-11-10 01:15] say25 commented on #3289
Sounds like this should be closed as user error :(

[2017-11-10 01:15] #3289 closed

[2017-11-10 01:36] #3233 closed

[2017-11-10 01:40] strafe commented on #3233
@shiftkey sorry I haven't replied to this in a few days, not that I'm familiar with any of that but I'm sure if there's a reason it's a good one.

I am still curious why the file doesn't have a new line at the end though since GitHub loves to point those out.

[2017-11-10 01:46] shiftkey commented on #3233
Probably because we didn't add one when we insert it:

https://github.com/desktop/desktop/blob/71c268042b6040a49cc5307111ef3d819b691486/app/src/ui/add-repository/git-attributes.ts#L7-L13

Feel free to submit a PR to add that newline, it does make sense for us to avoid unnecessary line ending warnings whenever we can.

[2017-11-10 01:55] shiftkey commented on #3233
Probably the best summary of Git and line endings (and how we ended up with `.gitattributes) is this piece by @tclem: ["Mind the End of Your Line"](http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/). Have a read of that when you get a chance.

[2017-11-10 02:08] MylesLeadbeater opened #3291 "Authentication failed"
I've created a repo using GithubDesktop on my mac laptop, pushed it, and I get an Authentication Failed when I attempt to clone this repo using GithubDesktop on my PC (I am logged into the same github account on both computers).

[2017-11-10 02:41] shiftkey commented on #3291
@MylesLeadbeater could you fill out [the issue template](https://raw.githubusercontent.com/desktop/desktop/master/.github/ISSUE_TEMPLATE.md) with information about your setup and attach the relevant log files to we can troubleshoot the issue further?

[2017-11-10 03:10] MylesLeadbeater commented on #3291
### Description

Unable to clone repository that I own.

### Version

mac: 1.0.8
pc: 1.0.8

**OS version:** [version here]
mac - 10.13.1
pc - Microsoft Windows [Version 10.0.15063]

### Steps to Reproduce

1.
use github desktop on mac to create a new repository
2.
attempt to clone repository on pc using github desktop signed in as the same github user

**Expected behavior:** [What you expected to

[2017-11-10 03:20] shiftkey commented on #3291
Looks like a submodule has an SSH remote, which is failing because on Windows in a similar way to #2344:

[code]

[2017-11-10 03:32] MylesLeadbeater commented on #3291
damn my bad, this isn't a GithubDesktop issue then.

Does GithubDesktop support adding/viewing submodules? It doesn't seem to so far?

[2017-11-10 03:38] #3291 closed

[2017-11-10 03:46] shiftkey commented on #3291
@MylesLeadbeater it needs some polish, such as https://github.com/desktop/desktop/issues/1803, https://github.com/desktop/desktop/issues/1794 and https://github.com/desktop/desktop/issues/1770

[2017-11-10 03:49] shiftkey commented on #3281
@tierninho can you reproduce this on `1.0.8`?

[2017-11-10 07:23] Emin203102 opened #3292 "Error 128"
I cannot commit

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

[2017-11-10 08:28] ycmbcd opened #3293 "HELP！"
Error: Mode github-diff-syntax failed to advance stream.
    at at (app/node_modules/codemirror/lib/codemirror.js:1639:1)
    at dt (app/node_modules/codemirror/lib/codemirror.js:1693:1)
    at tt (app/node_modules/codemirror/lib/codemirror.js:1539:1)
    at /webpack:/app/node_modules/codemirror/lib/codemirror.js:4063:24
    at Jr.iterN (app/node_modules/codemirror/lib/codemirror.js:5539:8)
    at

[2017-11-10 09:04] japj opened #3294 "support configuring proxy server in-app"
### Description

cloning a repo fails with "could not resolve host: github.com

### Version

**GitHub Desktop version:** 1.0.8

**OS version:** Microsoft Windows [Version 10.0.10586]

### Steps to Reproduce

1. clone any repo from github

**Expected behavior:** [What you expected to happen]
Succeeding cloning repo

**Actual behavior:** [What actually happened]
This fails with:

Cloning into 'D:\Gi

[2017-11-10 09:36] tristoboydo commented on #2110
You might want to check for old GIT installs that might be causing a conflict.

I had a freezing problem from install, so I uninstalled and in the process found an old installation of GIT which I also unistalled. The re-install seems to work fine.

[2017-11-10 10:40] w1w1w2w2 commented on #3263
[3331111111111111111111111111.txt](https://github.com/desktop/desktop/files/1460999/3331111111111111111111111111.txt)

[2017-11-10 10:54] j-f1 commented on #3292
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-11-10 11:00] j-f1 commented on #3293
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #3249. There’s a [comment](https://github.com/desktop/desktop/issues/3249#issuecomment-342735764) over there with instructions on how to update.

[2017-11-10 12:32] saiKumarGanji commented on #3273
So, you are saying that this feature in already available in "Github Desktop" windows. I heard thats it available on mac. But i cannot find it on windows.

[2017-11-10 13:27] nomanAdfenix commented on #3254
Thanks saved me a ton man. did the $ git rebase master staging thing and it
worked like a charm.

On Thu, Nov 9, 2017 at 9:58 PM, Brendan Forster <notifications@github.com>
wrote:

[2017-11-10 14:36] tulasipsynaptial opened #3295 "got files deleted while pulling data by double clicking on pull origin.any suggestions for retriving data"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2017-11-10 14:52] Stasnislav121 opened #3296 "Don't install github client"
2017-11-10 17:50:56> Program: Starting Squirrel Updater: --install .
2017-11-10 17:50:56> Program: Starting install, writing to C:\Users\frdsf\AppData\Local\SquirrelTemp
2017-11-10 17:50:56> Program: About to install to: C:\Users\frdsf\AppData\Local\GitHubDesktop
2017-11-10 17:50:56> Program: Install path C:\Users\frdsf\AppData\Local\GitHubDesktop already exists, burning it to the ground
2017-11-1

[2017-11-10 17:47] nicolasbadia commented on #1712
+1

[2017-11-10 17:55] zacharyhalvorson opened #3297 "No keyboard shortcut to focus commit message summary input"
This was a feature in the old Native app. Used to be ⇧⌘C, loved it as a shortcut and would suggest it as a thing to add in to the new Electron app.

[2017-11-10 21:04] j-f1 commented on #3295
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2017-11-10 21:06] j-f1 commented on #3273
@saiKumarGanji What version of GitHub Desktop are you running?

[2017-11-10 21:07] j-f1 commented on #3296
Thanks for reporting this!

Unfortunately, we don’t support 32-bit windows at this time.

[2017-11-10 21:38] brunoaugusto commented on #3283
I use both Desktop and GitEye to have a visual control of my repositories. With GitEye, when committing something for the first time **without** having set `user.name` or `user.email` the Author and Committer is blank otherwise it reads the data you said:

![commit](https://user-images.githubusercontent.com/1514089/32679224-c387514e-c64c-11e7-9d62-ccc20f854428.png)

And following commits reads the

[2017-11-10 22:12] MarkAHuff opened #3298 "Water Link"
Currently, the water link is being directed to earth page rather then the water page. Cameron could you make the necessary changes to fix this?

[2017-11-10 22:19] #3298 closed

[2017-11-10 22:43] shiftkey commented on #3296
See #1214 for the discussion around 32-bit support.

[2017-11-10 22:43] #3296 closed

[2017-11-10 22:45] #3254 closed

[2017-11-10 22:47] #3293 closed

[2017-11-10 22:48] #3292 closed

[2017-11-10 22:50] #3295 closed

[2017-11-10 22:59] shiftkey commented on #3297
@zacharyhalvorson thanks for the feedback. We're already tracking this over in #1719, so please follow along with that issue.

[2017-11-10 22:59] #3297 closed

[2017-11-10 23:42] zacharyhalvorson opened #3299 "`Create Pull Request` on branch with existing PR should bring user to conversation tab"
Currently, hitting `Create Pull Request` on a branch that already has one, brings the user to a compare page instead of the active PR page.

The expected behaviour here is to bring the user to the PR page if open. Also be nice to expose the PR number in the UI once one has been filed.

[2017-11-10 23:58] mkf85 commented on #3293
Mute

Em 10 de nov de 2017 7:47 PM, Brendan Forster <notifications@github.com> escreveu:

Closed #3293<https://github.com/desktop/desktop/issues/3293>.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/desktop/desktop/issues/3293#event-1336928408>, or mute the thread<https://github.com/notifications/unsubscribe-a

[2017-11-11 00:40] ZapTechAdmin opened #3300 "Unable to check revocation for the certificate"
Version 1.0.8

**GitHub Desktop version: Version 1.0.8

Microsoft Windows [Version 10.0.15063]

I am encountering this issue when trying to push a repo from my computer to github:

fatal: unable to access 'https://github.com/ZapTechAdmin/Mega-Menu.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - The revocation function was unable to check revocation for the cert

[2017-11-11 02:35] lukeify opened #3301 "Provide user with option to retry when repository can't be found."
### Description

When a repository on removable storage (for me, often a USB stick) is unmounted/ejected from the system while GitHub Desktop is running, the application will switch to a view displaying "Can't find `<repo>`, It was last seen at `<location>`" as shown in the image below.

![screen shot 2017-11-11 at 3 22 57 pm](https://user-images.githubusercontent.com/5379845/32685427-d9e365be-c6f

[2017-11-11 03:18] danielb987 opened #3302 "Critical bug: GitHub desktop belives files are changed which are not"
My repository is a fork of JMRI repository:
https://github.com/danielb987/JMRI

I remove my repository in GitHub Desktop and then delete my JMRI folder om my computer. Then I clone my repository with GitHub Desktop. When GitHub Desktop is done, it tells me that I have five changed files that I should commit.

I can change to another branch in my repository, and then I change back to my main branch

[2017-11-11 03:32] danielb987 commented on #3302
This is how GitHub Desktop looks like after I have cloned my JMRI repository.
![github_desktop_1](https://user-images.githubusercontent.com/20255317/32685799-bfdb1bd8-c698-11e7-8056-363170ea17f2.png)

I then select one of my branches in this repository:
![github_desktop_2](https://user-images.githubusercontent.com/20255317/32685800-c020299e-c698-11e7-82c9-711feaf9f318.png)

I then go back to my ma

[2017-11-11 12:26] gykhauth opened #3303 "Github desktop failed to launch repeatedly on Win 10"
Error: Mode github-diff-syntax failed to advance stream.
    at at (app\node_modules\codemirror\lib\codemirror.js:1639:1)
    at dt (app\node_modules\codemirror\lib\codemirror.js:1693:1)
    at tt (app\node_modules\codemirror\lib\codemirror.js:1539:1)
    at C:\Users\admin\AppData\Local\GitHubDesktop\app-1.0.7\webpack:\app\node_modules\codemirror\lib\codemirror.js:4063:24
    at Jr.iterN (app\node