[2018-01-05 12:22] shiftkey commented on #3656
Closing as inactive.

@bimsonz if you can share the screenshot of the error dialog we're happy to revisit this.

[2018-01-05 12:22] #3656 closed

[2018-01-05 12:23] shiftkey commented on #3663
Closing as inactive.

@cyril31 if you can share the log files from around the time we can revisit this.

[2018-01-05 12:23] #3663 closed

[2018-01-05 13:01] shiftkey commented on #3647
@mhalttu thanks for the report! This is reproducible on my end, and is probably because we don't special-case submodules when we're discarding changes...

[2018-01-05 13:16] balcsida commented on #2107
Just an FYI: since Fall Creators Update, there are no options in Task Manager for window management, therefore workaround mentioned by @ostensene does not work.
You have to delete the %APPDATA%\GitHub Desktop\window-state.json, as @joshlangner mentioned.

![image](https://user-images.githubusercontent.com/1768446/34610756-cee52d3e-f222-11e7-8509-08294010ddb9.png)

[2018-01-05 13:52] shiftkey commented on #3618
FYI: `dugite@1.54.0` with Git `2.16.0-rc0` is available if you want to start testing out the new version of `git for-each-ref`

[2018-01-05 14:13] rcmaehl commented on #2107
@balcsida Say it isn't so! D:

[2018-01-05 14:42] JoFAM commented on #3724
I mistyped my Win build, that's 16299.125 (didn't update to the latest build yet).

My antivirus is BitDefender Total Security 2018. And getting the actual build information turns out to be a pain... It has a technology "Advanced Threat Defense" that was updated somewhere start of december and blocked big part of my R build chain (R.exe, cmd.exe, miktex.exe and so forth). It also messed up the con

[2018-01-05 16:41] lewispg228 opened #3731 ""Show file location in Explorer" - additional feature request for Github Desktop"
Currently, in the Github Desktop I'm using (1.0.11), you can quickly jump to a repository. This is great, but I'd love to be able to jump directly to a file's location.

![image](https://user-images.githubusercontent.com/601236/34618603-803057d4-f1fc-11e7-8f35-ec17861eebc3.png)

The reason is, I often am looking at a file in the commit history, and I want to quickly navigate directly to that file

[2018-01-05 16:42] tierninho commented on #3718
Similarly, grey out menu when "... is not a git repository" warning is present.

Reproduction might be tricky. Came across this while trying to clone a repo. On second try, I couldn't repro.

<img width="805" alt="screen shot 2018-01-05 at 8 36 41 am" src="https://user-images.githubusercontent.com/14828183/34618651-4523307e-f1f4-11e7-9fbc-0aade87bc631.png">

[2018-01-05 16:45] lewispg228 commented on #2009
Hi there, I just submitted a feature request that is related to this. I would love your thoughts. If you have a sec, please check it out here:

https://github.com/desktop/desktop/issues/3731

Thanks!

[2018-01-05 16:50] shiftkey commented on #3731
@lewispg228 thanks for the details. We caught this a bit earlier in #2845 which will mean both file lists (the changes list and the commit file list) are more consistent from a UX perspective.

I'll fold this feedback into that issue as a reminder.

[2018-01-05 16:52] shiftkey commented on #2845
Bumping this issue with the feedback from #3731

[2018-01-05 16:52] #3731 closed

[2018-01-05 16:56] lewispg228 commented on #2845
I would definitely love to see this feature happen! Thanks for responding to my submission so quickly, and sorry I didn't find this issue during my initial searching.

[2018-01-05 17:16] tierninho opened #3733 "`Create New Branch` button hidden in Merge modal"
The `Create New Branch` button is partially hidden in the `Merge into current branch...` modal.

Reproduce:
- You need at least two branches, choose Master.
- Open `Merge into current branch...`
- Type some jibberish so all branches no shown.

<img width="627" alt="screen shot 2018-01-05 at 8 56 01 am" src="https://user-images.githubusercontent.com/14828183/34620091-1cf5da16-f1f9-11e7-843d-144963a

[2018-01-05 17:20] shiftkey commented on #3724
This is interesting. Is there a way for you to be able to mute BitDefender temporarily and see if the behaviour of Desktop changes? Or see if other apps have been whitelisted that Desktop should be added to?

We do some caching in the app, but most of the repository data isn't cached externally - so it would make sense that the initial session is particularly rough if Git is the bottleneck.

Those

[2018-01-05 17:22] shiftkey commented on #3733
Creating a branch shouldn't be an option here. The branch list component should have a way to enable "no branches found" without also providing that option.

[2018-01-05 17:29] OiYouYeahYou commented on #3723
This may be a different case, but I can reproduce this issue by having non-matching remotes.

@TheRedSpy15 - On a terminal in the problem git repo if you enter the command `git remote -v` are the URLs identical or differing?

[2018-01-05 18:14] tgherzog opened #3734 "Changes tab should respect showUntrackedFiles"
I often have lots of files in my working directory that I don't commit to the repository. I set `showUntrackedFiles = no` in .gitconfig so that `git status` doesn't show me a whole lot of cruft.

It would be great if the Changes tab also respected this setting and limited the display to tracked files, or if there was a (sticky) "Show untracked files" checkbox in the UI so that I could toggle the d

[2018-01-05 18:17] shiftkey commented on #3734
@tgherzog thanks for the report! For reference, we pass these arguments to `git status`:

[code]

[2018-01-06 14:05] mercybe commented on #910
how are you doing

[2018-01-06 18:02] JoFAM commented on #3724
OK, my bad. I turned off all functionality in BitDefender and indeed, the problem disappeared. So it's them. I will go and haunt their QA department now.

Thanks for thinking with me.

[2018-01-06 21:05] shiftkey commented on #3724
@JoFAM no problem - good luck!

[2018-01-06 21:05] #3724 closed

[2018-01-06 23:51] bumblebritches57 opened #3737 "Where is the old version?"
I don't want this web nonsense, where's the old one?

My High Sierra upgrade deleted it.

[2018-01-06 23:54] iAmWillShepherd commented on #3737
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/desktop/desktop/issues/2295. Please follow that issue
for further updates.

[2018-01-06 23:54] #3737 closed

[2018-01-06 23:59] j-f1 commented on #3737
Why not? What’s wrong with the new version? Is there something we can fix?

[2018-01-07 20:59] #3733 closed

[2018-01-07 21:55] TheRedSpy15 commented on #3723
Late reply, been busy

@OiYouYeahYou

I don't have git on my PC

[2018-01-07 22:52] shiftkey commented on #3723
These are documented [here](https://github.com/desktop/desktop/blob/master/docs/installation.md#data-directories).

Two protocol handler is created so that "Clone in Desktop" works and the authentication callback from the browser work. If you search for the `x-github-client`and `x-github-desktop-auth` keys you should find these. I don't think they're related to this issue though.

[2018-01-08 00:32] TheRedSpy15 commented on #3723
Alright, I deleted every single one of those folders

recreated GitHub folder in documents

and get this error when trying to clone a repo:

"fatal: could not create work tree dir 'C:\Users\Hunter\Documents\GitHub\The-Trail': No such file or directory"

I will say, we made some progress, it did not sign me in automatically this time

[2018-01-08 01:55] TheRedSpy15 commented on #3723
[2018-01-08.desktop.production.log](https://github.com/desktop/desktop/files/1610442/2018-01-08.desktop.production.log)

[2018-01-08 02:55] stevenktruong commented on #3572
I had this issue, too. For me, it was caused by a .git folder inside the folder I wanted to commit.

[2018-01-08 04:29] TheRedSpy15 commented on #3723
Fixed it!

the client i guess doesn't play so well with windows 10's controlled folder access

turned it off and everything worked perfectly

strangely, the CFA wasn't protecting anything that the client would be touching

[2018-01-08 09:09] xjlixj opened #3738 "git clone https://github.com/deeplearning4j/dl4j-examples.git"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-08 09:14] nojdh commented on #3572
I had the same issue and I found that the directories getting an extra letter had a .git from an old clone from another repository. Fixed it by simply removing the .git folders from the directories that had the issue.

[2018-01-08 09:30] niik commented on #3738
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2018-01-08 09:30] #3738 closed

[2018-01-08 10:45] shiftkey commented on #3723
Aha! This came up a while ago through our support channel, and we couldn't figure out a way to get Desktop to be whitelisted with Controlled Folder Access.

I'm glad you were able to workaround this!

[2018-01-08 10:45] #3723 closed

[2018-01-08 13:44] shiftkey commented on #2812
@sebastian-schiegl apologies for the delay in replying. We added some extra tracing into the GUI in #3360 that you can enable like this if you're running `1.0.11`:

1. **View** | **Toggle developer tools** to open the dev tools
1. Select the **Application** tab
1. In the sidebar, expand **Local Storage** and select **file://**
1. Add a new key name `git-trace` with a value of `1`

<img width="946"

[2018-01-08 13:49] DeepMac commented on #3572
@nojdh Was the old .git folder on the Windows filesystem prior to the issue? Or in the repo you cloned?

That may be what happened to me, I'll need to check it in the office today.

[2018-01-08 14:36] joshaber commented on #1617
Agreed!

[2018-01-08 14:36] #1617 closed

[2018-01-08 14:47] joshaber commented on #3616
In this case, the dialog _does_ provide a bit of context: "An update is ready to install."

Depending on your user account, permissions on the enclosing directory, etc. you may need to authenticate each time an update is installed. Does that make sense with your experience?

[2018-01-08 14:49] justinjdickow commented on #3616
Hmm I guess so - but what is a helper tool? That just reminds me of the Flash Player Helper Tool.

[2018-01-08 14:52] joshaber commented on #3599
@ofek Slashes _should_ be allowed except as a starting or ending character. That restriction is part of Git's spec as described in https://www.kernel.org/pub/software/scm/git/docs/git-check-ref-format.html:

[2018-01-08 15:00] joshaber commented on #3616
Unfortunately that's macOS's nomenclature 😞 It's an implementation detail which means we use a separate executable with escalated privileges to perform an action.

It sounds like this is working as intended, so I'm gonna close it.

[2018-01-08 15:00] #3616 closed

[2018-01-08 15:09] joshaber commented on #3632
It looks like we're already tracking this in https://github.com/desktop/desktop/issues/2745. Feel free to follow along over there!

[2018-01-08 15:09] #3632 closed

[2018-01-08 15:28] joshaber commented on #3707
Thanks for the suggestion!

This idea is interesting for the future, but this is beyond the scope of our [current roadmap](https://github.com/desktop/desktop/blob/master/docs/process/roadmap.md).

I'm going to add the `future-proposal` label to this issue and close it out, so that we don't get overwhelmed with our backlog! We'll revisit these as part of our next planning session.

[2018-01-08 15:37] joshaber commented on #3734
It seems reasonable to me that we'd let the config value take precedence on this 👍

[2018-01-08 16:04] shiftkey commented on #3734
Actually, upon further reading it looks to be more painful than I thought (emphasis mine):

The two options I've tested don't seem to address the issue:

 - `git status -u` will ignore the configured `status.showUntrackedFiles` and use `all`
 - `git status` without `-u` will use `normal` and show untracked directories, but not the full paths (which is what Desktop requires to populate the changed

[2018-01-08 16:11] shiftkey commented on #3734
I've opened https://github.com/desktop/dugite-native/issues/72 to track shipping a system configuration change with our embedded Git. Once that lands in a Git update to Desktop, we can revisit this issue.

[2018-01-08 16:27] #3281 closed

[2018-01-08 16:40] iAmWillShepherd commented on #3701
Thank you for your issue!

We haven't gotten a response to our questions in our [comment](https://github.com/desktop/desktop/issues/3701#issuecomment-354542868).
With only the information that is currently on the issue, we don't have enough
information to take action. I'm going to close this but don't hesitate to reach
out if you have or find the answers we need, we'll be happy to reopen the
issue

[2018-01-08 16:40] #3701 closed

[2018-01-08 17:13] #1414 closed

[2018-01-08 18:00] #3354 closed

[2018-01-08 18:16] iAmWillShepherd commented on #2758
@JarLob

We already have an issue, located in another repo, with this work to be done. This item was closed since the work that needs to be done is unrelated to this project.

[2018-01-08 19:04] tierninho opened #3739 "Clear filter text when switching tabs"
For the `Clone Repository` modal:

- Any text input in the search filter carries over from GitHub to Enterprise tab, and vice-versa. Should the filter be cleared if the user navigates to another tab? I noticed some visual performance lags due to this. My repo lists have already been loaded, yet any search filter carried over causes me to wait some time for the list to load again. The the filter wa

[2018-01-08 19:19] joshaber opened #3740 "Decrease the max line length limit"
As per https://github.com/desktop/desktop/pull/3032#issuecomment-354265785, we can probably cut our max line length limit down quite a bit. It's currently at 500,000. We could try 100,000 or even 50k.

See https://github.com/desktop/desktop/blob/b0d5afb37c36116006bb44855c9e3e81d3f554d7/app/src/lib/git/diff.ts#L41-L45

[2018-01-08 19:20] iAmWillShepherd commented on #3740
I'd say 50k seems reasonable

[2018-01-08 19:22] shiftkey commented on #3740
![](https://user-images.githubusercontent.com/359239/34688195-b24455e4-f487-11e7-9fa4-63072b83ccb3.png)

[2018-01-08 19:24] joshaber commented on #3740
The comment that spurred this suggested even 10k, which might be reasonable. What diff is gonna be readable with 10k character lines?

[2018-01-08 19:26] iAmWillShepherd commented on #3740
I'm in favor of that too, you could even cut that 10k in half.

[2018-01-08 20:26] ofek commented on #3599
@joshaber Indeed, please forgive me! Upon typing `/` the first time, the message appears and I didn't try typing anything after that.

[2018-01-08 21:27] iAmWillShepherd opened #3741 "Clear filter text when switching tabs"
For the `Clone Repository` modal, I noticed some minor inconsistencies and "bugs" that may be worth fixing...

- Any text input in the search filter carries over from GitHub to Enterprise tab, and vice-versa. Should the filter be cleared if the user navigates to another tab? I noticed some performance lags due to this. My repo lists have already been loaded, yet any search filter carried over caus

[2018-01-08 21:31] iAmWillShepherd opened #3742 "Pressing Enter while repo is selected should start the clone process"
A user should be able to select from the GitHub/Enterprise list of repos and click `Enter` (re blue highlight). This is current behavior in branch list and repo list. The user can only click `Enter` from the filter bar, else the must use the `Clone` button.

<img width="460" alt="screen shot 2018-01-08 at 10 42 16 am" src="https://user-images.githubusercontent.com/14828183/34686982-3310a7de-f462-1

[2018-01-08 21:34] iAmWillShepherd opened #3743 "Filter results should be shown with emphasis on matched characters"
For the `Clone Repository` modal, text is not bold when you type in filter.

## What should happen
<img width="309" alt="screen shot 2018-01-08 at 10 59 29 am" src="https://user-images.githubusercontent.com/14828183/34687261-06cc843a-f463-11e7-9d71-10f2aadaf3a0.png">

## What actually happens
<img width="437" alt="screen shot 2018-01-08 at 10 40 12 am" src="https://user-images.githubusercontent.co

[2018-01-08 21:35] iAmWillShepherd commented on #3739
This should be split into separate issues. Check over the issues I've created to make sure I've captured everything.

[2018-01-08 21:38] iAmWillShepherd commented on #3739
Looking over that screenshot of Chrome Dev Tools, it's looking as if no data is actually being transferred since the 304 HTTP code is being shown. Are you saying we shouldn't reload the list when the user switches tabs?

[2018-01-08 21:42] iAmWillShepherd commented on #3739
Also, just noticed one of these items is a duplicate of #3629

[2018-01-08 21:43] iAmWillShepherd commented on #3742
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #3629. Please follow that issue
for further updates.

[2018-01-08 21:43] #3742 closed

[2018-01-08 21:49] tierninho commented on #3739
@iAmWillShepherd I removed the text in the body as requested. Was gonna eventually split them up but wasn't sure they were all worthy... but thanks for doing so!

Yes, see the dupe now. Forgot about that one.

Implementing the clear on the tab switch will resolve my concern, which is that it interferes with the (visual) loading of the data. I experienced a delay in seeing my list as the app was do

[2018-01-08 21:51] iAmWillShepherd commented on #3739
Ahh, got it.

[2018-01-08 21:52] #3741 closed

[2018-01-08 23:06] j-f1 commented on #3538
From my PR above, these appear to be the requirements:

- value is not declared (or inferred) to be a boolean
- value is inside any number `&&`, `||`, or `!` expressions and either:
   - the test of an `if` statement, or
   - the test of a ternary.

[2018-01-08 23:11] Banknaraknaju opened #3744 "desktop"
https://github.com/desktop/desktop/blob/c286d0d513d82b97e1a9c60d44c23020f2ba34d7/app/webpack.common.js#L9-L10

[2018-01-08 23:16] niik commented on #3744
Hey @Banknaraknaju, these are there intentionally so that contributors can easily get up and running with a development environment. Thanks for reaching out!

[2018-01-08 23:16] #3744 closed

[2018-01-08 23:59] nespiasii opened #3745 "nespiasii"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-09 00:01] niik commented on #3745
Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way :grinning:

[2018-01-09 00:01] #3745 closed

[2018-01-09 01:48] diplozoon opened #3746 "fatal: unable to access 'C:\ProgramData/Git/config': Permission denied"
### Description

When I use GitHub Desktop, an error message like this is displayed.
![error message](https://i.gyazo.com/b5768532c7950a53d2477911b15dd74d.png)

`fatal: unable to access 'C:\ProgramData/Git/config': Permission denied`

I reinstalled it many times, but this error message does not disappear.

I can't push/pull anymore in GitHub Desktop.

Log below:
[2018-01-09.desktop.production.log]

[2018-01-09 03:22] snorepion opened #3747 "ENOENT error when publishing new repository"
### Description

When attempting to publish a new repository, I receive this error:

    ENOENT: no such file or directory, mkdtemp 'C:\Users\[name]\AppData\Local\Temp;C:\MinGW\bin\GitHubDesktop-lfs-progress-XXXXXX'

The problem with this is that both of those directories exist and GitHub is running in administrator mode so it should be able to access those. I uninstalled GitHub and deleted all co

[2018-01-09 03:29] iAmWillShepherd commented on #3746
Going through your logs, looks like the following are throwing errors:

[code]

Does this error message pop up as soon as you open the app? If so, try uninstalling again and deleting all the folders specified in our [docs](https://github.com/desktop/desktop/blob/master/docs/installation.md#windows-1).

Also, not sure if this is a part of the issue, but I just noticed the path for Windows is incorr

[2018-01-09 03:35] iAmWillShepherd commented on #3538
@j-f1 not sure I understand...

[2018-01-09 03:38] #2487 closed

[2018-01-09 04:17] iAmWillShepherd commented on #3519
@timofonic No. I was not able to reproduce this before leaving for winter break.

[2018-01-09 06:06] shankar2101 commented on #3641
give new disktop level

[2018-01-09 06:07] shankar2101 commented on #3641
how to create code .

[2018-01-09 06:12] renzojsf opened #3748 "How can I see all the files in my cloned repository in my desktop client? it has not worked for years"
![gat](https://user-images.githubusercontent.com/12319218/34707205-2e2fd0fa-f4da-11e7-8d71-8a5787b8323e.png)

[2018-01-09 06:17] iAmWillShepherd commented on #3748
The beta of this application was released 8 months ago...

But to answer your question, the client will only show you files that have _changed_, so you need to make a change to one of the files in your repo and you will see it pop up in the **Changes** tab. If you want to see the commits where files have changed, just view the **History** tab.

[2018-01-09 06:17] #3748 closed

[2018-01-09 06:49] diplozoon commented on #3746
This is the only error message `fatal: unable to access 'C:\ProgramData/Git/config': Permission denied`.
I cannot see any other error messages pop up.

But, when I deleted C:\ProgramData/Git folder, it started to work without error message pop up.
Thanks for helping, the problem was solved successfully.

[2018-01-09 06:49] #3746 closed

[2018-01-09 11:04] shiftkey commented on #2322
@jamland after all the discussions in #2330, I decided to close it out because I still prefer the original intent of this feature (favouring the default branch to encourage the GitHub flow).

Thanks for the feedback around this, and if you've got any more suggestions please open a fresh issue!

[2018-01-09 11:04] #2322 closed

[2018-01-09 11:12] shiftkey commented on #3747
This is a duplicate of #3072 - your `TEMP` or `TMP` environment variable contains multiple paths - you should update the environment variable so it only contains one path.

[2018-01-09 11:12] #3747 closed

[2018-01-09 15:22] j-f1 commented on #3538
@iAmWillShepherd Those are the requirements for a node to be reported by this rule.

[2018-01-09 16:41] #3722 closed

[2018-01-09 16:50] iAmWillShepherd commented on #3538
Got it.

This threw me off because I read it as a value is in a number, &&, ||, or ! expression.

[2018-01-09 16:59] #3615 closed

[2018-01-09 16:59] #3698 closed

[2018-01-09 17:11] j-f1 commented on #3538
Looks like I forgot an `of` when typing that part. Edited above to correct.

[2018-01-09 19:24] gemal opened #3752 "Git LFS invoking GIT_ASKPASS unable to execute batch file due to special characters in account name"
### Description

when even er push I get a
[code]

I tried to log out and in again and still same thing

it works from command line

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** windows 10

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how

[2018-01-09 19:28] DrZYin commented on #1634
My two cents on this issue:

If you google "git guis", the first result is this page: https://git-scm.com/downloads/guis/

It lists 20+ git guis, each with a screenshot. Look at each screenshot and you'll realize they're all taken at the tree view. (except Github Desktop of course)

This comes down to "what the author thinks is important" vs "what average users think is important". The latter may

[2018-01-09 19:41] j-f1 commented on #1634
BTW, that screenshot is out-of-date. Is there an up-to-date screenshot I can PR?

[2018-01-09 19:56] iAmWillShepherd commented on #3752
Does your repository use LFS?

[2018-01-09 19:59] gemal commented on #3752
yes and I have LFS installed

[2018-01-09 20:04] shiftkey commented on #3752
@gemal @iAmWillShepherd I'll point out an old issue that we didn't quite get to the bottom of #2812 but rather than moving this back to there I'd like to start fresh here. We added some extra tracing into the GUI in #3360 that you can enable like this to get more information in the logs:

1. **View** | **Toggle developer tools** to open the dev tools
1. Select the **Application** tab
1. In the sid

[2018-01-09 20:04] shiftkey commented on #3752
@gemal

Which version of Git LFS do you have installed? Maybe the version in Desktop is clashing with this version somehow?

[2018-01-09 20:29] gemal commented on #3752
git lfs version
git-lfs/2.3.4 (GitHub; windows amd64; go 1.8.3; git d2f6752f)

[2018-01-09 20:30] gemal commented on #3752
can I send something in private? dont want to send all the log files in public

[2018-01-09 20:35] shiftkey commented on #3752
@gemal the email address in [my profile](https://github.com/shiftkey) is fine

[2018-01-09 21:57] tierninho opened #3753 "Surfacing auth error for Enterprise sign-in post oAuth"
Initial Desktop sign-up process:
After using the `sign-in with the browser` link for Enterprise, I was unable to login (as I expected in my testing), however, I never was shown our generic auth error following the browser's oauth process redirect back to Desktop.

I purposefully added `www` to the URL, and used `http` instead of `https` to trigger the error. The console caught the `404 requestOAut

[2018-01-09 22:01] a-dpq commented on #2713
I just ran into this very same issue, and it completely blocks the user from using GitHub Desktop by presenting repeated error messages without any helpful information. The only way I was able to resolve it was by finding this writeup. @shiftkey, are you sure this is a Git issue? It seems like it might be a problem with GitHub Desktop.

[2018-01-09 22:03] snorepion commented on #3747
Thank you and sorry for posting a duplicate. I searched for some key terms but couldn't find anything.

[2018-01-09 22:12] shiftkey commented on #2713
@a-dpq have you been able to use this repository using the Git command line? I'm not aware of any support in Git itself for aliases on macOS, but I haven't had the bandwidth to see this with my own eyes...

[2018-01-09 22:17] a-dpq commented on #2713
Yes, I was able to use Git on the repository via the command line – though I didn't try to access it using the (macOS) alias. The issue here, as it seems to me, is that GitHub Desktop is getting confused by the situation that @paced described above, where a repository used to be located in a folder, but now there is an alias with the same name there. In this situation, GitHub Desktop produces a re

[2018-01-09 22:19] a-dpq commented on #2713
I should add that perhaps the repeated error messages were due to having multiple aliases of repositories in the folder. In any case, the error message is cryptic.

[2018-01-09 22:28] shiftkey commented on #2713
@a-dpq the error message is deep in the bowels of NodeJS and it's handling of the aborted `spawn` command. I can't change that, but maybe I can improve our error handling.

To investigate how our error handling is behaving, we need a complete set of steps to reproduce this behaviour, ideally with command line instructions that can be run by someone else. Without those details, we could sink a lot

[2018-01-09 22:40] a-dpq commented on #2713
I just reproduced the error with these steps. This assumes that you have at least one local repository tracked by GitHub Desktop:

1. Move the repository to a different directory.
2. Make an alias in the Finder (command L) of the repository folder, and move it to the repository's previous location.
3. Remove " alias" from the file name of the alias.
4. Open GitHub Desktop.

Expected behavior: Repe

[2018-01-09 23:20] say25 opened #3754 "Enhancement: Git History on a Single File"
### Git History on a Single File

It would be awesome to see Git history (git log file.extension) for a single file at a time.

### Version

**GitHub Desktop version:** 1.0.12-beta1

[2018-01-10 00:28] HELLOYUANJIE opened #3755 "你好"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-10 00:29] iAmWillShepherd commented on #3755
Thanks for reaching out!

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-10 00:29] #3755 closed

[2018-01-10 01:00] rlabrecque commented on #1634
That's my biggest worry with highly analytic driven productivity applications. It's the reason why both SourceTree and GHD got rid of the project sidebar. :( Different people have different workflows.

In my case the tree/flow view helps me better visualize what my team is doing and where I am in respect to the other branches.

Which screenshot?

[2018-01-10 01:04] j-f1 commented on #1634
That was more of a question for the other @desktop folks, but I meant the GitHub Desktop screenshot on the Git page linked above.

[2018-01-10 01:06] kinghuang commented on #1634
The lack of a graph view is the reason I've stuck with the older native client (#2885). There's no way I'm upgrading without it.

[2018-01-10 01:09] j-f1 commented on #2885
@kinghuang Have you had a chance to open issues about the problems you encountered yet?

[2018-01-10 01:18] kinghuang commented on #2885
@j-f1 Ah, no. I actually forgot to do so. I'll add that to my task list!

[2018-01-10 02:44] DeepMac commented on #3572
I confirmed it looks like this was the culprit, based on the history I can view. I'm not sure why it happens though.

[2018-01-10 05:40] Janghaeyeong opened #3756 "test"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-10 08:08] wind-soft commented on #3695
@shiftkey Sorry for response late.
terminal also told me "EOF", same as the desktop software.

[2018-01-10 08:51] gemal commented on #3752
I have the same setup at work where it works. Same versions
I sent you the info by email. Let me know if you didn't receive it

[2018-01-10 11:15] j-f1 commented on #3756
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-10 11:38] #3756 closed

[2018-01-10 11:51] shiftkey commented on #3695
So this isn't tied to Desktop, but probably  to something in `curl`.

This error is the best clue to figure out what to try next:

[code]

`56` is `CURLE_RECV_ERROR` and is a vague reference to `Failure with receiving network data` and this issue covers one scenario around a proxy failure https://github.com/curl/curl/issues/1016 but maybe we can enable tracing like mentioned here https://github.co

[2018-01-10 12:36] CecileL opened #3757 "GitHub Desktop won't open on Windows 10"
Hi all,

### Description

GitHub Desktop won't open on Windows 10.
When double clicking on the shortcut nothing happens. GitHub Desktop don't show in the Task Manager > Processes but shows in the Task Manager > Details
I tried opening as an administrator and with Windows 8 compatibility, same problem.

### Version

**GitHub Desktop version:** As I cannot open it, I cannot see the version. I downlo

[2018-01-10 12:50] shiftkey commented on #3757
If you go to **Settings** | **Apps* from the Start Menu and expand the entry for GitHub Desktop, you should see the version number:

<img width="824" src="https://user-images.githubusercontent.com/359239/34773726-1ff6cf52-f5e3-11e7-8b4d-3ac3c27f8945.png">

[2018-01-10 13:10] CecileL commented on #3757
Thanks for the tip.
My version is 1.0.11

- Cécile Lamborot
McNeel Europe
http://www.food4rhino.com/
http://www.rhino3d.com/

2018-01-10 13:50 GMT+01:00 Brendan Forster <notifications@github.com>:

[2018-01-10 13:17] shiftkey commented on #3752
@gemal thanks for the log file. I don't have a clear answer currently what's happening, but I'll walk through how I understand it and see if something clicks:

[code]

I'm going to ignore this warning for now, as I don't think it's the real issue.

[code]

The tracing shows that our `GIT_ASKPASS` is being detected and invoked without error. That's good.

[code]
Now we're into the Git LFS hook that

[2018-01-10 13:43] shiftkey commented on #3752
Actually, something does stand out. Let me blockquote it here for emphasis:

The [source](https://github.com/git-lfs/git-lfs/blob/b32a7ef6245810f032e13bda8008b16536d01d7a/lfsapi/creds.go#L102) for this message is:

[code]

Note that the first argument `Username for {domain}` isn't quoted in the same way as Git:

[code]

Note that this is failing when asking for the username, not when it tries to f

[2018-01-10 15:08] vincent3569 commented on #3704
not clear for me:
you need me to reproduce the issue? or you have to reproduce it yourself?

[2018-01-10 15:34] #3150 closed

[2018-01-10 17:37] shiftkey commented on #3752
@gemal I'm no closer to understanding the root cause here, so when you have a moment I'd like for you to try out a test build of Desktop. It's based on the work in #3759 to add tracing to the internals of our `GIT_ASKPASS` implementation.

I'd like for you to run through these steps for me when you have a moment:

 - uninstall your version of Desktop (the data will be preserved)
 - install [this b

[2018-01-10 18:15] #3080 closed

[2018-01-10 18:23] shiftkey commented on #3695
I'm going to close this out because it's not specific to Desktop, and requires being in a certain location to reproduce the problem.

@wind-soft @gengjiawen if you are able to dig deeper into what the `curl` error means I'm happy to help troubleshoot further, but otherwise I can't help much currently...

[2018-01-10 18:23] #3695 closed

[2018-01-10 18:26] iAmWillShepherd commented on #3704
@vincent3569 that label is for us, so we don't need anything more from you at the moment. But, keep an eye on this issue in case we do need more info.

[2018-01-10 18:30] shiftkey commented on #3715
I'm going to move this to `enhancement` for a couple of reasons:

1. removing a remote requires some thought about how the app presents it to the user so that it's not overwhelming and terrifying
2. its necessary to detect the difference between intermittent network issues and ongoing connectivity issues before the app thinks about removing a remote
3. we're currently working on improving our fork

[2018-01-10 18:52] shiftkey commented on #3704
@vincent3569 what @iAmWillShepherd said. I think all the details are there, it's just the steps through are tricky to understand.

One additional thing you could do for me is to run this command inside each repository that you're troubleshooting:

[code]

This will show a better visual representation of the repository, to help me understand the commit that you're missing.

For example, I ran this

[2018-01-10 19:22] shiftkey commented on #3752
The awesome @gemal got back to me with the generated `askpass.log` file, and I didn't see any entries containing `"Username for \"https://github.com/owner/repo.git\""` (Git LFS adds the whole repository path when invoking `GIT_ASKPASS`). I got a bit sad at this point, hoping to see a big old bug and have a eureka moment.

But then I realised that the space in @gemal's account name might be the roo

[2018-01-10 20:06] tierninho opened #3760 "Clear credentials if user ultimately decides to skip GitHub credentials sign-in"
During the sign-up process we capture the GitHub user credentials before asking for Git credentials. However, on the Git page, we allow the user to cancel, taking them back to the start where they can now **skip** the GitHub user credentials page.

If they proceed, and once "logged-in" to Desktop, the app is confused and displays the generic gravatar instead of the GH avatar as expected as it show

[2018-01-10 20:41] vincent3569 commented on #3704
yes this is this `e580c96d` commit that disappears.

I ran your commande on my folder:

[code]

I have something else new:
I am now with GitHub Desktop version: [github desktop 1.0.12-beta1]

When I go to perso branch for the 1st time, I can see the commit.
If I switch to master branch  and return to perso branch , the commit disappears

the screenshots:

![capture1](https://user-images.githubuser

[2018-01-10 21:17] shiftkey commented on #3752
Poking at `procmon` output, here's the simplest comparison I can find between the two. Note where the quote marks are placed.

Git (process exits with status 0):

[code]

Git LFS (process exits with status 1):

[code]

[2018-01-10 22:36] nbucklin opened #3761 "Github Desktop doesn't sign in to enterprise account"
### Description

Cannot sign in to enterprise account from GitHub desktop. Tried to log in by cloning an enterprise project, by the enterprise project's url, or choosing File > Options > Accounts. Can log into enterprise account via GitHub website. Colleague using Windows 10 logs in with no issues.

### Version

**GitHub Desktop version:** 1.0.12
**OS version:** Windows 6.1.7601

### Steps to Repr

[2018-01-10 22:42] iAmWillShepherd commented on #3761
Could you upload your log files so I can have a look?

[2018-01-11 00:00] koenpunt opened #3762 "Whitespace diff not always highlighted"
### Description

When having trailing whitespace changes, they do not always show up the same in the diff.

Take for example these 2 screenshots, on the left you see on 2 places trailing whitespace highlighted by a darker red. On the right the same diff, but with an additional blank line, and as you can see; there the trailing whitespace is no longer highlighted.

<img src="https://user-images.git

[2018-01-11 00:11] koenpunt commented on #3629
Consistent <kbd>Enter</kbd>, but also a consistent <kbd>Space</kbd> would be nice; on macOS most dialogs with more than 1 action, have the primary action respond to <kbd>Enter</kbd>, and highlight the secondary option to respond to <kbd>Space</kbd>. By hitting <kbd>Tab</kbd> one could move the action for <kbd>Space</kbd> to another option.

For example the empty trash confirmation dialog:

![image

[2018-01-11 05:09] aaronmaynard commented on #3757
I am running Windows 10 on multiple machines and have not come into this issue.  Maybe there is a task that is preventing it from opening?

[2018-01-11 06:34] fsaenger commented on #1633
Really need this feature! (Stashing in general would be awesome)

I constantly switch back to SourceTree, while I'd prefer to stay in GD's clean interface.

[2018-01-11 07:32] CecileL commented on #3757
Maybe, but how can I check this?
I tried to open Github just after booting but it's not working.

- Cécile Lamborot
McNeel Europe
http://www.food4rhino.com/
http://www.rhino3d.com/

2018-01-11 6:09 GMT+01:00 Aaron Maynard <notifications@github.com>:

[2018-01-11 11:59] shiftkey commented on #3762
@koenpunt thanks for the details. I'm not aware of this specific issue, but we are tracking a limitation with line diffs in #2485 that might be related.

If you're able to reproduce it with a public repository you could try and generate the diff patch so that others can apply it:

[code]

[2018-01-11 12:13] shiftkey commented on #3757
@CecileL I'm not quite sure why Desktop would be silently failing, but a good place to start would be the Event Viewer. Could you open up a PowerShell prompt, run this command and attach the output? There might be a clue in here to assist with troublemaking:

[code]

[2018-01-11 12:37] CecileL commented on #3757
Hi Brendan,

Here is the output:

Index Source            Message
----- ------            -------
 6492 Application Error Nom de l’application défaillante Explorer.EXE,
version : 10.0.16299.192, horodatage : 0x494a...
 6481 Application Hang  Le programme SearchUI.exe version 10.0.16299.98 a
cessé d'interagir avec Windows et a été fe...
 6455 Application Error Nom de l’application défaillante esu.e

[2018-01-11 13:10] shiftkey commented on #3757
Extracting the output because the email replies don't support markdown edits:

[code]

[2018-01-11 14:11] CecileL commented on #3757
Hope this will be better

Index Source            Message
----- ------            -------
 6492 Application Error Nom de l’application défaillante Explorer.EXE, version : 10.0.16299.192, horodatage : 0x494a...
 6481 Application Hang  Le programme SearchUI.exe version 10.0.16299.98 a cessé d'interagir avec Windows et a été fe...
 6455 Application Error Nom de l’application défaillante esu.exe, vers

[2018-01-11 14:30] j-greig commented on #3169
I'm having this problem again on 1.0.12 / macOS 10.12.6

[2018-01-11 14:33] shiftkey commented on #3169
@j-greig please open a fresh issue with repro steps

[2018-01-11 16:24] shiftkey commented on #3761
@nbucklin from the log it looks like the app isn't receiving the expected number of arguments, so it's not passing the callback into the app.

Could you open PowerShell and attach the output of these two commands:

[code]

The second value is the one we're interested in for authentication, but I also want to sanity check the first value.

On my machine the second protocol handler looks like this:

[2018-01-11 16:36] shiftkey commented on #3757
@CecileL there's no smoking gun in those logs. I'd suggest uninstalling and reinstalling the latest version from [desktop.github.com](https://desktop.github.com/) to see if that addresses the issue.

[2018-01-11 17:01] saikrishna106 commented on #1707
Hey, every body! This is simple problem guys. Just press ALT+F. you will see menu options so enter into view options then press the Toggle fullscreen it will end up. so be cool and think.

[2018-01-11 17:05] tierninho opened #3764 "Update "not found" repo error for missing orgs"
Currently we display "Not found" as the error message when a user attempts to publish a repo to an GitHub or Enterprise org that was recently deleted or renamed.

The error message should be more clear, perhaps "The selected organization was not found. Please try again."

This error message should also be removed if the user navigates to another tab to publish the repo.

<img width="1115" alt="scr

[2018-01-11 17:14] callumlocke commented on #1633
I'm confused by the team's position on this. What does it mean to label it as `future-proposal` and then close the issue without putting it on the roadmap? If it's a "maybe one day but not now" situation, how long do we have to wait before requesting it again?

FWIW this feature represented 50% of the value of GitHub Desktop for me (the other 50% being the ability to deselect lines when committing

[2018-01-11 17:17] adamreisnz commented on #1633
I feel the same way, this issue is generating quite a large interest from many people, and I feel such issues warrant to be kept open and brought forward on the roadmap.

I get it that the team doesn't want to get overwhelmed with issues, but it's easy to forget and ignore issues once they've been closed and I think it makes more sense to keep at least high value future proposals open, to avoid co

[2018-01-11 17:25] #3647 closed

[2018-01-11 17:26] bfred-it commented on #1633
They use the [`future-proposal` label](https://github.com/desktop/desktop/issues?q=label%3Afuture-proposal+is%3Aclosed+sort%3Aupdated-desc) exactly for that. Closed but not forgotten.

[2018-01-11 17:30] adamreisnz commented on #1633
I'm aware of the label, but closed issues don't encourage much community interaction, and when new people arrive at this repo looking for issues like these they will tend to look into open issues rather than closed ones, assuming they'd be sitting in the backlog. Hence the frequent duplicates.

[2018-01-11 17:35] j-f1 commented on #1633
Most of the languages added to the syntax highlighter have been contributed by users.

[2018-01-11 18:10] tierninho opened #3766 "Upstream error doesn't allow user to pull"
I ran across an existing error message guided me to "pull" despite the option being greyed out in the menu. I purposely created the same branch on Desktop and on GitHub.com and tried to "merge" them via Desktop.

<img width="927" alt="screen shot 2018-01-11 at 9 51 44 am" src="https://user-images.githubusercontent.com/14828183/34839308-0c06aa48-f6b6-11e7-9306-351397c3c24e.png">

When creating a lo

[2018-01-11 18:39] shiftkey commented on #3766
Does the button then switch to saying "pull", or does it get stuck in this loop because the branch doesn't have tracking information set?

[2018-01-11 19:02] tierninho commented on #3766
Gets stuck in the loop. I switched back to master to pull down the dupe branch, then went on the try a publish the original branch.

[2018-01-11 19:10] mark-friedman commented on #3715
I would just point out that from the user point of view, this just seems like a bug.  The fact that my branch's grandparent repo no longer exists shouldn't affect my ability to "Fetch origin".  Maybe I don't understand what "Fetch origin" is supposed to mean.  Could you explain what "Fetch origin" is trying to do beyond a straight `git pull` (which works just fine in this case)?Thanks in advance.

[2018-01-11 19:21] shiftkey commented on #3715
@mark-friedman "fetch origin" is how Git asks for new changes available on the remote repository, without changing the state of your current branch. The fetch button appears when you don't have changes to push or pull.

Also, the error won't be displayed to the user when the app fetches in the background, and the user-initiated fetching will only try the "origin" repository (i.e. your fork) and "u

[2018-01-11 19:24] shiftkey commented on #3715
Just updated the title to indicate this is related to `fetch` rather than `pull`

[2018-01-11 19:44] bopoh13 opened #3768 "Clear BOM before pushing files to the GitHub server"
Greetings!
I will try to explain the problem that has occurred in the headings of other issues without the text associated with the encoding of UTF-8.

### Description

The source text in the markup files (MarkDown, html, etc.) is stored in UTF-8. When I save the text in Windows, BOM (**0xEF, 0xBB, 0xBF**) is added to the beginning of the file. (In Linux operating systems, files in the UTF-8 encod

[2018-01-11 19:48] shiftkey commented on #3768
@bopoh13

Which program did you use to save the file?

[2018-01-11 19:58] jamland commented on #2322
Ok. I understand your idea
I will try to follow github way in my routine =)

[2018-01-11 19:59] bopoh13 commented on #3768
@shiftkey, [notepad.exe](https://www.virustotal.com/en/file/233a35e4b579ccde25951f8e543f1d16ae3e7b5b3f29c1d56e691ffb075ced15/analysis/)
I also tried to run scripts through _bash_ and _cmd.exe_ to erase the BOM.

[2018-01-11 20:37] nbucklin commented on #3761
Hi, attached is the output of those commands.

![capture](https://user-images.githubusercontent.com/31641550/34846168-4b986bb8-f6e5-11e7-955f-1c51d5ff3bd9.JPG)

[2018-01-11 20:43] shiftkey commented on #3761
@nbucklin well, looks like the neither protocol handler has been registered. That's odd.

@niik these should be applied on launch, right?

[2018-01-11 20:47] CecileL commented on #3757
@shiftkey I already tried this several times in december and got no chance. Is the latest version newer from the one I use?

[2018-01-11 20:54] shiftkey commented on #3768
@bopoh13 I think this is a limitation of `notepad.exe` - I was able to reproduce this issue using the version of notepad that ships in Windows 10.

This isn't the right place to handle these changes - they need to be caught before committing, because after that the file contents ("blobs" in Git terminology) are tied to the created commit. You can't change one without changing the other.

Git itsel

[2018-01-11 20:54] #3768 closed

[2018-01-11 20:56] shiftkey commented on #3757
@CecileL yes, `1.0.12` landed earlier this week and you can see the changes in [the release notes](https://desktop.github.com/release-notes/).

[2018-01-11 21:22] reyronald opened #3771 "Feature Request: Split staged files/lines"
First of all, great job guys! I'm loving the experience of using GitHub Desktop, and the look-and-feel of the product is the one I like the most so far of the tools that I've used!

### Description

Currently, the "Changes" section displays a list of all changed files in the repository that are not yet commited, and it's possible to commit them all at once, or choose specific lines to commit by cl

[2018-01-11 21:38] iAmWillShepherd commented on #3771
Thanks for taking the time to detail this.

There is an on-going discussion about this [here](https://github.com/desktop/desktop/issues/1688#issuecomment-320043903). Could you post the contents of your issue there please?

[2018-01-11 21:38] #3771 closed

[2018-01-11 21:56] bopoh13 commented on #3768
@shiftkey, sorry. I was inattentive. _Bash_ commands work fine. :metal:

[2018-01-11 22:09] reyronald commented on #3771
I saw that issue before posting this one but didn't seem to me that it was about the same exactly.. sorry about that! my bad..

I'll take the discussion there when I get to my laptop, thanks!

[2018-01-11 22:12] iAmWillShepherd commented on #3771
@reyronald You are right. Initially when I created the issue, I was referring to a very specific thing, but the conversation evolved. Check this [comment](https://github.com/desktop/desktop/issues/1688#issuecomment-320043903).

[2018-01-11 22:26] danqing opened #3772 "Request for elastic scrolling in macOS"
There's a similar issue for Atom (https://github.com/atom/atom/issues/345). Since Electron is Chrome and GH Desktop is arguably much simpler than Atom, it will be great if elastic scrolling can be added. This will hopefully allow Atom to support elastic scrolling in the future too.

Glad that I still have the old client...

[2018-01-11 22:28] niik commented on #3761
They should but I wonder if there's a problem with the very very first launch. @nbucklin Could you try restarting the application and see if they show up? If they don't then it would appear as if desktop isn't able to write to the registry. Do you have any security restrictions applied to you machine that could prevent that?

[2018-01-11 22:30] shiftkey commented on #3772
@danqing I see https://github.com/atomiks/elastic-scroll is mentioned as a library option to mimic this. It'd be cool if someone tried to plug it into Desktop and see how it felt.

[2018-01-11 22:38] niik commented on #3772
In principle I'm all for this idea, it's a native convention and if we can replicate it without too much fuzz it'd be great.

I've tried that library and unfortunately it doesn't replicate the experience 100%. It does a great job of matching the easings but when you're in the elastic band effect you're stuck there until the transition is completely meaning that you can't scroll during that time. I

[2018-01-11 23:14] CecileL commented on #3757
@shiftkey Thanks for the info. I uninstalled my version, deleted all the files in Appdata/local/github then installed the latest version. It opened at the end of installation. Then I closed it and it won't open again. I can't reboot right now and it's late here so I'll see if it opens tomorrow after rebooting.

Thanks again for your help

[2018-01-11 23:18] reyronald commented on #1688
@adamreisnz  Wow, that's shocking for me to read, since I have the exact opposite opinion. I'm with @pkamb  on this. I love using the split staging view and have grown so used to it that basically I feel like a fish out of the water when I'm using a tool that doesn't have it. I find it adds a lot of power to the code reviewing experience before commiting.

Just wanted to point out that SourceTree

[2018-01-12 07:14] LuiggiYax opened #3775 "hola"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-12 09:21] #3775 closed

[2018-01-12 10:10] srxboys opened #3776 "GitHub Desktop Interactive ideas in MacOS"
Dear GitHub:
               If I clone hundreds of projects, I want to catalog and classify functions of projects, or do note information under the name of projects, which is only for local convenience.

Thanks!!!!
------------------------------------------------------------------------
亲爱的GitHub：
          如果我的clone几百个项目，我想对项目进行目录分类查看的功能，或者在项目名下面进行备注信息，只作为本地方便查看。谢谢！！！！

[2018-01-12 11:21] niik commented on #3776
Hey @srxboys, thanks for opening this!

There's a few issues already around various forms of repository management such as

- https://github.com/desktop/desktop/issues/1929
- https://github.com/desktop/desktop/issues/1598
- https://github.com/desktop/desktop/issues/2037
- https://github.com/desktop/desktop/issues/2324

While these ideas are interesting for the future, they're beyond the scope of o

[2018-01-12 11:21] #3776 closed

[2018-01-12 12:25] niik commented on #2165
@shiftkey Sorry, I missed this during the holidays. No, I started but never finished, removing my assignment.

[2018-01-12 13:20] maxbed commented on #3776
Sent from Mail for Windows 10

Dear GitHub:
If I clone hundreds of projects, I want to catalog and classify functions of projects, or do note information under the name of projects, which is only for local convenience.
Thanks!!!!
亲爱的GitHub：
如果我的clone几百个项目，我想对项目进行目录分类查看的功能，或者在项目名下面进行备注信息，只作为本地方便查看。谢谢！！！！
—
You are receiving this because you are subscribed to this thread.
Reply to this email directl

[2018-01-12 13:35] joshaber commented on #3772
This is being tracked in Chromium's bug tracker: https://bugs.chromium.org/p/chromium/issues/detail?id=546520

I _doubt_ we can replicate this but I'd love to be surprised 😄

[2018-01-12 14:45] reyronald commented on #3739
@tierninho Wouldn't that mean that when switching back again to the first tab the previously entered text would be lost? Is that the desired behavior?

[2018-01-12 15:28] doomlab opened #3779 "ENOENT error on Mac"
### Description

I am getting an error message using github desktop on my mac (High Sierra 10.13.2). Any time I click fetch origin or push origin, I get the following error:

ENOENT: no such file or directory, mkdtemp '/private/var/folders/wn/9qmmzlcj7gjfy01xzlfb7f400000gn/T/Cleanup At Startup/GitHubDesktop-lfs-progress-6YOmvE'

I checked the other issues by searching enoent, but didn't find a goo

[2018-01-12 15:29] shiftkey commented on #3779
We've had a couple of reports of this on Windows (like #3747) which were due to the `TEMP` or `TMP` environment variable being set to contain multiple paths, but this looks different to that.

[2018-01-12 15:42] doomlab commented on #3779
I tried to use some of those errors to help troubleshoot the issue - but I don't really see anything in the logs that I could use to figure out where the problem lies. I can also provide the logs to a specific folder if that would help.

[2018-01-12 15:54] j-f1 opened #3782 "Use a custom whitelist of globals allowed in the source"
https://github.com/desktop/desktop/pull/3780 happened because `window.name` is a string property of `window`, which is used for <sub>*mumble mumble*</sub>. However, we probably don’t need to use any of the properties of `window` (or even `window` — `global` should be enough).

We could check for this error with ESLint’s `no-undef` rule, and whitelisting globals as needed (or just accessing them un

[2018-01-12 16:01] iAmWillShepherd commented on #3779
After going through the logs you've submitted, I can't see anything out of the ordinary. Can you confirm that the location `/private/var/folders/wn/9qmmzlcj7gjfy01xzlfb7f400000gn/T/Cleanup At Startup/GitHubDesktop-lfs-progress-6YOmvE'` indeed does not exist?

[2018-01-12 16:03] shiftkey commented on #3782
👍 to trying this out to see if we can catch these

[2018-01-12 16:06] doomlab commented on #3779
Sure. Hopefully this picture is readable.

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/27783894/34883709-5baa05b8-f788-11e7-9e3c-5d26867745f2.png">

I also checked the temporary directory and tried to find this directory in terminal:
Last login: Fri Jan 12 11:00:24 on ttys000
BuchanaMacBook3:~ buchanan$ echo $TMPDIR
/private/var/folders/wn/9qmmzlcj7gjfy01xzlfb7f400

[2018-01-12 16:41] tooomm opened #3784 "allow to open files from changed files list in default editor"
### Description

I miss the ability to double click on a file in the "list of files with changes" to open the file.
Especially in the `Changes` view that would be great to further work with the file or e.g. fix errors spotted in the in-app diff.

For `History` tab it makes only sense if it would open the file in the browser at the related commit maybe.

![open_file](https://user-images.githubuserc

[2018-01-12 16:42] shiftkey commented on #3784
@tooomm thanks for the report. We're tracking this in #2845, so please follow along with that issue.

[2018-01-12 16:42] #3784 closed

[2018-01-12 16:47] tooomm opened #3785 "interactively link app to github page"
### Description

It would be very helpful to be able to click on user names (or commit hashes) and open the related github page for further information.

For example:
- Who is that guy? --> click
- I want to comment that commit --> click

<br>

![open_github](https://user-images.githubusercontent.com/9874850/34885325-e548c0ca-f7bf-11e7-91d2-d888a474c60c.png)

### Version

**GitHub Desktop version:

[2018-01-12 16:50] doomlab commented on #3779
I tried googling this, but am missing how to change that variable. I tried looking in .profile but not seeing it. I would test changing it if I could figure out how :|.

[2018-01-12 16:51] tooomm commented on #2845
I want to see that as well!
I highly suggest not only to allow to open files via context menu, but more intuitively with a simply double click!

[2018-01-12 16:57] iAmWillShepherd commented on #3785
Thanks for taking the time to contribute!

We noticed that this is a duplicate of https://github.com/desktop/desktop/pull/3770. Please follow that issue
for further updates.

[2018-01-12 17:24] tooomm opened #3786 ""create a pr" always creates it against master"
### Description

I just realized this...
After creating a branch based on another branch than default/master and doing changes to it.
When I wanted to PR my changes from the client, it opens the webpage but is showing the wrong base branch and wants to merge the branch into master (always master it looks like?).

This could easily result in a very weird PR being created. :)

Maybe this is a repo s

[2018-01-12 17:24] shiftkey commented on #3779
@doomlab I'm glad you were able to workaround this issue. I'm going to leave this open to see if we can reproduce this - my gut feeling is that we need to handle that path better within the app.

[2018-01-12 17:33] tierninho commented on #3786
In other words, if a branch was created off the currently checked out branch (not including master), it should appear here (see pic) when the user selects `Create Pull Request` from the menu?

![screen shot 2018-01-12 at 9 29 22 am](https://user-images.githubusercontent.com/14828183/34887474-84d0f58a-f77b-11e7-8356-e1d355efbf58.png)

[2018-01-12 17:41] doomlab commented on #3779
Thanks for your help! I'll be glad to answer any questions if I can.

[2018-01-12 17:56] tooomm commented on #3786
Yes.

I get this:
![1](https://user-images.githubusercontent.com/9874850/34888250-d147a79e-f7c9-11e7-8935-57db55e503a3.png)

And I expect this:
![2](https://user-images.githubusercontent.com/9874850/34888257-d290313e-f7c9-11e7-8792-474c59aee3e4.png)

The fallback, if `test` doesn't exist any longer, can be master/default branch.

[2018-01-12 18:50] reyronald commented on #3739
@tierninho When I said "previously entered text" I meant the text entered when you were in that tab originally before switching, like this...

1. In Enterprise tab, user types 'enterprise repo'
2. Click Github tab, filter is cleared, doesn't have the text 'enterprise repo' anymore.
3. Click Enterprise tab again... here do we want the text-box to still be blank, or should it have the original text

[2018-01-12 19:09] tierninho commented on #3766
We are also displaying the an open PR for the same branch...

![screen shot 2018-01-12 at 11 08 54 am](https://user-images.githubusercontent.com/14828183/34891065-07d738ba-f789-11e7-9aa0-ae7660c7a234.png)

[2018-01-12 19:33] tierninho commented on #3739
Ah gotcha, I hadn't considered step 3. I will leave the decision up to our core members and design team.

Thanks for pointing out the additional use case!

[2018-01-12 19:51] JayArrrgh commented on #3422
Yes, please.

[2018-01-12 20:55] ethancwb commented on #3263
OMG I can't believe so many people is having this issue. It worked for me too! I guess the reason could be when you denied the Keychain.app to remember one of your keys, it actually locks the whole thing in the backend. I denied once today and had this issue.

[2018-01-12 21:18] #3134 closed

[2018-01-12 22:25] SAGNA01 opened #3788 "maquette de formation"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-12 22:42] #3788 closed

[2018-01-13 04:41] PinkPhanny opened #3790 "DON;T LOOK"
FUCK OFF

[2018-01-13 08:44] atomiks commented on #3772
The problem is the native "stretching" ability when you're already at the top/bottom is impossible to implement with the web APIs. I'm not sure about mouse-based macs, but you need to know when the trackpad is let go, which (correct me if I'm wrong) there is no event for.

There's actually a benefit to it and that's subpixel translation (the current native implementation uses full 1px values which

[2018-01-13 13:12] #3790 closed

[2018-01-13 13:52] shiftkey commented on #3779
I wasn't able to reproduce this with a path containing spaces:

<img width="637" src="https://user-images.githubusercontent.com/359239/34906566-65d6175c-f846-11e7-8f85-7e38ad217a0f.png">

After a bit more digging, I found [this link](http://www.westwind.com/reference/OS-X/invisibles.html) which mentions that the `Cleanup at Startup` directory is a macOS "invisible folder" which contains "files cre

[2018-01-13 13:52] #3779 closed

[2018-01-13 17:13] saschanaz opened #3791 "Add support for launching PowerShell Core shell from Desktop"
### Description

GitHub Desktop allows me to open Windows PowerShell but not the new [PowerShell Core](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-powershell-core-60?view=powershell-5.1).

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10

### Steps to Reproduce

1. Options->Advanced->Shell

**Expected behavior:** I should be allowed to o

[2018-01-13 21:08] shiftkey commented on #3791
@saschanaz please refer to the [documentation](https://github.com/desktop/desktop/blob/master/docs/technical/shell-integration.md) about our shell integration. If someone wants to take a shot at integrating it, I'm happy to help with the review process.

Also, what are the differences between PowerShell and PowerShell Core in terms of installation and usage?

[2018-01-13 21:22] shiftkey commented on #3609
I've not been able to trigger this while testing `1.0.12-beta1` on macOS - are there any extra steps or potential race conditions I'm overlooking?

[2018-01-13 22:38] reyronald commented on #3739
I went ahead and pushed a PR with the initial suggested behavior in #3741. I also comitted the behavior I suggested in another branch and linked it there so we can compare.

[2018-01-13 23:14] JQuinnie commented on #3764
I would like to work on this issue.

[2018-01-13 23:20] pingcc45995 opened #3792 "pcc45995"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-13 23:20] #3792 closed

[2018-01-14 06:39] MacStevins opened #3793 "Cannot Upload/Update Projects Because of Unknown User"
### Description

Uploading/Updating Projects using GitHub Desktop is so easy before, now it just stops,
Due to this huge bug that is happening.

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10

### Steps to Reproduce

1. Launch GitHub Desktop Normally
1. Upload/Update Any Project
1. Get Error

**Expected behavior:** Upload/Update Project

**Actual behavior:** Error sayi

[2018-01-14 07:57] IdanAdar opened #3794 "Allow for manual sorting of repositories in the application UI"
### Description

I would like for the ability to manually sort the order of repositories that appear in the application UI.

### Version

**GitHub Desktop version:** 1.0.12-beta1

**OS version:** 10.13.2

### Steps to Reproduce

None.

**Expected behavior:** To be able to click&drag repositories in order to order/sort them.

[2018-01-14 11:57] shiftkey commented on #3793
@MacStevins could you try this:

 - from the top menu, select the **File** | **Options** menu item
 - select the **Git** tab
 - fill out your name and email address
 - click **Save**
 - try committing again

[2018-01-14 12:11] shiftkey commented on #3764
@JQuinnie the area of the codebase you probably need to modify to fix this is [here](https://github.com/desktop/desktop/blob/master/app/src/lib/api.ts#L348-L373). In here we should check for the `404` and instead throw a more friendly error message.

[2018-01-14 13:27] shiftkey commented on #3794
@IdanAdar thanks for the feedback. We had a similar request for this in https://github.com/desktop/desktop/issues/2324 and I also added a comment about similar ideas in this comment https://github.com/desktop/desktop/issues/2324#issuecomment-317717682.

These ideas are marked as `future-proposal` for consideration, but feel free to add your thoughts to these issues.

[2018-01-14 13:27] #3794 closed

[2018-01-14 14:51] shiftkey commented on #1633
Hey all, just wanted to add some context from our side about "magic stashing" and why we haven't prioritised it yet.

With the Desktop Electron work, we've taken time reflect on features in the classic apps that were problematic and see whether we can achieve the same result differently. The Sync button is a great example of that. You can read about [the different direction](https://github.com/des

[2018-01-14 22:14] iAmWillShepherd commented on #3764
Turns out we are not keeping track of what orgs a user is a part of. We need to add this in before this issue is attempted.

[2018-01-14 22:21] shiftkey commented on #3764
@iAmWillShepherd do we need to track that? We already render the orgs list when it's publish time, and that should be relatively up to date enough to not bother with extra work.

@tierninho to be clear here, are these the repro steps (or similar) you performed?

 1. Create new repository
 2. Open publish repository dialog, which loads list of orgs
 3. Select organization X
 4. Rename or delete org

[2018-01-14 23:10] JQuinnie commented on #3599
Looking in the .ts, I noticed that there seems to be a test that will test double--dashes, but it doesn't actually do that. What is the test case it is performing?

https://github.com/desktop/desktop/blob/d5c4b4ad9483670aeec4d0974f4aba1c82e748c6/app/test/unit/sanitize-test-name-test.ts#L42-L46

[2018-01-15 05:53] saschanaz commented on #3791
Installation: Currently Windows users have to install it manually. Not sure future Windows 10 builds will bundle it.
Usage: Generally same but no access to traditional .NET as PowerShell Core is based on new .NET Core.

[2018-01-15 06:13] brunnopleffken opened #3797 "Diff highlight: sometimes it works, sometimes it doesn't"
### Description
The image below is self-explanatory. These two lines have exactly the same change (`Coworking` to `@user.coworkings`). But the lines above are highlighted, the others aren't. Why? The same happen with a single `#` sign.

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Mac OS X High Sierra 10.13.2

### Steps to Reproduce

1. There're no well defined steps, because t

[2018-01-15 06:14] fluffy-critter opened #3798 "Creating a new repo with a space in the name doesn't get mangled correctly"
### Description

I am working with someone who is new to git, and who is just learning how to make new repositories. He keeps on forgetting that you cannot have spaces in repository names. When he creates a repository from github.com, this works fine (as the space is mangled to an underscore), but if he creates it from GitHub Desktop, the push fails with nonsensical errors.

Tracking this down was

[2018-01-15 07:17] vermatanya1994 commented on #3695
Try using
git clone --depth 1 <repo_URI>
then

git fetch --unshallow
or
git fetch
or
git fetch --depth=2147483647

Then do
git pull

This worked for me....

[2018-01-15 08:21] gebhushan opened #3800 "Unable to switch to a newly created branch"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-15 08:24] gebhushan commented on #3800
Version : 1.0.12
OS Version : Windows 10

Expected behavior: Change to Newly created Branch.
Actual Behvior: Not Changing, but instead is also not redirecting if tried to switch after creating.

[2018-01-15 11:13] callumlocke commented on #1633
Thanks @shiftkey for explaining. I can see the issues with restoring the it as it was.

Personally I would be happy with doing a `wip` commit and then doing "Undo" later, which would achieve the same thing as magic stashing but more consciously, less magic, which is good.

But that's not feasible if you have a pre-commit hook that rejects your commit due to broken code (which is usually the case w

[2018-01-15 12:45] thecodester opened #3801 "Installation does not set path to git.exe in environment variables"
When installing GitHub Desktop, the path to Git is not set, so when I open up command prompt I cannot issue Git commands.

Worse yet, after setting the environment variable so the command prompt can execute Git commands, the location of Git changes after every new release of GitHub Desktop, so I have to update the path variable.

The path to GitHub Desktop I use is something like: ...\AppData\Loca

[2018-01-15 14:56] iAmWillShepherd commented on #3764
Ignore that, I did this on a release version of desktop from a *very* long time ago.

[2018-01-15 15:16] shiftkey commented on #3800
@gebhushan could you please fill out the template? There are important details like repro steps and log files that haven't been provided yet that will help with troubleshooting.

[2018-01-15 15:25] shiftkey commented on #3801
@thecodester thanks for the feedback.

We don't recommend using the embedded Git for many reasons, which I previously outlined here: https://github.com/desktop/desktop/issues/3708#issuecomment-354665183

We recommend installing [Git for Windows](https://git-for-windows.github.io/) and ensuring you check the "add to your `PATH`" option in it's installer.

[2018-01-15 15:25] #3801 closed

[2018-01-15 15:48] jborn commented on #2847
I've tried copying a github_rsa.pub to id_rsa.pub in %USERPROFILE%\.ssh to no avail.  Still can't clone, fetch, push or pull.  Very frustrating when the classic github desktop just worked.

[2018-01-15 16:00] shiftkey commented on #3798
@fluffy-critter thanks for the details. A log file will definitely help us with understanding the issue with the pushes (if they're related to SSH not being setup correctly or something else).

The `Git name field cannot be a disallowed character.` error feels very similar to #3722, which was fixed in #3751 and will go out with the next update.

[2018-01-15 18:23] shiftkey commented on #3797
@brunnopleffken thanks for the report. There's enough details in here to investigate further on our end, but if you can reproduce this with a public repository you can include the raw diff which will help with troubleshooting:

[code]

This also feels similar to #3762 but let's leave both open for now until we've had a chance to dig deeper into the underlying issue.

[2018-01-15 21:15] fluffy-critter commented on #3798
Thanks, I'm working on getting that information. Note that the failed pushes were from the command line rather than from GitHub Desktop, but hopefully GitHub Desktop has logs around things.

It turns out that he had created the repository on a different machine and copied it to his laptop via USB thumb drive, though, and he is currently traveling so he doesn't have access to those logs. Hopefully

[2018-01-15 21:24] fluffy-critter commented on #3798
Okay, I got a log that shows the resulting error, although it doesn't appear to have any information about the repo it's trying to connect to. It's attached anyway. Hopefully that's helpful, or leads to the next thing to look for.

[2018-01-15 21:37] OiYouYeahYou opened #3802 "When using mirror repository, Application expects repos to be identical"
### Description

When remotes differ and (1) repo contains unmirrored commits or (2) current branch is not mirrored. "Sync/Fetch/Publish button" displays "Publish branch/repository" even if commits/branch has been just been pushed successfully.

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Win 10

### Steps to Reproduce

1. Clone public repo. _Example: https://github.com/deskto

[2018-01-15 21:42] shiftkey commented on #3802
@OiYouYeahYou thanks for the report. I don't generally set up different `fetch` and `push` URLs when configuring a remote, so this is something I'd not as familiar with.

One question:

We don't have a "Sync" button - could you clarify whether the branch button was "publish" or "push" or "fetch" at this point?

[2018-01-15 21:49] OiYouYeahYou commented on #3802
You are asking what the "Sync" button text is saying, right?

Once you have clicked this button it the text reads in this example "Publish button"

[2018-01-15 21:51] iAmWillShepherd commented on #3802
@OiYouYeahYou he's referring to the contextual push/pull button (it does not perform a sync).

[2018-01-15 22:01] CecileL commented on #3757
After installing 1.0.12 GitHub Desktop opened fine. Then I closed it and it would no reopen. After rebooting it opened again but once again, if I close GitHub Desktop it won't open again

[2018-01-15 22:02] iAmWillShepherd commented on #3802
I'm able to produce an error when I create a remote manually using git and trying to push.
`git remote add origin https://github.com/iamwillshepherd/test2.git`

Switching off the repository and reloading it allows me to push just fine.

When I update the push URL:
`git remote set-url --push origin https://github.com/iamwillshepherd/test3.git`

I reach a state where I cannot push to that remote bec

[2018-01-15 22:21] iAmWillShepherd commented on #3802
Furthermore, it looks like it is possible to get in a state where the ahead/behind status is incorrect if you have changed the url of one of your remotes. Looks like this confuses git as well.

@OiYouYeahYou would you mind elaborating on your use case?

[2018-01-15 22:54] iAmWillShepherd commented on #3609
If you don't look at the PRs for the different repository, you encounter the bug

This is good to know, but also sounds like a huge pain to find.

[2018-01-16 02:26] SamarthaKV29 opened #3803 "CAnnot see my repos"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-16 02:27] #3803 closed

[2018-01-16 04:26] gebhushan commented on #3800
Sry about not filling the template but, I have simply deleted the clone repository and cloned it again, which solved all my problems.. and the second reason is that the same branch name was created by one of my teammates few months back, and it created little mess.. I'm good now, but thanks for reaching out.. that gives me a confidence that I can always rely on you..!! I appreciate that..!!

[2018-01-16 04:26] #3800 closed

[2018-01-16 04:37] vhsferreira commented on #2190
I'm new in GitHub. I'm now getting " Repository creation failed. (name already exists on this account). Any ideas?
Thanks

[2018-01-16 07:53] hscanlan commented on #3465
I have this exact problem. Just started happening I believe..

https://imgur.com/q8Z29JE

[2018-01-16 09:14] ckarcz commented on #3465
if you can attack your logs for the github team that would be great as i work in a financial firm and uploading such files is strictly forbidden.

[2018-01-16 11:08] bfred-it commented on #2620
Now I'm curious of what the difference was and how double-clicking is any different from `Right click -> Open with default program` 😳

[2018-01-16 11:34] MacStevins commented on #3793
Tried that, did not work. But I have question this in Stack Overflow and that worked. I'll still not gonna delete this issue, because it's a big bug.

[2018-01-16 15:46] joshaber commented on #2190
@vhsferreira Please open a new issue and fill out the issue template so that we can better help you.

[2018-01-16 15:47] joshaber commented on #2847
@jborn Please open a new issue and fill out the issue template so that we're better able to help you.

[2018-01-16 15:48] joshaber commented on #855
@LionelMarbot Please open a new issue and fill out the issue template so that we're better able to help you.

[2018-01-16 16:02] joshaber commented on #3798
@fluffy-critter It looks like the attachment didn't come through. Could you give it another shot?

[2018-01-16 16:04] pliniociccio commented on #3757
Same issue here.

[2018-01-16 16:23] shiftkey commented on #3793
Can you clarify what this means? Was it the same error or a different one? (This should be in the logs).

Can you link to this StackOverflow discussion?

[2018-01-16 16:43] Joebeazelman opened #3805 "Github Link should warn users if they are not logged in"
I have Github Desktop installed and when I click "Open in Desktop" in Chrome the link takes me to the "https://desktop.github.com/" page instead of opening the repo in GitHub.  This happens when I am not logged in.  The responsible script should warn the user that they are not logged instead of sending them to the download page.  Also, if the page hasn't been refreshed and you log into Github from

[2018-01-16 17:37] Joebeazelman opened #3806 "Github Desktop's UI is horrible!"
Github's Desktop UI painful if you want to download a repository and start working on it. Expecting the user to read a long line of blue text on a light blue background to perform a very common operation is just plain bad UI design.  The text is lost among the busy screens of most developers. "Open this repository In Explorer" is confusing.  Is it a message or a link?  What is a hyperlink doing in

[2018-01-16 18:25] iAmWillShepherd commented on #3798
@joshaber it looks like it's in the first comment at the bottom.

[2018-01-16 20:04] joshaber commented on #3805
Thanks for the feedback @Joebeazelman! This is something we're hoping to improve in the future.

[2018-01-16 20:04] #3805 closed

[2018-01-16 20:11] j-f1 commented on #3805
(this issue has been closed since there isn’t anything that needs to be changed in this repository)

[2018-01-16 20:15] fluffy-critter commented on #3798
Yeah I attached it to the initial bug report, sorry that wasn't obvious.

[2018-01-16 21:02] ydogus commented on #3806
Hi @Joebeazelman. I couldn't resist to reply. :) I think the look and feel is very good in general.

Actually it is surrounded with dark gray text. So you should be easily locate and read it. Because the contrast is enough: You don't always need *full black / full white* contrast ratio.

Actually speaking for UX, I'm glad it is a hyperlink. This way it gives you a simple message: **I'm going to di

[2018-01-16 21:16] Rubinhuang9239 commented on #2721
Get my work from entire last week just deleted with same operation.
During my initial push. No more backup, was trying to use Github for backup. Awesome.

[2018-01-16 21:18] j-f1 commented on #3806
Check out [our editor integration docs](https://github.com/desktop/desktop/blob/master/docs/technical/editor-integration.md) for some instructions on how to contribute a new external editor. We’d appreciate the help!

[2018-01-16 21:32] Joebeazelman commented on #3806
Let's see... Visual Studio IDE has been out for how many years now?  Oh wait... It has been out before Github desktop and Visual Studio Code.  And VS Code is younger than Github desktop.  Why does VS Code get the love?  Is it because it's cross platform?  It would suffice to just be able to open at least the solution and project files.

[2018-01-16 21:46] iAmWillShepherd commented on #3806
@joebeazelman, you you right. We didn't include visual studio because it is not open source. Furthermore, at the time the decision was made, visual studio had no way to open a folder from the command line. This is something we have no control over.

[2018-01-16 22:34] Joebeazelman commented on #3806
@ydogus

I remember not understanding what older people meant when they complained the text was too small or there wasn't enough contrast, but I at least tried to understand.  As you get older, your vision changes.  I had better than 20/20 vision for most of my life and today I need bifocals because I've become far-sighted.  It all took a sudden downturn two years ago and I am still getting used t

[2018-01-17 00:26] saschanaz commented on #3791
The code to add shells seems simple enough but I will wait for https://github.com/PowerShell/PowerShell/pull/5915 as the current App Paths registration is bugged.

[2018-01-17 00:35] shiftkey commented on #2721
@Rubinhuang9239 could you open a new issue and fill out the template?

[2018-01-17 01:39] mdiep opened #3807 "Can't checkout a branch on a detached head"
### Description
When you're on a detached head, checking out a branch in Desktop doesn't seem to work. 😞

### Version
**GitHub Desktop version:** 1.0.12
**OS version:** 10.13.2

### Steps to Reproduce

1. Check out a detached head
1. Cmd-B, type `master`, hit enter

**Expected behavior:** Should now be on `master`

**Actual behavior:** Nothing

**Reproduces how often:** Always

### Logs
Nah, there

[2018-01-17 08:01] MacStevins commented on #3793
The comment/answer you said. I've tried that many times, didn't work. And the logs, it is in another file, can't locate it.

First, it's Stack Overflow (with a space), and second, the link is <a href = "https://stackoverflow.com/questions/48247326/github-desktop-cannot-upload-update-projects-because-of-unknown-user">here</a>.

[2018-01-17 09:13] kcharcast commented on #3263
@joshaber you handsome devil, that works!

[2018-01-17 10:12] NiklasBr commented on #3806
This, I agree with. The contrast ratio of 4.5:1 just barely passes the minimum recommendation, I _really_ wish it was better.

There are a set of low-contrast issues I have not bothered to report (though I did bother to report #2586). Also there is no support for macOS's [Increased Contrast mode](https://support.apple.com/kb/PH25807?locale=en_GB "macOS Sierra: Display pane of Accessibility System

[2018-01-17 11:06] j-f1 commented on #3806
I was always under the impression that GitHub Desktop was screen reader-accessible (at least on Macs), but I just checked, and that is **very** incorrect:

<img width="1875" alt="screen shot 2018-01-17 at 06 03 57" src="https://user-images.githubusercontent.com/25517624/35039620-6a8c1342-fb4c-11e7-8124-5888cd0c98a2.png">
<sup>“This app is scrollable.” “What’s inside the scroll area?” ”IDK”</sup>

[2018-01-17 13:33] NiklasBr commented on #3806
That's some good news at least. However, I don't have any screen reader other than VoiceOver to try with. I do wish Electron supported it and not just external ones.

Anyway, there is more to accessibility than just screen reader support. My personal pet is contrast:

![2018-01-17 14 26 30](https://user-images.githubusercontent.com/279826/35045104-09f7522a-fb93-11e7-8567-891df166ce19.gif)

[2018-01-17 16:20] lmtyler opened #3808 "no longer able to use personal SSH keys for MAC"
### Description

Using MAC and internal Enterprise GitHub
We use password protected SSH keys for access to our repos
GitHub Desktop is not allowing me to attach my personal public key in order to push to my repo

### Version

**GitHub Desktop version:** [1.0.12]

**OS version:** [macOS High Sierra Version 10.13.2]

### Steps to Reproduce

1. Clone repo with either SSH or HTTPS url
or
1. Add local

[2018-01-17 16:59] shiftkey commented on #3806
This issue seems to have gotten a bit out of hand, so I'll give some guidance about the next steps before wrapping this up:

 - If you have feedback about the UI, please open a new issue with screenshots and details so it's easy for us to discuss _why_ things are currently they way they are. #3543 and #3189 are greats example of this.

- Accessibility support is something we're aware of. #1289 was

[2018-01-17 16:59] #3806 closed

[2018-01-17 17:46] theryan722 opened #3809 "Why is developer tools enabled?"
### Description

I noticed that when you press the keyboard shortcut for Webkits developer tools, it pops up on Github. Why is this enabled on Github Desktop? I would have figured that it would be disabled, given that I can't really think of any use for it in the desktop application. I then also discovered that it was in the menu as well to toggle the developer tools, so this seems deliberate.

##

[2018-01-17 17:49] j-f1 commented on #3809
It’s useful for debugging if something goes wrong, and it doesn’t really hurt to have it enabled.

[2018-01-17 18:24] theryan722 commented on #3809
Okay was just curious. Also, by disabled by default do you mean not visible on launch, or actually disabled where you can't open it? Because I'm not using a developer version of github desktop.

[2018-01-17 18:24] shiftkey commented on #3793
@MacStevins I'm glad you were able to workaround the issue.

The steps I suggested were intended to have the same result as the SO solution, so without a fresh log to see why my solution didn't work for you I'm fine with leaving it as-is.

[2018-01-17 18:24] #3793 closed

[2018-01-17 18:39] shiftkey commented on #3809
It's not visible on launch.

[2018-01-17 19:06] kachroolab opened #3810 "Github page webpage graphics are off."
My webpage shows weird layout missing graphic. What could be the problem?

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how

[2018-01-17 19:07] theryan722 commented on #3809
Oh okay. Thanks for the clarification.

[2018-01-17 19:08] shiftkey commented on #3810
@kachroolab I'm not sure this is related to GitHub Desktop - could you share some screenshots and maybe even a URL so we can understand the situation better?

[2018-01-17 19:09] kachroolab commented on #3810
The URL is "www.kachroolab.org"

[2018-01-17 19:13] shiftkey commented on #3807
@mdiep thanks for the repro - I can see this myself.

I'll dig into what we're doing and see if we can put together a fix.

[2018-01-17 19:16] kachroolab commented on #3810
Solved, I had added a link to a website and strangely that had this weird affect. The removal of the website link restored the graphics and layout.

[2018-01-17 19:17] shiftkey commented on #3810
@kachroolab thanks for the link. If you get stuck in the future, have a read of the GitHub Pages [resources](https://help.github.com/pages/) we provide.

[2018-01-17 19:17] #3810 closed

[2018-01-17 19:38] joshaber commented on #3808
Hi @lmtyler! As you've found, our SSH support is currently not great. We have #2579 open to improve it in the future.

In the mean time, there are a couples things you might be able to do to get around this:

1. Use HTTPS if possible. That will avoid SSH keys entirely.
1. Manually add the SSH key to the running SSH agent. See https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-

[2018-01-17 19:38] #3808 closed

[2018-01-17 21:03] joshaber commented on #3797
This is _probably_ #2700. The heuristics we use to do line diffing are less than great and we bail more often than we really should.

I'm gonna close this and track it in #2700.

[2018-01-17 21:03] #3797 closed

[2018-01-17 21:03] joshaber commented on #3762
This is _probably_ #2700. The heuristics we use to do line diffing are less than great and we bail more often than we really should.

I'm gonna close this and track it in #2700.

[2018-01-17 21:03] #3762 closed

[2018-01-17 21:08] danqing commented on #3772
I wonder if the trackpad release event can be (is?) exposed via Electron, so that @atomiks' cool library can be used at least for Electron-based apps.

[2018-01-17 22:18] sis-c commented on #1214
Also late to the party, but I teach a university course where we just started using GitHub Desktop and some of my students have 32bit systems and can't afford a system "of the future". So, just a vote for considering that access to such tools could benefit those trying to improve their economic status through mastering technology.

[2018-01-17 23:03] koenpunt commented on #3762
Looks like it, I’ll subscribe to that issue

[2018-01-17 23:04] shiftkey commented on #3802
I can share a bit more about the root problem here, but I'm not sure if this is something we can fix.

Here's my fork setup with the split `fetch` and `push` URLs on the single remote:

[code]

When I push the new branch in Desktop, it passes `--set-upstream` and completes without error:

[code]

But if you do a `git status` again you'll see this message:

[code]

And while this doesn't sound righ

[2018-01-18 10:20] artyom-kolesnikov commented on #3422
We are using GitHub Desktop for artists/designers at work but the history gets dirty very quickly due to lack of this feature :( Will have to switch to more complex git client unfortunately.

[2018-01-18 11:55] zhlei1012 opened #3813 "test"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-18 12:43] callumlocke opened #3814 "lock the file/line selection controls while a commit is running"
### Description

I'm working on a large project that has a slow pre-commit hook (> 10 seconds). Several times, I've used the file checkboxes and individual line selection to do a partial commit, and then without realising the commit is still running, I've started selecting more lines for a second commit. Then I realise the first commit is still running, and it's hard to tell from the UI what is go

[2018-01-18 13:35] bangly631 commented on #3814
![snapshot_20180117](https://user-images.githubusercontent.com/33788088/35100654-d35f30d8-fcc9-11e7-9eef-a547cc417661.JPG)

[2018-01-18 13:36] Hariom98 opened #3815 "Github Desktop is not recognizing me while I am trying to make changes."
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-18 13:36] bangly631 commented on #3814
![snapshot_20180117](https://user-images.githubusercontent.com/33788088/35100680-f46c03b4-fcc9-11e7-8adb-2316ac8ce952.JPG)
![snapshot_20180117](https://user-images.githubusercontent.com/33788088/35100675-edf72a4a-fcc9-11e7-958b-aa802044699e.JPG)

[2018-01-18 14:02] j-f1 commented on #3815
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-18 14:47] #3813 closed

[2018-01-18 15:25] sungjin0213 commented on #1685
+1 Please add cherry picking! I'm using two different apps for source repository because of this.

[2018-01-18 15:36] jborn opened #3816 "Github Desktop version 1.0.12 Authentication Failed during fetch with remote"
### Description

After upgrading to the new Github desktop from the classic Github Desktop on Windows 10 I get an Authentication Failed when using an https repository URL.

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10 Pro Version 1709 OS Build 16299.192 (running as a VM under Mac OS X Sierra 10.12.6 using VitualBox)

### Steps to Reproduce

1. Install latest GitHub D

[2018-01-18 16:15] shiftkey commented on #3816
@jborn could you attach the full log? There are some additional details that help us validate the environment before the error occurs.

[2018-01-18 16:47] cheshire137 commented on #2566
This occurred for me again on version 1.0.12 in macOS. The console includes an error about the git process:

[code]

Just before this error in the console is a log for a successful command:

[code]

This happened right after I made a commit in the app and then tried the "Discard All Changes" command on the uncommitted files.

[2018-01-18 17:10] shiftkey commented on #3617
Git 2.16.0 has just been announced - I'll update our embedded Git over the next day or so to close this out!

[2018-01-18 17:24] jborn commented on #3816
I updated the original issue with the logs from my second machine that I just installed the new Github Desktop on today to see if the issue was reproducible across multiple machines.  Let me know if you need anything else and I'll get try and get it for you.

[2018-01-18 20:02] GENERALGUBERNATOR1 opened #3817 "generalgubernator/рабочий стол"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-18 23:26] Carlosferrerhernandez commented on #2180
He realizado un git push directamente de la consola y a subido correctamente el commit, sin hacer ningún cambio en configuraciones

[2018-01-19 01:07] #3395 closed

[2018-01-19 02:31] meyer opened #3819 "Branch alphabetising is not case-insensitive"
### Description

![image](https://user-images.githubusercontent.com/13781/35131894-743a3c0c-fc7d-11e7-9c70-52b9f2f57480.png)

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** macOS 10.13.2

### Steps to Reproduce

1. Name a branch with an uppercase initial letter.
2. Watch it sort to the top.

**Expected behavior:** Sorting is not affected by case.

**Actual behavior:** Sorting is

[2018-01-19 02:37] meyer opened #3820 "Allow browsing branches without checking them out"
### Description

At the moment, clicking on a branch checks the branch out (unless you have local uncommitted changes). It’d be swell if there was an option to see the commits on other branches without checking them out.

This would most likely require a minor redesign of how branches are represented in the app.

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** macOS 10.13.2

### S

[2018-01-19 02:48] meyer opened #3821 "no keyboard shortcut for selecting all entries in changes list"
### Version

**GitHub Desktop version:** 1.0.12

**OS Version:** macOS

**Expected behavior:**
- Command-A selects all modified files

**Actual behavior:**
- Command-A selects some text.

[2018-01-19 02:52] meyer commented on #1644
@joshaber do you all accept PRs for features outside the current roadmap?

[2018-01-19 02:55] JRTian opened #3822 "issue"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-19 02:57] shiftkey commented on #3822
@JRTian thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-01-19 02:57] #3822 closed

[2018-01-19 03:23] iAmWillShepherd commented on #3819
Thanks for taking the time to open an issue! 🙇

The sort order for branch names is intentional. We want to remain consistent with GitHub.com's sort order for branches.

[2018-01-19 03:24] shiftkey commented on #3821
@meyer thanks for the feedback.

We're already tracking multi-selection in #1712, so I'll amend this issue to focus on "Select All".

[2018-01-19 04:47] JannaLorette opened #3823 "Futurist"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-19 07:05] meyer commented on #3819
@iAmWillShepherd gotcha. That makes sense. Is there a way to file this issue for github.com? I understand _why_ it’s sorting capital letters before lowercase. Just seems quite counterintuitive. I don’t have any context around internal discussions on the matter though.

[2018-01-19 07:18] renzituo-aha opened #3824 "rentizuoaha"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-19 07:19] #3824 closed

[2018-01-19 09:47] laZaru5ap opened #3825 "Opening repository in command prompt results in catastrophic error"
### Description

Unable to open repository in command prompt from the desktop app. Restarting the app results in the same error every time.

### Version
1.0.12

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 6.1.7601 (Windows 7 Ultimate SP1 64-bit)

### Steps to Reproduce

![github error_open in command prompt](https://user-images.githubusercontent.com/28505948/35144763-8ef064b4-fd2b-

[2018-01-19 10:58] JamesCoyle opened #3826 "Indication of Changes in Repository Selection Dropdown"
### Description

It would be helpful if repositories which have changes were highlighted in the repository selection dropdown. This would help to identify repositories which may require a commit and would aid visual identification of packages the user is currently working on if they have a lot of other repositories cloned locally.

![image](https://user-images.githubusercontent.com/10384436/351472

[2018-01-19 11:15] j-f1 commented on #2108
@Sibiraj-S Why did you close this issue? It hasn’t been fixed yet.

[2018-01-19 11:22] aa758770072 commented on #1688
不怎么样

[2018-01-19 11:23] j-f1 commented on #3826
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #2259, which we’re hoping to get to in v1.3. Please follow that issue for further updates.

[2018-01-19 11:25] j-f1 commented on #1644
@desktop/design Does this need some design 💭?

If not, feel free to go ahead, @meyer.

[2018-01-19 11:29] Sibiraj-S commented on #2108
Sorry I was closing many of issues that was open for a long time and not answered. I was not aware when I closed this one 😕. Reopening this.

[2018-01-19 11:43] sergkop commented on #3816
I'm having the same issue. Last night out of the blue Github Desktop 1.0.12 on macOS Sierra started giving errors when I tried to push a repo, though it still showed me as signed in. Once I restarted the app I was no longer signed in. I get "The user name or passphrase you entered is not correct" error when signing in both with email/password (which work on github.com) and using the browser. It ac

[2018-01-19 13:31] elbertlumenier opened #3827 "Issue with commits after latest GitHub Desktop update"
Hello,

After installing the latest GitHub Desktop update, the client crashes when commiting changes. This was tested with committing code to several branches and master.

The error from the desktop client is:

Error: write EOF
    at exports._errnoException (util.js:1050:11)
    at WriteWrap.afterWrite (net.js:813:14)

Version: 1.0.12
OS: Windows 10.0.16299

Kind Regards,

Elbert Lumenier

[2018-01-19 15:20] shiftkey commented on #3819
This is also how Git lists branches:

[code]

[2018-01-19 15:25] shiftkey commented on #1644
Please hold off on this. We haven't had a chance to evaluate these proposals, and I'm pretty sure this needs some design thought. @meyer if you have thoughts on how this should look/feel/behave feel free to share them in here as a starting point.

[2018-01-19 15:27] shiftkey commented on #3827
@elbertlumenier we've got a couple of issues which are similar to this (#2041 #3370) and I've not been able to reproduce this on my end - are you able to share a repro of this, or more details about the shape of the commit which triggered the error?

[2018-01-19 15:29] shiftkey commented on #3816
@sergkop the "The user name or passphrase you entered is not correct" error on macOS is probably related to keychain access - see this workaround which has worked for lots of people https://github.com/desktop/desktop/issues/3263#issuecomment-344590213

[2018-01-19 15:31] #3826 closed

[2018-01-19 15:33] sergkop commented on #3816
It worked. Thanks, @shiftkey !

[2018-01-19 15:57] eassymo commented on #1627
Still "Very unclear".

[2018-01-19 16:29] mrhitnik commented on #3757
My problem is exactly identical except I'm running Windows 7.

[2018-01-19 16:42] shiftkey commented on #3757
Because of the lack of insights into this, I'm kind of stumped as to how to proceed. One theory that requires some additional tracing is that our use of Electron's single-instance API is preventing the app from relaunching. This theory would also explain why a restart makes the problem go away.

Roughly speaking:

 - app launches, marks itself as the single instance
 - because of some external fac

[2018-01-19 19:17] shiftkey commented on #3095
@tierninho tested out the `ng2-ui/map` repository on `1.0.12` on macOS and I don't see the `origin/HEAD`:

<img width="675" src="https://user-images.githubusercontent.com/359239/35166883-3475f09e-fd08-11e7-9a50-f047f531afb1.png">

I'm not sure where this crept in, but `origin/HEAD` doesn't really make sense as a branch to checkout (it just represents the tip of the remote repository).

@PiezPiedPy

[2018-01-19 19:25] elbertlumenier commented on #3827
Hi @shiftkey, what information do I need to provide (repro)?
As for the commit, I created a new branch and then imported/overwrote the code from an outside source (offline) machine, which had a more recent version of the same project but was not running Git(Hub).

[2018-01-19 19:27] shiftkey commented on #3095
@PiezPiedPy

As a workaround, you could remove the current `master` ref from your remote and switch yourself to the right `master`:

[code]

That will let you use the "Merge into current branch" flow in the app to merge branches, but won't address the underlying ability to switch between `origin/master` and `upstream/master`.

[2018-01-19 19:50] meyer commented on #3819
@shiftkey git doesn’t seem to have been designed to be first and foremost an _intuitive_ program, so the fact that it doesn’t downcase before sort is entirely unsurprising. Computers will alphabetise uppercase things before lowercase things unless a human intervenes. My assumption is that these git UIs (GitHub, GitHub Desktop) are aiming to be intuitive, which would mean deviating from default git

[2018-01-19 20:16] stuartpb opened #3828 "ship core.autocrlf=true value in dugite-native for Windows"
This was a useful feature in GitHub for Windows, which was built on an internal version of msysgit and, as such, had its own global Git configuration that could have autocrlf globally defaulted on.

It looks like GitHub Desktop is designed to only respect `.gitattributes` in a repository for CRLF handling [(initializing every repository it creates with one)](https://github.com/desktop/desktop/issu

[2018-01-19 20:28] stuartpb commented on #3828
Also, I'm a little bit baffled why prior discussion around this such as #1964 doesn't consider this as the *simplest* way to resolve this problem, one *significantly simpler* than requiring *every single repository you come across* to take Windows' weird line-ending behavior into account.

[2018-01-19 22:30] iAmWillShepherd commented on #3827
@elbertlumenier we just need the steps you took to get to this error. For an example, check out #3753. Including your logs wouldn't hurt either. Please be sure to review our [guide](https://github.com/desktop/desktop/blob/master/CONTRIBUTING.md#reporting-bugs) for creating issues.

[2018-01-19 22:49] shiftkey commented on #3819
That's ideal in this case because these filesystems are case-insensitive by default.

[2018-01-20 00:10] meyer commented on #3819
@shiftkey whether or not the filesystem is case-insensitive has absolutely no effect on how files are sorted. The Finder sort algorithm was intentionally designed by humans to be _intuitive_. For example, say you have ten files, numbered from 1 to 10. A computer would sort the files like so:

[code]

Quite useless. So someone at Apple who gave (and hopefully still gives) a shit wrote a custom comp

[2018-01-20 00:34] shiftkey commented on #3819
@meyer apologies for being blunt - this isn't really an issue I've cared about in all my years working with Git, and I've been bitten in the past when I've deviated from Git's behaviour despite meaning well so I'm always a bit nervous about these sorts of situations.

I'll reopen this and let others sound off on it.

[2018-01-20 01:15] GideonAgboba opened #3829 "have been having uneccesary issues with publishing my website here with git pages"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-20 04:31] shiftkey commented on #3829
@GideonAgboba Thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-01-20 04:31] #3829 closed

[2018-01-20 07:42] TimLi28 opened #3830 "oneissue"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-20 07:54] #3830 closed

[2018-01-20 08:06] lukasc-ubc opened #3831 "research proof-of-concept Touch Bar support"
Feature request:

### Description

It would be nice to have support for MacBook's touch bar.

https://developer.apple.com/macos/touch-bar/

![Touch Bar](https://9to5mac.files.wordpress.com/2017/02/screen-shot-2017-02-07-at-13-04-51.png)

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** 10.13.2

[2018-01-20 12:21] j-f1 commented on #3831
Electron touch bar docs are [here](https://electronjs.org/docs/api/touch-bar).

[2018-01-20 12:33] Xsupport101 opened #3832 "Disallowed character??"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-20 15:33] iAmWillShepherd commented on #3832
Thanks for reaching out!

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-20 15:33] #3832 closed

[2018-01-20 15:34] iAmWillShepherd commented on #3831
@lukasc-ubc would you mind expanding on your idea? How do you envision this working?

[2018-01-20 22:22] lukasc-ubc commented on #3831
@iAmWillShepherd,

I imagine frequently used items would be nice to have accessible in the Touch Bar:

- Fetch Origin button (like in the GUI)
- Current Repository button (like in the GUI), which when clicked, would expand into a list of all repositories, which the user could switch to.
- Fetch Origin All: update all repositories on local disk, not just the current one.
- Show in Finder (just like

[2018-01-20 22:28] CarlRosell opened #3834 "Caret always jumps to the end when inserting a completion"
### Description
When inserting an emoji or mention in the commit message, the caret will always jump to the end of the text.

### Version

**GitHub Desktop version:** 8304e9c271a5e5ab4fda797304cd7bcca7158c87

**OS version:** macOS High Sierra

### Steps to Reproduce

1. Start writing a commit message
2. Go to the beginning of the message
3. Insert an emoji or mention

**Expected behavior:** The ca

[2018-01-20 22:33] j-f1 commented on #3831
* Open in terminal
* Open in editor

Maybe it would be better to have an “Open in” button that optionally expands to show all the options, and have the most-recently-used option as a regular button.

[2018-01-21 05:50] Anti-Li opened #3836 "unable to install Desktop as regular user on Windows (admin works)"
Description
[When I open GitHubDesktop.exe in common user, GitHub Desktop was not downloaded and I can't open it.When I open in Administrator, it can work normally.]

Version
GitHub Desktop version: [The newest version 1.0.12]

OS version: [Windows 10 Home .1709]

[2018-01-21 08:14] testautomation-01-2018 commented on #2453
I thank you for answer too, I've just losted 5 hours for resolve that problem with my win10,  I changed windows credential and it solved my problem
Control panel > User Accounts > Windows Credential

[2018-01-21 18:13] pwagland commented on #3326
Was there an upstream issue created? This one comes fairly early in the google search, so it would be useful if it could forward through to where the problem is really going to be resolved.

[2018-01-21 19:05] yvan-sraka opened #3837 "Make the app available on the OS X App Store?"
Hello,

I do not see any problem related to this in this repository after a quick search.

It could be really nice to let the application available in the OS X App Store! I do not know if there is a restriction or a good reason why the app is not already available now?

Thank you for those who could give me an answer.

[2018-01-21 20:13] shiftkey commented on #3836
@Anti-Li thanks for the report!

It's not clear to me what's happening here - the installer should contain everything it needs to install and start, and the installer is designed to work without being elevated to an administrator account.

Could you provide more details about what happens here? Any error messages displayed?

[2018-01-21 20:18] shiftkey commented on #3326
I'd recommend switching yourself over to the OpenSSL backend, as that doesn't seem to trigger this issue.

[code]

The problem with this backend is that you're back to managing your certificates again, but if you need to provide your own certificates I'd recommend starting with [this PEM file of public certificates](https://curl.haxx.se/docs/caextract.html) and concatenating them ([this thread](ht

[2018-01-21 20:39] shiftkey commented on #3326
@pwagland @schlamar I've opened up an issue here to get interest in it: https://github.com/git-for-windows/git/issues/1446

[2018-01-21 21:51] shiftkey commented on #3828
@stuartpb thanks for the feedback!

First off, some context/history:

 - the new Git distribution we're using in Desktop is over at [`desktop/dugite-native`](https://github.com/desktop/dugite-native) which does ship a simple system `gitconfig` (only on Windows, I have some headaches in https://github.com/desktop/dugite-native/pull/73 about getting this working on other platforms)
 - as this packag

[2018-01-21 22:03] shiftkey commented on #3825
@laZaru5ap thanks for the report.

The code to launch `cmd` is rather straightforward:

[code]

My gut feeling is that your `PATH` value isn't configured as expected.

Could you open a command prompt, run these two commands and attach the output here:

[code]

This is what it looks like on one of my developer VMs:

[code]

[2018-01-21 23:40] herio5154 opened #3838 "reference broken"
error: cannot lock ref 'refs/remotes/origin/master': unable to resolve reference 'refs/remotes/origin/master': reference broken
From https://github.com/herio5154/stargoon
 ! [new branch]      master     -> origin/master  (unable to update local ref)

[2018-01-22 00:05] shiftkey commented on #2463
We took a shot at this in https://github.com/desktop/desktop/pull/3347 but unfortunately encountered some issues with how the Dialogs currently work - this is summarized in https://github.com/desktop/desktop/pull/3347#discussion_r153976000.

[2018-01-22 00:10] stuartpb commented on #3828
That all sounds good to me.

Under that plan, the issue on this side should still be kept around, to track introducing a UI toggle for the global `core.autocrlf` setting (since there are inevitably going to be *some* developers out there who *want* CRLFs in their repos implicitly, and fixing this issue for the cross-platform developers without making it possible to opt out would be a problem for *

[2018-01-22 00:31] stuartpb commented on #3828
Are you sure that's where dugite-native looks for its global configuration? I can't really tell if Desktop's telling me it's going to respect `core.autocrlf` or not, due to the confusing messaging I described in https://github.com/desktop/desktop/pull/1906#issuecomment-359083709.

[2018-01-22 00:35] shiftkey commented on #3828
We build upon Git for Windows - please refer to [it's documentation](https://github.com/asheiduk/git-for-windows/blob/58daf7ef9acc63fb0da0f8995a4fd398749de7fb/Documentation/git-config.txt#L235-L262) around config files.

If you define this globally in your `~/.gitconfig` that will override whatever exists in system configuration.

[2018-01-22 00:37] shiftkey commented on #3828
The only global Git configuration we expose in the app UI currently is `user.name` and `user.email`, which are important for committing. Please open a fresh issue so we can discuss this further separate to the underlying Git work.

I'm going to update the title to reflect this is about the system configuration changes.

[2018-01-22 00:48] shiftkey commented on #3838
@herio5154 thanks for the feedback! It looks like something with the underlying Git repository has broken, leaving it in an invalid state.

I think these steps should get you back to a happy place, but **take a backup of your repository before running any of these commands,** just in case.

I'll explain the intent behind each step as we go along.

[code]

[2018-01-22 00:56] stuartpb commented on #3828
If the Git that GitHub Desktop is shipping right now actually respects the global `core.autocrlf` setting that would have been set up by GHFW, I've still got an issue with the way that's communicated I mentioned earlier in https://github.com/desktop/desktop/pull/1906#issuecomment-359083709: I can file a new issue for that.

Meh, apparently this is the same case as Github for Windows: I could have

[2018-01-22 01:33] shiftkey commented on #3828
Oh, I missed that comment.

`.gitattributes` will supersede whatever you have configured for `core.autocrlf`, so that makes sense that it reports a warning.

The intent of the rule for `* text=auto` is mentioned [here](https://git-scm.com/docs/gitattributes#gitattributes-Settostringvalueauto):

Note that this is very similar to `core.autocrlf=true`. From the [docs](https://git-scm.com/docs/git-con

[2018-01-22 01:38] shiftkey commented on #3828
@stuartpb if some files must be committed with `CRLF` endings, that can be specified in your `.gitattributes` file too:

[code]

[2018-01-22 01:39] stuartpb commented on #3828
Yeah, and I'm saying there appears to be a bug somewhere in here: if the `core.autocrlf=true` that's set on my system is being respected (meaning that the index should already have and expect the working file with CRLFs to be translated to LFs), then this message is in error; if the message *isn't* in error, then the `core.autocrlf=true` that's in my global config wasn't being respected.

[2018-01-22 01:49] tedKim5178 commented on #3761
I have the same issue. I can log in through website but whenever I try to log in through Github Desktop,  somehow it does not work.

[2018-01-22 01:56] shiftkey commented on #3828
@stuartpb it depends on a few things, like what `core.autocrlf` was when the repository was cloned. If you cloned it through Desktop and didn't have `core.autocrlf=true` set, Git will fall back to whatever `core.eol` is - and that will default to `native` (which is `CRLF` on Windows). That's what I suspect has happened here.

Also, subsequent config changes won't affect the working directory files

[2018-01-22 02:02] shiftkey commented on #3828
If you don't think that's the case, please open a new issue with details about your global configuration and steps to reproduce it (getting access to the problem repository would also be ideal).

[2018-01-22 02:18] stuartpb commented on #3828
Okay, I've tracked down the issue, and I'll file a new ticket for it in a second, but the actual source of the problem is that GfD displays this warning in the presence of a CRLF translation rule (ie. `core.autocrlf=true`, and probably `* text=auto` in .gitattributes too) when a file in the working directory has **LF** line endings (which won't cause a problem, and is *basically the direct opposit

[2018-01-22 02:21] shiftkey commented on #3834
This feels very similar to #3354 which we fixed by being more careful with props and `setState` changes - see https://github.com/desktop/desktop/pull/3411 for the fix.

I'll look at #3835 in the meantime but it'd be nice to see if reusing our fixed `TextBox` component can help to address this problem.

[2018-01-22 02:31] stuartpb commented on #3828
Okay, so, the important thing to note here is that I don't have a `C;\ProgramData\Git` directory, and when I open up the Git Shell included with GitHub for Windows and run `git config --list --show-origin`, this is what I get for system variables:

[code]

[2018-01-22 02:38] shiftkey commented on #3828
@stuartpb that's interesting, but those system config settings won't be applied to the Desktop repository when working with it in the Electron UI. What's in your `~/.gitconfig` file?

[2018-01-22 02:53] shiftkey commented on #3828
Ah yes. I didn't realise you were running the classic and Electron builds side-by-side on the same machine. If you're cloning repositories through Desktop, they won't get the config values defined in Git Shell (that's what we call the shell environment in the classic Desktop app). That's because our system `gitconfig` lacks these values and will only inherit from `%PROGRAMDATA%\Git\config`.

To wo

[2018-01-22 03:03] stuartpb commented on #3828
Let me go ahead and install Git for Windows and see how that impacts the behavior I'm seeing: I *suspect* there's still some sort of mismatch between the Git behavior and the warning messages (because one of the files I was getting warnings for has *LF* line endings in its working directory), but I wouldn't want to be filing bugs only present in a mode of operation that's about to be obsoleted.

A

[2018-01-22 03:12] shiftkey commented on #3828
@stuartpb we had a long discussion about this in #340 and added steps to get Git for Windows as close to Git Shell as possible in https://github.com/desktop/desktop/issues/340#issuecomment-302021683. We've decided to focus our resources on the UI side of Git and help support upstream efforts wherever possible, rather than competing with Git for Windows.

[2018-01-22 03:22] brcontainer opened #3839 "GitHub wiki repos not detected correctly, asks user to publish again"
### Description

After clone a wiki repository and close GithubDesktop can no longer identify the origin.

### Version

**GitHub Desktop version:** 1.0.12 and 1.0.13

`git rev-parse HEAD`: 372c2548553eac84ceef398fa0326c5815c919cc

**OS version:** Microsoft Windows [version 6.3.9600]

### Steps to Reproduce

1. Clone a wiki repository
1. Close and reopen GithubDesktop
1. Edit any file
1. Commit
1.

[2018-01-22 03:24] shiftkey commented on #3786
Some additional feedback:

 - this request goes somewhat against [the GitHub Flow](https://guides.github.com/introduction/flow/), which we are actively trying to encourage in the app
 - we don't currently have a way to track where you branched from in the app. We _could_ walk back in history to find this ref, but that feels unreliable.
 - what if you actually want to target the default branch when

[2018-01-22 03:42] meyer commented on #3819
@shiftkey no worries, nothing to apologise about. I didn’t realise I cared about the topic until I started using GitHub Desktop. I almost never see my branches alphabetically sorted (I use an alias in the CLI that sorts branches by most recent commit) and the two groups thing _really_ stuck out. Seemed like someone missed a spot.

If it’s any use, repositories are sorted case-insensitively by name

[2018-01-22 03:53] shiftkey commented on #3609
I've not been able to reproduce this on `master` in the hopes of catching what feels like a race condition. I'll leave this to someone else to dig into.

[2018-01-22 04:03] stuartpb commented on #3828
I just installed Git for Windows (with its autocrlf config), and I'm still seeing the out-of-place warnings I described earlier (saying line endings have changed specifically for files where they *haven't*). I'll file a new issue with repro steps for that.

[2018-01-22 07:10] MohanTikande opened #3840 "Cloning into ... fatal: Unable to find remote helper for 'https'"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-22 07:13] shiftkey commented on #3840
@MohanTikande thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-01-22 07:13] #3840 closed

[2018-01-22 08:33] stuartpb opened #3841 ""Warning: line endings have changed from 'LF' to 'CRLF'." when files have LF line endings on Windows"
### Description

As initially noticed in https://github.com/desktop/desktop/pull/1906#issuecomment-359083709 and observed further in #3828, GitHub Desktop presents an erroneous warning about line endings for text files with LF line endings in the working directory.

This bug is not affected by the setting of `core.autocrlf`. I haven't tried changing the value of `core.eol`: it might impact this, b

[2018-01-22 08:43] CecileL commented on #3757
Hi Brendan

Unfortunately restart does not always solve the problem. Today there is no way for me to open GithubDesktop... not even after restarting.
Here is the result of your request:
![image](https://user-images.githubusercontent.com/3776076/35211925-b38c61cc-ff58-11e7-888e-d641d13c5008.png)

[2018-01-22 09:45] NpnG92 opened #3842 "123123"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-22 10:27] ceefour commented on #1214
@sis-c Indeed, our problem as well :(

I appreciate the move to 64bit but deprecating 32 bit version is a bit premature. 3% of several millions are still several millions ......

[2018-01-22 13:31] brcontainer commented on #3841
Have you tried a .gitattributes file with:

[code]

Or fix by extension file:

[code]

[2018-01-22 13:38] everhardt commented on #1712
@stevemoser That will also discard changes to files that are not selected.

[2018-01-22 14:11] #3842 closed

[2018-01-22 14:19] atifsyedali commented on #3189
On OSX, the title bar is unnoticeable. I am often trying to grab the black bar that contains the repository picker/branch picker to try to move the window, because the title bar has
1. No title text
2. Blends into the repository picker bar
3. Blends into the background.

Can we do a normal OSX title bar colour? The black titlebar looks very odd.

![image](https://user-images.githubusercontent.com/

[2018-01-22 16:57] tabruno commented on #1718
Hi, .. I wrote in about this and was asked to chime in here....
I realize GitHub Desktop is fairly new.  However, it could really use some "open-ness" in the way of custom "add ons" (similar for example w/ that supported in MS VSD).  On VSD's "Tools" menu they facilitate custom external tools via a few simple inputs (eg. "Title", Command Line, Arguments, Initial Directory).  Example:  We are striv

[2018-01-22 17:13] gastonea commented on #1214
Josh, please, let's make a 32 bit release!! Which is effort that demand it? Really? I was left without be able to work at this PC... the domain's admin not allow me upgrade the SO. Regards, and have you nice day

[2018-01-22 17:15] gastonea commented on #3215
Josh, please, let's make a 32 bit release!! Which is effort that demand it? Really? I was left without be able to work at this PC... the domain's admin cannot allow me upgrade the SO. Regards, and have you nice day

[2018-01-22 17:27] j-f1 commented on #1214
@gastonea As stated above, [`dugite-native`](https://github.com/desktop/dugite-native) — which we use to access Git — doesn’t support 32-bit computers. Feel free to open a PR to start work on adding 32-bit support!

[2018-01-22 18:43] #3807 closed

[2018-01-22 19:27] donokuda commented on #3189
@atifsyedali We don't have plans to update the title bar color; however, letting you drag around the app when the mouse is held down on the toolbar might solve your problem. At the very least, the right side of the toolbar (the empty space after the "Fetch/Push/Pull" button) should be draggable.

[2018-01-22 19:47] nbucklin commented on #3761
@niik Hi, sorry for the delayed reply. I restarted my computer and tried again- the results were the same as the Power Shell screenshot I showed earlier. I don't know of any security restrictions that would prevent this. Since my first message I've been able to connect to the same enterprise account via Git and the Git GUI. Both work as intended, but I access them using a personal access token. I

[2018-01-22 20:30] shiftkey commented on #3757
@CecileL excellent, this seems to fit with that theory. Now to figure out the next steps...

[2018-01-22 20:46] j-f1 commented on #3189
@donokuda What do you think about using the inset title bar style and moving the toolbar buttons to the title bar?

[2018-01-22 20:50] atifsyedali commented on #3189
Honestly I am ok with @donokuda <https://github.com/donokuda>'s suggestion
to make the toolbar draggable. It sounds easy enough to do and takes care
of the usability problem.

On Mon, Jan 22, 2018 at 3:47 PM, Jed Fox <notifications@github.com> wrote:

[2018-01-22 20:51] donokuda commented on #3189
This was something @niik and I explored a while back and didn't care for how it looked.

[2018-01-22 21:20] shiftkey commented on #3841
@stuartpb could you also include the contents of your `~/.gitconfig` (feel free to scrub any identifying information) to help with reproducing the issue?

[2018-01-22 21:50] shiftkey commented on #3609
@desktop/core unless someone else can reproduce this consistently, I think we should move this into the `1.1.x` milestone...

[2018-01-22 22:00] iAmWillShepherd commented on #3609
I've made some changes on [this branch](https://github.com/desktop/desktop/compare/load-prs-once) to make identifying the issue easier (at least for me). Going through and cleaning up actually uncovered some opportunities 😏

Still working on this though.

[2018-01-22 22:51] Menelion commented on #1214
To those of you who, like me, are on 32 bit systems and do *not* need GUI, use plain [Posh-Git](https://github.com/dahlbyk/posh-git). I am not affiliated with it, just had been using it in Github Desktop and found oud that I don't need anything more than that. The readme is plain and clear, if you follow the instructions, you'll be all set in like five minutes. You'll have autocomplete and nice st

[2018-01-22 22:57] j-f1 commented on #1214
Could you open a new issue about this? We’d love to hear about where we can improve accessibility-wise.

[2018-01-22 23:09] Menelion commented on #1214
@j-f1, I will, but it seems I had already opened one issue when the new Desktop was still in beta. the thing is that Electron is not.. oh well... I can't say it is unable to become accessible, but usability-wise it is very far from being the best solution. But I'll dig in as long as I get a 64-bit OS :).

[2018-01-23 02:08] stuartpb commented on #3841
[As I originally stated](https://github.com/desktop/desktop/pull/1906#issuecomment-359083709), this was the first thing I tried, and it has no effect (you can check out the `gitattributes` branch of the repository defined above).

While this does suppress the warning, it doesn't change the fact that the original warning, presented by GitHub Desktop in the normal case, is in error (that *in no way*

[2018-01-23 02:56] shiftkey commented on #3814
@callumlocke this is an interesting idea, and something that probably needs some design input to ensure the lock/unlock transition isn't overwhelming.

For reference, we're already tracking the `isCommitting` state at the repository level (so we can disable the commit form), and flowing that down into the other components so they can enable/disable themselves is probably worth exploring:

https://

[2018-01-23 03:17] shiftkey commented on #2774
Moving this to `1.1.x` to focus on QA and helping get the PR integration out sooner.

[2018-01-23 03:25] SimplyCodin commented on #3831
Electron Touch Bar base documentation https://electronjs.org/docs/api/touch-bar

[2018-01-23 04:54] Learning191 commented on #1214
I have 32-bit windows 7 and I have the same problem, but if github can not be the support for 32-bit operating systems users with these systems
would be able to develop the 32-bit github ... it's just my opinion.  :D

[2018-01-23 04:57] Learning191 commented on #3215
it may be a very good idea yours to spend :+1:

[2018-01-23 05:54] shiftkey commented on #3761
@nbucklin it's a bit of a long shot, but there's a group policy related to registry access that might be involved:

![](https://user-images.githubusercontent.com/359239/32207790-5b2ef734-be52-11e7-9a50-64fe827573b0.png)

There might be a different location in the tree-view on the left-hand side, but if it's enabled that might explain why the app isn't allowed to update the registry.

[2018-01-23 07:01] areaycee opened #3847 "Suggestion: show repo summary status indicator in 'current repository' selector."
One thing that I find myself doing regularly and imagine others may, is clicking through all repositories in the 'current repository' selector to see which, if any have uncommitted changes.  Is it possible to show one or more of the file status icons in the actual repo selection list as a summary to indicate the repo contains at least one file of the given state?  eg, uncommitted changes, not adde

[2018-01-23 08:17] davidrajdgl opened #3848 "write EOF when committing large number of files"
### Description

Error: write EOF
    at exports._errnoException (util.js:1050:11)
    at WriteWrap.afterWrite (net.js:813:14)

### Version

Version: OS: Windows 10.0.16299

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10.0.16299
### Steps to Reproduce

1. Add some files of big size
1. Try to commit to master

**Expected behavior:** Commiting to Master

**Actual behavior:** It gave

[2018-01-23 10:01] jarcane commented on #2107
Can confirm that the window-state.json delete fix works.

What's possibly interesting is it was triggered for me by a client update. It was working fine, then I clicked the "restart now" to run an update, and then the window wouldn't come back.

And a peek at the JSON data does confirm it'd placed the X/Y at some absurd coordinates:

[code]

[2018-01-23 10:33] creyD commented on #3837
@yvan-sraka Hey. I believe that it isn't worth it. You have to pay to offer in the macOS App Store (see [here](https://developer.apple.com/support/compare-memberships/)). As the app would still be free (i guess), this would be wasted money, bc they can just host it on their own servers.

[2018-01-23 11:37] j-f1 commented on #3847
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #2259, which we’re hoping to get to in v1.3. Please follow that issue for further updates.

[2018-01-23 14:04] #3847 closed

[2018-01-23 15:36] lifewcody commented on #2107
I had the same issue, nothing works (the Win+Up/Down/Left/Right). Shift right clicking doesn't work either.

My coordinates were x: -1000, y: 0 (which is way off).

Deleting the .json file worked for me.

[2018-01-23 16:56] IdanAdar opened #3849 "Allow to clone multiple repositories consecutively"
### Description

Request to have the ability to select & clone multiple repositories from the Clone window.

### Version

**GitHub Desktop version:** 1.0.13 beta 1
**OS version:** 10.13.2

[2018-01-23 18:37] tierninho commented on #2774
I have my dev env up and running now, so can help test feature, too.

[2018-01-23 21:32] nbucklin commented on #3761
@shiftkey Hi, I found these settings and they all said "Not configured". It seems like we might have exhausted the options. My colleagues using Windows 10 have no issues with the app, so maybe it's a sign I should upgrade. Thanks for the help!

[2018-01-24 00:19] shiftkey commented on #3837
@yvan-sraka thanks for the suggestion!

While Electron apps can be targeted for distribution in the Mac App Store, it's not a scenario we're planning to support - we've already got the infrastructure in place for distributing installers and updating apps.

By not being in the App Store, we're free to publish updates whenever they're ready - without the overhead of the review process.

[2018-01-24 00:19] #3837 closed

[2018-01-24 00:40] #3617 closed

[2018-01-24 00:40] #3828 closed

[2018-01-24 02:29] #3608 closed

[2018-01-24 02:32] #3599 closed

[2018-01-24 15:20] QzSG opened #3852 "Are we affected by the Electron Custom Protocol Handler RCE Vulnerability CVE-2018-1000006 ?"
### Description

Requesting check to see if we are affected by Electron Custom Protocol RCE Vulnerability

### Version

**GitHub Desktop version:** -

**OS version:** Windows 10 Fall Update

### Steps to Reproduce

1. Any app that registers a custom protocol Handler is affected it seems for Windows installs
1. Desceiption: https://electronjs.org/blog/protocol-handler-fix

### Logs

#### Additional

[2018-01-24 15:46] nbassili opened #3853 "cannot publish unborn head"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-24 15:47] j-f1 commented on #3853
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-24 16:43] amdelamar opened #3854 "Add an Offline Mode"
### Description

It would be nice to not receive "Failed to fetch" errors when working offline. (Without active internet connection.

![error-failed-to-fetch](https://user-images.githubusercontent.com/18532924/35344258-b04c5852-00fa-11e8-94ac-e6600f7cad71.PNG)

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10 - But also not specific to this

### Steps to Reproduce

1. Di

[2018-01-24 16:46] iAmWillShepherd commented on #3597
It looks like this behavior is consistent with how the branches drop down.

It looks like we are relying on the filter text input to capture the `esc` key, but since it's possible for the text input to not be in focus or to not even exists, pressing `esc` doesn't always work.

Is this intentional?

cc, @desktop/design

[2018-01-24 16:48] iAmWillShepherd commented on #3854
Thanks for taking the time to open an issue! 🙇

[2018-01-24 16:49] j-f1 commented on #3854
Maybe we should put an error message near the fetch button instead of opening a dialog.

[2018-01-24 16:59] amdelamar commented on #3854
I think the user should have more choices.

![go-offline-button](https://user-images.githubusercontent.com/18532924/35345454-ada4dbe4-00fd-11e8-9b91-85dec33277e2.PNG)

They could choose *not* to go offline and receive the same dialog again later, if they wish. But once "offline mode" is enabled, They shouldn't be able to fetch, auto-fetch, or anything. And would expect the "Fetch" button would cha

[2018-01-24 17:00] iAmWillShepherd commented on #3852
Not if you have the latest version of the app.

https://github.com/desktop/desktop/blob/a05ebffab716a2295ca54b74d9ab222249772b42/package.json#L127

https://github.com/electron/electron/releases/tag/v1.7.11

[2018-01-24 17:00] #3852 closed

[2018-01-24 17:15] j-f1 commented on #3852
@iAmWillShepherd It looks like that change hasn’t been released yet — GitHub Desktop 1.0.12 was released before Electron was upgraded in `package.json`.

[2018-01-24 18:56] dann4566165 commented on #3757
glad someone is working on this... i have the same issue, tried running as administrator, restarting computer, nothing gets it to open. Only thing that works is uninstalling and reinstall, and that only works until i close the program.

[2018-01-24 21:10] iAmWillShepherd commented on #3848
Thanks for taking the time to open an issue! 🙇

Would you mind sharing you log file?

[2018-01-24 21:16] iAmWillShepherd commented on #3814
What would happen if the commit fails? Should the file remain locked?

[2018-01-24 21:31] j-f1 commented on #3814
I’d say no, because that would prevent you from committing something slightly different to fix the commit.

[2018-01-25 02:02] jkafkaris opened #3855 "GitHub Desktop names repository incorrectly and opens wrong repository"
### Description

GitHub Desktop names repository incorrectly and opens wrong repository. I have 2 repos on Github Enterprise, one named VertigoRealityVive and the other VertigoReality. If I clone both to my PC they are both named VertigoRealityVive. Uninstalling GitHub Desktop and removing localdata then had both repos receive the name VertigoReality.

### Version

1.0.12

**GitHub Desktop version

[2018-01-25 02:26] QzSG commented on #3852
1.0.12 still uses electron v1.7.9 according to the branch tag

[2018-01-25 03:08] QzSG commented on #3852
@iAmWillShepherd

Latest Downloaded from Github Desktop (1.0.12) site shows we still using Electron v1.7.9
![image](https://user-images.githubusercontent.com/5106502/35368573-dff17802-01be-11e8-9c05-d6060b12e72b.png)

Also:
https://github.com/desktop/desktop/blob/6fd0d962ab663fc2687264e39ad5795ee095abeb/package.json#L127
https://github.com/desktop/desktop/blob/release-1.0.12/package.json

If I may

[2018-01-25 06:03] davidrajdgl commented on #3848
I have found that, I have tried to upload more than 100 files at a time, which caused a problem.
Now, I am uploading set by set which is fewer than 100 files. I am sorry, I dont know how to get the log file. If possible, help me in identifying the log file so that I can share that also

[2018-01-25 10:55] CecileL commented on #3757
Uninstall and reinstall is not working for me... I'm quite desperate

- Cécile Lamborot
McNeel Europe
http://www.food4rhino.com/
http://www.rhino3d.com/

2018-01-24 19:56 GMT+01:00 dann4566165 <notifications@github.com>:

[2018-01-25 11:14] j-f1 commented on #3848
@davidrajdgl The one with the date you encountered the problem in its name should have the information we need.

[2018-01-25 11:58] agisilaos commented on #3848
@davidrajdgl To find the logs you need to go in the Help menu -> Show Logs in Finder and then as @j-f1 suggested you need to find the one with the date that the issue you wrote about occurred! Hope that helps.

[2018-01-25 15:03] brandongohwh opened #3856 "Unable to perform move, resize, restore, mini/maxamize from Windows Taskbar"
### Description

Unable to perform move, resize, restore, mini/maxamize from Windows Taskbar (i.e. no context menu opens when right-clicking the Github Desktop window from the Windows Toolbar), which is a problem when I'm using a multi-screen set-up on my Desktop and need to remote desktop from a laptop. Of course, this happens when Github Desktop is not on the main screen (in a multi-screen envir

[2018-01-25 15:25] rohitlb opened #3857 "loged in... still couldnt recognise me"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-25 15:29] tierninho commented on #3857
@rohitlb  thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-01-25 15:29] #3857 closed

[2018-01-25 18:06] tooomm opened #3858 "Permission changes are not shown in GitHub Desktop"
### Description

Changes to permissions are shown on the GitHub website, but not in the client:
![file attributes](https://user-images.githubusercontent.com/9874850/35404176-551c2e04-0202-11e8-82c7-bba80701c7a9.png)

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Microsoft Windows [Version 10.0.16299.125]

[2018-01-25 18:09] alexhawke opened #3859 "noticeable delay when viewing working directory diff for .htaccess file"
### Description

When viewing the changes for a .htaccess file, GitHub Desktop states "No local changes", then after a delay of around 5 seconds it shows the .htaccess file changes.

This only occurs for uncommited changes, not historical commits.

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** macOS 10.13.2

### Steps to Reproduce

1. Add .htaccess file to repository and commit

[2018-01-25 19:07] yuhang-lin commented on #2107
Recently I experienced the same problem in Windows 10. Is there any way for the program to detect whether the second monitor is plugged in or not?

[2018-01-26 02:41] markgoho-EDT opened #3860 "husky hooks failing to execute as latest RC depends on /bin/bash"
### Description

Pre-commit/push hooks failing

### Version

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10
### Steps to Reproduce

1. Install Husky (v0.15)
1. Add pre-commit hook
1. Try to commit from Desktop client

**Expected behavior:** Pre-commit hook would run

**Actual behavior:** I get this error message:
![image](https://user-images.githubusercontent.com/33099374/35422669-

[2018-01-26 03:45] Demidov1990 opened #3861 "9999999999999999"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-26 04:44] jcgter777 opened #3862 "Mac version not opening"
Every time I open the app, it gives the error:
"GitHub Desktop.app" is damaged and can't be opened. you should move it to the Trash.

If it helps, I have Mac OSX 10.9.4. I've already redownloaded it multiple times.

[2018-01-26 10:56] aukaurea opened #3863 "Default Project Download location option is not available in the software"
Default Project Download location option is not available in the software.

None of the options shows where to download the  projects as default (directory)

![image](https://user-images.githubusercontent.com/28142889/35436809-0f75f5b6-02ba-11e8-8b58-c3e357aebb73.png)

[2018-01-26 13:23] recp opened #3864 "enhancement: provide search for files in `Changes` tab"
### Description

I have lot of uncommitted files so I can't find files which I want to commit easily. There are lot of uncommitted stuff because I'm testing some feature then committing it, while doing this I'm making some changes on some files for future. Then I'm working on uncommitted stuff but I change another files...

Searching / filtering files in `Changes` tab would make things more comfor

[2018-01-26 14:08] #3861 closed

[2018-01-26 16:00] iAmWillShepherd commented on #3863
You set your clone path during the cloning process. Note the _Local Path_ text input.

![2018-01-26_09-58-21 023](https://user-images.githubusercontent.com/1715082/35448343-a2133cc0-027f-11e8-8047-8f312d280278.png)
![2018-01-26_09-58-56 607](https://user-images.githubusercontent.com/1715082/35448344-a22ce544-027f-11e8-9140-b9d03dc15120.png)
![2018-01-26_09-59-06 281](https://user-images.githubuser

[2018-01-26 16:00] #3863 closed

[2018-01-26 16:09] iAmWillShepherd commented on #3862
Could you attach your log file to this issue please? 🙏

[2018-01-26 16:11] iAmWillShepherd commented on #3860
You should be able to find your logs by clicking `Help -> Show logs in explorer`.

[2018-01-26 16:14] j-f1 commented on #3864
I opened a PR that added a “filter” box to this list in #2046, If the design team would like me to work off of this code to add a filter box to the changes list, I’d be happy to do so.

[2018-01-26 16:17] iAmWillShepherd commented on #3856
Any one on @desktop/core  have a multi-monitor setup to reproduce this on?

[2018-01-26 16:25] iAmWillShepherd commented on #3852
@QzSG yes I am aware after @j-f1 pointed out and we are actually planning on pushing a release _very_ soon.

[2018-01-26 17:03] iAmWillShepherd commented on #3855
Thanks for taking the time to open an issue! 🙇

I've sent you an email with the same instructions in case you have data you want to remain private.

I need to know the state of your database, I have a hunch on what the issue could be, but I’d like confirmation.

To get to your database:

1. Select `View -> Toggle Developer Tools` in the application menu
1. Select the `Application` tab in Chrome De

[2018-01-26 17:07] iAmWillShepherd commented on #2642
Closing now that all work this issue tracked is now complete.

[2018-01-26 17:07] #2642 closed

[2018-01-26 17:27] AmeeRamy commented on #3855
I am an Arab man who does not speak or understand English
Please do not email me anymore
Thank you

________________________________
From: William Shepherd <notifications@github.com>
Sent: Friday, January 26, 2018 9:03 PM
To: desktop/desktop
Cc: Subscribed
Subject: Re: [desktop/desktop] GitHub Desktop names repository incorrectly and opens wrong repository (#3855)

Thanks for taking the time to op

[2018-01-26 17:59] jcgter777 commented on #3862
I managed to fix it. I just had some "too tight" security settings.

[2018-01-26 17:59] #3862 closed

[2018-01-26 19:35] AmeeRamy commented on #3864
I am an Arab man who does not speak or understand English
Please do not email me anymore
Thank you

________________________________
From: Recep Aslantas <notifications@github.com>
Sent: Friday, January 26, 2018 10:23 PM
To: desktop/desktop
Cc: Subscribed
Subject: Re: [desktop/desktop] enhancement: provide search for files in `Changes` tab (#3864)

@j-f1<https://github.com/j-f1> it would be great

[2018-01-26 19:35] AmeeRamy commented on #3862
I am an Arab man who does not speak or understand English
Please do not email me anymore
Thank you

________________________________
From: jcgter777 :P <notifications@github.com>
Sent: Friday, January 26, 2018 9:59 PM
To: desktop/desktop
Cc: Subscribed
Subject: Re: [desktop/desktop] Mac version not opening (#3862)

I managed to fix it. I just had some "too tight" security settings.

—
You are rece

[2018-01-26 20:08] j-f1 commented on #3864
Sorry to bother you, @AmeeRamy. If you go to https://github.com/settings/notifications, you can uncheck all of the “Email” options to avoid getting emails from GitHub.

---

آسف لإزعاجك، @AmeeRamy. إذا ذهبت إلى https://github.com/settings/notifications، يمكنك إلغاء تحديد كل من "Email" خيارات لتجنب الحصول على رسائل البريد الإلكتروني من جيثب.

(ترجمة جوجل المستخدمة، يرجى عذر أي أخطاء)

[2018-01-26 21:42] nerdneha commented on #3852
@QzSG @j-f1
We are not affected by the vulnerability because we followed the mitigation recommended by Electron according to their docs: https://electronjs.org/blog/protocol-handler-fix#mitigation

This mitigation released in 1.0.12 but we will also be pushing a release that bumps our version for electron to 1.7.11 soon.

[2018-01-27 03:27] jasjamjos opened #3867 "DTNB Classifier"
### Description

Create a DTNB classifier on python based on WEKA's DTNB Rule Based Classifier

[2018-01-27 20:02] rithaknh commented on #969
Getting the same error. I am creating a repository with only one small file in it.

[2018-01-27 20:58] j-f1 commented on #969
@rithaknh Could you open a new issue and fill out the template so we can fix it or point you in the right direction?

[2018-01-28 02:32] sylae opened #3870 "Updating chmods is not functional on Windows"
### Description

The desktop app does not seem to support changing file permissions, at least on Windows. No functionality exists in-app for it to happen, and if it's manually set on the command-line via `git update-index --chmod=+x filename`, the change will not be pushed.

### Version

**GitHub Desktop version:** Chocolate-Covered Yaks (3.3.4.0) 50415df

**OS version:** Win7x64 (Microsoft Window

[2018-01-28 03:15] j-f1 commented on #3870
Thanks! It looks like this issue is with the Classic apps, but this repository is for issues with the redesigned GitHub Desktop (see https://desktop.github.com).

[2018-01-28 06:25] shiftkey commented on #3870
@sylae this reminds me of https://github.com/desktop/desktop/issues/557 which might overlap here. I haven't had a chance to test this recently, but if you're interested in helping understand what the new Electron app does in this situation could you try the `git update-index --chmod=+x filename` again with the Electron app and tell me:

 - does the file appear in the list of changes in Desktop?
 -

[2018-01-28 06:34] shiftkey commented on #3860
@markgoho-EDT we've had a couple of run-ins with Husky and pre-commits in the past (see #2518 and #1734) but that error message is new. Are you able to put together a more detailed repro of the issue, so we can ensure we're testing the right behaviour?

[2018-01-28 06:37] shiftkey commented on #3859
@alexhawke can you share some details about your `.htaccess` file, to help with reproducing the issue:

 - What's the size on disk?
 - Are there any long lines that are being changed?

If you can share the file contents that would be great, but even some approximation of the file would help with troubleshooting.

[2018-01-28 06:55] #3867 closed

[2018-01-28 06:56] shiftkey commented on #3858
@tooomm thanks for the feedback. We're tracking this in #557, so please follow along with that issue.

[2018-01-28 06:56] #3858 closed

[2018-01-28 06:56] #3853 closed

[2018-01-28 06:58] shiftkey commented on #3856
@brandongohwh @iAmWillShepherd this feels very similar to #2311, and I think this should be folded up into that.

[2018-01-28 07:09] sylae commented on #3870
Hi, sorry for the confusion! I'm glad I stopped by because this new version looks hella cool :)

So, I did some testing on the new version, and it seems to be having similar issues.

1. Make a new repo, commit a test file.
2. `git update-index --chmod=+x test`
3. "1 changed file" "No content changes found"
![image](https://user-images.githubusercontent.com/2791628/35479842-b17d9cdc-03b5-11e8-93bc-

[2018-01-28 07:13] shiftkey commented on #3870
@sylae can you run `git status --untracked-files=all --branch --porcelain=2` instead of just plain `git status`?  That contains extra information that Desktop uses to render it's list of changes, and I think using `update-index` here (which will stage the change) will cause a problem when we commit (because the app resets the index to craft the commit from scratch).

[2018-01-28 08:16] sylae commented on #3870
@shiftkey Oh, sorry! I've rerun it with that command:

Initial state:
[code]

After running the `update-index`:
[code]

After the failed commit:
[code]

[2018-01-28 10:06] Marlamin commented on #3757
Also having this issue, reboot, reinstall etc. doesn't seem to help. It starts 3 processes and then just does nothing. _Sometimes_ it opens an entirely blank window and then does nothing.

![image](https://user-images.githubusercontent.com/50212/35480997-2c1ea930-041b-11e8-81f4-112f0c8635ec.png)

Logs aren't showing anything useful to my knowledge.

[code]

[2018-01-28 11:45] shiftkey commented on #3814
@iAmWillShepherd @j-f1 the concept of "locking" is only specific to the UI in Desktop - if the commit fails, everything should be "unlocked" in case the user wants to make changes before trying again

[2018-01-28 20:39] geowar1 commented on #2713
I found that if I use a symbolic link instead of a Finder alias everything works as expected:

`term> ln -sf /Volumes/Geo2TB/JMRI/ /Applications/JMRI`

[2018-01-29 04:57] davidcie commented on #2507
Would love to see this option come to life too! I know this is a matter of taste but some of us commit a lot but prefer not to clutter master too much with the entire history of small changes.

[2018-01-29 05:53] kert-io opened #3874 "COLUMN SELECTION"
Really guys, why is this still option.  According to your closed issues, this was solve in august 2017.

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actuall

[2018-01-29 08:13] shiftkey commented on #3874
@kert-io I'm not sure I understand the problem or the past issue you are referring to. Could you provide more information?

[2018-01-29 11:54] LitenUpNet opened #3876 "Two Accounts Committing Improperly"
### Description

Unable to work between two Github accounts. In the following example I own the accounts A
and B. If I login to A during first setup, and then swap to B to commit to a repository, then it will commit to that repository as A. If I sign out completely the same still occurs.

**GitHub Desktop version:** 1.0.12

**OS version:** Windows 10 Pro x64 (Version 10.0.16299.192)

### Steps to

[2018-01-29 13:40] thenninger opened #3877 "Github Desktop window stuck off the screen"
When using a secondary monitor, it's possible that the application window will be "lost" off of the primary screen after disconnecting the secondary while PC is in sleep mode.

**GitHub Desktop version:** 1.0.12

**OS version:** 10.0.16299.192

### Steps to Reproduce

1. Using a secondary monitor, move the Github window to that secondary monitor.
2. Put computer to sleep - in my case close laptop

[2018-01-29 14:59] paulbruneau commented on #1633
I didn't know about this new version until I changed jobs and downloaded the new version last week. The old version said "I'm up to date" all along and never told me it was going to go away so I was living in stupid bliss. (How should I have heard about this new version?)

This week I have been kind of hating the new version because it didn't have the animated branch view that I loved and just tod

[2018-01-29 15:46] ttsanton commented on #3704
Hello,

I believe this issue is happening to me as well. I'm running GitHub Desktop ver. 1.0.12 on Mac OS High Sierra 10.13.2

I committed some changes on a dev branch I created. A few days later, I merged changes from the master onto my dev branch. However, the changes I made before don't show up anymore on the History tab of GitHub Desktop, but I can view the changes on GitHub.com and within my

[2018-01-29 16:06] sajidyar opened #3878 "fatal: unable to access 'https://github.com/': Could not resolve proxy: aproxy"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. connect a VPN
2. Generate a pull request this will occur on that.
3. I tried after disconnecting the VPN then it was happening again and again, this error isn't going in any way.

**Expected behavior:** [What you expected to happen]

**Act

[2018-01-29 16:09] j-f1 commented on #3878
Thanks for reaching out!

We require the template to be filled out when submitting all issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-29 16:12] sajidyar commented on #3878
![image](https://user-images.githubusercontent.com/34439033/35520552-27cf73c2-0539-11e8-8e86-ffddc0ec2702.png)

[2018-01-29 16:35] j-f1 commented on #1633
Have you seen @shiftkey’s [comment](https://github.com/desktop/desktop/issues/1633#issuecomment-357516924) above about why we haven’t brought back magic stashing? Also, check out #1634 for our issue tracking a history graph.

Once we release 1.1, we’re going to add a popup banner in the old app indicating that it’s deprecated and that you should update to this version.

[2018-01-29 17:16] paulbruneau commented on #1633
Hi, thank you, I did see the post with reasons, but those reasons didn’t lessen my desire to keep using something I have found to be so useful over the last several years.

[2018-01-29 19:21] shiftkey commented on #3878
@sajidyar

Could you attach the full log files? The **Help** | **Show Logs in Explorer** menu items should open the logs folder, and inside those are the log files generated by day. This will provide some more information to help troubleshoot.

[2018-01-29 19:36] shiftkey commented on #3876
@LitenUpNet thanks for the report!

There's a distinction in Desktop between authenticating when pushing and pulling repositories (using your GitHub account) and the authoring of commits (which defaults to using configuration values under `~/.gitconfig`), which I'll try and explain now.

When you first launch Desktop, we help you to sign in to your GitHub account, and after that we pre-fill the Gi

[2018-01-29 19:42] shiftkey commented on #1633
@paulbruneau thanks for the feedback

We haven't forgotten this - we're tracking it in #2146.

[2018-01-29 20:21] LitenUpNet commented on #3876
Would you please add it so it does
manage that for me though?

On Mon, Jan 29, 2018 at 2:36 PM Brendan Forster <notifications@github.com>
wrote:

--
*Sean M. Mitchell*
*LitenUp CEO & Founder*
s@litenup.net
267-905-4894

[2018-01-29 20:48] Am1rr3zA commented on #1634
WoW, I got a new mac and install GitHub desktop and see the graph is gone, I don't understand why. I was only using GitHub desktop because of this graph. So now going back to source tree

[2018-01-29 21:42] shiftkey commented on #3802
Closing due to inactivity. @OiYouYeahYou if you can provide some more context on your use case we can discuss this further.

[2018-01-29 21:42] #3802 closed

[2018-01-30 00:34] shiftkey commented on #3876
@LitenUpNet we don't have plans to change this behaviour. My anecdotal feelings on this are, if we were to ignore the configuration file, it could be confusing to users in the opposite way to your situation, who want us to respect their global configuration.

The other idea I had around this is to strike a happy medium and warn users when their configured `user.email` address isn't found in their

[2018-01-30 00:39] #934 closed

[2018-01-30 00:51] MAHFOUZ1718 opened #3880 "https://github.com/MAHFOUZ999/MAHFOUZ.git"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-30 00:51] shiftkey commented on #3880
@MAHFOUZ1718 thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-01-30 00:51] #3880 closed

[2018-01-30 01:13] HitEmUp commented on #2545
Still now news here? Have the crash as well and thougt i can fix this, but its not a bug, its a missing message... Hope they go with the time and upgrade the limit to something usable.

[2018-01-30 02:10] shiftkey commented on #3834
This requires some refactoring of the autocomplete providers, and probably is worth deferring if #3835 addresses the problem well enough.

[2018-01-30 02:24] onebree commented on #1597
Any update on this feature?

[2018-01-30 02:26] gilmae commented on #3825
I'm seeing the same issue as the OP. Actually, I've seen it no matter what shell I opt for - Git Bash, Powershell, or Command Prompt.

Manual check confirms, cmd.exe is in c:\Windows\System32

The exact error message received is

[2018-01-30 02:30] shiftkey commented on #3825
@gilmae thanks for the details. I think the fix for this is to provide the full path when spawning `cmd`.

[2018-01-30 02:39] shiftkey commented on #3825
@gilmae

This is puzzling, because Git Bash and PowerShell don't rely on PATH in the same way.

 - Git Bash should be found in the registry at `HKLM\SOFTWARE\GitForWindows` and looking for the install directory in the `InstallDir` key ([source](https://github.com/desktop/desktop/blob/86edf4c6e1198b19dac474adafe314931097dbdd/app/src/lib/shells/win32.ts#L96-L112))
 - PowerShell should also be found

[2018-01-30 03:29] tzine opened #3881 "Pops up over IntelliJ IDEA everytime I make a change"
Hi, I just have a minor issue that can be a bit annoying over time, was wondering if there is an easy fix I am missing, the application keeps popping over IntelliJ every time I make a change, even if the program is closed.

### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1.

[2018-01-30 03:30] shiftkey commented on #3881
@tzine thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Can you please also share a screenshot of the problem to confirm

[2018-01-30 03:38] shiftkey commented on #3838
Closing this out due to inactivity. @herio5154 let us know if there's anything else we can do to address the problem!

[2018-01-30 03:38] #3838 closed

[2018-01-30 03:41] shiftkey commented on #3839
@brcontainer apologies for the delay in replying

Can you clarify how this is being cloned? Using the regular clone URL? Or doing it via the command line and adding the folder to the repository?

[2018-01-30 03:42] #3823 closed

[2018-01-30 03:49] shiftkey commented on #3825
@gilmae so I looked over the code and we're already handling the lack of a `PATH` for the cmd prompt:

[code]

Can you tell me what the output of this command is in your Command Prompt?

[code]

If this is set to something other than `C:\WINDOWS\system32\cmd.exe` that's probably the root cause here. We should be falling back to the right path if that's not set, maybe we shouldn't be trusting these

[2018-01-30 03:56] shiftkey commented on #3825
@gilmae nevermind, it's still totally a PATH issue. The launch steps are different to how we're resolving the shells on disk, and in some cases we just use `START {command}` (which relies on {command} being found on the PATH).

https://github.com/desktop/desktop/blob/86edf4c6e1198b19dac474adafe314931097dbdd/app/src/lib/shells/win32.ts#L130-L164

In fact `powershell` also suffers from the same defe

[2018-01-30 04:05] brcontainer commented on #3839
@shiftkey clicking in "Clone in Desktop" button:

![Clone in Desktop button](https://user-images.githubusercontent.com/4368952/35547684-a53908f0-0561-11e8-9d11-cf0db18d2b24.png)

- After clone repository close the Github Desktop
- Open Github Desktop again
- Modify any file
- Push a commit
- Click in "Push origin"

[2018-01-30 04:08] adamreisnz commented on #1633
@paulbruneau I've been in exactly the same spot as you, and at first I uninstalled the new version and went back to using the old one as well. But then I came back to it and got used to it, now I wouldn't want to switch back.

I can highly recommend you give it a try for a week or so. It's a lot faster and works more efficiently, in particular switching branches and pushing/pulling is a lot quicke

[2018-01-30 04:09] gilmae opened #3882 "Opening repository in Git Bash results in catastrophic error"
## Description
Unable to open repository in Git Bash from the desktop app. Restarting the app results in the same error every time.

### Version
Version: 1.0.13
OS: Windows 10.0.16299

### Replication Steps
Expected behavior: Opened in Git Bash
Actual behavior: Error on the desktop app
Reproduces how often: 100%

#### Logs
Error: spawn where ENOENT
    at exports._errnoException (util.js:1050:11)

[2018-01-30 05:23] brcontainer commented on #3841
@staceb Isn't configuration from Github Desktop, you using Windows, Git assumes CRLF, but your "text editor" uses LF only.

Or you change your text editor to CRLF or in your "local repository" change to use only LF using Git commands, example:

In Github Desktop select your repository and in menu go to Repository > Open in Command Prompt:

![Repository > Open in Command Prompt](https://user-images

[2018-01-30 08:16] daveb-sentinelda commented on #1128
Any update on this?  I am on the latest version of the Desktop app for Mac and see no way to disable the auto fetch.

[2018-01-30 10:47] staceb commented on #3841
@brcontainer I believe GitHub Desktop will honour whatever settings you have in your `.gitattributes` file.

If there's nothing set for line endings in there, it'll use the settings in your `~/.gitconfig` file.

@shiftkey, please correct me if I'm wrong here!

The fact that `*.svg text eol=lf` worked would say to me there's a line ending conversion happening from `LF` to `CRLF` into the working di

[2018-01-30 11:20] j-f1 commented on #3839
It looks like we’re trying to get information from the API for the wiki, but GitHub’s API doesn’t support wikis. Maybe we should strip of the `.wiki` and use the same information as the parent.

[2018-01-30 11:36] karnavkumar commented on #3617
i just used this `git config --global core.excludesfile ~/.gitignore`
and after that this error occurs `fatal: cannot use /Users/indianic/ as an exclude file`
please help some one what i do to get old  `core.excludesfile` file

[2018-01-30 11:45] brcontainer commented on #3841
@staceb sorry, my bad, the previous message was for Stuarpb (autocomplete fail :P)

[2018-01-30 14:51] staceb commented on #3841
Ha, no worries @brcontainer. Hope it helps anyways 😄

[2018-01-30 15:49] fatcerberus opened #3885 "Commit messages should be wrapped at 72 chars"
In the original GitHub for Windows client, long commit messages would automatically be word-wrapped at 72 characters when committed.  This makes commit logs look nice when viewed on the command line.  GitHub Desktop doesn't appear to wrap such messages at all, simply committing the whole message as one long line.  When viewed on the terminal, long messages like this can be wrapped in the middle of

[2018-01-30 16:02] niik commented on #3885
Hey @fatcerberus, this issue is being tracked in https://github.com/desktop/desktop/issues/62 so please head over there and add your thoughts to the discussion!

[2018-01-30 16:02] #3885 closed

[2018-01-30 16:05] brcontainer commented on #3841
@staceb I tried in .gitattributes

[code]

Work fine :) (cc @stuartpb)

[2018-01-30 16:06] fatcerberus commented on #3885
When I opened this I had a feeling it was something someone would have reported already, but I searched for "word wrap" and turned up no relevant issues.  Turns out I should have searched for "hard wrap" instead.  Go figure. 😄

[2018-01-30 16:18] fatcerberus commented on #62
While I agree with the basic sentiment, I don't think it's common for command-line apps to do any kind of fancy wrapping like this, in fact half the reason to drop to the command line in the first place is to see things exactly as they are (terminal window size constraints aside) without any of the smoke and mirrors of GUIs.  So it would be weird for a command-line app like Git to auto-format thin

[2018-01-30 18:27] tedry commented on #340
With out the shell this is incomplete.. I don't bother using the desktop without it.

[2018-01-30 19:01] niik opened #3887 "Search for user appears in co-author list even though there's an exact mentionable match"
@nerdneha spotted this while we were looking at another issue earlier.

<img width="261" alt="screen shot 2018-01-30 at 10 48 26 am" src="https://user-images.githubusercontent.com/634063/35585149-6bd149d8-05f7-11e8-91e9-8c6845e6ffc2.png">

The first two entries are from the mentionables API and the third one is for adding a handle that hasn't interacted with the user before. The last one should no

[2018-01-30 20:02] j-f1 commented on #340
We now recommend using [Git for Windows](http://gitforwindows.org) to get access to a Git environment on Windows.

[2018-01-30 20:50] LitenUpNet commented on #3876
Sounds cool! I would appreciate it if you had a system in place that would ask on sign in and sign out to change out git config.

[2018-01-30 21:49] shiftkey commented on #3617
@karnavkumar please open a new issue with details about your setup

[2018-01-30 22:45] shiftkey commented on #3876
@LitenUpNet the other example that comes to mind is #610. I'll add a comment about your scenario to that issue, please follow along with that.

[2018-01-30 22:45] #3876 closed

[2018-01-30 22:46] shiftkey commented on #610
#3876 was raised by @LitenUpNet as the user had switched accounts but `user.email` was an email address from the old account, which lead to some confusion. This is a separate flow to the Welcome Wizard, but it'd be nice to have a similar check at that point too.

[2018-01-31 00:40] RacheLev opened #3889 "why am I getting this error?fatal: unable to access 'https://github.com/RacheLev/project-2-personal-page.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - The revocation function was unable to check revocation for the certificate."
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-31 01:16] kenie17 opened #3891 "Add"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-01-31 02:00] shiftkey commented on #3891
@kenie17 thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-01-31 02:00] #3891 closed

[2018-01-31 02:05] shiftkey commented on #3889
@RacheLev the issues you are encountering occurs when using Git on a network that blocks access to the revocation checks when verifying a SSL/TLS connection is secure.

I'm working on getting a fix into Git for Windows here: https://github.com/git-for-windows/git/pull/1450 and once that is fixed we're tracking making this experience more friendly in #3326 to help with applying that fix. Please fol

[2018-01-31 02:05] #3889 closed

[2018-01-31 02:45] shiftkey commented on #3618
I had a look into this, and we're still reliant for this parsing in `git status --branch`. We do this for loading the current remote inside `GitStore`, which then flows through to push/pull operations (maybe we can break this? I'm not sure):

[code]

I'll see if there's a discussion about this elsewhere, otherwise I might brave the Git mailing list and see if they're receptive to applying the same

[2018-01-31 03:31] shiftkey commented on #3673
@vp2177 @j-f1 I've got a fix in for the history view in #3892 but detecting renames in the working directory depends on the blobs being staged in the index, and we've already found some corner cases about this which are mentioned [here](https://github.com/desktop/desktop/blob/master/app/src/lib/git/diff.ts#L160-L186).

At this point we'll display the rename if both files are staged outside Desktop

[2018-01-31 04:09] Anti-Li opened #3893 "commit summary and description not disabled when committing"
I submit a new version. When the Desktop is submiting, I can still write the Summary or Describtion. If I write down sth. new there, the version won't be submited.
I think the Desktop should disabled the Summary and Describtion textbox when the project is submiting.
Use a very slow internet connection or submit a very big changes to reappear this bug.

[2018-01-31 04:27] brandondube opened #3894 "remote with pushurls to different hosts cannot authenticate correctly"
### Description

if I interact with remotes on the cli, everything works properly, e.g.
[code]
The other origin (on github) is already up-to-date, since that far succeeded in the Desktop GUI.

### Version

**GitHub Desktop version:** 1.0.14-beta1

**OS version:** Windows 10

### Steps to Reproduce

1.  clear all git credentials in windows control panel
1.  reboot
1. `git remote set-url origin --pu

[2018-01-31 04:59] emikay commented on #3041
Any updates on supporting Brackets?

[2018-01-31 05:02] shiftkey commented on #3041
@emikay still looking for someone interested in contributing. The [documentation](https://github.com/desktop/desktop/blob/master/docs/technical/editor-integration.md) should contain everything needed to get started.

[2018-01-31 05:05] shiftkey commented on #3894
@brandondube i don't see any errors in the log - as a starting point, can you share what errors you were seeing through the app?

Also, can you attach the output of this command in your repository:

[code]

And as I mentioned over in https://github.com/desktop/desktop/issues/3802#issuecomment-358479365, introducing separate fetch and push remotes has side effects for things that Desktop relies on,

[2018-01-31 05:09] shiftkey commented on #3893
@Anti-Li thanks for the feedback!

This feels similar to #3814, which talked about locking down the changes if a commit takes a while.

Committing doesn't depend on your internet connection, but committing a large number of changes is likely to demonstrate this issue

[2018-01-31 05:10] shiftkey commented on #3893
Marking this as `help-wanted` if someone wants to explore addressing this issue. Happy to share some suggestions and further ideas about how to tackle this.

[2018-01-31 05:16] brandondube commented on #3894
Error in desktop:
![](https://i.imgur.com/yg0XKh1.jpg)

no error in the console, just: `Executing push: git -c credential.helper= push origin master:master --progress (took 3.748s)`
if I do git status on the cli after this error, there are no issues
[code]

excerpt from .git/config:
[code]

git remote
[code]

The creds for both are stored in Windows and the CLI pushes, fetches, etc, without errors

[2018-01-31 05:52] shiftkey commented on #3894
@brandondube thanks for the extra details:

Desktop implements it's own `GIT_ASKPASS` program (which is backed by the Windows credential store) rather than relying on your `credential.manager` configuration setting - my best guess as to what's triggering this error is that it doesn't handle authenticating against Bitbucket on push (or something in that vein), but I haven't had a chance to reproduc

[2018-01-31 05:54] brandondube commented on #3894
Is this because of platform differences?  Can GIT_ASKPASS not just wrap credential.manager on Windows?  That may be an elegant solution.

[2018-01-31 06:07] Haacked opened #3895 "The Co-authors field is not cleared when creating a commit."
When I specify Co-authors and then create a commit, the co-authors field remains populated. But the Summary and Description fields are cleared.

This goes against my expectations. I didn't even notice it and ended up creating multiple commits with the same co-author.

I'd expect that when a commit is created, all the commit fields are cleared including Co-authors.

[2018-01-31 06:11] shiftkey commented on #3895
@Haacked I asked about this last week and got this reply from @niik:

I can empathise with the pain of having to re-add contributors if you're making frequent commits over the course of a session, so I'm fine with that behaviour rather than being over-eager to clear the form.

[2018-01-31 06:13] Haacked commented on #3895
👍

[2018-01-31 06:13] #3895 closed

[2018-01-31 07:48] RacheLev commented on #3889
Thank you! Fixed it. Not getting the error anymore, but for some reason its
not letting me click 'commit to master'.
Why is that?
Thank you!
בתאריך 31 בינו׳ 2018 4:06 לפנה״צ,‏ "Brendan Forster" <
notifications@github.com> כתב:

[2018-01-31 09:13] shiftkey commented on #3889
@RacheLev please open a new issue and fill out the template - the details will help with troubleshooting

[2018-01-31 11:25] StefanoBuccelli opened #3896 "can't launch installer"
Hi, the program works but I can't open a git from Chrome (I'm using Windows 7 Professional, SP1).
Here you can find the log error when I installed it:

2018-01-31 11:41:55> Program: Starting Squirrel Updater: --install .
2018-01-31 11:41:55> Program: Starting install, writing to C:\Users\BuccelliLab\AppData\Local\SquirrelTemp
2018-01-31 11:41:55> Program: About to install to: C:\Users\BuccelliLab\

[2018-01-31 11:37] j-f1 opened #3897 "Co-authors field doesn’t support usernames with a trailing -"
### Description

I can’t @mention users in the Co-Authors field if their name ends with a `-`, ex. `@ArtOfCode-`.

### Version

**GitHub Desktop version:** 1.0.13

**OS version:** 10.13.2 (17C88)

### Steps to Reproduce

1. Click the “Add Co-Authors” button
1. Enter `@ArtOfCode-`

**Expected behavior:** Adds `@ArtOfCode-` as a co-author

**Actual behavior:** The autocomplete box disappears and `@A

[2018-01-31 11:39] jkafkaris commented on #3855
I followed the above step and sent the information, but after the weekend, I reinstalled, deleted local repos and cloned again from online repos and it appeared to fix my issue. Thanks.

[2018-01-31 12:35] air237 opened #3898 "Using different name/email for Enterprise and GitHub.com accounts"
### Description

I use the Desktop for Enterprise and GitHub.com accounts as well.
My Enterprise and GitHub.com account email is different.
I don't want to change this only one property when I contribute for a different account.

I'd like to set different email (and name) in the Git tab of the Preferences window.

### Version

**GitHub Desktop version:** 1.0.13

**OS version:** macOS 10.13.3

[2018-01-31 12:59] helaili opened #3899 "No "Add Co-Authors" button"
### Description

Excited about this new feature I've updated my GitHub Desktop on Mac but I don't have a button to click 😢

![image](https://user-images.githubusercontent.com/2787414/35624050-129a4030-068e-11e8-8264-64754e047489.png)

### Version

**GitHub Desktop version:**  1.0.13

**OS version:** macOS High Sierra

### Steps to Reproduce

1. Launch Desktop
1. Add a local repository with non com

[2018-01-31 13:07] j-f1 commented on #3899
It looks like it’s currently only supported in GitHub repositories right now.

[2018-01-31 13:24] helaili commented on #3899
Thanks @j-f1 you put me on the right path ✨

I wasn't logged in github.com within Desktop. Now I am it's showing up! Not sure if it's a feature or a bug though.

[2018-01-31 13:38] jpgsantos commented on #3125
Hello I have the same problem mentioned her but it only manifests itself when I try to login to an enterprise account, the non enterprise works fine, I've tried using chrome, Mozilla and edge but it always gives the same error.

I have no antivirus installed and both the built in antivirus and firewall from Microsoft are disabled.

GitHub desktop version
1.0.13
Windows 10 version
16299.125
![image

[2018-01-31 14:03] #3899 closed

[2018-01-31 14:05] tierninho commented on #3897
Good catch @j-f1 !

[2018-01-31 14:34] Starystars67 opened #3900 "unable to commit node_modules folder due to MAX_PATH issue"
### Description

System Crash When trying to commit over 6000 files (small files)

### Version & Crash Screen
![image](https://user-images.githubusercontent.com/15389482/35628285-55e405a6-0693-11e8-814e-159889e347de.png)

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step] Unsure im trying to commit my files after i have done some wor

[2018-01-31 16:20] iAmWillShepherd commented on #3900
Are you able to accomplish this commit in the CLI?

Since you're using Node.js, I recommend that you add [this](https://github.com/github/gitignore/blob/master/Node.gitignore) `.gitignore` to your project as a workaround.

Then execute the following commands
1. `git add .gitignore`
1. `git commit -m "add gitignore"`
1. `git rm --cached .`
1. `git add .`
1. `git commit -m "track non-ignored files"`

[2018-01-31 16:22] iAmWillShepherd commented on #3899
@helaili, no this is not a bug. We decided we'd focus on delivering a cohesive experience with GitHub.com to start.

[2018-01-31 16:27] iAmWillShepherd commented on #3125
@jpgsantos could you open a new issue for your problem? After viewing your logs, your inability to login is different from this issue's.

[2018-01-31 16:31] iAmWillShepherd commented on #3896
Thanks for reaching out!

We require the template to be filled out with all new issues. We do this so that
we can be certain we have all the information we need to address your
submission efficiently. This allows the maintainers to spend more time fixing
bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us halfway 😀

[2018-01-31 17:50] jpgsantos opened #3901 "Failure to login in to an GitHub enterprise account"
### Description

Failure to login in to an GitHub enterprise account

### Version

**GitHub Desktop version:** 1.0.13

**OS version:** Microsoft Windows 16299.125

### Steps to Reproduce

1. Open "Options" (File > Options...)
2. Under the "Accounts" tab, in the "Enterprise" section, click on "Sign in"
3. Paste server address (mine is "https://gits-14.sys.kth.se/")
4. The program tells the followin

[2018-01-31 20:15] iAmWillShepherd commented on #3877
Thanks for taking the time to contribute!

We noticed that this is a duplicate of 2107. Please follow that issue
for further updates.

[2018-01-31 20:15] #3877 closed

[2018-01-31 20:34] iAmWillShepherd commented on #3814
Thanks for that clarification, @shiftkey.

[2018-01-31 20:38] iAmWillShepherd commented on #3856
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #2311. Please follow that issue
for further updates.

[2018-01-31 20:38] #3856 closed

[2018-01-31 21:49] #3673 closed

[2018-01-31 23:44] markgoho-EDT commented on #3860
@iAmWillShepherd logs:
[code]

@shiftkey There's not much more to what I did besides install Husky, add the pre-push/pre-commit hooks and then try to commit and push via the Desktop client.

Here are my pre-commit and pre-push files:

pre-push:
[code]

pre-commit:
[code]

[2018-01-31 23:56] iAmWillShepherd opened #3903 "Databases Schema Change"
I've been putting in work trying to understand the underlying data-model the app uses.

So far, I've produced two diagrams of our application's data model.

**Legend**
* `Database` **green**
* `GitHubUserDatabase` **blue**
* `IssuesDatabase` **orange**
* `PullRequestDatabase` **red**
* ~`StatsDatabase`~

_Note that I did not include the `StatsDatabase` in the ER Diagram._

## Current
![github desk

[2018-01-31 23:58] shiftkey commented on #3898
@air237 thanks for the feedback!

The Git preferences window here is for the global Git configuration, so changing this won't address the issue of managing GitHub and GitHub Enterprise repositories which belong to different accounts.

We had a similar discussion to this in #2829, so please add your thoughts to that issue about this problem.

I also mentioned a workaround in #2829 to set your commi

[2018-02-01 00:05] hananurrehman commented on #1214
Use git bash and do your commits & pushes via command line

[2018-02-01 00:13] iAmWillShepherd commented on #3903
Posting questions I asked in slack here for reference.

[2018-02-01 00:14] iAmWillShepherd commented on #3903
Posting response from @shiftkey

[2018-02-01 00:33] shiftkey commented on #3901
@jpgsantos thanks for the report. It looks like we're not calling the right URL when trying to complete the OAuth flow:

[code]

We correctly identify that the API endpoint you used to sign in is at `https://gits-14.sys.kth.se/api/v3` but instead of calling `https://gits-14.sys.kth.se/api/v3/login/oauth/access_token` we call `https://gits-15.sys.kth.se/login/oauth/access_token` - which doesn't see

[2018-02-01 00:51] shiftkey commented on #3901
@jpgsantos I had a chat with our support team, and they're curious why you are using `https://gits-14.sys.kth.se/` to sign in, but the application ends up redirecting to `https://gits-15.sys.kth.se/`.

What happens if you use `https://gits-15.sys.kth.se/` to start the sign in flow? Does that still show the same error? If so, could you attach a fresh log file?

[2018-02-01 01:22] shiftkey commented on #3761
@nbucklin apologies for the delay.

I'm not sure what else this could be, and if you are the only one seeing this then maybe upgrading is the only way out of this.

Let me know if there's anything else we can do to help!

[2018-02-01 01:22] #3761 closed

[2018-02-01 01:27] gastonea commented on #1214
Yeah... You're right... Let's back to the 80's :D

[2018-02-01 01:38] shiftkey commented on #3815
Closing this out due to inactivity. @Hariom98 if you are able to provide details about your issue please update the issue template and we can revisit this.

[2018-02-01 01:38] #3815 closed

[2018-02-01 01:47] failpunk opened #3904 "font awesome"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-02-01 01:58] shiftkey commented on #3904
@failpunk thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-02-01 01:58] #3904 closed

[2018-02-01 02:29] lxdlxd2 opened #3905 "public repository"
### Description

[Description of the issue]

### Version

**GitHub Desktop version:** [version here]

**OS version:** [version here]

### Steps to Reproduce

1. [First step]
1. [Second step]
1. [and so on]

**Expected behavior:** [What you expected to happen]

**Actual behavior:** [What actually happened]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Logs

#### A

[2018-02-01 02:31] failpunk commented on #3904
I’m not even sure how I actually opened that issue, my error. Thanks for closing.

— Justin
On Wed, Jan 31, 2018 at 5:58 PM, Brendan Forster <notifications@github.com> wrote:
Closed #3904 [https://github.com/desktop/desktop/issues/3904] .

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub [https://github.com/desktop/desktop/issues/3904#event-14520

[2018-02-01 02:43] shiftkey commented on #3905
@lxdlxd2 thanks for reaching out!

We require the template to be filled out on all new issues. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2018-02-01 02:43] #3905 closed

[2018-02-01 02:49] shiftkey commented on #3839
@brcontainer thanks for the extra details. I was able to reproduce this.

I think there's two different problems here:

 - detecting it is a GitHub repository and not displaying the "Publish" dialog. We should fix this sooner rather than later because we should be able to identify a GitHub or GitHub Enterprise wiki using your configured accounts.

 - when refreshing the repository, making sure it

[2018-02-01 02:51] shiftkey commented on #3831
@lukasc-ubc @j-f1 @iAmWillShepherd

This is interesting, but as it's a specific to a certain hardware setup we're not planning to put this on the roadmap as-is. If someone is interested in experimenting with this, a proof-of-concept would be great to use as a starting point to understand more about this feature.

What I'd like to see from an external contributor:

1. Choose a feature that seems us

[2018-02-01 03:01] shiftkey commented on #3798
@fluffy-critter thanks for the log file, and apologies for the delay in replying.

Looking at the recent errors, I suspect this is related to the repository using SSH remotes, which we don't have first-class support for in Desktop. This is being tracked in #2579, so please follow along with that issue.

Looking at the fetch error that gets repeated:

[code]

For SSH remotes, Git will delegate to a

[2018-02-01 03:29] shiftkey commented on #3860
@markgoho-EDT

I think the version of Husky here would have helped, which is thankfully embedded in the hook scripts.

Here's a working `package.json` file for Husky:

[code]

And here's one that doesn't:

[code]

I'm not sure why you're on the RC version of Husky here, but it looks like they've decided to force everyone to use `#!/bin/bash` to execute bash scripts. The version of Git we use in De

[2018-02-01 03:31] fluffy-critter commented on #3798
Based on the auth errors the very first thing I tried having my associate do was those two steps, generating a new key and adding it to the github account. Also he was able to access other repositories just fine using an ssh remote and the very same existing keys he was using before.

Is it possible that the client was attempting to connect to a malformed URL (with a space still in it) and the ssh

[2018-02-01 03:34] fluffy-critter commented on #3798
Oh and another thing to mention: he had created the repo *from GitHub Desktop*, with a space in the name. It got mangled to not having a space server-side. Then he was unable to actually push to the very repo he had just created.

[2018-02-01 04:04] shiftkey commented on #3798
The `git@github.com: Permission denied (publickey).` error suggests that the server and client got some way through the handshaking process, so I'm pretty sure the URL for the remote is valid. Adding the output of `git remote -vv` to this issue should confirm it.

I'm puzzled about this one for a couple of reasons:

 - the new repository dialog should swap in spaces for dashes, like the GitHub web

[2018-02-01 04:10] fluffy-critter commented on #3798
Okay, hopefully if this happens again I can get more detailed/sensical information. Unfortunately, as I said, he's a git novice, and also treats it as voodoo. I'm not sure I can even trust the order of events he shared, and I don't know if he even remembers exactly what he did.

If this does occur again I'll try having him use https instead of ssh. Or next time I'm at his workspace I'll see if I c